Repository new-frontiers-14/frontier-station-14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Chief-Engineer, @moonheart08, @DrSmugleaf, @EmoGarbage404, @Emisse, @ElectroJr, @ficcialfaint, @PJB3005, @Partmedia, @Jezithyr

Role whitelists (#191)
  Content.Client/Nyanotrasen/Players/PlayTimeTracking/JobRequirementsManager.Whitelist.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/Nyanotrasen/Players/PlayTimeTracking/PlayTimeTrackingManager.Whitelist.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Server/Whitelist/WhitelistCommands.cs
  Content.Shared/DeltaV/Roles/JobRequirements.Whitelist.cs
  Content.Shared/Nyanotrasen/Players/PlayTimeTracking/MsgWhitelist.cs
  Content.Shared/Players/PlayerData.cs
  Content.Shared/Roles/JobRequirements.cs
  Resources/Locale/en-US/players/play-time/whitelist.ftl
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Owners: @moonheart08, @EmoGarbage404

Make the proper job whitelisted
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Owners: none

Vulps
  Resources/Prototypes/DeltaV/Body/Organs/vulpkanin.yml
  Resources/Prototypes/DeltaV/Body/Parts/vulpkanin.yml
  Resources/Prototypes/DeltaV/Damage/modifier_sets.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
Owners: none

Vulpkanins
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
Owners: none

Reptilians
  Resources/Prototypes/Body/Organs/reptilian.yml
  Resources/Prototypes/Chemistry/metabolizer_types.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Reagents/gases.yml
Owners: @DrSmugleaf

courthouse grid
  Resources/Maps/courthouse.yml
Owners: none

assigned name
  Resources/Maps/courthouse.yml
Owners: none

Drones, Sprites, Spawners oh my!
  Resources/Prototypes/_NF/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/arcadiaindustries.yml
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-blasters.rsi/alive.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-blasters.rsi/dead.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-blasters.rsi/icon.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-blasters.rsi/meta.json
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-guardians.rsi/alive.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-guardians.rsi/dead.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-guardians.rsi/icon.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-guardians.rsi/meta.json
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-shredder.rsi/alive.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-shredder.rsi/dead.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-shredder.rsi/icon.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-shredder.rsi/meta.json
Owners: none

prowler alterations
  Resources/Maps/Shuttles/prowler.yml
  Resources/Prototypes/_NF/Shipyard/prowler.yml
Owners: none

Create verb-system.ftl
  Resources/Locale/en-US/_NF/verbs/verb-system.ftl
Owners: none

fix the license
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-blasters.rsi/meta.json
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-guardians.rsi/meta.json
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-shredder.rsi/meta.json
Owners: none

Update base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Owners: none

Update base_clothingouter.yml (#447)
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Owners: none

Create verb-system.ftl (#446)
  Resources/Locale/en-US/_NF/verbs/verb-system.ftl
Owners: none

prowler alterations (#445)
  Resources/Maps/Shuttles/prowler.yml
  Resources/Prototypes/_NF/Shipyard/prowler.yml
Owners: none

Automatic Changelog (#445)
  Resources/Changelog/Changelog.yml
Owners: none

Arcadia Industries Hostiles (#444)
  Resources/Prototypes/_NF/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/arcadiaindustries.yml
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-blasters.rsi/alive.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-blasters.rsi/dead.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-blasters.rsi/icon.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-blasters.rsi/meta.json
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-guardians.rsi/alive.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-guardians.rsi/dead.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-guardians.rsi/icon.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-guardians.rsi/meta.json
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-shredder.rsi/alive.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-shredder.rsi/dead.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-shredder.rsi/icon.png
  Resources/Textures/_NF/Mobs/ArcadiaIndustries/arcind-shredder.rsi/meta.json
Owners: none

Automatic Changelog (#444)
  Resources/Changelog/Changelog.yml
Owners: none

Space Artillery power foundation
  Content.Server/SpaceArtillery/SpaceArtilleryComponent.cs
  Content.Server/SpaceArtillery/SpaceArtillerySystem.cs
  Resources/Prototypes/Entities/Structures/SpaceArtillery/space_artillery.yml
Owners: none

Courthouse Introduction (#443)
  Resources/Maps/courthouse.yml
Owners: none

Automatic Changelog (#443)
  Resources/Changelog/Changelog.yml
Owners: none

hospitaller and templar (#437)
  Resources/Maps/Shuttles/hospitaller.yml
  Resources/Maps/Shuttles/templar.yml
  Resources/Prototypes/_NF/Shipyard/hospitaller.yml
  Resources/Prototypes/_NF/Shipyard/templar.yml
Owners: none

Automatic Changelog (#437)
  Resources/Changelog/Changelog.yml
Owners: none

Anomaly locator (#432)
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
Owners: none

Automatic Changelog (#432)
  Resources/Changelog/Changelog.yml
Owners: none

SV-Nugget kitchen shuttle (#417)
  Resources/Maps/Shuttles/svnugget.yml
  Resources/Prototypes/_NF/Shipyard/svnugget.yml
  Resources/Prototypes/_NF/Shipyard/svorange.yml
Owners: none

Tracking Implants for security and SR on spawn. (#431)
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Nyano/Roles/Jobs/Security/prisonguard.yml
Owners: none

Update ore_bag.yml (#430)
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
Owners: none

Update cart.yml (#429)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
Owners: none

Remove Rosebud NSFD Keys (#424)
  Resources/Maps/Shuttles/rosebudmki.yml
  Resources/Maps/Shuttles/rosebudmkii.yml
Owners: none

Update dogs.yml (#433)
  Resources/Prototypes/_Nyano/Entities/Mobs/NPCs/dogs.yml
Owners: none

Automatic Changelog (#431)
  Resources/Changelog/Changelog.yml
Owners: none

Circuitboards (#412)
  Resources/Prototypes/Catalog/Cargo/cargo_circuitboards.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/circuitvend.yml
Owners: none

Hop, cap
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Owners: none

SilentClippy
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/InventoryTemplates/clippy_inventory_template.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/misc_startinggear.yml
Owners: none

RTG ify
  Resources/Maps/caseyscasino.yml
Owners: none

remove erroneous prototype file
  Resources/Prototypes/Maps/caseyscasino.yml
Owners: @Emisse

Clippy (#448)
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_circuitboards.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_NF/Datasets/Names/cat_clippy.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/InventoryTemplates/clippy_inventory_template.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/Clothing/Ears/Headsets/service.rsi/equipped-EARS-cat.png
  Resources/Textures/Clothing/Ears/Headsets/service.rsi/meta.json
Owners: none

Crazy Casey's Recasino (#439)
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Maps/caseyscasino.yml
Owners: none

Automatic Changelog (#439)
  Resources/Changelog/Changelog.yml
Owners: none

.github/CODEOWNERS:

# Last match in file takes precedence.

# Sorting by path instead of by who added it one day :(
# this isn't how codeowners rules work pls read the first comment instead of trying to force a sorting order
/Resources/ConfigPresets/WizardsDen/  @Chief-Engineer

# Moony's Gargantuan List Of Things She Cares About, or MGLOTSCA for short.
# You need to add your name to these entries, not make a new one, if you care about them.
/Content.*/Toolshed/ @moonheart08
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
/Content.*/Administration/ @moonheart08 @DrSmugleaf @Chief-Engineer
/Content.*/Station/ @moonheart08
/Content.*/Maps/ @moonheart08
/Content.*/GameTicking/ @moonheart08 @EmoGarbage404
/Resources/ServerInfo/ @moonheart08 @Chief-Engineer
/Resources/ServerInfo/Guidebook/ @moonheart08 @EmoGarbage404
/Resources/engineCommandPerms.yml @moonheart08 @Chief-Engineer
/Resources/clientCommandPerms.yml @moonheart08 @Chief-Engineer

/Resources/Prototypes/Maps/ @Emisse

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf

/Content.*/Verbs/ @ElectroJr
/Content.Client/ContextMenu/ @ElectroJr
/Content.Shared/Damage/ @ElectroJr @DrSmugleaf
/Content.Shared/Containers/ItemSlot/ @ElectroJr
/Content.*/PowerCell/ @ElectroJr
/Content.*/Doors/ @ElectroJr
/Content.*/Interaction/ @ElectroJr
/Content.*/Hands/ @ElectroJr
/Content.*/Actions/ @ElectroJr
/Content.*/Explosion/ @ElectroJr

/Content.*/Anomaly/ @EmoGarbage404
/Content.*/Lathe/ @EmoGarbage404
/Content.*/Materials/ @EmoGarbage404
/Content.*/Mech/ @EmoGarbage404
/Content.*/Research/ @EmoGarbage404
/Content.*/Stack/ @EmoGarbage404
/Content.*/Xenoarchaeology/ @EmoGarbage404
/Content.*/Zombies/ @EmoGarbage404
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @EmoGarbage404
/Resources/Prototypes/Research/ @EmoGarbage404

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @Chief-Engineer
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005

# notafet
/Content.*/Atmos/ @Partmedia
/Content.*/Botany/ @Partmedia

#Jezi
/Content.*/Medical @Jezithyr
/Content.*/Body @Jezithyr
