Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

fix yaml
  Resources/Prototypes/_NF/SectorServices/cargo_market.yml
Labels: none

Skip crate machines that are busy
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
Labels: C#

really fix yaml
  Resources/Prototypes/_NF/SectorServices/cargo_market.yml
Labels: none

QoL changes and cart bugfix
  Content.Server/_NF/Market/Components/MarketConsoleComponent.cs
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Content.Server/_NF/Market/Systems/MarketSystem.cs
  Resources/Locale/en-US/_NF/market/market-console-component.ftl
Labels: C#, FTL

Only close hatch when crate was taken
  Content.Client/_NF/Market/Systems/SharedMarketSystem.CrateMachine.cs
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
  Content.Shared/_NF/Market/Components/CrateMachineComponent.cs
Labels: C#

CargoVend: move marketdata to grid
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/_NF/Contraband/Systems/ContrabandSystem.cs
  Content.Server/_NF/Market/Components/CargoMarketDataComponent.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Resources/Maps/_NF/POI/cargodepot.yml
Labels: Map-POI, C#

Fix up remaining cargo market data grid refs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
Labels: C#

Remove SectorServices/cargo_market.yml
  Resources/Prototypes/_NF/SectorServices/cargo_market.yml
Labels: none

tabletop computers and mapped
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
Labels: Map-POI

Fix sprite layer
  Resources/Prototypes/_NF/Entities/Structures/Machines/crate_machine.yml
Labels: none

cargo catalog cleanup
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: none

le fix (#1785)
  Resources/Maps/_NF/POI/lodge.yml
Labels: Map-POI

Automatic Changelog (#1785)
  Resources/Changelog/Changelog.yml
Labels: none

Removed whitelists from belts (#1773)
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
Labels: none

Automatic Changelog (#1773)
  Resources/Changelog/Changelog.yml
Labels: none

Frontier Market / Trading console v0.1 (#1765)
  Content.Client/_NF/Market/BUI/MarketConsoleBoundUserInterface.cs
  Content.Client/_NF/Market/Systems/SharedMarketSystem.CrateMachine.cs
  Content.Client/_NF/Market/UI/MarketCartProductRow.xaml
  Content.Client/_NF/Market/UI/MarketCartProductRow.xaml.cs
  Content.Client/_NF/Market/UI/MarketMenu.xaml
  Content.Client/_NF/Market/UI/MarketMenu.xaml.cs
  Content.Client/_NF/Market/UI/MarketProductRow.xaml
  Content.Client/_NF/Market/UI/MarketProductRow.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/_NF/Contraband/Systems/ContrabandSystem.cs
  Content.Server/_NF/Market/Components/CargoMarketDataComponent.cs
  Content.Server/_NF/Market/Components/MarketConsoleComponent.cs
  Content.Server/_NF/Market/Extensions/MarketDataExtensions.cs
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Content.Server/_NF/Market/Systems/MarketSystem.cs
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
  Content.Shared/_NF/Market/BUI/MarketConsoleInterfaceState.cs
  Content.Shared/_NF/Market/Components/CrateMachineComponent.cs
  Content.Shared/_NF/Market/Events/CrateMachinePurchaseMessage.cs
  Content.Shared/_NF/Market/Events/MarketConsoleCartMessage.cs
  Content.Shared/_NF/Market/MarketData.cs
  Content.Shared/_NF/Market/SharedMarketSystem.cs
  Content.Shared/_NF/SectorServices/Prototypes/SectorServicePrototypes.cs
  Content.Shared/_NF/Whitelist/EntProtoIdWhitelistSystem.cs
  Resources/Locale/en-US/_NF/market/market-console-component.ftl
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/crate_machine.yml
  Resources/Textures/_NF/Structures/Machines/crate_machine.rsi/background.png
  Resources/Textures/_NF/Structures/Machines/crate_machine.rsi/closed.png
  Resources/Textures/_NF/Structures/Machines/crate_machine.rsi/closing.png
  Resources/Textures/_NF/Structures/Machines/crate_machine.rsi/crate.png
  Resources/Textures/_NF/Structures/Machines/crate_machine.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/crate_machine.rsi/open.png
  Resources/Textures/_NF/Structures/Machines/crate_machine.rsi/opening.png
Labels: Map-POI, Sprites, UI, C#, FTL

Automatic Changelog (#1765)
  Resources/Changelog/Changelog.yml
Labels: none

Ceres (tiny fix): Passive vent into space, not scrubber (#1764)
  Resources/Maps/_NF/Shuttles/ceres.yml
Labels: Map-Shuttle

Automatic Changelog (#1764)
  Resources/Changelog/Changelog.yml
Labels: none

Update sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Command/sr.yml
Labels: none

Napkin Stamp issue
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/napkin.png
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/napkin_words.png
Labels: Sprites

Adds SR Shipyard Console to Frontier Outpost (#1725)
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
Labels: Map-Outpost, Map-Shuttle

Automatic Changelog (#1725)
  Resources/Changelog/Changelog.yml
Labels: none

Allow reapplying approved and denied stamps (#1695)
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/Paper/StampComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Command/sr.yml
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/napkin.png
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/napkin_words.png
Labels: Sprites, UI, C#

Automatic Changelog (#1695)
  Resources/Changelog/Changelog.yml
Labels: none

Update eagle.yml
  Resources/Maps/_NF/Shuttles/eagle.yml
Labels: Map-Shuttle

LVHI branding for some shuttles (#1781)
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Maps/_NF/Shuttles/Expedition/gasbender.yml
  Resources/Maps/_NF/Shuttles/harbormaster.yml
  Resources/Maps/_NF/Shuttles/kilderkin.yml
  Resources/Maps/_NF/Shuttles/lantern.yml
  Resources/Maps/_NF/Shuttles/legman.yml
  Resources/Maps/_NF/Shuttles/liquidator.yml
  Resources/Maps/_NF/Shuttles/pioneer.yml
  Resources/Maps/_NF/Shuttles/searchlight.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/posters.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/contraband.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/brigand.yml
  Resources/Prototypes/_NF/Shipyard/harbormaster.yml
  Resources/Prototypes/_NF/Shipyard/kilderkin.yml
  Resources/Prototypes/_NF/Shipyard/lantern.yml
  Resources/Prototypes/_NF/Shipyard/legman.yml
  Resources/Prototypes/_NF/Shipyard/liquidator.yml
  Resources/Prototypes/_NF/Shipyard/pioneer.yml
  Resources/Prototypes/_NF/Shipyard/searchlight.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Brigand.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Gasbender.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Harbormaster.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Kilderkin.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Lantern.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Legman.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Liquidator.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Pioneer.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Searchlight.xml
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster1_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster2_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster3_contraband.png
Labels: Map-Shuttle, Sprites, Docs

Automatic Changelog (#1781)
  Resources/Changelog/Changelog.yml
Labels: none

upd
  Resources/Maps/_NF/Shuttles/searchlight.yml
  Resources/Prototypes/_NF/Shipyard/searchlight.yml
Labels: Map-Shuttle

upd
  Resources/Prototypes/_NF/Shipyard/searchlight.yml
Labels: Map-Shuttle

Revert "Adds SR Shipyard Console to Frontier Outpost (#1725)"
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
Labels: Map-Outpost, Map-Shuttle

Revert "Adds SR Shipyard Console to Frontier Outpost (#1725)" (#1791)
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
Labels: Map-Outpost, Map-Shuttle

Add the SR shipyard console to Frontier Outpost
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Map-Outpost

bottleneck: add SR access
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
Labels: Map-Shuttle

Fix 3
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/tinnia.yml
Labels: Map-Outpost, Map-POI

Conflicts
  Resources/Maps/_NF/Shuttles/eagle.yml
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Maps/_NF/Shuttles/mcdelivery.yml
Labels: Map-Shuttle

Update frontier.yml
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Map-Outpost

Fix two minor POI bugs (Tinnia's, Trade)
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/POI/trade.yml
Labels: Map-POI

Food
  Resources/Maps/_NF/Shuttles/hauler.yml
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/boxes.yml
Labels: Map-Shuttle

Update crescent.yml
  Resources/Maps/_NF/Shuttles/crescent.yml
Labels: Map-Shuttle

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
