Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

eh
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: none

jerry can, plasma, uranium pricing
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
Labels: none

Fix the dev_map
  Resources/Maps/Test/dev_map.yml
Labels: none

POI vendor variants
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/tankdispenser.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/vendomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/astrovend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/lesslethalvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/tankdispenser.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/vendomat.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/youtool.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: Map-Outpost, Map-POI

CMO Turtleneck Added to Loadout
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: none

you know what YOLO
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/brassknuckles.yml
  Resources/Textures/_NF/Objects/Weapons/Melee/brassknuckles.rsi/equipped-HAND.png
  Resources/Textures/_NF/Objects/Weapons/Melee/brassknuckles.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Melee/brassknuckles.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/brassknuckles.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Melee/brassknuckles.rsi/meta.json
Labels: Sprites

rsi change,
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/brassknuckles.yml
  Resources/Textures/_NF/Objects/Weapons/Melee/brassknuckles.rsi/equipped-HAND.png
  Resources/Textures/_NF/Objects/Weapons/Melee/brassknuckles.rsi/icon.png
Labels: Sprites

SharedPricingSystem (gross), no fuel vendPrice
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Client/VendingMachines/VendingMachineBoundUserInterface.cs
  Content.Shared/_NF/Cargo/SharedPricingSystem.cs
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Power/antimatter_jar.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: UI, C#

moving recipes to categories
  Resources/Locale/en-US/_NF/research/technologies.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/armor.yml
  Resources/Prototypes/_NF/Recipes/Lathes/clothes.yml
  Resources/Prototypes/_NF/Recipes/Lathes/eva.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
  Resources/Prototypes/_NF/Research/arsenal.yml
  Resources/Prototypes/_NF/Research/experimental.yml
Labels: FTL

ammo fab flatpack to exped loot
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
Labels: none

explosion resistance to explosives case
  Resources/Prototypes/_NF/Entities/Objects/Storage/weapon_cases.yml
Labels: none

fix maybe
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: none

hyper power cell
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
Labels: none

fix
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: none

ugh
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: none

marauder_update
  Resources/Maps/_NF/Shuttles/Nfsd/marauder.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/marauder.yml
Labels: Map-Shuttle

CMO Turtleneck Added to Loadout (#1867)
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: none

Automatic Changelog (#1867)
  Resources/Changelog/Changelog.yml
Labels: none

Revert FuelVend pricing (addressed separately)
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Client/VendingMachines/VendingMachineBoundUserInterface.cs
  Content.Shared/_NF/Cargo/SharedPricingSystem.cs
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Power/antimatter_jar.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: UI, C#

implanter, doctor's folder, injector prices
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_medical.yml
Labels: none

cartas ao dividir podem ser dropadas + ftl
  Content.Shared/_EstacaoPirata/Cards/Deck/CardDeckSystem.cs
  Resources/Locale/pt-BR/estacao-pirata/cards/cards.ftl
Labels: C#, FTL

Cleanup pass
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Resources/Maps/_NF/Shuttles/Scrap/bison.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_NF/Structures/Machines/VendingMachines/wallcivimed.rsi/meta.json
Labels: Map-Shuttle, Sprites, UI, C#

Restore ammo crate spawn, jerry can price
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
Labels: none

Medidrobe change
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
Labels: none

IntercomStarting PR
  Content.Server/_NF/RadioEntity/Components/ShuttleIntercomComponent.cs
  Content.Server/_NF/RadioEntity/Systems/ShuttleIntercomSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
Labels: C#

Cleanup
  Content.Server/_NF/RadioEntity/Systems/ShuttleIntercomSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: C#

Update ShuttleIntercomSystem.cs
  Content.Server/_NF/RadioEntity/Systems/ShuttleIntercomSystem.cs
Labels: C#

Fixup
  Content.Server/_NF/RadioEntity/Systems/ShuttleIntercomSystem.cs
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
Labels: C#

Update Resources/Locale/en-US/_NF/research/technologies.ftl
  Resources/Locale/en-US/_NF/research/technologies.ftl
Labels: FTL

Update Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
Labels: none

Verb
  Content.Server/_NF/RadioEntity/Systems/ShuttleIntercomSystem.cs
  Resources/Locale/en-US/_NF/radio/components/intercom.ftl
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
Labels: C#, FTL

Comments
  Content.Server/_NF/RadioEntity/Components/ShuttleIntercomComponent.cs
  Content.Server/_NF/RadioEntity/Systems/ShuttleIntercomSystem.cs
Labels: C#

little card fixes
  Content.Shared/_EstacaoPirata/Cards/Stack/CardStackSystem.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/cards.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/trinkets.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: C#

parenting, turned off hypercap powercell recipe
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_NF/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_NF/Entities/Structures/Holographic/graffiti.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: none

Fix visual issue
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Shared/Radio/Components/IntercomComponent.cs
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
Labels: C#

Update intercom.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
Labels: none

Louder intercoms, overriding name/sender in event
  Content.Server/Radio/Components/RadioSpeakerComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/_NF/RadioEntity/Components/ShuttleIntercomComponent.cs
  Content.Server/_NF/RadioEntity/RadioEvent.cs
  Content.Server/_NF/RadioEntity/Systems/ShuttleIntercomSystem.cs
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
Labels: C#

Intercom->Open Intercom
  Resources/Locale/en-US/_NF/radio/components/intercom.ftl
Labels: FTL

Remove Log.Error
  Content.Server/_NF/RadioEntity/Systems/ShuttleIntercomSystem.cs
Labels: C#

Update intercom.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
Labels: none
