Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

Holopickaxe
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_explorers.yml
  Resources/Prototypes/_NF/Entities/Clothing/Hands/gloves_mob_hostile_npcs.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/e_pickaxe.yml
  Resources/Prototypes/_NF/Roles/Jobs/Hostile/explorers.yml
  Resources/ServerInfo/_NF/Guidebook/MobsHostileExpedition/explorers.xml
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/e-pickaxe-blade.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/e-pickaxe.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/inhand-left-blade.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/inhand-right-blade.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/meta.json
Labels: Sprites, Docs

Green pirate bomb rework, parenting, NO WIRES
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Throwable/pirate_bombs.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Throwable/pirate_caustic.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Throwable/pirate_explosive.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Throwable/pirate_fire.yml
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_caustic.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_caustic.rsi/wires.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_explosive.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_explosive.rsi/wires.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_fire.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_fire.rsi/wires.png
Labels: Sprites

Working fire bombs
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Throwable/pirate_bombs.yml
Labels: none

lowered the damage on boss
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
  Resources/ServerInfo/_NF/Guidebook/MobsHostileExpedition/explorers.xml
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/equipped-SUITSTORAGE.png
Labels: Sprites, Docs

Anchor description, larger sprite, grenade descs
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_NF/Catalog/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/pirate_anchor.yml
Labels: FTL

removed
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_shuttle_guns.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/guns.yml
Labels: none

sprites, explicit reflect chance
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/e_pickaxe.yml
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/equipped-SUITSTORAGE.png
Labels: Sprites

lower deflect
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/e_pickaxe.yml
Labels: none

lowered deflect chance even more
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/e_pickaxe.yml
Labels: none

fixes
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/e_pickaxe.yml
  Resources/ServerInfo/_NF/Guidebook/MobsHostileExpedition/explorers.xml
Labels: Docs

rename pirate bombs
  Resources/Prototypes/_NF/Catalog/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Throwable/pirate_bombs.yml
Labels: none

Fixes
  Resources/Prototypes/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/_NF/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
Labels: none

Handheld Radio Frequencies (#1833)
  Content.Client/_NC/Radio/UI/HandheldRadioBoundUserInterface.cs
  Content.Client/_NC/Radio/UI/HandheldRadioMenu.xaml
  Content.Client/_NC/Radio/UI/HandheldRadioMenu.xaml.cs
  Content.Server/Radio/Components/RadioMicrophoneComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/RadioChannelPrototype.cs
  Content.Shared/_NC/Radio/SharedHandheldRadio.cs
  Resources/Locale/en-US/radio/components/handheld-radio-component.ftl
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/repdrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/randomitems.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/astrovend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_supply.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/tools.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
  Resources/Prototypes/radio_channels.yml
  Resources/Textures/_NF/Objects/Devices/communication.rsi/base.png
  Resources/Textures/_NF/Objects/Devices/communication.rsi/broadcasting.png
  Resources/Textures/_NF/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/communication.rsi/speaker.png
  Resources/Textures/_NF/Objects/Devices/communication.rsi/walkietalkie-inhand-left.png
  Resources/Textures/_NF/Objects/Devices/communication.rsi/walkietalkie-inhand-right.png
  Resources/migration.yml
Labels: Sprites, UI, C#, FTL

Automatic Changelog (#1833)
  Resources/Changelog/Changelog.yml
Labels: none

Fixes
  Resources/Locale/ru-RU/_NF/lathe/lathe-categories.ftl
Labels: FTL

Fixes
  Resources/Locale/ru-RU/_NF/lathe/lathe-categories.ftl
Labels: FTL

FixesLinter
  Resources/Locale/ru-RU/ghost/roles/ghost-role-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/backpacks/duffelbag.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/computers/computers.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/lathe.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/storage/crates/crates.ftl
Labels: FTL

OutpostFixes
  Resources/Maps/Corvax/Outpost/corvaxFrontier.yml
Labels: none

Localisation
  Resources/Locale/ru-RU/radio/components/handheld-radio-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/devices/radio.ftl
Labels: FTL

enable garbage collection on base debris
  Resources/Prototypes/_NF/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/_NF/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/_NF/Entities/World/Debris/wrecks.yml
Labels: none

Metyolka protocol
  Resources/Prototypes/_NF/Shipyard/Sr/broom.yml
Labels: Map-Shuttle

enable garbage collection on base debris (#1884)
  Resources/Prototypes/_NF/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/_NF/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/_NF/Entities/World/Debris/wrecks.yml
Labels: none

Automatic Changelog (#1884)
  Resources/Changelog/Changelog.yml
Labels: none

Откат фронтира
  Content.Shared/CCVar/CCVars.cs
Labels: C#

mail sector service, log only first failure
  Content.Server/DeltaV/Cargo/Components/StationLogisticStatsDatabaseComponent.cs
  Content.Server/DeltaV/Cargo/Systems/LogisticStatsSystem.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/MailMetricsCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/MailMetricsCartridgeSystem.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Resources/Prototypes/Nyanotrasen/Entities/Stations/mail.yml
  Resources/Prototypes/_NF/SectorServices/services.yml
Labels: C#

MailSystem: missed damaged check
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
Labels: C#

Update mail.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/mail.yml
Labels: none

Update pda.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: none

Небольшой фикс для Ската (#20)
  Resources/Maps/Corvax/POI/charlie.yml
  Resources/Maps/Corvax/Shuttles/Nfsd/bigskat.yml
Labels: none

Frontier: better(?) comments on MailMetrics chngs
  Content.Server/DeltaV/Cargo/Components/SectorLogisticStatsDatabaseComponent.cs
  Content.Server/DeltaV/Cargo/Systems/LogisticStatsSystem.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/MailMetricsCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/MailMetricsCartridgeSystem.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
Labels: C#

Mail Metrics: access from anywhere, consistent error tracking. (#1885)
  Content.Server/DeltaV/Cargo/Components/SectorLogisticStatsDatabaseComponent.cs
  Content.Server/DeltaV/Cargo/Systems/LogisticStatsSystem.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/MailMetricsCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/MailMetricsCartridgeSystem.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Stations/mail.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/mail.yml
  Resources/Prototypes/_NF/SectorServices/services.yml
Labels: C#

Align dungeon with largest grid (#1879)
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
Labels: C#

Murky windows color tint, dungeon config tweaks (#1864)
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/mineshaft.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/spaceplatform.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/grille.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/windoor.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/windows.yml
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
Labels: Map-Dungeon

Automatic Changelog (#1864)
  Resources/Changelog/Changelog.yml
Labels: none

constructible staff altars and forge
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Wizard/wizard_staffs.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/Wizards/staff_charger.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/bloodcult.yml
  Resources/Textures/_NF/Objects/Specific/Wizard/scrolls.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Wizard/scrolls.rsi/spell_default.png
Labels: Sprites

Moth food now edible by mortals
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/moth.yml
Labels: none
