Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

fixed some errors
  Resources/Prototypes/_NF/Entities/Clothing/Head/headwear_syndicate.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_hostile_syndicate_voidsmen.yml
Labels: none

Missing food qualities, restore special digestion
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Body/Organs/reptilian.yml
  Resources/Prototypes/DeltaV/Body/Organs/vulpkanin.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Misc/spaceshroom.yml
  Resources/Prototypes/Nyanotrasen/Body/Prototypes/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/spoiled.yml
Labels: none

initial commit
  Resources/Maps/_NF/POI/lodge.yml
Labels: Map-POI

StartingGear: remove components from suitstorage
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/mail_capsule.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
Labels: none

Update prison.yml
  Resources/Prototypes/_NF/Maps/POI/prison.yml
Labels: none

Sheriff: reorder starting gear items by size
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
Labels: none

ERT: remove comment
  Resources/Prototypes/_NF/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: none

Remove ERT comment
  Resources/Prototypes/_NF/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: none

Changed the time between dead drops and distance
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
Labels: C#

mats
  Resources/Maps/_NF/POI/lodge.yml
Labels: Map-POI

more mats
  Resources/Maps/_NF/POI/lodge.yml
Labels: Map-POI

Removed deprecated GetMapEntityId for TryGetMap
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
Labels: C#

Removed tags that match autogenereated ones and simplified new Color
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
Labels: C#

Expeditionary Lodge: Small QoL Update (#1653)
  Resources/Maps/_NF/POI/lodge.yml
Labels: Map-POI

Automatic Changelog (#1653)
  Resources/Changelog/Changelog.yml
Labels: none

Made the distance even smaller
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
Labels: C#

ship vouchers to separate file, console bugfix
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/ship_vouchers.yml
Labels: C#

nfsd ship vouchers: remove clothing
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/ship_vouchers.yml
Labels: none

Classy Briefcase
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Roles/Jobs/Syndicate/syndicate_broker.yml
Labels: none

add vouchers to shipyard whitelist, sell check
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
Labels: C#

ShipyardSystem: voucher compilation fixes
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
Labels: C#

ship voucher: inherit from BaseItem
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/ship_vouchers.yml
Labels: none

Revert "Made the distance even smaller"
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
Labels: C#

bailiff/sergeant loadouts, voucher icons
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/ship_vouchers.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/idnfsdbrigmed.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/idnfsdcadet.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/idnfsdsergeant.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/nfsdvoucher.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/vouchernfsdbailiff.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/vouchernfsdsergeant.png
  idnfsdcaptain.png
  nfsdcaptain.png
Labels: Sprites

Shipyard: display "free" on voucher, rough draft
  Content.Client/Shipyard/BUI/ShipyardConsoleBoundUserInterface.cs
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Shared/Shipyard/BUI/ShipyardConsoleInterfaceState.cs
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
Labels: UI, C#, FTL

missing semicolon, point and laugh
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
Labels: UI, C#

ShipyardConsoleMenu: fix prototype price
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
Labels: UI, C#

ShipyardConsoleMenu: ship appraisal 0 with voucher
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
Labels: UI, C#

Round-start pirates and NFSD
  Resources/Prototypes/_NF/Maps/POI/cove.yml
  Resources/Prototypes/_NF/Maps/POI/nfsd.yml
Labels: none

Remote meta.json
  meta.json
Labels: none

Revise role start count
  Resources/Prototypes/_NF/Maps/POI/cove.yml
  Resources/Prototypes/_NF/Maps/POI/nfsd.yml
Labels: none

Cleanup, copyright
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/ship_vouchers.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/meta.json
Labels: Sprites, C#, FTL

Changelog: fix Troglodyte71 entry
  Resources/Changelog/Changelog.yml
Labels: none

navscreen, StationComp->StationDampeningComp
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/_NF/Station/Components/StationComponent.cs
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/anomalouslab.yml
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/POI/northpole.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: Map-Outpost, Map-Shuttle, Map-POI, UI, C#

Comment Out ContrabandClothing Faction
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/headwear_syndicate.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: none

make yml linter happy again
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/headwear_syndicate.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/contraband_clothing_base.yml
Labels: none

refactor
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/headwear_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/headwear_syndicate.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: none

StationDampeningComp, "anchor" tense
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/_NF/Shuttles/Events/ToggleStabilizerRequest.cs
  Content.Shared/_NF/Station/Components/StationDampeningComponent.cs
  Resources/Locale/en-US/shuttles/console.ftl
Labels: UI, C#, FTL

restore needed using statement
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
Labels: UI, C#

missed those
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
Labels: none
