Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

What it should probably be
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
Labels: none

Update computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: none

AbsorbentSystem only works with water, no vomit (#1810)
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Drink/drinks.yml
Labels: C#

Make shuttle deeds more inspectable + visible on PDA (#1766)
  Content.Client/PDA/PdaMenu.xaml
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Server/Shipyard/Systems/ShuttleDeedSystem.cs
  Content.Shared/PDA/PdaUpdateState.cs
  Resources/Locale/en-US/_NF/pda/pda-component.ftl
  Resources/Locale/en-US/_NF/shipyard/shuttle-deed-system.ftl
Labels: UI, C#, FTL

Update debug.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: none

Bureaucracy Loadouts, Doctor, Engineer Stamps (#1782)
  Content.Server/Paper/PaperSystem.cs
  Resources/Locale/en-US/_NF/paper/stamp-component.ftl
  Resources/Locale/en-US/_NF/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/stamps.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/bureaucracy.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/fun.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-doctor.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-engineer.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-pirate.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-psychologist.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-sheriff.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-signature.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-stc.png
  Resources/Textures/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/stamp-doctor.png
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/stamp-engineer.png
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/stamp-psychologist.png
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/stamp-stc.png
Labels: Sprites, C#, FTL

Automatic Changelog (#1782)
  Resources/Changelog/Changelog.yml
Labels: none

Wrench, crowbar, multitool sprites & attribution
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Objects/Devices/chameleon_projector.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/Graphs/tools/logic_gate.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/tool_qualities.yml
  Resources/Textures/_NF/Objects/Tools/crowbar.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Tools/crowbar.rsi/icon.png
  Resources/Textures/_NF/Objects/Tools/crowbar.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Tools/crowbar.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Tools/crowbar.rsi/meta.json
  Resources/Textures/_NF/Objects/Tools/crowbar.rsi/red-equipped-BELT.png
  Resources/Textures/_NF/Objects/Tools/crowbar.rsi/red-icon.png
  Resources/Textures/_NF/Objects/Tools/crowbar.rsi/red-inhand-left.png
  Resources/Textures/_NF/Objects/Tools/crowbar.rsi/red-inhand-right.png
  Resources/Textures/_NF/Objects/Tools/crowbar.rsi/red-storage.png
  Resources/Textures/_NF/Objects/Tools/crowbar.rsi/storage.png
  Resources/Textures/_NF/Objects/Tools/multitool.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Tools/multitool.rsi/green-inhand-left.png
  Resources/Textures/_NF/Objects/Tools/multitool.rsi/green-inhand-right.png
  Resources/Textures/_NF/Objects/Tools/multitool.rsi/green-unlit.png
  Resources/Textures/_NF/Objects/Tools/multitool.rsi/icon.png
  Resources/Textures/_NF/Objects/Tools/multitool.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Tools/multitool.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Tools/multitool.rsi/meta.json
  Resources/Textures/_NF/Objects/Tools/multitool.rsi/red-inhand-left.png
  Resources/Textures/_NF/Objects/Tools/multitool.rsi/red-inhand-right.png
  Resources/Textures/_NF/Objects/Tools/multitool.rsi/red-unlit.png
  Resources/Textures/_NF/Objects/Tools/multitool.rsi/yellow-inhand-left.png
  Resources/Textures/_NF/Objects/Tools/multitool.rsi/yellow-inhand-right.png
  Resources/Textures/_NF/Objects/Tools/multitool.rsi/yellow-unlit.png
  Resources/Textures/_NF/Objects/Tools/wrench.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Tools/wrench.rsi/icon.png
  Resources/Textures/_NF/Objects/Tools/wrench.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Tools/wrench.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Tools/wrench.rsi/meta.json
  Resources/Textures/_NF/Objects/Tools/wrench.rsi/storage.png
Labels: Sprites

Restore reinforced diagonal walls, U/wood to state
  Resources/Prototypes/_NF/Entities/Structures/Walls/diagonal_walls.yml
  Resources/Textures/_NF/Structures/Walls/reinforced_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/reinforced_diagonal.rsi/state0.png
  Resources/Textures/_NF/Structures/Walls/reinforced_diagonal.rsi/state1.png
  Resources/Textures/_NF/Structures/Walls/reinforced_diagonal.rsi/state2.png
  Resources/Textures/_NF/Structures/Walls/reinforced_diagonal.rsi/state3.png
  Resources/Textures/_NF/Structures/Walls/reinforced_diagonal.rsi/state4.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/state0.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/state1.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/state2.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/state3.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/state4.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/state0.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/state1.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/state2.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/state3.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/state4.png
Labels: Sprites

adds the NC Shepherd ship
  Resources/Maps/_NF/Shuttles/shepherd.yml
  Resources/Prototypes/_NF/Shipyard/shepherd.yml
Labels: Map-Shuttle

WebCocoon: description rewrite
  Resources/Prototypes/_NF/Entities/Objects/Misc/handcuffs.yml
Labels: none

wall locker draft
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/base.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-eva.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/locked.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/open.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/unlocked.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/welded.png
Labels: Sprites

Update computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: none

Restore cocoon sounds
  Resources/Prototypes/_NF/Entities/Objects/Misc/handcuffs.yml
Labels: none

debug jobs
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: none

lathe eva recipes
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/eva.yml
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/meta.json
Labels: Sprites

Update dev_map.yml
  Resources/Maps/_NF/Test/dev_map.yml
Labels: none

Automatic Changelog (#1835)
  Resources/Changelog/Changelog.yml
Labels: none

DeltaV
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Nyanotrasen/StatusEffects/job.yml
  Resources/Prototypes/_NF/StatusEffects/job.yml
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/Chaplain.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/ChiefJustice.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/Clerk.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/Lawyer.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/MedicalBorg.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/Prosecutor.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/SecurityBorg.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/nyanoGladiator.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/nyanoMailCarrier.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/nyanoMantis.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/nyanoMartialArtist.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/nyanoPrisonGuard.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/idchaplain.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/idchiefjustice.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/idclerk.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/idlawyer.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/idprosecutor.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanogladiator.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanomailcarrier.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanomantis.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanomartialartist.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanoprisoner.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanoprisonguard.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: Sprites

NeedAllJobRequirement Draft
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Roles/JobRequirements.cs
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
Labels: C#

captain wall locker using generic visualizer
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
Labels: none

Observer radar update
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: none

chaplain and boxer eva
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage_wallmount.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/departmental_eva.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-decals-02-boxer.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/icon-decals-02-boxer.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/meta.json
Labels: Sprites

Alternate requirement sets
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Roles/JobRequirements.cs
  Content.Shared/Roles/SharedRoleSystem.cs
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/detectivenf.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
Labels: C#

Minimize aghost/ghost changes
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: none

wall eva lockers
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/locked.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/unlocked.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/welded.png
Labels: Sprites

DeltaV (#1840)
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Nyanotrasen/StatusEffects/job.yml
  Resources/Prototypes/_NF/StatusEffects/job.yml
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/Chaplain.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/ChiefJustice.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/Clerk.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/Lawyer.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/MedicalBorg.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/Prosecutor.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/SecurityBorg.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/nyanoGladiator.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/nyanoMailCarrier.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/nyanoMantis.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/nyanoMartialArtist.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/nyanoPrisonGuard.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/idchaplain.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/idchiefjustice.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/idclerk.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/idlawyer.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/idprosecutor.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanogladiator.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanomailcarrier.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanomantis.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanomartialartist.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanoprisoner.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanoprisonguard.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: Sprites

DebugNF (Update) (#1838)
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: none

Fix PAO stamp parrent
  Resources/Prototypes/_NF/Entities/Objects/Misc/rubber_stamp.yml
Labels: none

public affairs stamp fixes
  Resources/Prototypes/_NF/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-pao.png
Labels: Sprites

Write out "Public Affairs Official" in stamp name
  Resources/Locale/en-US/paper/stamp-component.ftl
Labels: FTL

reduced APC and atmos alarm quantity; reduced thrusters for power savings
  Resources/Maps/_NF/Shuttles/shepherd.yml
Labels: Map-Shuttle

fix missing Atmos Fix Vacuum Markers
  Resources/Maps/_NF/Shuttles/shepherd.yml
Labels: Map-Shuttle

fix unpowered thruster, minor atmos rework for simpler layout
  Resources/Maps/_NF/Shuttles/shepherd.yml
Labels: Map-Shuttle

atmos rework round 2; adjust shipyard price
  Resources/Maps/_NF/Shuttles/shepherd.yml
  Resources/Prototypes/_NF/Shipyard/shepherd.yml
Labels: Map-Shuttle

wall locker sprites, meta info fixes
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Textures/_NF/Clothing/Head/Helmets/ert_mailcarrier.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_hydro.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_mailman.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/base.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-engi-01.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-eva-01.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-eva-02.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-eva.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-fuel-ame.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-fuel-plasma.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-fuel-uranium.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-fuel-welding.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-line-01.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-line-02.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-med-01.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/locked.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/unlocked.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/welded.png
Labels: Sprites

lathe, vendomats, mailpod and parcel fix
  Resources/Maps/_NF/Shuttles/mailpod.yml
  Resources/Maps/_NF/Shuttles/parcel.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/astrovend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/bountyvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/nfsddrobe.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_supply.yml
  Resources/Prototypes/_NF/Recipes/Lathes/eva.yml
Labels: Map-Shuttle

more vendomats
  Resources/Maps/_NF/Shuttles/mailpod.yml
  Resources/Maps/_NF/Shuttles/parcel.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/hydrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/janidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/boxingdrobe.yml
Labels: Map-Shuttle

more decals for lockers, more empty lockers
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-captain-01.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-cargo-01.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-cargo-02.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-engi-02.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-engi-03.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-line-02.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-line-03.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-line-04.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-med-01.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-null.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/meta.json
Labels: Sprites

more lockers
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
Labels: none

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
