Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

Automatic Changelog (#1721)
  Resources/Changelog/Changelog.yml
Labels: none

cartrige->cartridge
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Magazines/turret_box_mag.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
Labels: none

Update cove.yml
  Resources/Maps/_NF/POI/cove.yml
Labels: Map-POI

Update cove.yml
  Resources/Maps/_NF/POI/cove.yml
Labels: Map-POI

Update pirate.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/pirate.yml
Labels: none

AAAAALRIGHTY LET'S DO THIS ONE LAST TIME
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/pioneer.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Bonfire.xml
Labels: Map-Shuttle, Docs, FTL

"distrobution" god that's embarrasing
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Bonfire.xml
Labels: Docs

subgroup & hideEffect WIP
  Content.Client/Lobby/UI/Loadouts/LoadoutGroupContainer.xaml.cs
  Content.Shared/Preferences/Loadouts/LoadoutGroupPrototype.cs
  Content.Shared/Preferences/Loadouts/LoadoutPrototype.cs
  Content.Shared/_NF/Preferences/Loadouts/Effects/RoleBlacklistLoadoutEffect.cs
  Resources/Locale/en-US/_NF/preferences/loadout-effects.ftl
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/shoes.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/StationRep/backpack.yml
  Resources/Prototypes/_NF/Loadouts/loadout_effects.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/stationrep_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/stc_loadout_groups.yml
Labels: UI, C#, FTL

Harpy: convert from effect to hideEffect
  Content.Client/Lobby/UI/Loadouts/LoadoutGroupContainer.xaml.cs
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
  Resources/Prototypes/_NF/Loadouts/Jobs/Bailiff/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Brigmedic/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Cadet/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/survival.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Deputy/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/DetectiveNF/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Janitor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Lawyer/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/MailCarrier/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Nfsd/survival.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pilot/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pirates/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Prisoner/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/SecurityGuard/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/SeniorOfficer/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Sheriff/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/StationRep/backpack.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/StationRep/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Stc/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Valet/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/nfsd_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/stationrep_loadout_groups.yml
Labels: UI, C#

SR backpack, diona shoes effect
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/shoes.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/shoes.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Nfsd/shoes.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pilot/shoes.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/SecurityGuard/shoes.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/StationRep/bags.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Stc/shoes.yml
  Resources/Prototypes/_NF/Loadouts/loadout_effects.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
Labels: none

Spawned random human corpses drop rotten meat if butchered (#1730)
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Entities/Mobs/Corpses/corpses.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_corpses.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/corpses.yml
Labels: none

Automatic Changelog (#1730)
  Resources/Changelog/Changelog.yml
Labels: none

STC consoles for monitoring the trade outpost
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/_NF/Shuttles/NFDroneConsoleComponent.cs
  Content.Server/_NF/Shuttles/NFDroneConsoleTargetComponent.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleConsoleSystem.NFDrone.cs
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
Labels: Map-Outpost, C#

ATM fixes (restore netSync, noRot for standing)
  Resources/Maps/_NF/Shuttles/Expedition/praeda.yml
  Resources/Maps/_NF/Shuttles/caduceus.yml
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
Labels: Map-Shuttle

netSync->netsync
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
Labels: none

Rename vulp cannon (can't fit average vulps), desc
  Resources/Prototypes/_NF/Mail/Items/misc.yml
Labels: none

Apothecary Post Launch Address
  Resources/Maps/_NF/Shuttles/apothecary.yml
Labels: Map-Shuttle

Remove nanovend add nanovend plus
  Resources/Maps/_NF/Shuttles/stasis.yml
  Resources/Prototypes/_NF/Shipyard/stasis.yml
Labels: Map-Shuttle

Files got jumbled. I am a clown.
  Resources/Prototypes/_NF/Shipyard/stasis.yml
Labels: Map-Shuttle

finish up spawning
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Shared/_NF/CCVars/CCVars.cs
  Content.Shared/_NF/GameRule/PointOfInterestPrototype.cs
Labels: C#

first few conversion
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Shared/_NF/GameRule/PointOfInterestPrototype.cs
  Resources/Prototypes/_NF/Maps/POI/cove.yml
  Resources/Prototypes/_NF/Maps/POI/trade.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
Labels: C#

to list
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: C#

Adds the SBB Tyne search and rescue shuttle
  Resources/Maps/_NF/Shuttles/tyne.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
  Resources/Prototypes/_NF/Shipyard/tyne.yml
Labels: Map-Shuttle

Adds author info to SBB and ships built by Tych0/Arimah
  Resources/Prototypes/_NF/Shipyard/Nfsd/broadhead.yml
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
  Resources/Prototypes/_NF/Shipyard/bookworm.yml
  Resources/Prototypes/_NF/Shipyard/ceres.yml
  Resources/Prototypes/_NF/Shipyard/lyrae.yml
Labels: Map-Shuttle

Adds author info to SBB and ships built by Tych0/Arimah (#1734)
  Resources/Prototypes/_NF/Shipyard/Nfsd/broadhead.yml
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
  Resources/Prototypes/_NF/Shipyard/bookworm.yml
  Resources/Prototypes/_NF/Shipyard/ceres.yml
  Resources/Prototypes/_NF/Shipyard/lyrae.yml
Labels: Map-Shuttle

Gib
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/_NF/Body/Components/DeleteOnGibComponent.cs
  Content.Server/_NF/Explosion/Components/TriggerOnBeingGibbedComponent.cs
  Content.Server/_NF/Explosion/EntitySystems/TriggerSystem.BeingGibbed.cs
Labels: C#

Nuked
  Content.Server/_NF/Body/Components/DeleteOnGibComponent.cs
Labels: C#

Before gib event
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/_NF/Body/Components/BeforeGibbedEvent.cs
  Content.Server/_NF/Explosion/EntitySystems/TriggerSystem.BeingGibbed.cs
Labels: C#

Implant
  Resources/Prototypes/_NF/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/subdermal_implants.yml
Labels: none

Test
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/corpses.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/subdermal_implants.yml
Labels: none

Fixup
  Resources/Prototypes/Entities/Markers/Spawners/corpses.yml
  Resources/Prototypes/Entities/Mobs/Corpses/corpses.yml
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_corpses.yml
  Resources/migration.yml
Labels: none

Update migration.yml
  Resources/migration.yml
Labels: none

Update TriggerSystem.BeingGibbed.cs
  Content.Server/_NF/Explosion/EntitySystems/TriggerSystem.BeingGibbed.cs
Labels: C#

Update TriggerSystem.BeingGibbed.cs
  Content.Server/_NF/Explosion/EntitySystems/TriggerSystem.BeingGibbed.cs
Labels: C#

Update GibOnTriggerComponent.cs
  Content.Server/Explosion/Components/OnTrigger/GibOnTriggerComponent.cs
Labels: C#

Gib
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/corpses.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/subdermal_implants.yml
Labels: none

GibOnTrigger: extra configuration hacks
  Content.Server/Explosion/Components/OnTrigger/GibOnTriggerComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/corpses.yml
Labels: C#

Belts
  Resources/Prototypes/_NF/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/belt.yml
Labels: none

Update mail_carrier.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Service/mail_carrier.yml
Labels: none

Update mail.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/mail.yml
Labels: none

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
