Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

Update meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Sprites

Id whitelist
  Content.Shared/_NF/Whitelist/EntProtoIdWhitelist.cs
Labels: C#

new station example with scrapped variant
  Resources/Maps/_NF/Salvage/Example/derelictVagabondPoor.yml
  Resources/Maps/_NF/Salvage/Example/derelictVagabondRich.yml
  Resources/Maps/_NF/Salvage/Example/market.yml
  Resources/Maps/_NF/Salvage/Example/marketScrapped.yml
Labels: none

ID whitelist fixes
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Shared/_NF/Whitelist/EntProtoIdWhitelistSystem.cs
  Resources/Prototypes/_NF/Catalog/Bounties/pirate_bounties.yml
Labels: C#

Fix crate IDs used for lookup
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
Labels: C#

fix bounty whitelisting, bounty chests, prices
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Resources/Prototypes/_NF/Catalog/Bounties/pirate_bounties.yml
Labels: C#

Fix up bounties, fluent entries for bounties
  Resources/Locale/en-US/_NF/cargo/pirate-bounties.ftl
  Resources/Locale/en-US/_NF/cargo/pirate-bounty-redemption-console-component.ftl
  Resources/Prototypes/_NF/Catalog/Bounties/pirate_bounties.yml
Labels: FTL

Bah
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
Labels: none

Update cove.yml
  Resources/Maps/_NF/POI/cove.yml
Labels: Map-POI

Cleanup
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Power/antimatter_jar.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/expeditionaryflatpackvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
Labels: none

Update frontier.yml
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Map-Outpost

Update flatpackvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
Labels: none

Update vending_machines.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: none

BONFIREEE
  Resources/Maps/_NF/Shuttles/bonfire.yml
  Resources/Prototypes/_NF/Shipyard/bonfire.yml
Labels: Map-Shuttle

Update bonfire.yml
  Resources/Prototypes/_NF/Shipyard/bonfire.yml
Labels: Map-Shuttle

Add solar assemblies to engifab + advanced tools in dynamic recipes
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/devices.yml
Labels: none

Add FuelVend vendor. (#1601)
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/Cargo/Components/StackPriceComponent.cs
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
  Resources/Locale/en-US/_NF/advertisements/vending/fuelvend.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Power/antimatter_jar.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Advertisements/fuelvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/expeditionaryflatpackvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/fuelvend.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_NF/Structures/Machines/VendingMachines/fuelvend.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/fuelvend.rsi/deny-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/fuelvend.rsi/eject-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/fuelvend.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/fuelvend.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/fuelvend.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/fuelvend.rsi/panel.png
Labels: Map-Outpost, Sprites, UI, C#, FTL

Automatic Changelog (#1601)
  Resources/Changelog/Changelog.yml
Labels: none

Adds loadout options and a new hat
  Resources/Prototypes/_NF/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Stc/head.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Stc/shoes.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/stc_loadout_groups.yml
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/meta.json
Labels: Sprites

new market dungeon variant very rich in loot
  Resources/Maps/_NF/Salvage/Example/marketDungeon.yml
Labels: none

dissapearing stuff is stupid
  Resources/Prototypes/_NF/Entities/Structures/Decoration/scrap.yml
Labels: none

poor ian :(
  Resources/Maps/_NF/Salvage/Example/marketDungeon.yml
Labels: none

Cleanup of forward area, better use of player space and movement.
  Resources/Maps/_NF/Shuttles/stasis.yml
  Resources/Prototypes/_NF/Shipyard/stasis.yml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/stasis.png
Labels: Map-Shuttle, Sprites

Added FuelVend to The Lodge and Grifty's
  Resources/Locale/en-US/_NF/navmap-beacons/station-beacons.ftl
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/station_beacon.yml
Labels: Map-POI, FTL

pirate bounty consoles, unshaded pad, cove pads
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/contraband_pallet.yml
  Resources/Textures/_NF/Structures/Machines/computers.rsi/contraband.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/computers.rsi/piratebounty.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/piratebounty_pad.png
  Resources/Textures/_NF/Structures/Machines/piratebounty_pallet.rsi/base.png
  Resources/Textures/_NF/Structures/Machines/piratebounty_pallet.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/piratebounty_pallet.rsi/unshaded.png
Labels: Map-POI, Sprites

piratebounty.png: fix one bad pixel
  Resources/Textures/_NF/Structures/Machines/computers.rsi/piratebounty.png
Labels: Sprites

Revert the mark of the beast
  SpaceStation14.sln
Labels: none

humility
  Resources/Textures/_NF/Structures/Machines/computers.rsi/meta.json
Labels: Sprites

Pirate Bounty cleanup
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Server/_NF/Pirate/Components/SectorPirateBountyDatabaseComponent.cs
  Resources/Textures/Interface/Nano/piratelogo.svg.png
  Resources/Textures/_NF/Interface/Pirate/piratelogo.svg.png
Labels: C#

Computer YAML cleanup
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
Labels: none

ATMs: inheritance order
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
Labels: none

computers.yml: cargo order computer has no board
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: none

Added FuelVend to The Lodge and Grifty's (#1722)
  Resources/Locale/en-US/_NF/navmap-beacons/station-beacons.ftl
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/station_beacon.yml
Labels: Map-POI, FTL

Automatic Changelog (#1722)
  Resources/Changelog/Changelog.yml
Labels: none

Whitelists CMO stamp fill in locker.
  .github/mapchecker/whitelist.yml
Labels: none

cleanup contraband.png pixels
  Resources/Textures/_NF/Structures/Machines/computers.rsi/contraband.png
Labels: Sprites

couple more wiz staffs, a bit of clean up
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_wizardfederation.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Wizard/wizard_staffs.yml
Labels: none

adds CMO stamp to whitelist
  .github/mapchecker/whitelist.yml
Labels: none

fix pirate logo
  Content.Client/Stylesheets/StyleNano.cs
  Resources/Textures/_NF/Interface/Pirate/piratelogo.png
  Resources/Textures/_NF/Interface/Pirate/piratelogo.svg.png
Labels: C#

things
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
Labels: none
