Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

Update crescent.yml
  Resources/Maps/_NF/Shuttles/crescent.yml
Labels: Map-Shuttle

Update boxes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/boxes.yml
Labels: none

Update fax_machine.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
Labels: none

Add SR shipyard console to Frontier Outpost (#1792)
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
Labels: Map-Outpost, Map-Shuttle

Fix two minor POI bugs (Tinnia's, Trade) (#1794)
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
Labels: Map-POI

SharedVehicleSystem: fix user arg on honk (#1788)
  Content.Shared/Vehicle/SharedVehicleSystem.cs
Labels: C#

Automatic Changelog (#1788)
  Resources/Changelog/Changelog.yml
Labels: none

Trade depot: add cargo market data component
  Resources/Maps/_NF/POI/trade.yml
Labels: Map-POI

JukeboxWall
  Resources/Prototypes/_NF/Entities/Structures/Machines/jukebox.yml
  Resources/Textures/_NF/Structures/Machines/jukebox.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/jukebox.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/jukebox.rsi/on.png
  Resources/Textures/_NF/Structures/Machines/jukebox.rsi/select.png
Labels: Sprites

Requested changes as requested
  Resources/Prototypes/_NF/Entities/Clothing/Neck/web_neck_clothing.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/web_craft_graph.yml
  Resources/Prototypes/_NF/Recipes/Crafting/web_craft.yml
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_web_poncho.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Misc/web_poncho.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Misc/web_poncho.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Misc/web_poncho.rsi/inhand-right.png
Labels: Sprites

I was very tempted to include the ':)'
  Resources/Prototypes/_NF/Shipyard/Nfsd/broadhead.yml
Labels: Map-Shuttle

Removed Missed Food (#1795)
  Resources/Maps/_NF/Shuttles/hauler.yml
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/boxes.yml
Labels: Map-Shuttle

Trade depot: add cargo market data component (#1797)
  Resources/Maps/_NF/POI/trade.yml
Labels: Map-POI

Automatic Changelog (#1797)
  Resources/Changelog/Changelog.yml
Labels: none

Fix Frontier Outpost atmos issues
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Map-Outpost

Airlocks
  Content.Server/Doors/Systems/AirlockSystem.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
Labels: C#

"classic web poncho" consistency
  Resources/Prototypes/_NF/Entities/Clothing/Neck/web_neck_clothing.yml
Labels: none

Rules
  Resources/Prototypes/_NF/Guidebook/rules.yml
  Resources/ServerInfo/Gameplay.txt
  Resources/ServerInfo/Intro.txt
  Resources/ServerInfo/Sandbox.txt
  Resources/ServerInfo/_NF/Guidebook/Rules/0_Admin.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/10_Command.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/11_Escalation.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/12_PVP.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/13_Cheating.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/1_ERP.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/2_Community.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/3_ICInfo.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/4_Respawning.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/5_Chat.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/6_Roleplay.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/7_Antag.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/8_Safezone.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/9_Security.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/FrontierRuleset.xml
Labels: Docs

RCD: vend prices
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/shipyard_rcd.yml
Labels: none

Update shipyard_rcd.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/shipyard_rcd.yml
Labels: none

Update tools.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: none

RCD: add vend prices (#1800)
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/shipyard_rcd.yml
Labels: none

reworked engine room, moved grinder, moved condenser, fixed waste storage loop, replaced biodome wall suit locker with standard locker, rearranged helm
  Resources/Maps/_NF/Shuttles/akupara.yml
Labels: Map-Shuttle

cargodepotalt: add CargoMarketData component
  Resources/Maps/_NF/POI/cargodepotalt.yml
Labels: Map-POI

wall locker, suit storage parenting
  Resources/Prototypes/_NF/Entities/Structures/Machines/jukebox.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/suit_storage_wall.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
Labels: none

Reduce magboots staticPrice to 200
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
Labels: none

magboots: bad comment
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
Labels: none

Jukebox: fix wallmount audio position
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
  Content.Shared/Audio/Jukebox/JukeboxComponent.cs
  Resources/Prototypes/_NF/Entities/Structures/Machines/jukebox.yml
Labels: C#

Fix Up
  Content.Shared/Salvage/SharedSalvageSystem.cs
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/cargo.yml
  Resources/Prototypes/_NF/Procedural/salvage_rewards.yml
Labels: C#

2024 08 05 advanced magboots (#1802)
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
Labels: none

Adds the YC Convergence ship to the game
  Resources/Maps/Shuttles/convergence.yml
  Resources/Prototypes/_NF/Shipyard/convergence.yml
Labels: Map-Shuttle

Fix up
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
Labels: none

Update ingredients.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
Labels: none

all but brigand
  Resources/Maps/_NF/Shuttles/Expedition/gasbender.yml
  Resources/Maps/_NF/Shuttles/harbormaster.yml
  Resources/Maps/_NF/Shuttles/kilderkin.yml
  Resources/Maps/_NF/Shuttles/lantern.yml
  Resources/Maps/_NF/Shuttles/legman.yml
  Resources/Maps/_NF/Shuttles/liquidator.yml
  Resources/Maps/_NF/Shuttles/pioneer.yml
  Resources/Maps/_NF/Shuttles/searchlight.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/brigand.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/gasbender.yml
  Resources/Prototypes/_NF/Shipyard/harbormaster.yml
  Resources/Prototypes/_NF/Shipyard/kilderkin.yml
  Resources/Prototypes/_NF/Shipyard/lantern.yml
  Resources/Prototypes/_NF/Shipyard/legman.yml
  Resources/Prototypes/_NF/Shipyard/pioneer.yml
  Resources/Prototypes/_NF/Shipyard/searchlight.yml
Labels: Map-Shuttle

Update food.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
Labels: none

Update food.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
Labels: none

Fixup
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
Labels: none

Update condiments.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Food/condiments.yml
Labels: none

ingredients.yml: comment out AdjustReagent
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
Labels: none

beacons, brigand
  Resources/Locale/en-US/_NF/navmap-beacons/station-beacons.ftl
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Maps/_NF/Shuttles/Expedition/gasbender.yml
  Resources/Maps/_NF/Shuttles/liquidator.yml
  Resources/Maps/_NF/Shuttles/searchlight.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/brigand.yml
  Resources/Prototypes/_NF/Shipyard/liquidator.yml
Labels: Map-Shuttle, FTL
