Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

public affairs job to _NF
  Resources/Locale/en-US/_NF/paper/stamp-component.ftl
  Resources/Locale/en-US/paper/stamp-component.ftl
Labels: FTL

Intercom: disassemble/indestructable parents
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
Labels: none

fix linter issue
  Resources/Locale/ru-RU/interaction/interaction-popup-component.ftl
Labels: FTL

cap and sr helmet decals
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-decals-02.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/icon-decals-02.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/meta.json
Labels: Sprites

meta
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/meta.json
Labels: Sprites

Mob/Turret Laser Reflect Chance
  Resources/Maps/_NF/Bluespace/cache.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_bloodcultist.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_aberrant_flesh.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_rogue_ai.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_wizardfederation.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/base_turret.yml
Labels: Map-Bluespace

observer: comment nitpicks
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: none

Expedition: check for FTL component before mission
  Content.Server/Salvage/SalvageSystem.ExpeditionConsole.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
Labels: C#

Less text in salvage expedition console
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
  Resources/Locale/en-US/procedural/expeditions.ftl
Labels: FTL

Observer radar update (#1842)
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: none

Automatic Changelog (#1842)
  Resources/Changelog/Changelog.yml
Labels: none

plural, "party supplies"->"party supply stash"
  Resources/Locale/en-US/procedural/expeditions.ftl
  Resources/Prototypes/_NF/Entities/Structures/Specific/punks.yml
Labels: FTL

in the area->inside the area
  Resources/Locale/en-US/procedural/expeditions.ftl
Labels: FTL

FTLKnockdownImmune component
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/_NF/Shuttles/Components/FTLKnockdownImmuneComponent.cs
Labels: C#

Make exped enemies (human, non-human) FTL immune
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
Labels: none

Add poultry cube boxes!
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/rehydrateable.yml
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/box_poultry.png
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/wrapper_chicken.png
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/wrapper_duck.png
Labels: Sprites

Intercom: fix Indestructible tags, parent order
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
Labels: none

Market Price (Balance) (#1837)
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
Labels: none

Intercom: disable tool use, make sensitive versions indestructible. (#1848)
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
Labels: none

Automatic Changelog (#1848)
  Resources/Changelog/Changelog.yml
Labels: none

Add poultry cube boxes! (#1847)
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/rehydrateable.yml
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/box_poultry.png
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/wrapper_chicken.png
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/wrapper_duck.png
Labels: Sprites

Automatic Changelog (#1847)
  Resources/Changelog/Changelog.yml
Labels: none

Убрать краши от дудоса
  Resources/ConfigPresets/Corvax/corvax.toml
Labels: none

Точно убрать дудосы.
  Resources/ConfigPresets/Corvax/corvax.toml
Labels: none

armory: remove refs to locked crates, rtg loot
  Resources/Prototypes/_NF/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/expeditions_loot.yml
Labels: none

exped loot: cleanade crate
  Resources/Prototypes/_NF/Catalog/Fills/Crates/expeditions_loot.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_kitchen.yml
Labels: none

Windows and glass airlocks block lasers
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/expedition_airlocks.yml
  Resources/Prototypes/_NF/Entities/Structures/Windows/expedition_windows.yml
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
Labels: none

Restore novalite "armory access to open" message
  Resources/Prototypes/_NF/Catalog/Fills/Crates/armory.yml
Labels: none

Grammar fixes
  Resources/Prototypes/_NF/Catalog/Fills/Crates/expeditions_loot.yml
Labels: none

grilles
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/_NF/Entities/Structures/Walls/grille_expedition.yml
  Resources/Prototypes/_NF/Entities/Structures/Windows/expedition_windows.yml
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
Labels: none

Replace fuel tanks with full versions
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
Labels: none

descr
  Resources/Prototypes/_NF/Entities/Structures/Windows/expedition_windows.yml
Labels: none

Shift ammo crate welded sprite
  Resources/Textures/_NF/Structures/Storage/Crates/ammo.rsi/welded.png
Labels: Sprites

Update misc.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Baked/misc.yml
Labels: none

Added guidebook with map; further atmos tweaks.
  Resources/Maps/_NF/Shuttles/shepherd.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/shepherd.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Shepherd.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/shepherd.png
Labels: Map-Shuttle, Sprites, Docs

Add Paradise fire extinguisher with attribution
  Resources/Prototypes/Catalog/Cargo/cargo_emergency.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/furniture/altars.yml
  Resources/Textures/_NF/Objects/Misc/fire_extinguisher.rsi/fire_extinguisher_closed.png
  Resources/Textures/_NF/Objects/Misc/fire_extinguisher.rsi/fire_extinguisher_open.png
  Resources/Textures/_NF/Objects/Misc/fire_extinguisher.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Misc/fire_extinguisher.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Misc/fire_extinguisher.rsi/meta.json
Labels: Sprites

Put it in proper files to save headaches in the future.
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Baked/misc.yml
Labels: none

Party crate suggestions
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
Labels: none

Missing comment
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Labels: none

Changed price of crate and made it for 5
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Labels: none

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
