Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

uranium walls: use 5-state diagonals
  Resources/Prototypes/_NF/Entities/Structures/Walls/diagonal_walls.yml
Labels: none

Investigator (Update)
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/investigator.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/investigator.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Investigator.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/investigator.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Map-Shuttle, Sprites, Docs, FTL

changed consoles, removed shutter
  Resources/Maps/_NF/Shuttles/investigator.yml
Labels: Map-Shuttle

ЖапанфудЬ
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entitites/objects/consumable/food/japanfood/ingredients/japaningredients.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entitites/objects/consumable/food/japanfood/japanfoods.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chang.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/Pockypacks/pockypacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/chocopocky.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/hanamidango.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/mitarasidango.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/onigiri.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/pockypack/pockypacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/porkramennoodles.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/spicyporkramen.yml
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/chocopocky.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/closed.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/equipped-BELT.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/inhand-left.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/inhand-right.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok1.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok2.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok3.png
Labels: Sprites, FTL

Revert "ЖапанФуд"
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/Pockypacks/pockypacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/chocopocky.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/hanamidango.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/mitarasidango.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/onigiri.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/porkramennoodles.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/spicyporkramen.yml
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/chocopocky.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/closed.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/equipped-BELT.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/inhand-left.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/inhand-right.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok1.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok2.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok3.png
Labels: Sprites

ЖапанФуд
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/Pockypacks/pockypacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/chocopocky.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/hanamidango.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/mitarasidango.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/onigiri.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/porkramennoodles.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/spicyporkramen.yml
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/chocopocky.png
  Resources/Textures/Corvax/Objects/Consumable/Food/japanfood.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/closed.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/equipped-BELT.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/inhand-left.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/inhand-right.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/meta.json
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok1.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok2.png
  Resources/Textures/Corvax/Objects/Consumable/Food/pokvisualizer.rsi/pok3.png
Labels: Sprites

Да ты потеряшка ебаная
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/unlit-equipped-MASK.png
Labels: Sprites

Ещё одна...
  Resources/Textures/Corvax/Objects/Consumable/Food/pockypacks.rsi/open.png
Labels: Sprites

Коммичу с позором
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/JapanFood/pockypack/pockypacks.yml
Labels: none

IconSmoothing: respect target directions (WIP)
  Content.Client/IconSmoothing/IconSmoothSystem.cs
Labels: C#

adjust between vector angle and cardinal dir
  Content.Client/IconSmoothing/IconSmoothSystem.cs
Labels: C#

Criminal and Shipyard records fax record paper and illegal information scrambling
  Content.Server/_NF/NFSD_Records/ShipyardRecordPaperSystem.cs
  Resources/Locale/en-US/_NF/shipyard/shipyard-record-paper.ftl
  Resources/Prototypes/_NF/Entities/Objects/Misc/shipyard_record_paper.yml
  Resources/Textures/_NF/Interface/Misc/Paper/shipyard_record_paper_blackmarket.png
  Resources/Textures/_NF/Interface/Misc/Paper/shipyard_record_paper_cargo.png
  Resources/Textures/_NF/Interface/Misc/Paper/shipyard_record_paper_civilian.png
  Resources/Textures/_NF/Interface/Misc/Paper/shipyard_record_paper_engineering.png
  Resources/Textures/_NF/Interface/Misc/Paper/shipyard_record_paper_expedition.png
  Resources/Textures/_NF/Interface/Misc/Paper/shipyard_record_paper_medical.png
  Resources/Textures/_NF/Interface/Misc/Paper/shipyard_record_paper_nfsd.png
  Resources/Textures/_NF/Interface/Misc/Paper/shipyard_record_paper_salvage.png
  Resources/Textures/_NF/Interface/Misc/Paper/shipyard_record_paper_science.png
  Resources/Textures/_NF/Interface/Misc/Paper/shipyard_record_paper_scrap.png
  Resources/Textures/_NF/Interface/Misc/Paper/shipyard_record_paper_service.png
  Resources/Textures/_NF/Interface/Misc/Paper/shipyard_record_paper_syndicate.png
  Resources/Textures/_NF/Interface/Misc/Paper/shipyard_record_paper_undetermined.png
  Resources/Textures/_NF/Objects/Misc/shipyard_record_fax_paper.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/shipyard_record_fax_paper.rsi/paper_record_blackmarket.png
  Resources/Textures/_NF/Objects/Misc/shipyard_record_fax_paper.rsi/paper_record_cargo.png
  Resources/Textures/_NF/Objects/Misc/shipyard_record_fax_paper.rsi/paper_record_civilian.png
  Resources/Textures/_NF/Objects/Misc/shipyard_record_fax_paper.rsi/paper_record_engineering.png
  Resources/Textures/_NF/Objects/Misc/shipyard_record_fax_paper.rsi/paper_record_expedition.png
  Resources/Textures/_NF/Objects/Misc/shipyard_record_fax_paper.rsi/paper_record_medical.png
  Resources/Textures/_NF/Objects/Misc/shipyard_record_fax_paper.rsi/paper_record_nfsd.png
  Resources/Textures/_NF/Objects/Misc/shipyard_record_fax_paper.rsi/paper_record_salvage.png
  Resources/Textures/_NF/Objects/Misc/shipyard_record_fax_paper.rsi/paper_record_science.png
  Resources/Textures/_NF/Objects/Misc/shipyard_record_fax_paper.rsi/paper_record_scrap.png
  Resources/Textures/_NF/Objects/Misc/shipyard_record_fax_paper.rsi/paper_record_service.png
  Resources/Textures/_NF/Objects/Misc/shipyard_record_fax_paper.rsi/paper_record_syndicate.png
  Resources/Textures/_NF/Objects/Misc/shipyard_record_fax_paper.rsi/paper_record_undetermined.png
  Resources/Textures/_NF/Objects/Misc/shipyard_record_fax_paper.rsi/writing.png
Labels: Sprites, C#, FTL

Returned right executions
  Content.Shared/Execution/ExecutionSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: C#

Behemoth NFSD shuttle Prototype
  Resources/Prototypes/_NF/Shipyard/Nfsd/behemoth.yml
Labels: Map-Shuttle

Behemoth NFSD Shuttle Map
  Resources/Maps/_NF/Shuttles/Nfsd/behemoth.yml
Labels: Map-Shuttle

Welcome to the Junglegit add --all
  Resources/Audio/_NF/Effects/fart.ogg
  Resources/Locale/en-US/_NF/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_NF/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/_NF/Flavors/flavors.yml
  Resources/Prototypes/_NF/Reagents/Consumables/Drink/drinks.yml
  Resources/Prototypes/_NF/Recipes/Reactions/drinks.yml
  Resources/Prototypes/_NF/SoundCollections/emotes.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/meta.json
Labels: Sprites, FTL

Jungle Warfaregit add --all
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/meta.json
Labels: Sprites

uranium, wood diagonal walls
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium0.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium1.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium2.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium4.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/wood0.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/wood1.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/wood2.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/wood3.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/wood4.png
Labels: Sprites

did an oopsie with the sprites and added an unwanted file
  Resources/Prototypes/_NF/SoundCollections/emotes.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/icon_empty.png
Labels: Sprites

Reinforced diagonal walls
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf0.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf1.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf2.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf3.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf4.png
Labels: Sprites

Discovery Scrap Shuttle Map
  Resources/Maps/_NF/Shuttles/Scrap/discovery.yml
Labels: Map-Shuttle

Discovery Scrap Shuttle Prototype
  Resources/Prototypes/_NF/Shipyard/Scrap/discovery.yml
Labels: Map-Shuttle

Restore smooth tags, wood and reinf to diagonalnf
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/mining.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/_NF/Entities/Structures/Walls/diagonal_walls.yml
Labels: none

IconSmoothSystem: comments, whitespace
  Content.Client/IconSmoothing/IconSmoothSystem.cs
Labels: C#

reinforced walls in diagonal_walls
  Resources/Prototypes/_NF/Entities/Structures/Walls/diagonal_walls.yml
Labels: none

All windows: use "walls" icon smooth key
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/mining.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/_NF/Entities/Structures/Windows/plastitanium.yml
Labels: none

Update dragonfly.yml
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
Labels: Map-Shuttle

Update dragonfly.yml
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
Labels: Map-Shuttle

Dungeon gen compilation fixes
  Content.Server/Procedural/DungeonJob/DungeonJob.DunGenPrefab.cs
  Content.Server/Procedural/DungeonSystem.cs
  Content.Server/Procedural/RoomFillSystem.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Resources/Locale/en-US/_NF/loadouts/loadouts.ftl
Labels: C#, FTL

Gourg (Update)
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/Expedition/gourd.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/gourd.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Gourd.xml
Labels: Map-Shuttle, Docs, FTL

Yeet
  Resources/Maps/_NF/Shuttles/Expedition/decadedove.yml
  Resources/Maps/_NF/Shuttles/Expedition/pathfinder.yml
  Resources/Maps/_NF/Shuttles/loader.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/anchor.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/courserx.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/rosebudmkii.yml
  Resources/Prototypes/_NF/Shipyard/condor.yml
  Resources/Prototypes/_NF/Shipyard/esquire.yml
  Resources/Prototypes/_NF/Shipyard/knuckleverse.yml
  Resources/Prototypes/_NF/Shipyard/metastable.yml
  Resources/Prototypes/_NF/Shipyard/mission.yml
  Resources/Prototypes/_NF/Shipyard/pulse.yml
  Resources/Prototypes/_NF/Shipyard/rosebudmki.yml
  Resources/Prototypes/_NF/Shipyard/stratos.yml
  Resources/Prototypes/_NF/Shipyard/waveshot.yml
Labels: Map-Shuttle

Goblin accent "improvement" (#1626)
  Content.Server/_NF/Speech/EntitySystems/GoblinAccentSystem.cs
  Resources/Locale/en-US/_NF/accent/goblin_accent.ftl
  Resources/Prototypes/_NF/Accents/word_replacements.yml
  Resources/Prototypes/_NF/Entities/Mobs/Species/goblin.yml
Labels: C#, FTL

Automatic Changelog (#1626)
  Resources/Changelog/Changelog.yml
Labels: none

Update computers_shipyard_mothership.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
Labels: none

Gourg (Update) (#1676)
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/Expedition/gourd.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/gourd.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Gourd.xml
Labels: Map-Shuttle, Docs, FTL

Automatic Changelog (#1676)
  Resources/Changelog/Changelog.yml
Labels: none

Remove Some Ships (Waiting For Reworks) (#1677)
  Resources/Maps/_NF/Shuttles/Expedition/decadedove.yml
  Resources/Maps/_NF/Shuttles/Expedition/pathfinder.yml
  Resources/Maps/_NF/Shuttles/loader.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/anchor.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/courserx.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/rosebudmkii.yml
  Resources/Prototypes/_NF/Shipyard/condor.yml
  Resources/Prototypes/_NF/Shipyard/esquire.yml
  Resources/Prototypes/_NF/Shipyard/knuckleverse.yml
  Resources/Prototypes/_NF/Shipyard/metastable.yml
  Resources/Prototypes/_NF/Shipyard/mission.yml
  Resources/Prototypes/_NF/Shipyard/pulse.yml
  Resources/Prototypes/_NF/Shipyard/rosebudmki.yml
  Resources/Prototypes/_NF/Shipyard/stratos.yml
  Resources/Prototypes/_NF/Shipyard/waveshot.yml
Labels: Map-Shuttle

Automatic Changelog (#1677)
  Resources/Changelog/Changelog.yml
Labels: none

Update Resources/ServerInfo/_NF/Guidebook/Shipyard/Investigator.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Investigator.xml
Labels: Docs

Фикс баланса в ф7 и в админ-оверлее
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml.cs
Labels: UI, C#

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
