Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map, Shuttle

.github/labeler.yml:

"Map":
- 'Resources/Maps/**/*.yml' # All .yml files in the Resources/Maps directory, recursive.
- 'Resources/Prototypes/Maps/frontier.yml'
- 'Resources/Prototypes/_NF/Shipyard/*.yml' # POI's are also here for some reason.

"Shuttle":
- 'Resources/Maps/Shuttles/*.yml' # All .yml files directly in the Resources/Maps/Shuttles directory.
- 'Resources/Prototypes/_NF/Shipyard/*.yml' # Shuttles!

Pioneer Rework
  Resources/Maps/Shuttles/pioneer.yml
  Resources/Prototypes/_NF/Shipyard/pioneer.yml
Labels: Map, Shuttle

First version of NFSD station, wip
  Resources/Maps/nfsd.yml
Labels: Map

removed PDA, replaced one locker with AutoDrobe
  Resources/Maps/Shuttles/honker.yml
Labels: Map, Shuttle

Kegs for Bars and Breweries (#776)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/drinks_keg.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/base.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/label.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/base.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/label.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/meta.json
Labels: none

Automatic Changelog (#776)
  Resources/Changelog/Changelog.yml
Labels: none
