Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

Update Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_medical.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_medical.yml
Labels: none

Fixup
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/drinks_keg.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/keg-empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/base.png
Labels: Sprites

Update Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
Labels: UI, C#

initial commit
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/barrel.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/barrel.yml
  Resources/Prototypes/Recipes/Crafting/barrel.yml
  Resources/Textures/Objects/Storage/barrel.rsi/base.png
  Resources/Textures/Objects/Storage/barrel.rsi/closed.png
  Resources/Textures/Objects/Storage/barrel.rsi/meta.json
  Resources/Textures/Objects/Storage/barrel.rsi/open.png
  Resources/Textures/Objects/Storage/keg.rsi/base.png
  Resources/Textures/Objects/Storage/keg.rsi/meta.json
Labels: Sprites

fix congraph
  Resources/Prototypes/Recipes/Crafting/barrel.yml
Labels: none

one pixel annoying me
  Resources/Textures/Objects/Storage/keg.rsi/base.png
Labels: Sprites

new keg
  Resources/Textures/Objects/Storage/barrel.rsi/base.png
  Resources/Textures/Objects/Storage/barrel.rsi/closed.png
  Resources/Textures/Objects/Storage/barrel.rsi/open.png
  Resources/Textures/Objects/Storage/keg.rsi/base.png
  Resources/Textures/Objects/Storage/keg.rsi/meta.json
Labels: Sprites

further refinement of sprites
  Resources/Textures/Objects/Storage/barrel.rsi/base.png
  Resources/Textures/Objects/Storage/barrel.rsi/open.png
  Resources/Textures/Objects/Storage/keg.rsi/base.png
Labels: Sprites

fix perspective
  Resources/Textures/Objects/Storage/keg.rsi/base.png
  Resources/Textures/Objects/Storage/keg.rsi/meta.json
Labels: Sprites

fix yml a bit
  Resources/Prototypes/Entities/Structures/Storage/Crates/barrel.yml
Labels: none

basic sprites, un-mussied
  Resources/Prototypes/Entities/Structures/Storage/Crates/barrel.yml
  Resources/Textures/Objects/Storage/barrel.rsi/meta.json
  Resources/Textures/Objects/Storage/barrel.rsi/metal_blue.png
  Resources/Textures/Objects/Storage/barrel.rsi/metal_explosive_label.png
  Resources/Textures/Objects/Storage/barrel.rsi/metal_grey.png
  Resources/Textures/Objects/Storage/barrel.rsi/metal_red.png
  Resources/Textures/Objects/Storage/barrel.rsi/metal_yellow.png
Labels: Sprites

explodey time
  Resources/Prototypes/Entities/Structures/Storage/Crates/barrel.yml
Labels: none

Update barrel.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/barrel.yml
Labels: none

im stupiod
  Resources/Prototypes/Entities/Structures/Storage/Crates/barrel.yml
Labels: none

Update barrel.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/barrel.yml
Labels: none

Update barrel.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/barrel.yml
Labels: none

chemicals
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/barrel.yml
Labels: none

better sprites
  Resources/Prototypes/Entities/Structures/Storage/Crates/barrel.yml
  Resources/Textures/Objects/Storage/barrel.rsi/meta.json
  Resources/Textures/Objects/Storage/barrel.rsi/metal_blue.png
  Resources/Textures/Objects/Storage/barrel.rsi/metal_explosive_label.png
  Resources/Textures/Objects/Storage/barrel.rsi/metal_green.png
  Resources/Textures/Objects/Storage/barrel.rsi/metal_grey.png
  Resources/Textures/Objects/Storage/barrel.rsi/metal_red.png
  Resources/Textures/Objects/Storage/barrel.rsi/metal_warning_label.png
  Resources/Textures/Objects/Storage/barrel.rsi/metal_yellow.png
Labels: Sprites

no suffixes
  Resources/Prototypes/Entities/Structures/Storage/Crates/barrel.yml
Labels: none

Fix client crash when accessing some shuttle consoles (#1772)
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
Labels: UI, C#

Automatic Changelog (#1772)
  Resources/Changelog/Changelog.yml
Labels: none

no suffixes
  Resources/Prototypes/Entities/Structures/Storage/Crates/barrel.yml
Labels: none

Pioneer update. Split air to oxy and nitro. Remove railing under engine. Update guidebokk.
  Resources/Maps/_NF/Shuttles/pioneer.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Pioneer.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/pioneer.png
Labels: Map-Shuttle, Sprites, Docs

Fixed faction on experimental nfsd hardsuit (#1775)
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: none

Automatic Changelog (#1775)
  Resources/Changelog/Changelog.yml
Labels: none

2 hands
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/drinks_keg.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/inhand-right.png
Labels: Sprites

Update dev_map.yml
  Resources/Maps/_NF/Test/dev_map.yml
Labels: none

Fix animation
  Content.Client/_NF/Market/Systems/SharedMarketSystem.CrateMachine.cs
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
  Content.Shared/_NF/Market/Components/CrateMachineComponent.cs
  Resources/Prototypes/_NF/Entities/Structures/Machines/crate_machine.yml
Labels: C#

Update dev_map.yml (#1777)
  Resources/Maps/_NF/Test/dev_map.yml
Labels: none

Cleanup & bugfixes
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Server/Content.Server.csproj
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: Map-Shuttle, Map-POI, UI, C#

ShuttleConsole BUI: add Frontier comments
  Content.Client/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
Labels: C#

Update salvage.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
Labels: none

Add transaction costs
  Content.Client/_NF/Market/UI/MarketMenu.xaml
  Content.Client/_NF/Market/UI/MarketMenu.xaml.cs
  Content.Server/_NF/Market/Components/MarketConsoleComponent.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Content.Shared/_NF/Market/BUI/MarketConsoleInterfaceState.cs
  Resources/Locale/en-US/_NF/market/market-console-component.ftl
Labels: UI, C#, FTL

Update barrel.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/barrel.yml
Labels: none

console.ftl: dampening btns: "Cruise, Drive, Park"
  Resources/Locale/en-US/_NF/shuttles/console.ftl
Labels: FTL

Update barrel.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/barrel.yml
Labels: none

Update barrel.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/barrel.yml
Labels: none

Kegs
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/barrel.yml
Labels: none

Spawn stacks
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Content.Server/_NF/Market/Systems/MarketSystem.cs
Labels: C#

Corvax Localisation
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Content.Server/Speech/EntitySystems/BarkAccentSystem.cs
  Content.Server/Speech/EntitySystems/StutteringSystem.cs
  Content.Shared/Humanoid/NamingSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Prototypes/DeltaV/Detasets/Names/vulpkanin_female.yml
  Resources/Prototypes/DeltaV/Detasets/Names/vulpkanin_last.yml
  Resources/Prototypes/DeltaV/Detasets/Names/vulpkanin_male.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Prototypes/radio_channels.yml
Labels: C#
