Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

Фиксы линтера 2
  Resources/Audio/Announcements/meteors.ogg
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/Events/events.yml
Labels: none

Bulker (Update) (#1625)
  Resources/Maps/_NF/Shuttles/bulker.yml
  Resources/Prototypes/_NF/Shipyard/bulker.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Bulker.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/bulker.png
Labels: Map-Shuttle, Sprites, Docs

Automatic Changelog (#1625)
  Resources/Changelog/Changelog.yml
Labels: none

Kestrel (Update) (#1627)
  Resources/Maps/_NF/Shuttles/Expedition/kestrel.yml
  Resources/Maps/_NF/Shuttles/kestrel.yml
  Resources/Prototypes/_NF/Shipyard/kestrel.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Kestrel.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/kestrel.png
Labels: Map-Shuttle, Sprites, Docs

Automatic Changelog (#1627)
  Resources/Changelog/Changelog.yml
Labels: none

NM Spirit quality of life update. (#1574)
  Resources/Maps/_NF/Shuttles/spirit.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Spirit.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/spirit.png
Labels: Map-Shuttle, Sprites, Docs

Automatic Changelog (#1574)
  Resources/Changelog/Changelog.yml
Labels: none

ShuttleSystem: initial query
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/_NF/Shuttles/Events/SetInertiaDampeningRequest.cs
  Content.Shared/_NF/Shuttles/Events/ToggleStabilizerRequest.cs
Labels: UI, C#

NT Bottleneck (New) - Station Representative personal transport/office and SR shipyard console (#1580)
  .github/mapchecker/whitelist.yml
  Content.Shared/Shipyard/SharedShipyardSystem.cs
  Resources/Maps/_NF/Shuttles/Sr/bottleneck.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
  Resources/Textures/_NF/Structures/Machines/computers.rsi/computer_sr.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard_sr.png
Labels: Map-Shuttle, Sprites, C#

Automatic Changelog (#1580)
  Resources/Changelog/Changelog.yml
Labels: none

shuttle fix: ShuttleDeedComponent belongs to grid
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
Labels: C#

SBB Hammer (New): Medium engineering shuttle (#1611)
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/hammer.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/hammer.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Hammer.xml
Labels: Map-Shuttle, Docs, FTL

Automatic Changelog (#1611)
  Resources/Changelog/Changelog.yml
Labels: none

Criminal and Shipyard records fax vessel class integration
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/NFSD_Records/ShipyardRecordPaperSystem.cs
  Content.Shared/Shipyard/Prototypes/VesselPrototype.cs
  Resources/Locale/en-US/_NF/shipyard/shipyard-record-paper.ftl
Labels: C#, FTL

Airlock correction
  Resources/Maps/_NF/Shuttles/apothecary.yml
Labels: Map-Shuttle

Apothecary Shuttle Again! (#1634)
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/apothecary.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/apothecary.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Apothecary.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/apothecary.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Map-Shuttle, Sprites, Docs, FTL

Фиксики
  Resources/Locale/en-US/markings/oni.ftl
  Resources/Maps/_NF/Shuttles/bulker.yml
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/pilot.png
Labels: Map-Shuttle, Sprites, FTL

fix
  Resources/Prototypes/_NF/Shipyard/Nfsd/rogue.yml
Labels: Map-Shuttle

The timer now resets for the current poster if it detects any other posters that are active nearby
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/pirate_scanner.yml
Labels: C#

Фикс линтера
  Resources/Prototypes/Corvax/StatusEffects/job.yml
  Resources/Textures/_NF/Mobs/Aliens/Carps/holo.rsi/dead_mouth.png
Labels: Sprites

Syndie Ship Voucher
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/ship_vouchers.yml
Labels: none

Мертвого заебешь
  Resources/Prototypes/Corvax/Species/vulpkanin.yml
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/pilot.png
Labels: Sprites

Update vulpkanin.yml
  Resources/Prototypes/Corvax/Species/vulpkanin.yml
Labels: none

Automatic Changelog (#1618)
  Resources/Changelog/Changelog.yml
Labels: none

фикс
  Resources/Prototypes/Corvax/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: none

Да заебешь
  Resources/Prototypes/Corvax/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: none

Заебешь
  Resources/Prototypes/Corvax/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: none

bringing it up
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/akupara.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/akupara.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Akupara.xml
Labels: Map-Shuttle, Docs, FTL

ok who changed the chemmaster entityname and broke my guide
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Akupara.xml
Labels: Docs

snuck a mug into the bridge
  Resources/Maps/_NF/Shuttles/akupara.yml
Labels: Map-Shuttle

fixing an mv cable (ugh)
  Resources/Maps/_NF/Shuttles/akupara.yml
Labels: Map-Shuttle

fix chat
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: C#

Last bits for vehicles (thanks tsjip, simyon)
  Content.Shared/Vehicle/SharedVehicleSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
  Resources/Prototypes/_NF/Entities/Objects/Vehicles/vehicles.yml
Labels: C#

fixed distro labels and turned on the filters
  Resources/Maps/_NF/Shuttles/akupara.yml
Labels: Map-Shuttle

oh my god i forgot to set the air ratio
  Resources/Maps/_NF/Shuttles/akupara.yml
Labels: Map-Shuttle

chemical locker fixed
  Resources/Maps/_NF/Shuttles/akupara.yml
Labels: Map-Shuttle

adding some logging
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
Labels: UI, C#

Adds the "Kaufman" ship.
  Resources/Maps/_NF/Shuttles/kaufman.yml
  Resources/Prototypes/_NF/Shipyard/kaufman.yml
Labels: Map-Shuttle

5-state diagonal smoothing and uranium test
  Content.Client/IconSmoothing/IconSmoothComponent.cs
  Content.Client/IconSmoothing/IconSmoothSystem.cs
  Resources/Prototypes/_NF/Entities/Structures/Walls/diagonal_walls.yml
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium0.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium1.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium2.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium3.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium4.png
Labels: Sprites, C#

fix syntax errors
  Content.Client/IconSmoothing/IconSmoothSystem.cs
Labels: C#
