Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

Save old bank balance on randomized characters (#1738)
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: UI, C#

Automatic Changelog (#1738)
  Resources/Changelog/Changelog.yml
Labels: none

No
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/biological.yml
Labels: C#

Late join lobby UI fixes (#1716)
  Content.Client/_NF/Latejoin/NFLateJoinGui.xaml.cs
  Content.Client/_NF/Latejoin/NewFrontierLateJoinJobButton.xaml.cs
  Content.Client/_NF/Latejoin/VesselListControl.xaml.cs
Labels: UI, C#

Automatic Changelog (#1716)
  Resources/Changelog/Changelog.yml
Labels: none

Minor fixes and tweaks for blood moon and syndie vessel (#1709)
  Resources/Maps/_NF/Bluespace/bloodmoon.yml
  Resources/Maps/_NF/Bluespace/syndieftlintercept.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/bloodcult.yml
  Resources/Textures/_NF/Structures/Specific/BloodCult/glowingfloor.rsi/meta.json
  Resources/Textures/_NF/Structures/Specific/BloodCult/glowingfloor.rsi/wallglow.png
Labels: Map-Bluespace, Sprites

Automatic Changelog (#1709)
  Resources/Changelog/Changelog.yml
Labels: none

Update Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/gestio.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/gestio.yml
Labels: none

Update Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/gestio.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/gestio.yml
Labels: none

Update ammo.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
Labels: none

minAngle nerf: bring in line with other wieldables
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/gestio.yml
Labels: none

Gestio Re-balance (#1729)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_mercenaries.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle_low.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/gestio.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/mag-1.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/practice.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/red.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/rubber.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/uranium.png
Labels: Sprites

Automatic Changelog (#1729)
  Resources/Changelog/Changelog.yml
Labels: none

Update apothecary.yml
  Resources/Prototypes/_NF/Shipyard/apothecary.yml
Labels: Map-Shuttle

No (#1743)
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/biological.yml
Labels: C#

Automatic Changelog (#1743)
  Resources/Changelog/Changelog.yml
Labels: none

Update portable_generator.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
Labels: none

Stamps don't walk off the sheet, check stamp count
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Server/Paper/PaperSystem.cs
Labels: UI, C#

The Mask
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/face.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/face.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Nfsd/face.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pilot/face.yml
Labels: none

SR Forms: fix missing bold tag
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_sr.yml
Labels: none

Sheriff Cleanup
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
Labels: none

Automatic Changelog (#1717)
  Resources/Changelog/Changelog.yml
Labels: none

NFSD: name badges with their ranks
  Resources/Prototypes/_NF/Entities/Clothing/Neck/scarfs.yml
Labels: none

named nfsd badges
  Resources/Prototypes/_NF/Entities/Clothing/Neck/scarfs.yml
Labels: none

sex-based loadout effects, hide boxer shorts
  Content.Shared/_NF/Preferences/Loadouts/Effects/RoleBlacklistLoadoutEffect.cs
  Content.Shared/_NF/Preferences/Loadouts/Effects/SexLoadoutEffect.cs
  Resources/Locale/en-US/_NF/preferences/loadout-effects.ftl
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/shoes.yml
  Resources/Prototypes/_NF/Loadouts/loadout_effects.yml
Labels: C#, FTL

Empty Welders
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
Labels: none

Update welders.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/welders.yml
Labels: none

Empty Welders (#1744)
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
Labels: none

Automatic Changelog (#1744)
  Resources/Changelog/Changelog.yml
Labels: none

Add a few recipes to the engineering techfab (#1720)
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/devices.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
Labels: none

Automatic Changelog (#1720)
  Resources/Changelog/Changelog.yml
Labels: none

Before Gib Fixup (#1735)
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Explosion/Components/OnTrigger/GibOnTriggerComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/_NF/Body/Components/BeforeGibbedEvent.cs
  Content.Server/_NF/Explosion/Components/TriggerOnBeingGibbedComponent.cs
  Content.Server/_NF/Explosion/EntitySystems/TriggerSystem.BeingGibbed.cs
  Resources/Prototypes/Entities/Markers/Spawners/corpses.yml
  Resources/Prototypes/Entities/Mobs/Corpses/corpses.yml
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_corpses.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/corpses.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/subdermal_implants.yml
  Resources/migration.yml
Labels: C#

Radioactive HyperPacman Generator (#1712)
  Content.Server/Power/Generator/GeneratorSystem.cs
  Content.Server/Power/Generator/PortableGeneratorSystem.cs
  Content.Shared/Power/Generator/FuelGeneratorComponent.cs
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
  Resources/Textures/_NF/Structures/Power/Generation/portable_generator.rsi/meta.json
  Resources/Textures/_NF/Structures/Power/Generation/portable_generator.rsi/portgen1.png
  Resources/Textures/_NF/Structures/Power/Generation/portable_generator.rsi/portgen1on.png
  Resources/Textures/_NF/Structures/Power/Generation/portable_generator.rsi/portgen_on_unlit.png
Labels: Map-Dungeon, Sprites, C#

Automatic Changelog (#1712)
  Resources/Changelog/Changelog.yml
Labels: none

NFSD Badges, Loadout Decency (#1745)
  Content.Shared/_NF/Preferences/Loadouts/Effects/RoleBlacklistLoadoutEffect.cs
  Content.Shared/_NF/Preferences/Loadouts/Effects/SexLoadoutEffect.cs
  Resources/Locale/en-US/_NF/preferences/loadout-effects.ftl
  Resources/Prototypes/_NF/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/shoes.yml
  Resources/Prototypes/_NF/Loadouts/loadout_effects.yml
Labels: C#, FTL

30% markup
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/brigand.yml
Labels: Map-Shuttle

Update vending_machines.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: none

mobs
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_bloodcultist.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_wizardfederation.yml
Labels: none

Update dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
Labels: none

Update dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
Labels: none
