Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

missed those (#1658)
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
Labels: none

Automatic Changelog (#1658)
  Resources/Changelog/Changelog.yml
Labels: none

мерсен, помяукай об этом
  Content.Shared/Research/Prototypes/LatheRecipePrototype.cs
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Corvax/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
Labels: C#

Update FactionClothingSystem.cs
  Content.Shared/Clothing/EntitySystems/FactionClothingSystem.cs
Labels: C#

Update FactionClothingSystem.cs (#1659)
  Content.Shared/Clothing/EntitySystems/FactionClothingSystem.cs
Labels: C#

Update contraband_clothing_base.yml
  Resources/Prototypes/_NF/Entities/Clothing/contraband_clothing_base.yml
Labels: none

Unfood
  Resources/Maps/_NF/Shuttles/Nfsd/prowler.yml
Labels: Map-Shuttle

Server-based dampening state
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Content.Server/_NF/Station/Components/StationDampeningComponent.cs
  Content.Shared/Shuttles/BUIStates/NavInterfaceState.cs
  Content.Shared/_NF/Station/Components/StationDampeningComponent.cs
Labels: UI, C#

немножка фиксов by Могучий Прекрасный Ужасающий Страстный Изумительный Всепобеждающий Неустанный Решительный Чарующий Таинственный Чувственный Бесстрашный Непобедимый mersen
  Resources/Prototypes/Corvax/Entities/Objects/Materials/gems.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: none

fix entity in NfGetInertialDampeningMode
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
Labels: C#

past tense event, whitespace, comments
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_NF/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
Labels: UI, C#

ToggleStabilizer->SetInertiaDampening
  Content.Client/_NF/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/_NF/Shuttles/Events/SetInertiaDampeningRequest.cs
Labels: UI, C#

Lathe: respect initial upgrade rate as coefficient
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
Labels: C#

Fix CircuitImprinter prototype
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: none

Gyro
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_nfsd.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_security.yml
Labels: none

Update empress.yml
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
Labels: Map-Shuttle

Lathe: fix displayed UI amounts, materials used
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Server/Lathe/LatheSystem.cs
Labels: UI, C#

Update empress.yml
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
Labels: Map-Shuttle

Update empress.yml
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
Labels: Map-Shuttle

Remove invisible IFF from prowler (#1649)
  Resources/Maps/_NF/Shuttles/Nfsd/prowler.yml
Labels: Map-Shuttle

Automatic Changelog (#1649)
  Resources/Changelog/Changelog.yml
Labels: none

Update config.py
  .github/mapchecker/config.py
Labels: none

Update bazaar.yml
  Resources/Maps/_NF/Shuttles/bazaar.yml
Labels: Map-Shuttle

Update config.py
  .github/mapchecker/config.py
Labels: none

Update whitelist.yml
  .github/mapchecker/whitelist.yml
Labels: none

Update whitelist.yml
  .github/mapchecker/whitelist.yml
Labels: none

ShuttleSystem: check for shuttle deed
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
Labels: C#

Bazaar (Update) (#1639)
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/bazaar.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/bazaar.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Bazaar.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/bazaar.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Map-Shuttle, Sprites, Docs, FTL

Automatic Changelog (#1639)
  Resources/Changelog/Changelog.yml
Labels: none

Remove Secrets
  .github/workflows/publish.yml
  .gitignore
  .gitmodules
Labels: none

Update liquidator.yml
  Resources/Maps/_NF/Shuttles/liquidator.yml
Labels: Map-Shuttle

Update liquidator.yml
  Resources/Maps/_NF/Shuttles/liquidator.yml
Labels: Map-Shuttle

Sheriff, ERT Mail Carrier Starting Gear: vacate suitstorage (#1654)
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/mail_capsule.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
Labels: none

Automatic Changelog (#1654)
  Resources/Changelog/Changelog.yml
Labels: none

Liquidator (Update) (#1624)
  Resources/Maps/_NF/Shuttles/liquidator.yml
  Resources/Prototypes/_NF/Shipyard/liquidator.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Liquidator.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/liquidator.png
Labels: Map-Shuttle, Sprites, Docs

Automatic Changelog (#1624)
  Resources/Changelog/Changelog.yml
Labels: none

Added check to see how many dead drop components are nearby
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
Labels: C#

Pipes fucked
  Resources/Maps/_NF/Shuttles/eagle.yml
Labels: Map-Shuttle

Empress V-3.4 (#1650)
  .github/mapchecker/config.py
  .github/mapchecker/whitelist.yml
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
  Resources/Maps/_NF/Shuttles/Nfsd/rogue.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_nfsd.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_security.yml
Labels: Map-Shuttle

Automatic Changelog (#1650)
  Resources/Changelog/Changelog.yml
Labels: none
