Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

вырезал систему казни (нужно фиксить)
  Content.Shared/Execution/ExecutionSystem.cs
Labels: C#

VPN try 2
  Content.Client/Administration/UI/Tabs/PanicBunkerTab/PanicBunkerTab.xaml
  Content.Client/Administration/UI/Tabs/PanicBunkerTab/PanicBunkerTab.xaml.cs
  Content.Server/Administration/Commands/PanicBunkerCommand.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Corvax/Administration/Commands/PanicBunkerCommand.cs
  Content.Shared/Administration/Events/PanicBunkerChangedEvent.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Corvax/CCCVars/CCCVars.cs
  Resources/Locale/ru-RU/administration/ui/tabs/panicbunker-tab.ftl
  Resources/Locale/ru-RU/corvax/administration/commands/panicbunker.ftl
  Resources/Locale/ru-RU/generic.ftl
Labels: UI, C#, FTL

ChatSystem fix
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: C#

ChatSystem event fix
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: C#

Fix manifest
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
Labels: C#

I wish for actual brewing but here we are making torpedo juice
  Resources/Locale/en-US/_NF/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_NF/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/_NF/Flavors/flavors.yml
  Resources/Prototypes/_NF/Reagents/Consumables/Drink/drinks.yml
  Resources/Prototypes/_NF/Recipes/Reactions/drinks.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/meta.json
Labels: Sprites, FTL

YAML changes, sec, magboots, dungen pt 1
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
Labels: none

dungeon configs pt 2
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
Labels: none

dungeon generation pt 3
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
Labels: none

dungeon generation pt 4
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
Labels: none

dungeon generation pt 5
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
Labels: none

Comment out the rest of the space ninja rule
  Resources/Prototypes/_NF/Events/events.yml
Labels: none

inspector's coat entity id fix, magboot alerts
  Resources/Prototypes/_NF/Alerts/magboots.yml
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/outer.yml
Labels: none

reflect: remove enabled (pt 1)
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_bloodcultist.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_wizardfederation.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/sword.yml
Labels: none

dungeon config fixes, remove reinf. tile recipes
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
  Resources/Prototypes/_NF/Recipes/Lathes/floortiles.yml
Labels: none

Remove PreventLabel tag (temporarily?)
  Content.Server/Labels/Label/LabelSystem.cs
  Content.Server/Nyanotrasen/Item/PseudoItem/PseudoItemSystem.cs
Labels: C#

PseudoItemSystem: comment out PreventTag for now
  Content.Server/Nyanotrasen/Item/PseudoItem/PseudoItemSystem.cs
Labels: C#

Add 'Client/Server (Release)' build for VSCode
  .vscode/launch.json
  .vscode/tasks.json
Labels: none

initial commit
  Resources/Maps/_NF/Shuttles/commodore.yml
  Resources/Prototypes/_NF/Shipyard/commodore.yml
Labels: Map-Shuttle

initial commit
  Resources/Prototypes/_NF/Entities/Clothing/Head/goblin_headwear.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/goblin_outerclothing.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/goblin_robes_graph.yml
  Resources/Prototypes/_NF/Recipes/Crafting/goblin_clothes.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Clothing/Head/Helmets/goblin_eva_hood.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Helmets/goblin_eva_hood.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Helmets/goblin_eva_hood.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hoods/goblin_robe_hood.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hoods/goblin_robe_hood.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hoods/goblin_robe_hood.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/goblin_robes.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/goblin_robes.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/goblin_robes.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/goblin_robes.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/goblin_robes.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/goblin_eva_robes.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/goblin_eva_robes.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/goblin_eva_robes.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/goblin_eva_robes.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/goblin_eva_robes.rsi/meta.json
Labels: Sprites

Resolve belts.yml merge conflicts
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
Labels: none

Restore handhold mass scanner
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
Labels: none

blood cult belt, separate NF bar signs
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_blood_cult.yml
  Resources/Prototypes/_NF/bar_signs.yml
  Resources/Textures/Structures/Wallmounts/barsign.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/barsign.rsi/littletreats.png
  Resources/Textures/_NF/Structures/Wallmounts/barsign.rsi/maltroach.png
  Resources/Textures/_NF/Structures/Wallmounts/barsign.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/barsign.rsi/neonflamingos.png
  Resources/Textures/_NF/Structures/Wallmounts/barsign.rsi/therune.png
  Resources/Textures/_NF/Structures/Wallmounts/barsign.rsi/whiskeyechoes.png
Labels: Sprites

bar_sign.yml: localized name/desc strings
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/bar_sign.yml
Labels: none

Add 'Client/Server (Release)' build for VSCode (#1678)
  .vscode/launch.json
  .vscode/tasks.json
Labels: none

Reflect fix for blood cultist mobs
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_bloodcultist.yml
Labels: none

Fix blood cult belt (again)
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_blood_cult.yml
Labels: none

Lowered the chance of posters appearing and thus being Dead Drops, made pirates have a 1/3 of knowing the smuggler's ship ID after 15 minutes and added a guidebook entry
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
  Resources/Prototypes/_NF/Entities/Markers/Spawners/posters.yml
  Resources/ServerInfo/Guidebook/Security/Forensics.xml
Labels: C#, Docs

MapScreen.xaml.cs: restore Frontier comment
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
Labels: UI, C#

MapScreen: revert flag change (no byte | byte)
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
Labels: UI, C#

made requested changes
  Resources/Maps/_NF/Shuttles/commodore.yml
  Resources/Prototypes/_NF/Shipyard/commodore.yml
Labels: Map-Shuttle

Remove FloorTileItemReinforced from lathe recipes
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/floortiles.yml
Labels: none

whoopsie
  Resources/Maps/_NF/Shuttles/commodore.yml
Labels: Map-Shuttle

role_loadouts: comment Frontier-specific lines
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: none

vending_machines.yml: comment modified lines
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: none

fallback medical tracker
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: none

Add files via upload
  Resources/ConfigPresets/Frontier/main.toml
Labels: none

Update main.toml
  Resources/ConfigPresets/Frontier/main.toml
Labels: none

anchorreworkpull
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/anchor.yml
Labels: Map-Shuttle

vaccum markers
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
Labels: Map-Shuttle
