Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

Removed Invalid DeviceNetwork, Updated LVcable and Atmosia on Grifty
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/trade.yml
Labels: Map-POI

Harpy skirt fixes: prisoner jumpskirt, colorpants
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/random_suit.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/random_suit.yml
Labels: none

typo, whitespace
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/random_suit.yml
Labels: none

EOL EOF
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/random_suit.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/specific.yml
Labels: none

Remove Harpy Skirt Tag, Replace it with a comp (#1702)
  Content.Shared/_NF/Clothing/Components/HarpyClothingComponent.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/DeltaV/InventoryTemplates/digitigrade_inventory_template.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/random_suit.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/specific.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/random_suit.yml
Labels: C#

Automatic Changelog (#1702)
  Resources/Changelog/Changelog.yml
Labels: none

Cognizine, opporozidone syringe fixes (#1691)
  Resources/Prototypes/_NF/Mail/Items/misc.yml
Labels: none

Automatic Changelog (#1691)
  Resources/Changelog/Changelog.yml
Labels: none

Oni Cleanup
  Content.Shared/Humanoid/NamingSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Locale/en-US/nyanotrasen/species/namepreset.ftl
  Resources/Prototypes/Nyanotrasen/Species/oni.yml
Labels: C#, FTL

MailPod (Update) (#1686)
  Resources/Maps/_NF/Shuttles/mailpod.yml
  Resources/Prototypes/_NF/Shipyard/mailpod.yml
  Resources/Prototypes/_NF/Shipyard/parcel.yml
Labels: Map-Shuttle

Removed Invalid DeviceNetwork, Updated LVcable and Atmosia on Grifty (#1703)
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/trade.yml
Labels: Map-POI

ComputerTabletopComputerIFFPOI->ComputerTabletop*
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/migration.yml
Labels: Map-POI

Oni fix
  Content.Shared/Humanoid/NamingSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Locale/en-US/nyanotrasen/species/namepreset.ftl
Labels: C#, FTL

Update oni.yml
  Resources/Prototypes/Nyanotrasen/Species/oni.yml
Labels: none

ComputerTabletopComputerIFFPOI->ComputerTabletop* (#1705)
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/migration.yml
Labels: Map-POI

Oni Cleanup (#1704)
  Content.Shared/Humanoid/NamingSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Locale/en-US/nyanotrasen/species/namepreset.ftl
  Resources/Prototypes/Nyanotrasen/Species/oni.yml
Labels: C#, FTL

Goblin traditional robes (#1680)
  Resources/Prototypes/_NF/Entities/Clothing/Head/goblin_headwear.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/goblin_outerclothing.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/goblin_robes_graph.yml
  Resources/Prototypes/_NF/Recipes/Crafting/goblin_clothes.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Clothing/Head/Helmets/goblin_eva_hood.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Helmets/goblin_eva_hood.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Helmets/goblin_eva_hood.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hoods/goblin_robe_hood.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hoods/goblin_robe_hood.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hoods/goblin_robe_hood.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/goblin_robes.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/goblin_robes.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/goblin_robes.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/goblin_robes.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/goblin_robes.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/goblin_eva_robes.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/goblin_eva_robes.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/goblin_eva_robes.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/goblin_eva_robes.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/goblin_eva_robes.rsi/meta.json
Labels: Sprites

Automatic Changelog (#1680)
  Resources/Changelog/Changelog.yml
Labels: none

Pen signing fix (Again) (#1689)
  Content.Server/Paper/PaperSystem.cs
Labels: C#

Update wall_lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
Labels: none

Update wall_lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
Labels: none

Chemistry Locker Hotfix (#1629)
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
Labels: none

cancel vs. skip, spawning fixes
  Content.Client/_NF/Pirate/UI/PirateBountyEntry.xaml.cs
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Server/_NF/Pirate/Components/SectorPirateBountyDatabaseComponent.cs
  Resources/Locale/en-US/_NF/cargo/pirate-bounty-console.ftl
Labels: UI, C#, FTL

blood moon invis walls, syndie intercept loose pipe and walls
  Resources/Maps/_NF/Bluespace/bloodmoon.yml
  Resources/Maps/_NF/Bluespace/syndieftlintercept.yml
Labels: Map-Bluespace

Undupe pirate-pallet strings
  Resources/Locale/en-US/_NF/cargo/pirate-pallet.ftl
Labels: FTL

30 minute cancel
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Server/_NF/Pirate/Components/SectorPirateBountyDatabaseComponent.cs
Labels: C#

McEvent
  Content.Server/StationEvents/Components/BluespaceCargoRuleComponent.cs
  Content.Server/StationEvents/Events/BluespaceCargoRule.cs
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_NF/Events/events_nf.yml
Labels: C#

McEvent
  Resources/Maps/_NF/Bluespace/mcevent.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/_NF/Entities/Effects/bluespace_flash.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_NF/Events/events_bluespace.yml
  Resources/Prototypes/_NF/Events/events_nf.yml
Labels: Map-Bluespace

fix pirates rule
  Resources/ServerInfo/_NF/Guidebook/Rules/12_PVP.xml
Labels: Docs

fix pirates rule (#1707)
  Resources/ServerInfo/_NF/Guidebook/Rules/12_PVP.xml
Labels: Docs

Automatic Changelog (#1707)
  Resources/Changelog/Changelog.yml
Labels: none

Update Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/meta.json
Labels: Sprites

Update Content.Server/StationEvents/Components/BluespaceCargoRuleComponent.cs
  Content.Server/StationEvents/Components/BluespaceCargoRuleComponent.cs
Labels: C#

Update Content.Server/StationEvents/Events/BluespaceCargoRule.cs
  Content.Server/StationEvents/Events/BluespaceCargoRule.cs
Labels: C#

Update Resources/Prototypes/_NF/Events/events_nf.yml
  Resources/Prototypes/_NF/Events/events_nf.yml
Labels: none

Update Resources/Prototypes/_NF/Events/events_nf.yml
  Resources/Prototypes/_NF/Events/events_nf.yml
Labels: none

Update Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
Labels: none

Move
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/food.yml
Labels: none

Fixup
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_NF/Events/events_bluespace.yml
  Resources/Prototypes/_NF/Events/events_nf.yml
Labels: none

Update box.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
Labels: none
