Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

Salvage spawner: offset the shuttle and dungeon
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
Labels: C#

Make shuttle deeds inspectable + show on PDA
  Content.Client/PDA/PdaMenu.xaml
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Server/Shipyard/Systems/ShuttleDeedSystem.cs
  Content.Shared/PDA/PdaUpdateState.cs
  Resources/Locale/en-US/_NF/pda/pda-component.ftl
  Resources/Locale/en-US/_NF/shipyard/shuttle-deed-system.ftl
Labels: UI, C#, FTL

Don't change title to 'Captain' when buying a ship
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
Labels: none

Comment out vgroids for now
  Resources/Prototypes/Procedural/vgroid.yml
Labels: none

Remove DC Cleithro
  Resources/Prototypes/_NF/Shipyard/cleithro.yml
Labels: Map-Shuttle

Brigand (Update) (#1715)
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/shuttle_items.yml
Labels: Map-Shuttle

Automatic Changelog (#1715)
  Resources/Changelog/Changelog.yml
Labels: none

Remove DC Cleithro (#1767)
  Resources/Prototypes/_NF/Shipyard/cleithro.yml
Labels: Map-Shuttle

Automatic Changelog (#1767)
  Resources/Changelog/Changelog.yml
Labels: none

Baseline
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/napkin.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/napkin.png
  Resources/Textures/_NF/Objects/Specific/Service/napkin.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Service/napkin.rsi/napkin.png
  Resources/Textures/_NF/Objects/Specific/Service/napkindrum.rsi/drum0.png
  Resources/Textures/_NF/Objects/Specific/Service/napkindrum.rsi/drum1.png
  Resources/Textures/_NF/Objects/Specific/Service/napkindrum.rsi/meta.json
Labels: Sprites

Dev Map (#1755)
  Resources/ConfigPresets/Build/development.toml
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Basic/sawn_pka.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: none

Remove vgroid reference in base station components
  Resources/Prototypes/Entities/Stations/base.yml
Labels: none

Fix shuttle deed stuff after review
  Content.Client/PDA/PdaMenu.xaml
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Server/Shipyard/Systems/ShuttleDeedSystem.cs
  Content.Shared/PDA/PdaUpdateState.cs
Labels: UI, C#

SectorServiceSystem: error->debug, minor cleanup
  Content.Server/_NF/SectorServices/SectorServiceSystem.cs
Labels: C#

Defeated LRP gang by making party crate cakes worthless
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Baked/misc.yml
Labels: none

Implement currency string notation
  Content.Client/Bank/UI/BankATMMenu.xaml.cs
  Content.Client/Bank/UI/StationBankATMMenu.xaml.cs
  Content.Client/Bank/UI/WithdrawBankATMMenu.cs
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Client/Cargo/UI/CargoPalletMenu.xaml.cs
  Content.Client/Lobby/UI/Loadouts/LoadoutWindow.xaml.cs
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Client/_NF/BountyContracts/UI/BountyContractUiFragmentListEntry.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/_NF/Bank/BankSystemExtensions.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/_NF/bank/bank-ATM-component.ftl
  Resources/Locale/en-US/_NF/loadouts/loadouts.ftl
  Resources/Locale/en-US/_NF/preferences/humanoid-character-profile.ftl
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Locale/en-US/cargo/cargo-bounty-console.ftl
  Resources/Locale/en-US/cargo/cargo-console-component.ftl
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
Labels: UI, C#, FTL

Darin fix
  Content.Shared/_NF/Bank/BankSystemExtensions.cs
Labels: C#

Pen Fix
  Resources/Audio/_NF/Items/Pen/pen_sign.ogg
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
Labels: none

Create attributions.yml
  Resources/Audio/_NF/Items/Toys/attributions.yml
Labels: none

Missing
  Resources/Audio/_NF/Effects/attributions.yml
  Resources/Audio/_NF/Items/Toys/attributions.yml
Labels: none

Construct attributions
  Resources/Audio/_NF/Ambience/attributions.yml
Labels: none

Update attributions.yml
  Resources/Audio/_NF/Effects/attributions.yml
Labels: none

Construct attributions (#1769)
  Resources/Audio/_NF/Ambience/attributions.yml
Labels: none

Automatic Changelog (#1769)
  Resources/Changelog/Changelog.yml
Labels: none

Add blacklist
  Content.Server/_NF/Market/Components/MarketConsoleComponent.cs
  Content.Server/_NF/Market/Systems/MarketSystem.cs
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
Labels: C#

Napkin
  Content.Server/Nutrition/Components/FoodComponent.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Resources/Audio/_NF/Items/Napkin/wipe.ogg
  Resources/Prototypes/Entities/Markers/Spawners/Random/trash.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/napkin.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Service/napkin.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Service/napkindrum.rsi/meta.json
Labels: Sprites, C#

Missing
  Resources/Audio/_NF/Items/Napkin/attributions.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/napkin.yml
Labels: none

Update FoodComponent.cs
  Content.Server/Nutrition/Components/FoodComponent.cs
Labels: C#

Update Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_medical.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_medical.yml
Labels: none

Fix selective dropper
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Shared/Chemistry/Components/InjectorComponent.cs
  Content.Shared/_NF/Chemistry/EntitySystems/ChangeReagentWhitelistSystem.cs
Labels: C#

Check string length before accessing shuttle grid's name
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
Labels: UI, C#

System refactoring
  Content.Server/_NF/Market/Components/MarketConsoleComponent.cs
  Content.Server/_NF/Market/Extensions/MarketDataExtensions.cs
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Content.Server/_NF/Market/Systems/MarketSystem.cs
Labels: C#

Belts Are Now Webbings
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
Labels: none

More code refactoring
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
Labels: C#

pilot webbing loadout
  Resources/Prototypes/_NF/Catalog/Fills/Items/belt.yml
Labels: none

Update FoodComponent.cs
  Content.Server/Nutrition/Components/FoodComponent.cs
Labels: C#

Kegs + Urn
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/drinks_keg.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/mortuary_urn.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/icon_open.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/paper.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/icon_open.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/paper.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/base.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/icon_open.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/paper.png
  Resources/Textures/_NF/Objects/Misc/mortuary_urn.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/mortuary_urn.rsi/paper.png
Labels: Sprites

Fixed faction on experimental nfsd hardsuit
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: none

fix
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: none

Remove duplicate code and more refactoring
  Content.Client/_NF/Market/Components/CrateMachineComponent.cs
  Content.Client/_NF/Market/Systems/SharedMarketSystem.CrateMachine.cs
  Content.Server/_NF/Market/Components/CrateMachineComponent.cs
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
  Content.Shared/_NF/Market/Components/CrateMachineComponent.cs
Labels: C#

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
