Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

Removed the cake, replaced it with a cake recipe.
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/misc.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Baked/cake.yml
Labels: none

Add Paradise fire extinguisher with attribution (#1851)
  Resources/Prototypes/Catalog/Cargo/cargo_emergency.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/furniture/altars.yml
  Resources/Textures/_NF/Objects/Misc/fire_extinguisher.rsi/fire_extinguisher_closed.png
  Resources/Textures/_NF/Objects/Misc/fire_extinguisher.rsi/fire_extinguisher_open.png
  Resources/Textures/_NF/Objects/Misc/fire_extinguisher.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Misc/fire_extinguisher.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Misc/fire_extinguisher.rsi/meta.json
Labels: Sprites

forgot to add this to commander
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
Labels: none

cleanup
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/expedition_airlocks.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/airlocks.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/grille.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/windows.yml
  Resources/Prototypes/_NF/Entities/Structures/Windows/expedition_windows.yml
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
Labels: none

comments
  Resources/Prototypes/Procedural/dungeon_configs.yml
Labels: none

Add hovertaxibot
  Content.Shared/Vehicle/SharedVehicleSystem.cs
  Content.Shared/_NF/Vehicle/Components/VehicleHornComponent.cs
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/bots/hovertaxibot.yml
  Resources/Prototypes/_NF/Recipes/Crafting/bots.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Mobs/Silicons/Bots/hovertaxibot.rsi/engines.png
  Resources/Textures/_NF/Mobs/Silicons/Bots/hovertaxibot.rsi/hull.png
  Resources/Textures/_NF/Mobs/Silicons/Bots/hovertaxibot.rsi/meta.json
  Resources/Textures/_NF/Mobs/Silicons/Bots/hovertaxibot.rsi/unshaded.png
Labels: Sprites, C#, FTL

dungeon templates yml swap
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/haunted.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/mineshaft.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/airlocks.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/windows.yml
Labels: Map-Dungeon

Cleanup, revert NFSD alternate sets
  Content.Shared/Roles/JobRequirements.cs
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/detectivenf.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
Labels: C#

Add alternative text, separators
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Resources/Locale/en-US/_NF/job/role-timers.ftl
Labels: C#, FTL

dungeon_configs.yml comments
  Resources/Prototypes/Procedural/dungeon_configs.yml
Labels: none

more files
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers_department.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers_department_eva.yml
Labels: none

chapel/spdldr ordering, departmental EVA grammar
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/departmental_eva.yml
Labels: none

Revert random crystal
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/departmental_eva.yml
Labels: none

fix atmos canisters not anchored to connector ports
  Resources/Maps/_NF/Shuttles/shepherd.yml
Labels: Map-Shuttle

price adjustment
  Resources/Prototypes/_NF/Shipyard/shepherd.yml
Labels: Map-Shuttle

Add currency notation (#1768)
  Content.Client/Bank/UI/BankATMMenu.xaml.cs
  Content.Client/Bank/UI/StationBankATMMenu.xaml.cs
  Content.Client/Bank/UI/WithdrawBankATMMenu.cs
  Content.Client/Cargo/UI/BountyEntry.xaml.cs
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Client/Cargo/UI/CargoPalletMenu.xaml.cs
  Content.Client/Lobby/UI/Loadouts/LoadoutWindow.xaml.cs
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Client/Store/Ui/StoreWithdrawWindow.xaml.cs
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Client/_NF/BountyContracts/UI/BountyContractUiFragmentListEntry.xaml.cs
  Content.Client/_NF/Contraband/UI/ContrabandPalletMenu.xaml.cs
  Content.Client/_NF/Pirate/UI/PirateBountyEntry.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/_NF/Bank/BankSystemExtensions.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/_NF/bank/bank-ATM-component.ftl
  Resources/Locale/en-US/_NF/loadouts/loadouts.ftl
  Resources/Locale/en-US/_NF/preferences/humanoid-character-profile.ftl
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Locale/en-US/cargo/cargo-bounty-console.ftl
  Resources/Locale/en-US/cargo/cargo-console-component.ftl
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
Labels: UI, C#, FTL

Automatic Changelog (#1768)
  Resources/Changelog/Changelog.yml
Labels: none

Add FTL knockdown immunity to hostile NPCs (#1846)
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/_NF/Shuttles/Components/FTLKnockdownImmuneComponent.cs
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
Labels: C#

Automatic Changelog (#1846)
  Resources/Changelog/Changelog.yml
Labels: none

initial commit
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/ammo.yml
  Resources/Prototypes/_NF/Recipes/Lathes/armor.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
Labels: none

Expedition Console: block mission selection if shuttle has FTL component (#1845)
  Content.Server/Salvage/SalvageSystem.ExpeditionConsole.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
  Resources/Locale/en-US/procedural/expeditions.ftl
  Resources/Prototypes/_NF/Entities/Structures/Specific/punks.yml
Labels: C#, FTL

Automatic Changelog (#1845)
  Resources/Changelog/Changelog.yml
Labels: none

Windows and glass airlocks in expeditions (and only there) block lasers (#1849)
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/haunted.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/mineshaft.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/airlocks.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/grille.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/windows.yml
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
Labels: Map-Dungeon

Automatic Changelog (#1849)
  Resources/Changelog/Changelog.yml
Labels: none

Localisation
  Content.Shared/_NF/Bank/BankSystemExtensions.cs
  Resources/Locale/ru-RU/_NF/adventure/adventure.ftl
  Resources/Locale/ru-RU/_NF/bank/bank-ATM-component.ftl
  Resources/Locale/ru-RU/_NF/loadouts/loadouts.ftl
  Resources/Locale/ru-RU/_NF/preferences/humanoid-character-profile.ftl
  Resources/Locale/ru-RU/_NF/store/uplink-catalog.ftl
  Resources/Locale/ru-RU/cargo/cargo-bounty-console.ftl
  Resources/Locale/ru-RU/cargo/cargo-console-component.ftl
  Resources/Locale/ru-RU/procedural/expeditions.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/catalog/fills/crates/npc.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/misc/monkeycube.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/specific/rehydrateable.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/dungeon/airlocks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/dungeon/grille.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/dungeon/windows.ftl
Labels: C#, FTL

Fix linter
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/misc/monkeycube.ftl
Labels: FTL

Update cache.yml
  Resources/Maps/_NF/Bluespace/cache.yml
Labels: Map-Bluespace

more weapons
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/armor.yml
  Resources/Prototypes/_NF/Recipes/Lathes/weapons.yml
Labels: none

stuff
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: none

PTS 2.0: complete remake (#1832)
  Resources/Maps/_NF/Shuttles/pts.yml
  Resources/Prototypes/_NF/Shipyard/pts.yml
Labels: Map-Shuttle

Automatic Changelog (#1832)
  Resources/Changelog/Changelog.yml
Labels: none

Add NeedAllJobRequirement to job proto (#1841)
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Roles/SharedRoleSystem.cs
  Resources/Locale/en-US/_NF/job/role-timers.ftl
Labels: C#, FTL

some spawners
  Resources/Maps/_NF/Bluespace/cache.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/turret_spawner.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
Labels: Map-Bluespace

Multi Locker Drifting
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/materials.yml
Labels: none

Mob/Turret Laser Reflect Chance (#1844)
  Resources/Maps/_NF/Bluespace/cache.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/turret_spawner.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_bloodcultist.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_aberrant_flesh.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_rogue_ai.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_wizardfederation.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/base_turret.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
Labels: Map-Bluespace

Automatic Changelog (#1844)
  Resources/Changelog/Changelog.yml
Labels: none

Update locker_wallmount.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
Labels: none

Add hovertaxibot (#1852)
  Content.Shared/Vehicle/SharedVehicleSystem.cs
  Content.Shared/_NF/Vehicle/Components/VehicleHornComponent.cs
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/bots/hovertaxibot.yml
  Resources/Prototypes/_NF/Recipes/Crafting/bots.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Mobs/Silicons/Bots/hovertaxibot.rsi/engines.png
  Resources/Textures/_NF/Mobs/Silicons/Bots/hovertaxibot.rsi/hull.png
  Resources/Textures/_NF/Mobs/Silicons/Bots/hovertaxibot.rsi/meta.json
  Resources/Textures/_NF/Mobs/Silicons/Bots/hovertaxibot.rsi/unshaded.png
Labels: Sprites, C#, FTL

Crescent (Update) (#1796)
  Resources/Maps/_NF/Shuttles/crescent.yml
Labels: Map-Shuttle

Automatic Changelog (#1852)
  Resources/Changelog/Changelog.yml
Labels: none

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
