Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

mailTeleporter: comment
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/mailTeleporter.yml
Labels: none

fixup sprite
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Textures/_NF/Objects/Devices/communication.rsi/base.png
  Resources/Textures/_NF/Objects/Devices/communication.rsi/meta.json
Labels: Sprites

Medidrobe change (#1870)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
Labels: none

Expedition FTL: avoid collisions on returning. (#1862)
  Content.Server/Salvage/SalvageSystem.Runner.cs
Labels: C#

Automatic Changelog (#1862)
  Resources/Changelog/Changelog.yml
Labels: none

Separate out radio to NF, migration
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/radio.yml
  Resources/Textures/_NF/Objects/Devices/communication.rsi/broadcasting.png
  Resources/Textures/_NF/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/communication.rsi/speaker.png
  Resources/migration.yml
Labels: Sprites

Fix Appearance component
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/radio.yml
Labels: none

Replace RadioHandheld instances with NF versions
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/repdrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/randomitems.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/astrovend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_supply.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/tools.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
Labels: none

Derelict McCargo (McHobo): (New) Alternative POI to Grifty's (#1859)
  Resources/Maps/_NF/POI/mchobo.yml
  Resources/Prototypes/_NF/Entities/Markers/warp_point.yml
  Resources/Prototypes/_NF/PointsOfInterest/griftys.yml
  Resources/Prototypes/_NF/PointsOfInterest/mchobo.yml
Labels: Map-POI

Automatic Changelog (#1859)
  Resources/Changelog/Changelog.yml
Labels: none

Update dragonfly.yml
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
Labels: Map-Shuttle

Dragonfly bridgefix (#1875)
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
Labels: Map-Shuttle

Automatic Changelog (#1875)
  Resources/Changelog/Changelog.yml
Labels: none

Update computers.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: none

Shuttle Communication Intercom (#1871)
  Content.Server/Radio/Components/RadioSpeakerComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/_NF/RadioEntity/Components/ShuttleIntercomComponent.cs
  Content.Server/_NF/RadioEntity/RadioEvent.cs
  Content.Server/_NF/RadioEntity/Systems/ShuttleIntercomSystem.cs
  Content.Shared/Radio/Components/IntercomComponent.cs
  Resources/Locale/en-US/_NF/radio/components/intercom.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
Labels: C#, FTL

Automatic Changelog (#1871)
  Resources/Changelog/Changelog.yml
Labels: none

MobFleshClampExpedition shoots one dart, no spread
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_aberrant_flesh.yml
Labels: none

Set intercom frequency on map init
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
Labels: C#

oh lord
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/brassknuckles_graph.yml
  Resources/Prototypes/_NF/Recipes/Crafting/brassknuckles.yml
Labels: none

updates to rsi
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/brassknuckles.yml
  Resources/Prototypes/_NF/Recipes/Crafting/brassknuckles.yml
Labels: none

The Arbitrator
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/Judge.rsi/bolt-open.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/Judge.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/Judge.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/Judge.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/Judge.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/Judge.rsi/meta.json
Labels: Sprites

Update brassknuckles.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/brassknuckles.yml
Labels: none

Separate NF fun crate
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/misc.yml
Labels: none

IS IT DONE
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_shuttle_guns.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/guns.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: none

Make the party prep procedure even worse
  Resources/Prototypes/_NF/Catalog/Fills/Paper/misc.yml
Labels: none

party crate: party hat sprite, not the lean cup
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_fun.yml
Labels: none

oh i broke it
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/Judge.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/Judge.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/Judge.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/arbitrator.rsi/bolt-open.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/arbitrator.rsi/equipped-BELT.png.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/arbitrator.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/arbitrator.rsi/inhand-left.png.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/arbitrator.rsi/inhand-right.png.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/arbitrator.rsi/meta.json
Labels: Sprites

bruh
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/arbitrator.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/arbitrator.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/arbitrator.rsi/inhand-right.png
Labels: Sprites

AAAAAA
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/arbitrator.rsi/meta.json
Labels: Sprites

Align dungeon with largest grid
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
Labels: C#

Make Frontier Outpost spawn at 0, 0 with no rotation
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
Labels: none

Slightly increase the distance between NFSD and Frontier
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
Labels: none

Change Frontier and NFSD offset (#1880)
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
Labels: none

Automatic Changelog (#1880)
  Resources/Changelog/Changelog.yml
Labels: none

PR-ready Commit
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/starhaven.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/starhaven.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Starhaven.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/starhaven.png
Labels: Map-Shuttle, Sprites, Docs, FTL

Mail Tracking (DeltaV) (#1877)
  Content.Client/DeltaV/CartridgeLoader/Cartridges/MailMetricUi.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/MailMetricUiFragment.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/MailMetricUiFragment.xaml.cs
  Content.Server/DeltaV/Cargo/Components/StationLogisticStatsDatabaseComponent.cs
  Content.Server/DeltaV/Cargo/Systems/LogisticStatsSystem.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/MailMetricsCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/MailMetricsCartridgeSystem.cs
  Content.Server/Nyanotrasen/Mail/Components/MailComponent.cs
  Content.Server/Nyanotrasen/Mail/Components/StationMailRouterComponent.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/MailMetricUiState.cs
  Resources/Locale/en-US/deltav/cartridge-loader/cartridges.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/base_mail.yml
  Resources/Prototypes/Nyanotrasen/Entities/Stations/mail.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/mailTeleporter.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Service/mail_carrier.yml
  Resources/Prototypes/Nyanotrasen/StatusEffects/job.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Entities/Stations/base.yml
  Resources/Prototypes/_NF/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/cart-cri.png
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/cart-mail.png
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-guard.png
  Resources/Textures/_NF/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/pda.rsi/pda-mailcarrier.png
Labels: Sprites, UI, C#, FTL

Automatic Changelog (#1877)
  Resources/Changelog/Changelog.yml
Labels: none

Fixes missing bridge door
  Resources/Maps/_NF/Shuttles/starhaven.yml
Labels: Map-Shuttle

removes illegal prototype
  Resources/Maps/_NF/Shuttles/starhaven.yml
Labels: Map-Shuttle

small fix
  Resources/Maps/_NF/Shuttles/starhaven.yml
Labels: Map-Shuttle
