Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

fix
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
Labels: none

Shotgun spread refactor CherryPick
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Projectiles/ProjectileSpreadComponent.cs
  Content.Shared/Weapons/Ranged/Components/AmmoComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
Labels: C#

minor change to exterior catwalk
  Resources/Maps/_NF/Shuttles/shepherd.yml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/shepherd.png
Labels: Map-Shuttle, Sprites

Updated attributions
  Resources/Prototypes/_NF/PointsOfInterest/mchobo.yml
Labels: none

sorting
  Resources/Locale/en-US/_NF/lathe/lathe-categories.ftl
  Resources/Locale/en-US/_NF/research/technologies.ftl
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/categories.yml
  Resources/Prototypes/Recipes/Lathes/cooking.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/expeditionaryflatpackvend.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/categories.yml
  Resources/Prototypes/_NF/Recipes/Lathes/medical.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
  Resources/Prototypes/_NF/Recipes/Lathes/storage.yml
  Resources/Prototypes/_NF/Recipes/Lathes/weapons.yml
  Resources/Prototypes/_NF/Research/arsenal.yml
  Resources/Prototypes/_NF/Research/civilianservices.yml
Labels: FTL

limited ammo selection
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: none

PacifiedZoneGeneratorSystem: use cached info
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorSystem.cs
Labels: C#

Вовзращение голода
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Body/Organs/reptilian.yml
  Resources/Prototypes/Corvax/Entities/Mobs/Species/elzuosa.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: none

Create shotgun spread ents, inheritance fixes
  Resources/Prototypes/_NF/Entities/Objects/Specific/Wizard/conjured_items.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Throwable/throwable_weapons.yml
Labels: none

Add RockWall to Mineshaft walls config
  Resources/Prototypes/Procedural/dungeon_configs.yml
Labels: none

check exped FTL destination for shuttles/stations
  Content.Server/Salvage/SalvageSystem.Runner.cs
Labels: C#

SalvageSystem.Runner: avoid FTL collisions
  Content.Server/Salvage/SalvageSystem.Runner.cs
Labels: C#

hacked merc lathe draft (no recipes)
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_NF/Objects/Misc/module.rsi/hacked-merc-fab-board.png
  Resources/Textures/_NF/Objects/Misc/module.rsi/meta.json
Labels: Sprites

CiviMed: infinite restocks, steeper prices, map
  Resources/Locale/en-US/_NF/advertisements/vending/civimed.ftl
  Resources/Maps/Test/dev_map.yml
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Advertisements/civimed.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/civimed.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_NF/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Service/vending_machine_restock.rsi/refill_civimed.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/wallcivimed.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/wallcivimed.rsi/deny-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/wallcivimed.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/wallcivimed.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/wallcivimed.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/wallcivimed.rsi/panel.png
Labels: Map-Outpost, Map-POI, Sprites, FTL

PostGenAutoCabling: bounds check
  Content.Server/Procedural/DungeonJob/DungeonJob.PostGenAutoCabling.cs
Labels: C#

Radio: show frequency, bound to 1000-3000 kHz
  Content.Client/_NC/Radio/UI/HandheldRadioBoundUserInterface.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/RadioChannelPrototype.cs
  Resources/Locale/en-US/radio/components/handheld-radio-component.ftl
  Resources/Prototypes/radio_channels.yml
Labels: C#, FTL

No handheld radio admin spam, smaller radio menu
  Content.Client/_NC/Radio/UI/HandheldRadioMenu.xaml
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Resources/Locale/en-US/radio/components/handheld-radio-component.ftl
Labels: UI, C#, FTL

Remove preferences for sleeper agent (whoops)
  Resources/Prototypes/Roles/Antags/traitor.yml
Labels: none

Remove preferences for sleeper agent (whoops) (#1863)
  Resources/Prototypes/Roles/Antags/traitor.yml
Labels: none

Automatic Changelog (#1863)
  Resources/Changelog/Changelog.yml
Labels: none

DungeonJob.PostGenWallMount: better error handling (#1858)
  Content.Server/Procedural/DungeonJob/DungeonJob.PostGenAutoCabling.cs
  Content.Server/Procedural/DungeonJob/DungeonJob.PostGenWallMount.cs
Labels: C#

Automatic Changelog (#1858)
  Resources/Changelog/Changelog.yml
Labels: none

Add RockWall to Mineshaft walls config (#1861)
  Resources/Prototypes/Procedural/dungeon_configs.yml
Labels: none

color
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/mineshaft.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/grille.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/windoor.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/windows.yml
Labels: Map-Dungeon

fix
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/windoor.yml
Labels: Map-Dungeon

fixes
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/mineshaft.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/spaceplatform.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/grille.yml
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
Labels: Map-Dungeon

osha
  Resources/Prototypes/Procedural/dungeon_configs.yml
Labels: none

Automatic Changelog (#1821)
  Resources/Changelog/Changelog.yml
Labels: none

Infinite vendor inventories
  Resources/Locale/en-US/_NF/advertisements/mobchatter/syndicatehumanoidmob.ftl
  Resources/Maps/_NF/Shuttles/Scrap/bison.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/tankdispenser.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/vendomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/astrovend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/lesslethalvend.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
Labels: Map-Shuttle, FTL

Restore cargo_gifts.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
Labels: none

Courthouse: place CiviMed in the wall
  Resources/Maps/_NF/POI/courthouse.yml
Labels: Map-POI

Replace outpost medical vendors with CiviMed Plus
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/nfsd.yml
Labels: Map-POI

Fix Frontier Outpost's medical cross
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Map-Outpost

civimed vendor fixes
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: Map-Outpost, Map-POI

Fix Frontier Outpost's medical cross (#1865)
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Map-Outpost

Use Civimed goodbyes
  Resources/Prototypes/_NF/Catalog/VendingMachines/Advertisements/civimed.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: none

category shuffle, punk clothes to lathe
  Resources/Locale/en-US/_NF/lathe/lathe-categories.ftl
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/armor_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/boots_punk.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/armor.yml
  Resources/Prototypes/_NF/Recipes/Lathes/categories.yml
  Resources/Prototypes/_NF/Recipes/Lathes/clothes.yml
  Resources/Prototypes/_NF/Recipes/Lathes/devices.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_NF/Recipes/Lathes/eva.yml
  Resources/Prototypes/_NF/Recipes/Lathes/medical.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
  Resources/Prototypes/_NF/Recipes/Lathes/storage.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
  Resources/Prototypes/_NF/Recipes/Lathes/weapons.yml
Labels: FTL

CiviMed: add gauze, change med hud/analyzer values
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/civimed.yml
Labels: none

lights, clothes changes
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
Labels: none

exped loot
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
Labels: none
