Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

Minimal pen signing fixes
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/Paper/StampComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
Labels: C#

Update Ceres for vox + stuff
  Resources/Maps/_NF/Shuttles/ceres.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Ceres.xml
Labels: Map-Shuttle, Docs

weapon case, some tweaks
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_case_turrets.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_hostile_aberrant_flesh.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/weapon_cases.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Magazines/turret_box_mag.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/aberrant_flesh.yml
  Resources/Textures/_NF/Objects/Tools/guncaseheavy.rsi/icon-open.png
  Resources/Textures/_NF/Objects/Tools/guncaseheavy.rsi/icon.png
  Resources/Textures/_NF/Objects/Tools/guncaseheavy.rsi/meta.json
  Resources/Textures/_NF/Objects/Tools/guncaseheavy.rsi/unshaded.png
Labels: Sprites

meta fix
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_case_turrets.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/laser.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/meta.json
Labels: Sprites

meta fix
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/Turret/box_mag.rsi/meta.json
Labels: Sprites

Update Construct to match ship guidelines
  Resources/Maps/_NF/Shuttles/construct.yml
  Resources/Prototypes/_NF/Shipyard/construct.yml
Labels: Map-Shuttle

swapped arcade spot for TV
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
Labels: Map-Shuttle

updated sprites
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/base_turret.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Textures/_NF/Objects/Tools/guncaseheavy.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Tools/guncaseheavy.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Tools/guncaseheavy.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/packed.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/unshaded.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/laser.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/laser.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/laser.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/laser.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/laser.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/laser.rsi/packed.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/laser.rsi/unshaded.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/packed.png
Labels: Sprites

exped loot table integration
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_case_turrets.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/ai_factions.yml
Labels: none

bee kind to the buzzkeeper
  Resources/Locale/en-US/_NF/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_NF/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/_NF/Flavors/flavors.yml
  Resources/Prototypes/_NF/Reagents/Consumables/Drink/drinks.yml
  Resources/Prototypes/_NF/Recipes/Reactions/drinks.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/meta.json
Labels: Sprites, FTL

threshold set wrong
  Resources/Prototypes/_NF/Reagents/Consumables/Drink/drinks.yml
Labels: none

name edit
  Resources/Locale/en-US/_NF/reagents/meta/consumable/drink/drinks.ftl
Labels: FTL

added safes with turrets for SR and NFSD
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/security.yml
Labels: none

fix
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
Labels: none

Updates Apothecary atmos from 1 air can to o2 n2 mix
  Resources/Maps/_NF/Shuttles/apothecary.yml
Labels: Map-Shuttle

Allow reapplying approved and denied stamps
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/Paper/StampComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
Labels: C#

PaperSystem.cs: comment cleanup
  Content.Server/Paper/PaperSystem.cs
Labels: C#

fix
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/base_turret.yml
Labels: none

Outpost and NFSD POI
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/heads.yml
Labels: Map-Outpost, Map-POI

stolen valor (from Whatstone)
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/_NF/NPC/Queries/Considerations/TargetIsNotStunnedCon.cs
  Content.Server/_NF/NPC/Queries/Considerations/TargetIsStunnedCon.cs
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/NPCs/root.yml
  Resources/Prototypes/_NF/NPCs/utility_queries.yml
Labels: C#

Reapplied stamps: max of 10, delay on stamps
  Content.Server/Paper/PaperSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
Labels: C#

Comment Timing include
  Content.Server/Paper/PaperSystem.cs
Labels: C#

Removed the syndicate mob guy because he would step on mines and lose his gun after FTL
  Resources/Maps/deaddrop.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/crates.yml
Labels: none

Missing frontier comment
  Content.Server/Paper/PaperSystem.cs
Labels: C#

Update manuals.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
Labels: none

Stasis shuttle
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/stasis.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/stasis.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Stasis.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/stasis.png
Labels: Map-Shuttle, Sprites, Docs, FTL

Update Ceres for vox + stuff (#1693)
  Resources/Maps/_NF/Shuttles/ceres.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Ceres.xml
Labels: Map-Shuttle, Docs

Automatic Changelog (#1693)
  Resources/Changelog/Changelog.yml
Labels: none

Update manuals.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
Labels: none

Update Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
Labels: none

Update Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
Labels: none

Update manuals.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
Labels: none

Update Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
Labels: none

Update Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/base_turret.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/base_turret.yml
Labels: none

Update Resources/Prototypes/_NF/Entities/Objects/Tools/weapon_cases.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/weapon_cases.yml
Labels: none

Update Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
Labels: C#

Update base_turret.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/base_turret.yml
Labels: none

clean up
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_hostile_aberrant_flesh.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/aberrant_flesh.yml
  Resources/Prototypes/_NF/ai_factions.yml
Labels: none

Update manuals.yml (YML) (#1697)
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
Labels: none

flavor text
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
Labels: none
