Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

Eliminates weirdo stamp. Never could find it. But now no one will.
  Resources/Maps/_NF/Shuttles/stasis.yml
Labels: Map-Shuttle

Polish: noises, UI updates & strings
  Content.Client/_NF/Pirate/UI/PirateBountyEntry.xaml.cs
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Shared/_NF/Pirate/Components/PirateBountyConsoleComponent.cs
  Content.Shared/_NF/Pirate/Components/PirateBountyRedemptionConsoleComponent.cs
  Resources/Locale/en-US/_NF/cargo/pirate-bounty-console.ftl
Labels: UI, C#, FTL

Add SR console to frontier
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Map-Outpost

Add industrial welders to engifab static recipes + advanced signaller to dynamic
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
Labels: none

Increase solar assembly crate price to $1500
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
Labels: none

completetime is all lowercase for some reason
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
Labels: none

Pirate Bounty: redemption text
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Shared/_NF/Pirate/Components/PirateBountyRedemptionConsoleComponent.cs
  Resources/Locale/en-US/_NF/cargo/pirate-bounty-redemption-console-component.ftl
  Resources/Prototypes/_NF/Catalog/Bounties/pirate_bounties.yml
Labels: C#, FTL

Fix spawn chest sound
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Shared/_NF/Pirate/Components/PirateBountyConsoleComponent.cs
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: C#

comment solar assembly crate price increase
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
Labels: none

Hamster stc cap, stc loadout order, hamster wear
  Resources/Prototypes/_NF/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/meta.json
Labels: Sprites

dungeon update
  Resources/Maps/_NF/Salvage/Example/marketDungeon.yml
Labels: none

shuttle spawners
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/shuttle_items.yml
Labels: Map-Shuttle

Adjusted cryopod placement. Plumbing issues. The PR of 1000 modifications continues.
  Resources/Maps/_NF/Shuttles/stasis.yml
Labels: Map-Shuttle

okie dokie PLEASE WORK
  Resources/Maps/_NF/Shuttles/bonfire.yml
Labels: Map-Shuttle

FOR THE LOVE OF GOD, WORK
  Resources/Maps/_NF/Shuttles/bonfire.yml
Labels: Map-Shuttle

papers, please
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_sr.yml
Labels: Map-Outpost

forms_sr.yml: paperwork revisions
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_sr.yml
Labels: none

Update whitelist.yml
  .github/mapchecker/whitelist.yml
Labels: none

Update blade.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/blade.yml
Labels: Map-Shuttle

bottleneck: add SR access
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
Labels: Map-Shuttle

Medical paperwork templates
  Resources/Maps/_NF/Shuttles/caduceus.yml
  Resources/Maps/_NF/Shuttles/searchlight.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_medical.yml
Labels: Map-Shuttle

loadout option
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/fun.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: none

Gestio Re-balance
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle_low.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/gestio.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/mag-1.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/practice.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/red.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/rubber.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/uranium.png
Labels: Sprites

Medical form rework
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_medical.yml
Labels: none

revert changes to Searchlight and Caduceus, add folder to Nanomed
  Resources/Maps/_NF/Shuttles/caduceus.yml
  Resources/Maps/_NF/Shuttles/searchlight.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
Labels: Map-Shuttle

fix
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_mercenaries.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
Labels: none

Needed to re-build LV cables following cryo-rebuild.
  Resources/Maps/_NF/Shuttles/stasis.yml
Labels: Map-Shuttle

SR Form rewrite, new contraband amnesty form
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_sr.yml
Labels: none

Random corpses aren't entirely fresh
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Entities/Mobs/Corpses/corpses.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_corpses.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/corpses.yml
Labels: none

Update cave_factory.yml
  Resources/Maps/_NF/Dungeon/cave_factory.yml
Labels: Map-Dungeon

Update corpses.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/corpses.yml
Labels: none

Update meta.json
  Resources/Textures/_NF/Structures/Power/Generation/portable_generator.rsi/meta.json
Labels: Sprites

Update meta.json
  Resources/Textures/_NF/Structures/Power/Generation/portable_generator.rsi/meta.json
Labels: Sprites

Fix pipes colors
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Map-Outpost

Comments, noSpawn
  Content.Server/Power/Generator/GeneratorSystem.cs
  Content.Shared/Power/Generator/FuelGeneratorComponent.cs
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
Labels: C#

SR paperwork templates (#1727)
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_sr.yml
Labels: Map-Outpost

Automatic Changelog (#1727)
  Resources/Changelog/Changelog.yml
Labels: none

Computer YAML cleanup (#1723)
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
Labels: none

Update ammo.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
Labels: none

STC Hat and free laceup shoes (#1721)
  Resources/Prototypes/_NF/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Stc/head.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Stc/shoes.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/stc_loadout_groups.yml
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/meta.json
Labels: Sprites
