Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

Update guidebook image and change issue with alphabetical ordering in the shipyard entry.
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/stasis.png
Labels: Sprites, FTL

Update apothecary.yml
  Resources/Maps/_NF/Shuttles/apothecary.yml
Labels: Map-Shuttle

sure
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
Labels: none

Update Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/goblin_outerclothing.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/goblin_outerclothing.yml
Labels: none

Update Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/goblin_outerclothing.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/goblin_outerclothing.yml
Labels: none

Update Resources/Prototypes/_NF/Recipes/Crafting/goblin_clothes.yml
  Resources/Prototypes/_NF/Recipes/Crafting/goblin_clothes.yml
Labels: none

Updates with new chemistry wall locker and small expansion of chem lab.
  Resources/Maps/_NF/Shuttles/stasis.yml
Labels: Map-Shuttle

broken parts, first pass
  Resources/Prototypes/_NF/Entities/Structures/Decoration/scrap.yml
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-brokenmachine.rsi/airalarm.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-brokenmachine.rsi/gyroscope.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-brokenmachine.rsi/meta.json
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-brokenmachine.rsi/rtg.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-brokenmachine.rsi/smes.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-brokenmachine.rsi/substation.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-brokenmachine.rsi/thruster.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-perservedmachine.rsi/perservedlathe.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-perservedmachine.rsi/perservedproto.png
Labels: Sprites

forgot a thingie
  Resources/Prototypes/_NF/Entities/Structures/Decoration/scrap.yml
Labels: none

search beam for laser turrets
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/base_turret.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Textures/_NF/Effects/LightMasks/beam.png
Labels: none

Events Fixups
  Content.Server/StationEvents/Components/BluespaceCargoRuleComponent.cs
  Content.Server/StationEvents/Components/BluespaceSyndicateCargoRuleComponent.cs
  Content.Server/StationEvents/Components/StationEventComponent.cs
  Content.Server/StationEvents/Events/BluespaceCargoRule.cs
  Content.Server/StationEvents/Events/BluespaceSyndicateCargoRule.cs
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/cargo.yml
  Resources/Prototypes/_NF/Events/events_nf.yml
Labels: C#

laser syndie turret beam
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
Labels: none

McCrate
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/base.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/closed.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/icon.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/open.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/sparking.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/welded.png
Labels: Sprites

MOAR machines
  Resources/Prototypes/_NF/Entities/Structures/Decoration/scrap.yml
  Resources/Textures/Structures/Machines/autolathe.rsi/icon.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-ancientmachine.rsi/ancientanalyzer.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-ancientmachine.rsi/meta.json
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-brokenmachine.rsi/autolathe.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-brokenmachine.rsi/imprinter.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-brokenmachine.rsi/meta.json
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-brokenmachine.rsi/protolathe.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-perservedmachine.rsi/meta.json
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-perservedmachine.rsi/perservedanalyzer.png
Labels: Sprites

didnt mean to delete that
  Resources/Textures/Structures/Machines/autolathe.rsi/icon.png
Labels: Sprites

Vulp cannon
  Resources/Prototypes/_NF/Mail/Items/misc.yml
  Resources/Prototypes/_NF/Mail/mail.yml
  Resources/Prototypes/_NF/Mail/mailDeliveries.yml
Labels: none

added stuff, and spawners
  Resources/Prototypes/_NF/Entities/Structures/Decoration/scrap.yml
Labels: none

icon fixes
  Resources/Prototypes/_NF/Entities/Structures/Decoration/scrap.yml
Labels: none

didnt really work anyways
  Resources/Prototypes/_NF/Entities/Structures/Decoration/scrap.yml
Labels: none

something
  Resources/Prototypes/_NF/Entities/Structures/Decoration/scrap.yml
Labels: none

Piping adjustments to dismantle multiple waste loops.
  Resources/Maps/_NF/Shuttles/stasis.yml
Labels: Map-Shuttle

old machine spawner
  Resources/Prototypes/_NF/Entities/Structures/Decoration/scrap.yml
Labels: none

Automatic Changelog (#1684)
  Resources/Changelog/Changelog.yml
Labels: none

derelict ship examples, rich and poor loot
  Resources/Maps/_NF/Salvage/derelictVagabondPoor.yml
  Resources/Maps/_NF/Salvage/derelictVagabondRich.yml
Labels: none

Update Construct map
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/construct.png
Labels: Sprites

medical implanter
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: none

crates pt one
  Resources/Prototypes/_NF/Catalog/Fills/Crates/expeditions_loot.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
Labels: none

Construct (Update) (#1694)
  Resources/Maps/_NF/Shuttles/construct.yml
  Resources/Prototypes/_NF/Shipyard/construct.yml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/construct.png
Labels: Map-Shuttle, Sprites

Dragonfly (Update) (#1622)
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/dragonfly.yml
Labels: Map-Shuttle

Automatic Changelog (#1694)
  Resources/Changelog/Changelog.yml
Labels: none

Automatic Changelog (#1622)
  Resources/Changelog/Changelog.yml
Labels: none

Updates Apothecary atmos from 1 air can to o2 n2 mix (#1696)
  Resources/Maps/_NF/Shuttles/apothecary.yml
Labels: Map-Shuttle

added items to harpy list
  Resources/Prototypes/Entities/Clothing/Uniforms/random_suit.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/specific.yml
Labels: none

No More Tag
  Content.Shared/_NF/Clothing/Components/HarpyClothingComponent.cs
  Resources/Prototypes/DeltaV/InventoryTemplates/digitigrade_inventory_template.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpskirts.yml
Labels: C#

Fixup
  Resources/Prototypes/Entities/Clothing/Uniforms/random_suit.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/specific.yml
Labels: none

Update base_clothinguniforms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
Labels: none

Update random_suit.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/random_suit.yml
Labels: none

Fixup
  Resources/Prototypes/Entities/Clothing/Uniforms/random_suit.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/random_suit.yml
Labels: none

Update random_suit.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/random_suit.yml
Labels: none

Fixup again
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/random_suit.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/random_suit.yml
Labels: none

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
