Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

Refactor func
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
Labels: C#

equalized size
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
Labels: none

Cleanup
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/barrel.yml
  Resources/Prototypes/_NF/Entities/World/Debris/wrecks.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/barrel.yml
  Resources/Prototypes/_NF/Recipes/Crafting/barrel.yml
  Resources/Textures/_NF/Objects/Storage/barrel.rsi/base.png
  Resources/Textures/_NF/Objects/Storage/barrel.rsi/closed.png
  Resources/Textures/_NF/Objects/Storage/barrel.rsi/meta.json
  Resources/Textures/_NF/Objects/Storage/barrel.rsi/metal_blue.png
  Resources/Textures/_NF/Objects/Storage/barrel.rsi/metal_explosive_label.png
  Resources/Textures/_NF/Objects/Storage/barrel.rsi/metal_green.png
  Resources/Textures/_NF/Objects/Storage/barrel.rsi/metal_grey.png
  Resources/Textures/_NF/Objects/Storage/barrel.rsi/metal_red.png
  Resources/Textures/_NF/Objects/Storage/barrel.rsi/metal_warning_label.png
  Resources/Textures/_NF/Objects/Storage/barrel.rsi/metal_yellow.png
  Resources/Textures/_NF/Objects/Storage/barrel.rsi/open.png
  Resources/Textures/_NF/Objects/Storage/keg.rsi/base.png
  Resources/Textures/_NF/Objects/Storage/keg.rsi/meta.json
Labels: Sprites

Update cargo_medical.yml
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
Labels: none

Case insensitive searches
  Content.Client/_NF/Market/UI/MarketMenu.xaml.cs
Labels: UI, C#

Update barrel.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/barrel.yml
Labels: none

Remove microwave from SV Orange
  Resources/Maps/_NF/Shuttles/Scrap/orange.yml
Labels: Map-Shuttle

Remove microwave from SV Orange (#1779)
  Resources/Maps/_NF/Shuttles/Scrap/orange.yml
Labels: Map-Shuttle

Fix keg transparency, stopper, non-transparent lbl
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/drinks_keg.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/icon_open.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/keg-alpha-5.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/keg-alpha-6.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/stopper.png
Labels: Sprites

Automatic Changelog (#1779)
  Resources/Changelog/Changelog.yml
Labels: none

Add storage contents to market recursively
  Content.Client/_NF/Market/UI/MarketProductRow.xaml
  Content.Server/_NF/Market/Extensions/MarketDataExtensions.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: UI, C#

Add stack prototype id
  Content.Server/_NF/Market/Extensions/MarketDataExtensions.cs
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Content.Shared/_NF/Market/MarketData.cs
Labels: C#

Fix selective dropper (#1771)
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Shared/Chemistry/Components/InjectorComponent.cs
  Content.Shared/_NF/Chemistry/EntitySystems/ChangeReagentWhitelistSystem.cs
Labels: C#

posters, shuttle branding
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/brigand.yml
  Resources/Prototypes/_NF/Shipyard/harbormaster.yml
  Resources/Prototypes/_NF/Shipyard/kilderkin.yml
  Resources/Prototypes/_NF/Shipyard/lantern.yml
  Resources/Prototypes/_NF/Shipyard/legman.yml
  Resources/Prototypes/_NF/Shipyard/liquidator.yml
  Resources/Prototypes/_NF/Shipyard/pioneer.yml
  Resources/Prototypes/_NF/Shipyard/searchlight.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Brigand.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Gasbender.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Harbormaster.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Kilderkin.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Lantern.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Legman.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Liquidator.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Pioneer.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Searchlight.xml
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster1_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster2_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster3_contraband.png
Labels: Map-Shuttle, Sprites, Docs

Add locs
  Content.Server/Nutrition/Components/FoodComponent.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Resources/Locale/en-US/_NF/nutrition/components/food-component.ftl
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/napkin.yml
Labels: C#, FTL

Push napkin+words to _NF, napkin dimensions
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/napkin.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/napkin.png
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/napkin_words.png
Labels: Sprites

SSS Barber v1.0 release
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/barber.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/barber.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Barber.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/barber.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Map-Shuttle, Sprites, Docs, FTL

dead drop posters
  Resources/Prototypes/_NF/Entities/Markers/Spawners/posters.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/contraband.yml
Labels: none

Fix napkin stamp RSI path
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/napkin.yml
Labels: none

Fixed force feed flavour message, ftl apostrophe
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Resources/Locale/en-US/_NF/nutrition/components/food-component.ftl
Labels: C#, FTL

Delete base bureaucracy.rsi/napkin.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/napkin.png
Labels: Sprites

updated shuttle
  Resources/Maps/_NF/Shuttles/barber.yml
Labels: Map-Shuttle

Kegs + Urn Update (#1774)
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/drinks_keg.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/mortuary_urn.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/keg-alpha-5.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/keg-alpha-6.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/keg-empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/paper.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/stopper.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/base.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/icon_open.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/paper.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/base.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/icon_open.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/paper.png
  Resources/Textures/_NF/Objects/Misc/mortuary_urn.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/mortuary_urn.rsi/paper.png
Labels: Sprites

Napkins (#1770)
  Content.Server/Nutrition/Components/FoodComponent.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Resources/Audio/_NF/Effects/attributions.yml
  Resources/Audio/_NF/Items/Napkin/attributions.yml
  Resources/Audio/_NF/Items/Napkin/wipe.ogg
  Resources/Audio/_NF/Items/Pen/pen_sign.ogg
  Resources/Audio/_NF/Items/Toys/attributions.yml
  Resources/Locale/en-US/_NF/nutrition/components/food-component.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/trash.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/napkin.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/napkin.png
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/napkin_words.png
  Resources/Textures/_NF/Objects/Specific/Service/napkin.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Service/napkin.rsi/napkin.png
  Resources/Textures/_NF/Objects/Specific/Service/napkindrum.rsi/drum0.png
  Resources/Textures/_NF/Objects/Specific/Service/napkindrum.rsi/drum1.png
  Resources/Textures/_NF/Objects/Specific/Service/napkindrum.rsi/meta.json
Labels: Sprites, C#, FTL

Automatic Changelog (#1774)
  Resources/Changelog/Changelog.yml
Labels: none

Automatic Changelog (#1770)
  Resources/Changelog/Changelog.yml
Labels: none

Update ceres.yml
  Resources/Maps/_NF/Shuttles/ceres.yml
Labels: Map-Shuttle

blursed question mark
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
Labels: Sprites

JSOOOOOOON
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
Labels: Sprites

fix
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
Labels: Sprites

fix-fix
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
Labels: Sprites

reee json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
Labels: Sprites

Make Ceres freezer cold
  Resources/Maps/_NF/Shuttles/ceres.yml
Labels: Map-Shuttle

Medical forms: use en-US numeric formats
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_medical.yml
Labels: none

Final stack fixes and display stack
  Content.Client/_NF/Market/UI/MarketMenu.xaml
  Content.Client/_NF/Market/UI/MarketMenu.xaml.cs
  Content.Server/_NF/Market/Extensions/MarketDataExtensions.cs
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Content.Shared/_NF/Market/BUI/MarketConsoleInterfaceState.cs
Labels: UI, C#

Medical paperwork templates (#1728)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_medical.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/fun.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: none

Automatic Changelog (#1728)
  Resources/Changelog/Changelog.yml
Labels: none

McFixed
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Maps/_NF/Shuttles/mcdelivery.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/airlocks.yml
Labels: Map-Shuttle

Update Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
Labels: FTL

Update Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
Labels: none
