Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

PirateBounty: more sector service fixes
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Server/_NF/Pirate/Components/PirateBountyLabelComponent.cs
Labels: C#

yet more pirate bounty & sector service system
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Server/_NF/SectorServices/SectorServiceSystem.cs
Labels: C#

preemptively nerf-yanked the microwave (sorry whittaker!)
  Resources/Maps/_NF/Shuttles/akupara.yml
Labels: Map-Shuttle

initial commit, first day's work
  Resources/Prototypes/_NF/Entities/Structures/Decoration/scrap.yml
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-ancientmachine.rsi/ancientcomputer.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-ancientmachine.rsi/ancientimprinter.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-ancientmachine.rsi/ancientlathe.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-ancientmachine.rsi/ancientproto.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-ancientmachine.rsi/ancientserver.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-ancientmachine.rsi/meta.json
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-perservedmachine.rsi/meta.json
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-perservedmachine.rsi/perservedcomputer.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-perservedmachine.rsi/perservedimprinter.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-perservedmachine.rsi/perservedlathe.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-perservedmachine.rsi/perservedproto.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-perservedmachine.rsi/perservedserver-2.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-perservedmachine.rsi/perservedserver.png
Labels: Sprites

smes added
  Resources/Maps/_NF/Shuttles/commodore.yml
Labels: Map-Shuttle

forgot the damned fax machine. FAX MACHINE.
  Resources/Maps/_NF/Shuttles/commodore.yml
Labels: Map-Shuttle

Remove Mayflower
  Resources/Maps/_NF/Shuttles/Expedition/mayflower.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/mayflower.yml
Labels: Map-Shuttle

Remove Mayflower (#1687)
  Resources/Maps/_NF/Shuttles/Expedition/mayflower.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/mayflower.yml
Labels: Map-Shuttle

SectorService: revert to GetServiceEntity for now
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Server/_NF/SectorServices/SectorServiceSystem.cs
Labels: C#

CargoSystem.PirateBounty.cs: restore entity UIDs
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
Labels: C#

partial problems require partial components
  Content.Server/_NF/SectorServices/StationSectorServiceHostComponent.cs
Labels: C#

Remove Cargo UI key, add a few debug prints
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
Labels: C#

pirate bounty console and pallet FTL
  Resources/Locale/en-US/_NF/cargo/pirate-bounty-console.ftl
  Resources/Locale/en-US/_NF/cargo/pirate-pallet.ftl
Labels: FTL

Pirate bounty console UI
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/_NF/Pirate/UI/PirateBountyMenu.xaml
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Resources/Locale/en-US/_NF/cargo/pirate-bounty-console.ftl
  Resources/Textures/Interface/Nano/piratelogo.svg.png
  Resources/Textures/_NF/Interface/Pirate/piratelogo.svg.png
Labels: UI, C#, FTL

PirateBounty: compilation fixes
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
Labels: C#

PirateBounty
  Content.Client/_NF/Pirate/UI/PirateBountyEntry.xaml
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
Labels: UI, C#

Описание
  Resources/ConfigPresets/Frontier/main.toml
Labels: none

Syndicate Supply Ships are now limited to 5 and if more are spawned, the oldest one gets deleted. Also only detectives get rewards for scanning dead drops and their posters
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
Labels: C#

Summon chest WIP
  Content.Client/_NF/Pirate/BUI/PirateBountyConsoleBoundUserInterface.cs
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Shared/_NF/Pirate/Components/PirateBountyConsoleComponent.cs
  Content.Shared/_NF/Pirate/PirateBountyData.cs
  Content.Shared/_NF/Pirate/Prototypes/PirateBountyPrototype.cs
  Resources/Locale/en-US/_NF/cargo/pirate-bounties.ftl
  Resources/Locale/en-US/_NF/cargo/pirate-bounty-console.ftl
  Resources/Locale/en-US/_NF/cargo/pirate-pallet-console-component.ftl
  Resources/Prototypes/_NF/Catalog/Bounties/pirate_bounties.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
Labels: C#, FTL

remove RandonSpawner and RandomSpawner100
  Resources/Maps/_NF/Shuttles/BlackMarket/schooner.yml
  Resources/Maps/_NF/Shuttles/Expedition/ambition.yml
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
  Resources/Maps/_NF/Shuttles/Expedition/sprinter.yml
  Resources/Maps/_NF/Shuttles/Scrap/canister.yml
  Resources/Maps/_NF/Shuttles/Scrap/disciple.yml
  Resources/Maps/_NF/Shuttles/Scrap/nugget.yml
  Resources/Maps/_NF/Shuttles/Scrap/orange.yml
  Resources/Maps/_NF/Shuttles/Scrap/point.yml
  Resources/Maps/_NF/Shuttles/Scrap/tide.yml
  Resources/Maps/_NF/Shuttles/esquire.yml
  Resources/Maps/_NF/Shuttles/metastable.yml
  Resources/Maps/_NF/Shuttles/phoenix.yml
  Resources/Maps/_NF/Shuttles/spectre.yml
  Resources/Maps/_NF/Shuttles/vagabond.yml
Labels: Map-Shuttle

Moved all of the radio strings to locale and additional comments
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
  Resources/Locale/en-US/_NF/smuggling/deaddrop.ftl
  Resources/Locale/en-US/forensics/forensics.ftl
Labels: C#, FTL

removed job spawners (except nfsd and pirates)
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Maps/_NF/Shuttles/Expedition/courserx.yml
  Resources/Maps/_NF/Shuttles/Expedition/dartx.yml
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
  Resources/Maps/_NF/Shuttles/Expedition/praeda.yml
  Resources/Maps/_NF/Shuttles/Expedition/rosebudmkii.yml
  Resources/Maps/_NF/Shuttles/Expedition/sprinter.yml
  Resources/Maps/_NF/Shuttles/Scrap/nugget.yml
  Resources/Maps/_NF/Shuttles/Scrap/orange.yml
  Resources/Maps/_NF/Shuttles/barge.yml
  Resources/Maps/_NF/Shuttles/bocadillo.yml
  Resources/Maps/_NF/Shuttles/caduceus.yml
  Resources/Maps/_NF/Shuttles/chisel.yml
  Resources/Maps/_NF/Shuttles/cleithro.yml
  Resources/Maps/_NF/Shuttles/comet.yml
  Resources/Maps/_NF/Shuttles/condor.yml
  Resources/Maps/_NF/Shuttles/crescent.yml
  Resources/Maps/_NF/Shuttles/esquire.yml
  Resources/Maps/_NF/Shuttles/garden.yml
  Resources/Maps/_NF/Shuttles/hauler.yml
  Resources/Maps/_NF/Shuttles/honker.yml
  Resources/Maps/_NF/Shuttles/investigator.yml
  Resources/Maps/_NF/Shuttles/knuckleverse.yml
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Maps/_NF/Shuttles/metastable.yml
  Resources/Maps/_NF/Shuttles/mission.yml
  Resources/Maps/_NF/Shuttles/phoenix.yml
  Resources/Maps/_NF/Shuttles/piecrust.yml
  Resources/Maps/_NF/Shuttles/placebo.yml
  Resources/Maps/_NF/Shuttles/prospector.yml
  Resources/Maps/_NF/Shuttles/pts.yml
  Resources/Maps/_NF/Shuttles/pulse.yml
  Resources/Maps/_NF/Shuttles/rosebudmki.yml
  Resources/Maps/_NF/Shuttles/skipper.yml
  Resources/Maps/_NF/Shuttles/sparrow.yml
  Resources/Maps/_NF/Shuttles/spectre.yml
  Resources/Maps/_NF/Shuttles/stellaris.yml
  Resources/Maps/_NF/Shuttles/stratos.yml
  Resources/Maps/_NF/Shuttles/vagabond.yml
  Resources/Maps/_NF/Shuttles/waveshot.yml
Labels: Map-Shuttle

replased filled gun safes with empty ones
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Maps/_NF/Shuttles/Expedition/courserx.yml
  Resources/Maps/_NF/Shuttles/Expedition/dartx.yml
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
  Resources/Maps/_NF/Shuttles/Expedition/sprinter.yml
  Resources/Maps/_NF/Shuttles/crescent.yml
  Resources/Maps/_NF/Shuttles/metastable.yml
Labels: Map-Shuttle

More pirate bounty stuff
  Content.Client/_NF/Pirate/UI/PirateBountyEntry.xaml
  Content.Client/_NF/Pirate/UI/PirateBountyEntry.xaml.cs
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Shared/_NF/Pirate/Components/PirateBountyConsoleComponent.cs
  Content.Shared/_NF/Pirate/Prototypes/PirateBountyPrototype.cs
  Resources/Locale/en-US/_NF/cargo/pirate-bounty-console.ftl
  Resources/Prototypes/_NF/Catalog/Bounties/pirate_bounties.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/paper.yml
Labels: UI, C#, FTL

removed food items
  Resources/Maps/_NF/Shuttles/BlackMarket/falcon.yml
  Resources/Maps/_NF/Shuttles/Expedition/ambition.yml
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Maps/_NF/Shuttles/Expedition/courserx.yml
  Resources/Maps/_NF/Shuttles/Expedition/dartx.yml
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
  Resources/Maps/_NF/Shuttles/Expedition/gasbender.yml
  Resources/Maps/_NF/Shuttles/Expedition/praeda.yml
  Resources/Maps/_NF/Shuttles/Expedition/rosebudmkii.yml
  Resources/Maps/_NF/Shuttles/Nfsd/opportunity.yml
  Resources/Maps/_NF/Shuttles/Nfsd/wasp.yml
  Resources/Maps/_NF/Shuttles/Nfsd/whiskey.yml
  Resources/Maps/_NF/Shuttles/Scrap/bison.yml
  Resources/Maps/_NF/Shuttles/Scrap/disciple.yml
  Resources/Maps/_NF/Shuttles/Scrap/nugget.yml
  Resources/Maps/_NF/Shuttles/Scrap/orange.yml
  Resources/Maps/_NF/Shuttles/Syndicate/infiltrator.yml
  Resources/Maps/_NF/Shuttles/caduceus.yml
  Resources/Maps/_NF/Shuttles/chisel.yml
  Resources/Maps/_NF/Shuttles/cleithro.yml
  Resources/Maps/_NF/Shuttles/crescent.yml
  Resources/Maps/_NF/Shuttles/esquire.yml
  Resources/Maps/_NF/Shuttles/garden.yml
  Resources/Maps/_NF/Shuttles/hauler.yml
  Resources/Maps/_NF/Shuttles/investigator.yml
  Resources/Maps/_NF/Shuttles/knuckleverse.yml
  Resources/Maps/_NF/Shuttles/lantern.yml
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Maps/_NF/Shuttles/mission.yml
  Resources/Maps/_NF/Shuttles/phoenix.yml
  Resources/Maps/_NF/Shuttles/rosebudmki.yml
  Resources/Maps/_NF/Shuttles/spectre.yml
  Resources/Maps/_NF/Shuttles/stellaris.yml
  Resources/Maps/_NF/Shuttles/stratos.yml
  Resources/Maps/_NF/Shuttles/vagabond.yml
  Resources/Maps/_NF/Shuttles/waveshot.yml
Labels: Map-Shuttle

removed kitchen machines
  Resources/Maps/_NF/Shuttles/Expedition/ambition.yml
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Maps/_NF/Shuttles/Expedition/dartx.yml
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
  Resources/Maps/_NF/Shuttles/Expedition/praeda.yml
  Resources/Maps/_NF/Shuttles/Expedition/sprinter.yml
  Resources/Maps/_NF/Shuttles/Nfsd/marauder.yml
  Resources/Maps/_NF/Shuttles/Nfsd/prowler.yml
  Resources/Maps/_NF/Shuttles/Nfsd/whiskey.yml
  Resources/Maps/_NF/Shuttles/Scrap/bison.yml
  Resources/Maps/_NF/Shuttles/Scrap/point.yml
  Resources/Maps/_NF/Shuttles/camper.yml
  Resources/Maps/_NF/Shuttles/esquire.yml
  Resources/Maps/_NF/Shuttles/hauler.yml
  Resources/Maps/_NF/Shuttles/investigator.yml
  Resources/Maps/_NF/Shuttles/phoenix.yml
  Resources/Maps/_NF/Shuttles/spectre.yml
  Resources/Maps/_NF/Shuttles/vagabond.yml
Labels: Map-Shuttle

PirateBountyEntry: access button rewrite
  Content.Client/_NF/Pirate/UI/PirateBountyEntry.xaml.cs
Labels: UI, C#

removed medkits, replaced filled medlockers with empty, replaced medbeds with beds
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Maps/_NF/Shuttles/Expedition/courserx.yml
  Resources/Maps/_NF/Shuttles/Expedition/dartx.yml
  Resources/Maps/_NF/Shuttles/Expedition/decadedove.yml
  Resources/Maps/_NF/Shuttles/Expedition/praeda.yml
  Resources/Maps/_NF/Shuttles/Expedition/rosebudmkii.yml
  Resources/Maps/_NF/Shuttles/Expedition/sprinter.yml
  Resources/Maps/_NF/Shuttles/Scrap/bison.yml
  Resources/Maps/_NF/Shuttles/hauler.yml
  Resources/Maps/_NF/Shuttles/knuckleverse.yml
  Resources/Maps/_NF/Shuttles/rosebudmki.yml
  Resources/Maps/_NF/Shuttles/vagabond.yml
Labels: Map-Shuttle

no chemistry
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Maps/_NF/Shuttles/Expedition/dartx.yml
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
  Resources/Maps/_NF/Shuttles/Expedition/praeda.yml
  Resources/Maps/_NF/Shuttles/Expedition/rosebudmkii.yml
  Resources/Maps/_NF/Shuttles/Scrap/bison.yml
  Resources/Maps/_NF/Shuttles/rosebudmki.yml
Labels: Map-Shuttle

no kitchen machines for nfsd
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
  Resources/Maps/_NF/Shuttles/Nfsd/opportunity.yml
  Resources/Maps/_NF/Shuttles/Nfsd/wasp.yml
Labels: Map-Shuttle

removed smile the slime from wasp
  Resources/Maps/_NF/Shuttles/Nfsd/wasp.yml
Labels: Map-Shuttle

fixed ambition erroring out
  Resources/Maps/_NF/Shuttles/Expedition/ambition.yml
Labels: Map-Shuttle

Update PaperSystem.cs
  Content.Server/Paper/PaperSystem.cs
Labels: C#

Update PaperSystem.cs
  Content.Server/Paper/PaperSystem.cs
Labels: C#

Update PaperSystem.cs
  Content.Server/Paper/PaperSystem.cs
Labels: C#

Fix
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/Paper/StampComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
Labels: C#

add profile validation and async saving
  Content.Server/_NF/Bank/BankSystem.cs
Labels: C#

rigged up, need fixing
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/base_turret.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets_magazine_fed.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/ballistic_magfed.rsi/stagnation_turret_01.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/ballistic_magfed.rsi/stagnation_turret_02.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/ballistic_magfed.rsi/stagnation_turret_disabler.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/ballistic_magfed.rsi/stagnation_turret_laser.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/ballistic_magfed.rsi/stagnation_turret_packed.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/ballistic_magfed.rsi/stagnation_turret_packed_alt.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/mag-0.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/mag-1.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/mag-2.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/mag-3.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/mag-4.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/mag-5.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/mag-6.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/mag-7.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/packed.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/disabler.rsi/unshaded.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/mag-0.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/mag-1.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/mag-10.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/mag-2.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/mag-3.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/mag-4.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/mag-5.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/mag-6.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/mag-7.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/mag-8.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/mag-9.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/magazinefed.rsi/packed.png
Labels: Sprites

Cognizine, opporozidone syringe fixes
  Resources/Prototypes/_NF/Mail/Items/misc.yml
Labels: none

fix
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
Labels: none
