Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

Market console price fix (#1818)
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
Labels: C#

Fix Cargo Trade (#1812)
  Content.Client/_NF/Market/UI/MarketMenu.xaml.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
Labels: Map-POI, UI, C#

Adjusts NFSD Time to more appropriate values
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
Labels: none

Create publish_github_artifact.py
  Tools/publish_github_artifact.py
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

Allow execute
  Tools/publish_github_artifact.py
Labels: none

Updated pirate/bailiff hours to reflect the pr :)
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
Labels: none

Delete Resources/Maps/_NF/Shuttles/Expedition/praeda.yml
  Resources/Maps/_NF/Shuttles/Expedition/praeda.yml
Labels: Map-Shuttle

Delete Resources/Prototypes/_NF/Shipyard/Expedition/praeda.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/praeda.yml
Labels: Map-Shuttle

Give parrots the ability to repeat learned phrases (#1801)
  Content.Server/_NF/Speech/Components/ParrotSpeechComponent.cs
  Content.Server/_NF/Speech/EntitySystems/ParrotSpeechSystem.cs
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/yarrrdrobe.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/_NF/Clothing/Neck/Cloaks/pirate_parrot.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/pirate_parrot.rsi/meta.json
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/dead.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/equipped-NECK.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/icon.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/inhand-left.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/inhand-right.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/meta.json
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/parrot.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/sit.png
Labels: Sprites, C#

Automatic Changelog (#1801)
  Resources/Changelog/Changelog.yml
Labels: none

Remove the praeda (#1822)
  Resources/Maps/_NF/Shuttles/Expedition/praeda.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/praeda.yml
Labels: Map-Shuttle

Automatic Changelog (#1822)
  Resources/Changelog/Changelog.yml
Labels: none

Add ResultCount to MicrowaveMealRecipePrototype
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Shared/Kitchen/MicrowaveMealRecipePrototype.cs
Labels: C#

Add new 'Raisins' reagent
  Resources/Locale/en-US/_NF/reagents/foods.ftl
  Resources/Locale/en-US/_NF/reagents/meta/consumable/food/food.ftl
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_NF/Reagents/Consumables/food.yml
Labels: FTL

Rename chocolate chips bag to cocoa powder bag
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/ingredients.yml
Labels: none

Update cookie recipes, add raisin recipe
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
Labels: none

Update cak recipe
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: none

Increase raisin requirement
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: none

Added formatted paperwork forms and stamp to inventory.
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_nfsd.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/public_affairs.yml
Labels: none

Make raisins recognizable
  Resources/Prototypes/_NF/Reagents/Consumables/food.yml
Labels: none

Format Fix
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_nfsd.yml
Labels: none

fix
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_nfsd.yml
Labels: none

Decapitalise raisins
  Resources/Locale/en-US/_NF/reagents/meta/consumable/food/food.ftl
Labels: FTL

Linter fuggofff
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_nfsd.yml
Labels: none

restocks, crates
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_NF/InventoryTemplates/hostile_humanoid_inventory_template.yml
  Resources/Prototypes/_NF/InventoryTemplates/hostile_humanoid_simplified_inventory_template.yml
  Resources/Prototypes/_NF/InventoryTemplates/hostile_nonhumanoid_inventory_template.yml
Labels: none

Update pirate_anchor.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/pirate_anchor.yml
Labels: none

Update pacified_zone.yml
  Resources/Prototypes/_NF/Entities/Markers/pacified_zone.yml
Labels: none

Update pacified_zone.yml
  Resources/Prototypes/_NF/Entities/Markers/pacified_zone.yml
Labels: none

PacifiedZone
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorComponent.cs
  Content.Server/_NF/PacifiedZone/PacifiedlZoneGeneratorSystem.cs
  Resources/Prototypes/_NF/Entities/Markers/pacified_zone.yml
  Resources/Textures/_NF/Markers/pacifiedzone.rsi/meta.json
  Resources/Textures/_NF/Markers/pacifiedzone.rsi/pacified_zone.png
Labels: Sprites, C#

Fixup
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/cargodepotalt.yml
Labels: Map-POI

Mybad
  Resources/Maps/_NF/POI/cargodepotalt.yml
Labels: Map-POI

Random POI rotation, append letters to cargo depot
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: C#

PacifiedZone: handle only non-pacified entities
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorSystem.cs
Labels: C#

NetEntity->EntityUid (running locally on server)
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorComponent.cs
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorSystem.cs
Labels: C#

GameRule Rework (POI Spawning) (#1737)
  Content.Server/_NF/GameRule/AdventureRuleComponent.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Shared/_NF/CCVars/CCVars.cs
  Content.Shared/_NF/GameRule/PointOfInterestPrototype.cs
  Resources/Maps/_NF/POI/anomalousgeode.yml
  Resources/Maps/_NF/POI/anomalouslab.yml
  Resources/Maps/_NF/POI/cargodepotalt.yml
  Resources/Prototypes/_NF/Maps/POI/cove.yml
  Resources/Prototypes/_NF/Maps/POI/lodge.yml
  Resources/Prototypes/_NF/Maps/POI/lpbravo.yml
  Resources/Prototypes/_NF/Maps/POI/trade.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalousgeode.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalouslab.yml
  Resources/Prototypes/_NF/PointsOfInterest/caseys.yml
  Resources/Prototypes/_NF/PointsOfInterest/courthouse.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
  Resources/Prototypes/_NF/PointsOfInterest/griftys.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Prototypes/_NF/PointsOfInterest/northpole.yml
  Resources/Prototypes/_NF/PointsOfInterest/omnichurch.yml
  Resources/Prototypes/_NF/PointsOfInterest/thepit.yml
  Resources/Prototypes/_NF/PointsOfInterest/tinniasrest.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: Map-Shuttle, Map-POI, C#

Automatic Changelog (#1737)
  Resources/Changelog/Changelog.yml
Labels: none

NextUpdate: not a DataField
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorComponent.cs
Labels: C#

Frida
  Resources/Maps/_NF/Shuttles/Expedition/frida.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/frida.yml
Labels: Map-Shuttle

Update frida.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/frida.yml
Labels: Map-Shuttle
