Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

Remove pilot belt
  Resources/Prototypes/_NF/Loadouts/Jobs/Pilot/belt.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
Labels: none

NFSD loadouts, mail carrier backpacks, fails lint
  Resources/Prototypes/_NF/Loadouts/Jobs/Bailiff/gloves.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Bailiff/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Cadet/gloves.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Deputy/gloves.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/DetectiveNF/outer.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/MailCarrier/backpack.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Nfsd/gloves.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/SeniorOfficer/gloves.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Sheriff/gloves.yml
  Resources/Prototypes/_NF/Loadouts/bailiff_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/brigmedic_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/cadet_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/deputy_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/detectivenf_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mail_carrier_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/nfsd_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pirates_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/prisoner_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/security_guard_groups.yml
  Resources/Prototypes/_NF/Loadouts/senior_officer_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/sheriff_loadout_groups.yml
Labels: none

ATM rotation fixes (#1731)
  Resources/Maps/_NF/Shuttles/Expedition/praeda.yml
  Resources/Maps/_NF/Shuttles/caduceus.yml
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
Labels: Map-Shuttle

NFSD, Mail Carrier loadout fixes
  Resources/Prototypes/_NF/Loadouts/mail_carrier_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/nfsd_loadout_groups.yml
Labels: none

Detective: armor vest fix
  Resources/Prototypes/_NF/Loadouts/Jobs/DetectiveNF/outer.yml
  Resources/Prototypes/_NF/Loadouts/detectivenf_loadout_groups.yml
Labels: none

nfsd_loadout_groups: shoe & glove descriptions
  Resources/Prototypes/_NF/Loadouts/nfsd_loadout_groups.yml
Labels: none

FIxup
  Resources/Prototypes/Entities/Effects/wallspawn.yml
  Resources/Prototypes/_NF/Entities/Effects/wallspawn.yml
Labels: none

Mask fallbacks
  Resources/Prototypes/_NF/Loadouts/brigmedic_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/nfsd_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pirates_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/security_guard_groups.yml
  Resources/Prototypes/_NF/Loadouts/sheriff_loadout_groups.yml
Labels: none

ShipyardSystem: restore ping (currently per-user)
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
Labels: C#

linq correction
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: C#

full conversion
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Maps/_NF/POI/anomalouslab.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalouslab.yml
  Resources/Prototypes/_NF/PointsOfInterest/caseys.yml
  Resources/Prototypes/_NF/PointsOfInterest/courthouse.yml
  Resources/Prototypes/_NF/PointsOfInterest/griftys.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Prototypes/_NF/PointsOfInterest/northpole.yml
  Resources/Prototypes/_NF/PointsOfInterest/omnichurch.yml
  Resources/Prototypes/_NF/PointsOfInterest/thepit.yml
  Resources/Prototypes/_NF/PointsOfInterest/tinniasrest.yml
Labels: Map-POI, C#

Fix Hauler death trap closet
  Resources/Maps/_NF/Shuttles/hauler.yml
Labels: Map-Shuttle

Return Felinid Labeler Fix
  Content.Server/Nyanotrasen/Item/PseudoItem/PseudoItemSystem.cs
  Content.Shared/Labels/EntitySystems/SharedHandLabelerSystem.cs
  Resources/Prototypes/DeltaV/tags.yml
Labels: C#

Save old bank balance on randomized characters
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: UI, C#

NfAdventureRuleSystem suggestions
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: C#

Fix Hauler death trap closet (#1739)
  Resources/Maps/_NF/Shuttles/hauler.yml
Labels: Map-Shuttle

Automatic Changelog (#1739)
  Resources/Changelog/Changelog.yml
Labels: none

added a basic script for new announcements
  Resources/Audio/_NF/Announcements/VA_script.txt
Labels: none

second try
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: none

added frontierfm to roundend properly
  Resources/Prototypes/SoundCollections/announcements.yml
  Resources/Prototypes/_NF/SoundCollections/announcements.yml
Labels: none

I cannot spell
  Resources/Audio/_NF/Announcements/andy_attributions.yml
Labels: none

added frontierfm to RoundEnd sound pool
  Resources/Prototypes/_NF/SoundCollections/announcements.yml
Labels: none

adding PSA's announcement variants + attributions
  Resources/Audio/_NF/Announcements/RoundEnd/snake_frontierfm.ogg
  Resources/Audio/_NF/Announcements/VA_script.txt
  Resources/Audio/_NF/Announcements/andy_aliensnf.ogg
  Resources/Audio/_NF/Announcements/andy_attentionnf.ogg
  Resources/Audio/_NF/Announcements/andy_attirbutions.yml
  Resources/Audio/_NF/Announcements/andy_ion_stormnf.ogg
  Resources/Audio/_NF/Announcements/andy_meteorsnf.ogg
  Resources/Audio/_NF/Announcements/andy_outbreak7nf.ogg
  Resources/Audio/_NF/Announcements/andy_power_offnf.ogg
  Resources/Audio/_NF/Announcements/andy_power_onnf.ogg
  Resources/Audio/_NF/Announcements/andy_radiationnf.ogg
  Resources/Audio/_NF/Announcements/andy_shift_end.ogg
  Resources/Audio/_NF/Announcements/andy_shift_extend.ogg
  Resources/Audio/_NF/Announcements/andy_shift_near.ogg
  Resources/Audio/_NF/Announcements/andy_welcomenf.ogg
Labels: none

add all voicelines
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy0_VA_script.txt
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_aliensnf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_attentionnf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_ion_stormnf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_meteorsnf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_outbreak7nf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_power_offnf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_power_onnf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_radiationnf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_shift_end.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_shift_extend.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_shift_near.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_welcomenf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_asteroid_arrival.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_asteroid_leave.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_cache_arrival.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_cache_leave.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_normal_crate.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_ship_arrival.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_ship_leave.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_syndie_crate.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_vault_arrival.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_vault_leave.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_breaker_flip.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_gas_leak_end.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_gas_leak_start.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_random_sentience_mixdown.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_solar_flare_end.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_solar_flare_start.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_vent_clog.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_vent_critters.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy_attributions.yml
  Resources/Audio/_NF/Announcements/andy_attributions.yml
Labels: none

new welcome message
  Resources/Prototypes/round_announcements.yml
Labels: none

Shuttle Called -> Shift's End
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Resources/Locale/en-US/round-end/round-end-system.ftl
  Resources/Locale/en-US/shuttles/emergency.ftl
Labels: C#, FTL

no linq, prefer shuffle to pickandtake
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: C#

AdventureRuleComponent: remove unused vars
  Content.Server/_NF/GameRule/AdventureRuleComponent.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: C#

new voicelines for base game events
  Content.Server/StationEvents/Events/PowerGridCheckRule.cs
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_NF/Events/events.yml
Labels: C#

full attributions to andy
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy_attributions.yml
Labels: none

fixed double start
  Resources/Prototypes/_NF/Events/events.yml
Labels: none

additional second start fix
  Resources/Prototypes/_NF/Events/events.yml
Labels: none

tweaks after testing
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_NF/Events/events.yml
Labels: none

attribution link added
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy_attributions.yml
Labels: none

spelling error
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy_attributions.yml
Labels: none

attribution update
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy_attributions_V2.yml
  Resources/Audio/_NF/Announcements/PocketSizedAndy_deprecated/andy_attributions_V1.yml
Labels: none

attribution fix
  Resources/Audio/_NF/Announcements/PocketSizedAndy_deprecated/andy_attributions_V1.yml
Labels: none

Reverted my screw up
  Resources/Prototypes/_NF/Events/events.yml
Labels: none

Reverted my other screw up
  Resources/Prototypes/GameRules/events.yml
Labels: none

ShipyardSystem: restore ping (currently per-user) (#1736)
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
Labels: C#

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
