Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

Update box.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
Labels: none

Update box.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
Labels: none

Update events_nf.yml
  Resources/Prototypes/_NF/Events/events_nf.yml
Labels: none

pirate bounty chest and reminder descriptions
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Shared/_NF/Pirate/Prototypes/PirateBountyPrototype.cs
  Resources/Locale/en-US/_NF/cargo/pirate-bounty-console.ftl
Labels: C#, FTL

Chemlab update attempting to address concerns with chem wall locker mounting.
  Resources/Maps/_NF/Shuttles/stasis.yml
Labels: Map-Shuttle

buffed loot
  Resources/Maps/_NF/Bluespace/syndieftlintercept.yml
Labels: Map-Bluespace

Wall lockers: remove fixtures
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
Labels: none

better visuals for invisible cult wall
  Resources/Maps/_NF/Bluespace/bloodmoon.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/bloodcult.yml
  Resources/Textures/_NF/Structures/Specific/BloodCult/glowingfloor.rsi/meta.json
  Resources/Textures/_NF/Structures/Specific/BloodCult/glowingfloor.rsi/wallglow.png
Labels: Map-Bluespace, Sprites

crates pt 2
  Resources/Prototypes/_NF/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/expeditions_loot.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_hydroponics.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_kitchen.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
Labels: none

crates pt3
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_hydroponics.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_kitchen.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_supply.yml
Labels: none

Two less bed in the camper
  Resources/Maps/_NF/Shuttles/camper.yml
Labels: Map-Shuttle

updated dungeons
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/haunted.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/mineshaft.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
Labels: Map-Dungeon

Wall lockers: remove fixtures (#1710)
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
Labels: none

Automatic Changelog (#1710)
  Resources/Changelog/Changelog.yml
Labels: none

buffed cash rewards from mobs
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_cultists.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_explorers.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_mercenaries.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_punks.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_silicons.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_syndicate.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
Labels: none

Safe, mostly
  Content.Server/Power/Generator/GeneratorSystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
Labels: C#

Update portable_generator.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
Labels: none

Update portable_generator.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
Labels: none

More Frontier comments
  Content.Server/Power/Generator/GeneratorSystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
Labels: C#

Update dungeon_items_kitchen.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_kitchen.yml
Labels: none

Comment on targetPower
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
Labels: none

shuttles
  Resources/Maps/_NF/Shuttles/BlackMarket/schooner.yml
  Resources/Maps/_NF/Shuttles/bazaar.yml
  Resources/Maps/_NF/Shuttles/liquidator.yml
Labels: Map-Shuttle

Expeditions balance pass (#1699)
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/haunted.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/mineshaft.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_cultists.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_explorers.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_mercenaries.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_punks.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_silicons.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_syndicate.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/expeditions_loot.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_hydroponics.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_kitchen.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_supply.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/expedition_guns.yml
Labels: Map-Dungeon

Automatic Changelog (#1699)
  Resources/Changelog/Changelog.yml
Labels: none

Prospector (Update)
  Resources/Maps/_NF/Shuttles/prospector.yml
  Resources/Prototypes/_NF/Shipyard/prospector.yml
Labels: Map-Shuttle

shuttles (#1713)
  Resources/Maps/_NF/Shuttles/BlackMarket/schooner.yml
  Resources/Maps/_NF/Shuttles/bazaar.yml
  Resources/Maps/_NF/Shuttles/liquidator.yml
Labels: Map-Shuttle

Automatic Changelog (#1713)
  Resources/Changelog/Changelog.yml
Labels: none

The Sun
  Content.Server/Power/Generator/GeneratorSystem.cs
  Content.Server/Power/Generator/PortableGeneratorSystem.cs
  Content.Shared/Power/Generator/FuelGeneratorComponent.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
Labels: C#

Fixup
  Content.Server/Power/Generator/GeneratorSystem.cs
  Content.Shared/Power/Generator/FuelGeneratorComponent.cs
Labels: C#

Rough pirate contraband console
  Content.Client/_NF/Contraband/BUI/ContrabandPalletConsoleBoundUserInterface.cs
  Content.Client/_NF/Contraband/UI/ContrabandPalletMenu.xaml
  Content.Client/_NF/Contraband/UI/ContrabandPalletMenu.xaml.cs
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Server/_NF/Contraband/Components/ContrabandPalletConsoleComponent.cs
  Content.Server/_NF/Contraband/Systems/ContrabandSystem.cs
  Content.Shared/_NF/Contraband/Components/ContrabandPalletComponent.cs
  Resources/Locale/en-US/_NF/contraband/contraband-exchange-console.ftl
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: UI, C#, FTL

Update GeneratorSystem.cs
  Content.Server/Power/Generator/GeneratorSystem.cs
Labels: C#

Fixup
  Content.Server/Power/Generator/GeneratorSystem.cs
  Content.Server/Power/Generator/PortableGeneratorSystem.cs
Labels: C#

Pirate contraband exchange
  Content.Server/_NF/Contraband/Components/ContrabandPalletConsoleComponent.cs
  Content.Shared/_NF/Contraband/Components/ContrabandPalletComponent.cs
  Resources/Locale/en-US/_NF/contraband/contraband-exchange-console.ftl
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/contraband_pallet.yml
Labels: C#, FTL

McCargoCrate maxOccurrences set to 4
  Resources/Prototypes/_NF/Events/events_nf.yml
Labels: none

Low pop food events (#1708)
  Content.Server/StationEvents/Components/BluespaceCargoRuleComponent.cs
  Content.Server/StationEvents/Components/BluespaceSyndicateCargoRuleComponent.cs
  Content.Server/StationEvents/Components/StationEventComponent.cs
  Content.Server/StationEvents/Events/BluespaceCargoRule.cs
  Content.Server/StationEvents/Events/BluespaceSyndicateCargoRule.cs
  Resources/Maps/_NF/Bluespace/mcevent.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/_NF/Entities/Effects/bluespace_flash.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/cargo.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_NF/Events/events_bluespace.yml
  Resources/Prototypes/_NF/Events/events_nf.yml
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/base.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/closed.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/icon.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/open.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/sparking.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/welded.png
Labels: Map-Bluespace, Sprites, C#

Automatic Changelog (#1708)
  Resources/Changelog/Changelog.yml
Labels: none

Brigand (Update)
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/brigand.yml
Labels: Map-Shuttle

Works
  Content.Server/Power/Generator/GeneratorSystem.cs
  Content.Shared/Power/Generator/FuelGeneratorComponent.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
Labels: C#

Update GeneratorSystem.cs
  Content.Server/Power/Generator/GeneratorSystem.cs
Labels: C#

Notes
  Content.Server/Power/Generator/GeneratorSystem.cs
  Content.Shared/Power/Generator/FuelGeneratorComponent.cs
Labels: C#

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
