Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

Update Content.Client/Cargo/UI/CargoConsoleMenu.xaml
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml
Labels: UI

Update Resources/Changelog/Changelog.yml
  Resources/Changelog/Changelog.yml
Labels: none

Update Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
Labels: none

Update Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
Labels: none

Update Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
Labels: none

Update Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
Labels: none

Update Ceres grid MetaData
  Resources/Maps/_NF/Shuttles/ceres.yml
Labels: Map-Shuttle

Fix remove from cart
  Content.Client/_NF/Market/BUI/MarketConsoleBoundUserInterface.cs
  Content.Server/_NF/Market/Extensions/MarketDataExtensions.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Content.Shared/_NF/Market/Events/MarketConsoleCartMessage.cs
Labels: C#

Update mccargo.yml
  Resources/Maps/_NF/Shuttles/mccargo.yml
Labels: Map-Shuttle

grid name metadata
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Maps/_NF/Shuttles/Expedition/gasbender.yml
  Resources/Maps/_NF/Shuttles/harbormaster.yml
  Resources/Maps/_NF/Shuttles/kilderkin.yml
  Resources/Maps/_NF/Shuttles/lantern.yml
  Resources/Maps/_NF/Shuttles/legman.yml
  Resources/Maps/_NF/Shuttles/liquidator.yml
  Resources/Maps/_NF/Shuttles/pioneer.yml
  Resources/Maps/_NF/Shuttles/searchlight.yml
Labels: Map-Shuttle

Bump market modifier for 20 percent above cargo sell
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: none

Update gravity_generator.yml
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
Labels: none

le fix
  Resources/Maps/_NF/POI/lodge.yml
Labels: Map-POI

Currency-specific conversion functions
  Content.Client/Bank/UI/BankATMMenu.xaml.cs
  Content.Client/Bank/UI/StationBankATMMenu.xaml.cs
  Content.Client/Bank/UI/WithdrawBankATMMenu.cs
  Content.Client/Cargo/UI/BountyEntry.xaml.cs
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Client/Cargo/UI/CargoPalletMenu.xaml.cs
  Content.Client/Lobby/UI/Loadouts/LoadoutWindow.xaml.cs
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Client/Store/Ui/StoreWithdrawWindow.xaml.cs
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Client/_NF/BountyContracts/UI/BountyContractUiFragmentListEntry.xaml.cs
  Content.Client/_NF/Contraband/UI/ContrabandPalletMenu.xaml.cs
  Content.Client/_NF/Pirate/UI/PirateBountyEntry.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/_NF/Bank/BankSystemExtensions.cs
Labels: UI, C#

tweaks
  Resources/Maps/_NF/POI/trade.yml
Labels: Map-POI

grid metadata
  Resources/Maps/_NF/POI/trade.yml
Labels: Map-POI

McGuide
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/McCargo.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/McDelivery.xml
Labels: Docs, FTL

Update shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
Labels: none

lockers
  Resources/Maps/_NF/POI/trade.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage_wallmount.yml
Labels: Map-POI

Adds silk clothing for arachnids
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/web_craft_graph.yml
  Resources/Prototypes/_NF/Recipes/Crafting/web_craft.yml
  Resources/Textures/_NF/Clothing/Neck/Cloaks/web_cloak.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/web_cloak.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/web_cloak.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/web_cloak.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/web_cloak.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_web_poncho.rsi/equipped-NECK-line.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_web_poncho.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_web_poncho.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_web_poncho.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_web_poncho.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_web_poncho.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_web_poncho.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Misc/web_poncho.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Misc/web_poncho.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Misc/web_poncho.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Misc/web_poncho.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Misc/web_poncho.rsi/meta.json
Labels: Sprites

Trade Station Tweaks (#1786)
  Resources/Maps/_NF/POI/trade.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage_wallmount.yml
Labels: Map-POI

Automatic Changelog (#1786)
  Resources/Changelog/Changelog.yml
Labels: none

Remove equipped-NECK-line.png from web poncho
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_web_poncho.rsi/equipped-NECK-line.png
Labels: Sprites

Fixes2
  Resources/Locale/ru-RU/nyanotrasen/species/species.ftl
  Resources/Prototypes/Nyanotrasen/Datasets/Names/oni_female.yml
  Resources/Prototypes/Nyanotrasen/Datasets/Names/oni_location.yml
  Resources/Prototypes/Nyanotrasen/Datasets/Names/oni_male.yml
  Resources/Prototypes/Nyanotrasen/Datasets/Names/pitbull.yml
  Resources/Prototypes/Nyanotrasen/Species/oni.yml
  Resources/Prototypes/_NF/Datasets/Names/goblin_names_female.yml
  Resources/Prototypes/_NF/Species/goblin_species.yml
  Resources/Textures/Logo/logo-ru.png
Labels: FTL

Update gravity_generator.yml (#1783)
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
Labels: none

change currency tag to component
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: none

Update mccargo.yml
  Resources/Maps/_NF/Shuttles/mccargo.yml
Labels: Map-Shuttle

Update mccargo.yml
  Resources/Maps/_NF/Shuttles/mccargo.yml
Labels: Map-Shuttle

Pipe Network Rework
  Resources/Maps/_NF/Shuttles/barber.yml
Labels: Map-Shuttle

Update mccargo.yml
  Resources/Maps/_NF/Shuttles/mccargo.yml
Labels: Map-Shuttle

SharedVehicleSystem: fix user arg on honk
  Content.Shared/Vehicle/SharedVehicleSystem.cs
Labels: C#

various map tweaks
  Resources/Maps/_NF/Shuttles/barber.yml
Labels: Map-Shuttle

Create web_neck_clothing.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/web_neck_clothing.yml
Labels: none

Removes neck slot from entity yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/web_neck_clothing.yml
Labels: none

slightly tweaks guidebook recommended target power value
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Barber.xml
Labels: Docs

Cargo Vend: cleanup, sector service, DB wl/bl
  Content.Client/_NF/Market/UI/MarketMenu.xaml
  Content.Client/_NF/Market/UI/MarketMenu.xaml.cs
  Content.Client/_NF/Market/UI/MarketProductRow.xaml
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/_NF/Contraband/Systems/ContrabandSystem.cs
  Content.Server/_NF/Market/Components/MarketConsoleComponent.cs
  Content.Server/_NF/Market/Components/MarketDataComponent.cs
  Content.Server/_NF/Market/Components/SectorCargoMarketDataComponent.cs
  Content.Server/_NF/Market/Extensions/MarketDataExtensions.cs
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
  Content.Shared/_NF/Market/MarketData.cs
  Content.Shared/_NF/SectorServices/Prototypes/SectorServicePrototypes.cs
  Content.Shared/_NF/Whitelist/EntProtoIdWhitelistSystem.cs
  Resources/Locale/en-US/_NF/market/market-console-component.ftl
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/SectorServices/cargo_market.yml
  Resources/Textures/_NF/Structures/Machines/crate_machine.rsi/meta.json
Labels: Sprites, UI, C#, FTL

MarketSystem: no more service EnsureComponent
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
Labels: C#

designated atmosfix vacuums for external tiles and populated the botany rack with swabs and plantkiller to make it appear less sparse
  Resources/Maps/_NF/Shuttles/akupara.yml
Labels: Map-Shuttle

Moved ATM to airlock, and more fire extinguisher cabinet (fire safety)
  Resources/Maps/_NF/Shuttles/barber.yml
Labels: Map-Shuttle

UI tweak
  Content.Client/_NF/Market/UI/MarketMenu.xaml
Labels: UI
