Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

3 new additions to jukebox (#1361) (#1646)
  Resources/Audio/DeltaV/Jukebox/Phoron_Will_Make_Us_RichMONO2.ogg
  Resources/Audio/DeltaV/Jukebox/attributions.yml
  Resources/Audio/DeltaV/Jukebox/every_light_is_blinking_at_onceMONO.ogg
  Resources/Audio/DeltaV/Jukebox/lasers_rip_apart_the_bulkheadMONO.ogg
  Resources/Prototypes/DeltaV/Catalog/Jukebox/Standard.yml
Labels: none

Alternative wagging tail for felinids. (#593)
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/alternative_tail.rsi/m_waggingtail_cat_FRONT.png
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/alternative_tail.rsi/meta.json
Labels: Sprites

Buffed Harpy (#1217)
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
Labels: none

Harpy Can Now Mimic Harps! (#1252)
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
Labels: none

New horns for oni. (#1030)
  Resources/Locale/en-US/deltav/markings/Oni.ftl
  Resources/Locale/en-US/nyanotrasen/markings/Oni.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Textures/DeltaV/Mobs/Customization/Oni/oni_horns.rsi/bull.png
  Resources/Textures/DeltaV/Mobs/Customization/Oni/oni_horns.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Oni/oni_horns.rsi/shaved.png
Labels: Sprites, FTL

ftl real
  Resources/Locale/en-US/nyanotrasen/abilities/Oni1.ftl
  Resources/Locale/en-US/nyanotrasen/markings/Oni.ftl
Labels: FTL

Unreal
  Resources/Locale/en-US/nyanotrasen/abilities/Oni.ftl
Labels: FTL

Update Dwarf.xml
  Resources/ServerInfo/Guidebook/Mobs/Dwarf.xml
Labels: Docs

Update tattoos.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
Labels: none

Update Species.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
Labels: Docs

Update Species.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
Labels: Docs

Missing oni and felinid fluent entries
  Resources/Locale/en-US/deltav/markings/Oni.ftl
  Resources/Locale/en-US/deltav/markings/felinid.ftl
Labels: FTL

Fix missing goblin marking fluent entries
  Resources/Locale/en-US/markings/goblin_markings.ftl
Labels: FTL

Fix incorrect goblin marking entries
  Resources/Locale/en-US/markings/goblin_markings.ftl
Labels: FTL

DeltaV species updates (#1647)
  Resources/Locale/en-US/deltav/markings/Oni.ftl
  Resources/Locale/en-US/deltav/markings/felinid.ftl
  Resources/Locale/en-US/markings/goblin_markings.ftl
  Resources/Locale/en-US/nyanotrasen/abilities/Oni.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/Guidebook/species.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Felinid.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Harpy.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Oni.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Vulpkanin.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/alternative_tail.rsi/m_waggingtail_cat_FRONT.png
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/alternative_tail.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/tiger_tail.rsi/m_tail_tiger_primary.png
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/tiger_tail.rsi/m_tail_tiger_secondary.png
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/tiger_tail.rsi/m_tail_tiger_tertiary.png
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/tiger_tail.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Oni/oni_horns.rsi/bull.png
  Resources/Textures/DeltaV/Mobs/Customization/Oni/oni_horns.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Oni/oni_horns.rsi/shaved.png
Labels: Sprites, Docs, FTL

digestion check proof of concept
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
Labels: C#

initial commit
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/_NF/Species/goblin_species.yml
Labels: none

remove invisible IFF from prowler
  Resources/Maps/_NF/Shuttles/Nfsd/prowler.yml
Labels: Map-Shuttle

Smuggling Overhaul
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
  Resources/Locale/en-US/_NF/job/job-description.ftl
  Resources/Locale/en-US/_NF/job/job-names.ftl
  Resources/Locale/en-US/_NF/job/job-supervisors.ftl
  Resources/Locale/en-US/_NF/smuggling/deaddrop.ftl
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/crates.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/posters.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Syndicate/pda.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/syndicate_loadout_groups.yml
  Resources/Prototypes/_NF/Maps/POI/lpbravo.yml
  Resources/Prototypes/_NF/Roles/Jobs/Syndicate/syndicate_bodyguard.yml
  Resources/Prototypes/_NF/Roles/Jobs/Syndicate/syndicate_broker.yml
Labels: Map-POI, C#, FTL

Remove now unused stuff
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
Labels: C#

Role Requirements
  Resources/Prototypes/_NF/Roles/Jobs/Syndicate/syndicate_bodyguard.yml
  Resources/Prototypes/_NF/Roles/Jobs/Syndicate/syndicate_broker.yml
Labels: none

Limited starting slots
  Resources/Prototypes/_NF/Maps/POI/lpbravo.yml
Labels: none

update empress, rogue and fix nfsd small thruster
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
  Resources/Maps/_NF/Shuttles/Nfsd/rogue.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_nfsd.yml
Labels: Map-Shuttle

PR #1558 lint fix.
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/_NF/Reagents/MysterySludge.yml
Labels: none

Give them gloves
  Resources/Prototypes/_NF/Roles/Jobs/Syndicate/syndicate_bodyguard.yml
  Resources/Prototypes/_NF/Roles/Jobs/Syndicate/syndicate_broker.yml
Labels: none

Keep posters with lowered spawn chance
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
  Resources/Locale/en-US/_NF/smuggling/deaddrop.ftl
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/posters.yml
Labels: Map-POI, C#, FTL

Update tattoos.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
Labels: none

Update gauze.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
Labels: none

Update scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
Labels: none

Update gauze.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
Labels: none

Heavily re-balanced Dragonfly to meet new standards
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/dragonfly.yml
Labels: Map-Shuttle

Update scars.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
Labels: none

replaced mosin merc with novalite merc
  Resources/Prototypes/Procedural/salvage_factions.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_mercenaries.yml
  Resources/Prototypes/_NF/Entities/Clothing/Hands/gloves_mob_hostile_npcs.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/mobs_hostile_mercenaries.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_mercenaries.yml
  Resources/Prototypes/_NF/Roles/Jobs/Hostile/mercenaries.yml
  Resources/ServerInfo/_NF/Guidebook/MobsHostileExpedition/mercenaries.xml
Labels: Docs

fix
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_mercenaries.yml
Labels: none

very fixed now
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_mercenaries.yml
Labels: none

Add Frontier Arrivals to Jukebox (#1635)
  Resources/Audio/_NF/Jukebox/attributions.yml
  Resources/Audio/_NF/Jukebox/frontier-arrivals.ogg
  Resources/Prototypes/_NF/Catalog/Jukebox/Standard.yml
Labels: none

Automatic Changelog (#1635)
  Resources/Changelog/Changelog.yml
Labels: none

initial commit
  Resources/Maps/_NF/Bluespace/cache.yml
  Resources/Maps/_NF/Bluespace/syndieftlintercept.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/headwear_syndicate.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_hostile_syndicate_voidsmen.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Hostile/syndicate_naval_forces.yml
  Resources/ServerInfo/_NF/Guidebook/MobsHostileExpedition/syndicate.xml
Labels: Map-Bluespace, Docs

lpbravo
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/mobs_hostile_syndicate.yml
Labels: Map-POI

Quality to enum, restore special digestion for now
  Content.Server/Body/Components/StomachComponent.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Content.Server/_NF/Nutrition/EntitySystems/FoodSystem.Digestion.cs
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/noodles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/skewer.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/moth.yml
  Resources/Prototypes/_NF/Body/Organs/goblin_organs.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/spoiled.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/trash.yml
Labels: C#
