Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

Fixup
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
Labels: none

Fixups
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
Labels: none

Update computers.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: none

Add files via upload
  Resources/Maps/_NF/Shuttles/aldente.yml
Labels: Map-Shuttle

Recyclable randomized clothing
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/Eyes/glasses_punks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/armor_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/boots_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/recyclable_clothing_base.yml
  Resources/Prototypes/_NF/Recipes/Lathes/clothes.yml
Labels: none

Add files via upload
  Resources/Prototypes/_NF/Shipyard/aldente.yml
Labels: Map-Shuttle

nyanotrasen techfabs
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: none

fixes button links in bridge
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
Labels: Map-Shuttle

added button frames to all buttons
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
Labels: Map-Shuttle

ftl
  Resources/Locale/en-US/_NF/research/technologies.ftl
Labels: FTL

Adding in the stracotto shuttle. a small ittalian resturant.
  Resources/Maps/_NF/Shuttles/stracotto.yml
  Resources/Prototypes/_NF/Shipyard/stracotto.yml
Labels: Map-Shuttle

Courier performancer tracker (#1472)
  Content.Client/DeltaV/CartridgeLoader/Cartridges/MailMetricUi.cs
  Content.Client/DeltaV/CartridgeLoader/Cartridges/MailMetricUiFragment.xaml
  Content.Client/DeltaV/CartridgeLoader/Cartridges/MailMetricUiFragment.xaml.cs
  Content.Server/DeltaV/Cargo/Components/StationLogisticStatsDatabaseComponent.cs
  Content.Server/DeltaV/Cargo/Systems/LogisticStatsSystem.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/MailMetricsCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/MailMetricsCartridgeSystem.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/MailMetricUiState.cs
  Resources/Locale/en-US/deltav/cartridge-loader/cartridges.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Stations/mail.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Service/mail_carrier.yml
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/cart-mail.png
  Resources/Textures/Objects/Consumable/Drinks/saketokkuri.rsi/meta.json
Labels: Sprites, UI, C#, FTL

Card suggestions
  Content.Shared/_EstacaoPirata/Cards/Deck/CardDeckSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Hand/CardHandSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Stack/CardStackSystem.cs
  Resources/Locale/en-US/estacao-pirata/cards/cards.ftl
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/cards.yml
Labels: C#, FTL

Fixup
  Resources/Locale/en-US/deltav/cartridge-loader/cartridges.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/misc_startinggear.yml
Labels: FTL

How?
  Resources/Textures/Objects/Consumable/Drinks/saketokkuri.rsi/meta.json
Labels: Sprites

arcadia eva
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/arcadiadrobe.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
Labels: none

unanchorable punk vendomats
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: none

Fixups
  Content.Server/Nyanotrasen/Mail/Components/StationMailRouterComponent.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Entities/Stations/base.yml
  Resources/Prototypes/_NF/Entities/Stations/nanotrasen.yml
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/cart-cri.png
  Resources/Textures/DeltaV/Objects/Devices/cartridge.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-guard.png
  Resources/Textures/_NF/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/pda.rsi/pda-mailcarrier.png
Labels: Sprites, C#

pickup bool
  Content.Shared/_EstacaoPirata/Cards/Hand/CardHandSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Stack/CardStackSystem.cs
Labels: C#

Update MailSystem.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
Labels: C#

Remove another logged error
  Content.Shared/_EstacaoPirata/Cards/Stack/CardStackSystem.cs
Labels: C#

Revert FillStorage access
  Content.Server/Storage/EntitySystems/StorageSystem.Fill.cs
Labels: C#

Update pda.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: none

PDA
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
Labels: none

Medidrobe: more consistent entries w/upstream
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
Labels: none

Fixup
  Content.Server/Nyanotrasen/Mail/Components/MailComponent.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/base_mail.yml
  Resources/Prototypes/_NF/Entities/Stations/nanotrasen.yml
Labels: C#

Update identification_cards.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/identification_cards.yml
Labels: none

Fix empty key_slots
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: none

Automatic Changelog (#1854)
  Resources/Changelog/Changelog.yml
Labels: none

Pacified Zone: filter immune users by playtime (#1855)
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorComponent.cs
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorSystem.cs
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/Shuttles/Bus/publicts.yml
  Resources/Prototypes/_NF/Entities/Markers/pacified_zone.yml
Labels: Map-Outpost, Map-Shuttle, C#

Automatic Changelog (#1855)
  Resources/Changelog/Changelog.yml
Labels: none

Automatic Changelog (#1866)
  Resources/Changelog/Changelog.yml
Labels: none

Radio Sprites
  Resources/Textures/_NF/Objects/Devices/communication.rsi/broadcasting.png
  Resources/Textures/_NF/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/communication.rsi/speaker.png
  Resources/Textures/_NF/Objects/Devices/communication.rsi/walkietalkie-inhand-left.png
  Resources/Textures/_NF/Objects/Devices/communication.rsi/walkietalkie-inhand-right.png
  Resources/Textures/_NF/Objects/Devices/communication.rsi/walkietalkie.png
Labels: Sprites

Update computers.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: none

fixing
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
Labels: none

Update computer.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
Labels: none

Remove mail recyclable tag, mail metric order fix
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Content.Shared/DeltaV/CartridgeLoader/Cartridges/MailMetricUiState.cs
Labels: C#

Update mailTeleporter.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/mailTeleporter.yml
Labels: none

mail carrier job icons
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Nyanotrasen/StatusEffects/job.yml
Labels: none

Update radio.yml
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
Labels: none
