Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

Minor bug fixes (#1758)
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/base_turret.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
Labels: none

Automatic Changelog (#1758)
  Resources/Changelog/Changelog.yml
Labels: none

increase jerry can drink delays
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
Labels: none

form update
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_medical.yml
Labels: none

Fix market console opening million times
  Content.Client/_NF/Market/BUI/MarketConsoleBoundUserInterface.cs
  Content.Server/_NF/Market/Systems/MarketSystem.cs
Labels: C#

updates caduceus
  Resources/Maps/_NF/Shuttles/caduceus.yml
  Resources/Prototypes/_NF/Shipyard/caduceus.yml
Labels: Map-Shuttle

Fix spawning issue when grid is not a statiion
  Content.Server/_NF/Market/Systems/MarketSystem.cs
Labels: C#

Fix withdraw number under 0
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
Labels: C#

fix pews (again)
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/right.png
Labels: Sprites

Searchlight Update
  Resources/Maps/_NF/Shuttles/searchlight.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Shipyard/searchlight.yml
Labels: Map-Shuttle

sml upd
  Resources/Maps/_NF/Shuttles/searchlight.yml
Labels: Map-Shuttle

Progress
  Content.Client/_NF/Market/BUI/MarketConsoleBoundUserInterface.cs
  Content.Client/_NF/Market/UI/MarketCartProductRow.xaml
  Content.Client/_NF/Market/UI/MarketCartProductRow.xaml.cs
  Content.Client/_NF/Market/UI/MarketMenu.xaml
  Content.Client/_NF/Market/UI/MarketMenu.xaml.cs
  Content.Client/_NF/Market/UI/MarketProductRow.xaml
  Content.Client/_NF/Market/UI/MarketProductRow.xaml.cs
  Content.Server/_NF/Market/Components/MarketConsoleComponent.cs
  Content.Server/_NF/Market/Components/MarketDataComponent.cs
  Content.Server/_NF/Market/Extensions/MarketDataExtensions.cs
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
  Content.Server/_NF/Market/Systems/MarketSystem.cs
  Content.Shared/_NF/Market/Events/MarketConsoleCartMessage.cs
  Content.Shared/_NF/Market/MarketData.cs
  Resources/Locale/en-US/_NF/market/market-console-component.ftl
Labels: UI, C#, FTL

Adds the SV Lawndart, a ship so cheap it runs on Welding Fuel.
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/Scrap/Lawndart.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/Scrap/lawndart.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Lawndart.xml
Labels: Map-Shuttle, Docs, FTL

Update dev_map.yml
  Resources/Maps/_NF/Test/dev_map.yml
Labels: none

Fix NFSD intercom
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
Labels: none

Update dev_map.yml
  Resources/Maps/_NF/Test/dev_map.yml
Labels: none

Update debug.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: none

Sawn-off PKA mode fix
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Basic/sawn_pka.yml
Labels: none

Yes
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/nfsd.yml
Labels: Map-POI

Loadouts: make masks mandatory (#1754)
  Resources/Prototypes/_NF/Loadouts/Jobs/Prisoner/face.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Prisoner/survival.yml
  Resources/Prototypes/_NF/Loadouts/brigmedic_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/nfsd_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/prisoner_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/security_guard_groups.yml
  Resources/Prototypes/_NF/Loadouts/sheriff_loadout_groups.yml
Labels: none

Automatic Changelog (#1754)
  Resources/Changelog/Changelog.yml
Labels: none

cove.yml: sub console out until doubloon contrabnd
  Resources/Maps/_NF/POI/cove.yml
Labels: Map-POI

reworked engi wing and tweaked price
  Resources/Maps/_NF/Shuttles/eagle.yml
  Resources/Prototypes/_NF/Shipyard/eagle.yml
Labels: Map-Shuttle

Add market to cargo depots
  Resources/Maps/_NF/POI/cargodepot.yml
Labels: Map-POI

Give Ceres a passive vent into space, not scrubber
  Resources/Maps/_NF/Shuttles/ceres.yml
Labels: Map-Shuttle

Tweak vent and scrubber sprites + move to _NF
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Textures/_NF/Structures/Piping/Atmospherics/scrubber.rsi/meta.json
  Resources/Textures/_NF/Structures/Piping/Atmospherics/scrubber.rsi/scrub_off.png
  Resources/Textures/_NF/Structures/Piping/Atmospherics/scrubber.rsi/scrub_on.png
  Resources/Textures/_NF/Structures/Piping/Atmospherics/scrubber.rsi/scrub_purge.png
  Resources/Textures/_NF/Structures/Piping/Atmospherics/scrubber.rsi/scrub_welded.png
  Resources/Textures/_NF/Structures/Piping/Atmospherics/scrubber.rsi/scrub_wide.png
  Resources/Textures/_NF/Structures/Piping/Atmospherics/vent.rsi/meta.json
  Resources/Textures/_NF/Structures/Piping/Atmospherics/vent.rsi/vent_in.png
  Resources/Textures/_NF/Structures/Piping/Atmospherics/vent.rsi/vent_lockout.png
  Resources/Textures/_NF/Structures/Piping/Atmospherics/vent.rsi/vent_off.png
  Resources/Textures/_NF/Structures/Piping/Atmospherics/vent.rsi/vent_out.png
  Resources/Textures/_NF/Structures/Piping/Atmospherics/vent.rsi/vent_passive.png
  Resources/Textures/_NF/Structures/Piping/Atmospherics/vent.rsi/vent_welded.png
Labels: Sprites

Updated map
  Resources/Maps/_NF/POI/medical.yml
Labels: Map-POI

Half a set of medical POI jobs
  Resources/Locale/en-US/_NF/job/job-description.ftl
  Resources/Locale/en-US/_NF/job/job-names.ftl
  Resources/Locale/en-US/_NF/job/job-supervisors.ftl
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/civimed.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Medical/backpack.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Medical/eyes.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Medical/face.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Medical/glasses.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Medical/gloves.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Nfsd/face.yml
  Resources/Prototypes/_NF/Loadouts/brigmedic_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/medical_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Maps/POI/medical.yml
  Resources/Prototypes/_NF/Roles/Jobs/Command/director_of_care.yml
  Resources/Prototypes/_NF/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/_NF/Roles/Jobs/Medical/medic.yml
  Resources/Prototypes/_NF/Roles/play_time_trackers.yml
  Resources/Textures/_NF/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Service/vending_machine_restock.rsi/refill_civimed.png
Labels: Sprites, FTL

UI Rework
  Content.Client/_NF/Market/BUI/MarketConsoleBoundUserInterface.cs
  Content.Client/_NF/Market/UI/MarketCartProductRow.xaml
  Content.Client/_NF/Market/UI/MarketMenu.xaml
  Content.Client/_NF/Market/UI/MarketMenu.xaml.cs
  Content.Client/_NF/Market/UI/MarketProductRow.xaml
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
  Resources/Locale/en-US/_NF/market/market-console-component.ftl
Labels: UI, C#, FTL

Close after purchase
  Content.Client/_NF/Market/BUI/MarketConsoleBoundUserInterface.cs
Labels: C#

Add whitelist to market console
  Content.Server/_NF/Market/Components/MarketConsoleComponent.cs
  Content.Server/_NF/Market/Components/MarketDataComponent.cs
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
  Content.Server/_NF/Market/Systems/MarketSystem.cs
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: C#

Removed metadata names of entities
  Resources/Maps/_NF/Shuttles/eagle.yml
Labels: Map-Shuttle

removed metadata of named entities
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
Labels: Map-Shuttle

removed microwave plus small edits
  Resources/Maps/_NF/Shuttles/caduceus.yml
Labels: Map-Shuttle

Search functionality
  Content.Client/_NF/Market/BUI/MarketConsoleBoundUserInterface.cs
  Content.Client/_NF/Market/UI/MarketMenu.xaml
  Content.Client/_NF/Market/UI/MarketMenu.xaml.cs
  Resources/Locale/en-US/_NF/market/market-console-component.ftl
Labels: UI, C#, FTL

Fixes station map issue
  Resources/Maps/_NF/POI/medical.yml
  Resources/Prototypes/_NF/Maps/POI/medical.yml
Labels: Map-POI

Add quantity buttons and Ui reworks
  Content.Client/_NF/Market/BUI/MarketConsoleBoundUserInterface.cs
  Content.Client/_NF/Market/UI/MarketCartProductRow.xaml.cs
  Content.Client/_NF/Market/UI/MarketMenu.xaml.cs
  Content.Client/_NF/Market/UI/MarketProductRow.xaml
  Content.Client/_NF/Market/UI/MarketProductRow.xaml.cs
  Content.Server/_NF/Market/Extensions/MarketDataExtensions.cs
  Content.Server/_NF/Market/Systems/MarketSystem.cs
  Content.Shared/_NF/Market/MarketData.cs
  Resources/Locale/en-US/_NF/market/market-console-component.ftl
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: UI, C#, FTL

Update dev_map.yml
  Resources/Maps/_NF/Test/dev_map.yml
Labels: none

Jerry Cans (#1759)
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/fuelvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-5.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right-fill-1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right-fill-2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right-fill-3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right-fill-4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right-fill-5.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan5.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/meta.json
Labels: Map-POI, Sprites

Automatic Changelog (#1759)
  Resources/Changelog/Changelog.yml
Labels: none

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
