Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

Update guides.ftl
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
Labels: FTL

Update shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
Labels: none

Update shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
Labels: none

со спрайтами всё гут
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/engineering-white.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/engineering.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/maxim.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/medical.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/salvage.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/santahelm.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/security-red.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/security-warden.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/security.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/wizard.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/eva.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/eva_large.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/meta.json
  Resources/Textures/Clothing/Head/Welding/welding.rsi/meta.json
  Resources/Textures/Clothing/Mask/gas.rsi/meta.json
  Resources/Textures/Clothing/Mask/gascaptain.rsi/meta.json
  Resources/Textures/Clothing/Mask/gascentcom.rsi/meta.json
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/meta.json
  Resources/Textures/Clothing/Mask/gassecurity.rsi/meta.json
  Resources/Textures/Clothing/Mask/italian_moustache.rsi/meta.json
  Resources/Textures/Clothing/Mask/mime.rsi/meta.json
  Resources/Textures/Clothing/Mask/ninja.rsi/meta.json
  Resources/Textures/Clothing/Mask/sterile.rsi/meta.json
  Resources/Textures/Clothing/Mask/swat.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/capspace.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/meta.json
Labels: Sprites

Update shuttle_maps.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
Labels: none

Update meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Sprites

изменил мету, вырезал вульпу
  Resources/Textures/Clothing/Head/Hardsuits/rd.rsi/meta.json
Labels: Sprites

Changed behaviour of dead drop posters and added all of the previous posters to the dead drop system
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/tinnia.yml
Labels: Map-POI, C#

Update meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Sprites

Name Fix
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/Oni_horns1.yml
Labels: none

Name fix
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/Oni_horns.yml
Labels: none

i think i fixed my shit
  Resources/Locale/en-US/_NF/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_NF/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/_NF/Flavors/flavors.yml
  Resources/Prototypes/_NF/Reagents/Consumables/Drink/drinks.yml
  Resources/Prototypes/_NF/Recipes/Reactions/drinks.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/meta.json
Labels: Sprites, FTL

Cleanup Oni
  Resources/Locale/en-US/deltav/markings/Oni.ftl
  Resources/Locale/en-US/nyanotrasen/markings/Oni.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/Oni_horns.yml
Labels: FTL

Unlocked default humanoid markings for goblins and some other lesser species (#1648)
  Resources/Locale/en-US/deltav/markings/Oni.ftl
  Resources/Locale/en-US/nyanotrasen/markings/Oni.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/_NF/Species/goblin_species.yml
Labels: FTL

Automatic Changelog (#1648)
  Resources/Changelog/Changelog.yml
Labels: none

Eagle-(Update) (#1641)
  Resources/Maps/_NF/Shuttles/eagle.yml
Labels: Map-Shuttle

Automatic Changelog (#1641)
  Resources/Changelog/Changelog.yml
Labels: none

Default dampening value: off->dampen
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
Labels: C#

Update headwear_syndicate.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/headwear_syndicate.yml
Labels: none

Update headwear_syndicate.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/headwear_syndicate.yml
Labels: none

Update headwear_syndicate.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/headwear_syndicate.yml
Labels: none

Update shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
Labels: none

Update headwear_syndicate.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/headwear_syndicate.yml
Labels: none

changed reagent into ethanol
  Resources/Prototypes/_NF/Reagents/Consumables/Drink/drinks.yml
Labels: none

Syndicate bluespace events and LPB tweaks (#1652)
  Resources/Maps/_NF/Bluespace/cache.yml
  Resources/Maps/_NF/Bluespace/syndieftlintercept.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/headwear_syndicate.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_hostile_syndicate_voidsmen.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/mobs_hostile_syndicate.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Hostile/syndicate_naval_forces.yml
  Resources/ServerInfo/_NF/Guidebook/MobsHostileExpedition/syndicate.xml
Labels: Map-Bluespace, Map-POI, Docs

Automatic Changelog (#1652)
  Resources/Changelog/Changelog.yml
Labels: none

Lathe Fix: components upgrade time and material cost, circuit imprinter fix (#1660)
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: UI, C#

Automatic Changelog (#1660)
  Resources/Changelog/Changelog.yml
Labels: none

Fix goblin accent
  Content.Server/_NF/Speech/EntitySystems/GoblinAccentSystem.cs
  Resources/Prototypes/_NF/Entities/Mobs/Species/goblin.yml
Labels: C#

Remove debug prints from GoblinAccentSystem
  Content.Server/_NF/Speech/EntitySystems/GoblinAccentSystem.cs
Labels: C#

Posters are finally random, only one can be active per point of interest
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
Labels: C#

AAAAAAAAAAAAA
  Resources/Maps/_NF/Shuttles/Expedition/decadedove.yml
Labels: Map-Shuttle

Update bulker.yml
  Resources/Maps/_NF/Shuttles/bulker.yml
Labels: Map-Shuttle

gob accent: fix "those", remove dupes, l/strength
  Resources/Locale/en-US/_NF/accent/goblin_accent.ftl
  Resources/Prototypes/_NF/Accents/word_replacements.yml
Labels: FTL

initial
  Content.Server/_NF/GameRule/AdventureRuleComponent.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Shared/_NF/CCVars/CCVars.cs
  Content.Shared/_NF/GameRule/PointOfInterestPrototype.cs
Labels: C#

linking
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: C#

Update cadet & deputy sprites
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/nfsdcadet.png
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/nfsddeputy.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/idnfsdcadet.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/idnfsddeputy.png
Labels: Sprites

In-hand sprites: fix directions
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/meta.json
Labels: Sprites

yet more ID/job icon changes
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/nfsdcadet.png
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/nfsddeputy.png
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/nfsdsergeant.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/idnfsdcadet.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/idnfsddeputy.png
Labels: Sprites

Added a message of the drop pod location to the NSFD after 15 minutes and made the wait time faster for posters
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
Labels: C#

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
