Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

Sergeant and Bailiff ship vouchers, round-start NFSD and pirate roles (#1406)
  Content.Client/Shipyard/BUI/ShipyardConsoleBoundUserInterface.cs
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Server/Shipyard/Components/ShipyardVoucherComponent.cs
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Shared/Shipyard/BUI/ShipyardConsoleInterfaceState.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/ship_vouchers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/_NF/Maps/POI/cove.yml
  Resources/Prototypes/_NF/Maps/POI/nfsd.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/nfsdcadet.png
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/nfsddeputy.png
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/nfsdsergeant.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/idnfsdbrigmed.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/idnfsdcadet.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/idnfsddeputy.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/idnfsdsergeant.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/nfsdvoucher.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/vouchernfsdbailiff.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/vouchernfsdsergeant.png
Labels: Sprites, UI, C#, FTL

Automatic Changelog (#1406)
  Resources/Changelog/Changelog.yml
Labels: none

ConnectionManager: respect existing sessions (#1640)
  Content.Server/Connection/ConnectionManager.cs
Labels: C#

Automatic Changelog (#1640)
  Resources/Changelog/Changelog.yml
Labels: none

one more regex
  Content.Server/_NF/Speech/EntitySystems/GoblinAccentSystem.cs
Labels: C#

Medical POI Map
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Maps/_NF/POI/medical.yml
  Resources/Prototypes/_NF/Maps/POI/medical.yml
Labels: Map-POI, C#

Delete Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Sprites

Delete Resources/ServerInfo/_NF/Guidebook/Shipyard/Apothecary.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Apothecary.xml
Labels: Docs

Delete Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
Labels: FTL

Delete Resources/Maps/_NF/Shuttles/apothecary.yml
  Resources/Maps/_NF/Shuttles/apothecary.yml
Labels: Map-Shuttle

Delete Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
Labels: none

Delete Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
Labels: none

Delete Resources/Prototypes/_NF/Shipyard/apothecary.yml
  Resources/Prototypes/_NF/Shipyard/apothecary.yml
Labels: Map-Shuttle

Cove: station records computer, BaseStationRecords
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/_NF/Maps/POI/cove.yml
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: Map-Shuttle, Map-POI

Remove Dampening component and comment borg laws
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: Map-Shuttle

cove.yml: fix console location
  Resources/Maps/_NF/POI/cove.yml
Labels: Map-POI

adding new station component hide the anchoring buttons on stations (exploit prevention) apply station component to all POI's
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/_NF/Shuttles/Events/ToggleStabilizerRequest.cs
  Content.Shared/_NF/Station/Components/StationComponent.cs
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/anomalouslab.yml
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/POI/northpole.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/POI/trade.yml
Labels: Map-Outpost, Map-POI, UI, C#

Inertia dampeners Initial push need to disable buttons need to look into issue with max speed diagonal flying and changing directions
  Content.Client/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_NF/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/Content.Server.csproj
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/_NF/Shuttles/Events/ToggleStabilizerRequest.cs
  Resources/Locale/en-US/shuttles/console.ftl
Labels: UI, C#, FTL

more reward money, more guns
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/expedition_guns.yml
Labels: none

Minor Dove fixes (#1623)
  Resources/Maps/_NF/Shuttles/Expedition/decadedove.yml
Labels: Map-Shuttle

Automatic Changelog (#1623)
  Resources/Changelog/Changelog.yml
Labels: none

Update cove.yml
  Resources/Maps/_NF/POI/cove.yml
Labels: Map-POI

Update cove.yml
  Resources/Maps/_NF/POI/cove.yml
Labels: Map-POI

Uplink Store and Drop Signaller
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
  Content.Shared/Emag/Components/EmagComponent.cs
  Content.Shared/Emag/Systems/EmagSystem.cs
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Maps/deaddrop.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/loot_telecrystals.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Catalog/uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/emag.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_NF/Roles/Jobs/Syndicate/syndicate_bodyguard.yml
  Resources/Prototypes/_NF/Roles/Jobs/Syndicate/syndicate_broker.yml
  Resources/Prototypes/_NF/Store/presets.yml
Labels: C#, FTL

Einstein-Engines fix
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: C#

Update BluespaceErrorRule.cs
  Content.Server/StationEvents/Events/BluespaceErrorRule.cs
Labels: C#

mob heat immunity, syndie names
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
Labels: none

Pirate Cove: add station records computer, inherit BaseStationRecords (#1664)
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/_NF/Maps/POI/cove.yml
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: Map-Shuttle, Map-POI

Small Mobs Fixing (#1665)
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Server/StationEvents/Events/BluespaceErrorRule.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: C#

Moving Some Files To Correct Locations
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meat_goblin.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/admin_hand_teleporter.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/dragon_egg.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_NF/Hydroponics/seeds.yml
  Resources/Prototypes/_NF/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_NF/Objects/Consumable/Food/produce.yml
Labels: none

Update battery_guns.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: none

Goblin accent system: fixes for her, hers, per
  Content.Server/_NF/Speech/EntitySystems/GoblinAccentSystem.cs
Labels: C#

Scanning activated dead drop posters gives 30k cash to NFSD and dead drop location is now said by NFSD Outpost
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
  Resources/Locale/en-US/_NF/smuggling/deaddrop.ftl
Labels: C#, FTL

Better address case sensitivity in goblin accent
  Content.Server/_NF/Speech/EntitySystems/GoblinAccentSystem.cs
Labels: C#

Moving Some Files To Correct Locations (#1666)
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meat_goblin.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/admin_hand_teleporter.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/dragon_egg.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_NF/Hydroponics/seeds.yml
  Resources/Prototypes/_NF/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_NF/Objects/Consumable/Food/produce.yml
Labels: none

Criminal and Shipyard records fax error fix
  Content.Server/_NF/NFSD_Records/ShipyardRecordPaperSystem.cs
Labels: C#

NFSD scanning objects on the dead drop will reward them with 60k spessos and functioned the code for giving rewards
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
Labels: C#

Update security_uplink_catalog.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
Labels: none

Changed spessos rewards to FUC
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
Labels: C#

Ошибки линтера
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Corvax/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Corvax/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Corvax/Stack/Materials/materials.yml
  Resources/Prototypes/Corvax/Stack/Materials/ore.yml
  Resources/Prototypes/Corvax/Stack/other_stacks.yml
  Resources/Prototypes/CorvaxFrontier/Maps/POI/charlie.yml
  Resources/Prototypes/CorvaxFrontier/Maps/POI/epsilon.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/BlackMarket/QueenAnnesRevenge.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Expedition/Sunset.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Expedition/zarya.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Fang.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Mantis.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Nfsd/centurion.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Nfsd/hammer.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Nfsd/rogue.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Nfsd/skat.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Nfsd/warrior.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Pot.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/Scrap/dual.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/hercules.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/phoron.yml
  Resources/Prototypes/CorvaxFrontier/Shipyard/theScavenger.yml
  Resources/Prototypes/Entities/World/Debris/wrecks.yml
  Resources/Prototypes/_NF/Events/events.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
Labels: none

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
