Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

McCargo (Update) (#1614)
  Content.Server/_NF/Station/Systems/StationRenameFaxesSystem.cs
  Content.Shared/Fax/Components/FaxMachineComponent.cs
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Maps/_NF/Shuttles/mcdelivery.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/happyhonk.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/McCargo.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/McDelivery.xml
  Resources/Textures/_NF/Objects/Storage/Happyhonk/mccargo.rsi/box-inhand-left.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/mccargo.rsi/box-inhand-right.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/mccargo.rsi/box-open.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/mccargo.rsi/box.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/mccargo.rsi/meta.json
Labels: Map-Dungeon, Map-Shuttle, Sprites, C#, Docs, FTL

Automatic Changelog (#1614)
  Resources/Changelog/Changelog.yml
Labels: none

Give parrots the ability to repeat learned phrases
  Content.Server/_NF/Speech/Components/ParrotSpeechComponent.cs
  Content.Server/_NF/Speech/EntitySystems/ParrotSpeechSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: C#

parrot cage: remove suffix
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/animals.yml
Labels: none

ParrotNF entity, merge with neck item, add crate
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/yarrrdrobe.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/_NF/Clothing/Neck/Cloaks/pirate_parrot.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/pirate_parrot.rsi/meta.json
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/dead.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/equipped-NECK.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/icon.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/inhand-left.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/inhand-right.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/meta.json
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/parrot.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/sit.png
Labels: Sprites

FixLinter
  Resources/Locale/ru-RU/speech/speech-chatsan.ftl
Labels: FTL

Localisation
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/objects/consumable/food/containers/box.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/doors/airlocks/airlocks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/fax_machine.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/machines/jukebox.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nf/entities/structures/storage/closets/wall_lockers.ftl
Labels: FTL

minor visual touchups in engine room
  Resources/Maps/_NF/Shuttles/akupara.yml
Labels: Map-Shuttle

MarketMenu: set PurchaseCart disabled after SetUi
  Content.Client/_NF/Market/UI/MarketMenu.xaml.cs
Labels: UI, C#

Inertia dampeners (#1620)
  Content.Client/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_NF/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Content.Server/_NF/Station/Components/StationDampeningComponent.cs
  Content.Shared/Shuttles/BUIStates/NavInterfaceState.cs
  Content.Shared/_NF/Shuttles/Events/SetInertiaDampeningRequest.cs
  Resources/Locale/en-US/_NF/shuttles/console.ftl
  Resources/Locale/en-US/shuttles/console.ftl
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: Map-Shuttle, UI, C#, FTL

Automatic Changelog (#1620)
  Resources/Changelog/Changelog.yml
Labels: none

Update barber.yml
  Resources/Maps/_NF/Shuttles/barber.yml
Labels: Map-Shuttle

Update bodkin.yml
  Resources/Maps/_NF/Shuttles/Expedition/bodkin.yml
Labels: Map-Shuttle

Update bonfire.yml
  Resources/Maps/_NF/Shuttles/bonfire.yml
Labels: Map-Shuttle

Update stasis.yml
  Resources/Maps/_NF/Shuttles/stasis.yml
Labels: Map-Shuttle

Update commodore.yml
  Resources/Maps/_NF/Shuttles/commodore.yml
Labels: Map-Shuttle

Update akupara.yml
  Resources/Maps/_NF/Shuttles/akupara.yml
Labels: Map-Shuttle

Push existingCart into branch it's used in
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
Labels: C#

SpriteFix
  Resources/Textures/Clothing/Ears/Headsets/service.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/brigmedic.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/capspace.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/chefhat.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/pirate.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/detective.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/barsign.rsi/corvax_alcoholic.png
Labels: Sprites

Localisation
  Resources/Locale/ru-RU/_NF/shuttles/console.ftl
  Resources/Locale/ru-RU/shuttles/console.ftl
Labels: FTL

Update BookSpaceLaw references to Hyperlink
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Labels: none

oops
  Resources/Prototypes/_NF/Loadouts/Jobs/Pao/eyes.yml
Labels: none

cry
  Resources/Prototypes/_NF/Loadouts/Jobs/Pao/bags.yml
Labels: none

FIX
  Resources/Prototypes/_NF/Loadouts/Jobs/Pao/bags.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pao/eyes.yml
  Resources/Prototypes/_NF/Loadouts/pao_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
Labels: none

Cry
  Resources/Prototypes/_NF/Loadouts/Jobs/Pao/bags.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pao/eyes.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
Labels: none

Update pao_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pao_loadout_groups.yml
Labels: none

aaaaaaaaaaaaaaa
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/public_affairs.yml
  Resources/Textures/_NF/Clothing/Neck/Misc/paobadge.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Misc/paobadge.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Misc/paobadge.rsi/meta.json
Labels: Sprites

Fixed badge scaling
  Resources/Prototypes/_NF/Entities/Clothing/Neck/misc.yml
Labels: none

NFSD Spawn point
  Resources/Locale/en-US/paper/stamp-component.ftl
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/stamps.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/public_affairs.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-pao.png
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/stamp-pao.png
Labels: Map-POI, Sprites, FTL

PacifiedZone
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorComponent.cs
  Content.Server/_NF/PacifiedZone/PacifiedlZoneGeneratorSystem.cs
  Resources/Prototypes/_NF/Entities/Markers/pacified_zone.yml
  Resources/Textures/_NF/Markers/pacifiedzone.rsi/meta.json
  Resources/Textures/_NF/Markers/pacifiedzone.rsi/pacified_zone.png
Labels: Sprites, C#

Round start: respect overflow job time reqs
  Content.Server/Station/Systems/StationJobsSystem.Roundstart.cs
Labels: C#

Changing job weights, pirate supervisors
  Resources/Locale/en-US/_NF/job/job-supervisors.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Civilian/valet.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Service/mail_carrier.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/contractor.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/mercenary.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/pilot.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/security_guard.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/stc.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/detectivenf.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
Labels: FTL

PacifiedlZoneGeneratorSystem.cs->PacifiedZone...
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorSystem.cs
Labels: C#

Keep track of naturally pacified entities
  Content.Server/_NF/PacifiedZone/PacifiedByZoneComponent.cs
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorComponent.cs
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorSystem.cs
Labels: C#

Comment cleanup
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorSystem.cs
Labels: C#

Update BookSpaceLaw references to Hyperlink (#1813)
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Labels: none

Silk craft 2 (#1787)
  Resources/Prototypes/_NF/Entities/Clothing/Neck/web_neck_clothing.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/web_craft_graph.yml
  Resources/Prototypes/_NF/Recipes/Crafting/web_craft.yml
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/meta.json
Labels: Sprites

Disable health icons in HUDs
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_NF/Entities/Clothing/Eyes/glasses_punks.yml
Labels: none

Fix price
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
Labels: C#

Use dynamic price
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
Labels: C#

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
