Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

Automatic Changelog (#1796)
  Resources/Changelog/Changelog.yml
Labels: none

Update prisonguard.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
Labels: none

Update pda.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: none

Update cart.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
Labels: none

Automatic Changelog (#1836)
  Resources/Changelog/Changelog.yml
Labels: none

update mail shuttles
  Resources/Maps/_NF/Shuttles/Sr/mailpod.yml
  Resources/Maps/_NF/Shuttles/Sr/parcel.yml
Labels: Map-Shuttle

fix 2
  Resources/Maps/_NF/Shuttles/mailpod.yml
  Resources/Maps/_NF/Shuttles/parcel.yml
Labels: Map-Shuttle

mail mover
  Resources/Maps/_NF/Shuttles/Sr/mailpod.yml
  Resources/Maps/_NF/Shuttles/Sr/parcel.yml
Labels: Map-Shuttle

broom lockers
  Resources/Maps/_NF/Shuttles/Sr/broom.yml
Labels: Map-Shuttle

Pacified Zone: filter immune users by playtime
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorComponent.cs
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorSystem.cs
  Resources/Prototypes/_NF/Entities/Markers/pacified_zone.yml
Labels: C#

Updated anchor with feedback
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/anchor.yml
Labels: Map-Shuttle

fixes
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/Shuttles/Sr/broom.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters.yml
Labels: Map-Outpost, Map-Shuttle

AME Fuel Jar Size Revert
  Content.Shared/Ame/Components/AmeFuelContainerComponent.cs
Labels: C#

sprites, weapons, recipes, research
  Resources/Locale/en-US/_NF/research/technologies.ftl
  Resources/Prototypes/_NF/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/armor.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
  Resources/Prototypes/_NF/Recipes/Lathes/weapons.yml
  Resources/Prototypes/_NF/Research/arsenal.yml
  Resources/Textures/Structures/Machines/techfab.rsi/meta.json
  Resources/Textures/Structures/Machines/techfab.rsi/nfsd.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/mercenary.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/techfab.rsi/mercenary.png
  Resources/Textures/_NF/Structures/Machines/techfab.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/techfab.rsi/salvage.png
Labels: Sprites, FTL

cases
  Resources/Prototypes/_NF/Recipes/Lathes/weapons.yml
Labels: none

wall lockers
  Resources/Maps/_NF/Shuttles/bocadillo.yml
Labels: Map-Shuttle

new eva lockers
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Maps/_NF/Shuttles/Expedition/gasbender.yml
  Resources/Maps/_NF/Shuttles/harbormaster.yml
  Resources/Maps/_NF/Shuttles/kilderkin.yml
  Resources/Maps/_NF/Shuttles/lantern.yml
  Resources/Maps/_NF/Shuttles/legman.yml
  Resources/Maps/_NF/Shuttles/liquidator.yml
  Resources/Maps/_NF/Shuttles/pioneer.yml
  Resources/Maps/_NF/Shuttles/searchlight.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers_department.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/brigand.yml
  Resources/Prototypes/_NF/Shipyard/pioneer.yml
Labels: Map-Shuttle

magboots to salv eva
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/departmental_eva.yml
Labels: none

SR console reskin
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard_sr.png
Labels: Sprites

Panic Bunker pacified zone variants
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/Shuttles/Bus/publicts.yml
  Resources/Prototypes/_NF/Entities/Markers/pacified_zone.yml
Labels: Map-Outpost, Map-Shuttle

Remove lawyer, add missing lawyer stuff to cntrctr
  Resources/Locale/en-US/_NF/job/job-description.ftl
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_nfsd.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/neck.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pal_loadout_groups.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/public_affairs.yml
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/publicaffairsliaison.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/idpublicaffairsliaison.png
Labels: Sprites, FTL

PAL Cleanup
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/public_affairs.yml
  Resources/Textures/Objects/Misc/pens.rsi/meta.json
Labels: Sprites

brigand, some more lockers
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/departmental_eva.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers_department_eva.yml
Labels: Map-Shuttle

cartridges.ftl: updates from Salvantrix
  Resources/Locale/en-US/deltav/cartridge-loader/cartridges.ftl
Labels: FTL

KC Anchor (Update) (#1685)
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/anchor.yml
Labels: Map-Shuttle

Automatic Changelog (#1685)
  Resources/Changelog/Changelog.yml
Labels: none

Remove superfluous keys from shuttle telecom server
  Resources/Prototypes/_NF/Entities/Structures/Machines/telecomms.yml
Labels: none

kilderkin
  Resources/Maps/_NF/Shuttles/kilderkin.yml
Labels: Map-Shuttle

TelecomServerFilledShuttle
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Maps/_NF/Shuttles/Expedition/gasbender.yml
Labels: Map-Shuttle

Remove superfluous keys from shuttle telecom server (#1857)
  Resources/Prototypes/_NF/Entities/Structures/Machines/telecomms.yml
Labels: none

diamonds are rare, no stacks
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
Labels: none

LVHI Broom Shuttle (New) (#1806)
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/Shuttles/Sr/broom.yml
  Resources/Maps/_NF/Shuttles/Sr/mailpod.yml
  Resources/Maps/_NF/Shuttles/Sr/parcel.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/_NF/Shipyard/Sr/broom.yml
  Resources/Prototypes/_NF/Shipyard/Sr/mailpod.yml
  Resources/Prototypes/_NF/Shipyard/Sr/parcel.yml
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard_sr.png
Labels: Map-Outpost, Map-Shuttle, Sprites

Automatic Changelog (#1806)
  Resources/Changelog/Changelog.yml
Labels: none

DungeonJob.PostGenWallMount: spawngroup error chks
  Content.Server/Procedural/DungeonJob/DungeonJob.PostGenWallMount.cs
Labels: C#

more ammo, more
  Resources/Prototypes/_NF/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/ammo.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
Labels: none

Adds the Derelict McCargo POI as an alt to Grifty's
  Resources/Maps/_NF/POI/mchobo.yml
  Resources/Prototypes/_NF/Entities/Markers/warp_point.yml
  Resources/Prototypes/_NF/PointsOfInterest/mchobo.yml
Labels: Map-POI

CrateFirearmsSecure
  Resources/Prototypes/_NF/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/_NF/Structures/Storage/Crates/firearms_secure.rsi/base.png
  Resources/Textures/_NF/Structures/Storage/Crates/firearms_secure.rsi/closed.png
  Resources/Textures/_NF/Structures/Storage/Crates/firearms_secure.rsi/icon.png
  Resources/Textures/_NF/Structures/Storage/Crates/firearms_secure.rsi/locked.png
  Resources/Textures/_NF/Structures/Storage/Crates/firearms_secure.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/firearms_secure.rsi/open.png
  Resources/Textures/_NF/Structures/Storage/Crates/firearms_secure.rsi/sparking.png
  Resources/Textures/_NF/Structures/Storage/Crates/firearms_secure.rsi/unlocked.png
  Resources/Textures/_NF/Structures/Storage/Crates/firearms_secure.rsi/welded.png
Labels: Sprites

secure ammo crate
  Resources/Prototypes/_NF/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/_NF/Structures/Storage/Crates/secure_ammo.rsi/base.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_ammo.rsi/closed.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_ammo.rsi/icon.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_ammo.rsi/locked.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_ammo.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/secure_ammo.rsi/open.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_ammo.rsi/sparks.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_ammo.rsi/unlocked.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_ammo.rsi/welded.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_firearms.rsi/base.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_firearms.rsi/closed.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_firearms.rsi/icon.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_firearms.rsi/locked.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_firearms.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/secure_firearms.rsi/open.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_firearms.rsi/sparking.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_firearms.rsi/unlocked.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_firearms.rsi/welded.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_mercenary.rsi/base.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_mercenary.rsi/closed.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_mercenary.rsi/icon.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_mercenary.rsi/locked.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_mercenary.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/secure_mercenary.rsi/open.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_mercenary.rsi/sparking.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_mercenary.rsi/unlocked.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_mercenary.rsi/welded.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_privatesec.rsi/base.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_privatesec.rsi/closed.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_privatesec.rsi/icon.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_privatesec.rsi/locked.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_privatesec.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/secure_privatesec.rsi/open.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_privatesec.rsi/sparking.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_privatesec.rsi/unlocked.png
  Resources/Textures/_NF/Structures/Storage/Crates/secure_privatesec.rsi/welded.png
Labels: Sprites

no more SecurityTechFabs
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_supply.yml
Labels: none

recharger, antique laser
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/weapons.yml
Labels: none

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
