Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

prisoner_loadout_groups: fix survival locstring
  Resources/Prototypes/_NF/Loadouts/prisoner_loadout_groups.yml
Labels: none

Revert chaplain loadout, Janitor loadout to NF
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Janitor/gloves.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Janitor/head.yml
  Resources/Prototypes/_NF/Loadouts/janitor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
Labels: none

Janitor: NF-prefixed loadouts
  Resources/Prototypes/_NF/Loadouts/Jobs/Janitor/head.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Janitor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Janitor/outer.yml
Labels: none

Bar signs: fix name/descs, remove access reader
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/bar_sign.yml
Labels: none

LabelSystem: restore DeltaV PreventLabel
  Content.Server/Labels/Label/LabelSystem.cs
Labels: C#

DeepFryer: comment
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.cs
Labels: C#

FRONTIER MERGE comments, ballistic whitelist
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Procedural/DungeonConfigPrototype.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Labels: C#

Ballistic comment, detective grey coat loadout
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Resources/Prototypes/_NF/Loadouts/Jobs/DetectiveNF/outer.yml
  Resources/Prototypes/_NF/Loadouts/detectivenf_loadout_groups.yml
Labels: C#

ghost role rules, no metal foam grenades in cargo
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/_NF/Entities/Mobs/Player/jerma.yml
  Resources/Prototypes/_NF/Mail/Items/misc.yml
Labels: FTL

demag reparent, Limited suffix
  Resources/Prototypes/_NF/Entities/Objects/Tools/emag.yml
Labels: none

Dev
  Resources/ConfigPresets/Build/development.toml
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: none

30% markup for expedition shuttles (#1747)
  Resources/Prototypes/_NF/Shipyard/Expedition/ambition.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/brigand.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/dartx.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/decadedove.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/dragonfly.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/gasbender.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/gourd.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/praeda.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/sprinter.yml
Labels: Map-Shuttle

Automatic Changelog (#1747)
  Resources/Changelog/Changelog.yml
Labels: none

Update Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
Labels: none

Update Resources/Prototypes/_NF/PointsOfInterest/omnichurch.yml
  Resources/Prototypes/_NF/PointsOfInterest/omnichurch.yml
Labels: none

NewsSystem articles are VV accessible (read-only)
  Content.Server/MassMedia/Systems/NewsSystem.cs
Labels: C#

Fix Markup Tags in Station News (#30169)
  Content.Client/CartridgeLoader/Cartridges/NewsReaderUiFragment.xaml.cs
Labels: UI, C#

Update Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: C#

Update Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: C#

Update Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: C#

Configurable strap slop (30 cm for vehicles)
  Content.Shared/Buckle/Components/StrapComponent.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Resources/Prototypes/_NF/Entities/Objects/Vehicles/vehicles.yml
Labels: C#

Throwing/GunSystem: impulse for buckled users
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: C#

min/max range
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Shared/_NF/CCVars/CCVars.cs
Labels: C#

PirateFrontierOutpost->SpawnableFrontierOutpost
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: Map-Shuttle

AdventureRuleComponent: restore members
  Content.Server/_NF/GameRule/AdventureRuleComponent.cs
Labels: C#

on round started game rule event
  Content.Server/_NF/GameRule/AdventureRuleComponent.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: C#

Resolve merge conflicts for AdventureRuleComponent
  Content.Server/_NF/GameRule/AdventureRuleComponent.cs
Labels: C#

NfAdventureRuleSystem: cleanup
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: C#

Actually rotate Trade Depot
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: C#

Update Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: C#

alternative depot and lab
  Resources/Maps/_NF/POI/anomalousgeode.yml
  Resources/Maps/_NF/POI/cargodepotalt.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalousgeode.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
Labels: Map-POI

lighter shade of brown to stand out better on radar
  Resources/Prototypes/_NF/PointsOfInterest/courthouse.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
Labels: none

Kachow
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Prototypes/_NF/Maps/POI/nfsd.yml
Labels: Map-POI

oops
  Resources/Prototypes/_NF/Maps/POI/nfsd.yml
Labels: none

Pirate hotfix: PirateFrontierVessel->Standard...
  Resources/Prototypes/_NF/Shipyard/BlackMarket/barnacle.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/bocakillo.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/falcon.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/menace.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/schooner.yml
Labels: Map-Shuttle

Pirate hotfix: PirateFrontierVessel->Standard... (#1757)
  Resources/Prototypes/_NF/Shipyard/BlackMarket/barnacle.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/bocakillo.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/falcon.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/menace.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/schooner.yml
Labels: Map-Shuttle

first
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/base_turret.yml
  Resources/Prototypes/_NF/ai_factions.yml
Labels: none

monke
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
Labels: none

Welding fuel jerry cans
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/fuelvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-5.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right-fill-1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right-fill-2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right-fill-3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right-fill-4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right-fill-5.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan5.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/meta.json
Labels: Sprites

Move jerry can inhand-left sprites up a pixel
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-5.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left.png
Labels: Sprites
