Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

upd
  Resources/Locale/en-US/_NF/navmap-beacons/station-beacons.ftl
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Maps/_NF/Shuttles/Expedition/gasbender.yml
  Resources/Maps/_NF/Shuttles/kilderkin.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/station_beacon.yml
Labels: Map-Shuttle, FTL

finishing touches
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Maps/_NF/Shuttles/Expedition/gasbender.yml
  Resources/Maps/_NF/Shuttles/harbormaster.yml
  Resources/Maps/_NF/Shuttles/kilderkin.yml
  Resources/Maps/_NF/Shuttles/lantern.yml
  Resources/Maps/_NF/Shuttles/legman.yml
  Resources/Maps/_NF/Shuttles/liquidator.yml
  Resources/Maps/_NF/Shuttles/searchlight.yml
Labels: Map-Shuttle

grid metadata
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
Labels: Map-Shuttle

Update Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
Labels: none

Broom-broom
  Resources/Maps/_NF/Shuttles/broom.yml
  Resources/Prototypes/_NF/Shipyard/broom.yml
Labels: Map-Shuttle

comments
  Resources/Prototypes/_NF/Shipyard/broom.yml
Labels: Map-Shuttle

comment
  Resources/Prototypes/_NF/Shipyard/broom.yml
Labels: Map-Shuttle

Comment fixes, indestructable wall jukebox
  Content.Shared/Audio/Jukebox/JukeboxComponent.cs
  Resources/Prototypes/_NF/Entities/Structures/Machines/jukebox.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
Labels: C#

Create prisonlaw.yml
  Resources/Maps/_NF/POI/prisonlaw.yml
Labels: Map-POI

More Food Fixups (#1803)
  Content.Shared/Salvage/SharedSalvageSystem.cs
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/cargo.yml
  Resources/Prototypes/_NF/Procedural/salvage_rewards.yml
Labels: C#

The YC Convergence V2!
  Resources/Maps/Shuttles/convergence.yml
  Resources/Prototypes/_NF/Shipyard/convergence.yml
Labels: Map-Shuttle

The YC Convergence v2!
  Resources/Maps/Shuttles/convergence.yml
  Resources/Prototypes/_NF/Shipyard/convergence.yml
Labels: Map-Shuttle

Changed the dead drop poster cooldown to 5-10 minutes but now only 2 can be active at a time
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
Labels: C#

boca-boca-boca
  Resources/Maps/_NF/Shuttles/bocadillo.yml
  Resources/Prototypes/_NF/Shipyard/bocadillo.yml
Labels: Map-Shuttle

defib, extinguisher, price tag
  Resources/Maps/_NF/Shuttles/broom.yml
  Resources/Prototypes/_NF/Shipyard/broom.yml
Labels: Map-Shuttle

AbsorbentSystem only works with water, no vomit
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
Labels: C#

Update grenades.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: none

Update grenades.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: none

Update pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Catalog/pirate_uplink_catalog.yml
Labels: none

Meteor Defense Turret
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/ai_factions.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-0.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-1.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-2.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-3.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-4.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-5.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-6.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-7.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/packed.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/unshaded.png
Labels: Sprites

Update jukebox.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/jukebox.yml
Labels: none

FixLinter
  Resources/Textures/Clothing/Head/Hats/hoshat.rsi/meta.json
Labels: Sprites

Wallmount Jukebox (#1798)
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
  Content.Shared/Audio/Jukebox/JukeboxComponent.cs
  Resources/Prototypes/_NF/Entities/Structures/Machines/jukebox.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/suit_storage_wall.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Textures/_NF/Structures/Machines/jukebox.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/jukebox.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/jukebox.rsi/on.png
  Resources/Textures/_NF/Structures/Machines/jukebox.rsi/select.png
Labels: Sprites, C#

Minor YAML fixes
  Resources/Prototypes/_NF/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_NF/Roles/play_time_trackers.yml
Labels: none

Revert "Meteor Defense Turret"
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/ai_factions.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-0.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-1.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-2.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-3.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-4.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-5.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-6.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-7.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/packed.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/unshaded.png
Labels: Sprites

fix syndicate computer formatting
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: none

submodule begone
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/ai_factions.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-0.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-1.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-2.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-3.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-4.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-5.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-6.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/mag-7.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/packed.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Turrets/pdw.rsi/unshaded.png
Labels: Sprites

McFix
  Content.Server/_NF/Station/Systems/StationRenameFaxesSystem.cs
  Content.Shared/Fax/Components/FaxMachineComponent.cs
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
Labels: Map-Shuttle, C#

Fix Frontier Outpost atmos issues (#1799)
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Map-Outpost

Automatic Changelog (#1799)
  Resources/Changelog/Changelog.yml
Labels: none

meteor faction
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
Labels: none

ammo crates
  Resources/Prototypes/_NF/Catalog/Fills/Crates/armory.yml
Labels: none

frontier staff shipyard
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/Shuttles/Sr/broom.yml
  Resources/Maps/_NF/Shuttles/Sr/mailpod.yml
  Resources/Maps/_NF/Shuttles/Sr/parcel.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/_NF/Shipyard/Sr/broom.yml
  Resources/Prototypes/_NF/Shipyard/Sr/mailpod.yml
  Resources/Prototypes/_NF/Shipyard/Sr/parcel.yml
Labels: Map-Outpost, Map-Shuttle

Update mccargo.yml
  Resources/Maps/_NF/Shuttles/mccargo.yml
Labels: Map-Shuttle

jukebox
  Resources/Prototypes/_NF/Shipyard/bocadillo.yml
Labels: Map-Shuttle

fix
  Resources/Maps/_NF/Shuttles/bocadillo.yml
  Resources/Prototypes/_NF/Shipyard/bocadillo.yml
Labels: Map-Shuttle

Fixup
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
Labels: Map-POI

All button: add as much as you can
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/trade.yml
Labels: Map-POI, C#

MarketSystem: better comments
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
Labels: C#

disable market purchase button on empty cart
  Content.Client/_NF/Market/UI/MarketMenu.xaml.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
Labels: UI, C#
