Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

anchorreworkrevised
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
Labels: Map-Shuttle

фикс конфига + обновление правил
  Resources/ServerInfo/Corvax/ServerRules/MainRuleset.xml
  Resources/ServerInfo/Corvax/ServerRules/rule0.xml
  Resources/ServerInfo/Corvax/ServerRules/rule1.xml
  Resources/ServerInfo/Corvax/ServerRules/rule2.xml
  Resources/ServerInfo/Corvax/ServerRules/rule3.xml
  Resources/ServerInfo/Corvax/ServerRules/rule31.xml
  Resources/ServerInfo/Corvax/ServerRules/rule32.xml
  Resources/ServerInfo/Corvax/ServerRules/rule33.xml
  Resources/ServerInfo/Corvax/ServerRules/rule34.xml
  Resources/ServerInfo/Corvax/ServerRules/rule35.xml
  Resources/ServerInfo/Corvax/ServerRules/rule4.xml
  Resources/ServerInfo/Corvax/ServerRules/rule5.xml
  Resources/ServerInfo/Corvax/ServerRules/rule6.xml
  Resources/ServerInfo/Corvax/ServerRules/rule7.xml
  Resources/ServerInfo/Corvax/ServerRules/rule8.xml
  Resources/ServerInfo/Corvax/ServerRules/rules.yml
Labels: Docs

не добавил конфиг. теперь добавил
  Resources/ConfigPresets/Frontier/main.toml
Labels: none

fix clrf
  Resources/ConfigPresets/Frontier/main.toml
Labels: none

fix clrf 2
  Resources/ConfigPresets/Frontier/main.toml
Labels: none

Booty Crate Sprites
  Resources/Textures/_NF/Structures/Storage/Crates/pirate_bounty.rsi/crate.png
  Resources/Textures/_NF/Structures/Storage/Crates/pirate_bounty.rsi/crate_door.png
  Resources/Textures/_NF/Structures/Storage/Crates/pirate_bounty.rsi/crate_open.png
  Resources/Textures/_NF/Structures/Storage/Crates/pirate_bounty.rsi/icon.png
  Resources/Textures/_NF/Structures/Storage/Crates/pirate_bounty.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/pirate_bounty.rsi/sparking.png
  Resources/Textures/_NF/Structures/Storage/Crates/pirate_bounty.rsi/welded.png
  SpaceStation14.sln
Labels: Sprites

Crate fix dumb
  Resources/Textures/_NF/Structures/Storage/Crates/pirate_bounty.rsi/crate_icon.png
Labels: Sprites

Pirate vessels inherit from pirate vessel class
  Resources/Prototypes/_NF/Shipyard/BlackMarket/barnacle.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/bocakillo.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/falcon.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/menace.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/schooner.yml
Labels: Map-Shuttle

turns out ship only needs one core AME because no more vendors
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
Labels: Map-Shuttle

Pirate bounty consoles and pad
  Resources/Textures/_NF/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/computers.rsi/piratebounty.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/piratebounty_pad.png
  Resources/Textures/_NF/Structures/Machines/piratebounty_pallet.rsi/base.png
  Resources/Textures/_NF/Structures/Machines/piratebounty_pallet.rsi/meta.json
Labels: Sprites

FIX
  Resources/Textures/_NF/Structures/Machines/piratebounty_pallet.rsi/meta.json
Labels: Sprites

Should work -- Console FTL's
  Resources/Locale/en-US/_NF/cargo/pirate-bounty-console.ftl
  Resources/Locale/en-US/_NF/cargo/pirate-pallet-console-component.ftl
Labels: FTL

Sector service POC, pirate bounty service
  Content.Server/_NF/SectorServices/Prototypes/SectorServicePrototypes.cs
  Content.Server/_NF/SectorServices/SectorServiceManager.cs
  Resources/Prototypes/_NF/SectorServices/piratebounties.yml
Labels: C#

Pirate bounty system: use sector service
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Server/_NF/Pirate/Components/SectorPirateBountyDatabaseComponent.cs
  Content.Server/_NF/SectorServices/SectorServiceSystem.cs
  Resources/Prototypes/_NF/SectorServices/piratebounties.yml
Labels: C#

SectorServicePrototype: fix namespace includes
  Content.Server/_NF/SectorServices/Prototypes/SectorServicePrototypes.cs
Labels: C#

SectorServicePrototype: yet more namespace include
  Content.Server/_NF/SectorServices/Prototypes/SectorServicePrototypes.cs
Labels: C#

namespace includes, pt 3
  Content.Server/_NF/SectorServices/Prototypes/SectorServicePrototypes.cs
  Content.Server/_NF/SectorServices/SectorServiceSystem.cs
Labels: C#

CargoSystem: fix obsolete code
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
Labels: C#

Add pirate bounty and redemption WIP computers
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: none

Lowered price
  Resources/Prototypes/_NF/Shipyard/Expedition/anchor.yml
Labels: Map-Shuttle

Pirate bounties: fix whitelist, add blacklist
  Content.Shared/_NF/Pirate/Prototypes/PirateBountyPrototype.cs
  Content.Shared/_NF/Whitelist/EntProtoIdWhitelist.cs
  Resources/Prototypes/_NF/Catalog/Bounties/pirate_bounties.yml
Labels: C#

SectorServicePrototype: add serializable attribute
  Content.Server/_NF/SectorServices/Prototypes/SectorServicePrototypes.cs
Labels: C#

SectorServicePrototype: default name
  Content.Server/_NF/SectorServices/Prototypes/SectorServicePrototypes.cs
Labels: C#

Increased the MinimumCooldown to 15 minutes and NFSD now gets progressive hints at dead drop posters' locations
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
Labels: C#

SectorServicePrototype to shared
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Server/_NF/SectorServices/SectorServiceSystem.cs
  Content.Shared/_NF/SectorServices/Prototypes/SectorServicePrototypes.cs
Labels: C#

Criminal and Shipyard records fax paper and antag record cleanup
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Server/_NF/NFSD_Records/FakeSectorStationRecordComponent.cs
  Content.Server/_NF/NFSD_Records/IgnoreSectorStationRecordComponent.cs
  Content.Server/_NF/NFSD_Records/SectorStationRecordComponent.cs
  Content.Server/_NF/NFSD_Records/ShipyardRecordPaperSystem.cs
  Resources/Locale/en-US/_NF/shipyard/shipyard-record-paper.ftl
  Resources/Prototypes/_NF/Entities/Objects/Misc/shipyard_record_paper.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/menace.yml
  Resources/Prototypes/_NF/Shipyard/Syndicate/hunter.yml
  Resources/Prototypes/_NF/Shipyard/prospector.yml
  Resources/Textures/_NF/Interface/Misc/Paper/Automated_Transaction_Report.png
  Resources/Textures/_NF/Interface/Misc/Paper/Automated_Transaction_Report_Errored.png
Labels: Map-Shuttle, C#, FTL

McSprite
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/happyhonk.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/_NF/Objects/Storage/Happyhonk/mccargo.rsi/box-inhand-left.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/mccargo.rsi/box-inhand-right.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/mccargo.rsi/box-open.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/mccargo.rsi/box.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/mccargo.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/base.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/closed.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/icon.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/open.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/sparking.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/welded.png
Labels: Map-Dungeon, Map-Shuttle, Sprites

McFix
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Maps/_NF/Shuttles/mcdelivery.yml
Labels: Map-Shuttle

Update mailpod.yml
  Resources/Maps/_NF/Shuttles/mailpod.yml
Labels: Map-Shuttle

Price
  Resources/Prototypes/_NF/Shipyard/mailpod.yml
  Resources/Prototypes/_NF/Shipyard/parcel.yml
Labels: Map-Shuttle

YAML linter fixes, no service serialization
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Shared/_NF/SectorServices/Prototypes/SectorServicePrototypes.cs
  Resources/Locale/en-US/_NF/cargo/pirate-bounties.ftl
  Resources/Prototypes/_NF/Catalog/Bounties/pirate_bounties.yml
Labels: C#, FTL

Criminal and Shipyard records fax implementing sector records to NFSD outpost
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: Map-Shuttle, C#

Update mccargo.yml
  Resources/Maps/_NF/Shuttles/mccargo.yml
Labels: Map-Shuttle

Update prospector.yml
  Resources/Prototypes/_NF/Shipyard/prospector.yml
Labels: Map-Shuttle

ProtoIdWhitelist: use List, adjust bounty values
  Content.Shared/_NF/Whitelist/EntProtoIdWhitelist.cs
  Resources/Prototypes/_NF/Catalog/Bounties/pirate_bounties.yml
Labels: C#

PirateBounty: use existing Bounty name ID group
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
Labels: C#

global service: station component, bounty system
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Server/_NF/SectorServices/SectorServiceSystem.cs
  Content.Server/_NF/SectorServices/StationSectorServiceHostComponent.cs
  Content.Shared/_NF/Pirate/Prototypes/PirateBountyPrototype.cs
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: Map-Shuttle, C#

Redundant functions, generics
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Server/_NF/SectorServices/SectorServiceSystem.cs
Labels: C#

SectorServiceSystem: interface woes
  Content.Server/_NF/SectorServices/SectorServiceSystem.cs
  Content.Server/_NF/SectorServices/StationSectorServiceHostComponent.cs
Labels: C#

PirateBounty component work
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Server/_NF/SectorServices/SectorServiceSystem.cs
Labels: C#
