Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

Update frida.yml
  Resources/Maps/_NF/Shuttles/Expedition/frida.yml
Labels: Map-Shuttle

Fixups
  Resources/Maps/_NF/Shuttles/Expedition/frida.yml
Labels: Map-Shuttle

PacifiedZone: override alert
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorSystem.cs
  Resources/Locale/en-US/_NF/alerts/alerts.ftl
  Resources/Prototypes/_NF/Alerts/pacified_zone.yml
  Resources/Prototypes/_NF/Entities/Markers/pacified_zone.yml
Labels: C#, FTL

fix meta
  Resources/Textures/_NF/Markers/pacifiedzone.rsi/meta.json
Labels: Sprites

engi crates
  Resources/Prototypes/_NF/Catalog/Fills/Crates/expeditions_loot.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
Labels: none

Add missing ActionToggle prototypes
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/magboots.yml
Labels: none

Fix NoRot having a Rot
  Resources/Maps/_NF/Test/dev_map.yml
Labels: none

Remove action toggles
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/magboots.yml
Labels: none

DevMap: restore magboots, invalid transit uid chks
  Content.Server/_NF/PublicTransit/PublicTransitSystem.cs
  Resources/Maps/_NF/Test/dev_map.yml
Labels: C#

Fix debug builds so we can debug again (#1825)
  Content.Server/_NF/PublicTransit/PublicTransitSystem.cs
  Resources/Maps/_NF/Test/dev_map.yml
Labels: C#

Update publish_github_artifact.py
  Tools/publish_github_artifact.py
Labels: none

merc crates
  Resources/Prototypes/_NF/Catalog/Fills/Crates/expeditions_loot.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/_NF/Structures/Storage/Crates/mercenary_secure.rsi/base.png
  Resources/Textures/_NF/Structures/Storage/Crates/mercenary_secure.rsi/closed.png
  Resources/Textures/_NF/Structures/Storage/Crates/mercenary_secure.rsi/icon.png
  Resources/Textures/_NF/Structures/Storage/Crates/mercenary_secure.rsi/locked.png
  Resources/Textures/_NF/Structures/Storage/Crates/mercenary_secure.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/mercenary_secure.rsi/open.png
  Resources/Textures/_NF/Structures/Storage/Crates/mercenary_secure.rsi/sparking.png
  Resources/Textures/_NF/Structures/Storage/Crates/mercenary_secure.rsi/unlocked.png
  Resources/Textures/_NF/Structures/Storage/Crates/mercenary_secure.rsi/welded.png
  Resources/Textures/_NF/Structures/Storage/Crates/privatesec_secure.rsi/base.png
  Resources/Textures/_NF/Structures/Storage/Crates/privatesec_secure.rsi/closed.png
  Resources/Textures/_NF/Structures/Storage/Crates/privatesec_secure.rsi/icon.png
  Resources/Textures/_NF/Structures/Storage/Crates/privatesec_secure.rsi/locked.png
  Resources/Textures/_NF/Structures/Storage/Crates/privatesec_secure.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/privatesec_secure.rsi/open.png
  Resources/Textures/_NF/Structures/Storage/Crates/privatesec_secure.rsi/sparking.png
  Resources/Textures/_NF/Structures/Storage/Crates/privatesec_secure.rsi/unlocked.png
  Resources/Textures/_NF/Structures/Storage/Crates/privatesec_secure.rsi/welded.png
Labels: Sprites

Update SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
Labels: C#

raisin->raisins, Frontier comments
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/ingredients.yml
Labels: none

Create corvax.toml (#6)
  Resources/ConfigPresets/Corvax/corvax.toml
Labels: none

VesselListControl: remove jobless stations
  Content.Client/_NF/Latejoin/VesselListControl.xaml.cs
Labels: UI, C#

Cvar real
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/_NF/Commands/GhostRespawnCommand.cs
  Content.Server/_NF/CryoSleep/CryoSleepSystem.Returning.cs
  Content.Server/_NF/CryoSleep/CryoSleepSystem.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_NF/PublicTransit/PublicTransitSystem.cs
  Content.Shared/_NF/CCVars/CCVars.cs
Labels: UI, C#

Update dev_map.yml
  Resources/Maps/_NF/Test/dev_map.yml
Labels: none

Cleaning up and editing the numbers per new ones
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: none

Update dev_map.yml
  Resources/Maps/_NF/Test/dev_map.yml
Labels: none

Raisins + some minor ingredient and microwave recipe changes (#1823)
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Shared/Kitchen/MicrowaveMealRecipePrototype.cs
  Resources/Locale/en-US/_NF/reagents/foods.ftl
  Resources/Locale/en-US/_NF/reagents/meta/consumable/food/food.ftl
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_NF/Reagents/Consumables/food.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
Labels: C#, FTL

Automatic Changelog (#1823)
  Resources/Changelog/Changelog.yml
Labels: none

Resaved dungeon templates under recent master
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
Labels: Map-Dungeon

PublicTransitSystem: use priority dock tag
  Content.Server/_NF/PublicTransit/PublicTransitSystem.cs
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: C#

bolt down the bus jukebox
  Resources/Maps/_NF/Shuttles/Bus/publicts.yml
Labels: Map-Shuttle

Fixup
  Content.Shared/_NF/Bank/Components/MarketModifierComponent.cs
  Content.Shared/_NF/Bank/MarketModifierSystem.cs
  Resources/Locale/en-US/_NF/bank/market.ftl
Labels: C#, FTL

Update publicts.yml
  Resources/Maps/_NF/Shuttles/Bus/publicts.yml
Labels: Map-Shuttle

Update PublicTransitSystem.cs
  Content.Server/_NF/PublicTransit/PublicTransitSystem.cs
Labels: C#

DevNF (Update) (#1826)
  Content.Server/_NF/PublicTransit/PublicTransitSystem.cs
  Resources/Maps/_NF/Shuttles/Bus/publicts.yml
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: Map-Shuttle, C#

Resaved dungeon templates under recent master (#1828)
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
Labels: Map-Dungeon

Automatic Changelog (#1826)
  Resources/Changelog/Changelog.yml
Labels: none

medical crates
  Resources/Prototypes/_NF/Catalog/Fills/Crates/expeditions_loot.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/materials.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
Labels: none

science crates
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
Labels: none

Market rate prints
  Content.Shared/_NF/Bank/Components/MarketModifierComponent.cs
  Content.Shared/_NF/Bank/MarketModifierSystem.cs
  Resources/Locale/en-US/_NF/bank/market.ftl
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: C#, FTL

service crates, overall lower spawn chances
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_hydroponics.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_kitchen.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
Labels: none

t1 weapons
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
Labels: none

Whatstone fixup for hairballs
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
  Resources/Locale/en-US/_NF/pacified/pacified.ftl
Labels: C#, FTL

Added zones
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/Shuttles/Bus/publicts.yml
Labels: Map-Outpost, Map-Shuttle

fix
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
Labels: none

Pacified Zone marker (#1815)
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
  Content.Server/_NF/PacifiedZone/PacifiedByZoneComponent.cs
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorComponent.cs
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorSystem.cs
  Resources/Locale/en-US/_NF/alerts/alerts.ftl
  Resources/Locale/en-US/_NF/pacified/pacified.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/Shuttles/Bus/publicts.yml
  Resources/Prototypes/_NF/Alerts/pacified_zone.yml
  Resources/Prototypes/_NF/Entities/Markers/pacified_zone.yml
  Resources/Textures/_NF/Markers/pacifiedzone.rsi/meta.json
  Resources/Textures/_NF/Markers/pacifiedzone.rsi/pacified_zone.png
Labels: Map-Outpost, Map-Shuttle, Sprites, C#, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
