Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

Banana
  Resources/Textures/_NF/Structures/Power/Generation/portable_generator.rsi/meta.json
  Resources/Textures/_NF/Structures/Power/Generation/portable_generator.rsi/portgen1.png
  Resources/Textures/_NF/Structures/Power/Generation/portable_generator.rsi/portgen1on.png
  Resources/Textures/_NF/Structures/Power/Generation/portable_generator.rsi/portgen_on_unlit.png
Labels: Sprites

Fix
  Content.Shared/Power/Generator/FuelGeneratorComponent.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
Labels: C#

VesselList: don't deselect if prev selection valid
  Content.Client/_NF/Latejoin/VesselListControl.xaml.cs
Labels: UI, C#

Cleanup
  Content.Server/Power/Generator/GeneratorSystem.cs
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
Labels: C#

Pass
  Content.Server/Power/Generator/GeneratorSystem.cs
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
Labels: C#

Update portable_generator.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
Labels: none

VesselListControl: better filtering & selection
  Content.Client/_NF/Latejoin/VesselListControl.xaml.cs
Labels: UI, C#

Check job requirements when setting button enabled
  Content.Client/_NF/Latejoin/NFLateJoinGui.xaml.cs
  Content.Client/_NF/Latejoin/NewFrontierLateJoinJobButton.xaml.cs
Labels: UI, C#

Fixup
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
Labels: none

Update portable_generator.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
Labels: none

RoleLoadout: use fallback options as defaults
  Content.Shared/Preferences/Loadouts/LoadoutGroupPrototype.cs
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
Labels: C#

Update GeneratorSystem.cs
  Content.Server/Power/Generator/GeneratorSystem.cs
Labels: C#

Extra fallback definitions for harpies
  Resources/Prototypes/_NF/Loadouts/bailiff_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/brigmedic_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/cadet_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/deputy_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/detectivenf_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/janitor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/lawyer_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mail_carrier_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pirates_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/prisoner_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/security_guard_groups.yml
  Resources/Prototypes/_NF/Loadouts/senior_officer_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/sheriff_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/stationrep_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/stc_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/valet_loadout_groups.yml
Labels: none

Per-loadout effects for harpies (no pants)
  Resources/Prototypes/_NF/Loadouts/Jobs/Bailiff/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Brigmedic/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Cadet/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/survival.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Deputy/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/DetectiveNF/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Janitor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Lawyer/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/MailCarrier/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pilot/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pirates/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Prisoner/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/SecurityGuard/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/SeniorOfficer/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Sheriff/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/StationRep/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Stc/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Valet/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/loadout_effects.yml
Labels: none

YAML consistency & fixes
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
Labels: none

RoleLoadout: foreach loops for default a la #29264
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
Labels: C#

base
  Resources/Maps/_NF/Shuttles/camper.yml
Labels: Map-Shuttle

Add pirate appraisal tool
  Content.Server/_NF/Security/Components/ContrabandPriceGunComponent.cs
  Content.Server/_NF/Security/ContrabandPriceGunSystem.cs
  Resources/Locale/en-US/_NF/cargo/price-gun-component.ftl
  Resources/Prototypes/_NF/Entities/Objects/Tools/contrabandappraisal.yml
Labels: C#, FTL

"black market"
  Resources/Prototypes/_NF/Entities/Objects/Tools/contrabandappraisal.yml
Labels: none

Update cave_factory.yml
  Resources/Maps/_NF/Dungeon/cave_factory.yml
Labels: Map-Dungeon

Half of a bounty redemption algo
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
Labels: C#

base (#1718)
  Resources/Maps/_NF/Shuttles/camper.yml
Labels: Map-Shuttle

Prospector (Update) (#1714)
  Resources/Maps/_NF/Shuttles/prospector.yml
  Resources/Prototypes/_NF/Shipyard/prospector.yml
Labels: Map-Shuttle

Automatic Changelog (#1714)
  Resources/Changelog/Changelog.yml
Labels: none

Investigator (Update) (#1671)
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/investigator.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/investigator.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Investigator.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/investigator.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Map-Shuttle, Sprites, Docs, FTL

Automatic Changelog (#1671)
  Resources/Changelog/Changelog.yml
Labels: none

Pirate bounty redemption, part 2
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Server/_NF/Pirate/Components/PirateBountyLabelComponent.cs
Labels: C#

Pirate bounty redemption: first rough version?
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
Labels: C#

closer to compilation
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Server/_NF/Cargo/PirateBountyRedemptionComponent.cs
Labels: C#

new rare and very valuable salvage item, shipping containers
  Resources/Prototypes/_NF/Entities/Structures/Decoration/scrap.yml
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-containers.rsi/blue.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-containers.rsi/green.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-containers.rsi/meta.json
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-containers.rsi/purple.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-containers.rsi/red.png
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-containers.rsi/yellow.png
Labels: Sprites

whoopsie
  Resources/Prototypes/_NF/Entities/Structures/Decoration/scrap.yml
Labels: none

i swear i dont know what happened
  Resources/Textures/_NF/Objects/Decoration/Scrap/scrap-containers.rsi/meta.json
Labels: Sprites

fire the guy that bolted these to the ground
  Resources/Prototypes/_NF/Entities/Structures/Decoration/scrap.yml
Labels: none

fixes and more minor decals
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
Labels: Map-Shuttle

Compilation fixes
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Server/_NF/Pirate/Components/PirateBountyLabelComponent.cs
  Content.Shared/_NF/Whitelist/EntProtoIdWhitelistSystem.cs
Labels: C#

Bounty redemption UI
  Content.Client/_NF/Pirate/BUI/PirateBountyRedemptionConsoleBoundUserInterface.cs
  Content.Client/_NF/Pirate/UI/PirateBountyRedemptionMenu.xaml
  Content.Client/_NF/Pirate/UI/PirateBoutyRedemptionMenu.xaml.cs
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Shared/_NF/Pirate/BUI/PirateBountyRedemptionConsoleInterfaceState.cs
  Content.Shared/_NF/Pirate/BUI/PiratePalletConsoleInterfaceState.cs
  Content.Shared/_NF/Pirate/Components/PirateBountyRedemptionConsoleComponent.cs
  Content.Shared/_NF/Pirate/Events/PirateBountyRedemptionMessage.cs
  Content.Shared/_NF/Pirate/Events/PiratePalletSellMessage.cs
  Resources/Locale/en-US/_NF/cargo/pirate-bounty-console.ftl
  Resources/Locale/en-US/_NF/cargo/pirate-bounty-redemption-console-component.ftl
  Resources/Locale/en-US/_NF/cargo/pirate-pallet-console-component.ftl
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: UI, C#, FTL

Pirate bounty redemption fixes
  Content.Client/_NF/Pirate/BUI/PirateBountyRedemptionConsoleBoundUserInterface.cs
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Shared/_NF/Pirate/Events/PirateBountyRedemptionMessage.cs
  Content.Shared/_NF/Pirate/SharedPirateSystem.cs
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: C#

Resolves meta.json copyright list conflict.
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Sprites

Update meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Sprites

Set up label on pirate bounty, fix whitelist check
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
Labels: C#

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
