Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

VesselListControl: remove jobless stations (#1827)
  Content.Client/_NF/Latejoin/VesselListControl.xaml.cs
Labels: UI, C#

Floors fixes
  Resources/Prototypes/Tiles/floors.yml
Labels: none

Localisation
  Resources/Locale/ru-RU/markings/felinid.ftl
  Resources/Locale/ru-RU/markings/goblin_markings.ftl
  Resources/Locale/ru-RU/markings/vulpkanin.ftl
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
Labels: FTL

Smooth transition for walls and windows icons (#1603)
  Content.Client/IconSmoothing/IconSmoothComponent.cs
  Content.Client/IconSmoothing/IconSmoothSystem.cs
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/mining.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/_NF/Entities/Structures/Walls/diagonal_walls.yml
  Resources/Prototypes/_NF/Entities/Structures/Windows/plastitanium.yml
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf0.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf1.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf2.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf3.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf4.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium0.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium1.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium2.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium3.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium4.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/state0.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/state1.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/wood0.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/wood1.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/wood2.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/wood3.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/wood4.png
Labels: Sprites, C#

Automatic Changelog (#1603)
  Resources/Changelog/Changelog.yml
Labels: none

Revert "Don't change title to 'Captain' when buying a ship"
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
Labels: none

Revert upstream space damage
  Content.Shared/Atmos/Atmospherics.cs
Labels: C#

Revert upstream space damage (#1831)
  Content.Shared/Atmos/Atmospherics.cs
Labels: C#

PTS 2.0: complete remake
  Resources/Maps/_NF/Shuttles/pts.yml
  Resources/Prototypes/_NF/Shipyard/pts.yml
Labels: Map-Shuttle

requested fixes
  Resources/Maps/_NF/Shuttles/bocadillo.yml
  Resources/Prototypes/_NF/Shipyard/bocadillo.yml
Labels: Map-Shuttle

Handheld radio with frequency
  Content.Client/Radio/Ui/HandheldRadioBoundUserInterface.cs
  Content.Client/Radio/Ui/HandheldRadioMenu.xaml
  Content.Client/Radio/Ui/HandheldRadioMenu.xaml.cs
  Content.Server/Radio/Components/RadioMicrophoneComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/SharedHandheldRadio.cs
  Resources/Locale/en-US/radio/components/handheld-radio-component.ftl
  Resources/Locale/ru-RU/radio/components/handheld-radio-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
Labels: UI, C#, FTL

Handheld radio
  Content.Client/_NC/Radio/HandheldRadioBoundUserInterface.cs
  Content.Client/_NC/Radio/HandheldRadioMenu.xaml
  Content.Client/_NC/Radio/HandheldRadioMenu.xaml.cs
  Content.Server/Radio/Components/RadioMicrophoneComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/_NC/Radio/SharedHandheldRadio.cs
  Resources/Locale/en-US/radio/components/handheld-radio-component.ftl
  Resources/Locale/ru-RU/radio/components/handheld-radio-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
Labels: UI, C#, FTL

some fix
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Locale/ru-RU/radio/components/handheld-radio-component.ftl
Labels: C#, FTL

some fix 2
  Content.Client/_NC/Radio/UI/HandheldRadioBoundUserInterface.cs
  Content.Client/_NC/Radio/UI/HandheldRadioMenu.xaml
  Content.Client/_NC/Radio/UI/HandheldRadioMenu.xaml.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Shared/_NC/Radio/SharedHandheldRadio.cs
Labels: UI, C#

Updating radio frequency for current build
  Content.Client/_NC/Radio/UI/HandheldRadioBoundUserInterface.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/_NC/Radio/SharedHandheldRadio.cs
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
Labels: C#

Consistent handheld radio localization w/ intercom
  Resources/Locale/en-US/radio/components/handheld-radio-component.ftl
Labels: FTL

Holy hell
  Content.Server/Spider/SpiderSystem.cs
  Content.Server/_NF/ArachnidChaos/ArachnidChaosComponent.cs
  Content.Server/_NF/ArachnidChaos/ArachnidChaosSystem.cs
  Content.Shared/Cuffs/Components/HandcuffComponent.cs
  Content.Shared/_NF/ArachnidChaos/ArachnidChaosDoAfterEvent.cs
  Resources/Locale/en-US/_NF/ArachnidChaos.ftl
  Resources/Locale/en-US/_NF/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Actions/spider.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Body/Organs/reptilian.yml
  Resources/Prototypes/DeltaV/Body/Organs/vulpkanin.yml
  Resources/Prototypes/DeltaV/Body/Parts/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Objects/Misc/spider_web.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/furniture/beds.yml
Labels: C#, FTL

added smes, change price, prettied engine room more, removed excess thruster, fixed guidebook oopsie
  Resources/Maps/_NF/Shuttles/akupara.yml
  Resources/Prototypes/_NF/Shipyard/akupara.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Akupara.xml
Labels: Map-Shuttle, Docs

Update akupara.yml
  Resources/Maps/_NF/Shuttles/akupara.yml
Labels: Map-Shuttle

Move banners to _NF + add correct attribution
  Resources/Prototypes/Entities/Structures/Decoration/banners.yml
  Resources/Prototypes/_NF/Recipes/Construction/furniture.yml
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner-blue.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner-green.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner-red.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner-yellow.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_cargo.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_engineering.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_medical.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_revolution.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_science.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_security.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_syndicate.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/meta.json
Labels: Sprites

Fix goblin banner icon path
  Resources/Prototypes/_NF/Recipes/Construction/furniture.yml
Labels: none

Fixup
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
  Resources/Textures/_NF/Structures/Walls/reinforced_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/reinforced_diagonal.rsi/state0.png
  Resources/Textures/_NF/Structures/Walls/reinforced_diagonal.rsi/state1.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf0.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf1.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf2.png
Labels: Sprites

Move banners to _NF + add correct attribution (#1834)
  Resources/Prototypes/Entities/Structures/Decoration/banners.yml
  Resources/Prototypes/_NF/Recipes/Construction/furniture.yml
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner-blue.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner-green.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner-red.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner-yellow.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_cargo.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_engineering.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_medical.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_revolution.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_science.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_security.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_syndicate.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/meta.json
Labels: Sprites

Fixup
  Resources/Textures/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/inhand-right.png
Labels: Sprites

Fixup
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_hostile_syndicate_voidsmen.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/mobs_hostile_syndicate.yml
Labels: none

Fixup
  Resources/Prototypes/_NF/Recipes/Lathes/prizecounter.yml
  Resources/Prototypes/_NF/Voice/speech_emote_sounds.yml
Labels: none

Fixup
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Mail/mail.yml
Labels: none

Update Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
Labels: none

Update Resources/Locale/en-US/_NF/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/_NF/interaction/interaction-popup-component.ftl
Labels: FTL

harpy/vulpkanin compromise
  Resources/Locale/en-US/_NF/interaction/interaction-popup-component.ftl
  Resources/Prototypes/DeltaV/Body/Parts/harpy.yml
  Resources/Prototypes/DeltaV/Body/Parts/vulpkanin.yml
Labels: FTL

Update SharedPuddleSystem.Evaporation.cs
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
Labels: C#

Add holywater to the list of moppable reagents
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
Labels: C#

Market Sale Update (#1829)
  Content.Shared/_NF/Bank/Components/MarketModifierComponent.cs
  Content.Shared/_NF/Bank/MarketModifierSystem.cs
  Resources/Locale/en-US/_NF/bank/market.ftl
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: C#, FTL

AbsorbentSystem: IsMoppable function, reagent list
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
Labels: C#

Round start spawn fixes, job display order and weights (#1816)
  Content.Server/Station/Systems/StationJobsSystem.Roundstart.cs
  Resources/Locale/en-US/_NF/job/job-supervisors.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Civilian/valet.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Service/mail_carrier.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/contractor.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/mercenary.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/pilot.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/security_guard.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/stc.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/detectivenf.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
Labels: C#, FTL

Departmental EVA Suits
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage_wallmount.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/departmental_eva.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/materials.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/goblin_outerclothing.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-base.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-decals-01.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-reinforced-points.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-visor.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/icon-base.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/icon-decals-01.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/icon-reinforced-points.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/icon-visor.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-base.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-breathing-gear.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-decals-01.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-reinforced-points.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/icon-base.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/icon-breathing-gear.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/icon-decals-01.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/icon-reinforced-points.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/inhand-left-base.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/inhand-left-breathing-gear.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/inhand-left-decals-01.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/inhand-left-reinforced-points.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/inhand-right-base.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/inhand-right-breathing-gear.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/inhand-right-decals-01.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/inhand-right-reinforced-points.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/meta.json
Labels: Sprites

Remove HolyWater (nyano, unused), consistency
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Drink/drinks.yml
Labels: C#

Stamp cleanup, bureaucracy loadouts
  Resources/Locale/en-US/_NF/paper/stamp-component.ftl
  Resources/Locale/en-US/_NF/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/stamps.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/bureaucracy.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-doctor.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-engineer.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-pirate.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-psychologist.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-sheriff.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-signature.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-stc.png
  Resources/Textures/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/stamp-doctor.png
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/stamp-engineer.png
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/stamp-psychologist.png
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/stamp-stc.png
Labels: Sprites, FTL

Squiggly pen signatures, more loadouts
  Content.Server/Paper/PaperSystem.cs
  Resources/Prototypes/_NF/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/bureaucracy.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/fun.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-signature.png
Labels: Sprites, C#

Remove doctor folder from contractor fun loadouts
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: none

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]
