Repository new-frontiers-14/frontier-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Map-Admin, Map-Bluespace, Map-Dungeon, Map-Outpost, Map-Shuttle, Map-POI, Sprites, UI, C#, Docs, FTL

.github/labeler.yml:

#"Map":
# - "Resources/Maps/**/*.yml" # All .yml files in the Resources/Maps directory, recursive.

"Map-Admin":
 - "Resources/Maps/_NF/Admin/**/*.yml" # Grid Files

"Map-Bluespace":
 - "Resources/Maps/_NF/Bluespace/**/*.yml" # Grid Files

"Map-Dungeon":
 - "Resources/Maps/_NF/Dungeon/**/*.yml" # Grid Files

"Map-Outpost":
 - "Resources/Maps/_NF/Outpost/*.yml" # Map Files
 - "Resources/Prototypes/_MF/Maps/Outpost/*.yml" # Prototypes Files

"Map-Shuttle":
 - "Resources/Maps/_NF/Shuttles/**/*.yml" # Grid Files
 - "Resources/Prototypes/_NF/Shipyard/**/*.yml" # Prototypes Files

"Map-POI":
 - "Resources/Maps/_NF/POI/**/*.yml" # Grid Files
 - "Resources/Prototypes/_MF/Maps/POI/**/*.yml" # Prototypes Files

"Sprites":
 - "**/*.rsi/*.png"
 - "**/*.rsi/*.json"

"UI":
 - "**/*.xaml*"

"C#":
  - "**/*.cs"

"No C#":
 - all: ["!**/*.cs"]

"Docs":
  - "**/*.xml"
  - "**/*.md"

"FTL":
 - "Resources/Locale/**/*.ftl"

"YML":
  - any: ["**/*.yml"]
    all: ["!Resources/Maps/_NF/**/*.yml", "!Resources/Prototypes/Maps/_NF/**/*.yml"]

Update Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: none

Update Resources/Locale/en-US/_NF/advertisements/vending/civimed.ftl
  Resources/Locale/en-US/_NF/advertisements/vending/civimed.ftl
Labels: FTL

Update Resources/Prototypes/_NF/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_vending.yml
Labels: none

30% markup
  Resources/Prototypes/_NF/Shipyard/Expedition/ambition.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/dartx.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/decadedove.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/dragonfly.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/gasbender.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/gourd.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/praeda.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/sprinter.yml
Labels: Map-Shuttle

brigand too
  Resources/Prototypes/_NF/Shipyard/Expedition/brigand.yml
Labels: Map-Shuttle

dragonfly
  Resources/Prototypes/_NF/Shipyard/Expedition/dragonfly.yml
Labels: Map-Shuttle

mobs (#1746)
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_bloodcultist.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_wizardfederation.yml
Labels: none

Automatic Changelog (#1746)
  Resources/Changelog/Changelog.yml
Labels: none

Adds the CiviMed Vending Machine (#1637)
  Resources/Locale/en-US/_NF/advertisements/vending/civimed.ftl
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Advertisements/civimed.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/civimed.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_NF/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Service/vending_machine_restock.rsi/refill_civimed.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/civimed.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/civimed.rsi/deny-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/civimed.rsi/eject-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/civimed.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/civimed.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/civimed.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/civimed.rsi/panel.png
Labels: Sprites, FTL

Fix?
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Throwable/pirate_fire.yml
Labels: none

Vulp Cannon (#1706)
  Resources/Prototypes/_NF/Mail/Items/misc.yml
  Resources/Prototypes/_NF/Mail/mail.yml
  Resources/Prototypes/_NF/Mail/mailDeliveries.yml
Labels: none

Automatic Changelog (#1706)
  Resources/Changelog/Changelog.yml
Labels: none

NSF Broadhead 1.2
  Resources/Maps/_NF/Shuttles/Nfsd/broadhead.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/broadhead.yml
Labels: Map-Shuttle

Adjust price
  Resources/Prototypes/_NF/Shipyard/Nfsd/broadhead.yml
Labels: Map-Shuttle

Automatic Changelog (#1692)
  Resources/Changelog/Changelog.yml
Labels: none

Update BiomassReclaimerSystem.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
Labels: C#

Update misc.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
Labels: none

Tin?
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
Labels: none

Update sprinter.yml
  Resources/Maps/_NF/Shuttles/Expedition/sprinter.yml
Labels: Map-Shuttle

Update sprinter.yml
  Resources/Maps/_NF/Shuttles/Expedition/sprinter.yml
Labels: Map-Shuttle

RoleLoadout: check subgroups in EnsureValid
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
Labels: C#

RoleLoadout.cs: comment out continue as well
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
Labels: C#

Shipyard: group selector, guidebook button WIP
  Content.Client/Shipyard/BUI/ShipyardConsoleBoundUserInterface.cs
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Client/Shipyard/UI/VesselRow.xaml.cs
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
Labels: UI, C#, FTL

Loadout Hotfix: RoleLoadout checks subgroups in EnsureValid (#1753)
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
Labels: C#

Fix a few more Sprinter things
  Resources/Maps/_NF/Shuttles/Expedition/sprinter.yml
Labels: Map-Shuttle

Sprinter (Update) (#1752)
  Resources/Maps/_NF/Shuttles/Expedition/sprinter.yml
Labels: Map-Shuttle

Automatic Changelog (#1752)
  Resources/Changelog/Changelog.yml
Labels: none

Update Maint Loot (#1751)
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
Labels: none

Update Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_medical.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_medical.yml
Labels: none

Apothecary Post Launch Update (#1733)
  Resources/Maps/_NF/Shuttles/apothecary.yml
  Resources/Prototypes/_NF/Shipyard/apothecary.yml
Labels: Map-Shuttle

Update BiomassReclaimerSystem.cs (#1750)
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
Labels: C#

Increased price
  Resources/Prototypes/_NF/Shipyard/Expedition/anchor.yml
Labels: Map-Shuttle

Halved pallets, added a saw
  Resources/Maps/_NF/Shuttles/Expedition/bodkin.yml
Labels: Map-Shuttle

Adds the SBB Bodkin expeditionary shuttle
  Resources/Maps/_NF/Shuttles/Expedition/bodkin.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/bodkin.yml
Labels: Map-Shuttle

11th hour update
  Resources/Maps/_NF/Shuttles/stasis.yml
Labels: Map-Shuttle

NanoMed inventory: group topicals together
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
Labels: none

reindex gauze in NanoMed inventory
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
Labels: none

fix detective inspector coat
  Resources/Prototypes/_NF/Loadouts/Jobs/DetectiveNF/outer.yml
Labels: none

initial infected antag comment fixes
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
Labels: C#

Mandatory mask loadouts
  Resources/Prototypes/_NF/Loadouts/Jobs/Prisoner/face.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Prisoner/survival.yml
  Resources/Prototypes/_NF/Loadouts/brigmedic_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/nfsd_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/prisoner_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/security_guard_groups.yml
  Resources/Prototypes/_NF/Loadouts/sheriff_loadout_groups.yml
Labels: none
