Repository new-frontiers-14/frontier-station-14, pull requests merged in 2023-12, with the labels that each got.

#594 Stinky trait
  Content.Server/Traits/Assorted/StinkyTraitComponent.cs
  Content.Server/Traits/Assorted/StinkyTraitSystem.cs
  Content.Shared/_NF/AirFreshener/AirFreshenerComponent.cs
  Resources/Locale/en-US/_NF/traits/traits.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/vendomat.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/air_freshener.yml
  Resources/Prototypes/_NF/Traits/inconveniences.yml
  Resources/Textures/_NF/Objects/Misc/airfreshener.rsi/icon.png
  Resources/Textures/_NF/Objects/Misc/airfreshener.rsi/meta.json
Labels: Status: Needs Review

#610 Mail Rework Part 1
  Content.Client/Nyanotrasen/Mail/MailSystem.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Resources/Locale/en-US/_Nyano/mail.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Player/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Player/diona.yml
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/moth.yml
  Resources/Prototypes/Entities/Mobs/Player/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
  Resources/Prototypes/Entities/Mobs/Player/vox.yml
  Resources/Prototypes/_Nyano/Entities/Mobs/Player/felinid.yml
  Resources/Prototypes/_Nyano/Entities/Mobs/Player/oni.yml
  Resources/Prototypes/_Nyano/Entities/Objects/Specific/Mail/base_mail.yml
Labels: Status: Needs Review

#625 Basic rate limiting for chat messages
  Content.Server/Chat/Managers/ChatManager.RateLimit.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
Labels: Status: Needs Review

#663 Disables auto-punctuation for emotes
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Status: Needs Review

#668 Liquidated
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Entities/World/Debris/wrecks.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/salvage.yml
Labels: Status: Needs Review

#669 Minor diagonal decal adjustments
  Resources/Textures/Decals/Overlays/greyscalediagonal.rsi/tilediagonal.png
  Resources/Textures/Decals/Overlays/greyscalediagonal.rsi/tilediagonal_corner.png
  Resources/Textures/Decals/Overlays/greyscalediagonal.rsi/tilediagonal_corner_180.png
  Resources/Textures/Decals/Overlays/greyscalediagonal.rsi/tilediagonal_corner_270.png
  Resources/Textures/Decals/Overlays/greyscalediagonal.rsi/tilediagonal_corner_90.png
  Resources/Textures/Decals/Overlays/greyscalediagonal.rsi/tilediagonal_flipped.png
Labels: Status: Needs Review

#666 Remove Taser From Research
  Resources/Prototypes/Research/arsenal.yml
Labels: Status: Needs Review

#675 Psychologist Job For Frontier
  Resources/Prototypes/Maps/frontier.yml
Labels: Status: Needs Review

#674 Update salvage_mods.yml
  Resources/Prototypes/Procedural/salvage_mods.yml
Labels: Status: Needs Review

#657 Valet Gear In Vending
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Nyano/Catalog/Fills/Vending/Inventories/maildrobe.yml
  Resources/Prototypes/_Nyano/Roles/Jobs/Civilian/valet.yml
Labels: Status: Needs Review

#667 Update MutationSystem.cs
  Content.Server/Botany/Systems/MutationSystem.cs
Labels: Status: Needs Review

#665 Shotgun Crate Krammer
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
Labels: Status: Needs Review

#664 Misc Resprites.
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Textures/Clothing/OuterClothing/Armor/bulletproof.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/bulletproof.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/riot.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/riot.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/icon.png
  Resources/Textures/Objects/Devices/nuke.rsi/meta.json
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_base.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_exploding.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_safetyoff.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_timing.png
  Resources/Textures/Objects/Misc/fire_extinguisher.rsi/fire_extinguisher_closed.png
  Resources/Textures/Objects/Misc/fire_extinguisher.rsi/fire_extinguisher_open.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Shotguns/sawn.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/sawn.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/stunbaton_nocell.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/stunbaton_off.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/stunbaton_on.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner_cargo.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner_engineering.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner_medical.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner_science.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner_security.png
  Resources/Textures/Structures/Decoration/banner.rsi/banner_syndicate.png
  Resources/Textures/Structures/Decoration/banner.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/scrub_welded.png
Labels: Status: Needs Review

#659 Pride o mat
  Resources/Locale/en-US/deltav/advertisements/vending/pride.yml
  Resources/Locale/en-US/deltav/catalog/cargo/cargo-vending.ftl
  Resources/Locale/en-US/deltav/catalog/fills/crates/vending-crates.ftl
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Advertisements/pride.yml
  Resources/Prototypes/DeltaV/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/DeltaV/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/DeltaV/Objects/Specific/Service/vending_machine_restock.rsi/base.png
  Resources/Textures/DeltaV/Objects/Specific/Service/vending_machine_restock.rsi/green_bit.png
  Resources/Textures/DeltaV/Objects/Specific/Service/vending_machine_restock.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Specific/Service/vending_machine_restock.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Specific/Service/vending_machine_restock.rsi/refill_pride.png
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/pride.rsi/broken.png
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/pride.rsi/meta.json
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/pride.rsi/normal-unshaded.png
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/pride.rsi/off.png
  Resources/Textures/DeltaV/Structures/Machines/VendingMachines/pride.rsi/panel.png
Labels: Status: Needs Review

#642 Liberation Station Emag
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: Status: Needs Review

#587 Energy Guns (#385)
  Content.Server/DeltaV/Weapons/Ranged/Components/EnergyGunComponent.cs
  Content.Server/DeltaV/Weapons/Ranged/Systems/EnergyGunSystem.cs
  Content.Shared/DeltaV/Weapons/Ranged/EnergyGunFireModeVisuals.cs
  Resources/Audio/DeltaV/Weapons/Guns/Empty/dry_fire.ogg
  Resources/Audio/DeltaV/Weapons/Guns/Gunshots/laser.ogg
  Resources/Audio/DeltaV/license.txt
  Resources/Locale/en-US/deltav/weapons/ranged/energygun.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Projectiles/impacts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/disabler-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/disabler-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/lethal-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/lethal-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/mag-unshaded-0.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/mag-unshaded-1.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/mag-unshaded-2.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/mag-unshaded-3.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/mag-unshaded-4.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/mode-disabler.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/mode-lethal.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/mode-stun.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/special-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/energygun.rsi/special-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/base.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/disabler-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/disabler-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/equipped-BELT.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/lethal-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/lethal-inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mag-unshaded-0.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mag-unshaded-1.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mag-unshaded-2.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mag-unshaded-3.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mag-unshaded-4.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mode-disabler.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mode-ion.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/mode-lethal.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/special-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/special-inhand-right.png
Labels: Status: Needs Review

#658 Sheriff Perms
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/_NF/Entities/Structures/atms.yml
Labels: Status: Needs Review

#618 Shuttle deed spawner
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/Shipyard/Systems/ShipyardSystem.cs
  Content.Server/Station/Components/StationDeedSpawnerComponent.cs
  Content.Shared/Shipyard/Components/ShuttleDeedComponent.cs
  Resources/Prototypes/_NF/Entities/Markers/shuttle.yml
  Resources/Prototypes/_NF/Entities/Markers/warp_point.yml
Labels: Status: Needs Review

#678 More Cargo Catalog Changes
  Resources/Locale/en-US/_NF/prototypes/catalog/cargo/cargo-fun.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/cargo/cargo-service.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/fills/crates/engines-crates.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/_NF/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/chemistry.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/circuitvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
Labels: Status: Needs Review

#699 Spectre
  Resources/Maps/Shuttles/spectre.yml
  Resources/Prototypes/_NF/Shipyard/spectre.yml
Labels: Status: Needs Review

#680 VendPrice Rework
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_NF/Catalog/Fills/Boxes/general.yml
Labels: Status: Needs Review

#750 2023 12 24 frontier command doors
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/access.yml
Labels: Status: Needs Review

#749 Frontier Outpost more things
  Resources/Maps/frontier.yml
Labels: Status: Needs Review

#713 Crispy Cat
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.cs
  Content.Server/Traits/Assorted/FriedTraitComponent.cs
  Content.Server/Traits/Assorted/FriedTraitSystem.cs
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/_NF/Datasets/Names/cat_crispy.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/Entities/Spawners/mobs.yml
  Resources/Prototypes/_NF/InventoryTemplates/crispy_inventory_template.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/crispycat.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/crispycat_dead.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/crispycat_rest.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/crispycat_sit.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/meta.json
Labels: Status: Needs Review

#755 More Frontier small changes
  Resources/Maps/frontier.yml
Labels: Status: Needs Review

#765 Lockers Fix - 2023/12/26
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Status: Needs Review

#712 NC Lantern - a medium-sized ship for Chaplains
  Resources/Maps/Shuttles/lantern.yml
  Resources/Prototypes/_NF/Shipyard/lantern.yml
Labels: Status: Needs Review, Shuttle

#769 Windoors
  Resources/Prototypes/_NF/Entities/Structures/Doors/Windoor/windoor.yml
Labels: Status: Needs Review

#773 Bocadillo Update
  Resources/Maps/Shuttles/bocadillo.yml
Labels: Status: Needs Review, Shuttle, Map

#774 Honker Update
  Resources/Maps/Shuttles/honker.yml
Labels: Status: Needs Review
