Repository new-frontiers-14/frontier-station-14, pull requests merged in 2024-03, with the labels that each got.

#997 Nerf pinpointers
  Content.Server/Pinpointer/PinpointerSystem.cs
  Content.Shared/Pinpointer/PinpointerComponent.cs
  Content.Shared/Pinpointer/SharedPinpointerSystem.cs
  Resources/Prototypes/_NF/Entities/Objects/Devices/pinpointer.yml
Labels: Status: Needs Review, YML, C#

#1070 Hotfix for the Placebo
  Resources/Maps/_NF/Shuttles/placebo.yml
Labels: Map-Shuttle, No C#

#1065 Ship (update) - Stratos
  Resources/Maps/_NF/Shuttles/stratos.yml
  Resources/Prototypes/_NF/Shipyard/stratos.yml
Labels: Map-Shuttle, No C#

#1061 Add autocompletion to showrules
  Content.Server/Info/ShowRulesCommand.cs
Labels: C#

#1022 Eagle (New) - Medium sized medical & engineering shuttle
  Resources/Maps/_NF/Shuttles/eagle.yml
  Resources/Prototypes/_NF/Shipyard/eagle.yml
Labels: Status: Awaiting Changes, Map-Shuttle, No C#

#1077 After merge bug fix part 1
  Resources/Locale/en-US/_NF/prototypes/catalog/fills/crates/engines-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Textures/Objects/Devices/nuke.rsi/meta.json
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_base.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_deployed.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_deployed_unlit.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_exploding.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_safetyoff.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_timing.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbombc.png
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#1078 disable tile ripping
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review, C#

#1076 Fix records consoles
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
Labels: Status: Needs Review, C#

#1079 Fix migration.yml so debug build work again
  Resources/migration.yml
Labels: Status: Needs Review, No C#, YML

#1080 Fix broken ships
  Resources/Maps/Shuttles/cleric.yml
  Resources/Maps/_NF/Shuttles/searchlight.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1081 Jester Music PDA
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
Labels: Status: Needs Review, No C#, YML

#1073 Extend rotting/respawn times
  Content.Shared/Atmos/Rotting/PerishableComponent.cs
  Content.Shared/_NF/CCVars/CCVars.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
Labels: YML, C#

#1082 Fix ambient when adding oil to fryer
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.cs
Labels: C#

#1083 Shuttle Gun Rebalance
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/circuitvend.yml
Labels: No C#, YML

#1084 Remove rusty wall variations
  Resources/Prototypes/GameRules/roundstart.yml
Labels: No C#, YML

#930 Point (New) - Scrap science ship
  Resources/Maps/_NF/Shuttles/point.yml
  Resources/Prototypes/_NF/Shipyard/point.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1090 Tabletop computer deconstruct fix
  Content.Server/Construction/NodeEntities/BoardNodeEntity.cs
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/frame_tabletop.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/machines/computer_tabletop.yml
  Resources/Prototypes/_NF/Recipes/Construction/machines.yml
Labels: Status: Needs Review, YML, C#

#822 Hauler (New) - Salvage and cargo ship
  Resources/Maps/_NF/Shuttles/hauler.yml
  Resources/Prototypes/_NF/Shipyard/hauler.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1089 Records console fix
  Content.Client/StationRecords/GeneralStationRecordConsoleWindow.xaml.cs
  Content.Server/StationRecords/Systems/GeneralStationRecordConsoleSystem.cs
Labels: C#, UI

#1057 Tile Meister 5000 (Minor Update)
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
Labels: Status: Needs Review, No C#, YML

#1094 Removed research access requirement
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
Labels: Status: Needs Review, No C#, YML

#1075 CircuitVend, Autotune and cargo orders (the ones with machines) are now flatpacked
  Resources/Locale/en-US/_NF/prototypes/catalog/cargo/cargo-vending.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/anomalouslab.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Prototypes/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/CircuitBoards/production.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/science.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/autotunevend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/circuitvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/base.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/command_airlock.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/command_server.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/engineering_gyroscope.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/engineering_lathe.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/engineering_thruster.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/icon-default.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/medical_console.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/medical_lathe.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/overlay.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/power_charger.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/power_console_ame.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/power_generator.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/science_anomaly_vessel.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/science_ape.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/science_artifact_analyzer.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/science_console.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/science_lathe.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/science_server.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/service_lathe.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/service_music.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/service_tray.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/supply_gun.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/supply_lathe.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/flatpackvend.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/flatpackvend.rsi/deny-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/flatpackvend.rsi/eject-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/flatpackvend.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/flatpackvend.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/flatpackvend.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/flatpackvend.rsi/panel.png
Labels: Status: Needs Review, Map-POI, No C#, Sprites, FTL, Map-Outpost

#1095 Remove some command corpses
  Resources/Prototypes/Entities/Mobs/Corpses/corpses.yml
Labels: Status: Needs Review, No C#, YML

#1055 Sawn-off PKA
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/pka.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Basic/sawn_pka.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/weapons/pkasawn.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Basic/sawn_kinetic_accelerator.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Basic/sawn_kinetic_accelerator.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Basic/sawn_kinetic_accelerator.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Basic/sawn_kinetic_accelerator.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Basic/sawn_kinetic_accelerator.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#1102 McCargo (Update)
  Resources/Maps/_NF/Shuttles/mccargo.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1106 Remove RCD and Ammo from Eagle
  Resources/Maps/_NF/Shuttles/eagle.yml
Labels: Map-Shuttle, No C#

#1053 Crew monitor general tweaks and QoL changes
  Content.Client/Medical/CrewMonitoring/CrewMonitoringNavMapControl.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Client/Pinpointer/UI/NavMapControl.cs
  Content.Client/Power/PowerMonitoringWindow.xaml.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringServerSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorComponent.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
  Resources/Locale/en-US/_NF/medical/suit-sensor.ftl
Labels: Status: Needs Review, C#, UI, FTL

#1098 Fix carrying
  Content.Server/Nyanotrasen/Carrying/CarryingSystem.cs
  Content.Server/Resist/EscapeInventorySystem.cs
Labels: C#

#1096 Refinement process for Artifexium
  Resources/Locale/en-US/_NF/chemicals/chemicals.ftl
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/_NF/Reagents/chemicals.yml
  Resources/Prototypes/_NF/Recipes/Reactions/chemicals.yml
Labels: No C#, YML, FTL

#1086 refactor(research): Improve initial research client registration
  Content.Server/Research/Systems/ResearchSystem.Client.cs
  Content.Server/Research/Systems/ResearchSystem.cs
Labels: Status: Needs Review, C#

#1113 Fix tabletop computers
  Content.Server/Construction/NodeEntities/BoardNodeEntity.cs
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/frame_tabletop.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/machines/computer_tabletop.yml
  Resources/Prototypes/_NF/Recipes/Construction/machines.yml
Labels: Status: Needs Review, YML, C#

#1091 Update server rules
  Resources/ServerInfo/Rules.txt
Labels: Status: Needs Review, No C#

#763 Whiskey (New)
  Resources/Maps/_NF/Shuttles/Security/whiskey.yml
  Resources/Prototypes/_NF/Shipyard/whiskey.yml
Labels: Status: Awaiting Changes, Map-Shuttle, No C#

#891 KnuckleVerse (New) - Bboxing ship
  Resources/Maps/_NF/Shuttles/knuckleverse.yml
  Resources/Prototypes/_NF/Shipyard/knuckleverse.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1093 Disciple (update)
  Resources/Maps/_NF/Shuttles/disciple.yml
  Resources/Prototypes/_NF/Shipyard/disciple.yml
Labels: Map-Shuttle, No C#

#1124 McDelivery (Update)
  Resources/Maps/_NF/Shuttles/mcdelivery.yml
Labels: Map-Shuttle, No C#

#1104 Canister (New) - Tiny scrap vessel
  Resources/Maps/_NF/Shuttles/canister.yml
  Resources/Prototypes/_NF/Shipyard/canister.yml
Labels: Status: Awaiting Changes, Map-Shuttle, No C#

#1121 Adjusts the price of the NC Hauler to cost what it should
  Resources/Prototypes/_NF/Shipyard/hauler.yml
Labels: Map-Shuttle, No C#, YML

#1129 Remove Opportunity from shipyard
  Resources/Prototypes/_NF/Shipyard/Security/opportunity.yml
Labels: Status: Needs Review, No C#, YML

#1127 Rules formatting
  Resources/ServerInfo/Rules.txt
Labels: Status: Needs Review, No C#

#1128 UnEmagged Fixed
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Lock/LockSystem.cs
Labels: Status: Needs Review, C#

#1126 Fix Pen Sign
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/Paper/PenComponent.cs
  Content.Shared/Paper/StampComponent.cs
  Resources/Locale/en-US/_NF/paper/stamp-component.ftl
  Resources/Locale/en-US/paper/paper-component.ftl
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: Status: Needs Review, YML, C#, FTL

#1088 Hardsuits Fabrication, Salvage TechFab
  Resources/Locale/en-US/_NF/research/technologies.ftl
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/maildrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/categories.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_NF/Recipes/Lathes/eva.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
  Resources/Prototypes/_NF/Research/arsenal.yml
  Resources/Prototypes/_NF/Research/experimental.yml
  Resources/Prototypes/_NF/Research/industrial.yml
  Resources/Textures/_NF/Clothing/Head/Hardsuits/maxim_prototype.rsi/icon-flash.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/maxim_prototype.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/maxim_prototype.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hardsuits/maxim_prototype.rsi/off-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/maxim_prototype.rsi/on-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_hydro.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_hydro.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_hydro.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_mailman.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_mailman.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_mailman.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/maxim_prototype.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/maxim_prototype.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/maxim_prototype.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/maxim_prototype.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/maxim_prototype.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_hydro.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_hydro.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_hydro.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_hydro.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_hydro.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_mailman.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_mailman.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_mailman.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_mailman.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_mailman.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#1122 Increase soup maxVol to prevent spillage
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
Labels: No C#, YML

#1131 Opportunity (Disable)
  Resources/Prototypes/_NF/Shipyard/Security/opportunity.yml
Labels: Status: Needs Review, No C#, YML

#1119 Adds BoxShotgunSlug to ammo.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
Labels: No C#, YML

#1137 Disable antag roles in the lobby
  Resources/Prototypes/Roles/Antags/Thief.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
Labels: Status: Needs Review, No C#, YML

#1130 Shipyard RCD
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/RCD/Components/RCDAmmoComponent.cs
  Content.Shared/RCD/Components/RCDComponent.cs
  Content.Shared/RCD/Systems/RCDAmmoSystem.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
  Content.Shared/Shipyard/Components/ShuttleDeedComponent.cs
  Resources/Locale/en-US/_NF/research/technologies.ftl
  Resources/Locale/en-US/_NF/shipyard/shipyard-rcd-component.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/shipyard_rcd.yml
  Resources/Prototypes/_NF/Recipes/Lathes/devices.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
  Resources/Textures/Objects/Tools/rcd.rsi/ammo-shipyard.png
  Resources/Textures/Objects/Tools/rcd.rsi/icon-shipyard.png
  Resources/Textures/Objects/Tools/rcd.rsi/meta.json
Labels: Status: Needs Review, Sprites, YML, C#, FTL

#1149 Fix diona reform banking
  Content.Server/Species/Systems/NymphSystem.cs
  Content.Server/_NF/Species/Systems/ReformSystem.cs
  Content.Shared/Species/Systems/ReformSystem.cs
Labels: Status: Needs Review, C#

#1148 SV Point (Update)
  Resources/Maps/_NF/Shuttles/point.yml
  Resources/Prototypes/_NF/Shipyard/point.yml
Labels: Map-Shuttle, No C#

#1134 Comments out Artifact Portals from list of Artifact effects
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: No C#, YML

#1133 Nerf mass scaner and add radar console
  Resources/Maps/_NF/Shuttles/anchor.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
Labels: Map-Shuttle, No C#

#1147 Fix space platform dungeon generation
  Content.Server/Procedural/DungeonJob.Generator.cs
Labels: Status: Needs Review, C#

#1114 Expanded Grifty's
  Resources/Maps/_NF/POI/grifty.yml
Labels: Status: Needs Review, Map-POI, No C#

#1108 Ceres (Update): QoL tweaks
  Resources/Maps/_NF/Shuttles/ceres.yml
  Resources/Prototypes/_NF/Shipyard/ceres.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1151 Removes BoxShellTranquilizer from Liberation Station
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
Labels: Status: Needs Review, No C#, YML

#1152 Dungeons Mobs Fixup
  Content.Server/Explosion/Components/OnTrigger/GibOnTriggerComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Shared/Bed/Sleep/AutoWakeUpComponent.cs
  Content.Shared/Bed/Sleep/SharedSleepingSystem.cs
  Content.Shared/Buckle/Components/BuckleComponent.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/syndicatemob.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/subdermal_implants.yml
Labels: Status: Needs Review, YML, C#

#1156 Harpy speech localization 2: Electric Boogaloo
  Resources/Locale/en-US/_NF/chat/managers/chat_manager.ftl
  Resources/Locale/en-US/deltav/chat/managers/chat_manager.ftl
Labels: Status: Needs Review, No C#, FTL

#1157 Frontier Outpost [Update] Cams and Maps
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/station_beacon.yml
Labels: Status: Needs Review, No C#, Map-Outpost

#1165 Sawn-Off PKA Visual Fix
  Resources/Textures/_NF/Objects/Weapons/Guns/Basic/sawn_kinetic_accelerator.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Basic/sawn_kinetic_accelerator.rsi/inhand-right.png
Labels: Status: Needs Review, No C#, Sprites

#1044 Add Artifexum spray chance to disintegrate
  Content.Server/Chemistry/ReagentEffects/DisintegrateArtifact.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
  Resources/Audio/_NF/Ambience/force-field.ogg
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/artifact_construct.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/_NF/Effects/creampie_64.rsi/creampie_grimforged.png
  Resources/Textures/_NF/Effects/creampie_64.rsi/meta.json
  Resources/Textures/_NF/Mobs/Aliens/grim_forged.rsi/dead.png
  Resources/Textures/_NF/Mobs/Aliens/grim_forged.rsi/flash.png
  Resources/Textures/_NF/Mobs/Aliens/grim_forged.rsi/meta.json
  Resources/Textures/_NF/Mobs/Aliens/grim_forged.rsi/move.png
  Resources/Textures/_NF/Mobs/Aliens/grim_forged.rsi/off.png
Labels: Status: Needs Review, Sprites, YML, C#

#1170 Increased respawn/rotting times again
  Content.Shared/Atmos/Rotting/PerishableComponent.cs
  Content.Shared/_NF/CCVars/CCVars.cs
Labels: C#

#1164 Experimental Mining Hardsuit Buff
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#, YML

#1118 Cleithro (New) - Normal Psychologist Shuttle
  Resources/Maps/_NF/Shuttles/cleithro.yml
  Resources/Prototypes/_NF/Shipyard/cleithro.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1160 Bird Food
  Resources/Prototypes/DeltaV/Entities/Mobs/Player/harpy.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/_NF/ai_factions.yml
Labels: Status: Needs Review, No C#, YML

#1154 Some Late Join Fixing
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Spawners/EntitySystems/ContainerSpawnPointSystem.cs
  Content.Server/Spawners/EntitySystems/SpawnPointSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Cargo/mail_carrier.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Civilian/valet.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/_NF/Roles/Jobs/Command/stc.yml
  Resources/Prototypes/_NF/Roles/Jobs/Security/security_guard.yml
Labels: Status: Needs Review, YML, C#

#1155 Add Shuttle and power gen technology to Engi-Fab
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
Labels: No C#, YML

#1162 Empress 3.0
  Resources/Maps/Shuttles/cleric.yml
  Resources/Maps/Shuttles/fighter.yml
  Resources/Maps/Shuttles/rogue.yml
  Resources/Maps/_NF/Shuttles/Security/cleric.yml
  Resources/Maps/_NF/Shuttles/Security/empress.yml
  Resources/Maps/_NF/Shuttles/Security/fighter.yml
  Resources/Maps/_NF/Shuttles/Security/rogue.yml
  Resources/Maps/_NF/Shuttles/empress.yml
  Resources/Prototypes/_NF/Shipyard/Security/cleric.yml
  Resources/Prototypes/_NF/Shipyard/Security/empress.yml
  Resources/Prototypes/_NF/Shipyard/Security/fighter.yml
  Resources/Prototypes/_NF/Shipyard/Security/rogue.yml
Labels: Map-Shuttle, No C#

#1171 DartX Update
  Resources/Maps/_NF/Shuttles/dartx.yml
  Resources/Prototypes/_NF/Shipyard/dartx.yml
Labels: Map-Shuttle, No C#

#1169 Courser X Update
  Resources/Maps/_NF/Shuttles/courserx.yml
Labels: Map-Shuttle, No C#

#1172 Ceres (update): defib location hotfix
  Resources/Maps/_NF/Shuttles/ceres.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1167 Pathfinder Minor Tweak
  Resources/Maps/_NF/Shuttles/pathfinder.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1168 Rosebud Mk II Update
  Resources/Maps/_NF/Shuttles/rosebudmkii.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1175 Fix NFSD job icons and uplink
  Resources/Prototypes/StatusEffects/job.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
Labels: Status: Needs Review, No C#, YML

#1166 Gasbender and Searchlight Minor Tweaks
  Resources/Maps/_NF/Shuttles/gasbender.yml
  Resources/Maps/_NF/Shuttles/searchlight.yml
  Resources/Prototypes/_NF/Shipyard/gasbender.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1181 Fix Harpy speed
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
Labels: Status: Needs Review, No C#, YML

#1142 Jerma (For April 1)
  Resources/Audio/_NF/Jerma/clap.ogg
  Resources/Audio/_NF/Jerma/didi.ogg
  Resources/Audio/_NF/Jerma/dididi.ogg
  Resources/Audio/_NF/Jerma/pog_in_pants.ogg
  Resources/Audio/_NF/Jerma/pog_moment.ogg
  Resources/Audio/_NF/Jerma/pog_moment_right_there.ogg
  Resources/Audio/_NF/Jerma/satellite.ogg
  Resources/Audio/_NF/Jerma/soup_pizza.ogg
  Resources/Audio/_NF/Jerma/thats_kinda_pog.ogg
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/_NF/Entities/Mobs/Player/jerma.yml
  Resources/Prototypes/_NF/SoundCollections/jerma.yml
  Resources/Prototypes/_NF/Voice/speech_emote_sounds.yml
  Resources/Textures/_NF/Mobs/Wildcards/jerma.rsi/alive.png
  Resources/Textures/_NF/Mobs/Wildcards/jerma.rsi/crit.png
  Resources/Textures/_NF/Mobs/Wildcards/jerma.rsi/dead.png
  Resources/Textures/_NF/Mobs/Wildcards/jerma.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML, FTL
