Repository new-frontiers-14/frontier-station-14, pull requests merged in 2024-11, with the labels that each got.

#2354 Cargo Sell - fix order of checks, no selling station pets.
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
Labels: Status: Needs Review, YML, C#

#2348 NFSD Access Shelves
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/shelfs.yml
Labels: No C#, YML

#2337 Bluespace rule + Events cleanup and improvements
  Content.Server/StationEvents/Components/StationEventComponent.cs
  Content.Server/StationEvents/Events/StationEventSystem.cs
  Content.Server/Worldgen/Components/Debris/OwnedDebrisComponent.cs
  Content.Server/_NF/GameRule/Components/AdventureRuleComponent.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_NF/StationEvents/Components/BluespaceErrorRuleComponent.cs
  Content.Server/_NF/StationEvents/Events/BluespaceErrorRule.cs
  Resources/Locale/en-US/_NF/bluespace-events/events.ftl
  Resources/Maps/_NF/Bluespace/mcevent.yml
  Resources/Prototypes/_NF/Entities/Markers/warp_point.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_dungeons_events.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_grids_events.yml
  Resources/Prototypes/_NF/Events/nf_events_bluespace.yml
  Resources/Prototypes/_NF/GameRules/roundstart.yml
  Resources/Prototypes/_NF/World/Biomes/basic.yml
Labels: Status: Needs Review, Map-Bluespace, YML, C#, FTL

#2360 Add suffix to damaged RTG generator flatpack
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
Labels: No C#, YML

#2358 Restore #667
  Content.Server/EntityEffects/Effects/PlantMutateGases.cs
Labels: C#

#2356 Diagonal grille fix
  Resources/Prototypes/Entities/Structures/Walls/grille.yml
Labels: No C#, YML

#2362 Remove Goblinbane
  Resources/Locale/en-US/_NF/advertisements/mobchatter/goblinbane.ftl
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/haunted.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/mchobo.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Catalog/NPCsChatter/goblinbane.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/faction_clothing_base.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_meme_goblinbane.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/mobs_meme_goblinbane.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/possessed_toilet.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_meme_goblinbane.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_meme_goblinbane_minions.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/chem.yml
  Resources/Prototypes/_NF/Roles/Ghostroles/whitelisted.yml
  Resources/Prototypes/_NF/ai_factions.yml
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/alive.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/alive_unshaded.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/bucket_alive.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/bucket_dead.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/bucket_portal.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/bucket_unshaded.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/dead.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/dead_unshaded.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/ghost.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/ghost_unshaded.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/meta.json
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/mop_alive.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/mop_dead.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/mop_dead_unshaded.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/mop_unshaded.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/spray_alive.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/spray_dead.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/spray_dead_unshaded.png
  Resources/Textures/_NF/Mobs/Meme/goblinbane.rsi/spray_unshaded.png
Labels: Status: Needs Review, Map-POI, Map-Dungeon, No C#, Sprites, FTL

#2273 Dungeon enemies rebalance: Explorers & Punks
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Procedural/salvage_factions.yml
  Resources/Prototypes/_NF/Body/Prototypes/human.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_explorers.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_punks.yml
  Resources/Prototypes/_NF/Damage/modifier_sets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Hands/gloves_mob_hostile_npcs.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/mobs_hostile_punkgangers.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_punkganger.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/blueprints/blueprints_expedition_loot.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Projectiles/energy.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Projectiles/minirocket.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/_NF/InventoryTemplates/npc_inventory_id_template.yml
  Resources/Prototypes/_NF/InventoryTemplates/npc_inventory_template.yml
  Resources/Prototypes/_NF/InventoryTemplates/npc_simplified_inventory_template.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
  Resources/Prototypes/_NF/Roles/Jobs/Hostile/explorers.yml
  Resources/Prototypes/_NF/Roles/Jobs/Hostile/guidebook_crewmates.yml
  Resources/Prototypes/_NF/Roles/Jobs/Hostile/punk_gangers.yml
  Resources/ServerInfo/_NF/Guidebook/MobsHostileExpedition/explorers.xml
  Resources/ServerInfo/_NF/Guidebook/MobsHostileExpedition/punk_gangers.xml
Labels: Docs, Status: Needs Review, No C#, YML, FTL

#2369 Test fail correction for Rosy Mothroach Cloak
  Resources/Prototypes/_NF/Entities/Clothing/Neck/cloaks.yml
Labels: Status: Needs Review, No C#, YML

#2373 Trade Mall tweaks
  Resources/Maps/_NF/POI/trademall.yml
  Resources/Prototypes/_NF/PointsOfInterest/trademall.yml
Labels: Status: Needs Review, Map-POI, No C#

#2344 LVHI Posters (New)
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/posters.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/contraband.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster10_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster11_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster9_contraband.png
Labels: No C#, Sprites, YML

#2338 Holoflare pistol
  Content.Server/DeltaV/Weapons/Ranged/Systems/EnergyGunSystem.cs
  Content.Shared/DeltaV/Weapons/Ranged/EnergyGunFireModeVisuals.cs
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/lesslethalvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/misc.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/holoflare_pistol.yml/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/holoflare_pistol.yml/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/holoflare_pistol.yml/inhand-left-unshaded.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/holoflare_pistol.yml/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/holoflare_pistol.yml/inhand-right-unshaded.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/holoflare_pistol.yml/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/holoflare_pistol.yml/mag-unshaded-0.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/holoflare_pistol.yml/mag-unshaded-1.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/holoflare_pistol.yml/mag-unshaded-2.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/holoflare_pistol.yml/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/holoflare_pistol.yml/mode-cyan.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/holoflare_pistol.yml/mode-red.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/holoflare_pistol.yml/mode-yellow.png
Labels: No C#, YML, C#

#2357 Flare Dispenser
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/boxes.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
Labels: No C#, YML

#2361 VGRoids events
  Content.Server/Procedural/DungeonJob/DungeonJob.OreDunGen.cs
  Content.Server/Procedural/DungeonJob/DungeonJob.PostGenBiome.cs
  Content.Server/Procedural/DungeonSystem.Rooms.cs
  Content.Server/Procedural/RoomFillComponent.cs
  Content.Server/Procedural/RoomFillSystem.cs
  Content.Server/StationEvents/Events/StationEventSystem.cs
  Content.Server/_NF/GameRule/Components/AdventureRuleComponent.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_NF/StationEvents/Components/BluespaceErrorRuleComponent.cs
  Content.Server/_NF/StationEvents/Components/LinkedLifecycleGridChildComponent.cs
  Content.Server/_NF/StationEvents/Components/LinkedLifecycleGridParentComponent.cs
  Content.Server/_NF/StationEvents/EventSystems/LinkedLifecycleGridSystem.cs
  Content.Server/_NF/StationEvents/Events/BluespaceErrorRule.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Parallax/Biomes/SharedBiomeSystem.cs
  Content.Shared/Procedural/DungeonLayers/OreDunGen.cs
  Content.Shared/Procedural/DungeonRoomPrototype.cs
  Content.Shared/Procedural/PostGeneration/BiomeDunGen.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Resources/Locale/en-US/_NF/bluespace-events/events.ftl
  Resources/Maps/Dungeon/vgroidinterior.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/haunted.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/mineshaft.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/spaceplatform.yml
  Resources/Maps/_NF/Dungeon/vgroidinterior.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/spawners.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Markers/rooms.yml
  Resources/Prototypes/Procedural/Magnet/asteroid_ore_gens.yml
  Resources/Prototypes/Procedural/Themes/vgroidinterior.yml
  Resources/Prototypes/Procedural/vgroid.yml
  Resources/Prototypes/_NF/Catalog/uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Markers/warp_point.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_dungeons_events.yml
  Resources/Prototypes/_NF/GameRules/roundstart.yml
  Resources/Prototypes/_NF/Procedural/Themes/salvage_outpost.yml
  Resources/Prototypes/_NF/Procedural/Themes/vgroidinterior.yml
  Resources/Prototypes/_NF/Procedural/Themes/virology_lab.yml
  Resources/Prototypes/_NF/Procedural/basalt_vgroid.yml
  Resources/Prototypes/_NF/Procedural/cave_vgroid.yml
  Resources/Prototypes/_NF/Procedural/chromite_vgroid.yml
  Resources/Prototypes/_NF/Procedural/snow_vgroid.yml
  Resources/Prototypes/_NF/game_presets.yml
Labels: Status: Needs Review, Map-Dungeon, C#, FTL

#2352 Reduce power flickering by increasing APC supply tolerance to 15 kW.
  Resources/Prototypes/Entities/Structures/Power/apc.yml
Labels: Status: Needs Review, No C#, YML

#2374 Botany: drop items when harvesting or clipping seeds
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/Storage/EntitySystems/SpawnItemsOnUseSystem.cs
Labels: Status: Needs Review, C#

#2214 Shuttle records console to allow copying ship deeds
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Content.Client/_NF/ShuttleRecords/BUI/ShuttleRecordsConsoleBoundUserInterface.cs
  Content.Client/_NF/ShuttleRecords/UI/ShuttleRecordDetailsControl.xaml
  Content.Client/_NF/ShuttleRecords/UI/ShuttleRecordDetailsControl.xaml.cs
  Content.Client/_NF/ShuttleRecords/UI/ShuttleRecordListItem.xaml
  Content.Client/_NF/ShuttleRecords/UI/ShuttleRecordListItem.xaml.cs
  Content.Client/_NF/ShuttleRecords/UI/ShuttleRecordsWindow.xaml
  Content.Client/_NF/ShuttleRecords/UI/ShuttleRecordsWindow.xaml.cs
  Content.Server/Cargo/Components/StationBankAccountComponent.cs
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/Shipyard/Systems/ShipyardSystem.cs
  Content.Server/_NF/ShuttleRecords/Components/SectorShuttleRecordsComponent.cs
  Content.Server/_NF/ShuttleRecords/ShuttleRecordsSystem.Console.cs
  Content.Server/_NF/ShuttleRecords/ShuttleRecordsSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/Shipyard/Components/SharedShipyardConsoleComponent.cs
  Content.Shared/Shipyard/Components/ShuttleDeedComponent.cs
  Content.Shared/_NF/ShuttleRecords/Components/ShuttleRecordsConsoleComponent.cs
  Content.Shared/_NF/ShuttleRecords/Events/CopyDeedMessage.cs
  Content.Shared/_NF/ShuttleRecords/SharedShuttleRecordsSystem.cs
  Content.Shared/_NF/ShuttleRecords/ShuttleRecord.cs
  Content.Shared/_NF/ShuttleRecords/ShuttleRecordsConsoleInterfaceState.cs
  Resources/Locale/en-US/_NF/shuttle-records/shuttle-records-system.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shuttle_records.yml
Labels: Status: Needs Review, YML, C#, UI, FTL, Map-Outpost

#2323 Hammer (Update): Directional fans + tweaks
  Resources/Maps/_NF/Shuttles/hammer.yml
  Resources/Prototypes/_NF/Shipyard/hammer.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2371 Log the id card that is used with shipyard in adminlogs
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
Labels: Status: Needs Review, C#

#2370 Stelloxadone guidebook fix: do not collapse non-even damage distributions
  Content.Server/EntityEffects/Effects/HealthChange.cs
Labels: C#

#2376 Empty mag lathe fix
  Resources/Prototypes/_NF/Recipes/Lathes/security.yml
Labels: Status: Needs Review, No C#, YML

#2380 Fix botany bags fit in toolbelt
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
Labels: No C#, YML

#2381 Remove curse from the golden mask.
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
Labels: No C#, YML

#2382 Update Changelogs
  Content.Server/EntityEffects/Effects/PlantMutateGases.cs
  Resources/Changelog/Frontier.yml
Labels: Status: Needs Review, No C#, YML, C#

#2378 Pirate bounty fixes
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Shared/_NF/Pirate/SharedPirateSystem.cs
  Resources/Locale/en-US/_NF/cargo/pirate-bounties.ftl
  Resources/Prototypes/_NF/Catalog/Bounties/pirate_bounties.yml
Labels: YML, C#, FTL

#2383 Auto rename warp points
  Content.Server/Station/Systems/StationRenameWarpsSystems.cs
  Content.Server/Warps/WarpPointComponent.cs
  Content.Server/Warps/WarpPointSystem.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_NF/PublicTransit/Components/TransitShuttleComponent.cs
  Content.Server/_NF/PublicTransit/PublicTransitSystem.cs
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
  Content.Server/_NF/StationEvents/Components/BluespaceErrorRuleComponent.cs
  Content.Server/_NF/StationEvents/Events/BluespaceErrorRule.cs
  Content.Shared/_NF/GameRule/PointOfInterestPrototype.cs
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
  Resources/Locale/en-US/_NF/smuggling/deaddrop.ftl
  Resources/Maps/_NF/Bluespace/bloodmoon.yml
  Resources/Maps/_NF/Bluespace/cache.yml
  Resources/Maps/_NF/Bluespace/cave.yml
  Resources/Maps/_NF/Bluespace/mcevent.yml
  Resources/Maps/_NF/Bluespace/syndieftlintercept.yml
  Resources/Maps/_NF/Bluespace/vault.yml
  Resources/Maps/_NF/Bluespace/vaultsmall.yml
  Resources/Maps/_NF/Bluespace/wizardprobealt.yml
  Resources/Maps/_NF/DeadDrop/deaddrop.yml
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/anomalousgeode.yml
  Resources/Maps/_NF/POI/anomalouslab.yml
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/bahama.yml
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/cargodepotalt.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/edison.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Maps/_NF/POI/mchobo.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/POI/northpole.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Maps/_NF/Shuttles/Bus/publicts.yml
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/Entities/Markers/warp_point.yml
  Resources/Prototypes/_NF/Entities/Markers/warp_point.yml
  Resources/Prototypes/_NF/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_dungeons_events.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
  Resources/Prototypes/_NF/PointsOfInterest/northpole.yml
  Resources/Prototypes/_NF/Procedural/basalt_vgroid.yml
  Resources/Prototypes/_NF/Procedural/cave_vgroid.yml
  Resources/Prototypes/_NF/Procedural/chromite_vgroid.yml
  Resources/Prototypes/_NF/Procedural/snow_vgroid.yml
  Resources/_NF/migration.yml
Labels: Status: Needs Review, Map-Shuttle, Map-POI, Map-Bluespace, C#, FTL, Map-Outpost

#2304 of biogenerator and biofabricator
  Content.Server/Cloning/CloningSystem.cs
  Content.Shared/Cloning/CloningPodComponent.cs
  Resources/Locale/en-US/_NF/lathe/lathe-categories.ftl
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/biogen.yml
  Resources/Prototypes/Recipes/Lathes/rehydrateable.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/soil.yml
  Resources/Prototypes/_NF/Mail/mail.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/structures/soil.yml
  Resources/Prototypes/_NF/Recipes/Lathes/biogen.yml
  Resources/Prototypes/_NF/Recipes/Lathes/categories.yml
  Resources/Prototypes/_NF/Recipes/Lathes/materials.yml
  Resources/Prototypes/_NF/Recipes/Lathes/sheet.yml
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/soil.png
Labels: Map-Dungeon, No C#, Sprites, C#, FTL

#2347 Stashes
  Content.Server/_NF/Storage/AnchorableStorageComponent.cs
  Content.Server/_NF/Storage/AnchorableStorageSystem.cs
  Resources/Locale/en-US/_NF/storage/anchorable-storage.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/detdrobe.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/base_clothing_backpack.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/bags.yml
Labels: No C#, YML, C#, FTL

#2364 Condenser Power Adjustment
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
Labels: Status: Needs Review, No C#, YML

#2387 Add ingot to the list of valid materials to insert in the cutter machine
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Status: Needs Review, No C#, YML

#2392 Fix roundstart janitor access, no maid smite
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/janitor.yml
Labels: YML, C#

#2396 No biomass when recycling pills.
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#, YML

#2401 PTK-800 But only for mining
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Status: Needs Review, No C#, YML

#2405 remove glaive from salvage weapons rack
  Resources/Prototypes/_NF/Entities/Structures/Furniture/Armory/weapon_racks_filled.yml
Labels: No C#, YML

#2399 Replace locked airlocks on Bison
  Resources/Maps/_NF/Shuttles/Scrap/bison.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2389 Felinid code cleanup
  Content.Server/Nyanotrasen/Abilities/Felinid/CoughingUpHairballComponent.cs
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidComponent.cs
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidFoodComponent.cs
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
  Content.Server/Nyanotrasen/Abilities/Felinid/HairballComponent.cs
  Content.Shared/Nyanotrasen/Abilities/SharedFelinid.cs
  Content.Shared/Nyanotrasen/Actions/Events/EatMouseActionEvent.cs
  Content.Shared/Nyanotrasen/Actions/Events/HairballActionEvent.cs
  Resources/Audio/DeltaV/Items/eatfood.ogg
  Resources/Audio/Nyanotrasen/Animals/moth_chitter.ogg
  Resources/Audio/Nyanotrasen/Effects/Species/hairball.ogg
  Resources/Audio/Nyanotrasen/Effects/Species/license.txt
  Resources/Audio/Nyanotrasen/Voice/Felinid/attributions.yml
  Resources/Audio/Nyanotrasen/Voice/Felinid/license.txt
  Resources/Audio/Nyanotrasen/blowout1.ogg
  Resources/Audio/Nyanotrasen/fireball1.ogg
  Resources/Audio/Nyanotrasen/flamethrower1.ogg
  Resources/Audio/Nyanotrasen/flamethrower2.ogg
  Resources/Audio/Nyanotrasen/flamethrower3.ogg
  Resources/Audio/Nyanotrasen/heartbeat_fast.ogg
  Resources/Audio/Nyanotrasen/license.txt
  Resources/Audio/Nyanotrasen/shogi_piece_clack.ogg
  Resources/Audio/_NF/Animals/attributions.yml
  Resources/Audio/_NF/Animals/dragon_hatch.ogg
  Resources/Locale/en-US/deltav/markings/felinid.ftl
  Resources/Locale/en-US/deltav/markings/rodentia.ftl
  Resources/Locale/en-US/markings/felinid.ftl
  Resources/Locale/en-US/markings/gauze.ftl
  Resources/Locale/en-US/markings/reptilian.ftl
  Resources/Locale/en-US/markings/tattoos.ftl
  Resources/Locale/en-US/markings/vox_tattoos.ftl
  Resources/Locale/en-US/markings/vulpkanin.ftl
  Resources/Locale/en-US/nyanotrasen/abilities/felinid.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Nyanotrasen/Actions/types.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_sounds.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/dragon_egg.yml
  Resources/Prototypes/_NF/Recipes/Cooking/food_sequence_element.yml
  Resources/Textures/Nyanotrasen/Objects/Specific/Species/felinid.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Specific/Species/felinid.rsi/meta.json
Labels: Status: Needs Review, Sprites, YML, C#, FTL

#2317 Restore explosive crossbow bolts, add shrapnel bolt
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Crossbow/crossbow.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Projectiles/crossbow_bolts.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/weapons/improvised_bolt.yml
  Resources/Prototypes/_NF/Recipes/Construction/weapons.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Projectiles/crossbow_bolts.rsi/icon-bolt-shell.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Projectiles/crossbow_bolts.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#2407 Fix guidebook small issue
  Resources/ServerInfo/_NF/Guidebook/NFSD/Smuggling.xml
Labels: Docs, Status: Needs Review, No C#

#2400 Raise DroppedEvent on items in pockets/suit storage.
  Content.Shared/Inventory/InventorySystem.Equip.cs
Labels: C#

#2327 DeltaV Anti EORG Code & Species vision cvar edit
  Content.Client/DeltaV/RoundEnd/NoEorgPopup.xaml
  Content.Client/DeltaV/RoundEnd/NoEorgPopup.xaml.cs
  Content.Client/DeltaV/RoundEnd/NoEorgPopupSystem.cs
  Content.Server/DeltaV/RoundEnd/RoundEndSystem.Pacified.cs
  Content.Shared/DeltaV/CCVars/DCCVars.cs
  Resources/Locale/en-US/deltav/roundend/no-eorg-popup.ftl
Labels: C#, UI, FTL

#2302 Bluespace Event NFZ announcements
  Resources/Locale/en-US/_NF/bluespace-events/events.ftl
Labels: Map-Shuttle, No C#, FTL, Status: Need Discussion

#2409 Frontier Weapon Mags Visual Fix
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: Status: Needs Review, No C#, YML

#2410 General Bug fixing
  Content.IntegrationTests/Tests/MachineBoardTest.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Entities/Structures/cargo_telepad.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/cards.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_NF/Entities/Markers/warp_point.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Projectiles/crossbow_bolts.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shuttle_records.yml
  Resources/Prototypes/_NF/Mail/Items/misc.yml
  Resources/Prototypes/_NF/Maps/debug.yml
  Resources/Prototypes/_NF/Recipes/Lathes/prizecounter.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tiles.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: Status: Needs Review, YML, C#

#2394 Clean AI comps on death
  Content.Server/_NF/Salvage/NFSalvageMobRestrictionsComponent.cs
  Content.Server/_NF/Salvage/SalvageMobRestrictionsSystem.cs
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_rogue_ai.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
Labels: Status: Needs Review, YML, C#

#2406 POI Code cleanup
  Content.Client/Entry/EntryPoint.cs
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_NF/StationEvents/Events/BluespaceErrorRule.cs
  Content.Shared/Shipyard/Prototypes/VesselPrototype.cs
  Content.Shared/_NF/GameRule/PointOfInterestPrototype.cs
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalousgeode.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalouslab.yml
  Resources/Prototypes/_NF/PointsOfInterest/bahamamamas.yml
  Resources/Prototypes/_NF/PointsOfInterest/caseys.yml
  Resources/Prototypes/_NF/PointsOfInterest/courthouse.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
  Resources/Prototypes/_NF/PointsOfInterest/edison.yml
  Resources/Prototypes/_NF/PointsOfInterest/grifty.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
  Resources/Prototypes/_NF/PointsOfInterest/mchobo.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Prototypes/_NF/PointsOfInterest/northpole.yml
  Resources/Prototypes/_NF/PointsOfInterest/omnichurch.yml
  Resources/Prototypes/_NF/PointsOfInterest/thepit.yml
  Resources/Prototypes/_NF/PointsOfInterest/tinniasrest.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
Labels: Status: Needs Review, YML, C#

#2416 Crossbow bolt cleanup, trigger fixes
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/_NF/Atmos/Components/IgniteOnProjectileHitComponent.cs
  Content.Server/_NF/Explosion/Components/TriggerOnProjectileHitComponent.cs
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Projectiles/crossbow_bolts.yml
Labels: Status: Needs Review, YML, C#

#2417 Vehicles: no riding while pulling
  Content.Shared/Vehicle/SharedVehicleSystem.cs
  Resources/Locale/en-US/vehicle/vehicle.ftl
Labels: Status: Needs Review, C#, FTL

#2414 Adds missing Bulker cable terminal.
  Resources/Maps/_NF/Shuttles/bulker.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2413 Storage test fail fix
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
Labels: Status: Needs Review, No C#, YML

#2420 Hotfix: Dead drop warp point visibility
  Content.Server/Station/Systems/StationRenameWarpsSystems.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
  Content.Server/_NF/StationEvents/Events/BluespaceErrorRule.cs
Labels: Status: Needs Review, C#

#2422 VGroid remove mini grids
  Resources/Prototypes/_NF/Procedural/basalt_vgroid.yml
  Resources/Prototypes/_NF/Procedural/cave_vgroid.yml
  Resources/Prototypes/_NF/Procedural/chromite_vgroid.yml
  Resources/Prototypes/_NF/Procedural/snow_vgroid.yml
Labels: Status: Needs Review, No C#, YML

#2263 Big bug fixing part 3
  Content.Client/_EstacaoPirata/Cards/CardSpriteSystem.cs
  Content.Client/_EstacaoPirata/Cards/Hand/CardHandSystem.cs
  Content.IntegrationTests/PoolManager.Cvars.cs
  Content.IntegrationTests/PoolSettings.cs
  Content.IntegrationTests/Tests/GameRules/FailAndStartPresetTest.cs
  Content.IntegrationTests/Tests/MachineBoardTest.cs
  Content.IntegrationTests/Tests/VendingMachineRestockTest.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Prototypes/Entities/Clothing/Masks/base_clothingmask.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/shotgun.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/cards.yml
  Resources/Prototypes/_NF/Entities/Clothing/base_recyclable_clothing.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/brassknuckles.yml
  Resources/Prototypes/_NF/Entities/Objects/base_recyclable_items.yml
  Resources/Prototypes/_NF/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/emergency_pod.yml
  Resources/Prototypes/_NF/Recipes/Lathes/bloodcult.yml
Labels: Status: Needs Review, No C#, YML, C#

#2424 Fix - Crescent. Custom fill cryotube.
  Resources/Maps/_NF/Shuttles/crescent.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2425 Restore some integration tests
  .github/workflows/build-test-debug.yml
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.IntegrationTests/Tests/Storage/StorageInteractionTest.cs
  Content.IntegrationTests/Tests/UserInterface/UiControlTest.cs
Labels: Status: Needs Review, No C#, YML, C#

#2412 Canisters update
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/spawners.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/barnacle.yml
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
  Resources/Prototypes/_NF/Shipyard/Sr/broom.yml
  Resources/Prototypes/_NF/Shipyard/Sr/chauffeur.yml
  Resources/Prototypes/_NF/Shipyard/akupara.yml
  Resources/Prototypes/_NF/Shipyard/apothecary.yml
  Resources/Prototypes/_NF/Shipyard/bazaar.yml
  Resources/Prototypes/_NF/Shipyard/bocadillo.yml
  Resources/Prototypes/_NF/Shipyard/bookworm.yml
  Resources/Prototypes/_NF/Shipyard/camper.yml
  Resources/Prototypes/_NF/Shipyard/garden.yml
  Resources/Prototypes/_NF/Shipyard/hammer.yml
  Resources/Prototypes/_NF/Shipyard/harbormaster.yml
  Resources/Prototypes/_NF/Shipyard/kilderkin.yml
  Resources/Prototypes/_NF/Shipyard/lantern.yml
  Resources/Prototypes/_NF/Shipyard/legman.yml
  Resources/Prototypes/_NF/Shipyard/liquidator.yml
  Resources/Prototypes/_NF/Shipyard/mccargo.yml
  Resources/Prototypes/_NF/Shipyard/mcdelivery.yml
  Resources/Prototypes/_NF/Shipyard/phoenix.yml
  Resources/Prototypes/_NF/Shipyard/piecrust.yml
  Resources/Prototypes/_NF/Shipyard/pioneer.yml
  Resources/Prototypes/_NF/Shipyard/pts.yml
  Resources/Prototypes/_NF/Shipyard/searchlight.yml
  Resources/Prototypes/_NF/Shipyard/skipper.yml
  Resources/Prototypes/_NF/Shipyard/sparrow.yml
  Resources/Prototypes/_NF/Shipyard/spirit.yml
  Resources/Prototypes/_NF/Shipyard/stasis.yml
  Resources/Prototypes/_NF/Shipyard/tyne.yml
  Resources/_NF/migration.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2421 Update gases price
  Resources/Prototypes/Atmospherics/gases.yml
Labels: Status: Needs Review, No C#, YML

#2431 Fix - Camper Shuttle disconnected air alarm
  Resources/Maps/_NF/Shuttles/camper.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2330 Up to new player bank from 25k to 30k
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: C#

#2419 Remove arti disintegrate probability
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
  Content.Server/_NF/EntityEffects/Effects/NFActivateArtifact.cs
Labels: Status: Needs Review, C#

#2430 Mix up atmos on planets
  Resources/Locale/en-US/_NF/procedural/expeditions.ftl
  Resources/Prototypes/Procedural/salvage_mods.yml
  Resources/Prototypes/_NF/Procedural/salvage_mods.yml
Labels: No C#, YML, FTL

#2385 Remove rewards from expeditions
  Content.Client/Salvage/UI/SalvageExpeditionWindow.xaml.cs
  Content.Shared/Salvage/SharedSalvageSystem.cs
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Procedural/salvage_rewards.yml
Labels: YML, C#, UI, Status: DO NOT MERGE, Status: Need Discussion

#2386 Revert expedition time cooldown
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
Labels: C#, Status: DO NOT MERGE, Status: Need Discussion

#2435 Disable insane Christmas gifts
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
Labels: Status: Needs Review, No C#, YML

#2318 New artifact effects
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/ChemicalPuddleArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/ChemicalPuddleArtifactSystem.cs
  Resources/Locale/en-US/_NF/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/_NF/xenoarchaeology/artifact-hints.ftl
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/_NF/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/_NF/XenoArch/Effects/utility_effects.yml
Labels: Status: Needs Review, No C#, YML, C#, FTL

#2438 Fix admin PDA
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
Labels: Status: Needs Review, No C#, YML

#2447 Fix SR PDA loadout entry
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
Labels: No C#, YML

#2445 Update gun.ftl
  Resources/Locale/en-US/_NF/weapons/ranged/gun.ftl
Labels: No C#, FTL

#2443 Update Jukebox (DeltaV)
  .github/labeler.yml
  Resources/Audio/DeltaV/Jukebox/Caravan_Palace_Lone_Digger-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/attributions.yml
  Resources/Audio/DeltaV/Jukebox/deck_the_halls_b-MONO.ogg
  Resources/Audio/DeltaV/Jukebox/femtanyl_-_MURDER_EVERY_1_U_KNOW_feat._takihasdied_MONO.ogg
  Resources/Prototypes/DeltaV/Catalog/Jukebox/Standard.yml
Labels: No C#, YML

#2439 Update cannons.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
Labels: Status: Needs Review, No C#, YML

#2437 Updates Med Lathe w/ service EVA.
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#, YML

#2408 Scraproid
  Resources/Locale/en-US/_NF/materials/materials.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Materials/ore.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/material_reclaimer.yml
  Resources/Prototypes/_NF/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_dungeons_events.yml
  Resources/Prototypes/_NF/Procedural/scrap_vgroid.yml
  Resources/Prototypes/_NF/Recipes/Lathes/materials.yml
  Resources/Prototypes/_NF/Recipes/Lathes/sheet.yml
  Resources/Textures/_NF/Objects/Materials/ore.rsi/meta.json
  Resources/Textures/_NF/Objects/Materials/ore.rsi/scrapore.png
  Resources/Textures/_NF/Structures/Walls/rock.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/rock.rsi/rock_scrap.png
  Resources/Textures/_NF/Structures/Walls/rock.rsi/scraprock01.png
  Resources/Textures/_NF/Structures/Walls/rock.rsi/scraprock02.png
  Resources/Textures/_NF/Structures/Walls/rock.rsi/scraprock03.png
  Resources/Textures/_NF/Structures/Walls/rock.rsi/scraprock04.png
  Resources/Textures/_NF/Structures/Walls/rock.rsi/scraprock05.png
  Resources/Textures/_NF/Structures/Walls/rock.rsi/scraprock06.png
  Resources/Textures/_NF/Structures/Walls/rock.rsi/scraprock07.png
  Resources/Textures/_NF/Structures/Walls/rock.rsi/scraprock_east.png
  Resources/Textures/_NF/Structures/Walls/rock.rsi/scraprock_north.png
  Resources/Textures/_NF/Structures/Walls/rock.rsi/scraprock_south.png
  Resources/Textures/_NF/Structures/Walls/rock.rsi/scraprock_west.png
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#2448 Broom ATM fix
  Resources/Maps/_NF/Shuttles/Sr/broom.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2433 Salvage events pool v1
  Content.Server/_NF/StationEvents/Components/BluespaceErrorRuleComponent.cs
  Content.Server/_NF/StationEvents/Events/BluespaceErrorRule.cs
  Resources/Locale/en-US/_NF/bluespace-events/events.ftl
  Resources/Maps/_NF/Shuttles/Scrap/scrap-barge.yml
  Resources/Maps/_NF/Shuttles/Scrap/scrap-comet.yml
  Resources/Maps/_NF/Shuttles/Scrap/scrap-courserx.yml
  Resources/Maps/_NF/Shuttles/Scrap/scrap-crescent.yml
  Resources/Maps/_NF/Shuttles/Scrap/scrap-hauler.yml
  Resources/Maps/_NF/Shuttles/Scrap/scrap-investigator.yml
  Resources/Maps/_NF/Shuttles/Scrap/scrap-sprinter.yml
  Resources/Prototypes/_NF/Datasets/Names/scrap.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_salvage_events.yml
  Resources/Prototypes/_NF/GameRules/roundstart.yml
  Resources/Prototypes/_NF/Shipyard/akupara.yml
  Resources/Prototypes/_NF/game_presets.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, C#, FTL

#2426 Show docking labels, order labelled docks
  Content.Client/Shuttles/UI/DockingScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleDockControl.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Shared/Shuttles/BUIStates/DockingPortState.cs
  Resources/Maps/_NF/POI/trade.yml
Labels: Map-POI, C#, UI

#2442 add debug logging to entitywhitelist - DeltaV #2263
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
Labels: Status: Needs Review, C#

#2461 Fix mop, petting effect hints
  Resources/Prototypes/_NF/XenoArch/Effects/utility_effects.yml
Labels: Status: Needs Review, No C#, YML

#2450 Wristwatches: read out shift time, add to loadouts and command mail
  Content.Server/Clock/ClockSystem.cs
  Content.Shared/Clock/SharedClockSystem.cs
  Resources/Locale/en-US/devices/clock.ftl
  Resources/Prototypes/Entities/Objects/Devices/wristwatch.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/trinkets.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Mail/mail.yml
  Resources/Prototypes/_NF/Mail/mailDeliveries.yml
Labels: Status: Needs Review, YML, C#, FTL

#2441 Deep fryer recipes, fried chicken, nuggets, doughnuts, Nyano drinks
  Content.Client/_EE/Guidebook/Controls/GuideFoodSource.xaml.cs
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.cs
  Content.Server/_EE/Nutrition/EntitySystems/FoodGuideDataSystem.cs
  Content.Server/_NF/Kitchen/Components/PreventCrispingComponent.cs
  Content.Shared/_EE/Nutrition/EntitySystems/SharedFoodGuideDataSystem.cs
  Content.Shared/_NF/Kitchen/Components/DeepFrySpawnComponent.cs
  Resources/Locale/en-US/_EE/guidebook/food.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Reactions/drink.yml
  Resources/Prototypes/Recipes/Construction/Graphs/food/pizza.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/food/donut.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/donut.rsi/jelly-uncooked.png
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/donut.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/donut.rsi/uncooked.png
  Resources/Textures/_NF/Objects/Consumable/Food/ingredients.rsi/dough-flat-buttered.png
  Resources/Textures/_NF/Objects/Consumable/Food/ingredients.rsi/dough-pastry-flat.png
  Resources/Textures/_NF/Objects/Consumable/Food/ingredients.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/meat.rsi/chicken-battered.png
  Resources/Textures/_NF/Objects/Consumable/Food/meat.rsi/cutlet-battered.png
  Resources/Textures/_NF/Objects/Consumable/Food/meat.rsi/meta.json
Labels: Status: Needs Review, Sprites, YML, C#, UI, FTL

#2427 Adds an ATM to the Loader
  Resources/Maps/_NF/Shuttles/loader.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2454 Plushed With Greatness
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/cuddlycritter.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/prizecounter.yml
  Resources/Textures/_NF/Objects/Fun/sharkminnow.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Fun/sharkminnow.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Fun/sharkminnow.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/sharkminnow.rsi/sharkminnowplush.png
  Resources/Textures/_NF/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/toys.rsi/plushie_botanist.png
  Resources/Textures/_NF/Objects/Fun/toys.rsi/plushie_cmo.png
  Resources/Textures/_NF/Objects/Fun/toys.rsi/plushie_construction.png
  Resources/Textures/_NF/Objects/Fun/toys.rsi/plushie_engineer.png
Labels: Status: Needs Review, No C#, Sprites, YML

#2456 Scrap Processor
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_NF/Recipes/Lathes/materials.yml
  Resources/Prototypes/_NF/Recipes/Lathes/sheet.yml
  Resources/Textures/_NF/Structures/Machines/scrap_processor.rsi/building-unshaded.png
  Resources/Textures/_NF/Structures/Machines/scrap_processor.rsi/building.png
  Resources/Textures/_NF/Structures/Machines/scrap_processor.rsi/icon.png
  Resources/Textures/_NF/Structures/Machines/scrap_processor.rsi/inserting.png
  Resources/Textures/_NF/Structures/Machines/scrap_processor.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/scrap_processor.rsi/panel.png
  Resources/Textures/_NF/Structures/Machines/scrap_processor.rsi/unshaded.png
Labels: Status: Needs Review, No C#, Sprites, YML

#2449 Add support for bosses in VGRoid
  Content.Server/_NF/Salvage/NFSalvageMobRestrictionsComponent.cs
  Content.Server/_NF/Salvage/SalvageMobRestrictionsSystem.cs
  Resources/Locale/en-US/_NF/procedural/salvage-faction.ftl
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_bloodcultist.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_aberrant_flesh.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_argocyte.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_dinosaurs.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_xeno.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_mercenaries.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_punkganger.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_rogue_ai.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
Labels: Status: Needs Review, YML, C#, FTL

#2359 New admin command: spawnrefund
  Content.Server/_NF/Commands/SpawnRefundCommand.cs
  Content.Shared.Database/LogType.cs
Labels: C#

#2283 Discord Ahelp Reply System
  Content.Server/Administration/ServerApi.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/Discord/WebhookPayload.cs
Labels: C#

#2366 Trade Outpost Directional Fans
  Resources/Maps/_NF/POI/trade.yml
Labels: Status: Needs Review, Map-POI, No C#

#2367 Casey's Casino Directional Fans
  Resources/Maps/_NF/POI/caseyscasino.yml
Labels: Status: Needs Review, Map-POI, No C#

#2195 Paladin (New Shuttle)
  .github/mapchecker/whitelist.yml
  Resources/Maps/_NF/Shuttles/Nfsd/paladin.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/paladin.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2470 Fix integration tests
  Resources/Prototypes/_NF/Shipyard/Sr/broom.yml
  Resources/Prototypes/_NF/Shipyard/bocadillo.yml
  Resources/Prototypes/_NF/Shipyard/kilderkin.yml
  Resources/Prototypes/_NF/Shipyard/spirit.yml
Labels: Map-Shuttle, No C#, YML

#2472 Add empty barsign to _NF barsign folder.
  Resources/Textures/_NF/Structures/Wallmounts/barsign.rsi/empty.png
  Resources/Textures/_NF/Structures/Wallmounts/barsign.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites

#2473 Display GPS coordinates on their own line
  Resources/Locale/en-US/GPS/handheld-gps.ftl
Labels: No C#, FTL

#2475 Restore auto-publish
  .github/workflows/publish.yml
Labels: Status: Needs Review, No C#, YML

#2478 Revert "add debug logging to entitywhitelist - DeltaV #2263"
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
Labels: Status: Needs Review, C#

#2479 I blame Milon for this one
  Resources/Prototypes/Entities/Structures/Machines/recycler.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/material_reclaimer.yml
Labels: Status: Needs Review, No C#, YML

#2481 Fix scrap ships
  Resources/Maps/_NF/Shuttles/Scrap/orange.yml
  Resources/Maps/_NF/Shuttles/Scrap/point.yml
  Resources/Maps/_NF/Shuttles/Scrap/scrap-hauler.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2484 Fixing whitelist code issues.
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/_NF/Cargo/Components/PirateBountyItemComponent.cs
  Content.Server/_NF/Cargo/Systems/CargoSystem.PirateBounty.cs
  Content.Server/_NF/Market/Components/CargoMarketDataComponent.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Content.Server/_NF/Market/Systems/MarketSystem.cs
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
  Content.Shared/_NF/Materials/Components/UraniumMaterialsComponent.cs
  Content.Shared/_NF/Pirate/Prototypes/PirateBountyPrototype.cs
  Content.Shared/_NF/Whitelist/EntProtoIdWhitelist.cs
  Content.Shared/_NF/Whitelist/EntProtoIdWhitelistSystem.cs
  Resources/Locale/en-US/_NF/cargo/pirate-bounties.ftl
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/disk.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Structures/Dispensers/booze.yml
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
  Resources/Prototypes/Entities/Structures/Machines/hotplate.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/recycler.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Entities/Structures/Storage/ore_box.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/base_mail.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/deep_fryer.yml
  Resources/Prototypes/_NF/Catalog/Bounties/pirate_bounties.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_NF/Entities/Stations/base.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/material_reclaimer.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
Labels: Status: Needs Review, YML, C#, UI, FTL

#2483 Shuttle console map fix: check entity exists before getting its transform.
  Content.Client/Shuttles/UI/ShuttleMapControl.xaml.cs
Labels: Status: Needs Review, C#, UI

#2372 Ambition compliance pass
  Resources/Maps/_NF/Shuttles/Expedition/ambition.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2468 Infiltrator Directional Fans
  Resources/Maps/_NF/Shuttles/Syndicate/infiltrator.yml
Labels: Map-Shuttle, No C#

#2485 Update salvage_mods.yml
  Resources/Prototypes/_NF/Procedural/salvage_mods.yml
Labels: Status: Needs Review, No C#, YML

#2467 Localize docks
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Resources/Locale/en-US/_NF/dock/dock.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Maps/_NF/POI/trademall.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/airlocks.yml
Labels: Map-POI, C#, FTL, Map-Outpost
