Repository new-frontiers-14/frontier-station-14, pull requests merged in 2024-04, with the labels that each got.

#1186 Update SR access to be AA
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: Status: Needs Review, No C#, YML

#1185 Add 'Admeme' to mapchecker as an illegal match
  .github/mapchecker/config.py
Labels: No C#

#1194 Change template to include test section
  .github/PULL_REQUEST_TEMPLATE.md
Labels: No C#

#1193 [Fix] Ammotech not taking silver for use in recipes
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#, YML

#1188 Change NFSD playtime requirements
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/_NF/Roles/Jobs/NFSD/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/NFSD/detective.yml
  Resources/Prototypes/_NF/Roles/Jobs/NFSD/head_of_security.yml
  Resources/Prototypes/_NF/Roles/Jobs/NFSD/security_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/NFSD/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/NFSD/warden.yml
Labels: No C#, YML

#1178 Frontier Sign Fix [Update]
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Status: Needs Review, No C#, Map-Outpost

#1189 Allow multiple cargo computers on one grid
  Content.Server/Cargo/Components/CargoPalletConsoleComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Resources/Maps/_NF/POI/cargodepot.yml
Labels: Status: Needs Review, Map-POI, C#

#1184 Divine cookie, an admin reward
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Baked/misc.yml
Labels: No C#, YML

#1110 SBB Lyrae (New) - Medium Research Vessel
  Resources/Maps/_NF/Shuttles/lyrae.yml
  Resources/Prototypes/_NF/Shipyard/lyrae.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1125 Piecrust (New) - Combination ranch bakery
  Resources/Maps/_NF/Shuttles/piecrust.yml
  Resources/Prototypes/_NF/Shipyard/piecrust.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1115 feat(posters): Magnus poster
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster1_legit.png
Labels: Status: Needs Review, No C#, Sprites, YML

#1158 Grifty (Update)
  Resources/Maps/_NF/POI/grifty.yml
Labels: Status: Needs Review, Map-POI, No C#

#1180 Bookworm (New): Library
  Resources/Maps/_NF/Shuttles/bookworm.yml
  Resources/Prototypes/_NF/Shipyard/bookworm.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1195 Skipper (Update)
  Resources/Maps/_NF/Shuttles/skipper.yml
  Resources/Prototypes/_NF/Shipyard/skipper.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1196 Cleithro (Update)
  Resources/Maps/_NF/Shuttles/cleithro.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/medical.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1163 Nerf tranquilizer shells
  Content.Shared/Bed/Sleep/SharedSleepingSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
Labels: Status: Needs Review, YML, C#

#1200 Stratos (Update) - Tiny HV cable fix
  Resources/Maps/_NF/Shuttles/stratos.yml
Labels: Map-Shuttle, No C#

#1202 Remove gravity guns
  Resources/Prototypes/Research/experimental.yml
Labels: No C#, YML

#1187 Change NFSD radio color
  Content.Shared/Shipyard/Components/SharedShipyardConsoleComponent.cs
  Resources/Locale/en-US/_NF/headset/headset-component.ftl
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Structures/Machines/telecomms.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/_NF/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/m_emp.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/telecomms.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/_NF/radio_channels.yml
  Resources/Prototypes/radio_channels.yml
  Resources/Textures/_NF/Objects/Devices/encryption_keys.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/encryption_keys.rsi/nfsd_label.png
Labels: Status: Needs Review, Sprites, YML, C#, FTL

#1203 April 2024 Smuggling Tweaks
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_NF/Markers/Spawners/posters.yml
Labels: No C#, YML

#1204 April 2024 Botany Tweaks
  Content.Server/Botany/Systems/PlantHolderSystem.cs
Labels: C#

#1209 Fix NFSD announcements
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_NF/radio_channels.yml
Labels: YML, C#

#1210 Syndie Jumpsuit Sensors Fix
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/ship_vs_ship.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Roles/Jobs/Hostile/syndicate_naval_forces.yml
Labels: Status: Needs Review, No C#, YML

#1191 Split cargo request console
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Cargo/Systems/CargoSystem.Telepad.cs
  Content.Shared/Cargo/CargoOrderData.cs
Labels: Status: Needs Review, C#

#1222 NFSD fixes and more corrections to hour requirements
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_NF/Roles/Jobs/NFSD/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/NFSD/detective.yml
  Resources/Prototypes/_NF/Roles/Jobs/NFSD/head_of_security.yml
  Resources/Prototypes/_NF/Roles/Jobs/NFSD/security_cadet.yml
  Resources/Prototypes/_NF/Roles/Jobs/NFSD/security_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/NFSD/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/NFSD/warden.yml
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/nfsd_experimental.rsi/icon.png
Labels: Status: Needs Review, No C#, Sprites, YML

#1220 Messenger Bag of Holding Bugfix
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
  Resources/Textures/_NF/Clothing/Back/Messenger/holding.rsi/holding-equipped-BACKPACK.png
  Resources/Textures/_NF/Clothing/Back/Messenger/holding.rsi/meta.json
Labels: No C#, Sprites, YML

#1217 Adds Frontier.yml Palette
  Resources/Prototypes/_NF/Palettes/frontier.yml
Labels: Status: Needs Review, No C#, YML

#1227 NFSD uplink update
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_NF/Catalog/Fills/Boxes/nfsd.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Store/categories.yml
  Resources/Prototypes/_NF/Store/presets.yml
Labels: No C#, YML, FTL

#1224 Expeditionary FlatpackVend
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/expeditionaryflatpackvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_NF/Structures/Machines/VendingMachines/expeditionaryflatpackvend.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/expeditionaryflatpackvend.rsi/deny-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/expeditionaryflatpackvend.rsi/eject-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/expeditionaryflatpackvend.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/expeditionaryflatpackvend.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/expeditionaryflatpackvend.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/expeditionaryflatpackvend.rsi/panel.png
Labels: Status: Needs Review, Map-POI, No C#, Sprites

#1218 Artifact construct update
  Content.Server/Bed/Sleep/SleepingSystem.cs
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/Power/Components/BatteryComponent.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Server/Sound/Components/SpamEmitSoundComponent.cs
  Content.Server/Sound/EmitSoundSystem.cs
  Content.Shared/Audio/SoundWhileAliveComponent.cs
  Content.Shared/Sound/Components/SpamEmitSoundComponent.cs
  Content.Shared/Sound/SharedEmitSoundSystem.cs
  Resources/Audio/_NF/Ambience/monster-flange.ogg
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/artifact_construct.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/bloodcultistmob.yml
  Resources/Textures/_NF/Mobs/Aliens/grim_forged.rsi/dead.png
Labels: Sprites, YML, C#

#1233 Bluespace Bag Rebalance
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
Labels: Status: Needs Review, No C#, YML

#1234 Port breaching charges from Delta-V and fix uplink
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/_NF/Catalog/Fills/Boxes/nfsd.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Textures/DeltaV/Objects/Weapons/Bombs/breaching.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Weapons/Bombs/breaching.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Bombs/breaching.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Weapons/Bombs/breaching.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Bombs/breaching.rsi/primed.png
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#1237 Updated NFSD shipyard radio
  Content.Shared/Shipyard/Components/SharedShipyardConsoleComponent.cs
Labels: Status: Needs Review, C#

#1235 NFSD Combat & Command Hardsuit
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-combat.rsi/icon-flash.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-combat.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-combat.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-combat.rsi/off-equipped-HELMET-lizard.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-combat.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-combat.rsi/off-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-combat.rsi/off-inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-combat.rsi/off-inhand-right.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-combat.rsi/on-equipped-HELMET-lizard.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-combat.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-combat.rsi/on-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-combat.rsi/on-inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-combat.rsi/on-inhand-right.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-command.rsi/icon-flash.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-command.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-command.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-command.rsi/off-equipped-HELMET-lizard.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-command.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-command.rsi/off-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-command.rsi/off-inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-command.rsi/off-inhand-right.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-command.rsi/on-equipped-HELMET-lizard.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-command.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-command.rsi/on-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-command.rsi/on-inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/security-command.rsi/on-inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/security-combat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/security-combat.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/security-combat.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/security-combat.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/security-combat.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/security-command.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/security-command.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/security-command.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/security-command.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/security-command.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#1241 Update lockers.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/nfsd.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/nfsdarmory.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/bedsheets.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/security.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/_NF/Entities/Structures/Decoration/banners.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/_NF/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
Labels: Status: Needs Review, No C#, YML

#1249 "Night Of The Post Goblin" to the random painting spawner
  Resources/Prototypes/Entities/Markers/Spawners/Random/paintings.yml
Labels: Status: Needs Review, No C#, YML

#1116 Vagabond (New) - Long-Haul Freighter [Updated]
  Resources/Maps/_NF/Shuttles/vagabond.yml
  Resources/Prototypes/_NF/Shipyard/vagabond.yml
Labels: Map-Shuttle, No C#

#1242 Gun Descriptions including context for Contraband status
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Guns/revolvers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
Labels: No C#, YML

#1255 N2524 Pattern Repeater
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Snipers/snipers.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/bolt-open.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/meta.json
Labels: No C#, Sprites, YML

#1252 Asteroids on Parallax
  Resources/Prototypes/Parallaxes/frontier.yml
  Resources/Textures/_NF/Parallaxes/Asteroids.png
  Resources/Textures/_NF/Parallaxes/FrontierParallaxBG.png
  Resources/Textures/_NF/Parallaxes/FrontierParallaxNeb.png
Labels: Status: Needs Review, No C#, YML

#1208 SCAF Hardsuit
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_NF/Recipes/Lathes/eva.yml
  Resources/Prototypes/_NF/Research/arsenal.yml
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/icon-flash.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/off-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/off-inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/off-inhand-right.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/on-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/on-inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/scaf.rsi/on-inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/scaf.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#1253 NSF Whiskey: Sprite update and decal redecorate
  Resources/Maps/_NF/Shuttles/Security/whiskey.yml
  Resources/Prototypes/_NF/Shipyard/Security/whiskey.yml
Labels: Status: Needs Review, No C#

#1264 04/23/2024 - Bug Fixing
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters.yml
Labels: Status: Needs Review, Status: Awaiting Changes, No C#, YML, FTL

#1267 Bug Fixing
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/_NF/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_nfsd.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_security.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/_NF/Events/events.yml
  Resources/Prototypes/_NF/Events/events_bluespace.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
  Resources/Textures/_NF/Structures/Storage/Crates/labels.rsi/bounty.png
  Resources/Textures/_NF/Structures/Storage/Crates/labels.rsi/captains_paper.png
  Resources/Textures/_NF/Structures/Storage/Crates/labels.rsi/invoice.png
  Resources/Textures/_NF/Structures/Storage/Crates/labels.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/labels.rsi/paper.png
Labels: Status: Needs Review, Map-POI, Sprites, C#

#1266 Smuggling Fixes
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
Labels: C#

#1268 Pirate's Cove Modifications
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Locale/en-US/_NF/job/job-description.ftl
  Resources/Locale/en-US/_NF/job/job-names.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_NF/Maps/POI/cove.yml
  Resources/Prototypes/_NF/Markers/Spawners/jobs.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
  Resources/Prototypes/_NF/Roles/play_time_trackers.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/schooner.yml
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: Status: Needs Review, Map-Shuttle, Map-POI, C#, FTL, Map-Outpost

#1274 NFSD (Update)
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_NF/Markers/Spawners/jobs.yml
Labels: Status: Needs Review, Map-POI, No C#

#1273 Clothes Fixes and QoL (Minor)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage_wallmount.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks.yml
  Resources/Textures/_NF/Clothing/Belt/arcadia.rsi/equipped-BELT.png
  Resources/Textures/_NF/Clothing/Belt/arcadia.rsi/meta.json
Labels: No C#, Sprites, YML

#1269 NC Barnacle (New BlackMarket Ship)
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/barnacle.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/menace.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/schooner.yml
  Resources/Prototypes/Entities/Markers/Spawners/Conditional/pirates.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/barnacle.yml
Labels: Status: Needs Review, Map-POI, No C#

#1254 NSF Prowler: Sprite update, redecoration, tweaks
  Resources/Maps/_NF/Shuttles/Security/prowler.yml
Labels: No C#

#1251 NSF Inquisitor: Sprite update
  Resources/Maps/_NF/Shuttles/Security/inquisitor.yml
Labels: No C#

#1270 Bocakillo (New Blackmarket pirate ship)
  .github/mapchecker/config.py
  Resources/Maps/_NF/Shuttles/BlackMarket/bocakillo.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/bocakillo.yml
Labels: Status: Needs Review, No C#

#1272 Thrusters Fix. again.
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_nfsd.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_security.yml
Labels: Status: Needs Review, No C#, YML

#1250 Frontier Outpost and SR locker/palette [update]
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_NF/Palettes/frontier.yml
  Resources/Textures/_NF/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/closet.rsi/sr.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/sr_door.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/sr_open.png
Labels: Status: Needs Review, No C#, Sprites, Map-Outpost

#1276 Hyperlink Book Restore
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Books/hyperlinks.yml
Labels: No C#, YML

#1212 Randomized ATV sprite color, storage options for ATV/Bike, Hoverbike
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/vehicles.yml
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/vehicles.yml
  Resources/Prototypes/_NF/Entities/Objects/Vehicles/keys.yml
  Resources/Prototypes/_NF/Entities/Objects/Vehicles/vehicles.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/Objects/Vehicles/atv.rsi/meta.json
  Resources/Textures/_NF/Objects/Vehicles/atv.rsi/bag.png
  Resources/Textures/_NF/Objects/Vehicles/atv.rsi/engine.png
  Resources/Textures/_NF/Objects/Vehicles/atv.rsi/hull.png
  Resources/Textures/_NF/Objects/Vehicles/atv.rsi/keys.png
  Resources/Textures/_NF/Objects/Vehicles/atv.rsi/lights.png
  Resources/Textures/_NF/Objects/Vehicles/atv.rsi/meta.json
  Resources/Textures/_NF/Objects/Vehicles/atv.rsi/vehicle.png
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/bag.png
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/engine.png
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/hull.png
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/keys.png
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/lights.png
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/mailgun.png
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/mailtrim.png
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/meta.json
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/nfsdbaton.png
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/nfsdstar.png
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/vehicle.png
Labels: Status: Needs Review, No C#, Sprites, YML

#1279 Remove ent locale
  Resources/Locale/en-US/_NF/prototypes/catalog/cargo/cargo-engineering.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/cargo/cargo-fun.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/cargo/cargo-livestock.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/cargo/cargo-materials.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/cargo/cargo-service.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/cargo/cargo-trade.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/cargo/cargo-vending.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/fills/crates/engines-crates.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/fills/crates/livestock-crates.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/fills/crates/materials-crates.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/fills/crates/science-crates.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/fills/crates/syndicate-crates.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/fills/crates/trade-crates.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/en-US/_NF/prototypes/entities/shuttles/thrusters.ftl
  Resources/Prototypes/Catalog/Fills/Crates/materials.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/chemistry.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/materials.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/science.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/trade.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/vending.yml
Labels: Status: Needs Review, No C#, YML, FTL

#1280 Hoverbike Tweaks
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/maildrobe.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Vehicles/keys.yml
  Resources/Prototypes/_NF/Entities/Objects/Vehicles/vehicles.yml
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#1243 Empress 3.3
  Resources/Maps/_NF/Shuttles/Security/cleric.yml
  Resources/Maps/_NF/Shuttles/Security/empress.yml
  Resources/Maps/_NF/Shuttles/Security/fighter.yml
  Resources/Maps/_NF/Shuttles/Security/rogue.yml
Labels: Status: Needs Review, No C#

#1259 NSF Wasp: New NSFD Decoration and Tweaks
  Resources/Maps/_NF/Shuttles/Security/wasp.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/_NF/Shipyard/Security/wasp.yml
Labels: Status: Needs Review, No C#

#1206 Chisel (Update and Revamp)
  Resources/Maps/_NF/Shuttles/chisel.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage_wallmount.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
  Resources/Prototypes/_NF/Shipyard/chisel.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1245 NSF Interceptor: Sprite update and simple rework
  Resources/Maps/_NF/Shuttles/Security/interceptor.yml
  Resources/Prototypes/_NF/Shipyard/Security/interceptor.yml
Labels: Status: Needs Review, No C#

#1285 Knuckleverse (hotfix)
  Resources/Maps/_NF/Shuttles/knuckleverse.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1287 ERT goblins, borg laws regarding goblins
  Resources/Prototypes/Datasets/ion_storm.yml
  Resources/Prototypes/Species/species_weights.yml
  Resources/Prototypes/_NF/ai_factions.yml
Labels: Status: Needs Review, No C#, YML

#1281 Pirate Cove (Update)
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop_shipyard.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/telecomms.yml
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
  Resources/Prototypes/_NF/Entities/Structures/hydro_tray.yml
  Resources/Prototypes/_NF/Entities/Tiles/water.yml
  Resources/Prototypes/_NF/Maps/POI/lodge.yml
  Resources/Prototypes/radio_channels.yml
  Resources/Textures/_NF/Structures/Machines/atm/wall_illegal_atm.rsi/icon.png
  Resources/Textures/_NF/Structures/Machines/atm/wall_illegal_atm.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/atm/wall_illegal_atm.rsi/printing.png
  Resources/Textures/_NF/Structures/Machines/atm/wall_illegal_atm.rsi/unshaded.png
Labels: Status: Needs Review, Map-POI, Sprites, C#

#1284 Reimplement shuttle designation
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Resources/Locale/en-US/_NF/shuttles/console.ftl
Labels: Status: Needs Review, C#, UI, FTL

#1289 Plasteel Recipe Fix
  Resources/Prototypes/_NF/Recipes/Lathes/eva.yml
  Resources/Prototypes/_NF/Recipes/Lathes/materials.yml
Labels: No C#, YML

#1288 Conveyor Belts Sprites
  Resources/Prototypes/Entities/Structures/conveyor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/conveyor.yml
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_loose.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_ccw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_ccw_r.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_cw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_cw_r.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_stopped_ccw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_stopped_cw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/greenlight.png
  Resources/Textures/_NF/Structures/conveyor.rsi/meta.json
  Resources/Textures/_NF/Structures/conveyor.rsi/redlight.png
  Resources/Textures/_NF/Structures/conveyor.rsi/switch-fwd.png
  Resources/Textures/_NF/Structures/conveyor.rsi/switch-off.png
  Resources/Textures/_NF/Structures/conveyor.rsi/switch-rev.png
  Resources/Textures/_NF/Structures/conveyor.rsi/switch.png
Labels: Status: Needs Review, No C#, Sprites, YML

#1192 Spectre (update - round two)
  Resources/Maps/_NF/Shuttles/spectre.yml
  Resources/Prototypes/_NF/Shipyard/spectre.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1197 MailPod (New)
  Resources/Maps/_NF/Shuttles/mailpod.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage_wallmount.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
  Resources/Prototypes/_NF/Shipyard/mailpod.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1303 Uplink FUC Balance pass
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/security.yml
Labels: Status: Needs Review, No C#, YML

#1301 Goblin species guidebook entry [v1, before Goblin Diet merge]
  Resources/Prototypes/Guidebook/species.yml
  Resources/ServerInfo/Guidebook/Mobs/Goblin.xml
Labels: Docs, Status: Needs Review, No C#, YML

#1304 04/29/2024 - Armory Removal (Empress)
  Resources/Maps/_NF/Shuttles/Security/empress.yml
  Resources/Prototypes/_NF/Shipyard/Security/empress.yml
Labels: Status: Needs Review, No C#

#1293 Pirate and Syndicate hoverbikes
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/contravend.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Vehicles/vehicles.yml
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/meta.json
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/pirate.png
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/piratemusket.png
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/syndicatebags.png
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/syndicategun.png
  Resources/Textures/_NF/Objects/Vehicles/hoverbike.rsi/syndicatelights.png
Labels: Status: Needs Review, No C#, Sprites, YML

#1308 04/29/2024 - Removed Hardsuits
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/barnacle.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/bocakillo.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/menace.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/schooner.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/menace.yml
  Resources/Textures/_NF/Structures/Storage/Crates/piratechestgrey.rsi/crate.png
  Resources/Textures/_NF/Structures/Storage/Crates/piratechestgrey.rsi/crate_door.png
  Resources/Textures/_NF/Structures/Storage/Crates/piratechestgrey.rsi/crate_icon.png
  Resources/Textures/_NF/Structures/Storage/Crates/piratechestgrey.rsi/crate_open.png
  Resources/Textures/_NF/Structures/Storage/Crates/piratechestgrey.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/piratechestgrey.rsi/sparking.png
  Resources/Textures/_NF/Structures/Storage/Crates/piratechestgrey.rsi/welded.png
Labels: Status: Needs Review, Map-POI, No C#, Sprites

#1309 Goblin speech bubble, water/space cleaner spray reaction
  Resources/Prototypes/_NF/Entities/Mobs/Species/goblin.yml
  Resources/Prototypes/_NF/typing_indicator.yml
  Resources/ServerInfo/Guidebook/Mobs/Goblin.xml
  Resources/Textures/_NF/Effects/speech.rsi/goblin0.png
  Resources/Textures/_NF/Effects/speech.rsi/goblin1.png
  Resources/Textures/_NF/Effects/speech.rsi/goblin2.png
  Resources/Textures/_NF/Effects/speech.rsi/meta.json
Labels: Docs, Status: Needs Review, No C#, Sprites, YML

#1311 04/29/2024 - Uplink Armory addition
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_NF/Catalog/Fills/Crates/nfsdarmory.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
Labels: Status: Needs Review, No C#, YML, FTL
