Repository new-frontiers-14/frontier-station-14, pull requests merged in 2024-06, with the labels that each got.

#1419 New Jukebox music
  Resources/Audio/_NF/Jukebox/attributions.yml
  Resources/Audio/_NF/Jukebox/lateraligator.ogg
  Resources/Prototypes/Catalog/Jukebox/Standard.yml
  Resources/Prototypes/_NF/Catalog/Jukebox/Standard.yml
Labels: Status: Needs Review, No C#, YML

#1460 Missing sprites for wielded guns
  Resources/Prototypes/DeltaV/Entities/Objects/Fun/toy_guns.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Snipers/snipers.yml
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/bbgun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/bbgun.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/bbgun.rsi/wielded-inhand-left.png
  Resources/Textures/DeltaV/Objects/Weapons/Guns/Rifles/bbgun.rsi/wielded-inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/wielded-inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/wielded-inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/wielded-inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Snipers/repeater.rsi/wielded-inhand-right.png
Labels: Status: Needs Review, No C#, Sprites, YML

#1462 PirateCove (Update)
  Resources/Locale/en-US/_NF/paper/paper-misc.ftl
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/misc.yml
Labels: Status: Needs Review, Map-POI, No C#, FTL

#1456 Ceres (Update): Restock boxes + various tweaks
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/ceres.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/ceres.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Ceres.xml
Labels: Docs, Status: Needs Review, Map-Shuttle, No C#, FTL

#1469 Adds Admin teleporter
  Resources/Prototypes/_NF/Entities/Effects/portal.yml
  Resources/Prototypes/_NF/Objects/Devices/admin_hand_teleporter.yml
Labels: Status: Needs Review, No C#, YML

#1470 hotfix: Admin teleporter
  Resources/Prototypes/_NF/Entities/Effects/portal.yml
Labels: Status: Needs Review, No C#, YML

#1465 Mini Auth
  Content.Client/RCD/RCDMenu.xaml.cs
  Content.Server.Database/Model.cs
  Content.Server/Administration/ServerApi.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/_NF/Auth/Auth.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
Labels: Status: Needs Review, C#, UI, FTL

#1466 Trade Outpost (New POI)
  .github/mapchecker/whitelist.yml
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Locale/en-US/_NF/navmap-beacons/station-beacons.ftl
  Resources/Maps/_NF/POI/trade.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Prototypes/_NF/Maps/POI/trade.yml
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/direction_cb1.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/direction_cb2.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/direction_cb3.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/direction_cb4.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/direction_nfsd.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/direction_shop.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/direction_vend.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/meta.json
Labels: Status: Needs Review, Map-POI, Sprites, C#, FTL

#1432 PDA Bank Data
  Content.Client/PDA/PdaMenu.xaml
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Shared/PDA/PdaUpdateState.cs
  Resources/Locale/en-US/_NF/pda/pda-component.ftl
Labels: Status: Needs Review, C#, UI, FTL

#1468 Loadouts: fix Lawyer, Janitor slot names, remove Chaplain loadout
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Janitor/gloves.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Janitor/head.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Janitor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Janitor/outer.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Lawyer/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Lawyer/neck.yml
  Resources/Prototypes/_NF/Loadouts/janitor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/lawyer_loadout_groups.yml
Labels: Status: Needs Review, No C#, YML

#1454 Military Jumpsuits
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/military_jumpsuits.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/MailCarrier/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pilot/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/StationRep/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mail_carrier_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/stationrep_loadout_groups.yml
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/equipped-base-bottom.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/equipped-base-top-jumpsuit-tac.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/equipped-base-top-jumpsuit.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/equipped-base-top-turtleneck-alt.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/equipped-base-top-turtleneck.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/equipped-belt-buckle.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/equipped-belt.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/equipped-decor-contractor-tac.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/equipped-decor-contractor.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/equipped-decor-department-head.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/equipped-decor-department.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/equipped-decor-epaulets.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/equipped-decor-shoulder-patch.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/icon-base-bottom.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/icon-base-top-jumpsuit.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/icon-base-top-turtleneck.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/icon-belt-buckle.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/icon-belt.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/icon-decor-contractor-tac.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/icon-decor-contractor.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/icon-decor-department-head.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/icon-decor-department.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/icon-decor-epaulets.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/icon-decor-shoulder-patch.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-left-base-bottom.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-left-base-top-jumpsuit.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-left-base-top-turtleneck.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-left-belt-buckle.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-left-belt.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-left-decor-contractor-tac.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-left-decor-contractor.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-left-decor-department-head.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-left-decor-department.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-left-decor-epaulets.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-left-decor-shoulder-patch.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-right-base-bottom.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-right-base-top-jumpsuit.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-right-base-top-turtleneck.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-right-belt-buckle.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-right-belt.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-right-decor-contractor-tac.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-right-decor-contractor.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-right-decor-department-head.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-right-decor-department.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-right-decor-epaulets.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/inhand-right-decor-shoulder-patch.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/mask_null.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/military.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#1479 Mosin hotfix: non-lethal version inherits mag size
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: No C#, YML

#1484 Anchor trade station into place
  Resources/Maps/_NF/POI/trade.yml
Labels: Status: Needs Review, Map-POI, No C#

#1485 mining crab and golem rebalance
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/elemental.yml
Labels: No C#, YML

#1445 Private Security Hardsuit and New Merc Loadout Options
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/belt.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/face.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Recipes/Lathes/eva.yml
  Resources/Prototypes/_NF/Research/arsenal.yml
  Resources/Textures/_NF/Clothing/Head/Hardsuits/private_security.rsi/icon-flash.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/private_security.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/private_security.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hardsuits/private_security.rsi/off-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/private_security.rsi/on-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/private_security.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/private_security.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/private_security.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/private_security.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/private_security.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#1474 Make rubber rounds printable in NFSD Techfab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_NF/Recipes/Lathes/security.yml
Labels: No C#, YML

#1352 Nonlethal Vending Machine (Practice Rounds & Etc)
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/cuddlycritter.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/lesslethalvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/nonlethalvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/darts.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_NF/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Service/vending_machine_restock.rsi/refill_nonlethal.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/nonlethalvend.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/nonlethalvend.rsi/deny-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/nonlethalvend.rsi/eject-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/nonlethalvend.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/nonlethalvend.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/nonlethalvend.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/nonlethalvend.rsi/panel.png
Labels: Status: Needs Review, No C#, Sprites, YML

#1483 Brown Flat Cap in Loadouts
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/head.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/stationrep_loadout_groups.yml
Labels: Status: Needs Review, No C#, YML

#1473 Mail Buff
  Content.Server/Nyanotrasen/Mail/Components/MailComponent.cs
  Content.Server/Nyanotrasen/Mail/Components/MailTeleporterComponent.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Resources/Locale/en-US/nyanotrasen/mail.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/base_mail.yml
Labels: Status: Needs Review, YML, C#, FTL

#1305 Mail Truck (Update)
  Resources/Maps/_NF/Shuttles/mailtruck.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/_NF/Palettes/frontier.yml
  Resources/Prototypes/_NF/Shipyard/mailtruck.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1490 Fix devour
  Content.Server/Devour/DevourSystem.cs
Labels: C#

#1492 Fix mech codes to stop AI abuse
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/NPC/Components/NpcFactionMemberComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
Labels: Status: Needs Review, YML, C#

#1493 Add wanted status, job icon, health icon to Brigmedic HUD
  Resources/Prototypes/_NF/Entities/Clothing/Eyes/hud.yml
Labels: No C#, YML

#1214 NSF Broadhead (New) - Medium Detective NSFD Vessel
  Resources/Maps/_NF/Shuttles/Nfsd/broadhead.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/broadhead.yml
Labels: Status: Awaiting Changes, Map-Shuttle, No C#

#1497 Fix artifact fragment spawn rate
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/artifact_construct.yml
Labels: Status: Needs Review, No C#, YML

#1491 Loadouts: add overrides for name, description, and preview entity
  Content.Client/Preferences/UI/LoadoutContainer.xaml.cs
  Content.Client/Preferences/UI/LoadoutGroupContainer.xaml.cs
  Content.Shared/Preferences/Loadouts/LoadoutPrototype.cs
  Resources/Prototypes/_NF/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/belt.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/fun.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/survival.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Nfsd/belt.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Nfsd/survival.yml
Labels: Status: Needs Review, YML, C#, UI

#1487 Construction Bag
  Content.Shared/_NF/Materials/Components/ConstructionMaterialsComponent.cs
  Resources/Locale/en-US/_NF/research/technologies.ftl
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Tools/inflatable_wall.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Engineering/construction_bag.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/belt.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Recipes/Lathes/devices.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
  Resources/Prototypes/_NF/Research/industrial.yml
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/equipped-BELT-bluespace-overlay-unshaded.png
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/equipped-BELT-bluespace-overlay.png
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/icon-bluespace-overlay-unshaded.png
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/icon-bluespace-overlay.png
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/icon.png
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/inhand-left-bluespace-overlay-unshaded.png
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/inhand-left-bluespace-overlay.png
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/inhand-right-bluespace-overlay-unshaded.png
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/inhand-right-bluespace-overlay.png
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/meta.json
Labels: Status: Needs Review, Sprites, YML, C#, FTL

#1500 Pen signing rework
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Client/Paper/UI/StampWidget.xaml.cs
  Content.Server/Paper/PaperSystem.cs
  Content.Server/Paper/PenComponent.cs
  Content.Shared/Paper/PenComponent.cs
  Content.Shared/Paper/StampComponent.cs
  Resources/Locale/en-US/_NF/paper/paper-component.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/Shuttles/Nfsd/opportunity.yml
  Resources/Maps/_NF/Shuttles/bookworm.yml
  Resources/Maps/_NF/Shuttles/bulker.yml
  Resources/Maps/_NF/Shuttles/hauler.yml
  Resources/Maps/_NF/Shuttles/lyrae.yml
  Resources/Maps/_NF/Shuttles/vagabond.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: Status: Needs Review, Map-Shuttle, Map-POI, C#, UI, FTL, Map-Outpost

#1437 Cats Carp Suit
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/emotionalsupportanimals.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/InventoryTemplates/emotionalsupportpet_inventory_template.yml
  Resources/Prototypes/_NF/InventoryTemplates/nfsdpet_inventory_template.yml
  Resources/Textures/Clothing/OuterClothing/Suits/carpsuit.rsi/equipped-OUTERCLOTHING-cat.png
  Resources/Textures/Clothing/OuterClothing/Suits/carpsuit.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#1499 New Lobby Art (Handsome Killer)
  Resources/Prototypes/_NF/lobbyscreens.yml
  Resources/Textures/_NF/LobbyScreens/attributions.yml
  Resources/Textures/_NF/LobbyScreens/handsomekiller.png
  Resources/Textures/_NF/LobbyScreens/handsomekiller.png.yml
Labels: Status: Needs Review, No C#, YML

#1505 AI Tweaks
  Resources/Prototypes/Entities/Structures/Decoration/banners.yml
  Resources/Prototypes/Entities/Structures/Walls/girders.yml
Labels: Status: Needs Review, No C#, YML

#1506 Reclaimer update
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/Entities/Structures/Machines/material_reclaimer.yml
Labels: Status: Needs Review, YML, C#

#1338 Salvage Expedition Rebalance (Follow up, p. 1)
  Content.Shared/_NF/Containers/WeaponCaseInsertable.cs
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/haunted.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/mineshaft.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/firebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/funny.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pen.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pipebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/clusterbang.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_hydroponics.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_kitchen.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_supply.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/weapon_cases.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/expedition_guns.yml
  Resources/Prototypes/_NF/Procedural/Themes/salvage_outpost.yml
  Resources/Prototypes/_NF/Procedural/Themes/virology_lab.yml
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
  Resources/Prototypes/_NF/Procedural/salvage_mods.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Objects/Tools/guncaselong.rsi/icon-open.png
  Resources/Textures/_NF/Objects/Tools/guncaselong.rsi/icon.png
Labels: Status: Needs Review, Map-Dungeon, Sprites, C#

#1429 NFSD Uplink tracking and EMP bundles
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/traking_dart.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Ammunition/Boxes/nfsd.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_NF/Store/categories.yml
  Resources/Prototypes/_NF/Store/presets.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/nfsd_lake.rsi/bolt-open.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/nfsd_lake.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/nfsd_lake.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/nfsd_lake.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/nfsd_lake.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/nfsd_lake.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/nfsd_lake.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Projectiles/tracking_dart.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Projectiles/tracking_dart.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Projectiles/tracking_dart.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Projectiles/tracking_dart.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Projectiles/tracking_dart.rsi/unshaded.png
Labels: No C#, Sprites, YML, FTL

#1434 Revolvers can reload from boxes and magazines.
  Content.Shared/Weapons/Ranged/Components/RevolverAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Events/TakeAmmoEvent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: Status: Needs Review, YML, C#

#1509 Contraband Appraisal Gun
  Content.Server/_NF/Security/Components/ContrabandPriceGunComponent.cs
  Content.Server/_NF/Security/ContrabandPriceGunSystem.cs
  Resources/Locale/en-US/_NF/cargo/price-gun-component.ftl
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/bountyvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/nfsdtec.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/contrabandappraisal.yml
  Resources/Textures/_NF/Objects/Tools/appraisal-tool.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Tools/appraisal-tool.rsi/icon.png
  Resources/Textures/_NF/Objects/Tools/appraisal-tool.rsi/meta.json
Labels: Status: Needs Review, Sprites, YML, C#, FTL

#1508 Add support for multiple grid paths in BluespaceErrorRule
  Content.Server/StationEvents/Components/BluespaceErrorRuleComponent.cs
  Content.Server/StationEvents/Events/BluespaceErrorRule.cs
  Resources/Prototypes/_NF/Events/events_bluespace.yml
Labels: Status: Needs Review, YML, C#

#1498 Fix Oni accuracy with wielded weapons, and apply Oni accuracy to handguns.
  Content.Server/Nyanotrasen/Abilities/Oni/HeldByOniComponent.cs
  Content.Server/Nyanotrasen/Abilities/Oni/OniSystem.cs
Labels: Status: Needs Review, C#

#1486 Add Pious trait, blessing water/blood requires faith
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Bible/Components/BibleComponent.cs
  Content.Server/_NF/Implants/BibleUserImplantSystem.cs
  Content.Shared/_NF/Implants/BibleUserImplantComponent.cs
  Resources/Locale/en-US/_NF/chapel/bible.ftl
  Resources/Locale/en-US/_NF/traits/traits.ftl
  Resources/Prototypes/Recipes/Reactions/single_reagent.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/tools.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Traits/disabilities.yml
Labels: Status: Needs Review, YML, C#, FTL

#1448 Dragon Egg Update
  Content.Server/_NF/Transfer/Components/TransferMindOnDespawnComponent.cs
  Content.Server/_NF/Transfer/TransferMindOnDespawn.cs
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/baby_dragon.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Projectiles/baby_dragon_fire.yml
  Resources/Prototypes/_NF/Misc/dragon_egg.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_NF/Effects/bloodcultbeams.rsi/meta.json
  Resources/Textures/_NF/Effects/dragonspawn.rsi/dragon.png
  Resources/Textures/_NF/Effects/dragonspawn.rsi/meta.json
  Resources/Textures/_NF/Mobs/Pets/baby_dragon.rsi/alive-unshaded.png
  Resources/Textures/_NF/Mobs/Pets/baby_dragon.rsi/alive.png
  Resources/Textures/_NF/Mobs/Pets/baby_dragon.rsi/crit.png
  Resources/Textures/_NF/Mobs/Pets/baby_dragon.rsi/dead-unshaded.png
  Resources/Textures/_NF/Mobs/Pets/baby_dragon.rsi/dead.png
  Resources/Textures/_NF/Mobs/Pets/baby_dragon.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/dragon_egg.rsi/broken.png
  Resources/Textures/_NF/Objects/Consumable/Food/dragon_egg.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Food/dragon_egg.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Food/dragon_egg.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Food/dragon_egg.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/dragonomelette.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Food/dragonomelette.rsi/meta.json
Labels: Status: Needs Review, Sprites, YML, C#, FTL

#1512 Updated Pirate Captain Hardsuit
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#, YML

#1514 Add new pumps that start with map
  Content.Server/Atmos/Piping/Binary/Components/GasPressurePumpComponent.cs
  Content.Server/Atmos/Piping/Binary/Components/GasVolumePumpComponent.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasPressurePumpSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasVolumePumpSystem.cs
  Content.Server/Atmos/Piping/Trinary/Components/GasMixerComponent.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasMixerSystem.cs
  Resources/Prototypes/_NF/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/_NF/Entities/Structures/Piping/Atmospherics/trinary.yml
Labels: YML, C#

#1515 CE Suit rads fixup
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Status: Needs Review, No C#, YML

#1517 Disable client replays
  Resources/clientCommandPerms.yml
Labels: No C#, YML

#1477 Mail table rework
  Content.Server/Nyanotrasen/Mail/Components/MailComponent.cs
  Content.Server/Nyanotrasen/Mail/Components/MailTeleporterComponent.cs
  Content.Server/Nyanotrasen/Mail/MailCommands.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Content.Server/_NF/Mail/DelayedItemComponent.cs
  Content.Server/_NF/Mail/DelayedItemSystem.cs
  Content.Server/_NF/Mail/MailConstants.cs
  Resources/Locale/en-US/_NF/mail/mail.ftl
  Resources/Locale/en-US/nyanotrasen/mail.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_civilian.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_command.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_engineering.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_medical.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_security.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/mail_specific_items.yml
  Resources/Prototypes/Nyanotrasen/mailDeliveries.yml
  Resources/Prototypes/_NF/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Mail/base_mail_large.yml
  Resources/Prototypes/_NF/Mail/Items/boxes.yml
  Resources/Prototypes/_NF/Mail/Items/misc.yml
  Resources/Prototypes/_NF/Mail/Items/paper.yml
  Resources/Prototypes/_NF/Mail/mail.yml
  Resources/Prototypes/_NF/Mail/mailDeliveries.yml
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigars/cigar-platinum.rsi/burnt-icon.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigars/cigar-platinum.rsi/lit-equipped-MASK-vox.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigars/cigar-platinum.rsi/lit-equipped-MASK.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigars/cigar-platinum.rsi/lit-icon.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigars/cigar-platinum.rsi/lit-inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigars/cigar-platinum.rsi/lit-inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigars/cigar-platinum.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigars/cigar-platinum.rsi/unlit-equipped-MASK-vox.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigars/cigar-platinum.rsi/unlit-equipped-MASK.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigars/cigar-platinum.rsi/unlit-icon.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigars/cigar-platinum.rsi/unlit-inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigars/cigar-platinum.rsi/unlit-inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Mail/mail_large.rsi/broken.png
  Resources/Textures/_NF/Objects/Specific/Mail/mail_large.rsi/fragile.png
  Resources/Textures/_NF/Objects/Specific/Mail/mail_large.rsi/icon.png
  Resources/Textures/_NF/Objects/Specific/Mail/mail_large.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Mail/mail_large.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Mail/mail_large.rsi/locked.png
  Resources/Textures/_NF/Objects/Specific/Mail/mail_large.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Mail/mail_large.rsi/priority.png
  Resources/Textures/_NF/Objects/Specific/Mail/mail_large.rsi/priority_inactive.png
  Resources/Textures/_NF/Objects/Specific/Mail/mail_large.rsi/trash.png
Labels: Sprites, YML, C#, FTL

#1516 Spaceplatform (Update)
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Maps/_NF/Dungeon/spaceplatform.yml
  Resources/Maps/spaceplatform.yml
Labels: Map-Dungeon, C#

#1443 Cryogenics Overhaul
  Content.Server/Body/Components/MetabolizerComponent.cs
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Shared/Chemistry/Components/Solution.cs
  Content.Shared/Chemistry/EntitySystems/SharedSolutionContainerSystem.cs
  Content.Shared/Medical/Cryogenics/CryoPodComponent.cs
  Resources/Locale/en-US/_NF/reagents/meta/medicine.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/_NF/Reagents/medicine.yml
  Resources/Prototypes/_NF/Recipes/Reactions/medicine.yml
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
Labels: Docs, Status: Needs Review, YML, C#, FTL

#1478 Rules tweaks v3
  Resources/ServerInfo/Rules.txt
Labels: No C#

#1496 Multicoloured spesos: add layer function in StackComponent
  Content.Client/Stack/StackSystem.cs
  Content.Client/_NF/Stack/StackSystem.Layers.cs
  Content.Shared/Stacks/StackComponent.cs
  Content.Shared/_NF/Stacks/Components/StackLayerThresholdComponent.cs
  Content.Shared/_NF/Stacks/StackLayerFunction.cs
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/space_cash.yml
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_10.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_100.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_1000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_10000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_100000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_25000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_250000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_500.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_5000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_50000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/meta.json
Labels: Status: Needs Review, Sprites, YML, C#

#1436 NM Spirit SAR Shuttle.
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/spirit.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/spirit.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Spirit.xml
Labels: Docs, Status: Awaiting Changes, Map-Shuttle, No C#, FTL

#1447 The SBI Beaker
  Resources/Maps/_NF/Shuttles/beaker.yml
  Resources/Prototypes/_NF/Shipyard/beaker.yml
Labels: Map-Shuttle, No C#

#1526 Turrets Fix
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
Labels: No C#, YML

#1525 Fix NFSD-Lake sprite and darts
  Resources/Prototypes/_NF/Entities/Objects/Misc/traking_dart.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/nfsd_lake.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/nfsd_lake.rsi/wielded-inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/nfsd_lake.rsi/wielded-inhand-right.png
Labels: Status: Needs Review, No C#, Sprites, YML

#1519 Salvage Outpost Dungeon Theme Backrooms-Fix
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
Labels: Status: Needs Review, Map-Dungeon, No C#

#1530 Fix baby dragon emote
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/baby_dragon.yml
Labels: Status: Needs Review, No C#, YML

#1524 Frontier Outpost (Update)
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/misc.yml
Labels: Status: Needs Review, No C#, Map-Outpost

#1523 Searchlight Air-Alarm Fix
  Resources/Maps/_NF/Shuttles/searchlight.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1540 Pen signing fix
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/Paper/StampComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: YML, C#

#1543 Dungeon Weapon Spawner Rebalance
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
Labels: Status: Needs Review, No C#, YML

#1544 Add missing suffixes to Frontier Command Engineering/Atmos doors
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/access.yml
Labels: No C#, YML

#1542 IFF Strobe Buff
  Resources/Textures/_NF/Clothing/Neck/Misc/mercenary_iff.rsi/equipped-NECK-on.png
Labels: No C#, Sprites

#1545 Loadouts: fix empty SR messenger bag
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/StarterGear/messenger.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/StationRep/bags.yml
  Resources/Prototypes/_NF/Loadouts/stationrep_loadout_groups.yml
Labels: No C#, YML

#1552 Generic Message for FTL Events
  Resources/Locale/en-US/_NF/bluespace-events/events.ftl
  Resources/Maps/_NF/Bluespace/bloodmoon.yml
  Resources/Maps/_NF/Bluespace/cargoniaship.yml
  Resources/Maps/_NF/Bluespace/datacarrier.yml
  Resources/Maps/_NF/Bluespace/syndieftlintercept.yml
  Resources/Maps/_NF/Bluespace/wizardprobealt.yml
  Resources/Prototypes/_NF/Events/events_bluespace.yml
Labels: Map-Bluespace, No C#, FTL

#1531 Microwave
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Resources/Maps/Nonstations/nukieplanet.yml
  Resources/Maps/Shuttles/infiltrator.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/falcon.yml
  Resources/Maps/_NF/Shuttles/Syndicate/infiltrator.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/meta.json
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mw.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mw0.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mw_running_unlit.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mw_unlit.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mwb.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mwbloody0.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mwbloody1.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mwo.png
Labels: Map-Shuttle, Map-POI, Sprites, C#

#1533 Cryogenics: restrict cryo pods to cryo meds, restore limited metabolism
  Content.Server/Body/Components/MetabolizerComponent.cs
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Shared/Chemistry/Components/Solution.cs
  Content.Shared/Chemistry/EntitySystems/SharedSolutionContainerSystem.cs
  Content.Shared/Medical/Cryogenics/CryoPodComponent.cs
  Resources/Locale/en-US/_NF/metabolism/metabolism-groups.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/Animal/slimes.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Body/Organs/slime.yml
  Resources/Prototypes/Entities/Mobs/NPCs/behonker.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_NF/Body/Organs/goblin_organs.yml
  Resources/Prototypes/_NF/Body/Organs/synthetic_organs.yml
  Resources/Prototypes/_NF/Chemistry/metabolism_groups.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/baby_dragon.yml
  Resources/Prototypes/_NF/Entities/Mobs/Player/jerma.yml
  Resources/Prototypes/_NF/Reagents/medicine.yml
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
Labels: Docs, Status: Needs Review, YML, C#, FTL

#1554 Fix reptilian helmets
  Resources/Textures/_NF/Clothing/Head/Hardsuits/nfsd.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hardsuits/nfsd.rsi/off-equipped-HELMET-reptilian.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/nfsd.rsi/on-equipped-HELMET-reptilian.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/nfsd_combat.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hardsuits/nfsd_combat.rsi/off-equipped-HELMET-reptilian.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/nfsd_combat.rsi/on-equipped-HELMET-reptilian.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/nfsd_command.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hardsuits/nfsd_command.rsi/off-equipped-HELMET-reptilian.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/nfsd_command.rsi/on-equipped-HELMET-reptilian.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/nfsd_experimental.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hardsuits/nfsd_experimental.rsi/off-equipped-HELMET-reptilian.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/nfsd_experimental.rsi/on-equipped-HELMET-reptilian.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/nfsd_sheriff.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hardsuits/nfsd_sheriff.rsi/off-equipped-HELMET-reptilian.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/nfsd_sheriff.rsi/on-equipped-HELMET-reptilian.png
Labels: Status: Needs Review, No C#, Sprites

#1534 Ship guide reworks
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Prototypes/_NF/Guidebook/bank.yml
  Resources/Prototypes/_NF/Guidebook/expeditions.yml
  Resources/Prototypes/_NF/Guidebook/hiring.yml
  Resources/Prototypes/_NF/Guidebook/nf14.yml
  Resources/Prototypes/_NF/Guidebook/piloting.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/ServerInfo/_NF/Guidebook/Bank.xml
  Resources/ServerInfo/_NF/Guidebook/ExpeditionFactions/Carp.xml
  Resources/ServerInfo/_NF/Guidebook/ExpeditionFactions/Cultists.xml
  Resources/ServerInfo/_NF/Guidebook/ExpeditionFactions/Dinosaurs.xml
  Resources/ServerInfo/_NF/Guidebook/ExpeditionFactions/Explorers.xml
  Resources/ServerInfo/_NF/Guidebook/ExpeditionFactions/Flesh.xml
  Resources/ServerInfo/_NF/Guidebook/ExpeditionFactions/Gangers.xml
  Resources/ServerInfo/_NF/Guidebook/ExpeditionFactions/Mercenaries.xml
  Resources/ServerInfo/_NF/Guidebook/ExpeditionFactions/Silicons.xml
  Resources/ServerInfo/_NF/Guidebook/ExpeditionFactions/Syndicate.xml
  Resources/ServerInfo/_NF/Guidebook/ExpeditionFactions/Xenos.xml
  Resources/ServerInfo/_NF/Guidebook/Expeditions.xml
  Resources/ServerInfo/_NF/Guidebook/Hiring.xml
  Resources/ServerInfo/_NF/Guidebook/NewFrontier14.xml
  Resources/ServerInfo/_NF/Guidebook/Piloting.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Ambition.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Brigand.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Ceres.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Gasbender.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Harbormaster.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Kilderkin.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Lantern.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Legman.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Liquidator.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Pioneer.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Searchlight.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Spirit.xml
Labels: Docs, Status: Needs Review, No C#, YML, FTL

#1553 Check outer clothing for footstep noise
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: Status: Needs Review, C#

#1546 Ports coffee arabica plant from SS13.
  Resources/Locale/en-US/_NF/reagents/meta/consumable/food/ingredients.ftl
  Resources/Locale/en-US/_NF/seeds/seeds.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_produce.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_NF/Hydroponics/seeds.yml
  Resources/Prototypes/_NF/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_NF/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_NF/Reagents/Consumables/ingredients.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/food/coffee.yml
  Resources/Prototypes/_NF/Recipes/Reactions/drinks.yml
  Resources/Textures/_NF/Objects/Specific/Hydroponics/coffee.rsi/dead.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/coffee.rsi/harvest.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/coffee.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Hydroponics/coffee.rsi/produce-beans-dark.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/coffee.rsi/produce-beans-light.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/coffee.rsi/produce-beans-medium.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/coffee.rsi/produce-beans.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/coffee.rsi/produce.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/coffee.rsi/seed.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/coffee.rsi/stage-1.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/coffee.rsi/stage-2.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/coffee.rsi/stage-3.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/coffee.rsi/stage-4.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/coffee.rsi/stage-5.png
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#1570 Cherry-pick: Remove placing items on tabletop boards. (#29513)
  Content.Server/Tabletop/TabletopSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review, C#

#1572 Added uplinks to pirate spawn loadout
  Resources/Prototypes/_NF/Entities/Objects/Specific/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
Labels: No C#, YML

#1535 Mail: Cleanup, Fixes, More SR Mail
  Resources/Prototypes/_NF/Mail/Items/paper.yml
  Resources/Prototypes/_NF/Mail/mail.yml
  Resources/Prototypes/_NF/Mail/mailDeliveries.yml
Labels: Status: Needs Review, No C#, YML

#1566 Buffing Data Carrier Duration
  Resources/Prototypes/_NF/Events/events_bluespace.yml
Labels: Status: Needs Review, No C#, YML

#1575 Fix Magnetic Client-side Lag
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
Labels: C#

#1573 THE SR BERET
  Resources/Prototypes/_NF/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/StationRep/head.yml
  Resources/Prototypes/_NF/Loadouts/stationrep_loadout_groups.yml
  Resources/Textures/_NF/Clothing/Head/Hats/sr_beret.rsi/equipped-HELMET-cat.png
  Resources/Textures/_NF/Clothing/Head/Hats/sr_beret.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hats/sr_beret.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hats/sr_beret.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hats/sr_beret.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Head/Hats/sr_beret.rsi/meta.json
Labels: No C#, Sprites, YML

#1527 Laser Pistol
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_mercenaries.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_shuttle_guns.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/expedition_guns.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/inhand-left-0.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/inhand-left-1.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/inhand-left-2.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/inhand-left-3.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/inhand-left-unshaded.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/inhand-right-0.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/inhand-right-1.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/inhand-right-2.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/inhand-right-3.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/inhand-right-unshaded.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/mag-unshaded-0.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/mag-unshaded-1.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/mag-unshaded-2.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/mag-unshaded-3.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/mag-unshaded-4.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Battery/laser_pistol.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#1581 Unhardcode a bunch of shipyard console stuff
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Shared/Shipyard/Components/SharedShipyardConsoleComponent.cs
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
Labels: Status: Needs Review, YML, C#
