Repository new-frontiers-14/frontier-station-14, pull requests merged in 2024-01, with the labels that each got.

#797 New files locations of maps & grids
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Maps/_NF/Admin/gallery.yml
  Resources/Maps/_NF/Bluespace/asteroidbunker.yml
  Resources/Maps/_NF/Bluespace/asteroidvault.yml
  Resources/Maps/_NF/Bluespace/cache.yml
  Resources/Maps/_NF/Bluespace/cargoniaship.yml
  Resources/Maps/_NF/Bluespace/vault.yml
  Resources/Maps/_NF/Bluespace/vaultsmall.yml
  Resources/Maps/_NF/POI/anomalouslab.yml
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Maps/_NF/POI/northpole.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Maps/_NF/frontier.yml
  Resources/Prototypes/Maps/frontier.yml
  Resources/Prototypes/_NF/Events/events.yml
  Resources/Prototypes/_NF/Shipyard/anomalouslab.yml
  Resources/Prototypes/_NF/Shipyard/cove.yml
  Resources/Prototypes/_NF/Shipyard/lodge.yml
  Resources/Prototypes/_NF/Shipyard/mccargo.yml
Labels: Shuttle, Map

#803 Adds station guard uniform jumpsuit and skirt
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Recipes/Construction/clothing.yml
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/security_stationguard.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/security_stationguard.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/security_stationguard.rsi/icon.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/security_stationguard.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/security_stationguard.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/security_stationguard.rsi/meta.json
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/security_stationguard.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/security_stationguard.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/security_stationguard.rsi/icon.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/security_stationguard.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/security_stationguard.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/security_stationguard.rsi/meta.json
Labels: enhancement, Status: Needs Review

#811 Fix labeler
  .github/labeler.yml
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Prototypes/_NF/Maps/POI/anomalouslab.yml
  Resources/Prototypes/_NF/Maps/POI/cove.yml
  Resources/Prototypes/_NF/Maps/POI/lodge.yml
Labels: Map

#787 Replace Spectre's passive vent with air injector
  Resources/Maps/Shuttles/spectre.yml
Labels: Map-Shuttle

#793 The Clown Shoes
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/clown_shoes_mods.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/shoes_graphs.yml
  Resources/Prototypes/_NF/Recipes/Crafting/shoes_recipes.yml
  Resources/Prototypes/_NF/SoundCollections/footsteps_nf.yml
  Resources/Prototypes/_NF/tags.yml
Labels: Status: Needs Review

#817 Bulk Mystery Figurines Box
  Resources/Prototypes/Catalog/VendingMachines/Inventories/happyhonk.yml
  Resources/Prototypes/Entities/Objects/Fun/figurine_boxes.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_NF/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_NF/tags.yml
Labels: No C#

#818 Labeler
  .github/labeler.yml
Labels: No C#

#826 Implemented IFF search
  Content.Client/Shuttles/UI/RadarControl.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Resources/Locale/en-US/shuttles/console.ftl
Labels: C#, UI, FTL

#804 McCargo Changes
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Prototypes/_NF/Shipyard/mccargo.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#831 Suit Wallstorage Unit
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage_wallmount.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/suit_storage_wall.yml
  Resources/Textures/_NF/Structures/Storage/suit_storage_wall.rsi/generic.png
  Resources/Textures/_NF/Structures/Storage/suit_storage_wall.rsi/generic_door.png
  Resources/Textures/_NF/Structures/Storage/suit_storage_wall.rsi/generic_open.png
  Resources/Textures/_NF/Structures/Storage/suit_storage_wall.rsi/locked.png
  Resources/Textures/_NF/Structures/Storage/suit_storage_wall.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/suit_storage_wall.rsi/panel.png
  Resources/Textures/_NF/Structures/Storage/suit_storage_wall.rsi/slot_jetpack.png
  Resources/Textures/_NF/Structures/Storage/suit_storage_wall.rsi/slot_suit.png
  Resources/Textures/_NF/Structures/Storage/suit_storage_wall.rsi/slot_tank.png
  Resources/Textures/_NF/Structures/Storage/suit_storage_wall.rsi/unlocked.png
  Resources/Textures/_NF/Structures/Storage/suit_storage_wall.rsi/welded.png
Labels: No C#, Sprites, YML

#820 don't reset balance on Randomize Everything
  Content.Client/Preferences/UI/HumanoidProfileEditor.Random.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: C#

#838 Mercenary Doors
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/access.yml
Labels: No C#, YML

#790 Loader - Changes
  Resources/Maps/Shuttles/loader.yml
  Resources/Prototypes/_NF/Shipyard/loader.yml
Labels: Map-Shuttle

#827 Added dirt in the Cove
  Resources/Maps/_NF/POI/cove.yml
Labels: Map-POI, No C#

#821 Telecoms
  Resources/Prototypes/Entities/Structures/Machines/telecomms.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/telecomms.yml
Labels: No C#, YML

#835 Anomalous Xeno Lab
  Resources/Maps/_NF/POI/anomalouslab.yml
Labels: Status: Needs Review, Map-POI, No C#

#758 Rep Drobe
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/bountyvend.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/ties.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Nyano/Catalog/Fills/Vending/Inventories/repdrobe.yml
Labels: Status: Needs Review, No C#, YML

#810 Mapchecker
  .github/mapchecker/.gitignore
  .github/mapchecker/README.md
  .github/mapchecker/config.py
  .github/mapchecker/mapchecker.py
  .github/mapchecker/requirements.txt
  .github/mapchecker/util.py
  .github/mapchecker/whitelist.yml
  .github/workflows/frontier-mapchecker.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
Labels: Enhancement, Status: Needs Review, No C#, YML

#828 Remove disposals instagib (DeltaV)
  Content.Shared/Materials/SharedMaterialReclaimerSystem.cs
Labels: C#

#839 Plastitanium Windows
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/_NF/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/structures/plastitanium.yml
Labels: No C#, YML

#808 Custom shipyard listings
  Content.Client/Shipyard/BUI/ShipyardConsoleBoundUserInterface.cs
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Shared/Shipyard/BUI/ShipyardConsoleInterfaceState.cs
  Content.Shared/Shipyard/Components/ShipyardListingComponent.cs
  Content.Shared/Shipyard/SharedShipyardSystem.cs
  Resources/Maps/Shuttles/empress.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/mothership-computers.yml
  Resources/Prototypes/_NF/Shipyard/cleric.yml
  Resources/Prototypes/_NF/Shipyard/fighter.yml
  Resources/Prototypes/_NF/Shipyard/rogue.yml
  Resources/Prototypes/_NF/Shipyard/spectre.yml
Labels: Enhancement, Map-Shuttle, YML, C#, UI

#833 Praeda rework
  Resources/Maps/_NF/Shuttles/praeda.yml
  Resources/Prototypes/_NF/Shipyard/praeda.yml
Labels: Map-Shuttle, No C#

#841 Replace Wasp's TComms server with the correct prototype
  Resources/Maps/_NF/Shuttles/wasp.yml
  Resources/Prototypes/_NF/Shipyard/wasp.yml
Labels: Map-Shuttle, No C#

#832 Sprinter rework
  Resources/Maps/_NF/Shuttles/sprinter.yml
  Resources/Prototypes/_NF/Shipyard/sprinter.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#836 Remove shitcurity and cargonia references
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/specific.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Structures/Decoration/banners.yml
Labels: No C#, YML

#845 Xeno noghostrole
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/xeno.yml
Labels: Status: Needs Review, No C#, YML

#844 Mapchecker
  .github/mapchecker/README.md
  .github/mapchecker/mapchecker.py
  Content.Shared/Shipyard/Prototypes/VesselPrototype.cs
  Resources/Prototypes/_NF/Shipyard/cleric.yml
  Resources/Prototypes/_NF/Shipyard/fighter.yml
  Resources/Prototypes/_NF/Shipyard/rogue.yml
Labels: Map-Shuttle, YML, C#

#847 ChefVend Ingredients
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Textures/_NF/Objects/Consumable/Food/ingredients.rsi/cocoa-chip-big.png
  Resources/Textures/_NF/Objects/Consumable/Food/ingredients.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/ingredients.rsi/pepper-big.png
  Resources/Textures/_NF/Objects/Consumable/Food/ingredients.rsi/raisin-big.png
  Resources/Textures/_NF/Objects/Consumable/Food/ingredients.rsi/salt-big.png
Labels: Status: Needs Review, No C#, Sprites, YML

#851 Shuttle Loader Fix
  Resources/Maps/_NF/Shuttles/loader.yml
  Resources/Prototypes/_NF/Shipyard/loader.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#852 Fix Pride Omat FTL
  Resources/Locale/en-US/deltav/advertisements/vending/pride.ftl
Labels: No C#, FTL

#583 Janitor Locker
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-galoshes.rsi/equipped-FEET.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-galoshes.rsi/icon-on.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-galoshes.rsi/icon.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-galoshes.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-galoshes.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-galoshes.rsi/meta.json
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-galoshes.rsi/on-equipped-FEET.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-galoshes.rsi/on-inhand-left.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-galoshes.rsi/on-inhand-right.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/janitor.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/janitor_door.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/janitor_open.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/closet.rsi/sparking.png
Labels: Status: Needs Review, No C#, Sprites, YML

#485 Create shipyard tests
  Content.IntegrationTests/Tests/_NF/ShipyardTests.cs
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/_NF/Shipyard/marauder.yml
  Resources/Prototypes/_NF/Shipyard/svnugget.yml
  Resources/Prototypes/_NF/Shipyard/svtide.yml
Labels: Status: Needs Review, Map-Shuttle, YML, C#

#857 Tabletop Computers: Fixing Naming issues
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
Labels: No C#, YML

#859 Changes default Shuttle Console and Mass Scanner UI height.
  Content.Client/Shuttles/UI/RadarConsoleWindow.xaml
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml
Labels: No C#, UI

#842 Mercenary Suit Storage
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
Labels: Status: Needs Review, No C#, YML

#860 Adds new xeno AI spawners of various difficulty
  Resources/Prototypes/_NF/Markers/Spawners/untimedAISpawners.yml
Labels: No C#, YML

#862 Toned down the number and difficulty of the xenos at the lab
  Resources/Maps/_NF/POI/anomalouslab.yml
Labels: Status: Needs Review, Map-POI, No C#

#864 The Crinch Stole The NorthPole
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: C#

#866 WindowTitle Fronter Station
  Resources/manifest.yml
Labels: Status: Needs Review, No C#, YML

#853 Smuggling Tweaks
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
  Resources/Maps/deaddrop.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/_NF/Markers/Spawners/crates.yml
  Resources/Prototypes/_NF/Markers/Spawners/posters.yml
Labels: Status: Needs Review, YML, C#

#850 Public Transit
  Content.Server/_NF/PublicTransit/Components/StationTransitComponent.cs
  Content.Server/_NF/PublicTransit/Components/TransitShuttleComponent.cs
  Content.Server/_NF/PublicTransit/PublicTransitSystem.cs
  Content.Shared/_NF/CCVars/CCVars.cs
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/Shuttles/publicts.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_NF/tags.yml
Labels: Status: Needs Review, Map-Shuttle, Map-POI, C#, Map-Outpost

#870 Security time requirement
  Resources/Prototypes/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/_Nyano/Roles/Jobs/Security/prisonguard.yml
Labels: No C#, YML

#734 Mayflower- Abandon Bounty hunter ship
  Resources/Maps/Shuttles/mayflower.yml
  Resources/Prototypes/_NF/Shipyard/mayflower.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, YML

#869 Bananium Anomaly Generator
  Content.Server/Anomaly/Components/AnomalyGeneratorComponent.cs
  Resources/Locale/en-US/anomaly/anomaly.ftl
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/ServerInfo/Guidebook/Science/AnomalousResearch.xml
Labels: Docs, YML, C#, FTL

#876 Update Bocadillo Price
  Resources/Prototypes/_NF/Shipyard/bocadillo.yml
Labels: Map-Shuttle, No C#, YML

#877 Cargo not anchorable anymore
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/cargo_telepad.yml
Labels: Status: Needs Review, No C#, YML

#825 Tips
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#, YML

#823 Caduceus as mothership
  Resources/Maps/Shuttles/caduceus.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/mothership-computers.yml
  Resources/Prototypes/_NF/Shipyard/searchlight.yml
  Resources/Textures/_NF/Structures/Machines/computers.rsi/computer_medical.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard_medical.png
Labels: Status: Needs Review, Map-Shuttle, No C#, Sprites, YML

#615 NT Stellaris
  Resources/Maps/_NF/Shuttles/stellaris.yml
  Resources/Prototypes/_NF/Shipyard/stellaris.yml
Labels: Map-Shuttle, No C#

#879 USS Mayflower Bug Fixs
  Resources/Maps/_NF/Shuttles/mayflower.yml
  Resources/Prototypes/_NF/Shipyard/mayflower.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#884 Salvage Pins
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
Labels: No C#, YML

#881 Public Transit Patch
  Content.Server/_NF/PublicTransit/PublicTransitSystem.cs
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
Labels: Status: Needs Review, C#, FTL

#882 Sleeping inside bags
  Content.Server/Nyanotrasen/Item/PseudoItem/AllowsSleepInsideComponent.cs
  Content.Server/Nyanotrasen/Item/PseudoItem/PseudoItemSystem.cs
  Content.Shared/Nyanotrasen/Item/Components/PseudoItemComponent.cs
  Resources/Locale/en-US/_NF/actions/sleep.ftl
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
Labels: YML, C#, FTL

#880 Omnichurch beacon update
  Resources/Maps/_NF/POI/beacon.yml
Labels: Status: Needs Review, Map-POI, No C#

#885 add 45cal to the Liberation machine
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
Labels: No C#, YML

#888 Latejoin ui tweaks
  Content.Client/Lobby/LobbyState.cs
  Content.Client/_NF/Latejoin/NFLateJoinGui.xaml
  Content.Client/_NF/Latejoin/NFLateJoinGui.xaml.cs
  Content.Client/_NF/Latejoin/NewFrontierLateJoinJobButton.xaml
  Content.Client/_NF/Latejoin/NewFrontierLateJoinJobButton.xaml.cs
  Content.Client/_NF/Latejoin/VesselListControl.xaml
  Content.Client/_NF/Latejoin/VesselListControl.xaml.cs
Labels: C#, UI

#871 Alterations of the Gourd and Bazaar into new mapping standards
  .github/mapchecker/whitelist.yml
  Resources/Maps/_NF/Shuttles/bazaar.yml
  Resources/Maps/_NF/Shuttles/gourd.yml
  Resources/Prototypes/_NF/Shipyard/bazaar.yml
  Resources/Prototypes/_NF/Shipyard/gourd.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#843 McDelivery Shuttle with McCargo shipyard
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Maps/_NF/Shuttles/mcdelivery.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/happyhonk.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/mothership-computers.yml
  Resources/Prototypes/_NF/Shipyard/mccargo.yml
  Resources/Prototypes/_NF/Shipyard/mcdelivery.yml
  Resources/Textures/_NF/Clothing/Head/Hoods/mccargocrown.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hoods/mccargocrown.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hoods/mccargocrown.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hoods/mccargocrown.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Head/Hoods/mccargocrown.rsi/meta.json
  Resources/Textures/_NF/Objects/Storage/Happyhonk/cargo.rsi/box-inhand-left.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/cargo.rsi/box-inhand-right.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/cargo.rsi/box-open.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/cargo.rsi/box.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/cargo.rsi/meta.json
Labels: Status: Needs Review, Map-Shuttle, No C#, Sprites

#887 Adds plasteel arming sword
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/_NF/Objects/Weapons/Melee/armingsword.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Melee/armingsword.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Melee/armingsword.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Melee/armingsword.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/armingsword.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Melee/armingsword.rsi/meta.json
Labels: No C#, Sprites, YML

#894 ART!
  Resources/Prototypes/_NF/lobbyscreens.yml
  Resources/Textures/_NF/LobbyScreens/attributuions.yml
  Resources/Textures/_NF/LobbyScreens/risingred.png.yml
  Resources/Textures/_NF/LobbyScreens/secrun.png
  Resources/Textures/_NF/LobbyScreens/secrun.png.yml
  Resources/Textures/_NF/LobbyScreens/xeeenoooossss.png
  Resources/Textures/_NF/LobbyScreens/xeeenoooossss.png.yml
Labels: Status: Needs Review, No C#, YML

#791 NC Kilderkin - bar/brewery ship
  Resources/Maps/_NF/Shuttles/kilderkin.yml
  Resources/Prototypes/_NF/Shipyard/kilderkin.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#858 Gyros & Thrusters
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters.yml
Labels: Status: Needs Review, No C#, YML

#903 Security Guard Job & STC/MailCarrier Spawn and Requirement change
  Resources/Locale/en-US/_NF/job/job-description.ftl
  Resources/Locale/en-US/_NF/job/job-names.ftl
  Resources/Locale/en-US/_NF/prototypes/access/accesses.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Prototypes/_NF/Markers/Spawners/jobs.yml
  Resources/Prototypes/_NF/Recipes/Construction/clothing.yml
  Resources/Prototypes/_NF/Roles/Jobs/Command/stc.yml
  Resources/Prototypes/_NF/Roles/Jobs/Security/security_guard.yml
  Resources/Prototypes/_NF/Roles/play_time_trackers.yml
  Resources/Prototypes/_NF/StatusEffects/job.yml
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/security_guard.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/security_guard.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/security_guard.rsi/icon.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/security_guard.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/security_guard.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpskirt/security_guard.rsi/meta.json
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/security_guard.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/security_guard.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/security_guard.rsi/icon.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/security_guard.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/security_guard.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Uniforms/Jumpsuit/security_guard.rsi/meta.json
  Resources/Textures/_NF/Markers/jobs.rsi/meta.json
  Resources/Textures/_NF/Markers/jobs.rsi/securityguard.png
  Resources/Textures/_NF/Markers/jobs.rsi/stc.png
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#917 Fix ComputerTabletopSensorMonitoring
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
Labels: Status: Needs Review, No C#, YML

#916 Ashtray is real, and smoking is still bad for you
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/ashtray.yml
  Resources/Textures/_NF/Objects/Misc/ashtray.rsi/icon-0.png
  Resources/Textures/_NF/Objects/Misc/ashtray.rsi/icon-1.png
  Resources/Textures/_NF/Objects/Misc/ashtray.rsi/icon-2.png
  Resources/Textures/_NF/Objects/Misc/ashtray.rsi/icon-3.png
  Resources/Textures/_NF/Objects/Misc/ashtray.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#830 NC Harbormaster, a tugboat
  Resources/Maps/_NF/Shuttles/harbormaster.yml
  Resources/Prototypes/_NF/Shipyard/harbormaster.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#892 NC Legman Update
  Resources/Maps/_NF/Shuttles/legman.yml
  Resources/Prototypes/_NF/Shipyard/legman.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#896 NT Rigger Update
  Resources/Maps/_NF/Shuttles/gasbender.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/mothership-computers.yml
  Resources/Prototypes/_NF/Shipyard/gasbender.yml
  Resources/Prototypes/_NF/Shipyard/rigger.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#897 NM Searchlight Update
  Resources/Maps/_NF/Shuttles/searchlight.yml
  Resources/Prototypes/_NF/Shipyard/searchlight.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#898 NC Lantern Update
  Resources/Maps/_NF/Shuttles/lantern.yml
  Resources/Prototypes/_NF/Shipyard/lantern.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#900 NC Pioneer Update
  Resources/Maps/_NF/Shuttles/pioneer.yml
  Resources/Prototypes/_NF/Shipyard/pioneer.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#907 McCargo McFixing
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Maps/_NF/Shuttles/mcdelivery.yml
  Resources/Prototypes/_NF/Shipyard/mccargo.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#912 ICR Chisel Update
  Resources/Maps/_NF/Shuttles/chisel.yml
  Resources/Prototypes/_NF/Shipyard/chisel.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#840 NFSD Outpost (New) - Split NFSD away from Frontier Outpost
  .github/mapchecker/whitelist.yml
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/anomalouslab.yml
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/POI/northpole.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Prototypes/_NF/Maps/POI/nfsd.yml
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: Status: Needs Review, Map-Shuttle, Map-POI, C#, Map-Outpost

#929 Bazaar hotfix
  Resources/Maps/_NF/Shuttles/bazaar.yml
Labels: Map-Shuttle, No C#

#935 Jobslots patches
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Prototypes/_NF/Maps/POI/nfsd.yml
Labels: No C#, YML

#920 Mail Truck (Update)
  Resources/Maps/_NF/Shuttles/mailtruck.yml
  Resources/Prototypes/_NF/Shipyard/mailtruck.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#925 Mission (Update)
  Resources/Maps/_NF/Shuttles/mission.yml
  Resources/Prototypes/_NF/Shipyard/mission.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#936 Biomass experiment
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Status: Needs Review, No C#, Map-Outpost

#937 Remove insurance form
  Resources/Locale/en-US/_NF/paper/book-medical-insurance.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/cargo/cargo-medical.ftl
  Resources/Locale/en-US/_NF/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Maps/Shuttles/hospitaller.yml
  Resources/Maps/_NF/Bluespace/cargoniaship.yml
  Resources/Maps/_NF/Shuttles/pioneer.yml
  Resources/Maps/_NF/Shuttles/sprinter.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_NF/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/paper.yml
Labels: Map-Shuttle, Map-Bluespace, No C#, FTL

#918 Bocadillo (Update)
  Resources/Maps/_NF/Shuttles/bocadillo.yml
  Resources/Prototypes/_NF/Shipyard/bocadillo.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#895 Liquidator (Update)
  Resources/Maps/_NF/Shuttles/liquidator.yml
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_NF/Shipyard/liquidator.yml
  Resources/Textures/_NF/Clothing/Neck/Cloaks/janitor.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/janitor.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/janitor.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/janitor.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/janitor.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Cloaks/janitor.rsi/plunger-equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/janitor.rsi/plunger.png
Labels: Status: Needs Review, Map-Shuttle, No C#, Sprites

#919 Barge (Update)
  Resources/Maps/_NF/Shuttles/barge.yml
  Resources/Prototypes/_NF/Shipyard/barge.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#909 Empress (Update)
  .github/mapchecker/whitelist.yml
  Resources/Maps/_NF/Shuttles/empress.yml
  Resources/Prototypes/_NF/Shipyard/empress.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#934 Prospector (Update)
  Resources/Maps/_NF/Shuttles/prospector.yml
  Resources/Prototypes/_NF/Shipyard/prospector.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#913 Garden (Update)
  Resources/Maps/_NF/Shuttles/garden.yml
  Resources/Prototypes/_NF/Shipyard/garden.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#939 STC
  Resources/Prototypes/_NF/Markers/Spawners/jobs.yml
Labels: No C#, YML

#943 Tabletop Consoles Fix
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
Labels: No C#, YML

#942 Suit Wallstorage Unit Fix (Maybe)
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/suit_storage_wall.yml
Labels: No C#, YML

#945 NFSD Outpost split Day 1 patches
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/nfsd.yml
Labels: Status: Needs Review, Map-POI, No C#, Map-Outpost

#944 WaveShot (Update)
  Resources/Maps/_NF/Shuttles/waveshot.yml
  Resources/Prototypes/_NF/Shipyard/waveshot.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#941 Cargo Cleanup
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/watergun.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/cuddlycritter.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: No C#, YML

#946 Kestrel (Update)
  Resources/Maps/_NF/Shuttles/kestrel.yml
  Resources/Prototypes/_NF/Shipyard/kestrel.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#927 Guardians code tweaks
  Content.Server/Guardian/GuardianComponent.cs
  Content.Server/Guardian/GuardianSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/guardian_activators.yml
  Resources/Prototypes/_NF/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Syndicate_Gadgets/guardian_activators.yml
Labels: Status: Needs Review, YML, C#

#928 Fix Plants Protos
  Resources/Locale/en-US/_NF/seeds/seeds.ftl
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_NF/Hydroponics/seeds.yml
  Resources/Textures/_NF/Objects/Specific/Hydroponics/spesostree.rsi/dead.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/spesostree.rsi/harvest.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/spesostree.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Hydroponics/spesostree.rsi/seed.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/spesostree.rsi/stage-1.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/spesostree.rsi/stage-2.png
Labels: Status: Needs Review, Map-POI, No C#, Sprites, FTL

#947 Adjust prices for Investigator and Rosebuds
  Resources/Prototypes/_NF/Shipyard/investigator.yml
  Resources/Prototypes/_NF/Shipyard/rosebudmki.yml
  Resources/Prototypes/_NF/Shipyard/rosebudmkii.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, YML

#915 Crescent (Update)
  .github/mapchecker/whitelist.yml
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Resources/Maps/_NF/Shuttles/crescent.yml
  Resources/Prototypes/_NF/Entities/Markers/atmos_blocker.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/mothership-computers.yml
  Resources/Prototypes/_NF/Shipyard/crescent.yml
  Resources/Prototypes/_NF/Shipyard/legman.yml
  Resources/Prototypes/_NF/Shipyard/liquidator.yml
  Resources/Prototypes/_NF/Shipyard/pioneer.yml
Labels: Status: Needs Review, Map-Shuttle, C#

#951 Esquire (Update)
  .github/mapchecker/whitelist.yml
  Resources/Maps/_NF/Shuttles/esquire.yml
  Resources/Prototypes/_NF/Shipyard/esquire.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#950 Praeda (Update)
  Resources/Maps/_NF/Shuttles/praeda.yml
  Resources/Prototypes/_NF/Shipyard/praeda.yml
Labels: Map-Shuttle, No C#

#948 Rosebud Mk I (Update)
  Resources/Maps/_NF/Shuttles/rosebudmki.yml
  Resources/Prototypes/_NF/Shipyard/rosebudmki.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#911 Inquisitor (Update)
  Resources/Maps/_NF/Shuttles/inquisitor.yml
  Resources/Prototypes/_NF/Shipyard/inquisitor.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#924 PTS (Update)
  Resources/Maps/_NF/Shuttles/pts.yml
  Resources/Prototypes/_NF/Shipyard/pts.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#926 Pathfinder (Update)
  .github/mapchecker/whitelist.yml
  Resources/Maps/_NF/Shuttles/pathfinder.yml
  Resources/Prototypes/_NF/Shipyard/pathfinder.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#954 Nugget (Update)
  Resources/Maps/_NF/Shuttles/nugget.yml
  Resources/Prototypes/_NF/Shipyard/nugget.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#952 Fix improper SizeAttribute scaling
  Content.Server/_NF/SizeAttribute/SizeAttributeSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: Status: Needs Review, YML, C#

#960 Pilot Drip Update
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/pilot.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/astrovend.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_NF/Roles/Jobs/Wildcards/pilot.yml
  Resources/Textures/_NF/Clothing/Back/Backpacks/pilot.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Clothing/Back/Backpacks/pilot.rsi/icon.png
  Resources/Textures/_NF/Clothing/Back/Backpacks/pilot.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Back/Backpacks/pilot.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Back/Duffels/pilot.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Clothing/Back/Duffels/pilot.rsi/icon.png
  Resources/Textures/_NF/Clothing/Back/Duffels/pilot.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Back/Duffels/pilot.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Back/Satchels/pilot.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Clothing/Back/Satchels/pilot.rsi/icon.png
  Resources/Textures/_NF/Clothing/Back/Satchels/pilot.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Back/Satchels/pilot.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Belt/pilot.rsi/equipped-BELT.png
  Resources/Textures/_NF/Clothing/Belt/pilot.rsi/icon.png
  Resources/Textures/_NF/Clothing/Belt/pilot.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Belt/pilot.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Belt/pilot.rsi/meta.json
  Resources/Textures/_NF/Clothing/Hands/Gloves/pilot.rsi/icon.png
  Resources/Textures/_NF/Clothing/Hands/Gloves/pilot.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Hands/Gloves/pilot.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Masks/pilot.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_NF/Clothing/Masks/pilot.rsi/equipped-MASK.png
  Resources/Textures/_NF/Clothing/Masks/pilot.rsi/icon.png
  Resources/Textures/_NF/Clothing/Masks/pilot.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Masks/pilot.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Masks/pilot.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Scarfs/pilot.rsi/icon.png
Labels: No C#, Sprites, YML
