Repository new-frontiers-14/frontier-station-14, pull requests merged in 2024-07, with the labels that each got.

#1584 Shuttle cannons can now be targeted by mobs and turrets
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
Labels: Status: Needs Review, No C#, YML

#1585 AGPL v3
  LEGAL.md
  LICENSE-AGPLv3.txt
  LICENSE-MIT.TXT
  MARKERS.md
  README.md
Labels: Docs, No C#

#1576 Fixes the Admeme Teleporter Despawns
  Resources/Prototypes/_NF/Entities/Effects/portal.yml
Labels: No C#, YML

#1587 Frontier (Update)
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Status: Needs Review, No C#, Map-Outpost

#1550 More descriptive ship sale & cryo pod messages
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/Shipyard/Systems/ShipyardSystem.cs
  Content.Server/_NF/CryoSleep/CryoSleepSystem.cs
  Resources/Locale/en-US/_NF/cryosleep/cryosleep-component.ftl
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
Labels: Status: Needs Review, C#, FTL

#1589 Remove LoneOpsSpawn rule, nukie admin verb, and unused preloaded shuttles.
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
  Resources/Prototypes/_NF/Events/events.yml
Labels: YML, C#

#1591 Fix railing
  Resources/Prototypes/Recipes/Construction/Graphs/structures/railing.yml
Labels: No C#, YML

#1592 Machine Part Bugfixes
  Content.Server/Construction/Conditions/MachineFrameComplete.cs
  Content.Server/Construction/ConstructionSystem.Machine.cs
  Content.Server/Construction/MachineFrameSystem.cs
  Resources/Locale/en-US/machine/machine.ftl
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
Labels: Status: Needs Review, YML, C#, FTL

#1593 Fix Ghost Role Whitelist Conditions
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesEui.cs
Labels: Status: Needs Review, C#

#1590 Suit storage slot for outer clothing
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: Status: Needs Review, No C#, YML

#1588 Add bank balance to lobby, character setup, and loadout screens.
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/CharacterPickerButton.xaml.cs
  Content.Client/Lobby/UI/Loadouts/LoadoutWindow.xaml
  Content.Client/Lobby/UI/Loadouts/LoadoutWindow.xaml.cs
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.xaml
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.xaml.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Locale/en-US/_NF/loadouts/loadouts.ftl
  Resources/Locale/en-US/_NF/preferences/humanoid-character-profile.ftl
Labels: Status: Needs Review, C#, UI, FTL

#1277 Gestio burst-fire 20 rifle
  Resources/Audio/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/Weapons/Guns/Gunshots/rifle3.ogg
  Resources/Prototypes/_NF/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Boxes/nfsd.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle_lowcap.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/gestio.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/expedition_guns.yml
  Resources/Textures/_NF/Objects/Weapons/Gestio-Rifle.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Gestio-Rifle.rsi/bolt-open.png
  Resources/Textures/_NF/Objects/Weapons/Gestio-Rifle.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Gestio-Rifle.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Gestio-Rifle.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Gestio-Rifle.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Gestio-Rifle.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Gestio-Rifle.rsi/mag-0.png
  Resources/Textures/_NF/Objects/Weapons/Gestio-Rifle.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Gestio-Rifle.rsi/wielded-inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Gestio-Rifle.rsi/wielded-inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Low-Cap-Rifle-Magazine.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Low-Cap-Rifle-Magazine.rsi/mag-1.png
  Resources/Textures/_NF/Objects/Weapons/Low-Cap-Rifle-Magazine.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Low-Cap-Rifle-Magazine.rsi/practice.png
  Resources/Textures/_NF/Objects/Weapons/Low-Cap-Rifle-Magazine.rsi/red.png
  Resources/Textures/_NF/Objects/Weapons/Low-Cap-Rifle-Magazine.rsi/rubber.png
  Resources/Textures/_NF/Objects/Weapons/Low-Cap-Rifle-Magazine.rsi/uranium.png
Labels: Status: Needs Review, No C#, Sprites, YML

#1595 Restore NFSD Nonlethal Armory
  Resources/Prototypes/_NF/Catalog/Fills/Crates/nfsdarmory.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
Labels: No C#, YML

#1594 ContrabandClothing faction
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Objects/Weapons/base_turret.yml
  Resources/Prototypes/Entities/Objects/Weapons/turrets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Projectiles/energy.yml
  Resources/Prototypes/_NF/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
Labels: No C#, YML

#1597 Machine Parts Resprite
  Resources/Prototypes/Entities/Objects/Misc/machine_parts.yml
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/adv_capacitor.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/adv_electrolite.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/adv_scan_module.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/adv_scan_module_static.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/advanced_matter_bin.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/ansible_crystal.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/bluespace_electrolite.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/bluespace_matter_bin.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/capacitor.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/card_reader.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/datadisk0.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/datadisk1.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/datadisk2.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/datadisk3.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/datadisk4.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/datadisk5.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/datadisk6.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/electrolite.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/femto_mani.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/hdd1.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/hdd2.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/high_micro_laser.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/hyperwave_filter.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/matter_bin.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/micro_laser.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/micro_mani.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/nano_mani.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/pico_mani.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/quadratic_capacitor.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/quadultra_micro_laser.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/rom1.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/rom2.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/romos1.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/romos2.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/scan_module.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/scan_module_static.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/subspace_amplifier.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/subspace_ansible.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/subspace_transmitter.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/super_capacitor.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/super_electrolite.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/super_matter_bin.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/super_scan_module.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/treatment_disk.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/triphasic_scan_module.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/ultra_high_micro_laser.png
  Resources/Textures/_NF/Objects/Misc/stock_parts.rsi/wavelength_analyzer.png
Labels: No C#, Sprites, YML

#1606 Fix pews
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/left.png
  Resources/Textures/SimpleStation14/Structures/Furniture/Benches/pews.rsi/right.png
Labels: Status: Needs Review, No C#, Sprites

#1604 IFF strobes to loadouts
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/neck.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: No C#, YML

#1549 Belching
  Resources/Audio/Voice/Human/attributions.yml
  Resources/Audio/_NF/Voice/Human/attributions.yml
  Resources/Audio/_NF/Voice/Human/belch_1.ogg
  Resources/Audio/_NF/Voice/Human/belch_2.ogg
  Resources/Audio/_NF/Voice/Human/belch_3.ogg
  Resources/Locale/en-US/_NF/chat/emotes.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_NF/SoundCollections/emotes.yml
  Resources/Prototypes/_NF/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_NF/Voice/speech_emotes.yml
  Resources/Textures/_NF/Interface/Emotes/attributions.yml
  Resources/Textures/_NF/Interface/Emotes/belch.png
Labels: Status: Needs Review, No C#, YML, FTL

#1608 NoSpawn for shuttle maps
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
Labels: Status: Needs Review, No C#, YML

#1607 Stylish loadout items
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/head.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/outer.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Janitor/head.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Janitor/outer.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/janitor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Mail/mail.yml
Labels: No C#, YML

#1599 Goblin throat singing
  Resources/Audio/_NF/Voice/Goblin/attributions.yml
  Resources/Audio/_NF/Voice/Goblin/goblin-chatter-01.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-deathgasp-01.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-deathgasp-02.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-deathgasp-03.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-deathgasp-04.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-gasp-01.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-gasp-02.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-gasp-03.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-hiss-01.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-mutter-01.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-mutter-02.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-mutter-03.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-mutter-04.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-throat-singing-01.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-throat-singing-02.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-throat-singing-03.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-throat-singing-04.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-throat-singing-05.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-throat-singing-06.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-throat-singing-07.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-throat-singing-08.ogg
  Resources/Audio/_NF/Voice/Goblin/license.txt
  Resources/Locale/en-US/_NF/chat/emotes.ftl
  Resources/Locale/en-US/_NF/species/species.ftl
  Resources/Prototypes/_NF/Entities/Mobs/Species/goblin.yml
  Resources/Prototypes/_NF/SoundCollections/goblin_soundcollection.yml
  Resources/Prototypes/_NF/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_NF/Voice/speech_emotes.yml
  Resources/Textures/_NF/Interface/Emotes/attributions.yml
  Resources/Textures/_NF/Interface/Emotes/mutter.png
  Resources/Textures/_NF/Interface/Emotes/throatsinging.png
Labels: No C#, YML, FTL

#1602 Better Harpy Mimicry
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Shared/Speech/SpeechComponent.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
Labels: Status: Needs Review, YML, C#

#1244 Marauder Revamp
  Resources/Maps/_NF/Shuttles/Nfsd/marauder.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/marauder.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1605 Bookworm (Update): QoL stuff
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/bookworm.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Bookworm.xml
Labels: Docs, Status: Needs Review, Map-Shuttle, No C#, FTL

#1539 NSF Broadhead v1.1
  Resources/Maps/_NF/Shuttles/Nfsd/broadhead.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1537 SBB Lyrae v1.1
  Resources/Maps/_NF/Shuttles/lyrae.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1609 Changes to the bus schedule
  Content.Shared/_NF/CCVars/CCVars.cs
Labels: Status: Needs Review, C#

#1612 Clean VendPrice to not suck
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Shared/Cargo/Components/StaticPriceComponent.cs
  Content.Shared/_NF/Cargo/Components/VendPriceComponent.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/bio.yml
  Resources/Prototypes/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-vials.yml
  Resources/Prototypes/Entities/Objects/Tools/fulton.yml
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
  Resources/Prototypes/_NF/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/prizeticket.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/handheld_mass_scanner.yml
  Resources/Prototypes/_NF/Reagents/Materials/prizeticket.yml
Labels: Status: Needs Review, YML, C#, UI

#1617 Update meta.json for pride drobe
  Resources/Textures/Structures/Machines/VendingMachines/pride.rsi/meta.json
Labels: No C#, Sprites

#1613 RPED Fixes, Minor Cleanup
  Content.Server/_NF/Construction/Components/PartExchangerSystem.cs
  Content.Server/_NF/Construction/ConstructionSystem.Machine.Upgrades.cs
Labels: Status: Needs Review, C#

#1619 Chatsan: ATM restored
  Resources/Locale/en-US/speech/speech-chatsan.ftl
Labels: Status: Needs Review, No C#, FTL

#1598 ATM: Feedback on invalid items
  Content.Client/Bank/UI/BankATMMenu.xaml.cs
  Content.Client/Bank/UI/StationBankATMMenu.xaml.cs
  Content.Client/Bank/UI/WithdrawBankATMMenu.cs
  Content.Server/_NF/Bank/ATMSystem.cs
  Content.Server/_NF/Bank/StationATMSystem.cs
  Content.Shared/_NF/Bank/BUI/StationBankATMMenuInterfaceState.cs
  Resources/Locale/en-US/_NF/bank/bank-ATM-component.ftl
Labels: Status: Needs Review, C#, UI, FTL

#1616 Chemist Wall Lockers. Filled and empty.
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/chem_door.png
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/generic.png
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/generic_door.png
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/locked.png
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/med.png
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/med_open.png
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/unlocked.png
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/welded.png
Labels: Status: Needs Review, No C#, Sprites, YML

#1610 MailTruck - Parcel (Update)
  Resources/Maps/_NF/Shuttles/BlackMarket/menace.yml
  Resources/Maps/_NF/Shuttles/parcel.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/menace.yml
  Resources/Prototypes/_NF/Shipyard/parcel.yml
Labels: Map-Shuttle, No C#

#1459 NFSD Access Overhaul
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Content.Shared/Shipyard/Prototypes/VesselPrototype.cs
  Resources/Locale/en-US/_NF/prototypes/access/accesses.ftl
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/_NF/Access/security.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/detectivenf.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/broadhead.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/cleric.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/empress.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/enforcer.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/fighter.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/hospitaller.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/inquisitor.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/interceptor.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/marauder.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/opportunity.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/prowler.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/rogue.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/templar.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/trident.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/wasp.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/whiskey.yml
Labels: Status: Needs Review, Map-Shuttle, YML, C#, FTL

#1568 adds SSS Camper
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/camper.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/camper.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Camper.xml
Labels: Docs, Map-Shuttle, No C#, FTL

#1630 Camper fixes (I missed some shit on the original PR)
  Resources/Maps/_NF/Shuttles/camper.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1631 Another admeme teleporter fix
  Resources/Prototypes/_NF/Entities/Effects/portal.yml
  Resources/Prototypes/_NF/Objects/Devices/admin_hand_teleporter.yml
Labels: No C#, YML

#1417 Add SVT Mid-tier Weapon
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_shuttle_guns.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/guns.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_NF/Recipes/Lathes/ammo.yml
  Resources/Textures/_NF/Objects/Weapons/Ammunition/svt40.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Ammunition/svt40.rsi/mag-1.png
  Resources/Textures/_NF/Objects/Weapons/Ammunition/svt40.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Ammunition/svt40.rsi/practice.png
  Resources/Textures/_NF/Objects/Weapons/Ammunition/svt40.rsi/red.png
  Resources/Textures/_NF/Objects/Weapons/Ammunition/svt40.rsi/rubber.png
  Resources/Textures/_NF/Objects/Weapons/Ammunition/svt40.rsi/uranium.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/bolt-open.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/mag-0.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/wielded-inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/wielded-inhand-right.png
Labels: Status: Needs Review, No C#, Sprites, YML

#1501 Loadouts: fallback to free items when character cannot afford mandatory loadout parts.
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Preferences/Loadouts/LoadoutGroupPrototype.cs
  Resources/Prototypes/_NF/Loadouts/bailiff_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/brigmedic_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/cadet_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/deputy_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/detectivenf_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/janitor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/lawyer_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mail_carrier_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/nfsd_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pirates_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/prisoner_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/security_guard_groups.yml
  Resources/Prototypes/_NF/Loadouts/senior_officer_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/sheriff_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/stationrep_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/stc_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/valet_loadout_groups.yml
Labels: Status: Needs Review, YML, C#

#1551 Tactical maid harduits
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_NF/Mail/mail.yml
  Resources/Prototypes/_NF/Mail/mailDeliveries.yml
  Resources/Textures/_NF/Clothing/Head/Hardsuits/tactical_hardsuit.rsi/equipped-HELMET-reptilian.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/tactical_hardsuit.rsi/equipped-HELMET-vulpkanin.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/tactical_hardsuit.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/tactical_hardsuit.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/tactical_hardsuit.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/tactical_hardsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/tactical_hardsuit.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/tactical_hardsuit.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/tactical_hardsuit.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/tactical_hardsuit.rsi/meta.json
Labels: No C#, Sprites, YML

#1558 Pumpkin Spice Latte
  Resources/Locale/en-US/_NF/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_NF/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/_NF/Flavors/flavors.yml
  Resources/Prototypes/_NF/Reagents/Consumables/Drink/drinks.yml
  Resources/Prototypes/_NF/Recipes/Reactions/drinks.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/pumpkinspicelatte.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pumpkinspicelatte.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pumpkinspicelatte.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pumpkinspicelatte.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pumpkinspicelatte.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#1621 PTK-800 Require Power
  Content.Server/Shuttles/Components/ThrusterComponent.cs
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.AutoFire.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Components/AutoShootGunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/en-US/_NF/weapons/ranged/gun.ftl
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
Labels: Status: Needs Review, YML, C#, FTL

#1563 Added Maximum IFF Distance Slider to NavScreen
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Resources/Locale/en-US/_NF/shuttles/console.ftl
Labels: Status: Needs Review, C#, UI, FTL

#1596 Space Blades (Let it rip!)
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/contravend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/cuddlycritter.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade_boxes.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/fun.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/blade.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/blue.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/check.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/clown.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/contraband.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/eyeball.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/frontier.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/goldblue.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/mail.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/mcblade.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/moff.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/pizza.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/redorange.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/rune.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/sb_box.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/sb_box_unfolded.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/secblade.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/singularity.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/tesla.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/weh.png
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#1643 Mothership Console Hotfix
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
Labels: Status: Needs Review, C#

#1636 Add Whiskey Echoes barsign
  Resources/Locale/en-US/_NF/barsign/barsign-component.ftl
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/_NF/bar_signs.yml
  Resources/Textures/Structures/Wallmounts/barsign.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/barsign.rsi/nfwhiskeyechoes.png
Labels: No C#, Sprites, YML, FTL

#1642 Add four tgstation bar signs
  Resources/Locale/en-US/_NF/barsign/barsign-component.ftl
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/_NF/bar_signs.yml
  Resources/Textures/Structures/Wallmounts/barsign.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/barsign.rsi/nflittletreats.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/nfmaltroach.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/nfneonflamingos.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/nftherune.png
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#1645 Unique glove fibers (#1455)
  Content.Server/Forensics/Components/FiberComponent.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Resources/Locale/en-US/_NF/forensics/fibers.ftl
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_NF/Entities/Clothing/Hands/gloves.yml
Labels: YML, C#, FTL

#1644 Adjust solution size on slicing/eating food
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/Nutrition/EntitySystems/SliceableFoodSystem.cs
  Content.Shared/Chemistry/EntitySystems/SolutionContainerSystem.cs
Labels: Status: Needs Review, C#

#1646 3 new additions to jukebox (#1361)
  Resources/Audio/DeltaV/Jukebox/Phoron_Will_Make_Us_RichMONO2.ogg
  Resources/Audio/DeltaV/Jukebox/attributions.yml
  Resources/Audio/DeltaV/Jukebox/every_light_is_blinking_at_onceMONO.ogg
  Resources/Audio/DeltaV/Jukebox/lasers_rip_apart_the_bulkheadMONO.ogg
  Resources/Prototypes/DeltaV/Catalog/Jukebox/Standard.yml
Labels: No C#, YML

#1647 DeltaV species updates
  Resources/Locale/en-US/deltav/markings/Oni.ftl
  Resources/Locale/en-US/deltav/markings/felinid.ftl
  Resources/Locale/en-US/markings/goblin_markings.ftl
  Resources/Locale/en-US/nyanotrasen/abilities/Oni.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/felinid.yml
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/DeltaV/Guidebook/species.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Felinid.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Harpy.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Oni.xml
  Resources/ServerInfo/Guidebook/Mobs/DeltaV/Vulpkanin.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/alternative_tail.rsi/m_waggingtail_cat_FRONT.png
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/alternative_tail.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/tiger_tail.rsi/m_tail_tiger_primary.png
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/tiger_tail.rsi/m_tail_tiger_secondary.png
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/tiger_tail.rsi/m_tail_tiger_tertiary.png
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/tiger_tail.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Oni/oni_horns.rsi/bull.png
  Resources/Textures/DeltaV/Mobs/Customization/Oni/oni_horns.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Oni/oni_horns.rsi/shaved.png
Labels: Docs, No C#, Sprites, YML, FTL

#1635 Add Frontier Arrivals to Jukebox
  Resources/Audio/_NF/Jukebox/attributions.yml
  Resources/Audio/_NF/Jukebox/frontier-arrivals.ogg
  Resources/Prototypes/_NF/Catalog/Jukebox/Standard.yml
Labels: No C#, YML

#1653 Expeditionary Lodge: Small QoL Update
  Resources/Maps/_NF/POI/lodge.yml
Labels: Map-POI, No C#

#1658 Actually removing empty weapon cases from weapon spawners
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
Labels: No C#, YML

#1659 Update FactionClothingSystem.cs
  Content.Shared/Clothing/EntitySystems/FactionClothingSystem.cs
Labels: Status: Needs Review, C#

#1649 Remove invisible IFF from prowler
  Resources/Maps/_NF/Shuttles/Nfsd/prowler.yml
Labels: Map-Shuttle, No C#

#1639 Bazaar (Update)
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/bazaar.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/bazaar.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Bazaar.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/bazaar.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Docs, Status: Needs Review, Map-Shuttle, No C#, Sprites, FTL

#1654 Sheriff, ERT Mail Carrier Starting Gear: vacate suitstorage
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/mail_capsule.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
Labels: Status: Needs Review, No C#, YML

#1624 Liquidator (Update)
  Resources/Maps/_NF/Shuttles/liquidator.yml
  Resources/Prototypes/_NF/Shipyard/liquidator.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Liquidator.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/liquidator.png
Labels: Docs, Status: Needs Review, Map-Shuttle, No C#, Sprites

#1650 Empress V-3.4
  .github/mapchecker/config.py
  .github/mapchecker/whitelist.yml
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
  Resources/Maps/_NF/Shuttles/Nfsd/rogue.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_nfsd.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_security.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1648 Unlocked default humanoid markings for goblins and some other lesser species
  Resources/Locale/en-US/deltav/markings/Oni.ftl
  Resources/Locale/en-US/nyanotrasen/markings/Oni.ftl
  Resources/Prototypes/DeltaV/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Customization/Markings/Oni_horns.yml
  Resources/Prototypes/_NF/Species/goblin_species.yml
Labels: Status: Needs Review, No C#, YML, FTL

#1641 Eagle-(Update)
  Resources/Maps/_NF/Shuttles/eagle.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1657 Common parent for Contraband Clothing
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/headwear_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/headwear_syndicate.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/contraband_clothing_base.yml
Labels: Status: Needs Review, No C#, YML

#1652 Syndicate bluespace events and LPB tweaks
  Resources/Maps/_NF/Bluespace/cache.yml
  Resources/Maps/_NF/Bluespace/syndieftlintercept.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/headwear_syndicate.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_hostile_syndicate_voidsmen.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/mobs_hostile_syndicate.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Hostile/syndicate_naval_forces.yml
  Resources/ServerInfo/_NF/Guidebook/MobsHostileExpedition/syndicate.xml
Labels: Docs, Map-POI, Map-Bluespace, No C#

#1660 Lathe Fix: components upgrade time and material cost, circuit imprinter fix
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: Status: Needs Review, YML, C#, UI

#1406 Sergeant and Bailiff ship vouchers, round-start NFSD and pirate roles
  Content.Client/Shipyard/BUI/ShipyardConsoleBoundUserInterface.cs
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Server/Shipyard/Components/ShipyardVoucherComponent.cs
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Shared/Shipyard/BUI/ShipyardConsoleInterfaceState.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/ship_vouchers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/_NF/Maps/POI/cove.yml
  Resources/Prototypes/_NF/Maps/POI/nfsd.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/nfsdcadet.png
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/nfsddeputy.png
  Resources/Textures/_NF/Interface/Misc/job_icons.rsi/nfsdsergeant.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/idnfsdbrigmed.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/idnfsdcadet.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/idnfsddeputy.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/idnfsdsergeant.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/nfsdvoucher.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/vouchernfsdbailiff.png
  Resources/Textures/_NF/Objects/Misc/id_cards.rsi/vouchernfsdsergeant.png
Labels: Sprites, YML, C#, UI, FTL

#1640 ConnectionManager: respect existing sessions
  Content.Server/Connection/ConnectionManager.cs
Labels: Status: Needs Review, C#

#1623 Minor Dove fixes
  Resources/Maps/_NF/Shuttles/Expedition/decadedove.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1664 Pirate Cove: add station records computer, inherit BaseStationRecords
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/_NF/Maps/POI/cove.yml
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: Status: Needs Review, Map-Shuttle, Map-POI, No C#

#1665 Small Mobs Fixing
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Server/StationEvents/Events/BluespaceErrorRule.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: Status: Needs Review, C#

#1666 Moving Some Files To Correct Locations
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meat_goblin.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/admin_hand_teleporter.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/dragon_egg.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_NF/Hydroponics/seeds.yml
  Resources/Prototypes/_NF/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_NF/Objects/Consumable/Food/produce.yml
Labels: Status: Needs Review, No C#, YML

#1625 Bulker (Update)
  Resources/Maps/_NF/Shuttles/bulker.yml
  Resources/Prototypes/_NF/Shipyard/bulker.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Bulker.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/bulker.png
Labels: Docs, Map-Shuttle, No C#, Sprites

#1574 NM Spirit quality of life update.
  Resources/Maps/_NF/Shuttles/spirit.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Spirit.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/spirit.png
Labels: Docs, Status: Needs Review, Map-Shuttle, No C#, Sprites

#1580 NT Bottleneck (New) - Station Representative personal transport/office and SR shipyard console
  .github/mapchecker/whitelist.yml
  Content.Shared/Shipyard/SharedShipyardSystem.cs
  Resources/Maps/_NF/Shuttles/Sr/bottleneck.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
  Resources/Textures/_NF/Structures/Machines/computers.rsi/computer_sr.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard_sr.png
Labels: Status: Needs Review, Map-Shuttle, Sprites, C#

#1611 SBB Hammer (New): Medium engineering shuttle
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/hammer.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/hammer.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Hammer.xml
Labels: Docs, Map-Shuttle, No C#, FTL

#1634 Apothecary Shuttle Again!
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/apothecary.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/apothecary.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Apothecary.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/apothecary.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Docs, Map-Shuttle, No C#, Sprites, FTL

#1626 Goblin accent "improvement"
  Content.Server/_NF/Speech/EntitySystems/GoblinAccentSystem.cs
  Resources/Locale/en-US/_NF/accent/goblin_accent.ftl
  Resources/Prototypes/_NF/Accents/word_replacements.yml
  Resources/Prototypes/_NF/Entities/Mobs/Species/goblin.yml
Labels: YML, C#, FTL

#1676 Gourg (Update)
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/Expedition/gourd.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/gourd.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Gourd.xml
Labels: Docs, Status: Needs Review, Map-Shuttle, No C#, FTL

#1677 Remove Some Ships (Waiting For Reworks)
  Resources/Maps/_NF/Shuttles/Expedition/decadedove.yml
  Resources/Maps/_NF/Shuttles/Expedition/pathfinder.yml
  Resources/Maps/_NF/Shuttles/loader.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/anchor.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/courserx.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/rosebudmkii.yml
  Resources/Prototypes/_NF/Shipyard/condor.yml
  Resources/Prototypes/_NF/Shipyard/esquire.yml
  Resources/Prototypes/_NF/Shipyard/knuckleverse.yml
  Resources/Prototypes/_NF/Shipyard/metastable.yml
  Resources/Prototypes/_NF/Shipyard/mission.yml
  Resources/Prototypes/_NF/Shipyard/pulse.yml
  Resources/Prototypes/_NF/Shipyard/rosebudmki.yml
  Resources/Prototypes/_NF/Shipyard/stratos.yml
  Resources/Prototypes/_NF/Shipyard/waveshot.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1678 Add 'Server/Client (Release)' build for VSCode
  .vscode/launch.json
  .vscode/tasks.json
Labels: Status: Needs Review, No C#

#1687 Remove USS Mayflower
  Resources/Maps/_NF/Shuttles/Expedition/mayflower.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/mayflower.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1693 Ceres (Update): Vox + tiny tweaks
  Resources/Maps/_NF/Shuttles/ceres.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Ceres.xml
Labels: Docs, Status: Needs Review, Map-Shuttle, No C#

#1697 Update manuals.yml (YML)
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
Labels: Status: Needs Review, No C#, YML

#1684 Shuttle clean up follow up
  Resources/Maps/_NF/Shuttles/BlackMarket/falcon.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/schooner.yml
  Resources/Maps/_NF/Shuttles/Expedition/ambition.yml
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Maps/_NF/Shuttles/Expedition/courserx.yml
  Resources/Maps/_NF/Shuttles/Expedition/dartx.yml
  Resources/Maps/_NF/Shuttles/Expedition/decadedove.yml
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
  Resources/Maps/_NF/Shuttles/Expedition/gasbender.yml
  Resources/Maps/_NF/Shuttles/Expedition/praeda.yml
  Resources/Maps/_NF/Shuttles/Expedition/rosebudmkii.yml
  Resources/Maps/_NF/Shuttles/Expedition/sprinter.yml
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
  Resources/Maps/_NF/Shuttles/Nfsd/marauder.yml
  Resources/Maps/_NF/Shuttles/Nfsd/opportunity.yml
  Resources/Maps/_NF/Shuttles/Nfsd/prowler.yml
  Resources/Maps/_NF/Shuttles/Nfsd/wasp.yml
  Resources/Maps/_NF/Shuttles/Nfsd/whiskey.yml
  Resources/Maps/_NF/Shuttles/Scrap/bison.yml
  Resources/Maps/_NF/Shuttles/Scrap/canister.yml
  Resources/Maps/_NF/Shuttles/Scrap/disciple.yml
  Resources/Maps/_NF/Shuttles/Scrap/nugget.yml
  Resources/Maps/_NF/Shuttles/Scrap/orange.yml
  Resources/Maps/_NF/Shuttles/Scrap/point.yml
  Resources/Maps/_NF/Shuttles/Scrap/tide.yml
  Resources/Maps/_NF/Shuttles/Syndicate/infiltrator.yml
  Resources/Maps/_NF/Shuttles/barge.yml
  Resources/Maps/_NF/Shuttles/bocadillo.yml
  Resources/Maps/_NF/Shuttles/caduceus.yml
  Resources/Maps/_NF/Shuttles/camper.yml
  Resources/Maps/_NF/Shuttles/chisel.yml
  Resources/Maps/_NF/Shuttles/cleithro.yml
  Resources/Maps/_NF/Shuttles/comet.yml
  Resources/Maps/_NF/Shuttles/condor.yml
  Resources/Maps/_NF/Shuttles/crescent.yml
  Resources/Maps/_NF/Shuttles/esquire.yml
  Resources/Maps/_NF/Shuttles/garden.yml
  Resources/Maps/_NF/Shuttles/hauler.yml
  Resources/Maps/_NF/Shuttles/honker.yml
  Resources/Maps/_NF/Shuttles/investigator.yml
  Resources/Maps/_NF/Shuttles/knuckleverse.yml
  Resources/Maps/_NF/Shuttles/lantern.yml
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Maps/_NF/Shuttles/metastable.yml
  Resources/Maps/_NF/Shuttles/mission.yml
  Resources/Maps/_NF/Shuttles/phoenix.yml
  Resources/Maps/_NF/Shuttles/piecrust.yml
  Resources/Maps/_NF/Shuttles/placebo.yml
  Resources/Maps/_NF/Shuttles/prospector.yml
  Resources/Maps/_NF/Shuttles/pts.yml
  Resources/Maps/_NF/Shuttles/pulse.yml
  Resources/Maps/_NF/Shuttles/rosebudmki.yml
  Resources/Maps/_NF/Shuttles/skipper.yml
  Resources/Maps/_NF/Shuttles/sparrow.yml
  Resources/Maps/_NF/Shuttles/spectre.yml
  Resources/Maps/_NF/Shuttles/stellaris.yml
  Resources/Maps/_NF/Shuttles/stratos.yml
  Resources/Maps/_NF/Shuttles/vagabond.yml
  Resources/Maps/_NF/Shuttles/waveshot.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1694 Construct (Update)
  Resources/Maps/_NF/Shuttles/construct.yml
  Resources/Prototypes/_NF/Shipyard/construct.yml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/construct.png
Labels: Status: Needs Review, Map-Shuttle, No C#, Sprites

#1622 Dragonfly (Update)
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/dragonfly.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1696 Updates Apothecary atmos from 1 air can to o2 n2 mix
  Resources/Maps/_NF/Shuttles/apothecary.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1702 Remove Harpy Skirt Tag, Replace it with a comp
  Content.Shared/_NF/Clothing/Components/HarpyClothingComponent.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/DeltaV/InventoryTemplates/digitigrade_inventory_template.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/random_suit.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/specific.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/random_suit.yml
Labels: Status: Needs Review, YML, C#

#1691 Cognizine, opporozidone syringe fixes
  Resources/Prototypes/_NF/Mail/Items/misc.yml
Labels: No C#, YML

#1686 MailPod (Update)
  Resources/Maps/_NF/Shuttles/mailpod.yml
  Resources/Prototypes/_NF/Shipyard/mailpod.yml
  Resources/Prototypes/_NF/Shipyard/parcel.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1703 Minor POI Update
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/trade.yml
Labels: Status: Needs Review, Map-POI, No C#

#1705 Migrate ComputerTabletopComputerIFFPOI to ComputerTabletopIFFPOI
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/migration.yml
Labels: Status: Needs Review, Map-POI, No C#

#1704 Oni Cleanup
  Content.Shared/Humanoid/NamingSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Locale/en-US/nyanotrasen/species/namepreset.ftl
  Resources/Prototypes/Nyanotrasen/Species/oni.yml
Labels: Status: Needs Review, YML, C#, FTL

#1680 Goblin traditional robes
  Resources/Prototypes/_NF/Entities/Clothing/Head/goblin_headwear.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/goblin_outerclothing.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/goblin_robes_graph.yml
  Resources/Prototypes/_NF/Recipes/Crafting/goblin_clothes.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Clothing/Head/Helmets/goblin_eva_hood.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Helmets/goblin_eva_hood.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Helmets/goblin_eva_hood.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hoods/goblin_robe_hood.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hoods/goblin_robe_hood.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hoods/goblin_robe_hood.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/goblin_robes.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/goblin_robes.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/goblin_robes.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/goblin_robes.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/goblin_robes.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/goblin_eva_robes.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/goblin_eva_robes.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/goblin_eva_robes.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/goblin_eva_robes.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/goblin_eva_robes.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#1689 Pen signing fix (Again)
  Content.Server/Paper/PaperSystem.cs
Labels: C#

#1629 Chemistry Locker Hotfix
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
Labels: Status: Needs Review, No C#, YML

#1707 Fix pirates rule
  Resources/ServerInfo/_NF/Guidebook/Rules/12_PVP.xml
Labels: Docs, No C#

#1710 Chemistry wall locker: rotation fix for opening
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
Labels: No C#, YML

#1699 Expeditions balance pass
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/haunted.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/mineshaft.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_cultists.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_explorers.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_mercenaries.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_punks.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_silicons.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_syndicate.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/expeditions_loot.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_hydroponics.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_kitchen.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_supply.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/expedition_guns.yml
Labels: Status: Needs Review, Map-Dungeon, No C#

#1713 Update to radiation safety gear on Liquidator and Schooner
  Resources/Maps/_NF/Shuttles/BlackMarket/schooner.yml
  Resources/Maps/_NF/Shuttles/bazaar.yml
  Resources/Maps/_NF/Shuttles/liquidator.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1708 Low pop food events
  Content.Server/StationEvents/Components/BluespaceCargoRuleComponent.cs
  Content.Server/StationEvents/Components/BluespaceSyndicateCargoRuleComponent.cs
  Content.Server/StationEvents/Components/StationEventComponent.cs
  Content.Server/StationEvents/Events/BluespaceCargoRule.cs
  Content.Server/StationEvents/Events/BluespaceSyndicateCargoRule.cs
  Resources/Maps/_NF/Bluespace/mcevent.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/_NF/Entities/Effects/bluespace_flash.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/cargo.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_NF/Events/events_bluespace.yml
  Resources/Prototypes/_NF/Events/events_nf.yml
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/base.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/closed.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/icon.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/open.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/sparking.png
  Resources/Textures/_NF/Structures/Storage/Crates/mccargo.rsi/welded.png
Labels: Status: Needs Review, Map-Bluespace, Sprites, C#

#1718 Camper Stacked Bed Fix
  Resources/Maps/_NF/Shuttles/camper.yml
Labels: Map-Shuttle, No C#

#1714 Prospector (Update)
  Resources/Maps/_NF/Shuttles/prospector.yml
  Resources/Prototypes/_NF/Shipyard/prospector.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1671 Investigator (Update)
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/investigator.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/investigator.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Investigator.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/investigator.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Docs, Map-Shuttle, No C#, Sprites, FTL

#1601 Add FuelVend vendor.
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/Cargo/Components/StackPriceComponent.cs
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
  Resources/Locale/en-US/_NF/advertisements/vending/fuelvend.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Power/antimatter_jar.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Advertisements/fuelvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/expeditionaryflatpackvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/fuelvend.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_NF/Structures/Machines/VendingMachines/fuelvend.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/fuelvend.rsi/deny-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/fuelvend.rsi/eject-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/fuelvend.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/fuelvend.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/fuelvend.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/fuelvend.rsi/panel.png
Labels: Status: Needs Review, Sprites, C#, UI, FTL, Map-Outpost

#1722 Added FuelVend to The Lodge and Grifty's
  Resources/Locale/en-US/_NF/navmap-beacons/station-beacons.ftl
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/station_beacon.yml
Labels: Map-POI, No C#, FTL

#1727 SR paperwork templates
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_sr.yml
Labels: Status: Needs Review, No C#, Map-Outpost

#1721 STC Hat and free laceup shoes
  Resources/Prototypes/_NF/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Stc/head.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Stc/shoes.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/stc_loadout_groups.yml
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Head/Hats/stc_cap.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#1730 Spawned random human corpses drop rotten meat if butchered
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Entities/Mobs/Corpses/corpses.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_corpses.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/corpses.yml
Labels: No C#, YML

#1734 Adds author info to SBB and other ships built by Tych0/Arimah
  Resources/Prototypes/_NF/Shipyard/Nfsd/broadhead.yml
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
  Resources/Prototypes/_NF/Shipyard/bookworm.yml
  Resources/Prototypes/_NF/Shipyard/ceres.yml
  Resources/Prototypes/_NF/Shipyard/lyrae.yml
Labels: Map-Shuttle, No C#, YML

#1731 ATM rotation fixes
  Resources/Maps/_NF/Shuttles/Expedition/praeda.yml
  Resources/Maps/_NF/Shuttles/caduceus.yml
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1739 Hauler (Hotfix): Death trap closet is no longer an instant killer
  Resources/Maps/_NF/Shuttles/hauler.yml
Labels: Map-Shuttle, No C#

#1736 Shipyard: restore ping
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
Labels: Status: Needs Review, C#

#1738 Save old bank balance on randomized characters
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: C#, UI

#1716 Late join lobby UI fixes
  Content.Client/_NF/Latejoin/NFLateJoinGui.xaml.cs
  Content.Client/_NF/Latejoin/NewFrontierLateJoinJobButton.xaml.cs
  Content.Client/_NF/Latejoin/VesselListControl.xaml.cs
Labels: Status: Needs Review, C#, UI

#1709 Minor fixes and tweaks for blood moon and syndie vessel
  Resources/Maps/_NF/Bluespace/bloodmoon.yml
  Resources/Maps/_NF/Bluespace/syndieftlintercept.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/bloodcult.yml
  Resources/Textures/_NF/Structures/Specific/BloodCult/glowingfloor.rsi/meta.json
  Resources/Textures/_NF/Structures/Specific/BloodCult/glowingfloor.rsi/wallglow.png
Labels: Map-Bluespace, No C#, Sprites

#1729 Gestio Re-balance
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_mercenaries.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle_low.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/gestio.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/mag-1.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/practice.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/red.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/rubber.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_cap_mag.rsi/uranium.png
Labels: Status: Needs Review, No C#, Sprites, YML

#1743 Blood isn't Food
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/biological.yml
Labels: Status: Needs Review, YML, C#

#1744 Empty Welders
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
Labels: Status: Needs Review, No C#, YML

#1720 Add a few recipes to the engineering techfab
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/devices.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
Labels: No C#, YML

#1735 Before Gib Fixup
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Explosion/Components/OnTrigger/GibOnTriggerComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/_NF/Body/Components/BeforeGibbedEvent.cs
  Content.Server/_NF/Explosion/Components/TriggerOnBeingGibbedComponent.cs
  Content.Server/_NF/Explosion/EntitySystems/TriggerSystem.BeingGibbed.cs
  Resources/Prototypes/Entities/Markers/Spawners/corpses.yml
  Resources/Prototypes/Entities/Mobs/Corpses/corpses.yml
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_corpses.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/corpses.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/subdermal_implants.yml
  Resources/migration.yml
Labels: Status: Needs Review, YML, C#

#1712 Radioactive HyperPacman Generator
  Content.Server/Power/Generator/GeneratorSystem.cs
  Content.Server/Power/Generator/PortableGeneratorSystem.cs
  Content.Shared/Power/Generator/FuelGeneratorComponent.cs
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
  Resources/Textures/_NF/Structures/Power/Generation/portable_generator.rsi/meta.json
  Resources/Textures/_NF/Structures/Power/Generation/portable_generator.rsi/portgen1.png
  Resources/Textures/_NF/Structures/Power/Generation/portable_generator.rsi/portgen1on.png
  Resources/Textures/_NF/Structures/Power/Generation/portable_generator.rsi/portgen_on_unlit.png
Labels: Status: Needs Review, Map-Dungeon, Sprites, C#

#1745 NFSD Badges, Loadout Decency
  Content.Shared/_NF/Preferences/Loadouts/Effects/RoleBlacklistLoadoutEffect.cs
  Content.Shared/_NF/Preferences/Loadouts/Effects/SexLoadoutEffect.cs
  Resources/Locale/en-US/_NF/preferences/loadout-effects.ftl
  Resources/Prototypes/_NF/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/shoes.yml
  Resources/Prototypes/_NF/Loadouts/loadout_effects.yml
Labels: Status: Needs Review, YML, C#, FTL

#1746 Fix gib for syndicate, wizfed and cultist mobs
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_bloodcultist.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_wizardfederation.yml
Labels: No C#, YML

#1637 Adds the CiviMed Vending Machine
  Resources/Locale/en-US/_NF/advertisements/vending/civimed.ftl
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Advertisements/civimed.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/civimed.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_NF/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Service/vending_machine_restock.rsi/refill_civimed.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/civimed.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/civimed.rsi/deny-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/civimed.rsi/eject-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/civimed.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/civimed.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/civimed.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/civimed.rsi/panel.png
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#1706 Vulp Cannon
  Resources/Prototypes/_NF/Mail/Items/misc.yml
  Resources/Prototypes/_NF/Mail/mail.yml
  Resources/Prototypes/_NF/Mail/mailDeliveries.yml
Labels: No C#, YML

#1753 Loadout Hotfix: RoleLoadout checks subgroups in EnsureValid
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
Labels: C#

#1752 Sprinter (Update)
  Resources/Maps/_NF/Shuttles/Expedition/sprinter.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1751 Update Maint Loot
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
Labels: Status: Needs Review, No C#, YML

#1733 Apothecary Post Launch Update
  Resources/Maps/_NF/Shuttles/apothecary.yml
  Resources/Prototypes/_NF/Shipyard/apothecary.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1750 Delete contraband in biomass
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
Labels: Status: Needs Review, C#

#1747 30% markup for expedition shuttles
  Resources/Prototypes/_NF/Shipyard/Expedition/ambition.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/brigand.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/dartx.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/decadedove.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/dragonfly.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/gasbender.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/gourd.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/praeda.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/sprinter.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, YML

#1757 Pirate Hotfix: fix vessel prototype
  Resources/Prototypes/_NF/Shipyard/BlackMarket/barnacle.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/bocakillo.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/falcon.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/menace.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/schooner.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, YML

#1754 Loadouts: make masks mandatory
  Resources/Prototypes/_NF/Loadouts/Jobs/Prisoner/face.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Prisoner/survival.yml
  Resources/Prototypes/_NF/Loadouts/brigmedic_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/nfsd_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/prisoner_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/security_guard_groups.yml
  Resources/Prototypes/_NF/Loadouts/sheriff_loadout_groups.yml
Labels: No C#, YML
