Repository new-frontiers-14/frontier-station-14, pull requests merged in 2024-02, with the labels that each got.

#966 Fix Frontier outpost's station offset to (0, 0), also rechargers
  Content.Shared/CCVar/CCVars.cs
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Status: Needs Review, C#, Map-Outpost

#956 Pulse (Update)
  Resources/Maps/_NF/Shuttles/pulse.yml
  Resources/Prototypes/_NF/Shipyard/pulse.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#953 Helix (Update)
  Resources/Maps/_NF/Shuttles/helix.yml
  Resources/Prototypes/_NF/Shipyard/helix.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#955 Sparrow (Update)
  Resources/Maps/_NF/Shuttles/sparrow.yml
  Resources/Prototypes/_NF/Shipyard/sparrow.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#940 McCargo (Update)
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Maps/_NF/Shuttles/mcdelivery.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Shipyard/mccargo.yml
  Resources/Prototypes/_NF/Shipyard/mcdelivery.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#846 Shuttle Generators
  Content.Server/Power/Generator/PortableGeneratorSystem.cs
  Content.Shared/Power/Generator/FuelGeneratorComponent.cs
  Content.Shared/Power/Generator/SharedPortableGeneratorComponent.cs
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
Labels: Status: Needs Review, YML, C#

#971 Tabletop Computers Fix
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
Labels: Status: Needs Review, No C#, YML

#965 Clown&Mime
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
Labels: Status: Needs Review, No C#, YML

#931 Small Thruster & Gyro now craftable
  Resources/Locale/en-US/_NF/prototypes/catalog/fills/crates/engines-crates.ftl
  Resources/Locale/en-US/_NF/prototypes/entities/shuttles/thrusters.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
Labels: Status: Needs Review, No C#, YML, FTL

#959 Emotional Hats For Emotional Cats
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/emotionalsupportanimals.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/InventoryTemplates/clarpy_inventory_template.yml
  Resources/Prototypes/_NF/InventoryTemplates/clippy_inventory_template.yml
  Resources/Prototypes/_NF/InventoryTemplates/crispy_inventory_template.yml
  Resources/Prototypes/_NF/InventoryTemplates/emotionalsupportpet_inventory_template.yml
  Resources/Prototypes/_NF/InventoryTemplates/mistake_inventory_template.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Prototypes/_Nyano/Entities/Clothing/Head/hats.yml
  Resources/Textures/Clothing/Head/Hats/chefhat.rsi/equipped-HELMET-cat.png
  Resources/Textures/Clothing/Head/Hats/chefhat.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/pirate.rsi/equipped-HELMET-cat.png
  Resources/Textures/Clothing/Head/Hats/pirate.rsi/meta.json
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mailman.rsi/equipped-HELMET-cat.png
  Resources/Textures/Nyanotrasen/Clothing/Head/Hats/mailman.rsi/meta.json
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/crispycat.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/crispycat_dead.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/crispycat_rest.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/crispycat_sit.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/mailcat.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/mailcat_dead.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/mailcat_rest.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/mailcat_sit.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/meta.json
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/piratecat.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/piratecat_dead.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/piratecat_rest.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/piratecat_sit.png
Labels: Status: Needs Review, No C#, Sprites, YML

#968 YML Cleanup
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/cargo_telepad.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/cryo_sleep_pod.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/m_emp.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/_NF/Entities/Structures/atms.yml
  Resources/Prototypes/_NF/Entities/Structures/base_structure.yml
  Resources/Prototypes/_NF/Entities/Structures/pcbs.yml
Labels: Status: Needs Review, No C#, YML

#970 Tickets Machine Cleanup
  Content.Server/Puppet/VentriloquistPuppetSystem.cs
  Content.Shared/Puppet/VentriloquistPuppetComponent.cs
  Resources/Locale/en-US/_NF/ventriloquist/ventriloquist.ftl
  Resources/Prototypes/Entities/Objects/Fun/puppet.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/cuddlycritter.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/prizecounter.yml
  Resources/Textures/_NF/Objects/Storage/Happyhonk/rock_carrier.rsi/box-inhand-left.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/rock_carrier.rsi/box-inhand-right.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/rock_carrier.rsi/box-open.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/rock_carrier.rsi/box.png
  Resources/Textures/_NF/Objects/Storage/Happyhonk/rock_carrier.rsi/meta.json
Labels: Status: Needs Review, Sprites, YML, C#, FTL

#963 Forensic In Vends
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/bountyvend.yml
Labels: No C#, YML

#977 Tall trait tweak
  Content.Server/_NF/SizeAttribute/SizeAttributeSystem.cs
  Content.Server/_NF/SizeAttribute/SizeAttributeWhitelistComponent.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/_Nyano/Entities/Mobs/Species/felinid.yml
Labels: Status: Needs Review, YML, C#

#978 Lobby art
  Resources/Prototypes/_NF/lobbyscreens.yml
  Resources/Textures/_NF/LobbyScreens/attributuions.yml
  Resources/Textures/_NF/LobbyScreens/thesecstealers.png
  Resources/Textures/_NF/LobbyScreens/thesecstealers.png.yml
Labels: Status: Needs Review, No C#, YML

#981 Fax machine fix
  Content.Client/Fax/UI/FaxBoundUi.cs
  Content.Client/Fax/UI/FaxWindow.xaml
Labels: Status: Needs Review, C#, UI

#982 Bluespace Events Fix
  Content.Server/StationEvents/Events/BluespaceErrorRule.cs
Labels: Status: Needs Review, C#

#984 BB Despawn
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Projectiles/toy_projectiles.yml
Labels: Status: Needs Review, No C#, YML

#992 Spider web node broken
  Resources/Prototypes/Entities/Objects/Misc/spider_web.yml
Labels: No C#, YML

#990 NFAshtray
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/ashtray.yml
  Resources/migration.yml
Labels: Status: Needs Review, No C#, YML

#987 Silent R&D
  Content.Server/Research/Systems/ResearchSystem.Console.cs
Labels: Status: Needs Review, C#

#986 Remove BeaconBundle
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
Labels: Status: Needs Review, No C#, YML

#995 Fix mail bag max item size being too small to recieve mails
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/tools.yml
Labels: Status: Awaiting Changes, No C#, YML

#974 Mail Handheld Rapid Parcel Delivery System
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/maildrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/base_mail.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/mail_capsule.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Objects/Misc/mail_capsule.rsi/icon-cash.png
  Resources/Textures/_NF/Objects/Misc/mail_capsule.rsi/icon-empty.png
  Resources/Textures/_NF/Objects/Misc/mail_capsule.rsi/icon-food.png
  Resources/Textures/_NF/Objects/Misc/mail_capsule.rsi/icon-mail.png
  Resources/Textures/_NF/Objects/Misc/mail_capsule.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/mail_capsule.rsi/spent.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/bolt-open.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Launchers/mail.rsi/meta.json
Labels: Status: Needs Review, Sprites, C#, Map-Outpost

#998 feat(ui): Improve Shipyard Menu visual consistency
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml
  Resources/Locale/en-US/_NF/cargo/cargo-console-component.ftl
Labels: Status: Needs Review, No C#, UI, FTL

#1005 fix(ui): Fix dock labels misbehave with UI scaling
  Content.Client/Shuttles/UI/RadarControl.cs
Labels: C#

#1004 refactor: Improve Shipyard Menu internal consistency
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Resources/Locale/en-US/_NF/cargo/cargo-console-component.ftl
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
Labels: C#, UI, FTL

#1003 Buff Security patrol suit and merc
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Status: Needs Review, No C#, YML

#1000 BB Error Fix
  Resources/Locale/en-US/deltav/catalog/cargo/cargo-fun.ftl
  Resources/Locale/en-US/deltav/catalog/fills/crates/fun-crates.ftl
  Resources/Prototypes/DeltaV/Catalog/Fills/Crates/fun.yml
Labels: Status: Needs Review, No C#, YML, FTL

#994 Opportunity (Update)
  Resources/Maps/_NF/Shuttles/Security/opportunity.yml
  Resources/Prototypes/_NF/Shipyard/Security/opportunity.yml
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#757 Diagonal walls and secret doors
  Resources/Prototypes/_NF/Entities/Structures/Doors/secret_door.yml
  Resources/Prototypes/_NF/Entities/Structures/Walls/diagonal_walls.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/structures/secretdoor.yml
  Resources/Prototypes/_NF/Recipes/Construction/structures.yml
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/assembly.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/closed.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/closing.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/meta.json
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/open.png
  Resources/Textures/_NF/Structures/Doors/secret_door_reinforced.rsi/opening.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/assembly.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/closed.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/closing.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/meta.json
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/open.png
  Resources/Textures/_NF/Structures/Doors/secret_door_shuttle.rsi/opening.png
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/assembly.png
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/closed.png
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/closing.png
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/meta.json
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/open.png
  Resources/Textures/_NF/Structures/Doors/secret_door_uranium.rsi/opening.png
  Resources/Textures/_NF/Structures/Doors/secret_door_wood.rsi/assembly.png
  Resources/Textures/_NF/Structures/Doors/secret_door_wood.rsi/closed.png
  Resources/Textures/_NF/Structures/Doors/secret_door_wood.rsi/closing.png
  Resources/Textures/_NF/Structures/Doors/secret_door_wood.rsi/meta.json
  Resources/Textures/_NF/Structures/Doors/secret_door_wood.rsi/open.png
  Resources/Textures/_NF/Structures/Doors/secret_door_wood.rsi/opening.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/state0.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/state1.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/state0.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/state1.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/state0.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/state1.png
Labels: Status: Needs Review, No C#, Sprites, YML

#824 The DEMAG
  Content.Server/Doors/Systems/DoorBoltSystem.cs
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Emag/Components/EmagComponent.cs
  Content.Shared/Emag/Systems/EmagSystem.cs
  Content.Shared/Lock/LockSystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/emag.yml
  Resources/Textures/_NF/Objects/Tools/demag.rsi/icon.png
  Resources/Textures/_NF/Objects/Tools/demag.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Tools/demag.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Tools/demag.rsi/meta.json
Labels: Status: Needs Review, Sprites, YML, C#

#996 Chief engineer's hardsuit 95% radiation protection
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#, YML

#985 SR Office machines movable
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: Status: Needs Review, No C#, YML

#957 "Art"
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/paintings.yml
  Resources/Textures/_NF/Structures/Wallmounts/paintings.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/paintings.rsi/painting0.png
Labels: Status: Needs Review, No C#, Sprites, YML

#1011 Removes syndicate turret box from Caduceus
  Resources/Maps/_NF/Shuttles/caduceus.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1019 Diagonal Windows Retexture
  Resources/Textures/Structures/Windows/plasma_diagonal.rsi/state0.png
  Resources/Textures/Structures/Windows/plasma_diagonal.rsi/state1.png
  Resources/Textures/Structures/Windows/reinforced_plasma_diagonal.rsi/state0.png
  Resources/Textures/Structures/Windows/reinforced_plasma_diagonal.rsi/state1.png
  Resources/Textures/Structures/Windows/reinforced_uranium_diagonal.rsi/state0.png
  Resources/Textures/Structures/Windows/reinforced_uranium_diagonal.rsi/state1.png
  Resources/Textures/Structures/Windows/reinforced_window_diagonal.rsi/state0.png
  Resources/Textures/Structures/Windows/reinforced_window_diagonal.rsi/state1.png
  Resources/Textures/Structures/Windows/uranium_window_diagonal.rsi/state0.png
  Resources/Textures/Structures/Windows/uranium_window_diagonal.rsi/state1.png
  Resources/Textures/Structures/Windows/window_diagonal.rsi/state0.png
  Resources/Textures/Structures/Windows/window_diagonal.rsi/state1.png
Labels: No C#, Sprites

#1017 Shuttle Secret Door Recipe
  Resources/Prototypes/_NF/Entities/Structures/Doors/secret_door.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/structures/secretdoor.yml
  Resources/Prototypes/_NF/Recipes/Construction/structures.yml
Labels: No C#, YML

#1002 Mayflower (Update)
  Resources/Maps/_NF/Shuttles/mayflower.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1006 Honker (Update)
  Resources/Maps/_NF/Shuttles/honker.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage_wallmount.yml
Labels: Map-Shuttle, No C#

#1007 Phoenix (Update)
  Resources/Maps/_NF/Shuttles/phoenix.yml
  Resources/Prototypes/_NF/Shipyard/phoenix.yml
Labels: Map-Shuttle, No C#

#1008 Comet (Update)
  Resources/Maps/Shuttles/comet.yml
  Resources/Maps/_NF/Shuttles/comet.yml
  Resources/Prototypes/_NF/Shipyard/comet.yml
Labels: Map-Shuttle, No C#

#1018 Re-add sparrow.yml
  Resources/Prototypes/_NF/Shipyard/sparrow.yml
Labels: Map-Shuttle, No C#, YML

#1010 Loader (Update)
  Resources/Maps/_NF/Shuttles/loader.yml
  Resources/Prototypes/_NF/Shipyard/loader.yml
Labels: Map-Shuttle, No C#

#1015 Weapon Racks (Update)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_staff.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_wand.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/watergun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Bow/bow.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/flare_gun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/chainsaw.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/gohei.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/needle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/white_cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Bow/crossbow.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/wooden_stake.yml
  Resources/Prototypes/_NF/Entities/Structures/Furniture/Armory/gun_racks_base.yml
  Resources/Prototypes/_NF/Entities/Structures/Furniture/Armory/melee_weaapon_racks_base.yml
  Resources/Prototypes/_NF/Entities/Structures/Furniture/Armory/pistol_racks_base.yml
  Resources/Prototypes/tags.yml
Labels: No C#, YML

#1009 Gasbender, Legman and Pioneer (Minor Updates)
  Resources/Maps/_NF/Shuttles/gasbender.yml
  Resources/Maps/_NF/Shuttles/legman.yml
  Resources/Maps/_NF/Shuttles/pioneer.yml
  Resources/Prototypes/_NF/Shipyard/gasbender.yml
  Resources/Prototypes/_NF/Shipyard/legman.yml
  Resources/Prototypes/_NF/Shipyard/pioneer.yml
Labels: Map-Shuttle, No C#

#883 CODEOWNERS
  .github/CODEOWNERS.txt
Labels: Status: Needs Review, No C#

#834 Carrying/escape-inventory tweaks
  Content.Server/Nyanotrasen/Carrying/CarryingSystem.cs
  Content.Server/Nyanotrasen/Item/PseudoItem/PseudoItemSystem.cs
  Content.Server/Resist/CanEscapeInventoryComponent.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Shared/Resist/EscapeInventoryCancelEvent.cs
  Resources/Locale/en-US/nyanotrasen/carrying/carry.ftl
  Resources/Prototypes/_NF/Entities/Actions/cancel-escape-inventory.yml
  Resources/Textures/_NF/Actions/escapeinventory.rsi/cancel-escape.png
  Resources/Textures/_NF/Actions/escapeinventory.rsi/meta.json
Labels: Status: Needs Review, Sprites, YML, C#, FTL

#906 The Data Carrier (New) - The Grand Arcadia
  Resources/Maps/_NF/Bluespace/DataCarrier.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/arcadiaindustries.yml
  Resources/Prototypes/_NF/Events/events.yml
  Resources/Textures/_NF/Structures/arcadiadrobe.rsi/normal-unshaded.png
Labels: Status: Needs Review, Map-Bluespace, No C#, Sprites

#975 Generators Spawner
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/generator.yml
Labels: Status: Needs Review, No C#, YML

#1021 Fix Arachnid's Blood
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
Labels: No C#, YML

#1025 Dungeon - remove the broken tilesets
  Content.Server/Procedural/DungeonJob.Generator.cs
  Resources/Maps/_NF/Dungeon/ruined_dwellings.yml
  Resources/Maps/_NF/Dungeon/ruined_hospital.yml
  Resources/Maps/_NF/Dungeon/ruined_shops.yml
  Resources/Prototypes/Nyanotrasen/Procedural/Themes/ruined_dwellings.yml
  Resources/Prototypes/Nyanotrasen/Procedural/Themes/ruined_hospital.yml
  Resources/Prototypes/Nyanotrasen/Procedural/Themes/ruined_shops.yml
  Resources/Prototypes/Nyanotrasen/Procedural/dungeon_configs.yml
  Resources/Prototypes/Nyanotrasen/tags.yml
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
Labels: Status: Needs Review, Map-Dungeon, C#

#1029 Sharkminnow Adjustments
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
Labels: Status: Needs Review, No C#, YML

#1026 Fix RD server(s) for new ships/stations
  Content.Server/Research/Systems/ResearchSystem.Client.cs
  Content.Server/Research/Systems/ResearchSystem.Server.cs
Labels: Status: Needs Review, C#

#107 Removes all blocks from research
  Content.Shared/Research/Prototypes/TechDisciplinePrototype.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
Labels: Status: Awaiting Changes, C#

#874 Ceres (New) - Large restaurant
  Resources/Maps/_NF/Shuttles/ceres.yml
  Resources/Prototypes/_NF/Shipyard/ceres.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#964 More latejoin ui tweaks
  Content.Client/_NF/Latejoin/NFLateJoinGui.xaml.cs
  Content.Client/_NF/Latejoin/VesselListControl.xaml.cs
Labels: Enhancement, Status: Needs Review, C#, UI

#1023 Home Décor: More Constructible Furniture, Potted Plant Vendomat and Tile Printer
  Resources/Locale/en-US/_NF/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/Entities/Structures/Decoration/banners.yml
  Resources/Prototypes/Entities/Structures/Decoration/bonfire.yml
  Resources/Prototypes/Entities/Structures/Decoration/fireplace.yml
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/circuitvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/pottedplantvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Entities/Structures/Furniture/altar_frame.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/furniture/altars.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/furniture/banners.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/furniture/beds.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/furniture/benches.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/furniture/fires.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/furniture/sofas.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/furniture/storage.yml
  Resources/Prototypes/_NF/Recipes/Construction/furniture.yml
  Resources/Prototypes/_NF/Recipes/Lathes/floortiles.yml
  Resources/Prototypes/_NF/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/_Park/benches.yml
  Resources/Textures/_NF/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Service/vending_machine_restock.rsi/refill_pottedplant.png
  Resources/Textures/_NF/Structures/Furniture/altar_frame.rsi/altar_frame.png
  Resources/Textures/_NF/Structures/Furniture/altar_frame.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/pottedplantvend.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/pottedplantvend.rsi/deny-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/pottedplantvend.rsi/eject-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/pottedplantvend.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/pottedplantvend.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/pottedplantvend.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/pottedplantvend.rsi/panel.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/closet.rsi/wooden_cabinet_icon.png
Labels: No C#, Sprites, FTL, Map-Outpost

#961 Janitor ERT Shoes
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: Status: Needs Review, No C#, YML

#938 Mail Menace (New) - The blackmarket mail ship
  Resources/Maps/_NF/Shuttles/menace.yml
  Resources/Prototypes/_NF/Shipyard/menace.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1034 loc(bunker): Clarify account age deny reason
  Resources/Locale/en-US/connection-messages.ftl
Labels: No C#, FTL

#1032 Increase default analyzer linking range
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: No C#, YML

#1027 DYS ships (Update)
  Resources/Maps/_NF/Shuttles/decadedove.yml
  Resources/Maps/_NF/Shuttles/dragonfly.yml
Labels: Map-Shuttle, No C#

#1030 Investigator (Update)
  Resources/Maps/Shuttles/investigator.yml
  Resources/Maps/_NF/Shuttles/investigator.yml
  Resources/Prototypes/_NF/Shipyard/investigator.yml
Labels: Map-Shuttle, No C#

#979 Added new Blue Wreck sizes and loot to said wrecks
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Entities/World/Debris/wrecks.yml
  Resources/Prototypes/Nyanotrasen/Markers/Spawners/Random/boxes.yml
  Resources/Prototypes/World/Biomes/basic.yml
Labels: No C#, YML

#1038 Commercial Grade Hyposprays (MiniHypo)
  Resources/Maps/_NF/Shuttles/empress.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Textures/_NF/Objects/Specific/Medical/hypobrigmedic.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Specific/Medical/hypobrigmedic.rsi/hypo.png
  Resources/Textures/_NF/Objects/Specific/Medical/hypobrigmedic.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Medical/hypobrigmedic.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Medical/hypobrigmedic.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Medical/hypomini.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Specific/Medical/hypomini.rsi/hypo.png
  Resources/Textures/_NF/Objects/Specific/Medical/hypomini.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Medical/hypomini.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Medical/hypomini.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Medical/hypominilimitededition.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Specific/Medical/hypominilimitededition.rsi/hypo.png
  Resources/Textures/_NF/Objects/Specific/Medical/hypominilimitededition.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Medical/hypominilimitededition.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Medical/hypominilimitededition.rsi/meta.json
Labels: Status: Needs Review, Map-Shuttle, No C#, Sprites

#1020 Split station bank accounts
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
Labels: C#

#1039 Fix visual bug on disabled magnets
  Content.Shared/Storage/Components/MagnetPickupComponent.cs
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
Labels: C#

#1047 Removes OP IFF from the Menace
  Resources/Maps/_NF/Shuttles/menace.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1054 Make super bite burger easier to craft (#24231)
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: Status: Needs Review, No C#, YML

#1056 [Fix] Printable Advanced Magboots
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Status: Needs Review, No C#, YML

#1058 Pilot Job Gear Fixes
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_NF/Roles/Jobs/Wildcards/pilot.yml
Labels: Status: Needs Review, No C#, YML

#1051 Fixed microreactor cell not being printable
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Status: Needs Review, No C#, YML

#973 Craftable Tabletop Consoles
  Content.Server/Construction/Components/ComputerTabletopBoardComponent.cs
  Content.Server/Construction/NodeEntities/BoardNodeEntity.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/frame_tabletop.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/machines/computer_tabletop.yml
  Resources/Prototypes/_NF/Recipes/Construction/machines.yml
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_board_exposed.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_monitor_unscrewed.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_no_monitor.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_tabletop_frame.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/meta.json
Labels: Sprites, YML, C#

#989 Mining drill back to sci tech
  Resources/Maps/_NF/Shuttles/gourd.yml
  Resources/Maps/_NF/Shuttles/rosebudmkii.yml
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
Labels: Status: Awaiting Changes, Map-Shuttle, No C#

#1050 Mute Debug assertions that crash debug
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
  Resources/Prototypes/Procedural/Magnet/asteroid.yml
Labels: Status: Needs Review, YML, C#

#1024 Add a vestine vial to the contravend
  Resources/Prototypes/Entities/Objects/Specific/chemistry-vials.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/contravend.yml
Labels: No C#, YML

#1031 Stratos (New) - Research vessel
  Resources/Maps/_NF/Shuttles/stratos.yml
  Resources/Prototypes/_NF/Shipyard/stratos.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1059 Tweaks to ban message
  Content.Server/Database/ServerBanDef.cs
  Resources/Locale/en-US/connection-messages.ftl
Labels: C#, FTL

#1040 Shuttle Console Radar improvements
  Content.Client/Shuttles/UI/RadarControl.cs
Labels: Status: Needs Review, C#

#1033 Scrapyard Ship Disciple (new)
  Resources/Maps/_NF/Shuttles/disciple.yml
  Resources/Prototypes/_NF/Shipyard/disciple.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1052 Placebo Psychologist Ship
  Resources/Maps/_NF/Shuttles/placebo.yml
  Resources/Prototypes/_NF/Shipyard/placebo.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1063 Fix RadarControl errors
  Content.Client/Shuttles/UI/RadarControl.cs
Labels: Status: Needs Review, C#

#1066 Fix distant ship labels and frontier label
  Content.Client/Shuttles/UI/RadarControl.cs
Labels: Status: Needs Review, C#
