Repository new-frontiers-14/frontier-station-14, pull requests merged in 2024-10, with the labels that each got.

#2126 Add GitHub auto-label for database migrations
  .github/labeler.yml
Labels: No C#

#2125 CrewMonitoringNavMapControl hotfix
  Content.Client/Medical/CrewMonitoring/CrewMonitoringNavMapControl.cs
Labels: Status: Needs Review, C#

#2129 Restore missing Traits Postgres migration
  Content.Server.Database/Migrations/Postgres/20220816163319_Traits.Designer.cs
  Content.Server.Database/Migrations/Postgres/20220816163319_Traits.cs
Labels: Status: Needs Review, C#, DB Migration

#2131 Hotfix for bugged Stasis floor tiles.
  Resources/Maps/_NF/Shuttles/stasis.yml
Labels: Map-Shuttle, No C#

#2035 Mining, materials rework
  Resources/Locale/en-US/_NF/lathe/lathe-categories.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Reagents/Materials/glass.yml
  Resources/Prototypes/Reagents/Materials/metals.yml
  Resources/Prototypes/Stacks/Materials/ore.yml
  Resources/Prototypes/_NF/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/_NF/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/_NF/Recipes/Lathes/categories.yml
  Resources/Prototypes/_NF/Recipes/Lathes/materials.yml
  Resources/Prototypes/_NF/Recipes/Lathes/sheet.yml
  Resources/Prototypes/_NF/ore.yml
Labels: Status: Needs Review, No C#, YML, FTL

#2121 Adds a doafter to chemical medipens
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Shared/Chemistry/Components/HyposprayComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: Status: Needs Review, YML, C#

#2133 Syndie Cleanbot
  Resources/Changelog/Admin.yml
  Resources/Changelog/Changelog.yml
  Resources/Changelog/Frontier.yml
  Resources/Maps/_NF/Bluespace/syndieftlintercept.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_hostile_syndicate_voidsmen.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/silicon.yml
  Resources/Textures/_NF/Mobs/Silicons/Bots/syndicatecleanbot.rsi/cleanbot.png
  Resources/Textures/_NF/Mobs/Silicons/Bots/syndicatecleanbot.rsi/meta.json
Labels: Status: Needs Review, Map-Bluespace, No C#, Sprites

#2139 Add BusStop field to POI Prototype
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Shared/_NF/GameRule/PointOfInterestPrototype.cs
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Prototypes/_NF/PointsOfInterest/bahamamamas.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
  Resources/Prototypes/_NF/PointsOfInterest/tinniasrest.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
Labels: Map-POI, C#

#2137 Revert "Remove Bing Guss Legs"
  Content.Server/GameTicking/GameTicker.Spawning.cs
Labels: C#

#2077 Jetpack Server Configuration (Port From Einstein-Engines)
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
  Content.Shared/_EE/CCVar/EECCVars.cs
Labels: C#

#2114 Blueprints
  Content.Server/Fax/FaxSystem.cs
  Content.Shared/Paper/PaperComponent.cs
  Resources/Locale/en-US/_NF/fax/fax.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/science.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/document_cases_expedition.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Research/rped.yml
  Resources/Prototypes/_NF/Entities/Objects/Storage/weapon_cases.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/blueprints/blueprints_armory.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/blueprints/blueprints_base.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/blueprints/blueprints_engineering.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/blueprints/blueprints_expedition_loot.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/blueprints/blueprints_medical.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/blueprints/blueprints_salvage.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/blueprints/blueprints_science.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/blueprints/blueprints_service.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/blueprints.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_NF/Research/arsenal.yml
  Resources/Prototypes/_NF/Research/experimental.yml
  Resources/Prototypes/_NF/Research/industrial.yml
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/icon.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/meta.json
  Resources/Textures/_NF/Objects/Storage/Cases/documentcaseshort.rsi/icon-open.png
  Resources/Textures/_NF/Objects/Storage/Cases/documentcaseshort.rsi/icon.png
  Resources/Textures/_NF/Objects/Storage/Cases/documentcaseshort.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Storage/Cases/documentcaseshort.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Storage/Cases/documentcaseshort.rsi/meta.json
  Resources/Textures/_NF/Objects/Storage/Cases/documentcaseshort.rsi/unshaded.png
  Resources/Textures/_NF/Objects/Tools/blueprints.rsi/icon-base.png
  Resources/Textures/_NF/Objects/Tools/blueprints.rsi/icon-text.png
  Resources/Textures/_NF/Objects/Tools/blueprints.rsi/inhand-left-base.png
  Resources/Textures/_NF/Objects/Tools/blueprints.rsi/inhand-left-text.png
  Resources/Textures/_NF/Objects/Tools/blueprints.rsi/inhand-right-base.png
  Resources/Textures/_NF/Objects/Tools/blueprints.rsi/inhand-right-text.png
  Resources/Textures/_NF/Objects/Tools/blueprints.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/blueprint_printer.rsi/building.png
  Resources/Textures/_NF/Structures/Machines/blueprint_printer.rsi/icon.png
  Resources/Textures/_NF/Structures/Machines/blueprint_printer.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/blueprint_printer.rsi/panel.png
  Resources/Textures/_NF/Structures/Machines/blueprint_printer.rsi/unlit.png
Labels: Status: Needs Review, Sprites, YML, C#, FTL

#2143 Minor miscellaneous cleanup (Guidebook, missing RSI)
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Structures/Machines/bombs.yml
  Resources/Prototypes/Guidebook/rules.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/_NF/Entities/Clothing/Hands/gloves_mob_hostile_npcs.yml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
Labels: Docs, Status: Needs Review, No C#, YML

#2145 Admin-only ghost warp fix
  Content.Server/Ghost/GhostSystem.cs
Labels: Status: Needs Review, C#

#2138 Port Food Recipe Guidebook (EE#783)
  Content.Client/_EE/Guidebook/Controls/GuideFoodComposition.xaml
  Content.Client/_EE/Guidebook/Controls/GuideFoodComposition.xaml.cs
  Content.Client/_EE/Guidebook/Controls/GuideFoodEmbed.xaml
  Content.Client/_EE/Guidebook/Controls/GuideFoodEmbed.xaml.cs
  Content.Client/_EE/Guidebook/Controls/GuideFoodGroupEmbed.xaml
  Content.Client/_EE/Guidebook/Controls/GuideFoodGroupEmbed.xaml.cs
  Content.Client/_EE/Guidebook/Controls/GuideFoodSource.xaml
  Content.Client/_EE/Guidebook/Controls/GuideFoodSource.xaml.cs
  Content.Client/_EE/Nutrition/EntitySystems/FoodGuideDataSystem.cs
  Content.Server/_EE/Nutrition/EntitySystems/FoodGuideDataSystem.cs
  Content.Shared/Nutrition/Components/ButcherableComponent.cs
  Content.Shared/_EE/Nutrition/EntitySystems/SharedFoodGuideDataSystem.cs
  Resources/Locale/en-US/_EE/guidebook/food.ftl
  Resources/Prototypes/Guidebook/references.yml
  Resources/ServerInfo/_EE/Guidebook/Service/FoodRecipes.xml
Labels: Docs, Status: Needs Review, YML, C#, UI, FTL

#2146 Contraband POI edits
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Server/_NF/GameRule/Components/AdventureRuleComponent.cs
  Content.Server/_NF/GameRule/Components/SyndicateFOBComponent.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_NF/Smuggling/Components/DeadDropComponent.cs
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
  Content.Shared/Shuttles/Components/IFFComponent.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
  Content.Shared/_NF/GameRule/PointOfInterestPrototype.cs
  Resources/Maps/_NF/DeadDrop/deaddrop.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Prototypes/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/contravend.yml
  Resources/Prototypes/_NF/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/syndicate.yml
  Resources/Prototypes/_NF/Entities/Markers/warp_point.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Entities/Structures/hydro_tray.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/ears.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pilot/ears.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalousgeode.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalouslab.yml
  Resources/Prototypes/_NF/PointsOfInterest/bahamamamas.yml
  Resources/Prototypes/_NF/PointsOfInterest/caseys.yml
  Resources/Prototypes/_NF/PointsOfInterest/courthouse.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
  Resources/Prototypes/_NF/PointsOfInterest/edison.yml
  Resources/Prototypes/_NF/PointsOfInterest/grifty.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
  Resources/Prototypes/_NF/PointsOfInterest/mchobo.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Prototypes/_NF/PointsOfInterest/northpole.yml
  Resources/Prototypes/_NF/PointsOfInterest/omnichurch.yml
  Resources/Prototypes/_NF/PointsOfInterest/thepit.yml
  Resources/Prototypes/_NF/PointsOfInterest/tinniasrest.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
Labels: Status: Needs Review, Map-POI, C#

#2149 Fix vault FTL by deleting the missing prototype
  Resources/Maps/_NF/Bluespace/vault.yml
  Resources/Maps/_NF/Bluespace/vaultsmall.yml
Labels: Status: Needs Review, Map-Bluespace, No C#

#2141 Replace courthouse POI tiny fans with directional, fix up atmos setup
  Resources/Maps/_NF/POI/courthouse.yml
Labels: Status: Needs Review, Map-POI, No C#

#2154 Use correct sprite for sauna atmos fix marker
  Resources/Prototypes/_NF/Entities/Markers/atmos_blocker.yml
Labels: Status: Needs Review, No C#, YML

#2156 Lower the price of shuttle wall
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: Status: Needs Review, No C#, YML

#2069 Skipper Directional Fan Update
  Resources/Maps/_NF/Shuttles/skipper.yml
  Resources/Prototypes/_NF/Shipyard/skipper.yml
Labels: Map-Shuttle, No C#

#1950 RCD can deconstruct the more common walls/window
  Resources/Prototypes/Entities/Structures/Walls/girders.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
Labels: Status: Needs Review, No C#, YML

#2158 Shiptest Fixups
  Content.IntegrationTests/Tests/_NF/ShipyardTests.cs
  Content.Shared/Shipyard/Prototypes/VesselPrototype.cs
  Resources/Maps/_NF/POI/edison.yml
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Maps/_NF/Shuttles/Expedition/decadedove.yml
  Resources/Maps/_NF/Shuttles/Nfsd/broadhead.yml
  Resources/Maps/_NF/Shuttles/Nfsd/prowler.yml
  Resources/Maps/_NF/Shuttles/Scrap/point.yml
  Resources/Maps/_NF/Shuttles/Sr/broom.yml
  Resources/Maps/_NF/Shuttles/Syndicate/infiltrator.yml
  Resources/Maps/_NF/Shuttles/akupara.yml
  Resources/Maps/_NF/Shuttles/apothecary.yml
  Resources/Maps/_NF/Shuttles/beaker.yml
  Resources/Maps/_NF/Shuttles/bookworm.yml
  Resources/Maps/_NF/Shuttles/cleithro.yml
  Resources/Maps/_NF/Shuttles/kestrel.yml
  Resources/Maps/_NF/Shuttles/lantern.yml
  Resources/Maps/_NF/Shuttles/liquidator.yml
  Resources/Maps/_NF/Shuttles/lyrae.yml
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Maps/_NF/Shuttles/piecrust.yml
  Resources/Maps/_NF/Shuttles/pioneer.yml
  Resources/Maps/_NF/Shuttles/placebo.yml
  Resources/Maps/_NF/Shuttles/searchlight.yml
  Resources/Maps/_NF/Shuttles/stratos.yml
  Resources/Maps/_NF/Shuttles/vagabond.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/anchor.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/broadhead.yml
  Resources/Prototypes/_NF/Shipyard/Scrap/orange.yml
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
  Resources/Prototypes/_NF/Shipyard/Sr/chauffeur.yml
  Resources/Prototypes/_NF/Shipyard/apothecary.yml
  Resources/Prototypes/_NF/Shipyard/barge.yml
  Resources/Prototypes/_NF/Shipyard/bazaar.yml
  Resources/Prototypes/_NF/Shipyard/bocadillo.yml
  Resources/Prototypes/_NF/Shipyard/caduceus.yml
  Resources/Prototypes/_NF/Shipyard/ceres.yml
  Resources/Prototypes/_NF/Shipyard/crescent.yml
  Resources/Prototypes/_NF/Shipyard/eagle.yml
  Resources/Prototypes/_NF/Shipyard/hammer.yml
  Resources/Prototypes/_NF/Shipyard/hauler.yml
  Resources/Prototypes/_NF/Shipyard/loader.yml
  Resources/Prototypes/_NF/Shipyard/lyrae.yml
  Resources/Prototypes/_NF/Shipyard/mccargo.yml
  Resources/Prototypes/_NF/Shipyard/phoenix.yml
  Resources/Prototypes/_NF/Shipyard/piecrust.yml
  Resources/Prototypes/_NF/Shipyard/pts.yml
  Resources/Prototypes/_NF/Shipyard/stasis.yml
  Resources/Prototypes/_NF/Shipyard/stellaris.yml
Labels: Status: Needs Review, Map-Shuttle, Map-POI, C#

#2064 Fix artifact analyzers to consume power only during scanning
  Content.Server/Xenoarchaeology/Equipment/Components/ArtifactAnalyzerComponent.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/artifact_analyzer.yml
Labels: YML, C#

#1985 Dungeon enemies rebalance: Aberrant Flesh
  .github/workflows/validate-rsis.yml
  Resources/Changelog/Frontier.yml
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Procedural/salvage_factions.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_hostile_aberrant_flesh.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/mobs_hostile_aberrant_flesh.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_aberrant_flesh.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Throwable/throwable_weapons.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/aberrant_flesh.yml
  Resources/ServerInfo/_NF/Guidebook/MobsHostileExpedition/aberrant_flesh.xml
  Resources/Textures/_NF/Effects/wet.rsi/meta.json
  Resources/Textures/_NF/Effects/wet.rsi/wet.png
  Resources/Textures/_NF/Mobs/Aliens/flesh.rsi/meta.json
  Resources/Textures/_NF/Mobs/Aliens/flesh.rsi/spike.png
  Resources/Textures/_NF/Mobs/Aliens/flesh.rsi/spikeSolution1.png
Labels: Docs, Status: Needs Review, No C#, Sprites, YML, FTL

#2164 Sawn-off PKA Nerf
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Basic/sawn_pka.yml
Labels: Status: Needs Review, No C#, YML

#2162 Hotfix to the Acradia machine bug
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: No C#, YML

#1945 Added much needed Air Alarms to the Crescent
  Resources/Maps/_NF/Shuttles/crescent.yml
  Resources/Prototypes/_NF/Shipyard/crescent.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2165 Crescent Price Fix
  Resources/Prototypes/_NF/Shipyard/crescent.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, YML

#2166 Mapping Fixups
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/Shuttles/caduceus.yml
  Resources/Maps/_NF/Shuttles/crescent.yml
  Resources/Maps/_NF/Shuttles/sparrow.yml
  Resources/Maps/_NF/Shuttles/stratos.yml
  Resources/Prototypes/_NF/Shipyard/Scrap/disciple.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, Map-Outpost

#2170 Add ship tests and extra tests fixups
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/conflict-labeler.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/nf-mapchecker.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/update-credits.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
  Resources/Credits/GitHub.txt
  Resources/Locale/en-US/credits/credits-window.ftl
  Tools/contribs_shared.ps1
  Tools/dump_github_contributors.ps1
Labels: Status: Needs Review, No C#, FTL

#2174 Ship Test Fixes
  Resources/Maps/_NF/Shuttles/BlackMarket/schooner.yml
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
  Resources/Maps/_NF/Shuttles/Nfsd/opportunity.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/shield.png
  Resources/migration.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, Sprites

#2178 Small Cleanup
  Resources/Locale/en-US/_NF/job/job-description.ftl
  Resources/Locale/en-US/_NF/job/job-names.ftl
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_NF/Entities/Markers/pacified_zone.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/DetectiveNF/pda.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/NFDetective/gloves.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/NFDetective/head.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/NFDetective/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/NFDetective/neck.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/NFDetective/outer.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/NFDetective/pda.yml
  Resources/Prototypes/_NF/Loadouts/detectivenf_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/nfdetective_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Maps/debug.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/nfdetective.yml
  Resources/Prototypes/_NF/StatusIcon/job.yml
  Resources/Textures/_NF/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/pda.rsi/pda-nfdetective.png
  Resources/migration.yml
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#2102 Adds FSB Spirit poster and two EMS signs.
  Resources/Prototypes/_NF/Entities/Markers/Spawners/posters.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/contraband.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster7_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster8_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/bus.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/dock.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/ems1.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/ems2.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/meta.json
Labels: No C#, Sprites, YML

#2157 Add magic crayon
  Content.Client/Crayon/CrayonSystem.cs
  Content.Server/Crayon/CrayonSystem.cs
  Resources/Locale/en-US/_NF/crayon/crayon-component.ftl
  Resources/Prototypes/_NF/Entities/Objects/Fun/magic_crayon.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/fun.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Textures/_NF/Objects/Fun/catplushie.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/corgiplushie.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/foxplushie.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/magic_crayon.rsi/icon-inhand-left.png
  Resources/Textures/_NF/Objects/Fun/magic_crayon.rsi/icon-inhand-right.png
  Resources/Textures/_NF/Objects/Fun/magic_crayon.rsi/icon.png
  Resources/Textures/_NF/Objects/Fun/magic_crayon.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/petrock.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/prizeticket.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/toys.rsi/meta.json
Labels: Sprites, YML, C#, FTL

#2180 Update Phoenix Price
  Resources/Prototypes/_NF/Shipyard/phoenix.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, YML

#2181 Fix benches errors with the SimpleStation14 benches
  Resources/Prototypes/SimpleStation14/benches.yml
Labels: Status: Needs Review, No C#, YML, C#

#2184 Unblood Your Blood
  Resources/Prototypes/Recipes/Reactions/biological.yml
  Resources/Prototypes/Recipes/Reactions/food.yml
Labels: Status: Needs Review, No C#, YML

#2066 Barge Directional Fan Update
  Resources/Maps/_NF/Shuttles/barge.yml
  Resources/Prototypes/_NF/Shipyard/barge.yml
Labels: Map-Shuttle, No C#

#2097 Replaces Barnacle tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/BlackMarket/barnacle.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/barnacle.yml
Labels: Map-Shuttle, No C#

#2104 Replace Empress tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
Labels: Map-Shuttle, No C#

#2107 Update Construct tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/construct.yml
Labels: Map-Shuttle, No C#

#2135 Replace tiny fans with directional in Anomalous Geode POI
  Resources/Maps/_NF/POI/anomalousgeode.yml
Labels: Map-POI, No C#

#2153 Replace Arena (The Pit) POI tiny fans with directional fans
  Resources/Maps/_NF/POI/arena.yml
Labels: Map-POI, No C#

#2155 Replace cargo depot POI tiny fans with directional fans
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/cargodepotalt.yml
Labels: Map-POI, No C#

#2136 Replace Anomalous Lab POI tiny fans with directional fans
  Resources/Maps/_NF/POI/anomalouslab.yml
Labels: Map-POI, No C#

#2140 Replace Omnichurch Beacon POI tiny fans with directional fans
  Resources/Maps/_NF/POI/beacon.yml
Labels: Map-POI, No C#

#2144 Replace Tinnia's Rest POI tiny fans with directional fans
  Resources/Maps/_NF/POI/tinnia.yml
Labels: Map-POI, No C#

#2173 Butter reagent can now be extracted from butter.
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
Labels: No C#, YML

#2127 Fill states for the Frontier chemistry and medicine wall lockers.
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
Labels: No C#, YML

#2196 Opporozidone recipe tweak.
  Resources/Prototypes/_NF/Recipes/Reactions/medicine.yml
Labels: Status: Needs Review, No C#, YML

#2110 Replaced Beaker tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/beaker.yml
Labels: Map-Shuttle, No C#

#2108 Replace Honker tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/honker.yml
Labels: Map-Shuttle, No C#

#2106 Replace Sparrow tiny fans with directional fans
  Resources/Maps/_NF/Shuttles/sparrow.yml
Labels: Map-Shuttle, No C#

#2187 Emitters Changup
  Content.Shared/Singularity/Components/SharedEmitterComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/emitter.yml
Labels: Status: Needs Review, YML, C#

#2202 Personal Transport Shuttle Directional Fan Compliance Update
  Resources/Maps/_NF/Shuttles/pts.yml
Labels: Map-Shuttle, No C#

#2197 Extractable crystal shard
  Resources/Prototypes/Entities/Objects/Materials/crystal_shard.yml
Labels: Status: Needs Review, No C#, YML

#2189 Fixes shelf construction rotation
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/shelfs.yml
Labels: No C#, YML

#2065 Sprinter atmos rework
  Resources/Maps/_NF/Shuttles/Expedition/sprinter.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/sprinter.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2087 Replaces Anchor tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/anchor.yml
Labels: Map-Shuttle, No C#

#2098 Replaces Falcon tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/BlackMarket/falcon.yml
Labels: Map-Shuttle, No C#

#2099 Replace Schooner tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/BlackMarket/schooner.yml
Labels: Map-Shuttle, No C#

#2045 Add an item appraisal cartridge for PDAs
  Content.Client/_NF/CartridgeLoader/Cartridges/AppraisalUi.cs
  Content.Client/_NF/CartridgeLoader/Cartridges/AppraisalUiFragment.xaml
  Content.Client/_NF/CartridgeLoader/Cartridges/AppraisalUiFragment.xaml.cs
  Content.Server/_NF/CartridgeLoader/Cartridges/AppraisalCartridgeComponent.cs
  Content.Server/_NF/CartridgeLoader/Cartridges/AppraisalCartridgeSystem.cs
  Content.Shared/_NF/CartridgeLoader/Cartridges/AppraisalUiState.cs
  Resources/Locale/en-US/_NF/cartridge-loader/cartridges.ftl
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/astrovend.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/cartridges.yml
Labels: Status: Needs Review, YML, C#, UI, FTL

#2160 Replace NSF Marauder tiny fans with directional fans
  Resources/Maps/_NF/Shuttles/Nfsd/marauder.yml
Labels: Map-Shuttle, No C#

#2128 Guidebook Entry: Skipper, Placebo
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/placebo.yml
  Resources/Prototypes/_NF/Shipyard/skipper.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Placebo.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Skipper.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/placebo.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/skipper.png
Labels: Docs, Map-Shuttle, No C#, Sprites, YML, FTL

#2150 Guidebook Entry: Honker, Sparrow
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/honker.yml
  Resources/Prototypes/_NF/Shipyard/sparrow.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Honker.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Sparrow.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/honker.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/sparrow.png
Labels: Docs, Map-Shuttle, No C#, Sprites, YML, FTL

#2188 Shovel fixes
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/Tiles/planet.yml
Labels: YML, C#

#2203 Adds carpets to the tile cutter.
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#, YML

#2208 Bahama Mama's: Fix power issues + some tiny changes
  Resources/Maps/_NF/POI/bahama.yml
Labels: Status: Needs Review, Map-POI, No C#

#2210 Make meatballs cookable again
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
Labels: Status: Needs Review, No C#, YML

#2211 Remove all unused shuttles files
  Resources/Maps/_NF/Shuttles/Expedition/courserx.yml
  Resources/Maps/_NF/Shuttles/Expedition/dartx.yml
  Resources/Maps/_NF/Shuttles/Expedition/rosebudmkii.yml
  Resources/Maps/_NF/Shuttles/Nfsd/opportunity.yml
  Resources/Maps/_NF/Shuttles/Nfsd/whiskey.yml
  Resources/Maps/_NF/Shuttles/cleithro.yml
  Resources/Maps/_NF/Shuttles/condor.yml
  Resources/Maps/_NF/Shuttles/crown.yml
  Resources/Maps/_NF/Shuttles/esquire.yml
  Resources/Maps/_NF/Shuttles/helix.yml
  Resources/Maps/_NF/Shuttles/knuckleverse.yml
  Resources/Maps/_NF/Shuttles/metastable.yml
  Resources/Maps/_NF/Shuttles/mission.yml
  Resources/Maps/_NF/Shuttles/pulse.yml
  Resources/Maps/_NF/Shuttles/rosebudmki.yml
  Resources/Maps/_NF/Shuttles/stratos.yml
  Resources/Maps/_NF/Shuttles/waveshot.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/goldenrose.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/courserx.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/dartx.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/rosebudmkii.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/opportunity.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/whiskey.yml
  Resources/Prototypes/_NF/Shipyard/cleithro.yml
  Resources/Prototypes/_NF/Shipyard/condor.yml
  Resources/Prototypes/_NF/Shipyard/crown.yml
  Resources/Prototypes/_NF/Shipyard/esquire.yml
  Resources/Prototypes/_NF/Shipyard/helix.yml
  Resources/Prototypes/_NF/Shipyard/knuckleverse.yml
  Resources/Prototypes/_NF/Shipyard/metastable.yml
  Resources/Prototypes/_NF/Shipyard/mission.yml
  Resources/Prototypes/_NF/Shipyard/pulse.yml
  Resources/Prototypes/_NF/Shipyard/rosebudmki.yml
  Resources/Prototypes/_NF/Shipyard/stratos.yml
  Resources/Prototypes/_NF/Shipyard/waveshot.yml
  Resources/Textures/_NF/Objects/Misc/goldenrose.rsi/icon.png
  Resources/Textures/_NF/Objects/Misc/goldenrose.rsi/meta.json
Labels: Status: Needs Review, Map-Shuttle, No C#, Sprites

#1951 Caveman accent
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Speech/Components/AddAccentPickupComponent.cs
  Content.Server/_NF/Speech/Components/CavemanAccentComponent.cs
  Content.Server/_NF/Speech/EntitySystems/AddAccentPickupSystem.cs
  Content.Server/_NF/Speech/EntitySystems/CavemanAccentSystem.cs
  Resources/Audio/_NF/Effects/attributions.yml
  Resources/Audio/_NF/Effects/bonk.ogg
  Resources/Locale/en-US/_NF/accent/caveman.ftl
  Resources/Locale/en-US/_NF/administration/smites.ftl
  Resources/Prototypes/_NF/Accents/word_replacements.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/caveman_club.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/weapons/caveman_club.yml
  Resources/Prototypes/_NF/Recipes/Construction/weapons.yml
  Resources/Textures/_NF/Objects/Weapons/Melee/caveman_club.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Melee/caveman_club.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Melee/caveman_club.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/caveman_club.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Melee/caveman_club.rsi/meta.json
Labels: Status: Needs Review, Sprites, YML, C#, FTL

#2200 Complete rewrite of latejoin window
  Content.Client/Administration/UI/CustomControls/HSeparator.cs
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/_NF/LateJoin/Controls/CrewPickerControl.xaml
  Content.Client/_NF/LateJoin/Controls/CrewPickerControl.xaml.cs
  Content.Client/_NF/LateJoin/Controls/StationOrCrewLargeControl.xaml
  Content.Client/_NF/LateJoin/Controls/StationOrCrewLargeControl.xaml.cs
  Content.Client/_NF/LateJoin/Controls/StationPickerControl.xaml
  Content.Client/_NF/LateJoin/Controls/StationPickerControl.xaml.cs
  Content.Client/_NF/LateJoin/Extensions/StationJobInformationExtensions.cs
  Content.Client/_NF/LateJoin/Interfaces/IPickerControl.cs
  Content.Client/_NF/LateJoin/ListItems/CrewListItem.xaml
  Content.Client/_NF/LateJoin/ListItems/CrewListItem.xaml.cs
  Content.Client/_NF/LateJoin/ListItems/JobListItem.xaml
  Content.Client/_NF/LateJoin/ListItems/JobListItem.xaml.cs
  Content.Client/_NF/LateJoin/ListItems/StationListItem.xaml
  Content.Client/_NF/LateJoin/ListItems/StationListItem.xaml.cs
  Content.Client/_NF/LateJoin/Windows/PickerWindow.xaml
  Content.Client/_NF/LateJoin/Windows/PickerWindow.xaml.cs
  Content.Client/_NF/Latejoin/NFLateJoinGui.xaml
  Content.Client/_NF/Latejoin/NFLateJoinGui.xaml.cs
  Content.Client/_NF/Latejoin/NewFrontierLateJoinJobButton.xaml.cs
  Content.Client/_NF/Latejoin/VesselListControl.xaml
  Content.Client/_NF/Latejoin/VesselListControl.xaml.cs
  Content.Server/Station/Systems/StationJobsSystem.cs
  Content.Server/_NF/Station/Components/ExtraStationInformationComponent.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Resources/Locale/en-US/_NF/lobby/lobby.ftl
  Resources/Locale/en-US/_NF/lobby/station.ftl
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Textures/_NF/Interface/Misc/arrow-right.png
Labels: Status: Needs Review, YML, C#, UI, FTL

#2220 Publishing workflow changes
  Tools/publish_multi_request.py
Labels: Status: Needs Review, No C#

#2221 Material Arbitrage Fixes
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Walls/girders.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/base_turret.yml
Labels: No C#, YML

#2163 Departmental EVA resprite + helmet lights
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/departmental_eva.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-base.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-decals-01.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-decals-02.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-light.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-reinforced-points.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-visor.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/icon-base.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/icon-decals-01.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/icon-decals-02.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/icon-flash.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/icon-reinforced-points.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/icon-visor.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/light-overlay.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_hydro.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_hydro.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_hydro.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_mailman.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_mailman.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_mailman.rsi/meta.json
  Resources/Textures/_NF/Clothing/Mask/punkhalfmask.rsi/meta.json
  Resources/Textures/_NF/Clothing/Mask/punkhalfmask.rsi/up-equipped-MASK.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-base.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-breathing-gear.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-decals-01.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-decals-02-boxer.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-reinforced-points.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-unshaded.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/icon-base.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/icon-breathing-gear.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/icon-decals-01.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/icon-decals-02-boxer.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/icon-reinforced-points.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/icon-unshaded.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/inhand-left-base.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/inhand-left-breathing-gear.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/inhand-left-unshaded.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/inhand-right-base.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/inhand-right-breathing-gear.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/inhand-right-unshaded.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_hydro.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_hydro.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_hydro.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_hydro.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_hydro.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_mailman.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_mailman.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_mailman.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_mailman.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_mailman.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#2216 Fix EVA suits errors and suit fills
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/departmental_eva.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
Labels: Status: Needs Review, No C#, YML

#2224 Turret MobStates thresholds fix
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/base_turret.yml
Labels: No C#, YML

#2225 Unpacify NFSD and Lodge
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/nfsd.yml
Labels: Status: Needs Review, Map-POI, No C#

#2229 Inflatable Wall Fix
  Resources/Prototypes/Entities/Objects/Misc/inflatable_wall.yml
  Resources/Prototypes/Entities/Objects/Tools/inflatable_wall.yml
Labels: Status: Needs Review, No C#, YML

#2228 Resaved LavaBrig template
  Resources/Maps/_NF/Dungeon/lava_brig.yml
Labels: Status: Needs Review, Map-Dungeon, No C#

#2231 Update Dev Map
  Resources/Maps/_NF/Test/dev_map.yml
Labels: Status: Needs Review, No C#

#2232 Clock wall price fix
  Resources/Prototypes/Entities/Structures/Walls/girders.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: Status: Needs Review, No C#, YML

#2075 Cyborg Advanced Modules (Mining, Medical)
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_NF/Recipes/Lathes/robotics.yml
  Resources/Textures/_NF/Objects/Specific/Robotics/borgmodule.rsi/icon-advancedmining.png
  Resources/Textures/_NF/Objects/Specific/Robotics/borgmodule.rsi/icon-paramedic.png
  Resources/Textures/_NF/Objects/Specific/Robotics/borgmodule.rsi/meta.json
Labels: No C#, Sprites, YML

#1990 Medium NFSD Interdictor - Wendigo (New)
  Resources/Maps/_NF/Shuttles/Nfsd/wendigo.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/wendigo.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2234 Remove the Marauder
  Resources/Maps/_NF/Shuttles/Nfsd/marauder.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/marauder.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2235 Label implanters
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/implanter.yml
Labels: Status: Needs Review, No C#, YML

#2236 Skipper kitchen equipment hotfix.
  Resources/Maps/_NF/Shuttles/skipper.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2237 Unhide shuttle computer in entity spawn menu
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: No C#, YML

#2238 Fix Wendigo network configurator error
  Resources/Maps/_NF/Shuttles/Nfsd/wendigo.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2226 fix prebuilt tabletop computer deconstruction
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/frame_tabletop.yml
Labels: No C#, YML

#2239 Fix CrateTrashCart contents exceeding maximum contents
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
Labels: Status: Needs Review, No C#, YML

#2241 Fix shipyard causing SpawnAndDeleteEntityCountTest to fail
  Content.Server/Shipyard/Systems/ShipyardSystem.cs
Labels: Status: Needs Review, C#

#2242 Fix TryIndex used with null param
  Content.Client/Nyanotrasen/Mail/MailSystem.cs
Labels: Status: Needs Review, C#

#2245 Fix SpawnInHand not working for blood cultists
  Resources/Prototypes/_NF/Roles/Jobs/Hostile/blood_cultists.yml
Labels: No C#, YML

#2246 Update computers.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Status: Needs Review, No C#, YML

#2247 Fixup Spawnpoint
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/jobs.yml
Labels: Status: Needs Review, Map-POI, No C#

#2213 Сontainer grid sizes and footprints
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/base_clothing_backpack.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/base_clothing_belt.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_crossbow_quiver.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_punk.yml
  Resources/Prototypes/_NF/Entities/Objects/Storage/weapon_cases.yml
Labels: No C#, YML

#2248 Change cases to heavy to fit weapons
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
Labels: No C#, YML

#2249 Remove static price
  Resources/Prototypes/Entities/Objects/Tools/fulton.yml
Labels: No C#, YML

#2251 DeadDropSystem: check lifecycle and null refs on compromise.
  Content.Server/_NF/Smuggling/DeadDropSystem.cs
Labels: C#

#2253 Long weapon cases fix
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Entities/Objects/Storage/weapon_cases.yml
Labels: Status: Needs Review, No C#, YML

#2252 Debuggable dungen output, wallmount typo
  Content.Server/Gateway/Systems/GatewayGeneratorSystem.cs
  Content.Server/Procedural/DungeonJob/DungeonJob.cs
  Content.Server/Procedural/DungeonSystem.Commands.cs
  Content.Server/Procedural/DungeonSystem.cs
  Content.Server/Salvage/SalvageSystem.Magnet.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.GridFill.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Shared/Procedural/DungeonConfig.cs
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
Labels: Status: Needs Review, YML, C#

#2254 Material Arbitrage
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/tin.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Structures/Furniture/bench.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Furniture/toilet.yml
  Resources/Prototypes/Entities/Structures/Lighting/ground_lighting.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/frame.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Entities/Structures/Walls/girders.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/SimpleStation14/benches.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Projectiles/crossbow_bolts.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_NF/Recipes/Lathes/clothes.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_NF/Recipes/Lathes/eva.yml
  Resources/Prototypes/_NF/Research/industrial.yml
Labels: No C#, YML

#2255 FuelVend Update
  Content.Server/Power/Generator/GeneratorSystem.cs
  Content.Server/Power/Generator/SolidFuelGeneratorAdapterComponent.cs
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/materials.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/fuelvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Textures/_NF/Objects/Specific/Fuel/fuelgrade_material.rsi/bananium.png
  Resources/Textures/_NF/Objects/Specific/Fuel/fuelgrade_material.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Fuel/fuelgrade_material.rsi/plasma.png
  Resources/Textures/_NF/Objects/Specific/Fuel/fuelgrade_material.rsi/uranium.png
Labels: Status: Needs Review, No C#, Sprites, YML, C#

#2227 Respawn timer fix: show correct time on reconnect
  Content.Server/Corvax/Respawn/RespawnSystem.cs
Labels: C#

#2215 Crafts Medical Pens
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_NF/Recipes/Cooking/medical_recipes.yml
  Resources/Prototypes/_NF/Recipes/Lathes/chemistry.yml
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/medipen-inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/medipen-inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/medipen.png
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/meta.json
Labels: No C#, Sprites, YML

#2257 Price Fixup Ships
  Resources/Prototypes/_NF/Shipyard/Nfsd/broadhead.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/inquisitor.yml
  Resources/Prototypes/_NF/Shipyard/Scrap/orange.yml
  Resources/Prototypes/_NF/Shipyard/Sr/chauffeur.yml
  Resources/Prototypes/_NF/Shipyard/bookworm.yml
  Resources/Prototypes/_NF/Shipyard/caduceus.yml
  Resources/Prototypes/_NF/Shipyard/ceres.yml
  Resources/Prototypes/_NF/Shipyard/garden.yml
  Resources/Prototypes/_NF/Shipyard/kilderkin.yml
  Resources/Prototypes/_NF/Shipyard/lantern.yml
  Resources/Prototypes/_NF/Shipyard/mccargo.yml
  Resources/Prototypes/_NF/Shipyard/pts.yml
  Resources/Prototypes/_NF/Shipyard/spirit.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, YML

#2260 Dungeons Maps Fix
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/haunted.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
Labels: Status: Needs Review, Map-Dungeon, No C#

#2176 Ice and Sandstone walls dont spawn girders
  Resources/Prototypes/_NF/Entities/Structures/Walls/walls.yml
Labels: No C#, YML

#2261 Fix small animals gib and slow down the lathe
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Recipes/Lathes/rehydrateable.yml
Labels: No C#, YML

#2209 Big bug fixing part 2
  .github/workflows/build-test-debug.yml
  Content.IntegrationTests/Tests/CargoTest.cs
  Content.IntegrationTests/Tests/Internals/AutoInternalsTests.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.IntegrationTests/Tests/Station/StationJobsTest.cs
  Content.IntegrationTests/Tests/_NF/FrontierConstants.cs
Labels: Map-POI, No C#, YML, C#

#2205 FSB Spirit Poster Update
  Resources/Maps/_NF/Shuttles/spirit.yml
  Resources/Prototypes/_NF/Shipyard/spirit.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2264 Ships Price Fixup
  Resources/Prototypes/_NF/Shipyard/Expedition/gasbender.yml
  Resources/Prototypes/_NF/Shipyard/harbormaster.yml
  Resources/Prototypes/_NF/Shipyard/hauler.yml
  Resources/Prototypes/_NF/Shipyard/lyrae.yml
  Resources/Prototypes/_NF/Shipyard/phoenix.yml
  Resources/Prototypes/_NF/Shipyard/piecrust.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, YML

#2206 Apothecary Medical Assembler Update
  Resources/Maps/_NF/Shuttles/apothecary.yml
  Resources/Prototypes/_NF/Shipyard/apothecary.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2201 Caduceus atmos update and cloning removal.
  Resources/Maps/_NF/Shuttles/caduceus.yml
  Resources/Prototypes/_NF/Shipyard/caduceus.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2266 Eagle (Medical Assembler-Update)
  Resources/Maps/_NF/Shuttles/eagle.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2267 Entity YAML Cleanup
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/cards.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/goblin_outerclothing.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/drinks_keg.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/mortuary_urn.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/crate_machine.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/microwave_recipe_assemblers.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_security.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
Labels: Status: Needs Review, No C#, YML

#2268 Ammolathe Blueprints (for real), Hide Secfab
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Status: Needs Review, No C#, YML

#2265 Goblinbane Nerf
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_meme_goblinbane.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_meme_goblinbane_minions.yml
Labels: Status: Needs Review, No C#, YML, FTL

#2240 Halloween: Cauldron to replace deep fryers
  Content.Server/Holiday/HolidayPrototype.cs
  Content.Server/Holiday/HolidaySystem.cs
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/deep_fryer.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/microwave_recipe_assemblers.yml
  Resources/Prototypes/holidays.yml
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/off-0.png
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/off-1.png
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/off-2.png
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/off-3.png
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/off-4.png
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/off-5.png
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/off-6.png
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/off-7.png
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/off-8.png
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/on-1.png
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/on-2.png
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/on-3.png
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/on-4.png
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/on-5.png
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/on-6.png
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/on-7.png
  Resources/Textures/_NF/Structures/Machines/cauldron.rsi/on-8.png
Labels: Sprites, YML, C#

#2269 Components & lathe speed balance pass
  Content.Server/_NF/Construction/ConstructionSystem.Machine.Upgrades.cs
  Content.Shared/_NF/Construction/MachinePartSystem.cs
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/microwave_recipe_assemblers.yml
Labels: Status: Needs Review, YML, C#

#2191 Folding Plastic Table
  Content.Shared/_NF/Foldable/FoldableFixtureComponent.cs
  Content.Shared/_NF/Foldable/FoldableFixtureSystem.cs
  Resources/Prototypes/_NF/Entities/Structures/Furniture/tables.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/furniture/folding_table.yml
  Resources/Prototypes/_NF/Recipes/Construction/furniture.yml
  Resources/Textures/_NF/Structures/Furniture/folding_table.rsi/folding.png
  Resources/Textures/_NF/Structures/Furniture/folding_table.rsi/folding_folded.png
  Resources/Textures/_NF/Structures/Furniture/folding_table.rsi/inhand-left.png
  Resources/Textures/_NF/Structures/Furniture/folding_table.rsi/inhand-right.png
  Resources/Textures/_NF/Structures/Furniture/folding_table.rsi/meta.json
Labels: No C#, Sprites, YML, C#

#2207 Adds Medical Assembler to FSB Stasis
  Resources/Maps/_NF/Shuttles/stasis.yml
  Resources/Prototypes/_NF/Shipyard/stasis.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2272 Remove salvage magnet board recipes
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Status: Needs Review, No C#, YML

#2169 Replace NSF Inquisitor tiny fans with directionals, fix up some other things
  Resources/Maps/_NF/Shuttles/Nfsd/inquisitor.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/inquisitor.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2094 NSF Prowler: Update Again
  Resources/Maps/_NF/Shuttles/Nfsd/prowler.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/prowler.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2105 Replaces Spectre tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Maps/_NF/Shuttles/crescent.yml
  Resources/Maps/_NF/Shuttles/spectre.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2233 Lodge QoL Update
  Resources/Maps/_NF/POI/lodge.yml
Labels: Status: Needs Review, Map-POI, No C#

#2115 SSS Camper (UPDATE)
  Resources/Maps/_NF/Shuttles/camper.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2186 Fix up the NSF Templar
  Resources/Maps/_NF/Shuttles/Nfsd/templar.yml
  Resources/Maps/_NF/Shuttles/Sr/watchdog.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2243 Fix up the NSF mini-shuttles
  Resources/Maps/_NF/Shuttles/Nfsd/cleric.yml
  Resources/Maps/_NF/Shuttles/Nfsd/fighter.yml
  Resources/Maps/_NF/Shuttles/Nfsd/rogue.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/cannons.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2199 Interceptor (Update Shuttle)
  Resources/Maps/_NF/Shuttles/Nfsd/interceptor.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2194 Hospitaller (Update Shuttle)
  Resources/Maps/_NF/Shuttles/Nfsd/hospitaller.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2262 EMP Blast
  Content.Client/Entry/EntryPoint.cs
  Content.Client/_NF/Emp/Overlays/EmpBlastOverlay.cs
  Content.Server/Emp/EmpSystem.cs
  Content.Shared/_NF/Emp/Components/EmpBlastComponent.cs
  Content.Shared/_NF/Emp/Systems/EmpBlastSystem.cs
  Resources/Prototypes/_NF/Entities/Effects/emp.yml
  Resources/Prototypes/_NF/Shaders/shaders.yml
  Resources/Textures/_NF/Shaders/emp.swsl
Labels: Status: Needs Review, YML, C#, Shaders

#2276 End of Round Cash Summary Revision
  Content.Server/_NF/Bank/BankSystem.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
  Resources/Locale/en-US/round-end/round-end-summary-window.ftl
Labels: Status: Needs Review, C#, FTL

#2278 Lathe Cleanup and allow printing boxes in service
  Resources/Locale/en-US/_NF/lathe/recipes.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
  Resources/Prototypes/_NF/Recipes/Lathes/sheet.yml
  Resources/Prototypes/_NF/Recipes/Lathes/storage.yml
Labels: Status: Needs Review, No C#, YML, FTL

#2256 Adds some spookuary cheer from Bing and Ghost Prince.
  Content.Server/Holiday/HolidaySystem.cs
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/paintings.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/paintings.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/paintings_directional.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/furniture/wallmount_decorations_graphs.yml
  Resources/Prototypes/_NF/Recipes/Construction/wallmount_decorations.yml
  Resources/Prototypes/holidays.yml
  Resources/Textures/_NF/Structures/Wallmounts/paintings.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/paintings.rsi/painting1.png
  Resources/Textures/_NF/Structures/Wallmounts/paintings.rsi/painting2.png
  Resources/Textures/_NF/Structures/Wallmounts/paintings_directional.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/paintings_directional.rsi/painting_bat.png
  Resources/Textures/_NF/Structures/Wallmounts/paintings_directional.rsi/painting_ghost.png
  Resources/Textures/_NF/Structures/Wallmounts/paintings_directional.rsi/painting_pumpkin.png
Labels: No C#, Sprites, YML, C#

#2286 Gatfruit again
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
Labels: Status: Needs Review, No C#, YML

#2279 LobbyArt (Cattrio)
  Resources/Prototypes/_NF/lobbyscreens.yml
  Resources/Textures/_NF/LobbyScreens/attributions.yml
  Resources/Textures/_NF/LobbyScreens/cattrio.png
  Resources/Textures/_NF/LobbyScreens/cattrio.png.yml
Labels: Status: Needs Review, No C#, YML

#2285 Fix biogenerator and cutter machine board not accepting modular compo…
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: Status: Needs Review, No C#, YML

#2289 folding table material aarbitrage fix
  Resources/Prototypes/_NF/Entities/Structures/Furniture/tables.yml
Labels: Status: Needs Review, No C#, YML

#2290 tobacco pouches error fixes
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Smokables/Pipes/tobacco_pouch.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Hydroponics/leaves.yml
Labels: Status: Needs Review, No C#, YML

#2291 GeneratorSystem: no eject on empty
  Content.Server/Power/Generator/GeneratorSystem.cs
Labels: C#

#2293 Replaced Misplaced BasePenAdvanced in the Spectre's Bridge With a Captain's Pen.
  Resources/Maps/_NF/Shuttles/spectre.yml
  Resources/Prototypes/_NF/Shipyard/spectre.yml
Labels: Map-Shuttle, No C#

#2292 Chatsan fixes to emote entries ending with letters.
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: C#

#2287 PDA Programs in Loadout
  Content.Client/GPS/Components/HandheldGPSComponent.cs
  Content.Client/GPS/Systems/HandheldGpsSystem.cs
  Content.Client/GPS/UI/HandheldGpsStatusControl.cs
  Content.Server/CartridgeLoader/CartridgeLoaderSystem.cs
  Content.Server/CartridgeLoader/Cartridges/AstroNavCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/AstroNavCartridgeSystem.cs
  Content.Server/CartridgeLoader/Cartridges/MedTekCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/MedTekCartridgeSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Shared/CartridgeLoader/CartridgeComponent.cs
  Content.Shared/CartridgeLoader/CartridgeLoaderComponent.cs
  Content.Shared/GPS/Components/HandheldGPSComponent.cs
  Content.Shared/Tools/Components/SharedHandheldGPSComponent.cs
  Resources/Audio/_NF/Effects/silence.ogg
  Resources/Locale/en-US/_NF/cartridge-loader/cartridges.ftl
  Resources/Locale/en-US/_NF/preferences/loadout-groups.ftl
  Resources/Locale/en-US/cartridge-loader/cartridges.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Service/mail_carrier.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/cartridge.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/pda.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Prototypes/_NF/Maps/debug.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_NF/Roles/Jobs/departments.yml
  Resources/Prototypes/_NF/Roles/play_time_trackers_old.yml
  Resources/Textures/Objects/Devices/cartridge.rsi/cart-med.png
  Resources/Textures/Objects/Devices/cartridge.rsi/cart-nav.png
  Resources/Textures/Objects/Devices/cartridge.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/cartridge.rsi/cart-appraisal.png
  Resources/Textures/_NF/Objects/Devices/cartridge.rsi/meta.json
Labels: Status: Needs Review, Sprites, YML, C#, FTL, Map-Outpost

#2294 more mat arbitrage fixes
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_flasks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Entities/Objects/Tools/gps.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/brassknuckles.yml
  Resources/Prototypes/_NF/Recipes/Lathes/clothes.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
Labels: No C#, YML

#2101 Gas Station Sushi
  Resources/Locale/en-US/_NF/lathe/recipes.ftl
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/food.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/sushi.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/storage.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/gassushislice.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/goodtray1.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/goodtray2.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/goodtray3.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/goodtray4.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/goodtray5.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/goodtray6.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/label.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/tray-inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/tray-inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/tray.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/tray1.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/tray2.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/tray3.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/tray4.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/tray5.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/tray6.png
Labels: Map-POI, No C#, Sprites, FTL

#2300 Panic bunker print strings
  Content.Server/Connection/ConnectionManager.cs
  Resources/Locale/en-US/_NF/connection-messages.ftl
Labels: Status: Needs Review, C#, FTL

#2298 readd duffelbag slowdown
  Resources/Prototypes/_NF/Entities/Clothing/Back/base_clothing_backpack.yml
Labels: Status: Needs Review, No C#, YML
