Repository new-frontiers-14/frontier-station-14, pull requests merged in 2024-09, with the labels that each got.

#1668 Akupara take two
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/akupara.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/akupara.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Akupara.xml
Labels: Docs, Status: Needs Review, Map-Shuttle, No C#, FTL

#1929 Akupara guidebook touchup
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Akupara.xml
Labels: Docs, No C#

#1809 Bocadillo (Update)
  Resources/Maps/_NF/Shuttles/bocadillo.yml
  Resources/Prototypes/_NF/Shipyard/bocadillo.yml
Labels: Map-Shuttle, No C#

#1897 Pathfinder: small update
  Resources/Maps/_NF/Shuttles/Expedition/pathfinder.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1749 NSF Broadhead v1.2
  Resources/Maps/_NF/Shuttles/Nfsd/broadhead.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/broadhead.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1934 Cherry-pick: Vox voices revamp (#31679)
  Resources/Audio/Voice/Talk/vox.ogg
  Resources/Audio/Voice/Talk/vox_ask.ogg
  Resources/Audio/Voice/Talk/vox_exclaim.ogg
  Resources/Audio/Voice/Vox/vox_laugh.ogg
Labels: Status: Needs Review, No C#

#1936 Allow for selective tool disabling
  Content.Server/_NF/Tools/Component/DisableToolUseComponent.cs
  Content.Server/_NF/Tools/Component/OnToolsUseComponent.cs
  Content.Server/_NF/Tools/DisableToolUseSystem.cs
  Content.Server/_NF/Tools/OnToolsUseSystem.cs
  Content.Shared/Tools/Components/ToolComponent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_security.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/base_structure.yml
Labels: Status: Needs Review, YML, C#

#1941 Shuttle Console: allow undocking other docks when current dock is not connected.
  Content.Client/Shuttles/UI/ShuttleDockControl.xaml.cs
Labels: C#, UI

#1940 Move ProtectGridComponent behaviour to settable flags.
  Content.Server/Emp/EmpSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/Station/Components/StationEmpImmuneComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_NF/PublicTransit/PublicTransitSystem.cs
  Content.Shared/Maps/TileSystem.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
  Content.Shared/Shipyard/Prototypes/VesselPrototype.cs
  Content.Shared/Tiles/FloorTileSystem.cs
  Content.Shared/Tiles/ProtectedGridComponent.cs
  Content.Shared/_NF/GameRule/PointOfInterestPrototype.cs
  Resources/Maps/_NF/Admin/gallery.yml
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/Shuttles/Nfsd/marauder.yml
  Resources/Maps/_NF/Shuttles/Nfsd/prowler.yml
  Resources/Prototypes/_NF/Entities/Stations/base.yml
  Resources/Prototypes/_NF/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/marauder.yml
Labels: Status: Needs Review, Map-Shuttle, Map-POI, Map-Admin, C#, Map-Outpost

#1925 Medical techfab vial and small energy cell
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/chemistry.yml
Labels: No C#, YML

#1944 Remove rotation from girders, diagonal grilles
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder_clockwork.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/grille_diagonal.yml
Labels: No C#, YML

#1943 Add NFSD medals, The Glorious Order
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/medals.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/nfsd_medal_case.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/medals_graphs.yml
  Resources/Prototypes/_NF/Recipes/Crafting/medals.yml
  Resources/Textures/_NF/Clothing/Neck/Medals/blood_drop.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Medals/blood_drop.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Medals/blood_drop.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Medals/glorious_order.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Medals/glorious_order.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Medals/glorious_order.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Medals/shield_bronze.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Medals/shield_bronze.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Medals/shield_bronze.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Medals/shield_civviegold.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Medals/shield_civviegold.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Medals/shield_civviegold.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Medals/shield_gold.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Medals/shield_gold.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Medals/shield_gold.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Medals/shield_silver.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Medals/shield_silver.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Medals/shield_silver.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Medals/star_civviesilver.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Medals/star_civviesilver.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Medals/star_civviesilver.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Medals/star_gold.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Medals/star_gold.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Medals/star_gold.rsi/meta.json
  Resources/Textures/_NF/Objects/Storage/nfsdmedalcase.rsi/closed.png
  Resources/Textures/_NF/Objects/Storage/nfsdmedalcase.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Storage/nfsdmedalcase.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Storage/nfsdmedalcase.rsi/meta.json
  Resources/Textures/_NF/Objects/Storage/nfsdmedalcase.rsi/open.png
Labels: Map-POI, No C#, Sprites

#1947 Added BlueSpace Ore & Crystals
  Resources/Locale/en-US/deltav/materials/materials.ftl
  Resources/Locale/en-US/deltav/materials/units.ftl
  Resources/Prototypes/DeltaV/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/DeltaV/Reagents/Materials/ores.yml
  Resources/Prototypes/DeltaV/Stacks/Materials/ore.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Materials/materials.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Materials/materials.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/bluespace.yml
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/parts.yml
  Resources/Prototypes/Nyanotrasen/Stacks/Materials/materials.yml
  Resources/Prototypes/Nyanotrasen/tags.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/_NF/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/_NF/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/_NF/Recipes/Lathes/devices.yml
  Resources/Prototypes/_NF/ore.yml
  Resources/Textures/_NF/Objects/Materials/ore.rsi/bluespace.png
  Resources/Textures/_NF/Objects/Materials/ore.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/rock.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/rock.rsi/rock_bluespace.png
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#1911 Changelog rewrites
  Resources/Changelog/Changelog.yml
Labels: Status: Needs Review, No C#, YML

#1894 Respawn Lenience (based on Corvax)
  Content.Client/Corvax/Respawn/RespawnSystem.cs
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/Corvax/Respawn/RespawnSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/_NF/Commands/GhostRespawnCommand.cs
  Content.Server/_NF/CryoSleep/CryoSleepSystem.cs
  Content.Server/_NF/CryoSleep/CryosleepEvents.cs
  Content.Shared/Corvax/Respawn/RespawnResetEvent.cs
  Content.Shared/Mind/MindComponent.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
Labels: Status: Needs Review, C#, UI

#1952 Labeler: better label changes to shaders.
  .github/labeler.yml
Labels: Status: Needs Review, No C#, Changes: Shaders

#1958 Revert "PlantAnalyzer Draft"
  Content.Client/_NF/PlantAnalyzer/UI/PlantAnalyzerBoundUserInterface.cs
  Content.Client/_NF/PlantAnalyzer/UI/PlantAnalyzerWindow.xaml
  Content.Client/_NF/PlantAnalyzer/UI/PlantAnalyzerWindow.xaml.cs
  Content.Server/_NF/Botany/Components/PlantAnalyzerComponent.cs
  Content.Server/_NF/Botany/Systems/PlantAnalyzerSystem.cs
  Content.Shared/_NF/PlantAnalyzer/PlantAnalyzerDoAfterEvent.cs
  Content.Shared/_NF/PlantAnalyzer/PlantAnalyzerScannedSeedPlantInformation.cs
  Content.Shared/_NF/PlantAnalyzer/PlantAnalyzerUiKey.cs
  Resources/Locale/en-US/_NF/botany/components/plantanalyzer.ftl
  Resources/Locale/en-US/_NF/seeds/seeds.ftl
  Resources/Prototypes/_NF/Entities/Objects/Devices/plant_analyzer.yml
  Resources/Prototypes/_NF/Recipes/Lathes/botany.yml
  Resources/Textures/_NF/Objects/Devices/plant_analyzer.rsi/icon.png
  Resources/Textures/_NF/Objects/Devices/plant_analyzer.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/plant_analyzer.rsi/plantanalyzer.png
  Resources/Textures/_NF/Objects/Devices/plant_analyzer.rsi/unlit.png
Labels: Status: Needs Review, Sprites, YML, C#, UI, FTL

#1957 Fixed contraband parenting on some weapons and clothes
  Resources/Locale/en-US/_NF/contraband/contraband-severity.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/headwear_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/headwear_syndicate.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/clown_shoes_mods.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Basic/sawn_pka.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Bow/crossbow.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/gestio.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/novalitec1.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/expedition_guns.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/wizard_staff.yml
  Resources/Prototypes/_NF/Entities/Objects/base_contraband.yml
  Resources/Prototypes/_NF/contraband_severities.yml
Labels: No C#, YML, FTL

#1963 Stellaris (Update): Reclassify as Civilian
  Resources/Prototypes/_NF/Shipyard/stellaris.yml
Labels: Map-Shuttle, No C#, YML

#1953 Updates bluespace syringe recipe to follow conventions
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
Labels: Status: Needs Review, No C#, YML

#1964 Localization strings for shipyard categories/class
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
Labels: Status: Needs Review, C#, UI, FTL

#1938 Rosy Mothroach
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/_NF/Events/events.yml
  Resources/Prototypes/_NF/Mail/mail.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting_rosy_mothroach.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/meta.json
  Resources/Textures/_NF/Mobs/Animals/rosy_mothroach.rsi/0-equipped-HELMET.png
  Resources/Textures/_NF/Mobs/Animals/rosy_mothroach.rsi/icon.png
  Resources/Textures/_NF/Mobs/Animals/rosy_mothroach.rsi/inhand-left.png
  Resources/Textures/_NF/Mobs/Animals/rosy_mothroach.rsi/inhand-right.png
  Resources/Textures/_NF/Mobs/Animals/rosy_mothroach.rsi/meta.json
  Resources/Textures/_NF/Mobs/Animals/rosy_mothroach.rsi/mothroach-moving.png
  Resources/Textures/_NF/Mobs/Animals/rosy_mothroach.rsi/mothroach.png
  Resources/Textures/_NF/Mobs/Animals/rosy_mothroach.rsi/mothroach_dead.png
  Resources/Textures/_NF/Mobs/Animals/rosy_mothroach.rsi/mothroach_lazy.png
  Resources/Textures/_NF/Mobs/Animals/rosy_mothroach.rsi/mothroach_sleep.png
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/rosy-mothroach.png
Labels: Status: Needs Review, No C#, Sprites, YML

#1970 Allow shuttle purchases from Grifty's, McHobo
  Resources/Maps/_NF/POI/mchobo.yml
  Resources/Prototypes/_NF/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_NF/PointsOfInterest/grifty.yml
  Resources/Prototypes/_NF/PointsOfInterest/griftys.yml
  Resources/Prototypes/_NF/PointsOfInterest/mchobo.yml
Labels: Map-POI, No C#

#1969 Revert Change fax layer (#807)
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
Labels: No C#, YML

#1965 This adds posters for the Far Star Biotech company, the FSB Apothecary and FSB Stasis.
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/posters.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/contraband.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster4_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster5_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster6_contraband.png
Labels: No C#, Sprites, YML

#1968 Goblin blood
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
  Resources/Locale/en-US/_NF/reagents/meta/biological.ftl
  Resources/Prototypes/_NF/Body/Parts/goblin_parts.yml
  Resources/Prototypes/_NF/Entities/Mobs/Species/goblin.yml
  Resources/Prototypes/_NF/Reagents/biological.yml
Labels: Status: Needs Review, YML, C#, FTL

#1975 ⑨
  Resources/Locale/en-US/nyanotrasen/holidays/holiday-greet.ftl
Labels: No C#, FTL

#1974 Bug round up: emote fixes, no value for interdyne cigs
  Resources/Audio/DeltaV/Voice/Vulpkanin/attributions.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Voice/speech_emotes.yml
  Resources/Prototypes/_NF/Entities/Objects/base_contraband.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Voice/speech_emotes.yml
Labels: Status: Needs Review, No C#, YML

#1983 Fix infinite turret deployment: TryQueueDelete->QueueDelete
  Content.Server/Engineering/EntitySystems/SpawnAfterInteractSystem.cs
Labels: C#

#1978 Harpies' instrument sound can only be changed by themselves
  Content.Server/Instruments/SwappableInstrumentComponent.cs
  Content.Server/Instruments/SwappableInstrumentSystem.cs
  Resources/Prototypes/DeltaV/Entities/Mobs/Species/harpy.yml
Labels: Status: Needs Review, YML, C#

#1984 Revise harpy emote sets & noises.
  Resources/Prototypes/DeltaV/SoundCollections/harpy.yml
  Resources/Prototypes/DeltaV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#, YML

#1931 Adds a bluespace vial
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/_NF/Recipes/Lathes/botany.yml
  Resources/Prototypes/_NF/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/_NF/Recipes/Lathes/devices.yml
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/inhand-left-fill-1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/inhand-left-fill-2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/inhand-left-fill-3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/inhand-left-fill-4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/inhand-right-fill-1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/inhand-right-fill-2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/inhand-right-fill-3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/inhand-right-fill-4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/vial-1-1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/vial-1-2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/vial-1-3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/vial-1-4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/vial-1-5.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/vial-1-6.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/vialbluespace-1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/vial_bluespace.rsi/vialbluespace.png
Labels: No C#, Sprites, YML

#1977 Marked more items as contraband (C1 and C2)
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/armor_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/belt.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/head.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Textures/_NF/Clothing/Head/Helmets/mercenary_black.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Helmets/mercenary_black.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Helmets/mercenary_black.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Helmets/mercenary_black.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Head/Helmets/mercenary_black.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Vests/mercenary_webvest_black.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Vests/mercenary_webvest_black.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Vests/mercenary_webvest_black.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Vests/mercenary_webvest_black.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Vests/mercenary_webvest_black.rsi/meta.json
Labels: No C#, Sprites, YML

#1986 Ore Processors can now produce Reinforced Glass
  Resources/Prototypes/Recipes/Lathes/sheet.yml
Labels: Status: Needs Review, No C#, YML

#1988 Cryo respawn timer fix - swap RespawnSystem.RespawnData to class
  Content.Server/Corvax/Respawn/RespawnSystem.cs
Labels: Status: Needs Review, C#

#1989 Fix power monitoring console dependencies
  Content.Client/Power/PowerMonitoringWindow.xaml.cs
Labels: Status: Needs Review, C#, UI

#1991 Update README
  README.md
Labels: Docs, Status: Needs Review, No C#

#2001 Inherit shipyard rcd material composition
  Resources/Prototypes/_NF/Entities/Objects/Tools/tools.yml
Labels: No C#, YML

#2000 No more free mattress steel
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
Labels: No C#, YML

#2003 New cooked meatball sprite + make meatballs cookable
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/food/meatball.yml
  Resources/Textures/_NF/Objects/Consumable/Food/meat.rsi/meatball-cooked.png
  Resources/Textures/_NF/Objects/Consumable/Food/meat.rsi/meta.json
Labels: No C#, Sprites, YML

#2005 Allow AreaInsert pickups for one item
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: Status: Needs Review, C#

#1954 Station Records: Populate job list whenever possible
  Content.Client/StationRecords/GeneralStationRecordConsoleWindow.xaml.cs
  Content.Server/StationRecords/Systems/GeneralStationRecordConsoleSystem.cs
Labels: Status: Needs Review, C#, UI

#1994 Ghost Roles: fix whitelist checks
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/Nutrition/EntitySystems/SliceableFoodSystem.cs
  Content.Server/_NF/Bank/BankSystem.cs
Labels: C#

#1997 Pipe tobacco pouches
  Resources/Locale/en-US/_NF/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_NF/reagents/meta/narcotics.ftl
  Resources/Locale/en-US/_NF/reagents/psicodine.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Smokables/Pipes/tobacco_pouch.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Hydroponics/leaves.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/trinkets.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Reagents/narcotics.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/smokeables.yml
  Resources/Prototypes/_NF/Recipes/Crafting/smokeables.yml
  Resources/Prototypes/_NF/Stacks/consumable_stacks.yml
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Pipes/tobacco_pouch.rsi/closed.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Pipes/tobacco_pouch.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Pipes/tobacco_pouch.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Pipes/tobacco_pouch.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Pipes/tobacco_pouch.rsi/label.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Pipes/tobacco_pouch.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Pipes/tobacco_pouch.rsi/open.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Pipes/tobacco_pouch.rsi/trash.png
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#2007 Mech Blacklist
  Content.Server/Mech/Equipment/Components/MechGrabberComponent.cs
  Content.Server/Mech/Equipment/EntitySystems/MechGrabberSystem.cs
  Content.Shared/Weapons/Melee/MeleeThrowOnHitSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Mech/mecha_equipment.yml
Labels: Status: Needs Review, YML, C#

#1998 Prevent the M_EMP from affecting its own grid
  Content.Server/Emp/EmpSystem.cs
  Content.Server/_NF/M_Emp/M_EmpSystem.cs
  Resources/Prototypes/_NF/Shipyard/Nfsd/marauder.yml
Labels: Map-Shuttle, YML, C#

#2011 Fix Bluespace Events
  Resources/Maps/_NF/Bluespace/vault.yml
  Resources/Prototypes/_NF/Events/events.yml
  Resources/Prototypes/_NF/Events/nf_events.yml
  Resources/Prototypes/_NF/Events/nf_events_bluespace.yml
  Resources/Prototypes/_NF/GameRules/roundstart.yml
  Resources/Prototypes/_NF/game_presets.yml
Labels: Map-Bluespace, No C#

#1981 Parcel/Menace Directional Fans
  Resources/Maps/_NF/Shuttles/BlackMarket/menace.yml
  Resources/Maps/_NF/Shuttles/Sr/mailpod.yml
  Resources/Maps/_NF/Shuttles/Sr/parcel.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2012 Fix Pseudo Code
  Content.Client/Nyanotrasen/Item/PseudoItem/PseudoItemSystem.cs
  Content.Server/Nyanotrasen/Carrying/CarryingSystem.cs
  Content.Server/Nyanotrasen/Item/PseudoItem/AllowsSleepInsideComponent.cs
  Content.Server/Nyanotrasen/Item/PseudoItem/PseudoItemSystem.cs
  Content.Server/_NF/SizeAttribute/SizeAttributeSystem.cs
  Content.Shared/Item/ItemComponent.cs
  Content.Shared/Nyanotrasen/Item/Components/PseudoItemComponent.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/AllowsSleepInsideComponent.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/PseudoItemComponent.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/SharedPseudoItemSystem.Checks.cs
  Content.Shared/Nyanotrasen/Item/PseudoItem/SharedPseudoItemSystem.cs
  Content.Shared/Nyanotrasen/Item/PseudoItemInsertDoAfterEvent.cs
  Content.Shared/Resist/EscapeInventoryCancelEvent.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/_NF/SizeAttribute/ShortWhitelistComponent.cs
  Content.Shared/_NF/SizeAttribute/TallWhitelistComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_NF/Entities/Mobs/Species/goblin.yml
Labels: Status: Needs Review, YML, C#

#1662 alcohol v2 electric boogaloo
  Resources/Locale/en-US/_NF/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_NF/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_NF/Flavors/flavors.yml
  Resources/Prototypes/_NF/Reagents/Consumables/Drink/drinks.yml
  Resources/Prototypes/_NF/Recipes/Reactions/drinks.yml
  Resources/Prototypes/_NF/SoundCollections/emotes.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/fill-4.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/beesknees.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/fill-4.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/ginandsonic.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/fill-4.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/fill-5.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/goldencat.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/pineappleblast.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/fill-4.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/fill-5.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/fill-6.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/torpedojuice.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#2017 Fix biker coat loadout
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/outer.yml
Labels: No C#, YML

#1999 Arcadia Ind. items are contraband, new trench and jumpsuit
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/arcadiadrobe.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_NF/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/military_jumpsuits.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/arcadia_trench.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/arcadia_trench.rsi/icon-open.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/arcadia_trench.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/arcadia_trench.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/arcadia_trench.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/arcadia_trench.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/arcadia_trench.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/arcadia_trench.rsi/open-inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/arcadia_trench.rsi/open-inhand-right.png
Labels: Status: Needs Review, No C#, Sprites, YML

#2019 Encryption keys in astrovend
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/astrovend.yml
Labels: Status: Needs Review, No C#, YML

#2020 Fix lil vulp cannon size
  Resources/Prototypes/_NF/Entities/Mobs/Species/goblin.yml
  Resources/Prototypes/_NF/Mail/Items/misc.yml
Labels: Status: Needs Review, No C#, YML

#2015 Pen signing: Undupe messages, sound
  Content.Shared/Paper/PaperSystem.cs
Labels: C#

#2010 New contraband flavour text for mobs
  Content.Shared/Contraband/ContrabandComponent.cs
  Content.Shared/Contraband/ContrabandSystem.cs
  Resources/Locale/en-US/_NF/contraband/contraband-severity.ftl
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_bloodcultist.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_mercenaries.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_rogue_ai.yml
  Resources/Prototypes/_NF/Entities/Objects/base_contraband.yml
  Resources/Prototypes/_NF/contraband_severities.yml
Labels: Status: Needs Review, YML, C#, FTL

#1868 Brass Knuckle Melee weapon
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/brassknuckles.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/brassknuckles_graph.yml
  Resources/Prototypes/_NF/Recipes/Crafting/brassknuckles.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Objects/Weapons/Melee/brassknuckles.rsi/equipped-HAND.png
  Resources/Textures/_NF/Objects/Weapons/Melee/brassknuckles.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Melee/brassknuckles.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/brassknuckles.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Melee/brassknuckles.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Melee/crassknuckles.rsi/equipped-HAND.png
  Resources/Textures/_NF/Objects/Weapons/Melee/crassknuckles.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Melee/crassknuckles.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/crassknuckles.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Melee/crassknuckles.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#2021 Headsets In Loadouts
  Resources/Locale/en-US/_NF/preferences/loadout-groups.ftl
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/bardrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/curadrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/hydrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/janidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/maildrobe.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/repdrobe.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Civilian/valet.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Service/mail_carrier.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/valetdrobe.yml
  Resources/Prototypes/_NF/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/ears.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/ears.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Nfsd/ears.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pal/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pilot/ears.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/SecurityGuard/ears.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Sheriff/ears.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/StationRep/ears.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/nfsd_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/security_guard_groups.yml
  Resources/Prototypes/_NF/Loadouts/sheriff_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/stationrep_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/stc_loadout_groups.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/contractor.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/mercenary.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/pilot.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/security_guard.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/stc.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/detectivenf.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/public_affairs.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, FTL

#1732 STC: Remote consoles for controlling Trade Outpost traffic
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/_NF/Shuttles/NFDroneConsoleComponent.cs
  Content.Server/_NF/Shuttles/NFDroneConsoleTargetComponent.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleConsoleSystem.NFDrone.cs
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
Labels: Status: Needs Review, Map-POI, C#, Map-Outpost

#2030 More noSpawn to categories.
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/cards.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
Labels: Status: Needs Review, No C#, YML

#2032 Fix missing respirator exceptions on syndicate naval operative mobs.
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
Labels: No C#, YML

#2031 Add fancy chairs
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/seats.yml
  Resources/Prototypes/_NF/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/_NF/Recipes/Construction/furniture.yml
  Resources/Textures/_NF/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/_NF/Structures/Furniture/chairs.rsi/wooden_fancy-black.png
  Resources/Textures/_NF/Structures/Furniture/chairs.rsi/wooden_fancy-blue.png
  Resources/Textures/_NF/Structures/Furniture/chairs.rsi/wooden_fancy-cyan.png
  Resources/Textures/_NF/Structures/Furniture/chairs.rsi/wooden_fancy-green.png
  Resources/Textures/_NF/Structures/Furniture/chairs.rsi/wooden_fancy-orange.png
  Resources/Textures/_NF/Structures/Furniture/chairs.rsi/wooden_fancy-pink.png
  Resources/Textures/_NF/Structures/Furniture/chairs.rsi/wooden_fancy-purple.png
  Resources/Textures/_NF/Structures/Furniture/chairs.rsi/wooden_fancy-red.png
  Resources/Textures/_NF/Structures/Furniture/chairs.rsi/wooden_fancy-white.png
Labels: Status: Needs Review, No C#, Sprites, YML

#2018 Fireaxe Removes Plating (Delta-V#1700), Maintenance Jack
  Resources/Locale/en-US/deltav/tools/tool-qualities.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/DeltaV/tool_qualities.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/tools.yml
  Resources/Textures/_NF/Objects/Tools/maintenance-jack.rsi/icon.png
  Resources/Textures/_NF/Objects/Tools/maintenance-jack.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Tools/maintenance-jack.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Tools/maintenance-jack.rsi/meta.json
Labels: No C#, Sprites, YML, FTL

#1987 Bounty hunter clothes sprites, inf BountyVend
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/bountyvend.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_NF/Clothing/Head/Hats/bounty_hunter_hat.rsi/equipped-HELMET-hamster.png
  Resources/Textures/_NF/Clothing/Head/Hats/bounty_hunter_hat.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hats/bounty_hunter_hat.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hats/bounty_hunter_hat.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Hats/bounty_hunter_hat.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Head/Hats/bounty_hunter_hat.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Mantles/bounty_hunter_mantle.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Mantles/bounty_hunter_mantle.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Mantles/bounty_hunter_mantle.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/bounty_hunter_coat.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/bounty_hunter_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/bounty_hunter_coat.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/bounty_hunter_coat.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/bounty_hunter_coat.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Coats/bounty_hunter_coat.rsi/meta.json
Labels: Status: Needs Review, Map-POI, No C#, Sprites

#2028 Move tank harness to outer clothing
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Civilian/valet.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/outer.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pirates/outer.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Valet/outer.yml
  Resources/Prototypes/_NF/Loadouts/bailiff_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/brigmedic_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/cadet_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/deputy_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/detectivenf_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/janitor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mail_carrier_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pirates_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/security_guard_groups.yml
  Resources/Prototypes/_NF/Loadouts/senior_officer_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/sheriff_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/stationrep_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/valet_loadout_groups.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
Labels: Status: Needs Review, No C#, YML

#2034 Emp Fixups
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Boxes/nfsd.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: Status: Needs Review, No C#, YML

#1909 BankSystem: cached balances
  Content.Client/_NF/Bank/BankSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Server/Spawners/EntitySystems/ContainerSpawnPointSystem.cs
  Content.Server/Spawners/EntitySystems/SpawnPointSystem.cs
  Content.Server/Species/Systems/NymphSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/_NF/Bank/BankSystem.cs
  Content.Shared/Species/Systems/ReformSystem.cs
  Content.Shared/_NF/Bank/Components/BankAccountComponent.cs
  Content.Shared/_NF/Bank/SharedBankSystem.cs
Labels: Status: Needs Review, C#

#1976 Vagabond Piping Fix
  Resources/Maps/_NF/Shuttles/vagabond.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1890 Edison Power POI
  Resources/Maps/_NF/POI/edison.yml
  Resources/Prototypes/_NF/Entities/Markers/warp_point.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_NF/PointsOfInterest/edison.yml
Labels: Status: Needs Review, Map-POI, No C#

#2036 Remove SBI Crown
  Resources/Prototypes/_NF/Shipyard/crown.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, YML

#2014 PTech Changes: Infinite ID cards and Encryption keys
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_nfsd.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: Status: Needs Review, Map-POI, No C#, Map-Outpost

#2039 Allow some mobs to not despawn with events
  Content.Server/Salvage/SalvageSystem.ExpeditionConsole.cs
  Content.Server/StationEvents/Events/BluespaceErrorRule.cs
  Content.Server/Worldgen/Systems/LocalityLoaderSystem.cs
  Content.Server/_NF/Salvage/NFSalvageMobRestrictionsComponent.cs
  Content.Server/_NF/Salvage/SalvageMobRestrictionsSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/corpses.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_xeno.yml
Labels: Status: Needs Review, YML, C#

#1399 Bank Data (Take 2)
  Content.Client/Administration/AdminNameOverlay.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabHeader.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabHeader.xaml.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/_NF/Bank/BankSystem.cs
  Content.Shared/Administration/PlayerInfo.cs
  Content.Shared/_NF/Bank/Events/BalanceChangedMessage.cs
  Resources/Locale/en-US/_NF/administration/ui/tabs/player-tab.ftl
Labels: Status: Needs Review, C#, UI, FTL

#2044 Fix: laser rifles and x-ray cannons spawn in a long case.
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
Labels: Status: Needs Review, No C#, YML

#2040 Better dock signage
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/anomalousgeode.yml
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/schooner.yml
  Resources/Maps/_NF/Shuttles/Bus/publicts.yml
  Resources/Maps/_NF/Shuttles/Expedition/ambition.yml
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Maps/_NF/Shuttles/Expedition/gourd.yml
  Resources/Maps/_NF/Shuttles/Expedition/rosebudmkii.yml
  Resources/Maps/_NF/Shuttles/Scrap/bison.yml
  Resources/Maps/_NF/Shuttles/Scrap/point.yml
  Resources/Maps/_NF/Shuttles/apothecary.yml
  Resources/Maps/_NF/Shuttles/bazaar.yml
  Resources/Maps/_NF/Shuttles/caduceus.yml
  Resources/Maps/_NF/Shuttles/investigator.yml
  Resources/Maps/_NF/Shuttles/metastable.yml
  Resources/Maps/_NF/Shuttles/phoenix.yml
  Resources/Maps/_NF/Shuttles/stasis.yml
  Resources/Maps/_NF/Shuttles/stratos.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/bus.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/dock.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/meta.json
  Resources/migration.yml
Labels: Status: Needs Review, Map-Shuttle, Map-POI, No C#, Sprites, Map-Outpost

#1995 NT Fishbowl 2.0
  Resources/Maps/_NF/Shuttles/Admin/fishbowl.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1979 Akupara directional fan compliance patch
  Resources/Maps/_NF/Shuttles/akupara.yml
  Resources/Prototypes/_NF/Shipyard/akupara.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Akupara.xml
Labels: Docs, Status: Needs Review, Map-Shuttle, No C#

#1926 Apothecary directional Fan update and housekeeping.
  Resources/Maps/_NF/Shuttles/apothecary.yml
  Resources/Prototypes/_NF/Shipyard/apothecary.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Apothecary.xml
Labels: Docs, Map-Shuttle, No C#

#2033 NSF Broadhead 2.0
  Resources/Maps/_NF/Shuttles/Nfsd/broadhead.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/broadhead.yml
Labels: Map-Shuttle, No C#

#2016 SBB Lyrae 1.2
  Resources/Maps/_NF/Shuttles/lyrae.yml
  Resources/Prototypes/_NF/Shipyard/lyrae.yml
Labels: Map-Shuttle, No C#

#2041 Ceres (Update): Directional fans + other goodies
  Resources/Maps/_NF/Shuttles/ceres.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Ceres.xml
Labels: Docs, Map-Shuttle, No C#

#2043 Bookworm (Update): Directional fans + mixer + more
  Resources/Maps/_NF/Shuttles/bookworm.yml
  Resources/Prototypes/_NF/Shipyard/bookworm.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Bookworm.xml
Labels: Docs, Map-Shuttle, No C#

#2050 Prospector tiny fan update
  Resources/Maps/_NF/Shuttles/prospector.yml
Labels: Map-Shuttle, No C#

#2051 Loader directional fan update
  Resources/Maps/_NF/Shuttles/loader.yml
Labels: Map-Shuttle, No C#

#2052 Garden Directional Fan Update
  Resources/Maps/_NF/Shuttles/garden.yml
Labels: Map-Shuttle, No C#

#2053 Chisel directional fan update.
  Resources/Maps/_NF/Shuttles/chisel.yml
Labels: Map-Shuttle, No C#

#2054 Kestrel Directional Fan Update
  Resources/Maps/_NF/Shuttles/kestrel.yml
Labels: Map-Shuttle, No C#

#2055 Comet Directional Fan Update
  Resources/Maps/_NF/Shuttles/comet.yml
Labels: Map-Shuttle, No C#

#2057 Bulker Directional Fan Update
  Resources/Maps/_NF/Shuttles/bulker.yml
Labels: Map-Shuttle, No C#

#2058 Bocadillo Directional Fan Update
  Resources/Maps/_NF/Shuttles/bocadillo.yml
Labels: Map-Shuttle, No C#

#2059 Spirit Directional Fan Update
  Resources/Maps/_NF/Shuttles/spirit.yml
  Resources/Prototypes/_NF/Shipyard/spirit.yml
Labels: Map-Shuttle, No C#

#2060 Pathfinder directional fans update
  Resources/Maps/_NF/Shuttles/Expedition/pathfinder.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2062 Sprinter shuttle update
  Resources/Maps/_NF/Shuttles/Expedition/sprinter.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1996 NT Bottleneck 2.0
  .github/mapchecker/config.py
  Resources/Maps/_NF/Shuttles/Sr/bottleneck.yml
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
Labels: Map-Shuttle, No C#

#2061 Make shuttles dead drop hint exempt
  Content.Server/_NF/Smuggling/Components/StationDeadDropHintExemptComponent.cs
  Resources/Prototypes/_NF/Entities/Stations/base.yml
  Resources/Prototypes/_NF/Entities/Stations/nanotrasen.yml
Labels: YML, C#

#2073 Capfruit: fake cap guns are contraband, grown ones have standard ammo.
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/toys.yml
Labels: Status: Needs Review, No C#, YML

#1932 Bahama Mama's: (New) Alternative POI to Tinnia's Rest
  Content.Client/Decals/UI/PaletteColorPicker.xaml.cs
  Content.Shared/Decals/ColorPalettePrototype.cs
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Maps/_NF/POI/bahama.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/Entities/Markers/warp_point.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/_NF/Entities/Spawners/mobs.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/_NF/Palettes/yipyip.yml
  Resources/Prototypes/_NF/PointsOfInterest/bahamamamas.yml
  Resources/Prototypes/_NF/PointsOfInterest/tinniasrest.yml
  Resources/Prototypes/_NF/Roles/Ghostroles/whitelisted.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Status: Needs Review, Map-POI, C#, UI, FTL

#2027 Add a signal receiver to thrusters (and gyros) for remote power control
  Content.Server/Shuttles/Components/ThrusterComponent.cs
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
Labels: Status: Needs Review, YML, C#

#2056 Bazaar Directional Fan Update
  Resources/Maps/_NF/Shuttles/bazaar.yml
Labels: Map-Shuttle, No C#

#1966 Remove Bing Guss Legs
  Content.Server/GameTicking/GameTicker.Spawning.cs
Labels: C#

#2038 Cards: no drawing from objects in-hand into the same object.
  Content.Shared/_EstacaoPirata/Cards/Stack/CardStackSystem.cs
Labels: Status: Needs Review, C#

#2078 Pirate contraband crate turn-in
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
Labels: Map-POI, No C#

#2042 Cave (Event)
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Maps/_NF/Bluespace/asteroidbunker.yml
  Resources/Maps/_NF/Bluespace/asteroidvault.yml
  Resources/Maps/_NF/Bluespace/cargoniaship.yml
  Resources/Maps/_NF/Bluespace/cave.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/_NF/Datasets/Names/cat_clugg.yml
  Resources/Prototypes/_NF/Entities/Markers/warp_point.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_NF/Events/nf_events_bluespace.yml
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/cavecat.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/woodcage.rsi/base.png
  Resources/Textures/_NF/Structures/Storage/Crates/woodcage.rsi/closed.png
  Resources/Textures/_NF/Structures/Storage/Crates/woodcage.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/woodcage.rsi/open.png
Labels: Status: Needs Review, Map-Bluespace, No C#, Sprites, FTL

#2047 Adds four new pear based meal recipes.
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_NF/Flavors/flavors.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/bread.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/bread.rsi/pearmuffin.png
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/pie.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/pie.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/pie.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/pie.rsi/pearandcheese.png
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/pie.rsi/tin.png
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/bellepear.png
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/poachedpear.png
Labels: No C#, Sprites, YML

#2092 Move Frontier Changelog to a separate file.
  .github/workflows/changelog.yml
  Resources/Changelog/Changelog.yml
  Resources/Changelog/Frontier.yml
  Resources/Changelog/Upstream.yml
  Resources/Locale/en-US/_NF/changelog/changelog-window.ftl
  Resources/Locale/en-US/changelog/changelog-window.ftl
  Tools/actions_changelog_rss.py
  Tools/actions_changelogs_since_last_run.py
  Tools/manual_changelog.py
Labels: Status: Needs Review, No C#, YML, FTL

#2088 Replaces Gourd tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/Expedition/gourd.yml
Labels: Map-Shuttle, No C#

#2090 Replaces Investigator tiny fans with directional fans
  Resources/Maps/_NF/Shuttles/investigator.yml
Labels: Map-Shuttle, No C#

#2068 Placebo directional fan update.yml
  Resources/Maps/_NF/Shuttles/placebo.yml
Labels: Map-Shuttle, No C#

#2091 Replaces Phoenix tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/phoenix.yml
Labels: Map-Shuttle, No C#

#2079 Replace Disciple tiny fans with directional fans
  Resources/Maps/_NF/Shuttles/Scrap/disciple.yml
Labels: Map-Shuttle, No C#

#2046 Spent BBs are no longer reloadable, add RGBB gun.
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Resources/Prototypes/DeltaV/Entities/Objects/Weapons/Guns/Projectiles/toy_projectiles.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/lesslethalvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/toy_guns.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Boxes/toy_guns.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Projectiles/toy_projectiles.yml
  Resources/Prototypes/_NF/Mail/mail.yml
  Resources/Prototypes/_NF/Mail/mailDeliveries.yml
Labels: Status: Needs Review, YML, C#

#2081 Replace Nugget tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/Scrap/nugget.yml
Labels: Map-Shuttle, No C#

#2082 Replace Orange tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/Scrap/orange.yml
Labels: Map-Shuttle, No C#

#2083 Update Point tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/Scrap/point.yml
Labels: Map-Shuttle, No C#

#2084 Update Canister tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/Scrap/canister.yml
Labels: Map-Shuttle, No C#

#2085 Update Dove tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/Expedition/decadedove.yml
Labels: Map-Shuttle, No C#

#2086 Replaces Dragonfly tiny fans with directional fans.
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
Labels: Map-Shuttle, No C#

#2026 Slightly more distinct pipe-weed chemicals
  Resources/Locale/en-US/_NF/reagents/rockdust.ftl
  Resources/Locale/en-US/_NF/reagents/shroommix.ftl
  Resources/Prototypes/_NF/Reagents/biological.yml
  Resources/Prototypes/_NF/Reagents/narcotics.yml
Labels: Status: Needs Review, No C#, YML, FTL

#2063 Expeditions: teardown resources on failures to generate.
  Content.Server/Salvage/SalvageSystem.ExpeditionConsole.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SalvageSystem.Runner.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/mineshaft.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/spaceplatform.yml
Labels: Status: Needs Review, Map-Dungeon, C#

#2096 Retire the Dart-X pending a rework
  Resources/Prototypes/_NF/Shipyard/Expedition/dartx.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, YML

#2095 Fix: ID card can open mail, minor MailSystem cleanup.
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
Labels: Status: Needs Review, C#

#1805 LVHI Shuttles (Update)
  Resources/Locale/en-US/_NF/navmap-beacons/station-beacons.ftl
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Maps/_NF/Shuttles/Expedition/gasbender.yml
  Resources/Maps/_NF/Shuttles/Sr/broom.yml
  Resources/Maps/_NF/Shuttles/harbormaster.yml
  Resources/Maps/_NF/Shuttles/kilderkin.yml
  Resources/Maps/_NF/Shuttles/lantern.yml
  Resources/Maps/_NF/Shuttles/legman.yml
  Resources/Maps/_NF/Shuttles/liquidator.yml
  Resources/Maps/_NF/Shuttles/pioneer.yml
  Resources/Maps/_NF/Shuttles/searchlight.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/departmental_eva.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/arcadiadrobe.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers_department.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers_department_eva.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/brigand.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/gasbender.yml
  Resources/Prototypes/_NF/Shipyard/harbormaster.yml
  Resources/Prototypes/_NF/Shipyard/kilderkin.yml
  Resources/Prototypes/_NF/Shipyard/lantern.yml
  Resources/Prototypes/_NF/Shipyard/legman.yml
  Resources/Prototypes/_NF/Shipyard/liquidator.yml
  Resources/Prototypes/_NF/Shipyard/pioneer.yml
  Resources/Prototypes/_NF/Shipyard/searchlight.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, FTL

#2113 Dock floors and correct doors for Frontier Outpost
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Status: Needs Review, No C#, Map-Outpost

#2118 Add a label to implanters available in vendors
  Resources/Locale/en-US/_NF/implant/implant.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/civimed.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/contravend.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/implanters.yml
Labels: Status: Needs Review, No C#, YML, FTL

#2123 Remove the rotation from the Frontier Nanotrasen sign
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Status: Needs Review, No C#, Map-Outpost

#2111 Add Hauler guidebook entry
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/hauler.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Hauler.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/hauler.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Docs, Status: Needs Review, Map-Shuttle, No C#, Sprites, YML, FTL

#2048 Barge Guidebook Entry
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/barge.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Barge.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/barge.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Docs, Status: Needs Review, Map-Shuttle, No C#, Sprites, YML, FTL

#2120 Make LP Bravo and Pirate Cove admin-only warp points.
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Warps/WarpPointComponent.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Resources/Prototypes/_NF/Entities/Markers/warp_point.yml
Labels: YML, C#

#2124 Repairable deep fryer (Delta-V#1940), no crispy PDAs
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/deep_fryer.yml
Labels: Status: Needs Review, No C#, YML
