Repository new-frontiers-14/frontier-station-14, pull requests merged in 2024-12, with the labels that each got.

#2459 Remove blood restoration from cryoxadone
  Resources/Prototypes/Reagents/medicine.yml
Labels: Status: Needs Review, No C#, YML

#2493 Breaded chicken cuts into breaded cutlets
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meat.yml
Labels: Status: Needs Review, No C#, YML

#2491 Scrap Asteroids
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_silicons.yml
  Resources/Prototypes/_NF/Entities/Effects/wallspawn.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_NF/Entities/Materials/ore.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_rogue_ai.yml
  Resources/Prototypes/_NF/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/_NF/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/_NF/Procedural/scrap_vgroid.yml
  Resources/Prototypes/_NF/Roles/Jobs/Hostile/rogue_silicons.yml
  Resources/Prototypes/_NF/World/Biomes/basic.yml
  Resources/Prototypes/_NF/ore.yml
Labels: No C#, YML

#2487 Fix "Allow Goblins to ride cats"
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#, YML

#2497 Add two new posters: "Bahama Mama's" and "Winner Winner"
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster3_legit.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster4_legit.png
Labels: No C#, Sprites, YML

#2499 Add sprites for the ruminant box, wrapped pig, goat and cow cubes.
  Resources/Prototypes/_NF/Entities/Objects/Misc/monkeycube.yml
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/box_ruminant.png
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/wrapper_cow.png
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/wrapper_goat.png
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/wrapper_pig.png
Labels: No C#, Sprites, YML

#2498 Made ChemMaster Sorted
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
Labels: C#, UI

#2501 Adds medtek cartridges to Nano/Civimed
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/civimed.yml
Labels: Status: Needs Review, No C#, YML

#2482 Cryosleep Fallbacks
  Content.Client/CryoSleep/CryosleepWakeupWindow.cs
  Content.Server/_NF/CryoSleep/CryoSleepFallbackComponent.cs
  Content.Server/_NF/CryoSleep/CryoSleepSystem.Returning.cs
  Content.Shared/_NF/CryoSleep/SharedCryoSleepSystem.cs
  Resources/Locale/en-US/_NF/cryosleep/cryosleep-component.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/cryopod.yml
Labels: C#, FTL, Map-Outpost

#2502 Bugfix: Station admin console can no longer be deconstructed by prying.
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
Labels: No C#, YML

#2074 Update CarryingSystem And ContestsSystem
  Content.Server/Nyanotrasen/Carrying/CarriableComponent.cs
  Content.Server/_EE/Carrying/BeingCarriedComponent.cs
  Content.Server/_EE/Carrying/CarriableComponent.cs
  Content.Server/_EE/Carrying/CarryingComponent.cs
  Content.Server/_EE/Carrying/CarryingSystem.cs
  Content.Shared/Nyanotrasen/Carrying/CarryDoAfterEvent.cs
  Content.Shared/Nyanotrasen/Carrying/CarryingDoAfterEvent.cs
  Content.Shared/Throwing/BeforeThrowEvent.cs
  Content.Shared/_EE/CCVar/EECCVars.cs
  Content.Shared/_EE/Carrying/CarryingDoAfterEvent.cs
  Content.Shared/_EE/Carrying/CarryingSlowdownComponent.cs
  Content.Shared/_EE/Carrying/CarryingSlowdownSystem.cs
  Content.Shared/_EE/Contests/ContestsSystem.Utilities.cs
  Content.Shared/_EE/Contests/ContestsSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
Labels: Status: Needs Review, YML, C#

#2509 Kimonos
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: No C#, YML

#2511 Fix pilot mask base
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks.yml
  Resources/Textures/_NF/Clothing/Mask/pilot.rsi/equipped-MASK-vox.png
  Resources/Textures/_NF/Clothing/Mask/pilot.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#2507 Carpet construction recipes/graphs respect stacks
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/curtains.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/seats.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/tables.yml
Labels: Status: Needs Review, No C#, YML

#2452 Medipens II
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_NF/Recipes/Cooking/medical_recipes.yml
  Resources/Prototypes/_NF/Recipes/Lathes/chemistry.yml
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/bruizpen.png
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/bruizpen_empty.png
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/crisispen.png
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/crisispen_empty.png
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/hemostasispen.png
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/hemostasispen_empty.png
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/lacerpen.png
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/lacerpen_empty.png
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/stimulantpen.png
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/stimulantpen_empty.png
Labels: No C#, Sprites, YML

#2519 Reduce guidebook open depth to 1
  Content.Client/UserInterface/Systems/Guidebook/GuidebookUIController.cs
Labels: Status: Needs Review, C#

#2517 Update lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: Status: Needs Review, No C#, YML

#2496 Fix wristwatch mail, better mailto command
  Content.Server/DeltaV/Mail/EntitySystems/MailSystem.cs
  Content.Server/DeltaV/Mail/MailCommands.cs
  Resources/Locale/en-US/nyanotrasen/mail.ftl
  Resources/Prototypes/_NF/Mail/mail.yml
Labels: Status: Needs Review, YML, C#, FTL

#2465 Change event announcement text "station" --> "shuttle"
  Resources/Locale/en-US/_NF/events/bluespace-cargo.ftl
  Resources/Locale/en-US/_NF/events/bluespace-syndicate-crate.ftl
  Resources/Locale/en-US/_NF/events/gas-leak.ftl
  Resources/Locale/en-US/_NF/events/ion-storm.ftl
  Resources/Locale/en-US/_NF/events/power-grid-check.ftl
  Resources/Locale/en-US/_NF/events/solar-flare.ftl
  Resources/Locale/en-US/_NF/events/vent-clog.ftl
  Resources/Locale/en-US/_NF/events/vent-critters.ftl
  Resources/Locale/en-US/station-events/events/gas-leak.ftl
  Resources/Locale/en-US/station-events/events/ion-storm.ftl
  Resources/Locale/en-US/station-events/events/power-grid-check.ftl
  Resources/Locale/en-US/station-events/events/random-sentience.ftl
  Resources/Locale/en-US/station-events/events/vent-clog.ftl
  Resources/Locale/en-US/station-events/events/vent-critters.ftl
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/_NF/Events/events.yml
Labels: Status: Needs Review, No C#, YML, FTL

#2488 Moth food for moths
  Content.Server/Body/Components/StomachComponent.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/_NF/Kitchen/Components/MothFoodComponent.cs
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/moth.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/ration.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Cooking/moth_recipes.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review, YML, C#, FTL

#2518 Added rubber ammo to NFSD TechFab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/security.yml
  Resources/Prototypes/_NF/Research/arsenal.yml
Labels: Status: Needs Review, No C#, YML

#2520 EMP: examine UI on items with EMP effects
  Content.Server/Emp/EmpSystem.cs
  Content.Server/_NF/Emp/EmpDescriptionComponent.cs
  Content.Server/_NF/M_Emp/M_EmpSystem.cs
  Resources/Locale/en-US/_NF/emp/emp.ftl
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/m_emp.yml
Labels: Status: Needs Review, YML, C#, FTL

#2505 Frontier Outpost - Fixed disposals issue
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: No C#, Map-Outpost

#2494 Adds fuel and real shipyards to Trade Outpost
  Resources/Maps/_NF/POI/trade.yml
Labels: Status: Needs Review, Map-POI, No C#

#2476 Added Empess cryosleep
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2495 Shuttle edit - Add fryer to Piecrust
  Resources/Maps/_NF/Shuttles/piecrust.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2535 Nerf scrapbot on asteroids
  Resources/Prototypes/_NF/Entities/Effects/mobspawn.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_rogue_ai.yml
  Resources/Textures/_NF/Effects/mobspawn.rsi/meta.json
  Resources/Textures/_NF/Effects/mobspawn.rsi/scrapbot.png
  Resources/Textures/_NF/Effects/mobspawn.rsi/scrapbot_laser.png
  Resources/Textures/_NF/Effects/mobspawn.rsi/scrapbot_threads.png
  Resources/Textures/_NF/Effects/mobspawn.rsi/scrapbot_thrusters.png
Labels: Status: Needs Review, No C#, Sprites, YML

#2440 NFSD Outpost Criminal Records Fix
  Content.Server/CriminalRecords/Systems/CriminalRecordsConsoleSystem.cs
  Content.Server/CriminalRecords/Systems/CriminalRecordsHackerSystem.cs
  Content.Server/CriminalRecords/Systems/CriminalRecordsSystem.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Server/_NF/SectorServices/SectorServiceSystem.cs
  Content.Server/_NF/SectorServices/StationSectorServiceHostComponent.cs
  Content.Server/_NF/StationRecords/SpecialSectorRecordComponent.cs
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
  Resources/Prototypes/_NF/SectorServices/services.yml
Labels: Status: Needs Review, YML, C#

#2486 Allow linking defaults on conveyors
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
Labels: C#

#2529 Dehydratable Sharkminnow
  Resources/Prototypes/_NF/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/rehydrateable.yml
Labels: No C#, YML

#2534 Stackable coins
  Resources/Prototypes/Entities/Objects/Misc/treasure.yml
  Resources/Prototypes/_NF/Stacks/coins.yml
Labels: Status: Needs Review, No C#, YML

#2532 More toy-like emotional support RPG sprites & sounds
  Resources/Prototypes/_NF/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/toy.yml
  Resources/Prototypes/_NF/Mail/mail.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Objects/Fun/emotional_support_rocket.rsi/icon.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rocket.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rocket.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rocket.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/base.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/mag-0.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/mag-1.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/rocket0-inhand-left.png
  Resources/Textures/_NF/Objects/Fun/emotional_support_rpg.rsi/rocket0-inhand-right.png
Labels: Status: Needs Review, No C#, Sprites, YML

#2398 Disable hostile ai on protected grids
  Content.Server/_NF/NPC/Systems/HostileNPCDeletionSystem.cs
  Content.Shared/Tiles/ProtectedGridComponent.cs
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Status: Needs Review, C#, Map-Outpost

#2368 North Pole Directional Fans
  Resources/Maps/_NF/POI/northpole.yml
Labels: Status: Needs Review, Map-POI, No C#

#2119 Charon (New Shuttle)
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/Expedition/charon.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/charon.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Charon.xml
Labels: Docs, Status: Needs Review, Map-Shuttle, No C#, FTL

#2537 Science Rebalance: The Point of Points
  Content.Server/Anomaly/AnomalySystem.Scanner.cs
  Content.Server/Anomaly/AnomalySystem.Vessel.cs
  Content.Server/Anomaly/Components/SecretDataAnomalyComponent.cs
  Content.Server/Anomaly/Effects/AnomalyCoreSystem.cs
  Content.Server/Anomaly/Effects/InnerBodyAnomalySystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactComponent.cs
  Content.Shared/Anomaly/Components/AnomalyComponent.cs
  Content.Shared/Anomaly/Components/AnomalyCoreComponent.cs
  Content.Shared/Anomaly/SharedAnomalyCoreSystem.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Resources/Locale/en-US/_NF/anomaly/anomaly.ftl
  Resources/Locale/en-US/_NF/cargo/pirate-bounties.ftl
  Resources/Maps/_NF/Dungeon/mineshaft.yml
  Resources/Maps/_NF/POI/anomalousgeode.yml
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/disk.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/techdiskterminal.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_sync.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomaly_injectors.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
  Resources/Prototypes/_NF/Catalog/Bounties/pirate_bounties.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
Labels: Status: Needs Review, Map-POI, Map-Dungeon, C#, FTL

#2536 New shade for 100k bills
  Resources/Prototypes/_NF/Entities/Objects/Misc/space_cash.yml
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_10.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_100.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_1000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_10000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_100000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_25000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_250000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_500.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_5000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/cash_50000.png
  Resources/Textures/_NF/Objects/Economy/cash.rsi/meta.json
  Resources/Textures/_NF/Objects/Economy/counterfeit_cash.rsi/cash.png
  Resources/Textures/_NF/Objects/Economy/counterfeit_cash.rsi/cash_10.png
  Resources/Textures/_NF/Objects/Economy/counterfeit_cash.rsi/cash_100.png
  Resources/Textures/_NF/Objects/Economy/counterfeit_cash.rsi/cash_1000.png
  Resources/Textures/_NF/Objects/Economy/counterfeit_cash.rsi/cash_10000.png
  Resources/Textures/_NF/Objects/Economy/counterfeit_cash.rsi/cash_100000.png
  Resources/Textures/_NF/Objects/Economy/counterfeit_cash.rsi/cash_25000.png
  Resources/Textures/_NF/Objects/Economy/counterfeit_cash.rsi/cash_250000.png
  Resources/Textures/_NF/Objects/Economy/counterfeit_cash.rsi/cash_500.png
  Resources/Textures/_NF/Objects/Economy/counterfeit_cash.rsi/cash_5000.png
  Resources/Textures/_NF/Objects/Economy/counterfeit_cash.rsi/cash_50000.png
Labels: Status: Needs Review, No C#, Sprites, YML

#2418 Technology disks: cleanup, removing references, upstream values
  Content.Client/Research/UI/DiskConsoleBoundUserInterface.cs
  Content.Server/Research/TechnologyDisk/Components/DiskConsoleComponent.cs
  Content.Shared/Research/SharedDiskConsole.cs
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/disk.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Prototypes/Procedural/salvage_misc.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Gourd.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Investigator.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Sparrow.xml
Labels: Docs, Status: Needs Review, YML, C#

#2538 BuckleSystem: stop setting every interaction as handled
  Content.Shared/Buckle/Components/BuckleComponent.cs
  Content.Shared/Buckle/SharedBuckleSystem.Interaction.cs
Labels: Status: Needs Review, C#

#2152 Whitelists Panel (DeltaV)
  Content.Client/Administration/UI/PlayerPanel/PlayerPanel.xaml
  Content.Client/Administration/UI/PlayerPanel/PlayerPanel.xaml.cs
  Content.Client/Administration/UI/PlayerPanel/PlayerPanelEui.cs
  Content.Client/DeltaV/Administration/UI/DepartmentWhitelistPanel.xaml
  Content.Client/DeltaV/Administration/UI/DepartmentWhitelistPanel.xaml.cs
  Content.Client/DeltaV/Administration/UI/GhostRoleSetWhitelistPanel.xaml
  Content.Client/DeltaV/Administration/UI/GhostRoleSetWhitelistPanel.xaml.cs
  Content.Client/DeltaV/Administration/UI/JobWhitelistsEui.cs
  Content.Client/DeltaV/Administration/UI/JobWhitelistsWindow.xaml
  Content.Client/DeltaV/Administration/UI/JobWhitelistsWindow.xaml.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Server/DeltaV/Administration/Commands/JobWhitelistsCommand.cs
  Content.Server/DeltaV/Administration/JobWhitelistsEui.cs
  Content.Server/Players/JobWhitelist/JobWhitelistManager.cs
  Content.Server/Whitelist/WhitelistCommands.cs
  Content.Shared/Administration/AdminFlags.cs
  Content.Shared/DeltaV/Administration/JobWhitelistsEuiState.cs
  Content.Shared/DeltaV/Whitelist/WhitelistTierPrototype.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/_NF/job/department-desc.ftl
  Resources/Locale/en-US/_NF/job/department.ftl
  Resources/Locale/en-US/deltav/administration/ui/player-panel.ftl
  Resources/Locale/en-US/deltav/info/whitelists.ftl
  Resources/Locale/en-US/job/department-desc.ftl
  Resources/Locale/en-US/job/department.ftl
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_NF/Roles/Ghostroles/whitelisted.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
  Resources/Prototypes/_NF/Roles/Jobs/departments.yml
Labels: Status: Needs Review, YML, C#, UI, FTL

#2539 Make borgs able to fly in space (DeltaV #2339)
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: No C#, YML

#2540 Restore AutoWakeUpComponent function
  Content.Shared/Bed/Sleep/AutoWakeUpComponent.cs
  Content.Shared/Bed/Sleep/SleepingSystem.cs
  Content.Shared/_NF/Bed/AutoWakeUpComponent.cs
Labels: C#

#2548 Fix publish indentation
  .github/workflows/publish.yml
Labels: Status: Needs Review, No C#, YML

#2550 Fix Empress Double Thruster
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2544 Chem Dispenser: Upgradable number of slots
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Content.Server/Chemistry/EntitySystems/ReagentDispenserSystem.cs
  Resources/Locale/en-US/chemistry/components/reagent-dispenser-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: YML, C#, FTL

#2549 Bluespace Jug
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/blueprints/blueprints_medical.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/blueprints.yml
  Resources/Prototypes/_NF/Recipes/Lathes/chemistry.yml
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/inhand-left-fill-1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/inhand-left-fill-2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/inhand-left-fill-3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/inhand-left-fill-4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/inhand-left-fill-5.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/inhand-left-unlit.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/inhand-right-fill-1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/inhand-right-fill-2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/inhand-right-fill-3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/inhand-right-fill-4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/inhand-right-fill-5.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/inhand-right-unlit.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/jug-unlit.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/jug.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/jug1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/jug2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/jug3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/jug4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/jug5.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/jug6.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jug_bluespace.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#2542 Add an auto-labeller to the chem dispenser
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Content.Server/Chemistry/EntitySystems/ReagentDispenserSystem.cs
  Resources/Locale/en-US/_NF/chemistry/components/reagent-dispenser-component.ftl
  Resources/Locale/en-US/chemistry/components/reagent-dispenser-component.ftl
  Resources/Prototypes/Entities/Structures/Dispensers/chem.yml
Labels: YML, C#, FTL

#2531 Blue wreck loot rework
  Resources/IgnoredPrototypes/ignoredPrototypes.yml
  Resources/Maps/Dungeon/experiment.yml
  Resources/Maps/Dungeon/haunted.yml
  Resources/Maps/Dungeon/lava_brig.yml
  Resources/Maps/Dungeon/mineshaft.yml
  Resources/Maps/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Maps/_NF/Dungeon/wreck.yml
  Resources/Maps/_NF/POI/northpole.yml
  Resources/Maps/_NF/Shuttles/Scrap/nugget.yml
  Resources/Maps/_NF/Shuttles/Scrap/scrap-courserx.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/antagvehicle.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/books.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/boxes.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/machineparts.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/randomitems.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/schoolgirl.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/seeds.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/Salvage/spawners.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_hydroponics.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/parts.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_NF/Entities/World/Debris/wrecks.yml
  Resources/Prototypes/_NF/Mail/mail.yml
  Resources/Prototypes/_NF/Procedural/Themes/wreck.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/_NF/migration.yml
Labels: Status: Needs Review, Map-Shuttle, Map-POI, Map-Dungeon, No C#

#2552 SalvageMobRestrictions: no warning/logging for safe mobs (e.g. Clugg)
  Content.Server/_NF/Salvage/SalvageMobRestrictionsSystem.cs
Labels: Status: Needs Review, C#

#2528 Port researchable syringe gun (DeltaV#2169, DeltaV#2249)
  Resources/Locale/en-US/deltav/research/technologies.ftl
  Resources/Prototypes/DeltaV/Recipes/Lathes/medical.yml
  Resources/Prototypes/DeltaV/Research/civilianservices.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Status: Needs Review, No C#, YML, FTL

#2560 Dungeons hotfix
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/haunted.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Prototypes/Procedural/Themes/experiment.yml
  Resources/Prototypes/Procedural/Themes/haunted.yml
  Resources/Prototypes/Procedural/Themes/lava_brig.yml
  Resources/Prototypes/Procedural/Themes/mineshaft.yml
  Resources/Prototypes/Procedural/Themes/snowylabs.yml
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/Procedural/salvage_mods.yml
  Resources/Prototypes/_NF/Entities/World/Debris/wrecks.yml
  Resources/Prototypes/_NF/Procedural/Themes/cave_factory.yml
  Resources/Prototypes/_NF/Procedural/Themes/experiment.yml
  Resources/Prototypes/_NF/Procedural/Themes/haunted.yml
  Resources/Prototypes/_NF/Procedural/Themes/lava_brig.yml
  Resources/Prototypes/_NF/Procedural/Themes/lava_mercenary.yml
  Resources/Prototypes/_NF/Procedural/Themes/mineshaft.yml
  Resources/Prototypes/_NF/Procedural/Themes/salvage_outpost.yml
  Resources/Prototypes/_NF/Procedural/Themes/snowylabs.yml
  Resources/Prototypes/_NF/Procedural/Themes/virology_lab.yml
  Resources/Prototypes/_NF/Procedural/Themes/wreck.yml
  Resources/Prototypes/_NF/Procedural/basalt_vgroid.yml
  Resources/Prototypes/_NF/Procedural/cave_vgroid.yml
  Resources/Prototypes/_NF/Procedural/chromite_vgroid.yml
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
  Resources/Prototypes/_NF/Procedural/salvage_mods.yml
  Resources/Prototypes/_NF/Procedural/scrap_vgroid.yml
  Resources/Prototypes/_NF/Procedural/snow_vgroid.yml
  Resources/Prototypes/_NF/tags.yml
Labels: Status: Needs Review, Map-Dungeon, No C#

#2561 Faction Revisions
  Resources/Locale/en-US/_NF/accent/caveman.ftl
  Resources/Locale/en-US/_NF/medical/medicine.ftl
  Resources/Locale/en-US/_NF/reagents/meta/narcotics.ftl
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/_NF/Accents/word_replacements.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/baby_dragon.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
  Resources/Prototypes/_NF/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
Labels: Status: Needs Review, Map-POI, No C#, YML, FTL

#2500 Revalidate loadouts before equipping.
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Clothing/LoadoutSystem.cs
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
Labels: C#

#2492 Remove contraband value from lathe materials automatically
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
  Content.Shared/Lathe/SharedLatheSystem.cs
  Content.Shared/_NF/Contraband/SharedContrabandTurnInSystem.cs
  Resources/Locale/en-US/_NF/lathe/ui/lathe-menu.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/bloodcult.yml
  Resources/Prototypes/_NF/Recipes/Lathes/bloodcult.yml
  Resources/Textures/_NF/Structures/Specific/BloodCult/forge.rsi/building.png
  Resources/Textures/_NF/Structures/Specific/BloodCult/forge.rsi/meta.json
  Resources/Textures/_NF/Structures/Specific/BloodCult/forge.rsi/unlit-building.png
Labels: Status: Needs Review, Sprites, YML, C#, FTL

#2566 Tiny encryption keys, STC/common encryption key icons
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Textures/_NF/Objects/Devices/encryption_keys.rsi/common_label.png
  Resources/Textures/_NF/Objects/Devices/encryption_keys.rsi/crypt_gray.png
  Resources/Textures/_NF/Objects/Devices/encryption_keys.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/encryption_keys.rsi/stc_label.png
Labels: Status: Needs Review, No C#, Sprites, YML

#2572 Replace NFSD cargo pallet with sell pallet
  Resources/Maps/_NF/POI/nfsd.yml
Labels: Status: Needs Review, Map-POI, No C#

#2567 More wreck edits
  Content.Shared/EntityTable/EntitySelectors/EntSelector.cs
  Content.Shared/EntityTable/EntitySelectors/EntityTableSelector.cs
  Content.Shared/EntityTable/ValueSelector/RangeNumberSelector.cs
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/wardrobe_colors.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_NF/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/_NF/Entities/World/Debris/wrecks.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_dungeons_events.yml
Labels: Status: Needs Review, No C#, YML, C#

#2573 Proper Fuel-Grade Conversion, Materials & Sprites
  Content.Server/Power/Generator/GeneratorSystem.cs
  Content.Server/Power/Generator/SolidFuelGeneratorAdapterComponent.cs
  Content.Server/_NF/Power/Generator/FuelGradeAdapterComponent.cs
  Content.Server/_NF/Power/Generator/FuelGradeAdapterSystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Reagents/Materials/fuelgrade.yml
  Resources/Prototypes/_NF/Stacks/Materials/fuelgrade.yml
  Resources/Textures/_NF/Objects/Specific/Fuel/fuelgrade_material.rsi/bananium.png
  Resources/Textures/_NF/Objects/Specific/Fuel/fuelgrade_material.rsi/empty.png
  Resources/Textures/_NF/Objects/Specific/Fuel/fuelgrade_material.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Fuel/fuelgrade_material.rsi/plasma.png
  Resources/Textures/_NF/Objects/Specific/Fuel/fuelgrade_material.rsi/uranium.png
Labels: Sprites, YML, C#

#2565 Adds new beverage: wassail
  Resources/Locale/en-US/_NF/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_NF/reagents/drinks.ftl
  Resources/Locale/en-US/_NF/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/_NF/Flavors/flavors.yml
  Resources/Prototypes/_NF/Reagents/Consumables/Drink/drinks.yml
  Resources/Prototypes/_NF/Recipes/Reactions/drinks.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/wassail.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/wassail.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/wassail.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/wassail.rsi/fill-4.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/wassail.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/wassail.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/wassail.rsi/meta.json
Labels: No C#, Sprites, YML, FTL

#2530 Cry-O Feedback Tweaks
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_NF/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_NF/Recipes/Reactions/medicine.yml
Labels: No C#, YML

#2341 make all cognizined mobs into free agents
  Content.Server/EntityEffects/Effects/MakeSentient.cs
  Resources/Locale/en-US/reagents/meta/medicine.ftl
Labels: Status: Needs Review, C#, FTL

#2574 Adjust jug plastic cost in medical techfab.
  Resources/Prototypes/Recipes/Lathes/medical.yml
Labels: No C#, YML

#2575 Spectre: Fix Disabled Thruster
  Resources/Maps/_NF/Shuttles/spectre.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2576 Remove duplicated recipe type from chocolate donut recipe
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
Labels: Status: Needs Review, No C#, YML

#2581 End of round respawn cleanup
  Content.Server/Corvax/Respawn/RespawnSystem.cs
Labels: C#

#2582 Restore hairball burgers/tacos/kebabs
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Species/felinid.yml
Labels: Status: Needs Review, No C#, YML

#2584 Department Name fields match department-[ID]
  Resources/Locale/en-US/_NF/job/department.ftl
  Resources/Locale/en-US/job/department.ftl
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_NF/Roles/Jobs/departments.yml
Labels: No C#, YML, FTL

#2564 Adds Charon shuttle guidebook map.
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Charon.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/charon.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Docs, No C#, Sprites, YML

#2569 Eggnog
  Resources/Locale/en-US/_NF/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/_NF/Reagents/Consumables/Drink/drinks.yml
  Resources/Prototypes/_NF/Recipes/Reactions/drinks.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/eggnog.rsi/fill1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/eggnog.rsi/fill2.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/eggnog.rsi/fill3.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/eggnog.rsi/fill4.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/eggnog.rsi/fill5.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/eggnog.rsi/fill6.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/eggnog.rsi/fill7.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/eggnog.rsi/fill8.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/eggnog.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/eggnog.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/eggnog.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/wassail.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#2559 Add Bosses to VGroids
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_hostile_argocyte.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_hostile_explorers.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_hostile_mercenaries.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_hostile_rogue_ai.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/mobs_hostile_silicons.yml
  Resources/Prototypes/_NF/Procedural/basalt_vgroid.yml
  Resources/Prototypes/_NF/Procedural/cave_vgroid.yml
  Resources/Prototypes/_NF/Procedural/chromite_vgroid.yml
  Resources/Prototypes/_NF/Procedural/scrap_vgroid.yml
  Resources/Prototypes/_NF/Procedural/snow_vgroid.yml
Labels: No C#, YML

#2563 Add Blood Cult Cat
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Maps/_NF/Bluespace/bloodmoon.yml
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_NF/Actions/types.yml
  Resources/Prototypes/_NF/Datasets/Names/cat_cult.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_hostile_bloodcult.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/mobs_hostile_bloodcult.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/_NF/Procedural/chromite_vgroid.yml
  Resources/Prototypes/_NF/Roles/Ghostroles/whitelisted.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/_NF/Effects/bloodcultprojectiles.rsi/hand.png
  Resources/Textures/_NF/Effects/bloodcultprojectiles.rsi/meta.json
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/cultcat.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/cultcat_dead.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/cultcat_rest.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/cultcat_rest_unshaded.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/cultcat_sit.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/cultcat_sit_unshaded.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/cultcat_unshaded.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/mask_null.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/meta.json
Labels: Map-Bluespace, No C#, Sprites, YML, FTL

#2580 Port gavel from Delta-V (#660), better powdered wig, courthouse revamp
  Resources/Audio/_NF/Items/Gavel/attributions.yml
  Resources/Audio/_NF/Items/Gavel/gavel1.ogg
  Resources/Audio/_NF/Items/Gavel/gavel2.ogg
  Resources/Audio/_NF/Items/Gavel/gavel3.ogg
  Resources/Audio/_NF/Items/Gavel/gavel4.ogg
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Justice/gavel.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Justice/gavelblock.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Justice/trialtimer.yml
  Resources/Prototypes/DeltaV/tags.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/_NF/SoundCollections/gavel.yml
  Resources/Textures/DeltaV/Objects/Specific/Justice/gavel.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Specific/Justice/gavel.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Specific/Justice/gavel.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Specific/Justice/gavel.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Specific/Justice/gavelblock.rsi/icon.png
  Resources/Textures/DeltaV/Objects/Specific/Justice/gavelblock.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Specific/Justice/trialtimer.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Specific/Justice/trialtimer.rsi/trialtimer.png
  Resources/Textures/_NF/Clothing/Head/Misc/pwig.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Misc/pwig.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Misc/pwig.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Head/Misc/pwig.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Head/Misc/pwig.rsi/meta.json
Labels: Status: Needs Review, Map-POI, No C#, Sprites, Audio

#2583 RefillableSolution: selective transfer outwards
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.Transfers.cs
  Content.Shared/Chemistry/Components/RefillableSolutionComponent.cs
  Content.Shared/Fluids/SharedPuddleSystem.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/food_base.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
Labels: Status: Needs Review, YML, C#

#2474 Sector-wide alerts, Frontier-specific alert text
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/AlertLevel/AlertLevelDisplaySystem.cs
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/AlertLevel/Commands/SetAlertLevelCommand.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Light/EntitySystems/EmergencyLightSystem.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/StationEvents/Events/AlertLevelInterceptionRule.cs
  Resources/Locale/en-US/alert-levels/alert-level-command.ftl
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Locale/en-US/light/components/emergency-light-component.ftl
  Resources/Locale/en-US/pda/pda-component.ftl
  Resources/Prototypes/_NF/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_NF/SectorServices/services.yml
Labels: Status: Needs Review, YML, C#, FTL

#2596 Fix Emergency Lights
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/Light/EntitySystems/EmergencyLightSystem.cs
Labels: Status: Needs Review, C#

#2453 Largely removes chem crates from the trade system.
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
Labels: No C#, YML

#2541 Multi gamemod support
  Content.IntegrationTests/PoolSettings.cs
  Content.Server/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/GameRule/Components/NFAdventureRuleComponent.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_NF/GameRule/PointOfInterestPrototype.cs
  Content.Server/_NF/GameRule/PointOfInterestSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
  Resources/Prototypes/_NF/GameRules/roundstart.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalousgeode.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalouslab.yml
  Resources/Prototypes/_NF/PointsOfInterest/bahamamamas.yml
  Resources/Prototypes/_NF/PointsOfInterest/caseys.yml
  Resources/Prototypes/_NF/PointsOfInterest/courthouse.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
  Resources/Prototypes/_NF/PointsOfInterest/edison.yml
  Resources/Prototypes/_NF/PointsOfInterest/grifty.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
  Resources/Prototypes/_NF/PointsOfInterest/mchobo.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
  Resources/Prototypes/_NF/PointsOfInterest/northpole.yml
  Resources/Prototypes/_NF/PointsOfInterest/omnichurch.yml
  Resources/Prototypes/_NF/PointsOfInterest/thepit.yml
  Resources/Prototypes/_NF/PointsOfInterest/tinniasrest.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
  Resources/Prototypes/_NF/PointsOfInterest/trademall.yml
  Resources/Prototypes/_NF/game_presets.yml
  Resources/Prototypes/game_presets.yml
Labels: Status: Needs Review, YML, C#, FTL

#2604 Fixed LinkedLifecycleGridParent on events
  Resources/Prototypes/_NF/Events/nf_bluespace_grids_events.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_salvage_events.yml
Labels: No C#, YML

#2568 Add a bucket and mop slot to the Janicart
  Resources/Locale/en-US/_NF/research/technologies.ftl
  Resources/Prototypes/Entities/Markers/Spawners/vehicles.yml
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Vehicles/vehicles.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
  Resources/Prototypes/_NF/Research/civilianservices.yml
  Resources/ServerInfo/Guidebook/Service/Janitorial.xml
  Resources/_NF/migration.yml
  Resources/migration.yml
Labels: Docs, Status: Needs Review, No C#, YML, FTL

#2590 Add an Alt verb to handicomms, to allow more convenient toggling
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Resources/Locale/en-US/radio/components/handheld-radio-component.ftl
Labels: Status: Needs Review, C#, FTL

#2521 PTK Rework
  Content.Client/IconSmoothing/IconSmoothSystem.cs
  Content.Server/Gatherable/GatherableSystem.Projectile.cs
  Content.Server/Mining/MiningSystem.cs
  Content.Server/_NF/Gatherable/Components/MiningGatheringHardComponent.cs
  Content.Server/_NF/Gatherable/Components/MiningGatheringSoftComponent.cs
  Content.Shared/Mining/Components/OreVeinComponent.cs
  Content.Shared/Weapons/Reflect/ReflectComponent.cs
  Resources/Maps/_NF/Bluespace/cave.yml
  Resources/Maps/_NF/Dungeon/supercompacted.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/cannons.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/Salvage/minerals.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/_NF/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/_NF/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/_NF/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/_NF/Procedural/Themes/supercompacted.yml
  Resources/Prototypes/_NF/Procedural/basalt_vgroid.yml
  Resources/Prototypes/_NF/Procedural/cave_vgroid.yml
  Resources/Prototypes/_NF/Procedural/chromite_vgroid.yml
  Resources/Prototypes/_NF/Procedural/snow_vgroid.yml
  Resources/Prototypes/_NF/ore.yml
  Resources/Prototypes/_NF/tags.yml
Labels: Status: Needs Review, Map-Bluespace, Map-Dungeon, YML, C#

#2605 Update EECCVars.cs
  Content.Shared/_EE/CCVar/EECCVars.cs
Labels: Status: Needs Review, C#

#2608 Flatpacks: rotatable, soil needs a shovel
  Content.Shared/Construction/SharedFlatpackSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/command_airlock_directional.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/meta.json
Labels: Sprites, YML, C#

#2611 Trade Outpost: Replace sell pallets under the telepads in CB1 with catwalk
  Resources/Maps/_NF/POI/trade.yml
Labels: Map-POI, No C#

#2613 Add alt depot presets
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
Labels: Status: Needs Review, No C#, YML

#2612 Random appearance for random pills
  Content.Server/_NF/Chemistry/RandomPillSystem.cs
  Content.Shared/Chemistry/Components/PillComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/randompill.yml
Labels: YML, C#

#2610 Custom split for spesos and spessos (space-station#32938 cherry-pick)
  Content.Client/Stack/StackCustomSplitBoundUserInterface.cs
  Content.Client/Stack/StackCustomSplitWindow.xaml
  Content.Client/Stack/StackCustomSplitWindow.xaml.cs
  Content.Server/Stack/StackSystem.cs
  Content.Shared/Stacks/SharedStackSystem.cs
  Content.Shared/Stacks/StackCustomSplit.cs
  Resources/Locale/en-US/stack/stack-component.ftl
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/space_cash.yml
Labels: YML, C#, UI, FTL

#2617 Add GPS app to pirate PDAs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Status: Needs Review, No C#, YML

#2616 Update masks.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: Status: Needs Review, No C#, YML

#2614 POI Spawning: Handle empty preset list, restrict protos in NfAdventureRule
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_NF/GameRule/PointOfInterestPrototype.cs
  Content.Server/_NF/GameRule/PointOfInterestSystem.cs
Labels: YML, C#

#2624 Remove the science tech fab
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/CircuitBoards/production.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/_NF/migration.yml
Labels: No C#, YML

#2631 Menace: spawn with IFF hidden
  Resources/Maps/_NF/Shuttles/BlackMarket/menace.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2630 Diona immune to FTL Knockdown
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/_NF/Shuttles/Components/FTLKnockdownImmuneComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/ServerInfo/_NF/Guidebook/Mobs/Diona.xml
Labels: Docs, YML, C#

#2626 Add fill states for "any" mags
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/heavy_rifle.yml
Labels: No C#, YML

#2628 Port Dogtags from CD and fix some minor issues with it. ( DeltaV #2301)
  Content.Server/_CD/Engraving/EngraveableComponent.cs
  Content.Server/_CD/Engraving/EngraveableSystem.cs
  Resources/Locale/en-US/_CD/engraving/engraving.ftl
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_flasks.yml
  Resources/Prototypes/Entities/Objects/Devices/wristwatch.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/_CD/Entities/Objects/Misc/dogtags.yml
  Resources/Prototypes/_CD/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Brigmedic/neck.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/neck.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/NFDetective/neck.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pal/neck.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Sheriff/neck.yml
  Resources/Prototypes/_NF/Loadouts/bailiff_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/brigmedic_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/cadet_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/deputy_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/lawyer_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/nfdetective_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pal_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/senior_officer_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/sheriff_loadout_groups.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/public_affairs.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
  Resources/Textures/_CD/Objects/Misc/dogtags.rsi/dogtag.png
  Resources/Textures/_CD/Objects/Misc/dogtags.rsi/equipped-NECK.png
  Resources/Textures/_CD/Objects/Misc/dogtags.rsi/meta.json
Labels: Sprites, YML, C#, FTL

#2627 buff ore box (DeltaV #2468)
  Resources/Prototypes/Entities/Structures/Storage/ore_box.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/plant_box.yml
Labels: Status: Needs Review, No C#, YML

#2621 Changed the detective's spawn clothing options
  Resources/Prototypes/_NF/Loadouts/Jobs/NFDetective/gloves.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/NFDetective/head.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/NFDetective/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/NFDetective/pda.yml
  Resources/Prototypes/_NF/Loadouts/nfdetective_loadout_groups.yml
Labels: No C#, YML
