Repository new-frontiers-14/frontier-station-14, pull requests merged in 2024-08, with the labels that each got.

#1759 Jerry Cans
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/fuelvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left-fill-5.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right-fill-1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right-fill-2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right-fill-3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right-fill-4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right-fill-5.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/jerrycan5.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/jerrycan.rsi/meta.json
Labels: Status: Needs Review, Map-POI, No C#, Sprites

#1767 Remove DC Cleithro
  Resources/Prototypes/_NF/Shipyard/cleithro.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, YML

#1755 Dev Map
  Resources/ConfigPresets/Build/development.toml
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Basic/sawn_pka.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: Status: Needs Review, No C#

#1769 Construct attributions
  Resources/Audio/_NF/Ambience/attributions.yml
Labels: No C#, YML

#1772 Fix client crash when accessing some shuttle consoles
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
Labels: C#, UI

#1775 Fixed faction on experimental nfsd hardsuit
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#, YML

#1777 dev_map (Update)
  Resources/Maps/_NF/Test/dev_map.yml
Labels: Status: Needs Review, No C#

#1779 Remove microwave from SV Orange
  Resources/Maps/_NF/Shuttles/Scrap/orange.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1771 Selective dropper fixes
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Shared/Chemistry/Components/InjectorComponent.cs
  Content.Shared/_NF/Chemistry/EntitySystems/ChangeReagentWhitelistSystem.cs
Labels: C#

#1774 Kegs + Urn Update
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/drinks_keg.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/mortuary_urn.yml
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/keg-alpha-5.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/keg-alpha-6.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/keg-empty.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/paper.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_plastic.rsi/stopper.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/base.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/icon_open.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_steel.rsi/paper.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/base.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/icon_open.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/keg_wood.rsi/paper.png
  Resources/Textures/_NF/Objects/Misc/mortuary_urn.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/mortuary_urn.rsi/paper.png
Labels: Status: Needs Review, No C#, Sprites, YML

#1770 Napkins
  Content.Server/Nutrition/Components/FoodComponent.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Resources/Audio/_NF/Effects/attributions.yml
  Resources/Audio/_NF/Items/Napkin/attributions.yml
  Resources/Audio/_NF/Items/Napkin/wipe.ogg
  Resources/Audio/_NF/Items/Pen/pen_sign.ogg
  Resources/Audio/_NF/Items/Toys/attributions.yml
  Resources/Locale/en-US/_NF/nutrition/components/food-component.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/trash.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/napkin.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/napkin.png
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/napkin_words.png
  Resources/Textures/_NF/Objects/Specific/Service/napkin.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Service/napkin.rsi/napkin.png
  Resources/Textures/_NF/Objects/Specific/Service/napkindrum.rsi/drum0.png
  Resources/Textures/_NF/Objects/Specific/Service/napkindrum.rsi/drum1.png
  Resources/Textures/_NF/Objects/Specific/Service/napkindrum.rsi/meta.json
Labels: Status: Needs Review, Sprites, YML, C#, FTL

#1728 Medical paperwork templates
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_medical.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/fun.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: Status: Needs Review, No C#, YML

#1786 Trade Station Tweaks
  Resources/Maps/_NF/POI/trade.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage_wallmount.yml
Labels: Map-POI, No C#

#1783 Update Gravitygen Price
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
Labels: No C#, YML

#1785 Exped Lodge Fixes
  Resources/Maps/_NF/POI/lodge.yml
Labels: Map-POI, No C#

#1773 Removed whitelists from belts
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
Labels: No C#, YML

#1765 Frontier Market / Trading console v0.1
  Content.Client/_NF/Market/BUI/MarketConsoleBoundUserInterface.cs
  Content.Client/_NF/Market/Systems/SharedMarketSystem.CrateMachine.cs
  Content.Client/_NF/Market/UI/MarketCartProductRow.xaml
  Content.Client/_NF/Market/UI/MarketCartProductRow.xaml.cs
  Content.Client/_NF/Market/UI/MarketMenu.xaml
  Content.Client/_NF/Market/UI/MarketMenu.xaml.cs
  Content.Client/_NF/Market/UI/MarketProductRow.xaml
  Content.Client/_NF/Market/UI/MarketProductRow.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/_NF/Contraband/Systems/ContrabandSystem.cs
  Content.Server/_NF/Market/Components/CargoMarketDataComponent.cs
  Content.Server/_NF/Market/Components/MarketConsoleComponent.cs
  Content.Server/_NF/Market/Extensions/MarketDataExtensions.cs
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Content.Server/_NF/Market/Systems/MarketSystem.cs
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
  Content.Shared/_NF/Market/BUI/MarketConsoleInterfaceState.cs
  Content.Shared/_NF/Market/Components/CrateMachineComponent.cs
  Content.Shared/_NF/Market/Events/CrateMachinePurchaseMessage.cs
  Content.Shared/_NF/Market/Events/MarketConsoleCartMessage.cs
  Content.Shared/_NF/Market/MarketData.cs
  Content.Shared/_NF/Market/SharedMarketSystem.cs
  Content.Shared/_NF/SectorServices/Prototypes/SectorServicePrototypes.cs
  Content.Shared/_NF/Whitelist/EntProtoIdWhitelistSystem.cs
  Resources/Locale/en-US/_NF/market/market-console-component.ftl
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/crate_machine.yml
  Resources/Textures/_NF/Structures/Machines/crate_machine.rsi/background.png
  Resources/Textures/_NF/Structures/Machines/crate_machine.rsi/closed.png
  Resources/Textures/_NF/Structures/Machines/crate_machine.rsi/closing.png
  Resources/Textures/_NF/Structures/Machines/crate_machine.rsi/crate.png
  Resources/Textures/_NF/Structures/Machines/crate_machine.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/crate_machine.rsi/open.png
  Resources/Textures/_NF/Structures/Machines/crate_machine.rsi/opening.png
Labels: Map-POI, Sprites, C#, UI, FTL

#1764 Ceres (tiny fix): Passive vent into space, not scrubber
  Resources/Maps/_NF/Shuttles/ceres.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1725 Adds SR Shipyard Console to Frontier Outpost
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
Labels: Map-Shuttle, No C#, Map-Outpost

#1695 Allow reapplying approved and denied stamps
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/Paper/StampComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Command/sr.yml
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/napkin.png
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/napkin_words.png
Labels: Status: Needs Review, Sprites, YML, C#, UI

#1781 LVHI branding for some shuttles
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Maps/_NF/Shuttles/Expedition/gasbender.yml
  Resources/Maps/_NF/Shuttles/harbormaster.yml
  Resources/Maps/_NF/Shuttles/kilderkin.yml
  Resources/Maps/_NF/Shuttles/lantern.yml
  Resources/Maps/_NF/Shuttles/legman.yml
  Resources/Maps/_NF/Shuttles/liquidator.yml
  Resources/Maps/_NF/Shuttles/pioneer.yml
  Resources/Maps/_NF/Shuttles/searchlight.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/posters.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/contraband.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/brigand.yml
  Resources/Prototypes/_NF/Shipyard/harbormaster.yml
  Resources/Prototypes/_NF/Shipyard/kilderkin.yml
  Resources/Prototypes/_NF/Shipyard/lantern.yml
  Resources/Prototypes/_NF/Shipyard/legman.yml
  Resources/Prototypes/_NF/Shipyard/liquidator.yml
  Resources/Prototypes/_NF/Shipyard/pioneer.yml
  Resources/Prototypes/_NF/Shipyard/searchlight.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Brigand.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Gasbender.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Harbormaster.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Kilderkin.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Lantern.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Legman.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Liquidator.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Pioneer.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Searchlight.xml
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster1_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster2_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster3_contraband.png
Labels: Docs, Map-Shuttle, No C#, Sprites

#1789 Fix Broken Grid Names
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/menace.yml
  Resources/Maps/_NF/Shuttles/Expedition/ambition.yml
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
  Resources/Maps/_NF/Shuttles/Expedition/gourd.yml
  Resources/Maps/_NF/Shuttles/Nfsd/broadhead.yml
  Resources/Maps/_NF/Shuttles/Nfsd/cleric.yml
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
  Resources/Maps/_NF/Shuttles/Nfsd/fighter.yml
  Resources/Maps/_NF/Shuttles/Nfsd/hospitaller.yml
  Resources/Maps/_NF/Shuttles/Nfsd/inquisitor.yml
  Resources/Maps/_NF/Shuttles/Nfsd/rogue.yml
  Resources/Maps/_NF/Shuttles/Nfsd/templar.yml
  Resources/Maps/_NF/Shuttles/Nfsd/wasp.yml
  Resources/Maps/_NF/Shuttles/Nfsd/whiskey.yml
  Resources/Maps/_NF/Shuttles/Scrap/canister.yml
  Resources/Maps/_NF/Shuttles/Scrap/disciple.yml
  Resources/Maps/_NF/Shuttles/Scrap/point.yml
  Resources/Maps/_NF/Shuttles/Sr/bottleneck.yml
  Resources/Maps/_NF/Shuttles/apothecary.yml
  Resources/Maps/_NF/Shuttles/bazaar.yml
  Resources/Maps/_NF/Shuttles/beaker.yml
  Resources/Maps/_NF/Shuttles/bookworm.yml
  Resources/Maps/_NF/Shuttles/bulker.yml
  Resources/Maps/_NF/Shuttles/caduceus.yml
  Resources/Maps/_NF/Shuttles/camper.yml
  Resources/Maps/_NF/Shuttles/chisel.yml
  Resources/Maps/_NF/Shuttles/cleithro.yml
  Resources/Maps/_NF/Shuttles/comet.yml
  Resources/Maps/_NF/Shuttles/crown.yml
  Resources/Maps/_NF/Shuttles/garden.yml
  Resources/Maps/_NF/Shuttles/hammer.yml
  Resources/Maps/_NF/Shuttles/hauler.yml
  Resources/Maps/_NF/Shuttles/investigator.yml
  Resources/Maps/_NF/Shuttles/knuckleverse.yml
  Resources/Maps/_NF/Shuttles/loader.yml
  Resources/Maps/_NF/Shuttles/lyrae.yml
  Resources/Maps/_NF/Shuttles/mailpod.yml
  Resources/Maps/_NF/Shuttles/metastable.yml
  Resources/Maps/_NF/Shuttles/parcel.yml
  Resources/Maps/_NF/Shuttles/placebo.yml
  Resources/Maps/_NF/Shuttles/spectre.yml
  Resources/Maps/_NF/Shuttles/spirit.yml
  Resources/Maps/_NF/Shuttles/stellaris.yml
  Resources/Maps/_NF/Shuttles/stratos.yml
  Resources/Maps/_NF/Shuttles/vagabond.yml
Labels: Status: Needs Review, Map-Shuttle, Map-POI, No C#

#1790 Revert "Fix Broken Grid Names"
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/menace.yml
  Resources/Maps/_NF/Shuttles/Expedition/ambition.yml
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
  Resources/Maps/_NF/Shuttles/Expedition/gourd.yml
  Resources/Maps/_NF/Shuttles/Nfsd/broadhead.yml
  Resources/Maps/_NF/Shuttles/Nfsd/cleric.yml
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
  Resources/Maps/_NF/Shuttles/Nfsd/fighter.yml
  Resources/Maps/_NF/Shuttles/Nfsd/hospitaller.yml
  Resources/Maps/_NF/Shuttles/Nfsd/inquisitor.yml
  Resources/Maps/_NF/Shuttles/Nfsd/rogue.yml
  Resources/Maps/_NF/Shuttles/Nfsd/templar.yml
  Resources/Maps/_NF/Shuttles/Nfsd/wasp.yml
  Resources/Maps/_NF/Shuttles/Nfsd/whiskey.yml
  Resources/Maps/_NF/Shuttles/Scrap/canister.yml
  Resources/Maps/_NF/Shuttles/Scrap/disciple.yml
  Resources/Maps/_NF/Shuttles/Scrap/point.yml
  Resources/Maps/_NF/Shuttles/Sr/bottleneck.yml
  Resources/Maps/_NF/Shuttles/apothecary.yml
  Resources/Maps/_NF/Shuttles/bazaar.yml
  Resources/Maps/_NF/Shuttles/beaker.yml
  Resources/Maps/_NF/Shuttles/bookworm.yml
  Resources/Maps/_NF/Shuttles/bulker.yml
  Resources/Maps/_NF/Shuttles/caduceus.yml
  Resources/Maps/_NF/Shuttles/camper.yml
  Resources/Maps/_NF/Shuttles/chisel.yml
  Resources/Maps/_NF/Shuttles/cleithro.yml
  Resources/Maps/_NF/Shuttles/comet.yml
  Resources/Maps/_NF/Shuttles/crown.yml
  Resources/Maps/_NF/Shuttles/garden.yml
  Resources/Maps/_NF/Shuttles/hammer.yml
  Resources/Maps/_NF/Shuttles/hauler.yml
  Resources/Maps/_NF/Shuttles/investigator.yml
  Resources/Maps/_NF/Shuttles/knuckleverse.yml
  Resources/Maps/_NF/Shuttles/loader.yml
  Resources/Maps/_NF/Shuttles/lyrae.yml
  Resources/Maps/_NF/Shuttles/mailpod.yml
  Resources/Maps/_NF/Shuttles/metastable.yml
  Resources/Maps/_NF/Shuttles/parcel.yml
  Resources/Maps/_NF/Shuttles/placebo.yml
  Resources/Maps/_NF/Shuttles/spectre.yml
  Resources/Maps/_NF/Shuttles/spirit.yml
  Resources/Maps/_NF/Shuttles/stellaris.yml
  Resources/Maps/_NF/Shuttles/stratos.yml
  Resources/Maps/_NF/Shuttles/vagabond.yml
Labels: Status: Needs Review, Map-Shuttle, Map-POI, No C#

#1791 Revert "Adds SR Shipyard Console to Frontier Outpost"
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, Map-Outpost

#1792 Add SR shipyard console to Frontier Outpost
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, Map-Outpost

#1794 Fix two minor POI bugs (Tinnia's, Trade)
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/fax_machine.yml
Labels: Map-POI, No C#

#1788 Undupe client-side honk
  Content.Shared/Vehicle/SharedVehicleSystem.cs
Labels: Status: Needs Review, C#

#1795 Removed Missed Food
  Resources/Maps/_NF/Shuttles/hauler.yml
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/boxes.yml
Labels: Map-Shuttle, No C#

#1797 Trade depot: add cargo market data component
  Resources/Maps/_NF/POI/trade.yml
Labels: Map-POI, No C#

#1800 RCD: add vend prices
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/shipyard_rcd.yml
Labels: Status: Needs Review, No C#, YML

#1802 2024 08 05 advanced magboots
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
Labels: Status: Needs Review, No C#, YML

#1803 More Food Fixups
  Content.Shared/Salvage/SharedSalvageSystem.cs
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/cargo.yml
  Resources/Prototypes/_NF/Procedural/salvage_rewards.yml
Labels: Status: Needs Review, YML, C#

#1798 Wallmount Jukebox
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
  Content.Shared/Audio/Jukebox/JukeboxComponent.cs
  Resources/Prototypes/_NF/Entities/Structures/Machines/jukebox.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/suit_storage_wall.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Textures/_NF/Structures/Machines/jukebox.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/jukebox.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/jukebox.rsi/on.png
  Resources/Textures/_NF/Structures/Machines/jukebox.rsi/select.png
Labels: Status: Needs Review, Sprites, YML, C#

#1799 Fix Frontier Outpost atmos issues
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: No C#, Map-Outpost

#1620 Inertia dampeners
  Content.Client/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_NF/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Content.Server/_NF/Station/Components/StationDampeningComponent.cs
  Content.Shared/Shuttles/BUIStates/NavInterfaceState.cs
  Content.Shared/_NF/Shuttles/Events/SetInertiaDampeningRequest.cs
  Resources/Locale/en-US/_NF/shuttles/console.ftl
  Resources/Locale/en-US/shuttles/console.ftl
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: Status: Needs Review, Map-Shuttle, YML, C#, UI, FTL

#1813 Fix BookSpaceLaw references to Hyperlink versions
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Labels: No C#, YML

#1787 Silk craft 2
  Resources/Prototypes/_NF/Entities/Clothing/Neck/web_neck_clothing.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/web_craft_graph.yml
  Resources/Prototypes/_NF/Recipes/Crafting/web_craft.yml
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/cloak_web.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Misc/classic_poncho_web.rsi/meta.json
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/equipped-NECK.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Neck/Misc/poncho_web.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#1818 Market console price fix
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
Labels: Status: Needs Review, C#

#1812 Fix Cargo Trade
  Content.Client/_NF/Market/UI/MarketMenu.xaml.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/DeltaV/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
Labels: Map-POI, C#, UI

#1801 Give parrots the ability to repeat learned phrases
  Content.Server/_NF/Speech/Components/ParrotSpeechComponent.cs
  Content.Server/_NF/Speech/EntitySystems/ParrotSpeechSystem.cs
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/yarrrdrobe.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/_NF/Clothing/Neck/Cloaks/pirate_parrot.rsi/icon.png
  Resources/Textures/_NF/Clothing/Neck/Cloaks/pirate_parrot.rsi/meta.json
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/dead.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/equipped-NECK.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/icon.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/inhand-left.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/inhand-right.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/meta.json
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/parrot.png
  Resources/Textures/_NF/Mobs/NPC/Animals/parrot.rsi/sit.png
Labels: Sprites, YML, C#

#1822 Remove the praeda
  Resources/Maps/_NF/Shuttles/Expedition/praeda.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/praeda.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1825 Fix debug builds so we can debug again
  Content.Server/_NF/PublicTransit/PublicTransitSystem.cs
  Resources/Maps/_NF/Test/dev_map.yml
Labels: C#

#1823 Raisins + some minor ingredient and microwave recipe changes
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Shared/Kitchen/MicrowaveMealRecipePrototype.cs
  Resources/Locale/en-US/_NF/reagents/foods.ftl
  Resources/Locale/en-US/_NF/reagents/meta/consumable/food/food.ftl
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_NF/Reagents/Consumables/food.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
Labels: YML, C#, FTL

#1826 DevNF (Update)
  Content.Server/_NF/PublicTransit/PublicTransitSystem.cs
  Resources/Maps/_NF/Shuttles/Bus/publicts.yml
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: Status: Needs Review, Map-Shuttle, C#

#1828 Resaved dungeon templates under recent master
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
Labels: Status: Needs Review, Map-Dungeon, No C#

#1815 Pacified Zone marker
  Content.Server/Nyanotrasen/Abilities/Felinid/FelinidSystem.cs
  Content.Server/_NF/PacifiedZone/PacifiedByZoneComponent.cs
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorComponent.cs
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorSystem.cs
  Resources/Locale/en-US/_NF/alerts/alerts.ftl
  Resources/Locale/en-US/_NF/pacified/pacified.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/Shuttles/Bus/publicts.yml
  Resources/Prototypes/_NF/Alerts/pacified_zone.yml
  Resources/Prototypes/_NF/Entities/Markers/pacified_zone.yml
  Resources/Textures/_NF/Markers/pacifiedzone.rsi/meta.json
  Resources/Textures/_NF/Markers/pacifiedzone.rsi/pacified_zone.png
Labels: Status: Needs Review, Map-Shuttle, Sprites, C#, FTL, Map-Outpost

#1827 LateJoin menu: remove jobless stations
  Content.Client/_NF/Latejoin/VesselListControl.xaml.cs
Labels: Status: Needs Review, C#, UI

#1603 Smooth transition for walls and windows icons
  Content.Client/IconSmoothing/IconSmoothComponent.cs
  Content.Client/IconSmoothing/IconSmoothSystem.cs
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/mining.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/_NF/Entities/Structures/Walls/diagonal_walls.yml
  Resources/Prototypes/_NF/Entities/Structures/Windows/plastitanium.yml
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf0.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf1.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf2.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf3.png
  Resources/Textures/_NF/Structures/Walls/solid_reinforced_diagonal.rsi/reinf4.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium0.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium1.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium2.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium3.png
  Resources/Textures/_NF/Structures/Walls/uranium_diagonal.rsi/uranium4.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/meta.json
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/state0.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/state1.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/wood0.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/wood1.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/wood2.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/wood3.png
  Resources/Textures/_NF/Structures/Walls/wood_diagonal.rsi/wood4.png
Labels: Sprites, YML, C#

#1831 Revert upstream space damage
  Content.Shared/Atmos/Atmospherics.cs
Labels: C#

#1834 Move banners to _NF + add correct attribution
  Resources/Prototypes/Entities/Structures/Decoration/banners.yml
  Resources/Prototypes/_NF/Recipes/Construction/furniture.yml
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner-blue.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner-green.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner-red.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner-yellow.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_cargo.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_engineering.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_medical.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_revolution.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_science.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_security.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner_syndicate.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#1829 Market Sale Update
  Content.Shared/_NF/Bank/Components/MarketModifierComponent.cs
  Content.Shared/_NF/Bank/MarketModifierSystem.cs
  Resources/Locale/en-US/_NF/bank/market.ftl
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: Status: Needs Review, YML, C#, FTL

#1816 Round start spawn fixes, job display order and weights
  Content.Server/Station/Systems/StationJobsSystem.Roundstart.cs
  Resources/Locale/en-US/_NF/job/job-supervisors.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Civilian/valet.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Service/mail_carrier.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/contractor.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/mercenary.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/pilot.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/security_guard.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/stc.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/detectivenf.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
Labels: YML, C#, FTL

#1810 AbsorbentSystem only works with water, no vomit
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
  Resources/Prototypes/Nyanotrasen/Reagents/Consumable/Drink/drinks.yml
Labels: Status: Needs Review, YML, C#

#1766 Make shuttle deeds more inspectable + visible on PDA
  Content.Client/PDA/PdaMenu.xaml
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Server/Shipyard/Systems/ShuttleDeedSystem.cs
  Content.Shared/PDA/PdaUpdateState.cs
  Resources/Locale/en-US/_NF/pda/pda-component.ftl
  Resources/Locale/en-US/_NF/shipyard/shuttle-deed-system.ftl
Labels: C#, UI, FTL

#1782 Bureaucracy Loadouts, Doctor, Engineer Stamps
  Content.Server/Paper/PaperSystem.cs
  Resources/Locale/en-US/_NF/paper/stamp-component.ftl
  Resources/Locale/en-US/_NF/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/stamps.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/bureaucracy.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/fun.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-doctor.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-engineer.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-pirate.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-psychologist.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-sheriff.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-signature.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-stc.png
  Resources/Textures/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/stamp-doctor.png
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/stamp-engineer.png
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/stamp-psychologist.png
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/stamp-stc.png
Labels: Status: Needs Review, Sprites, YML, C#, FTL

#1840 DeltaV Icons Fixup
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Security/prisonguard.yml
  Resources/Prototypes/Nyanotrasen/StatusEffects/job.yml
  Resources/Prototypes/_NF/StatusEffects/job.yml
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/Chaplain.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/ChiefJustice.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/Clerk.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/Lawyer.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/MedicalBorg.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/Prosecutor.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/SecurityBorg.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/nyanoGladiator.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/nyanoMailCarrier.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/nyanoMantis.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/nyanoMartialArtist.png
  Resources/Textures/DeltaV/Interface/Misc/job_icons.rsi/nyanoPrisonGuard.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/idchaplain.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/idchiefjustice.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/idclerk.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/idlawyer.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/idprosecutor.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanogladiator.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanomailcarrier.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanomantis.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanomartialartist.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanoprisoner.png
  Resources/Textures/DeltaV/Objects/Misc/id_cards.rsi/nyanoprisonguard.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#1838 DebugNF (Update)
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: No C#

#1842 Observer radar update
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: No C#, YML

#1837 Market Price (Balance)
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
Labels: Status: Needs Review, No C#, YML

#1848 Intercom: disable tool use, make sensitive versions indestructible.
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
Labels: No C#, YML

#1847 Poultry cube boxes!
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/rehydrateable.yml
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/box_poultry.png
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/wrapper_chicken.png
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/wrapper_duck.png
Labels: No C#, Sprites, YML

#1851 Add Paradise fire extinguisher with attribution
  Resources/Prototypes/Catalog/Cargo/cargo_emergency.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/furniture/altars.yml
  Resources/Textures/_NF/Objects/Misc/fire_extinguisher.rsi/fire_extinguisher_closed.png
  Resources/Textures/_NF/Objects/Misc/fire_extinguisher.rsi/fire_extinguisher_open.png
  Resources/Textures/_NF/Objects/Misc/fire_extinguisher.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Misc/fire_extinguisher.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Misc/fire_extinguisher.rsi/meta.json
Labels: No C#, Sprites, YML

#1768 Add currency notation
  Content.Client/Bank/UI/BankATMMenu.xaml.cs
  Content.Client/Bank/UI/StationBankATMMenu.xaml.cs
  Content.Client/Bank/UI/WithdrawBankATMMenu.cs
  Content.Client/Cargo/UI/BountyEntry.xaml.cs
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Client/Cargo/UI/CargoPalletMenu.xaml.cs
  Content.Client/Lobby/UI/Loadouts/LoadoutWindow.xaml.cs
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Client/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Client/Store/Ui/StoreWithdrawWindow.xaml.cs
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Client/_NF/BountyContracts/UI/BountyContractUiFragmentListEntry.xaml.cs
  Content.Client/_NF/Contraband/UI/ContrabandPalletMenu.xaml.cs
  Content.Client/_NF/Pirate/UI/PirateBountyEntry.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Server/_NF/Cargo/CargoSystem.PirateBounty.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/_NF/Bank/BankSystemExtensions.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/_NF/bank/bank-ATM-component.ftl
  Resources/Locale/en-US/_NF/loadouts/loadouts.ftl
  Resources/Locale/en-US/_NF/preferences/humanoid-character-profile.ftl
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Locale/en-US/cargo/cargo-bounty-console.ftl
  Resources/Locale/en-US/cargo/cargo-console-component.ftl
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
Labels: YML, C#, UI, FTL

#1846 Add FTL knockdown immunity to hostile NPCs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/_NF/Shuttles/Components/FTLKnockdownImmuneComponent.cs
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
Labels: YML, C#

#1845 Expedition Console: block mission selection if shuttle has FTL component
  Content.Server/Salvage/SalvageSystem.ExpeditionConsole.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
  Resources/Locale/en-US/procedural/expeditions.ftl
  Resources/Prototypes/_NF/Entities/Structures/Specific/punks.yml
Labels: Status: Needs Review, YML, C#, FTL

#1849 Windows and glass airlocks in expeditions (and only there) block lasers
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/haunted.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/mineshaft.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/airlocks.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/grille.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/windows.yml
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
Labels: Map-Dungeon, No C#

#1832 PTS 2.0: complete remake
  Resources/Maps/_NF/Shuttles/pts.yml
  Resources/Prototypes/_NF/Shipyard/pts.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1841 Add NeedAllJobRequirement to job proto
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Roles/SharedRoleSystem.cs
  Resources/Locale/en-US/_NF/job/role-timers.ftl
Labels: Status: Needs Review, C#, FTL

#1844 Mob/Turret Laser Reflect Chance
  Resources/Maps/_NF/Bluespace/cache.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/turret_spawner.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_bloodcultist.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_aberrant_flesh.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_rogue_ai.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_wizardfederation.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/base_turret.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/turrets.yml
Labels: Status: Needs Review, Map-Bluespace, No C#

#1852 Add Hovertaxibot
  Content.Shared/Vehicle/SharedVehicleSystem.cs
  Content.Shared/_NF/Vehicle/Components/VehicleHornComponent.cs
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/bots/hovertaxibot.yml
  Resources/Prototypes/_NF/Recipes/Crafting/bots.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Mobs/Silicons/Bots/hovertaxibot.rsi/engines.png
  Resources/Textures/_NF/Mobs/Silicons/Bots/hovertaxibot.rsi/hull.png
  Resources/Textures/_NF/Mobs/Silicons/Bots/hovertaxibot.rsi/meta.json
  Resources/Textures/_NF/Mobs/Silicons/Bots/hovertaxibot.rsi/unshaded.png
Labels: Sprites, YML, C#, FTL

#1796 Crescent (Update)
  Resources/Maps/_NF/Shuttles/crescent.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1685 KC Anchor (Update)
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/anchor.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1857 Remove superfluous keys from shuttle telecom server
  Resources/Prototypes/_NF/Entities/Structures/Machines/telecomms.yml
Labels: Status: Needs Review, No C#, YML

#1806 LVHI Broom Shuttle (New)
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/Shuttles/Sr/broom.yml
  Resources/Maps/_NF/Shuttles/Sr/mailpod.yml
  Resources/Maps/_NF/Shuttles/Sr/parcel.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/_NF/Shipyard/Sr/broom.yml
  Resources/Prototypes/_NF/Shipyard/Sr/mailpod.yml
  Resources/Prototypes/_NF/Shipyard/Sr/parcel.yml
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard_sr.png
Labels: Map-Shuttle, No C#, Sprites, Map-Outpost

#1863 Remove character preferences for sleeper agent.
  Resources/Prototypes/Roles/Antags/traitor.yml
Labels: Status: Needs Review, No C#, YML

#1861 Ensure Mineshaft dungeons (expeditions, space dungeons) have actual walls
  Resources/Prototypes/Procedural/dungeon_configs.yml
Labels: No C#, YML

#1865 Frontier Outpost: Fix the dang medical cross colour
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: No C#, Map-Outpost

#1867 CMO Turtleneck Added to Loadout
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: Status: Needs Review, No C#, YML

#1854 Mercenary tech fab
  Resources/Locale/en-US/_NF/lathe/lathe-categories.ftl
  Resources/Locale/en-US/_NF/research/technologies.ftl
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/categories.yml
  Resources/Prototypes/Recipes/Lathes/cooking.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/expeditionaryflatpackvend.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/Eyes/glasses_punks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/armor_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/coats_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/boots_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/recyclable_clothing_base.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_mercenary.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Objects/Storage/weapon_cases.yml
  Resources/Prototypes/_NF/Entities/Structures/Holographic/graffiti.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Recipes/Lathes/ammo.yml
  Resources/Prototypes/_NF/Recipes/Lathes/armor.yml
  Resources/Prototypes/_NF/Recipes/Lathes/categories.yml
  Resources/Prototypes/_NF/Recipes/Lathes/clothes.yml
  Resources/Prototypes/_NF/Recipes/Lathes/devices.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_NF/Recipes/Lathes/eva.yml
  Resources/Prototypes/_NF/Recipes/Lathes/medical.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
  Resources/Prototypes/_NF/Recipes/Lathes/storage.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
  Resources/Prototypes/_NF/Recipes/Lathes/weapons.yml
  Resources/Prototypes/_NF/Research/arsenal.yml
  Resources/Prototypes/_NF/Research/civilianservices.yml
  Resources/Prototypes/_NF/Research/experimental.yml
  Resources/Textures/Structures/Machines/techfab.rsi/meta.json
  Resources/Textures/Structures/Machines/techfab.rsi/nfsd.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/mercenary.png
  Resources/Textures/_NF/Objects/Devices/flatpack.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/module.rsi/hacked-merc-fab-board.png
  Resources/Textures/_NF/Objects/Misc/module.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/techfab.rsi/mercenary.png
  Resources/Textures/_NF/Structures/Machines/techfab.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/techfab.rsi/salvage.png
Labels: Status: Needs Review, No C#, Sprites, YML, FTL, Status: Need Discussion

#1855 Pacified Zone: filter immune users by playtime
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorComponent.cs
  Content.Server/_NF/PacifiedZone/PacifiedZoneGeneratorSystem.cs
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/Shuttles/Bus/publicts.yml
  Resources/Prototypes/_NF/Entities/Markers/pacified_zone.yml
Labels: Status: Needs Review, Map-Shuttle, C#, Map-Outpost

#1866 More Infinite Supply Vendors
  Resources/Locale/en-US/_NF/advertisements/mobchatter/syndicatehumanoidmob.ftl
  Resources/Locale/en-US/_NF/advertisements/vending/civimed.ftl
  Resources/Maps/Test/dev_map.yml
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/tankdispenser.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_medical.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Advertisements/civimed.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/astrovend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/civimed.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/lesslethalvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/tankdispenser.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/vendomat.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/youtool.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_NF/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Service/vending_machine_restock.rsi/refill_civimed.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/wallcivimed.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/wallcivimed.rsi/deny-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/wallcivimed.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/wallcivimed.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/wallcivimed.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/wallcivimed.rsi/panel.png
Labels: Map-POI, No C#, Sprites, FTL, Map-Outpost

#1870 Medidrobe change
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
Labels: No C#, YML

#1862 Expedition FTL: avoid collisions on returning.
  Content.Server/Salvage/SalvageSystem.Runner.cs
Labels: C#

#1859 Derelict McCargo (McHobo): (New) Alternative POI to Grifty's
  Resources/Maps/_NF/POI/mchobo.yml
  Resources/Prototypes/_NF/Entities/Markers/warp_point.yml
  Resources/Prototypes/_NF/PointsOfInterest/griftys.yml
  Resources/Prototypes/_NF/PointsOfInterest/mchobo.yml
Labels: Status: Needs Review, Map-POI, No C#

#1875 Dragonfly bridgefix
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
Labels: Map-Shuttle, No C#

#1871 Shuttle Communication Intercom
  Content.Server/Radio/Components/RadioSpeakerComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/_NF/RadioEntity/Components/ShuttleIntercomComponent.cs
  Content.Server/_NF/RadioEntity/RadioEvent.cs
  Content.Server/_NF/RadioEntity/Systems/ShuttleIntercomSystem.cs
  Content.Shared/Radio/Components/IntercomComponent.cs
  Resources/Locale/en-US/_NF/radio/components/intercom.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
Labels: YML, C#, FTL

#1860 Shotgun spread refactor Cherry Picked
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Projectiles/ProjectileSpreadComponent.cs
  Content.Shared/Weapons/Ranged/Components/AmmoComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_aberrant_flesh.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Wizard/conjured_items.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Throwable/throwable_weapons.yml
Labels: YML, C#

#1880 Change Frontier and NFSD offset
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
Labels: No C#, YML

#1833 Handheld Radio Frequencies
  Content.Client/_NC/Radio/UI/HandheldRadioBoundUserInterface.cs
  Content.Client/_NC/Radio/UI/HandheldRadioMenu.xaml
  Content.Client/_NC/Radio/UI/HandheldRadioMenu.xaml.cs
  Content.Server/Radio/Components/RadioMicrophoneComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/RadioChannelPrototype.cs
  Content.Shared/_NC/Radio/SharedHandheldRadio.cs
  Resources/Locale/en-US/radio/components/handheld-radio-component.ftl
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/repdrobe.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/Random/randomitems.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/astrovend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_supply.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/tools.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
  Resources/Prototypes/radio_channels.yml
  Resources/Textures/_NF/Objects/Devices/communication.rsi/base.png
  Resources/Textures/_NF/Objects/Devices/communication.rsi/broadcasting.png
  Resources/Textures/_NF/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/communication.rsi/speaker.png
  Resources/Textures/_NF/Objects/Devices/communication.rsi/walkietalkie-inhand-left.png
  Resources/Textures/_NF/Objects/Devices/communication.rsi/walkietalkie-inhand-right.png
  Resources/migration.yml
Labels: Status: Needs Review, Sprites, YML, C#, UI, FTL

#1884 Enable garbage collection on base debris
  Resources/Prototypes/_NF/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/_NF/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/_NF/Entities/World/Debris/wrecks.yml
Labels: Status: Needs Review, No C#, YML

#1885 Mail Metrics: access from anywhere, consistent error tracking.
  Content.Server/DeltaV/Cargo/Components/SectorLogisticStatsDatabaseComponent.cs
  Content.Server/DeltaV/Cargo/Systems/LogisticStatsSystem.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/MailMetricsCartridgeComponent.cs
  Content.Server/DeltaV/CartridgeLoader/Cartridges/MailMetricsCartridgeSystem.cs
  Content.Server/Nyanotrasen/Mail/MailSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Nyanotrasen/Entities/Stations/mail.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/mail.yml
  Resources/Prototypes/_NF/SectorServices/services.yml
Labels: Status: Needs Review, YML, C#

#1879 Expedition: Only use bounding box of largest grid for dungeon alignment
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
Labels: Status: Needs Review, C#

#1864 Murky windows color tint, dungeon config tweaks
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/mineshaft.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/spaceplatform.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/grille.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/windoor.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/windows.yml
  Resources/Prototypes/_NF/Procedural/dungeon_configs.yml
Labels: Status: Needs Review, Map-Dungeon, No C#

#1887 Expeditions: unstick consoles on failure
  Content.Server/Salvage/SalvageSystem.ExpeditionConsole.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Server/_NF/Salvage/ExpeditionSpawnCompleteEvent.cs
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_dinosaurs.yml
  Resources/ServerInfo/_NF/Guidebook/MobsHostileExpedition/dinosaurs.xml
Labels: Docs, Status: Needs Review, YML, C#

#1883 Nerfs Explorer Dungeon Boss, adds a holopickaxe
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_explorers.yml
  Resources/Prototypes/_NF/Entities/Clothing/Hands/gloves_mob_hostile_npcs.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/e_pickaxe.yml
  Resources/Prototypes/_NF/Roles/Jobs/Hostile/explorers.yml
  Resources/ServerInfo/_NF/Guidebook/MobsHostileExpedition/explorers.xml
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/e-pickaxe-blade.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/e-pickaxe.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/inhand-left-blade.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/inhand-right-blade.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Melee/energy_pickaxe.rsi/meta.json
Labels: Docs, Status: Needs Review, No C#, Sprites, YML

#1889 Anchor the Derelict McCargo
  Resources/Maps/_NF/POI/mchobo.yml
Labels: Status: Needs Review, Map-POI, No C#

#1891 PSB: inedible peel, grammar/style pass
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Food/ration.yml
Labels: Status: Needs Review, No C#, YML

#1892 Add CanMove field to POI prototype
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Shared/_NF/GameRule/PointOfInterestPrototype.cs
Labels: Status: Needs Review, C#

#1900 CCVar Cleanup
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/_NF/Commands/GhostRespawnCommand.cs
  Content.Server/_NF/CryoSleep/CryoSleepSystem.Returning.cs
  Content.Server/_NF/CryoSleep/CryoSleepSystem.cs
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_NF/PublicTransit/PublicTransitSystem.cs
  Content.Shared/DeltaV/CCVars/DCCVars.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
Labels: Status: Needs Review, C#, UI

#1902 Directional Fans (#27772)
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/special.yml
  Resources/Textures/Structures/Piping/Atmospherics/directionalfan.rsi/icon.png
  Resources/Textures/Structures/Piping/Atmospherics/directionalfan.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#1901 Cargo Market: move database from grid to station
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
  Content.Server/_NF/Market/Systems/MarketSystem.cs
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/cargodepotalt.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Prototypes/_NF/Entities/Stations/base.yml
  Resources/Prototypes/_NF/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
Labels: Map-POI, C#

#1380 Expedition Early Finish
  Content.Client/Salvage/UI/SalvageExpeditionConsoleBoundUserInterface.cs
  Content.Client/Salvage/UI/SalvageExpeditionWindow.xaml
  Content.Client/Salvage/UI/SalvageExpeditionWindow.xaml.cs
  Content.Server/Salvage/SalvageSystem.ExpeditionConsole.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SalvageSystem.Runner.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Shared/Salvage/Expeditions/SalvageExpeditions.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
  Resources/Locale/en-US/_NF/procedural/expeditions.ftl
  Resources/Prototypes/Entities/Effects/shuttle.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: Status: Needs Review, YML, C#, UI, FTL

#1905 Cleanup SalvageMobRestrictionsNF
  Content.Server/_NF/Salvage/SalvageMobRestrictionsSystem.cs
Labels: Status: Needs Review, C#

#1748 Addition Pirate Uplink Items.
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_NF/Catalog/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/pirate_anchor.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Throwable/pirate_bombs.yml
  Resources/Textures/_NF/Clothing/Head/Hardsuits/pirate_elite.rsi/icon-flash.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/pirate_elite.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/pirate_elite.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Hardsuits/pirate_elite.rsi/off-equipped-HELMET-reptilian.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/pirate_elite.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/pirate_elite.rsi/off-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/pirate_elite.rsi/on-equipped-HELMET-reptilian.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/pirate_elite.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/_NF/Clothing/Head/Hardsuits/pirate_elite.rsi/on-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/pirate_elite.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/pirate_elite.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/pirate_elite.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/pirate_elite.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Hardsuits/pirate_elite.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_caustic.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_caustic.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_caustic.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_caustic.rsi/primed.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_explosive.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_explosive.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_explosive.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_explosive.rsi/primed.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_fire.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_fire.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_fire.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Bombs/pirate_fire.rsi/primed.png
  Resources/Textures/_NF/Objects/Weapons/Melee/pirate_anchor.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Melee/pirate_anchor.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Melee/pirate_anchor.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/pirate_anchor.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Melee/pirate_anchor.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Melee/pirate_anchor.rsi/wielded-inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/pirate_anchor.rsi/wielded-inhand-right.png
Labels: Status: Needs Review, No C#, Sprites, YML, FTL

#1820 Adjusts NFSD Time to more appropriate values
  Content.Shared/Roles/JobRequirements.cs
  Resources/Locale/en-US/_NF/job/role-timers.ftl
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/cadet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/detectivenf.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
Labels: YML, C#, FTL

#1850 Partycrate Birthday Cake Balancing
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/misc.yml
Labels: No C#, YML

#1817 Disable health icons in HUDs
  Content.Client/StatusIcon/StatusIconOverlay.cs
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/StatusIcon/StatusEffects/ssd.yml
  Resources/Prototypes/_NF/Entities/Clothing/Eyes/glasses_punks.yml
Labels: Status: Needs Review, YML, C#

#1907 Armor FIxup
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Status: Needs Review, No C#, YML

#1763 Eagle-(Update-2)
  Resources/Maps/_NF/Shuttles/eagle.yml
  Resources/Prototypes/_NF/Shipyard/eagle.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1918 Stasis Pipe Patch
  Resources/Maps/_NF/Shuttles/stasis.yml
Labels: Map-Shuttle, No C#

#1919 Fix big box of rubber bullets
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Boxes/rifle.yml
Labels: No C#, YML

#1895 Adds a Wallmount Nitrogen Locker and Combined O2/N2 Emergency Lockers
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/closets.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/emergency.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/closets.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Textures/_NF/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/closet.rsi/o2n2.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/o2n2_door.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/o2n2_open.png
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/n2.png
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/n2_door.png
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/n2_open.png
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/o2n2.png
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/o2n2_door.png
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/o2n2_open.png
  Resources/Textures/_NF/Structures/Storage/wall_locker.rsi/welded.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/welded.png
Labels: No C#, Sprites, YML

#1923 Make plastic more findable and buff recipe
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
Labels: Status: Needs Review, No C#, YML

#1924 Revert "Make plastic more findable and buff recipe"
  Resources/Prototypes/Recipes/Reactions/fun.yml
Labels: Status: Needs Review, No C#, YML

#1922 EMP Rework (Upstream #28984)
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasThermoMachineSystem.cs
  Content.Server/Atmos/Portable/SpaceHeaterSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Emp/EmpSystem.cs
  Content.Server/Gravity/GravityGeneratorSystem.cs
  Content.Server/Power/Components/ActiveChargerComponent.cs
  Content.Server/Power/Components/ChargingComponent.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Server/Power/EntitySystems/ChargerSystem.cs
  Content.Server/Power/EntitySystems/PowerReceiverSystem.cs
  Content.Server/Power/PowerWireAction.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Server/_NF/M_Emp/M_EmpSystem.cs
  Resources/Prototypes/Entities/Effects/admin_triggers.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_NF/Mail/Items/misc.yml
  Resources/Prototypes/floor_trap.yml
Labels: Status: Needs Review, YML, C#

#1912 Fix signing, undupe signatures in description.
  Content.Server/Paper/PaperSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
Labels: Status: Needs Review, YML, C#
