Repository new-frontiers-14/frontier-station-14, pull requests merged in 2024-05, with the labels that each got.

#1313 Fixes Harpy Skirt Bugs
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: No C#, YML

#1315 Goblin Fixes
  Resources/Audio/_NF/Voice/Goblin/attributions.yml
  Resources/Audio/_NF/Voice/Goblin/goblin-cackle-01.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-cackle-02.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-cackle-03.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-cackle-04.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin-cackle-05.ogg
  Resources/Audio/_NF/Voice/Goblin/license.txt
  Resources/Prototypes/_NF/Body/Organs/goblin_organs.yml
Labels: Status: Needs Review, No C#, YML

#1319 NFSD Brigmedic PDA now has a medical scanner
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
Labels: Status: Needs Review, No C#, YML

#1314 Make ion storms system-wide instead of shuttle-local
  Content.Server/StationEvents/Events/IonStormRule.cs
Labels: Status: Needs Review, C#

#1320 Flatpack Vend Edits
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/expeditionaryflatpackvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
Labels: Status: Needs Review, No C#, YML

#1307 Felinid (DeltaV Update)
  Content.Shared/DeltaV/StepTrigger/Component/NoShoesSilentFootstepsComponent.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Resources/Prototypes/DeltaV/typing_indicator.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Textures/DeltaV/Effects/speech.rsi/felinid0.png
  Resources/Textures/DeltaV/Effects/speech.rsi/felinid1.png
  Resources/Textures/DeltaV/Effects/speech.rsi/felinid2.png
  Resources/Textures/DeltaV/Effects/speech.rsi/meta.json
  Resources/Textures/DeltaV/Mobs/Customization/Felinid/felinid_tails.rsi/felinid_fluffy_tail_rings.png
Labels: Status: Needs Review, Sprites, YML, C#

#1318 Mail Pod (Update)
  Resources/Maps/_NF/Shuttles/mailpod.yml
  Resources/Prototypes/_NF/Shipyard/mailpod.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1326 PDA (Fix)
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
Labels: Status: Needs Review, No C#, YML

#1327 05/02/2024 - NFSD shipyard Updates on the backend.
  Resources/Maps/_NF/Shuttles/Nfsd/cleric.yml
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
  Resources/Maps/_NF/Shuttles/Nfsd/enforcer.yml
  Resources/Maps/_NF/Shuttles/Nfsd/fighter.yml
  Resources/Maps/_NF/Shuttles/Nfsd/hospitaller.yml
  Resources/Maps/_NF/Shuttles/Nfsd/inquisitor.yml
  Resources/Maps/_NF/Shuttles/Nfsd/interceptor.yml
  Resources/Maps/_NF/Shuttles/Nfsd/marauder.yml
  Resources/Maps/_NF/Shuttles/Nfsd/opportunity.yml
  Resources/Maps/_NF/Shuttles/Nfsd/prowler.yml
  Resources/Maps/_NF/Shuttles/Nfsd/rogue.yml
  Resources/Maps/_NF/Shuttles/Nfsd/templar.yml
  Resources/Maps/_NF/Shuttles/Nfsd/trident.yml
  Resources/Maps/_NF/Shuttles/Nfsd/wasp.yml
  Resources/Maps/_NF/Shuttles/Nfsd/whiskey.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/cleric.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/empress.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/enforcer.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/fighter.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/hospitaller.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/inquisitor.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/interceptor.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/marauder.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/opportunity.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/prowler.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/rogue.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/templar.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/trident.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/wasp.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/whiskey.yml
  Resources/Prototypes/_NF/Shipyard/Security/whiskey.yml
Labels: No C#

#1328 Update labeler.yml
  .github/labeler.yml
Labels: Status: Needs Review, No C#

#1144 Refinement process follow-up
  Resources/Locale/en-US/_NF/paper/book-authorbooks.ftl
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/books_author.yml
Labels: Status: Needs Review, No C#, YML, FTL

#1339 Increase goblin damage
  Resources/Prototypes/_NF/Damage/modifier_sets.yml
Labels: Status: Needs Review, No C#, YML

#1321 Pioneer (Update) + Guidebook
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/pioneer.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
  Resources/Prototypes/_NF/Guidebook/bank.yml
  Resources/Prototypes/_NF/Guidebook/guidebook.yml
  Resources/Prototypes/_NF/Guidebook/nf14.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/species.yml
  Resources/ServerInfo/_NF/Guidebook/Bank.xml
  Resources/ServerInfo/_NF/Guidebook/Mobs/Goblin.xml
  Resources/ServerInfo/_NF/Guidebook/NewFrontier14.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Pioneer.xml
Labels: Docs, Status: Needs Review, Map-Shuttle, No C#, FTL

#1236 NT Brigand (New) - Expedition-capable vessel
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/brigand.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Brigand.xml
Labels: Docs, Status: Needs Review, Map-Shuttle, No C#, FTL

#1350 fix(map): Fix uncleanable dirt decals on Frontier Outpost
  Resources/Maps/_NF/Outpost/frontier.yml
Labels: Status: Needs Review, No C#, Map-Outpost

#1341 Falcon (New Blackmarket pirate ship)
  Resources/Maps/_NF/Shuttles/BlackMarket/falcon.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/falcon.yml
Labels: Map-Shuttle, No C#

#1358 Retarget space-wizards/RobustToolbox
  .gitmodules
Labels: Status: Needs Review, No C#

#1342 Fixed sechuds for security guard
  Resources/Prototypes/_NF/StatusEffects/job.yml
Labels: Status: Needs Review, No C#, YML

#1340 fix(ui): Fix shuttle nav control IFF text UI scaling
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
Labels: C#, UI

#1362 pin dotnet to 8.0.204
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/publish.yml
  .github/workflows/test-packaging.yml
  .github/workflows/yaml-linter.yml
Labels: Status: Needs Review, No C#

#1366 Update build-docfx.yml
  .github/workflows/build-docfx.yml
Labels: Status: Needs Review, No C#

#1364 LPBravo fixing
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/Shuttles/Syndicate/infiltrator.yml
  Resources/Prototypes/_NF/Maps/POI/anomalouslab.yml
  Resources/Prototypes/_NF/Maps/POI/lpbravo.yml
  Resources/Prototypes/_NF/Maps/POI/nfsd.yml
Labels: Status: Needs Review, Map-Shuttle, Map-POI, C#

#1377 Mapchecker
  .github/mapchecker/whitelist.yml
Labels: Status: Needs Review, No C#

#1365 fix weird behavior with storage HUD buttons (#27961)
  Content.Shared/Inventory/InventorySystem.Slots.cs
Labels: Status: Needs Review, C#

#1381 Mapchecker (Update)
  .github/mapchecker/config.py
Labels: Status: Needs Review, No C#

#1372 Frontier Bug Fixing, EMP and Missing Tiles Code.
  Content.Server/Emp/EmpSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/Maps/TileSystem.cs
Labels: Status: Needs Review, C#

#1368 G.O.R.I.L.L.A. gauntlet Harambe fix
  Content.Shared/Weapons/Melee/Components/MeleeThrowOnHitComponent.cs
  Content.Shared/Weapons/Melee/MeleeThrowOnHitSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
Labels: Status: Needs Review, YML, C#

#1348 Add Sakazuki (Sake cups) to Boozeomat
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Drinks/drinks_cups.yml
Labels: Status: Needs Review, No C#, YML

#1333 Salvage Mob Restrictions
  Content.Server/_NF/Salvage/SalvageMobRestrictionsGridComponent.cs
  Content.Server/_NF/Salvage/SalvageMobRestrictionsNFComponent.cs
  Content.Server/_NF/Salvage/SalvageMobRestrictionsSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/base_humanoid_hostile.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/xeno.yml
Labels: Status: Needs Review, YML, C#

#1371 [Fix] Increased volume of pie slices to prevent slices wasting food content
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
Labels: No C#, YML

#1378 fix orphaned storage grid pieces getting stuck to the cursor (#27960)
  Content.Client/UserInterface/Systems/Storage/Controls/StorageContainer.cs
  Content.Client/UserInterface/Systems/Storage/StorageUIController.cs
Labels: C#

#1379 Added Bank Info To Admins
  Content.Client/Administration/AdminNameOverlay.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabHeader.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabHeader.xaml.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/_NF/Bank/BankSystem.cs
  Content.Shared/Administration/PlayerInfo.cs
  Content.Shared/_NF/Bank/Events/BalanceChangedMessage.cs
  Resources/Locale/en-US/_NF/administration/ui/tabs/player-tab.ftl
Labels: Status: Needs Review, C#, UI, FTL

#1367 Snake Drip
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
Labels: Status: Needs Review, No C#, YML

#1344 UAC Ambition - (New atmospherics ship)
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/Expedition/ambition.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/Expedition/ambition.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Ambition.xml
Labels: Docs, Status: Needs Review, Map-Shuttle, No C#, FTL

#1334 Restore TV Audio
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/SurveillanceCamera/Components/SurveillanceCameraMicrophoneComponent.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSpeakerSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/wireless_surveillance_camera.yml
Labels: YML, C#

#1369 Add plates and misc service recipes to the service techfab
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
Labels: No C#, YML

#1374 Optimize Debris Code
  Content.Server/Worldgen/Prototypes/GCQueuePrototype.cs
  Content.Server/Worldgen/Systems/LocalityLoaderSystem.cs
  Content.Shared/_NF/Worldgen/Components/Debris/SpaceDebrisComponent.cs
  Resources/Prototypes/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/GC/world.yml
Labels: Status: Needs Review, YML, C#

#1385 Loadout Hotfix
  Resources/Prototypes/_NF/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/misc.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/belt.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
Labels: Status: Needs Review, No C#, YML

#1386 UAC Ambition - Fix
  Resources/Maps/_NF/Shuttles/Expedition/ambition.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1383 Revert "Optimize Debris Code"
  Content.Server/Worldgen/Prototypes/GCQueuePrototype.cs
  Content.Server/Worldgen/Systems/LocalityLoaderSystem.cs
  Content.Shared/_NF/Worldgen/Components/Debris/SpaceDebrisComponent.cs
  Resources/Prototypes/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/GC/world.yml
Labels: Status: Needs Review, YML, C#

#1223 NT Fishbowl (New) - Central commander personal transport/office (admin only)
  Resources/Maps/_NF/Shuttles/Admin/fishbowl.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1390 Revert Admin Bank Labels
  Content.Client/Administration/AdminNameOverlay.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabHeader.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabHeader.xaml.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/_NF/Bank/BankSystem.cs
  Content.Shared/Administration/PlayerInfo.cs
  Content.Shared/_NF/Bank/Events/BalanceChangedMessage.cs
  Resources/Locale/en-US/_NF/administration/ui/tabs/player-tab.ftl
Labels: Status: Needs Review, C#, UI, FTL

#1382 Events Balance Pass
  Resources/Prototypes/_NF/Events/events_bluespace.yml
  Resources/Prototypes/_NF/Events/events_nf.yml
Labels: Status: Needs Review, No C#, YML

#1392 Fix news manager consoles
  Content.Server/MassMedia/Systems/NewsSystem.cs
  Content.Shared/_NF/MassMedia/Component/SectorNewsComponent.cs
  Resources/Prototypes/_NF/Shipyard/base.yml
Labels: Map-Shuttle, YML, C#

#1375 Port "Added north line to shuttle console" from Corvax
  Content.Client/Shuttles/UI/BaseShuttleControl.xaml.cs
  Content.Client/Shuttles/UI/ShuttleDockControl.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
Labels: Status: Needs Review, C#, UI

#1398 Fix for loadout black web vest
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/outer.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
Labels: Status: Needs Review, No C#, YML

#1389 adding tramoxadone and supporting chems for post mortem brute restoration
  Resources/Locale/en-US/_NF/reagents/meta/chemicals.ftl
  Resources/Locale/en-US/_NF/reagents/meta/medicine.ftl
  Resources/Prototypes/_NF/Reagents/chemicals.yml
  Resources/Prototypes/_NF/Reagents/medicine.yml
  Resources/Prototypes/_NF/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/_NF/Recipes/Reactions/medicine.yml
Labels: Status: Needs Review, No C#, YML, FTL

#1373 Mining asteroids overhaul
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/World/Biomes/basic.yml
  Resources/Prototypes/World/worldgen_default.yml
  Resources/Prototypes/_NF/Entities/Effects/mobspawn.yml
  Resources/Prototypes/_NF/Entities/Effects/wallspawn.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/_NF/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/_NF/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/_NF/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/_NF/World/Biomes/basic.yml
  Resources/Prototypes/_NF/ore.yml
  Resources/Textures/_NF/Effects/mobspawn.rsi/crab_bananium.png
  Resources/Textures/_NF/Effects/mobspawn.rsi/crab_coal.png
  Resources/Textures/_NF/Effects/mobspawn.rsi/crab_gold.png
  Resources/Textures/_NF/Effects/mobspawn.rsi/crab_plasma.png
  Resources/Textures/_NF/Effects/mobspawn.rsi/crab_salt.png
  Resources/Textures/_NF/Effects/mobspawn.rsi/golem.png
  Resources/Textures/_NF/Effects/mobspawn.rsi/meta.json
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/bananium_golem.png
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/coal_golem.png
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/gold_golem.png
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/iron_golem.png
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/meta.json
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/plasma_golem.png
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/quartz_golem.png
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/salt_golem.png
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/silver_golem.png
  Resources/Textures/_NF/Mobs/Elemental/golems.rsi/uranium_golem.png
  Resources/Textures/_NF/Mobs/Elemental/orecrab.rsi/bananium_crab.png
  Resources/Textures/_NF/Mobs/Elemental/orecrab.rsi/coal_crab.png
  Resources/Textures/_NF/Mobs/Elemental/orecrab.rsi/gold_crab.png
  Resources/Textures/_NF/Mobs/Elemental/orecrab.rsi/meta.json
  Resources/Textures/_NF/Mobs/Elemental/orecrab.rsi/plasma_crab.png
  Resources/Textures/_NF/Mobs/Elemental/orecrab.rsi/salt_crab.png
Labels: Status: Needs Review, No C#, Sprites, YML

#1412 Fix nearly-invisible asteroids
  Resources/Prototypes/_NF/Entities/World/Debris/asteroids.yml
Labels: Status: Needs Review, No C#, YML

#1424 Fixes Clippy to recive Radio Messages
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
Labels: Status: Needs Review, No C#, YML

#1430 Fix BluespaceArcIndDataCarrier bluespace-event
  Resources/Maps/_NF/Bluespace/datacarrier.yml
  Resources/Prototypes/_NF/Events/events_bluespace.yml
Labels: Status: Needs Review, Map-Bluespace, No C#

#1261 The SBI-Crown
  Resources/Maps/_NF/Shuttles/crown.yml
  Resources/Prototypes/_NF/Shipyard/crown.yml
  SpaceStation14.sln
Labels: Status: Needs Review, Map-Shuttle, No C#

#1435 Increase cryo delete time
  Content.Shared/_NF/CCVars/CCVars.cs
Labels: Status: Needs Review, C#

#1441 Revert "The SBI-Crown"
  Resources/Maps/_NF/Shuttles/crown.yml
  Resources/Prototypes/_NF/Shipyard/crown.yml
  SpaceStation14.sln
Labels: Map-Shuttle, No C#

#1442 Crown (Update)
  Resources/Maps/_NF/Shuttles/crown.yml
  Resources/Prototypes/_NF/Shipyard/crown.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#1407 Make more liquids evaporate
  Content.IntegrationTests/Tests/Fluids/FluidSpillTest.cs
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
Labels: C#

#1428 Fix: Clear news articles on round restart
  Content.Server/MassMedia/Systems/NewsSystem.cs
Labels: Status: Needs Review, C#

#1438 Removes the Helix
  Resources/Prototypes/_NF/Shipyard/helix.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, YML
