Repository new-frontiers-14/frontier-station-14, pull requests merged in 2025-01, with the labels that each got.

#2649 Fix certain donuts being unable to fit inside a donut box
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
Labels: Status: Needs Review, No C#, YML

#2643 Adds ATM (withdraw only) flatpack to the flatpack vend.
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
Labels: Status: Needs Review, No C#, YML

#2645 Adds an on/off toggle to moon boots.
  Content.Shared/_NF/Clothing/Components/NFMoonBootsComponent.cs
  Content.Shared/_NF/Clothing/EntitySystems/EmitsSoundOnMoveSystem.cs
  Content.Shared/_NF/Clothing/EntitySystems/NFMoonBootsSystem.cs
  Resources/Locale/en-US/_NF/alerts/alerts.ftl
  Resources/Locale/en-US/_NF/clothing/components/moonboots-component.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/_NF/Alerts/moonboots.yml
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
  Resources/Textures/_NF/Clothing/Shoes/Boots/moonboots.rsi/equipped-FEET-vox.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/moonboots.rsi/equipped-FEET.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/moonboots.rsi/icon-on.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/moonboots.rsi/icon.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/moonboots.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/moonboots.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/moonboots.rsi/meta.json
  Resources/Textures/_NF/Clothing/Shoes/Boots/moonboots.rsi/on-equipped-FEET-vox.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/moonboots.rsi/on-equipped-FEET.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/moonboots.rsi/on-inhand-left.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/moonboots.rsi/on-inhand-right.png
Labels: Status: Needs Review, No C#, Sprites, YML, C#, FTL

#2607 Guidebook changes for new players
  Content.Client/UserInterface/Systems/Guidebook/GuidebookUIController.cs
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Prototypes/_NF/Guidebook/StartingGear.yml
  Resources/Prototypes/_NF/Guidebook/nf14.yml
  Resources/ServerInfo/_NF/Guidebook/StartingGear.xml
Labels: Docs, Status: Needs Review, YML, C#, FTL

#2593 Tide cleanup
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/Scrap/tide.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/Scrap/tide.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Tide.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/tide.png
Labels: Docs, Map-Shuttle, No C#, Sprites, FTL, Ship Contribution Freeze

#2469 Bocakillo Directional Fans + tweaks
  Resources/Maps/_NF/Shuttles/BlackMarket/bocakillo.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, Ship Contribution Freeze

#2597 Fix up Charon + add some features
  Resources/Maps/_NF/Shuttles/Expedition/charon.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2634 Commander's Beret (HoS beret for mercs)
  Resources/Prototypes/_NF/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/head.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
Labels: Status: Needs Review, No C#, YML

#2654 Adds clear condiment bottle.
  Content.Shared/_NF/Containers/CondimentKetchupComponent.cs
  Content.Shared/_NF/Containers/CondimentMustardComponent.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/condiments.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Crafting/Graphs/shoes_graphs.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Objects/Consumable/Food/condiments.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/condiments.rsi/squeeze-bottle-clear.png
  Resources/Textures/_NF/Objects/Consumable/Food/condiments.rsi/squeeze-bottle-clear1.png
  Resources/Textures/_NF/Objects/Consumable/Food/condiments.rsi/squeeze-bottle-clear2.png
  Resources/Textures/_NF/Objects/Consumable/Food/condiments.rsi/squeeze-bottle-clear3.png
  Resources/Textures/_NF/Objects/Consumable/Food/condiments.rsi/squeeze-bottle-clear4.png
  Resources/Textures/_NF/Objects/Consumable/Food/condiments.rsi/squeeze-bottle-clear5.png
  Resources/Textures/_NF/Objects/Consumable/Food/condiments.rsi/squeeze-bottle-clear6.png
Labels: Status: Needs Review, No C#, Sprites, YML, C#

#2637 Adds a new condiment station
  Content.Shared/_NF/Containers/CondimentCupComponent.cs
  Content.Shared/_NF/Containers/CondimentSqueezeBottleComponent.cs
  Resources/Locale/en-US/_NF/reagents/meta/consumable/food/condiments.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Catalog/ReagentDispensers/condiments.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/condiments_bottles.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/condimentcup.yml
  Resources/Prototypes/_NF/Entities/Structures/Dispensers/condiments.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Clothing/Head/Hats/condiment_cup.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Hats/condiment_cup.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Hats/condiment_cup.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Drinks/condiment_cup.rsi/icon-0.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/condiment_cup.rsi/icon-1.png
  Resources/Textures/_NF/Objects/Consumable/Drinks/condiment_cup.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Service/condiment_cup_dispenser.rsi/dispenser0.png
  Resources/Textures/_NF/Objects/Specific/Service/condiment_cup_dispenser.rsi/dispenser1.png
  Resources/Textures/_NF/Objects/Specific/Service/condiment_cup_dispenser.rsi/meta.json
  Resources/Textures/_NF/Structures/smalldispensers.rsi/icon.png
  Resources/Textures/_NF/Structures/smalldispensers.rsi/meta.json
Labels: No C#, Sprites, YML, C#, FTL

#2636 Adds colored light bulbs
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Cargo/cargo_service.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Power/lights.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Lighting/colored_lighting.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/_NF/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/_NF/Entities/Objects/Power/lights.yml
  Resources/Prototypes/_NF/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/_NF/Entities/Structures/Lighting/ground_lighting.yml
  Resources/Prototypes/_NF/Entities/Structures/Lighting/strobe_lighting.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/utilities/lighting.yml
  Resources/Prototypes/_NF/Recipes/Construction/lighting.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
  Resources/_NF/migration.yml
Labels: Status: Needs Review, No C#, YML

#2635 Adds ice sink
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/_NF/Entities/Structures/Furniture/icebox.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
  Resources/Textures/_NF/Structures/Furniture/icebox.rsi/icebox.png
  Resources/Textures/_NF/Structures/Furniture/icebox.rsi/icebox_fill-1.png
  Resources/Textures/_NF/Structures/Furniture/icebox.rsi/meta.json
Labels: Status: Needs Review, No C#, Sprites, YML

#2656 Quick black light fix.
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: Status: Needs Review, No C#, YML

#2655 Handheld crew health monitor added to medical techfab.
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/medical.yml
Labels: Status: Needs Review, No C#, YML

#2653 Dump ore bag into oreproc on click (DeltaV #2469)
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Status: Needs Review, No C#, YML

#2661 Prevent player despawning on salvage and other debris
  Content.Server/Worldgen/Systems/LocalityLoaderSystem.cs
  Content.Server/_NF/StationEvents/EventSystems/LinkedLifecycleGridSystem.cs
  Resources/Prototypes/_NF/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_dungeons_events.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_grids_events.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_salvage_events.yml
Labels: Status: Needs Review, YML, C#

#2664 Fix Lyrae mixer setting
  Resources/Maps/_NF/Shuttles/lyrae.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2665 Update station anchor sell price
  Resources/Prototypes/Entities/Structures/Shuttles/station_anchor.yml
Labels: No C#, YML

#2666 Flatpacker Magnet
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
Labels: No C#, YML

#2660 Automatically turn off magnet when ejecting materials from lathes
  Content.Server/Materials/MaterialStorageSystem.cs
Labels: Status: Needs Review, C#

#2659 Gas Recycler For The Gasbender
  Resources/Maps/_NF/Shuttles/Expedition/gasbender.yml
Labels: Map-Shuttle, No C#, YML

#2672 Update tyne.yml
  Resources/Prototypes/_NF/Shipyard/tyne.yml
Labels: Status: Needs Review, Map-Shuttle, No C#, YML

#2598 added Goblin to list of accents accentless disables
  Resources/Prototypes/Traits/speech.yml
Labels: Status: Needs Review, No C#, YML

#2652 Replace the materials crate
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/materials.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/cargo.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/_NF/Structures/Storage/closet.rsi/door-decal-engi-01.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/door-decal-null.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/generic_open.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/closet.rsi/secure.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/secure_door.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/secure_open.png
  Resources/_NF/migration.yml
Labels: Status: Needs Review, No C#, Sprites, YML

#2675 Added a new materials CRATE
  Resources/Prototypes/_NF/Catalog/Fills/Crates/materials.yml
  Resources/_NF/migration.yml
Labels: Status: Needs Review, No C#, YML

#2644 Mercfab and NFSDfab QoL
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/security.yml
Labels: Status: Needs Review, No C#, YML

#2674 Fix attempt to job priority
  Content.IntegrationTests/Tests/Round/JobTest.cs
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/contractor.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/mercenary.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/pilot.yml
  Resources/Prototypes/_NF/Roles/Jobs/departments.yml
Labels: Status: Needs Review, No C#, YML, C#

#2615 Ramen dishes and soy bottle.
  Resources/Locale/en-US/_NF/flavors/flavor-profiles.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_NF/Flavors/flavors.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/basic-noodles.png
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/miso-noodles.png
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/shio-noodles.png
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/shoyu-noodles.png
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/spicy-noodles.png
  Resources/Textures/_NF/Objects/Consumable/Food/bowl.rsi/tonkatsu-noodles.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/fill-1.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/fill-2.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/fill-3.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/fill-4.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/fill-5.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/icon_empty.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/icon_open.png
  Resources/Textures/_NF/Objects/Consumable/Food/soysauce.rsi/meta.json
Labels: No C#, Sprites, YML, FTL

#2606 Add monkey/kobold cube to loadout under tools (Merry Christmas Aka)
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/tools.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: No C#, YML

#2642 Trademall power fix + more vending machines
  Resources/Maps/_NF/POI/trademall.yml
Labels: Status: Needs Review, Map-POI, No C#

#2680 Silcon players no longer get deleted with grids
  Content.Server/_NF/StationEvents/EventSystems/LinkedLifecycleGridSystem.cs
Labels: Status: Needs Review, C#

#2682 Paladin locker fix
  Resources/Maps/_NF/Shuttles/Nfsd/paladin.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2457 HealingSystem: Check bleeding or restoring blood in HasDamage.
  Content.Server/Medical/HealingSystem.cs
Labels: Status: Needs Review, C#

#2587 Added additional management items to the NFSD PTech
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/cart.yml
Labels: Status: Needs Review, No C#, YML

#2685 Condiment dispenser can now be shuttered.
  Resources/Prototypes/_NF/Entities/Structures/Dispensers/condiments.yml
Labels: No C#, YML

#2684 Speedboot text change and tweaks (Delta #2550)
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
Labels: No C#, YML

#2679 Fix xeno
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_xeno.yml
Labels: No C#, YML

#2678 Fix cloth chairs to not claim your soul
  Content.Server/_NF/Construction/Conditions/NFStrapEmpty.cs
  Resources/Locale/en-US/_NF/construction/conditions/strap-buckled.ftl
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/seats.yml
Labels: Status: Needs Review, No C#, YML, C#, FTL

#2696 Fix red light fill, powered black light migration
  Resources/Prototypes/_NF/Entities/Structures/Lighting/ground_lighting.yml
  Resources/_NF/migration.yml
Labels: No C#, YML

#2698 Protected stamps, weaker cybersun pen
  Content.Shared/Paper/PaperSystem.cs
  Content.Shared/Paper/StampComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_NF/tags.yml
Labels: YML, C#

#2691 Adds a first aid locker and box of body bags to the prowler.
  Resources/Maps/_NF/Shuttles/Nfsd/prowler.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2657 Eagle (refresh)
  Resources/Maps/_NF/Shuttles/eagle.yml
  Resources/Prototypes/_NF/Shipyard/eagle.yml
Labels: Status: Needs Review, Map-Shuttle, No C#

#2585 Adds chem lab to NFSD HQ
  Resources/Maps/_NF/POI/nfsd.yml
Labels: Status: Needs Review, Map-POI, No C#

#2710 Update meta.json
  Resources/Textures/_NF/Objects/Devices/pda.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, S: Untriaged

#2709 Move species-specific loadouts to new group
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/outer.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Nfsd/face.yml
  Resources/Prototypes/_NF/Loadouts/bailiff_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/brigmedic_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/cadet_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/deputy_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/janitor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mail_carrier_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/nfdetective_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/nfsd_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pirates_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/security_guard_groups.yml
  Resources/Prototypes/_NF/Loadouts/senior_officer_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/sheriff_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/species_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/stationrep_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/valet_loadout_groups.yml
Labels: S: Needs Review, No C#, YML

#2677 Mercfab Arsenal Recipes
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: S: Needs Review, No C#, YML

#2716 Radar Hotfixes
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/_NF/StationEvents/Events/BluespaceErrorRule.cs
  Resources/Prototypes/_NF/PointsOfInterest/edison.yml
  Resources/Prototypes/_NF/PointsOfInterest/lodge.yml
Labels: YML, C#, UI

#2683 Removal of funny ammo and shuttle gun boards
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: S: Needs Review, No C#, YML

#2717 NFSD atmos adjustment
  Resources/Maps/_NF/POI/nfsd.yml
Labels: Map-POI, No C#

#2719 NFSD HQ Atmos adjustment
  Resources/Maps/_NF/POI/nfsd.yml
Labels: S: Needs Review, Map-POI, No C#

#2718 NFSD Outpost Signs, Fire Alarms
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/Shuttles/Nfsd/broadhead.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/bus.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/interrogation.png
  Resources/Textures/_NF/Structures/Wallmounts/signs.rsi/meta.json
Labels: S: Needs Review, Map-Shuttle, Map-POI, No C#, Sprites

#2706 Mini station anchor
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/station_anchor.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
Labels: S: Needs Review, No C#, YML

#2686 Update syndicate uplink for frontier use
  Resources/Locale/en-US/nyanotrasen/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Nyanotrasen/Catalog/uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/space_cash.yml
Labels: S: Needs Review, No C#, YML, FTL

#2725 Gaslock changelog entry
  Resources/Changelog/Frontier.yml
Labels: No C#, YML, S: Untriaged

#2722 Fixed missing tech and boards
  Resources/Locale/en-US/_NF/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_NF/Research/civilianservices.yml
Labels: S: Needs Review, No C#, YML, FTL, S: Untriaged

#2601 Adds reinforced jug
  Resources/Prototypes/Catalog/ReagentDispensers/chemical.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_NF/Recipes/Lathes/chemistry.yml
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/icon.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/inhand-left-fill-1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/inhand-left-fill-2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/inhand-left-fill-3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/inhand-left-fill-4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/inhand-right-fill-1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/inhand-right-fill-2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/inhand-right-fill-3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/inhand-right-fill-4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/jug1.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/jug2.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/jug3.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/jug4.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/jug5.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/jug6.png
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Chemistry/reinforced_jug.rsi/stopper.png
Labels: No C#, Sprites, YML

#2726 Radar UI scaling fix
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
Labels: S: Needs Review, C#, UI, S: Untriaged

#2728 Fax stamp protection
  Content.Client/Fax/AdminUI/AdminFaxEui.cs
  Content.Client/Fax/AdminUI/AdminFaxWindow.xaml
  Content.Client/Fax/AdminUI/AdminFaxWindow.xaml.cs
  Content.Server/Fax/AdminUI/AdminFaxEui.cs
  Content.Server/Fax/FaxConstants.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Server/Nuke/NukeCodePaperSystem.cs
  Content.Server/_NF/StationEvents/Components/RandomFaxRuleComponent.cs
  Content.Server/_NF/StationEvents/Events/RandomFaxRule.cs
  Content.Shared/Fax/AdminFaxEui.cs
  Content.Shared/Fax/Components/FaxMachineComponent.cs
  Resources/Locale/en-US/fax/fax-admin.ftl
Labels: C#, UI, FTL

#2730 Emergency Light Fix
  Content.Server/Light/EntitySystems/EmergencyLightSystem.cs
Labels: S: Needs Review, C#, S: Untriaged

#2648 Add alt verb to toggle accents from clothing
  Content.Server/Speech/Components/AddAccentClothingComponent.cs
  Content.Server/Speech/EntitySystems/AddAccentClothingSystem.cs
  Content.Server/_NF/Speech/Components/AddAccentPickupComponent.cs
  Content.Server/_NF/Speech/EntitySystems/AddAccentPickupSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Pickup.cs
  Content.Shared/_NF/Item/PickupEvent.cs
  Resources/Locale/en-US/_NF/accent/accents.ftl
Labels: S: Needs Review, C#, FTL

#2735 Un gas the planets
  Resources/Prototypes/_NF/Procedural/salvage_mods.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged

#2729 use unused filled chemmaster sprite
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
Labels: YML, C#

#2738 Fix external gaslocks being passable by small creatures.
  Resources/Prototypes/_NF/Entities/Structures/Piping/Atmospherics/binary.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged

#2743 Fix merc web vest parenting
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
Labels: No C#, YML

#2746 Rename scrap circuitry to fried circuitry
  Resources/Prototypes/Entities/Objects/Materials/scrap.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged

#2740 NFSD Outpost update (morgue/crematorium/prisoner ATM/prisoner sell shipyard) and Brigmed access update
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Prototypes/_NF/Access/security.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
Labels: S: Needs Review, Map-POI, No C#, S: Untriaged

#2737 Add a "None" antenna option for moths
  Resources/Locale/en-US/_NF/markings/goblin_markings.ftl
  Resources/Locale/en-US/_NF/markings/moth_markings.ftl
  Resources/Prototypes/_NF/Entities/Mobs/Customization/Markings/moth.yml
Labels: S: Needs Review, No C#, YML, FTL, S: Untriaged

#2747 Fix 20gb memory usage for magnet code
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: S: Needs Review, C#, S: Untriaged

#2745 Gas deposit locator
  Resources/Prototypes/_NF/Entities/Objects/Specific/Atmospherics/deposits.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/devices.yml
  Resources/Textures/_NF/Objects/Specific/Atmospherics/locator.rsi/icon.png
  Resources/Textures/_NF/Objects/Specific/Atmospherics/locator.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Atmospherics/locator.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Atmospherics/locator.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Atmospherics/locator.rsi/screen.png
Labels: No C#, Sprites, YML

#2759 Fix LinkedLifecycleGridSystem player check
  Content.Server/_NF/StationEvents/EventSystems/LinkedLifecycleGridSystem.cs
Labels: C#, S: Untriaged

#2757 Reduce shuttle tech to one tech
  Resources/Prototypes/Research/arsenal.yml
Labels: No C#, YML, S: Untriaged

#2756 Fix for #2677
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: No C#, YML, S: Untriaged

#2589 Updated the NFSD Uplink offerings for consistency
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_NF/Catalog/Fills/Crates/nfsdarmory.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
Labels: S: Needs Review, No C#, YML, FTL

#2754 Give bailiff access to chemistry and medical (since they are brigmed's boss)
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
Labels: No C#, YML, S: Untriaged

#2702 Make things pulled by players not despawn when vgroids/uivs/derelicts despawn
  Content.Server/_NF/StationEvents/EventSystems/LinkedLifecycleGridSystem.cs
  Content.Server/_NF/StationEvents/Events/BluespaceErrorRule.cs
Labels: S: Needs Review, C#, S: Approved

#2772 Improve space blade collisions
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged

#2748 Update Empress and Wasp with chemistry-locked doors
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
  Resources/Maps/_NF/Shuttles/Nfsd/wasp.yml
Labels: Map-Shuttle, No C#, S: Untriaged

#2779 AME controller: stop injecting if fuel slot is empty
  Content.Server/Ame/EntitySystems/AmeControllerSystem.cs
Labels: C#, S: Untriaged

#2780 Allow players to purge PDA ghost players
  Resources/Locale/en-US/_NF/devices/pda.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: No C#, YML, FTL, S: Untriaged

#2782 Alter changelog entry (#5689) for #2780
  Resources/Changelog/Frontier.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged

#2783 Update dev_map.yml
  Resources/Maps/_NF/Test/dev_map.yml
Labels: S: Needs Review, No C#

#2784 Clarpy just forgot
  Resources/Prototypes/_NF/Datasets/Names/cat.yml
  Resources/Prototypes/_NF/Datasets/Names/cat_bingus.yml
  Resources/Prototypes/_NF/Datasets/Names/cat_calico.yml
  Resources/Prototypes/_NF/Datasets/Names/cat_cappy.yml
  Resources/Prototypes/_NF/Datasets/Names/cat_caracal.yml
  Resources/Prototypes/_NF/Datasets/Names/cat_clarpy.yml
  Resources/Prototypes/_NF/Datasets/Names/cat_clippy.yml
  Resources/Prototypes/_NF/Datasets/Names/cat_clugg.yml
  Resources/Prototypes/_NF/Datasets/Names/cat_cult.yml
  Resources/Prototypes/_NF/Datasets/Names/cat_mistake.yml
  Resources/Prototypes/_NF/Datasets/Names/cat_space.yml
  Resources/Prototypes/_NF/Datasets/Names/dog.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/emotionalsupportanimals.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged

#2793 2025 01 21 telepad formatting suggestions
  Content.Server/Holopad/HolopadSystem.cs
  Content.Server/Labels/Label/LabelSystem.cs
  Content.Server/_NF/Station/Systems/StationRenameHolopadsSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/holopad.yml
Labels: YML, C#, S: Untriaged

#2799 Shipyard test hotfix: build using .NET 9
  .github/workflows/nf-shipyard-tests.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged

#2586 Update Server Rules
  Resources/ServerInfo/_NF/Guidebook/Rules/12_Security.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/13_Command.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/6_Safezone.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/9_Pirates.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/FrontierRuleset.xml
Labels: Docs, S: Needs Review, No C#

#2734 Frontier Ship Holo Pads
  Content.Client/Holopad/HolopadWindow.xaml.cs
  Content.Server/Holopad/HolopadSystem.cs
  Content.Server/Labels/Label/LabelSystem.cs
  Content.Server/_NF/Station/Components/StationRenameHolopadsComponent.cs
  Content.Server/_NF/Station/Systems/StationRenameHolopadsSystem.cs
  Content.Shared/Holopad/HolopadComponent.cs
  Resources/Locale/en-US/_NF/holopad/holopad.ftl
  Resources/Maps/_NF/Shuttles/barge.yml
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/expeditionaryflatpackvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Stations/base.yml
  Resources/Prototypes/_NF/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/holopad.yml
Labels: S: Needs Review, Map-Shuttle, C#, UI, FTL, S: Untriaged

#2796 Adds Vulp Markings to Felinids (DeltaV #1694)
  Resources/Prototypes/_DV/Entities/Mobs/Customization/Markings/vulpkanin.yml
Labels: No C#, YML, S: Approved

#2814 Add "Wanted: Clarpy" poster
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster5_legit.png
Labels: S: Needs Review, No C#, Sprites, YML

#2807 Change lathe material eject counts to previous amounts
  Content.Client/Materials/UI/MaterialDisplay.xaml.cs
Labels: C#, UI, S: Approved, size/XS

#2818 Vim update
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: No C#, YML, S: Approved, size/XS

#2770 Advanced smes recipe fix
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Power/smes.yml
Labels: S: Needs Review, No C#, YML, S: Approved, size/S

#2804 VSCode Config: Server/Client launch task without build
  .vscode/launch.json
Labels: S: Needs Review, No C#, size/XS

#2800 Civillian and Medical ship Holopad update
  Resources/Maps/_NF/Shuttles/apothecary.yml
  Resources/Maps/_NF/Shuttles/bazaar.yml
  Resources/Maps/_NF/Shuttles/beaker.yml
  Resources/Maps/_NF/Shuttles/bocadillo.yml
  Resources/Maps/_NF/Shuttles/bodkin.yml
  Resources/Maps/_NF/Shuttles/bookworm.yml
  Resources/Maps/_NF/Shuttles/bulker.yml
  Resources/Maps/_NF/Shuttles/camper.yml
  Resources/Maps/_NF/Shuttles/ceres.yml
  Resources/Maps/_NF/Shuttles/chisel.yml
  Resources/Maps/_NF/Shuttles/comet.yml
  Resources/Maps/_NF/Shuttles/crescent.yml
  Resources/Maps/_NF/Shuttles/eagle.yml
  Resources/Maps/_NF/Shuttles/garden.yml
  Resources/Maps/_NF/Shuttles/hammer.yml
  Resources/Maps/_NF/Shuttles/harbormaster.yml
  Resources/Maps/_NF/Shuttles/hauler.yml
  Resources/Maps/_NF/Shuttles/honker.yml
  Resources/Maps/_NF/Shuttles/investigator.yml
  Resources/Maps/_NF/Shuttles/kestrel.yml
  Resources/Maps/_NF/Shuttles/kilderkin.yml
  Resources/Maps/_NF/Shuttles/lantern.yml
  Resources/Maps/_NF/Shuttles/legman.yml
  Resources/Maps/_NF/Shuttles/liquidator.yml
  Resources/Maps/_NF/Shuttles/loader.yml
  Resources/Maps/_NF/Shuttles/lyrae.yml
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Maps/_NF/Shuttles/mcdelivery.yml
  Resources/Maps/_NF/Shuttles/phoenix.yml
  Resources/Maps/_NF/Shuttles/piecrust.yml
  Resources/Maps/_NF/Shuttles/placebo.yml
  Resources/Maps/_NF/Shuttles/prospector.yml
  Resources/Maps/_NF/Shuttles/pts.yml
  Resources/Maps/_NF/Shuttles/searchlight.yml
  Resources/Maps/_NF/Shuttles/skipper.yml
  Resources/Maps/_NF/Shuttles/sparrow.yml
  Resources/Maps/_NF/Shuttles/spectre.yml
  Resources/Maps/_NF/Shuttles/spirit.yml
  Resources/Maps/_NF/Shuttles/stasis.yml
  Resources/Maps/_NF/Shuttles/stellaris.yml
  Resources/Maps/_NF/Shuttles/tyne.yml
  Resources/Maps/_NF/Shuttles/vagabond.yml
Labels: S: Needs Review, Map-Shuttle, No C#, size/L

#2640 SBB Bodkin 1.1
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/bodkin.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/bodkin.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Bodkin.xml
Labels: Docs, Map-Shuttle, No C#, FTL, size/M

#2809 Fix asteroid and wreck parenting.
  Resources/Prototypes/_NF/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/_NF/Entities/World/Debris/base_debris.yml
  Resources/Prototypes/_NF/Entities/World/Debris/wrecks.yml
  Resources/Prototypes/_NF/World/Biomes/basic.yml
Labels: S: Needs Review, No C#, YML

#2801 Keyboard shortcut for "swap to previous hand"
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/keybinds.yml
Labels: S: Needs Review, YML, C#, UI, FTL, size/S
