Repository new-frontiers-14/frontier-station-14, pull requests merged in 2025-07, with the labels that each got.

#3664 Bus schedules and trade crates display time remaining, not absolute time
  Content.Server/_NF/Cargo/Systems/NFCargoSystem.TradeCrates.cs
  Content.Server/_NF/PublicTransit/PublicTransitSystem.cs
  Resources/Locale/en-US/_NF/cargo/trade-crate.ftl
  Resources/Locale/en-US/_NF/publictransit/bus-schedule-component.ftl
Labels: C#, FTL, S: Untriaged, size/M

#3661 Remove door electronics config UI
  Content.Server/Doors/Electronics/Systems/DoorElectronicsSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door.yml
Labels: YML, C#, S: Untriaged

#3636 Respiron, a universally breathable gas
  Content.Client/_NF/Atmos/Consoles/AtmosAlarmGaslockEntryContainer.xaml.cs
  Content.Client/_NF/Atmos/UI/GasSaleMenu.cs
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Locale/en-US/_NF/atmos/gases.ftl
  Resources/Locale/en-US/_NF/gases/gases.ftl
  Resources/Locale/en-US/_NF/reagents/meta/gases.ftl
  Resources/Locale/en-US/_NF/spray-painter/spray-painter.ftl
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/vox.yml
  Resources/Prototypes/Paintables/canister_groups.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/_NF/Atmospherics/gases.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/_NF/Reagents/gases.yml
  Resources/ServerInfo/Guidebook/Engineering/Gasses.xml
  Resources/Textures/_NF/Structures/Storage/canister.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/canister.rsi/respiron-1.png
  Resources/Textures/_NF/Structures/Storage/canister.rsi/respiron.png
Labels: Docs, S: Needs Review, Sprites, YML, C#, UI, FTL, S: Untriaged, size/M

#3662 Vehicle combat fixes, turret/mech cleanup
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/_Goobstation/Vehicles/VehicleSystem.cs
  Content.Server/_NF/NPC/Queries/Considerations/TargetIsNotStunnedCon.cs
  Content.Shared/Mech/Components/MechComponent.cs
  Content.Shared/NPC/Components/NpcFactionMemberComponent.cs
  Content.Shared/_Goobstation/Vehicles/SharedVehicleComponent.cs
  Content.Shared/_Goobstation/Vehicles/SharedVehicleSystem.cs
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/vehicles.yml
  Resources/Prototypes/_NF/NPCs/utility_queries.yml
Labels: S: Needs Review, YML, C#, S: Untriaged, size/M

#3684 Fried Tofu
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_NF/Objects/Consumable/Food/ingredients.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/ingredients.rsi/tofu-slice-battered.png
  Resources/Textures/_NF/Objects/Consumable/Food/ingredients.rsi/tofu-slice-fried.png
Labels: No C#, Sprites, YML, S: Untriaged, size/S

#3479 Scrap Processor: Gamblecore Edition
  Content.Server/_NF/Lathe/BlueprintLatheSystem.cs
  Content.Server/_NF/Research/Components/RandomBlueprintComponent.cs
  Content.Server/_NF/Research/Systems/RandomBlueprintSystem.cs
  Content.Server/_NF/Stacks/Components/RandomStackCountComponent.cs
  Content.Server/_NF/Stacks/Systems/RandomStackSystem.cs
  Resources/Locale/en-US/_NF/materials/materials.ftl
  Resources/Locale/en-US/_NF/stacks/stacks.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Objects/Materials/scrap.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_silicons.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/_NF/Entities/Materials/ore.yml
  Resources/Prototypes/_NF/Entities/Objects/Materials/random.yml
  Resources/Prototypes/_NF/Entities/Objects/Materials/scrap.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/blueprints/blueprints_base.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/blueprints/blueprints_random.yml
  Resources/Prototypes/_NF/Entities/Objects/base_recyclable_items.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/scrap.yml
  Resources/Prototypes/_NF/Recipes/Lathes/materials.yml
  Resources/Prototypes/_NF/Recipes/Lathes/sheet.yml
  Resources/Textures/_NF/Objects/Materials/Scrap/ancient_machines.rsi/meta.json
  Resources/Textures/_NF/Objects/Materials/Scrap/ancient_machines.rsi/perservedanalyzer.png
  Resources/Textures/_NF/Objects/Materials/Scrap/ancient_machines.rsi/perservedcomputer.png
  Resources/Textures/_NF/Objects/Materials/Scrap/ancient_machines.rsi/perservedimprinter.png
  Resources/Textures/_NF/Objects/Materials/Scrap/ancient_machines.rsi/perservedlathe.png
  Resources/Textures/_NF/Objects/Materials/Scrap/ancient_machines.rsi/perservedproto.png
  Resources/Textures/_NF/Objects/Materials/Scrap/ancient_machines.rsi/perservedserver-2.png
  Resources/Textures/_NF/Objects/Materials/Scrap/ancient_machines.rsi/perservedserver.png
  Resources/Textures/_NF/Objects/Materials/Scrap/broken_ancient_machines.rsi/ancientanalyzer.png
  Resources/Textures/_NF/Objects/Materials/Scrap/broken_ancient_machines.rsi/ancientcomputer.png
  Resources/Textures/_NF/Objects/Materials/Scrap/broken_ancient_machines.rsi/ancientimprinter.png
  Resources/Textures/_NF/Objects/Materials/Scrap/broken_ancient_machines.rsi/ancientlathe.png
  Resources/Textures/_NF/Objects/Materials/Scrap/broken_ancient_machines.rsi/ancientproto.png
  Resources/Textures/_NF/Objects/Materials/Scrap/broken_ancient_machines.rsi/ancientserver.png
  Resources/Textures/_NF/Objects/Materials/Scrap/broken_ancient_machines.rsi/meta.json
  Resources/Textures/_NF/Objects/Materials/Scrap/broken_machines.rsi/autolathe.png
  Resources/Textures/_NF/Objects/Materials/Scrap/broken_machines.rsi/gyroscope.png
  Resources/Textures/_NF/Objects/Materials/Scrap/broken_machines.rsi/imprinter.png
  Resources/Textures/_NF/Objects/Materials/Scrap/broken_machines.rsi/meta.json
  Resources/Textures/_NF/Objects/Materials/Scrap/broken_machines.rsi/protolathe.png
  Resources/Textures/_NF/Objects/Materials/Scrap/broken_machines.rsi/smes.png
  Resources/Textures/_NF/Objects/Materials/Scrap/broken_machines.rsi/substation.png
  Resources/Textures/_NF/Objects/Materials/Scrap/broken_machines.rsi/thruster.png
  Resources/Textures/_NF/Objects/Materials/Scrap/generic.rsi/junk-airalarm-1.png
  Resources/Textures/_NF/Objects/Materials/Scrap/generic.rsi/junk-apc-1.png
  Resources/Textures/_NF/Objects/Materials/Scrap/generic.rsi/junk-panel-1.png
  Resources/Textures/_NF/Objects/Materials/Scrap/generic.rsi/junk-solar-1.png
  Resources/Textures/_NF/Objects/Materials/Scrap/generic.rsi/meta.json
  Resources/Textures/_NF/Objects/Materials/Scrap/generic.rsi/panel-inhand-left.png
  Resources/Textures/_NF/Objects/Materials/Scrap/generic.rsi/panel-inhand-right.png
  Resources/Textures/_NF/Objects/Materials/Scrap/generic.rsi/solar-inhand-left.png
  Resources/Textures/_NF/Objects/Materials/Scrap/generic.rsi/solar-inhand-right.png
  Resources/Textures/_NF/Objects/Materials/ore.rsi/meta.json
  Resources/Textures/_NF/Objects/Materials/ore.rsi/scrapmaterials.png
  Resources/Textures/_NF/Structures/Machines/scrap_processor.rsi/boards_blueprints.png
  Resources/Textures/_NF/Structures/Machines/scrap_processor.rsi/meta.json
  Resources/nf_migration.yml
Labels: S: Needs Review, No C#, Sprites, YML, C#, FTL, S: Approved, size/L

#3477 Breach hammer/anchor changes
  Resources/Audio/Nyanotrasen/Weapons/attributions.yml
  Resources/Audio/Nyanotrasen/Weapons/club.ogg
  Resources/Audio/Nyanotrasen/Weapons/guitarhit.ogg
  Resources/Audio/Nyanotrasen/Weapons/licenses.txt
  Resources/Audio/_DV/Weapons/attributions.yml
  Resources/Audio/_DV/Weapons/electricguitarhit.ogg
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/blunt.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Weapons/Melee/breaching_hammer.yml
  Resources/Prototypes/_DV/Entities/Objects/Fun/instruments.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/pirate_anchor.yml
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/icon.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/meta.json
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/wielded-inhand-left.png
  Resources/Textures/Nyanotrasen/Objects/Fun/Instruments/rickenbacker.rsi/wielded-inhand-right.png
  Resources/Textures/_DV/Objects/Fun/Instruments/rickenbacker.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Objects/Fun/Instruments/rickenbacker.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Fun/Instruments/rickenbacker.rsi/icon.png
  Resources/Textures/_DV/Objects/Fun/Instruments/rickenbacker.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Fun/Instruments/rickenbacker.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Fun/Instruments/rickenbacker.rsi/meta.json
  Resources/Textures/_DV/Objects/Fun/Instruments/rickenbacker.rsi/wielded-inhand-left.png
  Resources/Textures/_DV/Objects/Fun/Instruments/rickenbacker.rsi/wielded-inhand-right.png
Labels: S: Needs Review, No C#, Sprites, YML, Audio, S: Approved, size/S

#3675 Add Curie slime cat to Edison
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Maps/_NF/POI/edison.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/_NF/Entities/Spawners/mobs.yml
  Resources/Prototypes/_NF/Roles/Ghostroles/whitelisted.yml
  Resources/Prototypes/_NF/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/Clothing/Head/Hoods/rad.rsi/equipped-HELMET-cat.png
  Resources/Textures/Clothing/Head/Hoods/rad.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/rad.rsi/equipped-OUTERCLOTHING-cat.png
  Resources/Textures/Clothing/OuterClothing/Suits/rad.rsi/meta.json
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/meta.json
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/slimecat.png
Labels: S: Needs Review, Map-POI, No C#, Sprites, YML, FTL, size/M

#3688 Tech Tree #3
  Content.Client/_Goobstation/Research/UI/ResearchesContainerPanel.cs
  Content.Client/_Goobstation/Research/UI/RoundedPanelContainer.cs
  Content.Client/_NF/Research/UI/FancyResearchConsoleItem.xaml
  Content.Client/_NF/Research/UI/FancyResearchConsoleItem.xaml.cs
  Content.Client/_NF/Research/UI/FancyResearchConsoleMenu.xaml
  Content.Client/_NF/Research/UI/FancyResearchConsoleMenu.xaml.cs
  Content.Client/_NF/Research/UI/FancyTechnologyInfoPanel.xaml
  Content.Client/_NF/Research/UI/FancyTechnologyInfoPanel.xaml.cs
  Content.Client/_NF/Research/UI/MiniRecipeCardControl.xaml
  Content.Client/_NF/Research/UI/MiniRecipeCardControl.xaml.cs
  Content.Client/_NF/Research/UI/ResearchConsoleGoobBoundUserInterface.cs
  Content.Client/_NF/Research/UI/ResearchesContainerPanel.cs
  Content.Client/_NF/Research/UI/RoundedStyleBoxFlat.cs
  Content.Server/Research/Systems/ResearchSystem.Console.cs
  Content.Shared/Research/Components/SharedResearchConsoleComponent.cs
  Content.Shared/Research/Prototypes/TechnologyPrototype.cs
  Content.Shared/_NF/Research/ResearchAvailability.cs
  Content.Shared/_NF/Research/SharedResearchSystemExtensions.cs
  Resources/Locale/en-US/_NF/research/technologies.ftl
  Resources/Locale/en-US/_NF/research/ui.ftl
  Resources/Prototypes/_NF/Research/disciplines.yml
  Resources/Prototypes/_NF/Research/techtree.yml
  Resources/Textures/_NF/Interface/Misc/research_disciplines.rsi/nfsd.png
Labels: S: Needs Review, Sprites, YML, C#, UI, FTL, size/L

#3697 Update (Smartfridge) Whitelist adjustment.
  Resources/Prototypes/_DV/Entities/Structures/Machines/smartfridge.yml
Labels: No C#, YML, S: Approved, size/XS

#3709 No schematics from tech scrap bug (Hotfix)
  Content.Server/_NF/Research/Systems/RandomBlueprintSystem.cs
Labels: S: Needs Review, C#, S: Untriaged

#3711 refactor RandomBlueprintSystem
  Content.Server/_NF/Research/Systems/RandomBlueprintSystem.cs
Labels: S: Needs Review, C#, size/S

#3707 Tech Tree #4
  Content.Client/Guidebook/Controls/GuideTechDisciplineEmbed.xaml.cs
  Content.Client/_NF/Research/UI/FancyResearchConsoleItem.xaml.cs
  Content.Client/_NF/Research/UI/FancyResearchConsoleMenu.xaml.cs
  Content.Client/_NF/Research/UI/FancyTechnologyInfoPanel.xaml.cs
  Content.Client/_NF/Research/UI/ResearchConsoleFrontierBoundUserInterface.cs
  Content.Client/_NF/Research/UI/ResearchUIHelpers.cs
  Content.Client/_NF/Research/UI/ResearchesContainerPanel.cs
  Content.Client/_NF/Research/UI/RoundedStyleBoxFlat.cs
  Content.Shared/Research/Prototypes/TechDisciplinePrototype.cs
  Content.Shared/Research/Prototypes/TechnologyPrototype.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
  Content.Shared/_NF/Research/ResearchColorScheme.cs
  Resources/Locale/en-US/_NF/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/blueprints.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/_NF/Recipes/Lathes/tools.yml
  Resources/Prototypes/_NF/Research/techtree.yml
Labels: S: Needs Review, YML, C#, UI, FTL, size/L

#3691 Juke music
  Resources/Audio/_NF/Jukebox/Beat Mekanik - Senseless.ogg
  Resources/Audio/_NF/Jukebox/Beat Mekanik - Sinner.ogg
  Resources/Audio/_NF/Jukebox/Dustsucker.ogg
  Resources/Audio/_NF/Jukebox/Ketsa - Life is Great.ogg
  Resources/Audio/_NF/Jukebox/Laughing Manny & The Swinging Dicks - Bring In The Horns.ogg
  Resources/Audio/_NF/Jukebox/Laughing Manny & The Swinging Dicks - Caffeinated.ogg
  Resources/Audio/_NF/Jukebox/Meanwhile Back at the Saloon.ogg
  Resources/Audio/_NF/Jukebox/Murder On The Bayou.ogg
  Resources/Audio/_NF/Jukebox/Persephone - Retro Funky (SUNDANCE remix).ogg
  Resources/Audio/_NF/Jukebox/ThreeSheetsToTheWind.ogg
  Resources/Audio/_NF/Jukebox/Xennial - Dread Pirate Roberts.ogg
  Resources/Audio/_NF/Jukebox/attributions.yml
  Resources/Audio/_NF/Jukebox/finket_ss14skubstep.ogg
  Resources/Audio/_NF/Jukebox/rattlesnake railroad.ogg
  Resources/Prototypes/_NF/Catalog/Jukebox/Standard.yml
Labels: No C#, YML, Audio, S: Approved, size/M

#3705 Sort Jukebox track list alphabetically, remove duplicate entry
  Content.Client/Audio/Jukebox/JukeboxMenu.xaml.cs
  Resources/Audio/_NF/Jukebox/attributions.yml
  Resources/Audio/_NF/Jukebox/shibamata.ogg
  Resources/Prototypes/_NF/Catalog/Jukebox/Standard.yml
Labels: YML, C#, UI, Audio, S: Approved, size/S

#3492 Clown waddling
  Content.Client/_DV/Waddle/WaddleAnimationSystem.cs
  Content.Server/_DV/Waddle/WaddleAnimationSystem.cs
  Content.Shared/_DV/Waddle/SharedWaddleAnimationSystem.cs
  Content.Shared/_DV/Waddle/WaddleAnimationComponent.cs
  Content.Shared/_DV/Waddle/WaddleClothingSystem.cs
  Content.Shared/_DV/Waddle/WaddleWhenWornComponent.cs
  Resources/Locale/en-US/_Impstation/alerts/alerts.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/_Impstation/Alerts/clown.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/Shoes/specific.yml
Labels: S: Needs Review, YML, C#, FTL, size/M

#3715 Borg Access (Hotfix)
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: No C#, YML, S: Approved

#3579 Rules fix and defintions
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/newplayer.yml
  Resources/Prototypes/_NF/Guidebook/rules.yml
  Resources/Prototypes/_NF/Guidebook/starting_gear.yml
  Resources/ServerInfo/_NF/Guidebook/Definitions.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/2_ICInfo.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/5_Roleplay.xml
Labels: Docs, No C#, YML, FTL, S: Approved, size/M

#3751 Remove dungeon loot vendomat from Brigand. Again.
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
Labels: Map-Shuttle, Map-POI, No C#, S: Approved, size/XS

#3320 Add ability to power some battery powered lights from APC power
  Content.Server/Light/EntitySystems/HandheldLightSystem.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Server/_NF/Fluids/EntitySystems/AdvDrainSystem.cs
  Content.Server/_NF/Power/Components/MixedPowerRecieverComponent.cs
  Content.Shared/_NF/Fluids/Components/AdvDrainComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/mixed_power_machine.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/portable_pump.yml
Labels: S: Needs Review, YML, C#, size/M

#3699 Particle Decelerator damage changes
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/particles.yml
Labels: S: Needs Review, No C#, YML, size/XS

#3737 Command retains ID title on shipyard purchase
  Content.Server/_NF/Shipyard/Components/PreventShipyardTitleOverwriteComponent.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Resources/Prototypes/_NF/Roles/Jobs/Engineering/plant_manager.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Medical/doc.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/sheriff.yml
Labels: YML, C#, S: Untriaged, size/S

#3670 Add a new player greeting on the Service channel, add an always-on intercom for greeting new players.
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/_NF/GameTicking/GameTicker.NFSpawning.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Resources/Locale/en-US/_NF/game-ticking/game-ticker.ftl
  Resources/Locale/en-US/_NF/headset/headset-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_NF/Entities/Markers/greeting.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/telecomms.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/contractor.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/mercenary.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/pilot.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/valet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/stc.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/nfpirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/nfpirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/nfpirate_first_mate.yml
  Resources/Prototypes/_NF/radio_channels.yml
  Resources/Textures/_NF/Objects/Devices/encryption_keys.rsi/greeting_label.png
  Resources/Textures/_NF/Objects/Devices/encryption_keys.rsi/meta.json
Labels: S: Needs Review, Sprites, YML, C#, FTL, S: Untriaged, size/M

#3733 Displacement toggle trait for moths
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Shared/_NF/DisplacementMap/Components/DisableDisplacementsComponent.cs
  Content.Shared/_NF/DisplacementMap/Components/FluffyWhitelistComponent.cs
  Resources/Locale/en-US/_NF/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/en-US/_NF/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/_NF/Traits/height.yml
Labels: S: Needs Review, YML, C#, FTL, size/S

#3696 Make contraband give dubloons to encourage piracy
  Resources/Prototypes/_NF/Entities/Objects/base_contraband.yml
Labels: No C#, YML, size/XS

#3741 New Chef Freezer to replace the closet
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/service.yml
Labels: No C#, YML, S: Approved, size/S

#3760 Update labeler.yml
  .github/labeler.yml
Labels: S: Needs Review, No C#, YML, size/XS

#3764 Chicken Parmesan
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_NF/Objects/Consumable/Food/meals.rsi/chickenparm.png
  Resources/Textures/_NF/Objects/Consumable/Food/meals.rsi/meta.json
Labels: No C#, Sprites, YML, size/S

#3763 Pirate locked secure windoors
  Resources/Prototypes/_NF/Entities/Structures/Doors/Windoors/windoor.yml
Labels: No C#, YML, S: Untriaged, size/XS

#3757 Presso crate correction.
  Resources/Prototypes/_NF/Catalog/Fills/Crates/service.yml
Labels: No C#, YML, size/XS

#3752 Fixes a nonexistent prototype for mail to the SR
  Resources/Prototypes/_NF/Mail/mailDeliveries.yml
Labels: No C#, YML, size/XS

#3719 Golden pAI (Wizden #38549)
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Textures/Objects/Fun/pai.rsi/golden-icon-pai-off.png
  Resources/Textures/Objects/Fun/pai.rsi/golden-pai-base.png
  Resources/Textures/Objects/Fun/pai.rsi/meta.json
Labels: No C#, Sprites, YML, S: Approved, size/M

#3773 Fixes hoverbikes causing you to get roasted by thrusters
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
Labels: S: Needs Review, C#, size/S

#3772 Removed misplaced png
  Resources/Textures/Mobs/Elemental/orecrab.rsi/equipped-OUTERCLOTHING-harpy.png
Labels: S: Needs Review, No C#, Sprites, size/XS, Bug Of The Year 2025
