Repository new-frontiers-14/frontier-station-14, pull requests merged in 2025-05, with the labels that each got.

#3329 Survival Box Proto Rename
  Resources/Prototypes/_NF/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/survival.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Nfsd/survival.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Prisoner/survival.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/loadout_effects.yml
  Resources/nf_migration.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/S

#2836 M_EMP Rework
  Content.Client/Power/PowerCharge/PowerChargeBoundUserInterface.cs
  Content.Client/Power/PowerCharge/PowerChargeWindow.xaml
  Content.Client/Power/PowerCharge/PowerChargeWindow.xaml.cs
  Content.Client/_NF/EmpGenerator/EmpGeneratorSystem.cs
  Content.Client/_NF/EmpGenerator/EmpGeneratorVisualsComponent.cs
  Content.Client/_NF/M_Emp/M_EmpComponent.cs
  Content.Client/_NF/M_Emp/UI/M_EmpBoundUserInterface.cs
  Content.Client/_NF/M_Emp/UI/M_EmpWindow.xaml
  Content.Client/_NF/M_Emp/UI/M_EmpWindow.xaml.cs
  Content.IntegrationTests/Tests/Gravity/WeightlessStatusTests.cs
  Content.IntegrationTests/Tests/GravityGridTest.cs
  Content.Server/Power/Components/PowerChargeComponent.cs
  Content.Server/Power/EntitySystems/PowerChargeSystem.cs
  Content.Server/Shuttles/Components/ThrusterComponent.cs
  Content.Server/_NF/EmpGenerator/EmpGeneratorSystem.cs
  Content.Server/_NF/M_Emp/M_EmpGeneratorComponent.cs
  Content.Server/_NF/M_Emp/M_EmpSystem.cs
  Content.Shared/Power/SharedPowerCharge.cs
  Content.Shared/Power/SharedPowerChargeComponent.cs
  Content.Shared/_NF/EmpGenerator/EmpGeneratorComponent.cs
  Content.Shared/_NF/M_Emp/SharedM_EmpComponent.cs
  Content.Shared/_NF/M_Emp/SharedM_EmpGeneratorComponent.cs
  Content.Shared/_NF/M_Emp/SharedM_EmpSystem.cs
  Resources/Locale/en-US/_NF/m_emp/m_emp.ftl
  Resources/Locale/en-US/_NF/power/components/power-charging-component.ftl
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
  Resources/Prototypes/Entities/Structures/Shuttles/station_anchor.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/emp_generator.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/m_emp.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/station_anchor.yml
  Resources/Textures/_NF/Structures/Machines/memp_core.rsi/activated.png
  Resources/Textures/_NF/Structures/Machines/memp_core.rsi/activating.png
  Resources/Textures/_NF/Structures/Machines/memp_core.rsi/idle.png
  Resources/Textures/_NF/Structures/Machines/memp_core.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/memp_core.rsi/startup.png
  Resources/Textures/_NF/Structures/Machines/memp_mini.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/memp_mini.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/memp_mini.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/memp_mini.rsi/on.png
  Resources/nf_migration.yml
Labels: Sprites, YML, C#, UI, FTL, S: Approved, size/L

#3334 Cleanup FTL warnings
  Resources/Locale/en-US/_DV/datasets/names/oni.ftl
  Resources/Locale/en-US/_NF/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/nyanotrasen/interaction/interaction-popup-component.ftl
Labels: S: Needs Review, No C#, FTL, S: Untriaged, size/S

#3331 Fix vehicle actions
  Content.Shared/_Goobstation/Vehicles/SharedVehicleComponent.cs
  Content.Shared/_Goobstation/Vehicles/SharedVehicleSystem.cs
Labels: S: Needs Review, C#, S: Untriaged, size/S

#3333 Fix the issue with overfilling hidden stashes
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/stashes.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/treasure.yml
Labels: S: Needs Review, No C#, YML, S: Approved, size/M

#3341 Restore the secure crate craft
  Resources/Prototypes/Recipes/Crafting/crates.yml
Labels: No C#, YML, S: Untriaged

#3347 Shuttle (Update) Nook Arbi Final
  Resources/Prototypes/_NF/Shipyard/nook.yml
Labels: S: Needs Review, Map-Shuttle, No C#, YML, S: Untriaged, size/XS

#3348 Fix Clarpy's faction
  Content.Server/_NF/GameTicking/Rules/NFPirateRuleSystem.cs
  Content.Server/_NF/Pirate/Components/AutoPirateCaptainComponent.cs
  Content.Server/_NF/Pirate/Components/AutoPirateComponent.cs
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Maps/_NF/POI/cove.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/Roles/MindRoles/mind_roles.yml
Labels: S: Needs Review, Map-POI, YML, C#, FTL, S: Untriaged, size/S

#3338 Interview holograms: admin logging, spawn event
  Content.Server/_NF/Roles/Systems/InterviewHologramSystem.cs
  Content.Shared/_Goobstation/Vehicles/SharedVehicleSystem.cs
  Content.Shared/_NF/Roles/Components/InterviewHologramComponent.cs
  Content.Shared/_NF/Roles/Events/DismissInterviewEvent.cs
Labels: C#, size/M

#3220 Return to monke (monkey juice)
  Content.Server/_NF/EntityEffects/Effects/NFIsHumanoid.cs
  Resources/Audio/_NF/Animals/attributions.yml
  Resources/Audio/_NF/Animals/monkey.ogg
  Resources/Locale/en-US/_NF/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_NF/guidebook/chemistry/conditions.ftl
  Resources/Locale/en-US/_NF/reagents/meta/biological.ftl
  Resources/Locale/en-US/_NF/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/en-US/_NF/seeds/seeds.ftl
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/SoundCollections/disease.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_DV/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_NF/Flavors/flavors.yml
  Resources/Prototypes/_NF/Hydroponics/seeds.yml
  Resources/Prototypes/_NF/InventoryTemplates/empty_inventory_template.yml
  Resources/Prototypes/_NF/Reagents/biological.yml
  Resources/Textures/_NF/Objects/Specific/Hydroponics/monkanana.rsi/dead.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/monkanana.rsi/harvest.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/monkanana.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Hydroponics/monkanana.rsi/produce.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/monkanana.rsi/seed.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/monkanana.rsi/stage-1.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/monkanana.rsi/stage-2.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/monkanana.rsi/stage-3.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/monkanana.rsi/stage-4.png
Labels: S: Needs Review, No C#, Sprites, YML, C#, FTL, S: Untriaged, Audio, size/M

#3325 RPED Resprite
  Resources/Prototypes/_NF/Entities/Objects/Specific/Research/rped.yml
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/icon-unshaded.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/icon.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/inhand-left-unshaded.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/inhand-right-unshaded.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Research/rped.rsi/meta.json
Labels: No C#, Sprites, YML, S: Approved, size/S

#3351 Guidebook Corrections
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
Labels: S: Needs Review, No C#, YML, FTL, size/S

#2930 Shuttle (New): FSB Retort
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/retort.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/retort.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Retort.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/retort.png
Labels: Docs, Map-Shuttle, No C#, Sprites, YML, FTL, Focus: Mapping, size/XL

#3358 Add a proper fallback for GetPreferredJob
  Content.Client/Lobby/LobbyUIController.cs
Labels: C#, S: Untriaged, size/S

#3361 job check in CharacterPickerButton.xaml.cs
  Content.Client/Lobby/UI/CharacterPickerButton.xaml.cs
Labels: C#, UI

#3353 Fix suit sensors being permanently disabled on multiple EMPs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
Labels: C#, S: Approved, size/S

#3367 Fix shuttles missing BecomesStation components
  Resources/Maps/_NF/Shuttles/Sr/duchess.yml
  Resources/Maps/_NF/Shuttles/ceres.yml
  Resources/Maps/_NF/Shuttles/gasbender.yml
  Resources/Maps/_NF/Shuttles/kilderkin.yml
Labels: Map-Shuttle, No C#

#3362 Fixing the wood tiles
  Resources/Textures/_NF/Objects/Tiles/carpettile.rsi/meta.json
  Resources/Textures/_NF/Objects/Tiles/woodtile.rsi/checkerboard.png
  Resources/Textures/_NF/Objects/Tiles/woodtile.rsi/fancy.png
  Resources/Textures/_NF/Objects/Tiles/woodtile.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Tiles/woodtile.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Tiles/woodtile.rsi/light-mosaic.png
  Resources/Textures/_NF/Objects/Tiles/woodtile.rsi/versailles.png
  Resources/Textures/_NF/Tiles/checkerboard.png
  Resources/Textures/_NF/Tiles/fancywood.png
  Resources/Textures/_NF/Tiles/light-mosaic.png
  Resources/Textures/_NF/Tiles/versailles.png
Labels: S: Needs Review, No C#, Sprites, S: Untriaged, size/XS

#3369 Makes the Shuttle Records Computer Wrenchable
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shuttle_records.yml
Labels: S: Needs Review, No C#, YML

#3360 Shuttle (Update) Retort Poster
  Resources/Maps/_NF/Shuttles/retort.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/retort.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster19_contraband.png
Labels: S: Needs Review, Map-Shuttle, No C#, Sprites, YML, size/M

#3375 Sort roundend player list
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
Labels: S: Needs Review, C#, size/XS

#2959 Shuttle (Update): Beaker
  Resources/Maps/_NF/Shuttles/beaker.yml
Labels: S: Needs Review, Map-Shuttle, No C#, S: Untriaged, Focus: Mapping, size/M

#3032 Lathe Recipes: Clothing Edition
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/misc.yml
  Resources/Prototypes/_NF/Recipes/Lathes/clothing.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/M

#3176 Add a pinpointer clearing item for pirates
  Content.Client/Pinpointer/PinpointerSystem.cs
  Content.Client/_NF/Charges/Components/LimitedChargesVisualsComponent.cs
  Content.Client/_NF/Charges/Systems/LimitedChargesVisualizerSystem.cs
  Content.Server/Pinpointer/PinpointerSystem.cs
  Content.Server/_NF/Pinpointer/ClearPinpointerSystem.cs
  Content.Shared/Beeper/Components/ProximityBeeperComponent.cs
  Content.Shared/Beeper/Systems/ProximityBeeperSystem.cs
  Content.Shared/Charges/Systems/SharedChargesSystem.cs
  Content.Shared/Pinpointer/PinpointerComponent.cs
  Content.Shared/Pinpointer/SharedPinpointerSystem.cs
  Content.Shared/_NF/Pinpointer/ClearPinpointerComponent.cs
  Content.Shared/_NF/Pinpointer/PinpointerTargetComponent.cs
  Resources/Locale/en-US/_NF/pinpointer/clear-pinpointer.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/_NF/Catalog/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/nfpirate.yml
  Resources/Textures/_NF/Objects/Specific/Pirate/bluespace_dust.rsi/base.png
  Resources/Textures/_NF/Objects/Specific/Pirate/bluespace_dust.rsi/charge-1.png
  Resources/Textures/_NF/Objects/Specific/Pirate/bluespace_dust.rsi/charge-2.png
  Resources/Textures/_NF/Objects/Specific/Pirate/bluespace_dust.rsi/charge-3.png
  Resources/Textures/_NF/Objects/Specific/Pirate/bluespace_dust.rsi/icon.png
  Resources/Textures/_NF/Objects/Specific/Pirate/bluespace_dust.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Pirate/pinpointer_scanner.rsi/icon-on-unlit.png
  Resources/Textures/_NF/Objects/Specific/Pirate/pinpointer_scanner.rsi/icon-on.png
  Resources/Textures/_NF/Objects/Specific/Pirate/pinpointer_scanner.rsi/icon.png
  Resources/Textures/_NF/Objects/Specific/Pirate/pinpointer_scanner.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Pirate/pinpointer_scanner.rsi/sweep-unlit.png
Labels: S: Needs Review, Sprites, YML, C#, FTL, size/M

#3292 Sprites for punk-themed vendomats and lathe
  Resources/Prototypes/_NF/Entities/Structures/Holographic/graffiti.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_NF/Structures/Holo/graffiti/highlighted.rsi/holograffiti22.png
  Resources/Textures/_NF/Structures/Holo/graffiti/highlighted.rsi/holograffiti23.png
  Resources/Textures/_NF/Structures/Holo/graffiti/highlighted.rsi/holograffiti24.png
  Resources/Textures/_NF/Structures/Holo/graffiti/highlighted.rsi/holograffiti25.png
  Resources/Textures/_NF/Structures/Holo/graffiti/highlighted.rsi/holograffiti26.png
  Resources/Textures/_NF/Structures/Holo/graffiti/highlighted.rsi/holograffiti27.png
  Resources/Textures/_NF/Structures/Holo/graffiti/highlighted.rsi/holograffiti_highlight22.png
  Resources/Textures/_NF/Structures/Holo/graffiti/highlighted.rsi/holograffiti_highlight23.png
  Resources/Textures/_NF/Structures/Holo/graffiti/highlighted.rsi/holograffiti_highlight24.png
  Resources/Textures/_NF/Structures/Holo/graffiti/highlighted.rsi/holograffiti_highlight25.png
  Resources/Textures/_NF/Structures/Holo/graffiti/highlighted.rsi/holograffiti_highlight26.png
  Resources/Textures/_NF/Structures/Holo/graffiti/highlighted.rsi/holograffiti_highlight27.png
  Resources/Textures/_NF/Structures/Holo/graffiti/highlighted.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/bonanzamatic.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/bonanzamatic.rsi/deny-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/bonanzamatic.rsi/eject-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/bonanzamatic.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/bonanzamatic.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/bonanzamatic.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/bonanzamatic.rsi/panel.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/threadschoom.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/threadschoom.rsi/deny-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/threadschoom.rsi/eject-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/threadschoom.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/VendingMachines/threadschoom.rsi/normal-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/threadschoom.rsi/off.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/threadschoom.rsi/panel.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/vandalized.rsi/clothing-vandalized-deny-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/vandalized.rsi/clothing-vandalized-unshaded.png
  Resources/Textures/_NF/Structures/Machines/VendingMachines/vandalized.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/techfab.rsi/mercenary-hacked.png
  Resources/Textures/_NF/Structures/Machines/techfab.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/techfab.rsi/unlit-hacked.png
Labels: No C#, Sprites, YML, S: Approved, size/M

#3304 Adds a comm console to the doc loadout.
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Roles/Jobs/Medical/doc.yml
Labels: S: Needs Review, No C#, YML, S: Approved, size/S

#3371 Re-adds and arachnid-whitelists web nests
  Resources/Prototypes/_NF/Entities/Structures/Specific/dinosaurs.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/furniture/beds.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/web.yml
  Resources/Prototypes/_NF/Recipes/Construction/web.yml
  Resources/Textures/_NF/Structures/Web/nest.rsi/icon.png
  Resources/Textures/_NF/Structures/Web/nest.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, YML, S: Untriaged, size/S

#3383 Fixes FSB locker parenting, moves to new location
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/closets.yml
Labels: S: Needs Review, No C#, YML, size/S

#2002 Shuttle (New): SSS Izakaya
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/izakaya.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/izakaya.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Izakaya.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/izakaya.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Docs, S: Needs Review, Map-Shuttle, No C#, Sprites, YML, FTL, Focus: Mapping, size/XL

#3387 Shuttle (Update) Falcon Redundant Thruster Fix
  Resources/Maps/_NF/Shuttles/BlackMarket/falcon.yml
Labels: Map-Shuttle, No C#, S: Untriaged, Focus: Mapping, size/S

#3392 Fix goblin recipes, allow using more trash for crafting
  Content.Shared/_NF/Species/Components/GoblinComponent.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/tin.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/trashbag.yml
Labels: S: Needs Review, YML, C#, size/S

#3389 Fix for the monkey juice
  Resources/Locale/en-US/_NF/reagents/meta/biological.ftl
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_NF/Reagents/biological.yml
Labels: S: Needs Review, No C#, YML, FTL, S: Untriaged

#3384 BlueBird reprefixing: SBB -> BB
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/Sr/duchess.yml
  Resources/Prototypes/_NF/Shipyard/baroness.yml
  Resources/Prototypes/_NF/Shipyard/bodkin.yml
  Resources/Prototypes/_NF/Shipyard/bookworm.yml
  Resources/Prototypes/_NF/Shipyard/ceres.yml
  Resources/Prototypes/_NF/Shipyard/hammer.yml
  Resources/Prototypes/_NF/Shipyard/lyrae.yml
  Resources/Prototypes/_NF/Shipyard/tyne.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Bodkin.xml
Labels: Docs, S: Needs Review, Map-Shuttle, No C#, YML, C#, S: Approved, size/S

#3378 Hide Command Department
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#, YML, S: Untriaged, S: Approved, size/XS

#3382 Catwalks over water (Imp #2238)
  Content.Shared/Movement/Systems/SharedFloorOcclusionSystem.cs
  Content.Shared/Movement/Systems/SpeedModifierContactsSystem.cs
  Resources/Prototypes/_NF/Entities/Tiles/water.yml
  Resources/nf_migration.yml
Labels: YML, C#, S: Approved, size/M

#3374 Sort fax machines before listing them
  Content.Client/Fax/UI/FaxWindow.xaml.cs
Labels: S: Needs Review, C#, UI, S: Approved, size/XS

#3395 Sheleg Oculine Fix
  Resources/Locale/en-US/_NF/metabolism/metabolism-groups.ftl
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/_NF/Body/Organs/sheleg.yml
  Resources/Prototypes/_NF/Chemistry/metabolism_groups.yml
Labels: S: Needs Review, No C#, YML, FTL, S: Untriaged, size/S

#3396 Sheleg change damage modifiers
  Resources/Prototypes/_NF/Damage/modifier_sets.yml
  Resources/ServerInfo/_NF/Guidebook/Mobs/Sheleg.xml
Labels: Docs, S: Needs Review, No C#, YML, S: Untriaged

#3400 Fix barge plasma/bus schedule mapping bugs, end of round hologram bank entries
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/Shuttles/Scrap/scrap-barge.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_carp.yml
Labels: S: Needs Review, Map-Shuttle, YML, C#, Map-Outpost, S: Untriaged, size/S

#3404 Remove zooming on non-sniper weapons, tweak zoom behaviour to reduce motion sickness
  Content.Client/Movement/Systems/EyeCursorOffsetSystem.cs
  Resources/Prototypes/_NF/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/base_battery_rifle.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/base_battery_rifle_assault.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Crossbow/crossbow.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Launchers/base_launcher.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/base_rifle.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/base_rifle_assault.yml
Labels: YML, C#, S: Approved, size/S

#3330 Frontier wall lockers with grid inventory
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Objects/Specific/Chemistry/chem_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/tools.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/base_clothing_belt.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Engineering/construction_bag.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Medical/medical_bag.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers_department.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers_department_eva.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/shelfs.yml
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillEva-0.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillEva-1.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillEva-2.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillEva-3.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillEva-4.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillEva-5.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillFuelCell-0.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillFuelCell-1.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillFuelCell-2.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillFuelCell-3.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillFuelCell-4.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillFuelWelding-0.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillFuelWelding-1.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillFuelWelding-2.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillFuelWelding-3.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillFuelWelding-4.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillGeneric-0.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillGeneric-1.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillGeneric-2.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillGeneric-3.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillGeneric-4.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillGeneric-5.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillGeneric-6.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillGeneric-7.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillGeneric-8.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillMed-0.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillMed-1.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillMed-10.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillMed-2.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillMed-3.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillMed-4.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillMed-5.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillMed-6.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillMed-7.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillMed-8.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/fillMed-9.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/meta.json
  Resources/nf_migration.yml
Labels: S: Needs Review, No C#, Sprites, YML, size/M

#3197 New Jukebox Features: Shuffling & Replaying Songs!
  Content.Client/Audio/Jukebox/JukeboxBoundUserInterface.cs
  Content.Client/Audio/Jukebox/JukeboxMenu.xaml
  Content.Client/Audio/Jukebox/JukeboxMenu.xaml.cs
  Content.Server/Audio/Jukebox/JukeboxSystem.cs
  Content.Shared/Audio/Jukebox/JukeboxComponent.cs
  Content.Shared/Audio/Jukebox/SharedJukeboxSystem.cs
  Resources/Locale/en-US/jukebox/jukebox-menu.ftl
Labels: C#, UI, FTL, S: Approved, size/M

#3370 Shuttle (New): FSB Surveyor
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/surveyor.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/surveyor.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Surveyor.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/surveyor.png
Labels: Docs, S: Needs Review, Map-Shuttle, No C#, Sprites, YML, FTL, Focus: Mapping, size/L

#3416 Fix zoom aiming for seperated UI.
  Content.Client/Movement/Systems/EyeCursorOffsetSystem.cs
Labels: S: Needs Review, C#, S: Untriaged, size/XS

#3415 Fix wield vs. fire mode ordering for energy guns
  Content.Server/_DV/Weapons/Ranged/Systems/EnergyGunSystem.cs
  Content.Shared/Weapons/Ranged/Systems/BatteryWeaponFireModesSystem.cs
  Content.Shared/Wieldable/SharedWieldableSystem.cs
Labels: C#, S: Approved

#3397 Salvage Techfab Update
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/salvage_techfab.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
  Resources/Prototypes/_NF/Recipes/Lathes/weapons.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/S

#3412 Trim flatpack kits in loot tables and vendomats
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/Entities/Structures/Machines/research.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_hydroponics.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_kitchen.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_research.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
Labels: No C#, YML, S: Approved, size/M

#3405 McUpdate (McServiceTechFab)
  Resources/Locale/en-US/_NF/lathe/lathe-categories.ftl
  Resources/Maps/_NF/Shuttles/Bus/mcbus.yml
  Resources/Maps/_NF/Shuttles/mccargo.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/happyhonk.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Devices/CircuitBoards/production.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Smokables/Cigarettes/cartons.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Smokables/Cigarettes/packs.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/service_techfab.yml
  Resources/Prototypes/_NF/Recipes/Lathes/categories.yml
  Resources/Prototypes/_NF/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
  Resources/Prototypes/_NF/Recipes/Lathes/storage.yml
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigarettes/Cartons/mccargo.rsi/icon.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigarettes/Cartons/mccargo.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigarettes/Cartons/mccargo.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigarettes/Cartons/mccargo.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigarettes/Packs/mccargo.rsi/closed.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigarettes/Packs/mccargo.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigarettes/Packs/mccargo.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigarettes/Packs/mccargo.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigarettes/Packs/mccargo.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigarettes/Packs/mccargo.rsi/open.png
  Resources/Textures/_NF/Objects/Consumable/Smokeables/Cigarettes/Packs/mccargo.rsi/trash.png
  Resources/Textures/_NF/Structures/Machines/techfab.rsi/mcservice.png
  Resources/Textures/_NF/Structures/Machines/techfab.rsi/meta.json
Labels: S: Needs Review, Map-Shuttle, No C#, Sprites, YML, FTL, S: Approved, size/M

#3394 Add DebugFrontierStation prototype
  Resources/Prototypes/_NF/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: No C#, YML, S: Untriaged, size/S

#3427 2025 05 20 skrungler suggestions
  Content.Server/_NF/Skrungler/SkrunglerSystem.cs
  Content.Shared/_NF/Skrungler/Components/SkrunglerComponent.cs
  Content.Shared/_NF/Skrungler/SharedSkrunglerSystem.cs
  Resources/Locale/en-US/_NF/skrungler/components/skrungler-entity-storage-component.ftl
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/skrungler.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Reagents/Materials/fuelgrade.yml
  Resources/Prototypes/_NF/Stacks/Materials/fuelgrade.yml
  Resources/Textures/_NF/Objects/Specific/Fuel/fuelgrade_material.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Fuel/fuelgrade_material.rsi/skrungle.png
  Resources/Textures/_NF/Structures/Storage/skrungler.rsi/meta.json
Labels: Sprites, YML, C#, FTL, S: Untriaged, size/M

#3429 Remove contraband inventory from ChefVend
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
Labels: No C#, YML, S: Untriaged, size/S

#3426 Add PR description validation workflow
  .github/workflows/changelog.yml
  .github/workflows/nf-validate-changelog.yml
  Tools/_NF/changelog/changelog.js
  Tools/_NF/changelog/package.json
  Tools/_NF/changelog/validate_changelog.js
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/M

#3391 Code Owners
  .github/CODEOWNERS
  .github/CODEOWNERS.txt
Labels: S: Needs Review, No C#, size/M

#3432 Command Uniform Printer
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/nfsddrobe.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/misc.yml
  Resources/Prototypes/_NF/Recipes/Lathes/clothing.yml
  Resources/Textures/_NF/Structures/Machines/staff_uniform_printer.rsi/building.png
  Resources/Textures/_NF/Structures/Machines/staff_uniform_printer.rsi/icon.png
  Resources/Textures/_NF/Structures/Machines/staff_uniform_printer.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, YML, Map-Outpost, S: Approved, size/M

#3418 Spawn emu.
  Resources/Prototypes/_NF/Entities/Markers/Spawners/mechs.yml
Labels: No C#, YML, S: Untriaged, size/S

#3439 Increase auto-recharge rate for advanced laser pistol
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/battery_pistols.yml
Labels: No C#, YML, S: Untriaged, size/XS

#3417 Grid-local research clients, servers, anomaly vessels (Ports Wizden#36821)
  Content.Server/Anomaly/AnomalySystem.Vessel.cs
  Content.Server/Anomaly/AnomalySystem.cs
  Content.Server/Research/Systems/ResearchSystem.Client.cs
  Content.Server/Research/Systems/ResearchSystem.Server.cs
  Content.Server/Research/Systems/ResearchSystem.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
  Resources/Locale/en-US/_NF/anomaly/anomaly.ftl
  Resources/Locale/en-US/_NF/research/components/research-server-component.ftl
Labels: C#, FTL, S: Untriaged, size/M

#3430 Sheleg: tweak spelling and grammar on guidebook entry
  Resources/ServerInfo/_NF/Guidebook/Mobs/Sheleg.xml
Labels: Docs, S: Needs Review, No C#, S: Approved, size/S

#3425 Add construction bag to YouTool and EngiVend
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/youtool.yml
Labels: No C#, YML, S: Approved

#3420 Clutter spawners for mappers, salvage specialist wall locker
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/departmental_gear.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/shuttle_items.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers_department.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers_department_eva.yml
Labels: No C#, YML, S: Approved, size/M

#3442 Changelog hotfix
  Resources/Changelog/Frontier.yml
  Tools/_NF/changelog/changelog.js
  Tools/_NF/changelog/validate_changelog.js
Labels: S: Needs Review, No C#, YML, S: Approved, size/L

#3440 Update EVA Suits Lockers
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/nfsd_techfab.yml
  Resources/Prototypes/_NF/Recipes/Lathes/clothing-eva.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/S

#3438 Sheleg Fix Hunger Decay Rate
  Resources/Prototypes/_NF/Entities/Mobs/Species/sheleg.yml
Labels: No C#, YML, S: Untriaged, size/XS

#3421 Shoulder-mounted lights for EVA suits
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage_wallmount.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/departmental_eva.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuits-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits_departmental.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers_department_eva.yml
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-light-siren.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-shoulder-light-overlay-unshaded.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-shoulder-light.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/icon-shoulder-light-overlay-unshaded.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/icon-shoulder-light.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/meta.json
  Resources/Textures/_NF/Effects/LightMasks/skullmask.png
Labels: S: Needs Review, No C#, Sprites, YML, size/M

#3450 Fix the upgraded chimp
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/battery_pistols.yml
Labels: S: Needs Review, No C#, YML

#3452 Shuttle (Remove): Caduceus
  Resources/Maps/_NF/Shuttles/caduceus.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard_mothership.yml
  Resources/Prototypes/_NF/Shipyard/caduceus.yml
Labels: S: Needs Review, Map-Shuttle, No C#, YML

#3335 Port blip system from Monolith (Version 3)
  Content.Client/Shuttles/BUI/RadarConsoleBoundUserInterface.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_NF/Radar/RadarBlipSystem.cs
  Content.Client/_NF/Shuttles/UI/RadarConsoleWindow.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/_Goobstation/Vehicles/VehicleSystem.cs
  Content.Server/_NF/Radar/RadarBlipComponent.cs
  Content.Server/_NF/Radar/RadarBlipSystem.cs
  Content.Shared/_Goobstation/Vehicles/SharedVehicleSystem.cs
  Content.Shared/_NF/Radar/RadarMessages.cs
  README.md
Labels: Docs, S: Needs Review, C#, UI, S: Approved, size/M

#3431 ICE CREAM!!!
  Resources/Locale/en-US/_NF/flavors/flavor-profiles.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_NF/Flavors/flavors.yml
  Resources/Prototypes/_NF/Mail/mail.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/food/donut.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/food/everyspice.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/food/wafflecone.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/service_techfab.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
  Resources/Textures/_NF/Objects/Consumable/Food/frozen.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/frozen.rsi/wafflecone.png
Labels: S: Needs Review, No C#, Sprites, YML, FTL, S: Untriaged, size/M

#3423 The Skrungler
  Content.Client/_NF/Skrungler/SkrunglerSystem.cs
  Content.Client/_NF/Skrungler/Visualizers/SkrunglerVisualLayers.cs
  Content.Server/_NF/Skrungler/SkrunglerSystem.cs
  Content.Shared/_NF/Skrungler/Components/SkrunglerComponent.cs
  Content.Shared/_NF/Skrungler/SharedSkrungler.cs
  Content.Shared/_NF/Skrungler/SharedSkrunglerSystem.cs
  Resources/Locale/en-US/_NF/skrungler/components/skrungler-entity-storage-component.ftl
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/skrungler.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Reagents/Materials/fuelgrade.yml
  Resources/Prototypes/_NF/Stacks/Materials/fuelgrade.yml
  Resources/Textures/_NF/Objects/Specific/Fuel/fuelgrade_material.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Fuel/fuelgrade_material.rsi/skrungle.png
  Resources/Textures/_NF/Structures/Storage/skrungler.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/skrungler.rsi/skrungler_active.png
  Resources/Textures/_NF/Structures/Storage/skrungler.rsi/skrungler_base.png
  Resources/Textures/_NF/Structures/Storage/skrungler.rsi/skrungler_closed.png
  Resources/Textures/_NF/Structures/Storage/skrungler.rsi/skrungler_open.png
  Resources/Textures/_NF/Structures/Storage/skrungler.rsi/skrungler_tray.png
Labels: S: Needs Review, Sprites, YML, C#, FTL, S: Untriaged, size/M

#3443 Prison Wallet
  Resources/Prototypes/_NF/Entities/Clothing/Wallet/leather.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/wallet.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Prisoner/wallet.yml
  Resources/Prototypes/_NF/Loadouts/prisoner_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/closed-prisoner.png
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/meta.json
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/open-prisoner.png
Labels: No C#, Sprites, YML, S: Untriaged, size/M

#3460 Shuttle (Update) Searchlight LJ and WP addition
  Resources/Maps/_NF/Shuttles/searchlight.yml
Labels: Map-Shuttle, No C#, Focus: Mapping

#3451 Holoflare Pistol Buff
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/battery_pistols.yml
Labels: S: Needs Review, No C#, YML, S: Approved, size/XS

#3472 Fix monkanana seed definition
  Resources/Prototypes/_NF/Hydroponics/seeds.yml
Labels: No C#, YML, S: Approved, size/S

#3463 Restore EVA softsuit 5% speed penalty
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
Labels: No C#, YML, S: Approved

#3476 Fix Remove access lock on LVHI Adder captain airlock
  Resources/Maps/_NF/Shuttles/adder.yml
Labels: S: Needs Review, Map-Shuttle, No C#, S: Untriaged

#3473 Add ContrabandClothing parent to elite pirate hardsuit
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: S: Needs Review, No C#, YML, S: Approved, size/XS

#3458 Pirate Stitcher
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_NF/Catalog/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_NF/Recipes/Lathes/clothing.yml
  Resources/Prototypes/_NF/Recipes/Lathes/misc.yml
  Resources/Textures/_NF/Objects/Misc/module.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/module.rsi/pirate_stitcher.png
  Resources/Textures/_NF/Structures/Machines/pirate_stitcher.rsi/building.png
  Resources/Textures/_NF/Structures/Machines/pirate_stitcher.rsi/icon.png
  Resources/Textures/_NF/Structures/Machines/pirate_stitcher.rsi/meta.json
Labels: No C#, Sprites, YML, FTL, S: Approved, size/M

#3461 Servicefab Nutrimax parity additions
  Resources/Prototypes/_NF/Entities/Objects/Specific/Hydroponics/sprays.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/service_techfab.yml
  Resources/Prototypes/_NF/Recipes/Lathes/botany.yml
Labels: No C#, YML, size/S

#3474 Uplink cleanup: no duped anti-materiel, more descriptive icons
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_NF/Catalog/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Catalog/uplink_catalog.yml
  Resources/Textures/_NF/Objects/Storage/boxes.rsi/icon-dart.png
  Resources/Textures/_NF/Objects/Storage/boxes.rsi/icon-magazine.png
  Resources/Textures/_NF/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/icon-45.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/icon-30.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/icon-60.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/icon-beanbag.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/icon-buckshot.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/icon-slug.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Pistol45/speed_loader.rsi/icon-overpressure.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Pistol45/speed_loader.rsi/icon-rubber.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Pistol45/speed_loader.rsi/meta.json
Labels: No C#, Sprites, YML, FTL, S: Approved, size/S

#3482 Set Pirate suits cords to always be off.
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/_NF/Clothing/EntitySystems/AutoSuitSensorOffSystem.cs
  Content.Server/_NF/Medical/SuitSensors/DisableSuitSensorsComponent.cs
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpskirts.yml
  Resources/Prototypes/_NF/Entities/Mobs/Corpses/medical_corpse.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/nfpirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/nfpirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/nfpirate_first_mate.yml
Labels: YML, C#, S: Approved, size/S

#3495 Docking angle fix
  Content.Server/Shuttles/Systems/DockingSystem.Shuttle.cs
  Resources/Prototypes/Entities/Effects/shuttle.yml
Labels: YML, C#, S: Approved, size/XS
