Repository new-frontiers-14/frontier-station-14, pull requests merged in 2025-10, with the labels that each got.

#3811 Added upgrade information tooltip to deep fryer
  Content.Server/Nyanotrasen/Kitchen/EntitySystems/DeepFryerSystem.cs
  Resources/Locale/en-US/nyanotrasen/kitchen/deep-fryer-component.ftl
Labels: C#, FTL, S: Approved, size/S

#3934 remove explosions from destroying a explosive payload (#38049)
  Resources/Prototypes/Entities/Objects/Devices/payload.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/XS

#3943 Change power cell material composition to be less powergamey
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/_NF/Entities/Objects/base_recyclable_items.yml
Labels: No C#, YML, S: Untriaged, size/S

#3936 Modular grenades require a full grenade to explode
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/XS

#3954 Addresses the empty filled medicine wall locker
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
Labels: No C#, YML, size/S
