Repository new-frontiers-14/frontier-station-14, pull requests merged in 2025-04, with the labels that each got.

#3204 Changes weird phrasing for the rogue AI node structure
  Resources/Prototypes/_NF/Entities/Structures/Specific/roguesilicons.yml
Labels: No C#, YML, S: Untriaged, size/XS

#3203 Adjustable volume for expedition music
  Content.Client/Audio/ContentAudioSystem.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Client/Salvage/SalvageExpeditionComponent.cs
  Content.Client/Salvage/SalvageSystem.cs
  Content.Server/Salvage/Expeditions/SalvageExpeditionComponent.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SalvageSystem.Runner.cs
  Content.Shared/Salvage/Expeditions/SharedSalvageExpeditionComponent.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: C#, UI, FTL, size/M

#3208 Fix ATV/syndie/ERT localized dataset references, remove Chitinid guidebook entry
  Resources/Locale/en-US/_NF/books/book-system.ftl
  Resources/Locale/en-US/datasets/names/atv.ftl
  Resources/Prototypes/Datasets/Names/atv.yml
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/Procedural/salvage_factions.yml
  Resources/Prototypes/_DV/Guidebook/species.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/emotionalsupportanimals.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_NF/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/_NF/Entities/Objects/Vehicles/buckleable.yml
Labels: No C#, YML, FTL, S: Untriaged, size/S

#3209 Add holopad support for custom emotes.
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Holopad/HolopadSystem.cs
  Content.Server/Telephone/TelephoneSystem.cs
Labels: S: Needs Review, C#, size/S

#3171 Nonlethal Melee Vending Options Addition
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/bountyvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/lesslethalvend.yml
Labels: S: Needs Review, No C#, YML, S: Approved, size/XS

#3152 FSB void suit update
  Content.Client/Clothing/ClientClothingSystem.cs
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/departmental_eva.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuit-helmets.yml
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/HELMET-light-glow-vox.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/HELMET-light-glow.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/off-equipped-HELMET-felinid.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/off-equipped-HELMET-goblin.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/off-equipped-HELMET-reptilian.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/on-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/fsb_voidsuit.rsi/equipped-OUTERCLOTHING-vox.png
Labels: No C#, Sprites, YML, C#, S: Approved, size/S

#3045 Add layered duffels
  Content.Client/Items/Systems/ItemSystem.cs
  Content.Client/Sprite/RandomSpriteSystem.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/janidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/maildrobe.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_mercenaries.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/duffel_color.yml
  Resources/Prototypes/_NF/Entities/Clothing/Back/messenger.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/bags.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Janitor/backpack.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/MailCarrier/backpack.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/bags.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/StationRep/bags.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/janitor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mail_carrier_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/stationrep_loadout_groups.yml
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/equipped-BACKPACK-base.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/equipped-BACKPACK-decal-mail.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/equipped-BACKPACK-decal-medical-cross.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/equipped-BACKPACK-decal-straps.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/equipped-BACKPACK-handle.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/equipped-BACKPACK-sling.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/icon-base.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/icon-decal-idk.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/icon-decal-mail.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/icon-decal-medical-cross.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/icon-decal-religious-cross.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/icon-decal-straps.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/icon-handle.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/icon-sling.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/icon-zipper.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/inhand-left-base.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/inhand-left-decal-medical-cross.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/inhand-left-decal-straps.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/inhand-left-handle.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/inhand-left-sling.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/inhand-left-zipper.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/inhand-right-base.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/inhand-right-decal-medical-cross.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/inhand-right-decal-straps.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/inhand-right-handle.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/inhand-right-sling.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/inhand-right-zipper.png
  Resources/Textures/_NF/Clothing/Back/Duffels/color.rsi/meta.json
  Resources/Textures/_NF/Clothing/Back/Duffels/mercenary.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Clothing/Back/Duffels/mercenary.rsi/icon.png
  Resources/Textures/_NF/Clothing/Back/Duffels/mercenary.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Back/Duffels/mercenary.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Back/Duffels/mercenary.rsi/meta.json
  Resources/Textures/_NF/Clothing/Back/Duffels/pilot.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Clothing/Back/Duffels/pilot.rsi/icon.png
  Resources/Textures/_NF/Clothing/Back/Duffels/pilot.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Back/Duffels/pilot.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Back/Duffels/pilot.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, YML, C#, S: Approved, size/L

#3118 Cube (New) Farm
  Resources/Prototypes/_NF/Entities/Objects/Misc/monkeycube.yml
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/box_farm.png
  Resources/Textures/_NF/Objects/Misc/monkeycube.rsi/meta.json
Labels: No C#, Sprites, YML, S: Approved, size/S

#3103 Buffs and fixes for biogen!
  Resources/Locale/en-US/_NF/lathe/lathe-categories.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/biogen.yml
  Resources/Prototypes/Recipes/Lathes/biogen.yml
  Resources/Prototypes/Recipes/Lathes/rehydrateable.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/biogen.yml
  Resources/Prototypes/_NF/Recipes/Lathes/biogen.yml
  Resources/Prototypes/_NF/Recipes/Lathes/categories.yml
Labels: No C#, YML, FTL, S: Approved, size/M

#3211 Reduces Processed Ethanol amount so it does not kill you after one glass
  Resources/Prototypes/_NF/Reagents/Consumables/Drink/drinks.yml
Labels: No C#, YML, S: Approved

#3215 Revert "Adjustable volume for expedition music"
  Content.Client/Audio/ContentAudioSystem.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Client/Salvage/SalvageExpeditionComponent.cs
  Content.Client/Salvage/SalvageSystem.cs
  Content.Server/Salvage/Expeditions/SalvageExpeditionComponent.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SalvageSystem.Runner.cs
  Content.Shared/Salvage/Expeditions/SharedSalvageExpeditionComponent.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: S: Needs Review, C#, UI, FTL, S: Untriaged, size/M

#3216 Gas filter default on without selected gas
  Resources/Prototypes/_NF/Entities/Structures/Piping/Atmospherics/trinary.yml
Labels: S: Needs Review, No C#, YML, S: Approved, size/XS

#3219 Unrevert salvage expedition volume
  Content.Client/Audio/ContentAudioSystem.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Client/Salvage/SalvageExpeditionComponent.cs
  Content.Client/Salvage/SalvageSystem.cs
  Content.Server/Salvage/Expeditions/SalvageExpeditionComponent.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SalvageSystem.Runner.cs
  Content.Shared/Salvage/Expeditions/SharedSalvageExpeditionComponent.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: S: Needs Review, C#, UI, FTL, size/M

#3214 Update SalvageCanisterSpawner
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/spawners.yml
Labels: No C#, YML, S: Untriaged, size/XS

#3221 Great Job Produce Biomass
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Labels: No C#, YML, S: Untriaged, size/XS

#3184 Atmos boards to engi fab
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/engineering_techfab.yml
Labels: No C#, YML, size/XS

#3205 Lathes: Editable batch order, cancellable batches, anchor bugfix
  Content.Client/Lathe/UI/LatheBoundUserInterface.cs
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Client/_NF/Lathe/UI/QueuedRecipeControl.xaml
  Content.Client/_NF/Lathe/UI/QueuedRecipeControl.xaml.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/_NF/Lathe/NFLatheMessages.cs
Labels: S: Needs Review, C#, UI, size/M

#3231 More Goblin Name Spacing
  Resources/Locale/en-US/_NF/markings/goblin.ftl
  Resources/Locale/en-US/_NF/markings/moth.ftl
  Resources/Prototypes/_NF/Body/Organs/goblin.yml
  Resources/Prototypes/_NF/Datasets/Names/goblin_female.yml
  Resources/Prototypes/_NF/Datasets/Names/goblin_last.yml
  Resources/Prototypes/_NF/Datasets/Names/goblin_male.yml
  Resources/Prototypes/_NF/Entities/Mobs/Customization/Markings/goblin.yml
  Resources/Prototypes/_NF/Entities/Mobs/Player/goblin.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meat_goblin.yml
  Resources/Prototypes/_NF/Species/goblin.yml
Labels: S: Needs Review, No C#, YML, FTL, S: Untriaged, size/S

#3236 Update Kestrel Guidebook 4/10/25
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Kestrel.xml
Labels: Docs, No C#, S: Untriaged, size/XS

#3235 malfunctioning scrap unit name typo fix
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_rogue_ai.yml
Labels: No C#, YML

#3233 AnomalySystem: do not reset infectious physics
  Content.Shared/Anomaly/SharedAnomalySystem.cs
Labels: S: Needs Review, C#

#3234 FoldableSystem: fix blocking conditions.
  Content.Shared/Foldable/FoldableSystem.cs
Labels: S: Needs Review, C#, size/XS

#3225 Emag Pass
  Content.Shared/_NF/Whitelist/Components/NFEmagPassComponent.cs
  Resources/Locale/en-US/_NF/store/categories.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/_NF/Catalog/uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Clothing/Wallet/base_wallet.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/emag.yml
  Resources/Textures/_NF/Objects/Tools/emagpass.rsi/icon.png
  Resources/Textures/_NF/Objects/Tools/emagpass.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Tools/emagpass.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Tools/emagpass.rsi/meta.json
Labels: Sprites, YML, C#, FTL, S: Approved, size/M

#3237 Remove player characters and ghost roles from containers picked up by mechs.
  Content.Server/Mech/Equipment/EntitySystems/MechGrabberSystem.cs
  Content.Server/_NF/Mech/Equipment/EntitySystems.cs/MechForkSystem.cs
Labels: C#, S: Untriaged, size/S

#3242 No edible meat from expedition human mobs
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_mercenaries.yml
Labels: No C#, YML, S: Untriaged, size/S

#2720 Refactor Pirate to be a real antag
  Content.Client/Administration/AdminNameOverlay.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/Objectives/ObjectivesSystem.cs
  Content.Server/_NF/GameTicking/Rules/Components/NFPirateRuleComponent.cs
  Content.Server/_NF/GameTicking/Rules/NFPirateRuleSystem.cs
  Content.Server/_NF/Pirate/Components/AutoPirateCaptainComponent.cs
  Content.Server/_NF/Pirate/Components/AutoPirateComponent.cs
  Content.Server/_NF/Pirate/Systems/NFPirateSystem.cs
  Content.Server/_NF/Roles/NFPirateRoleComponent.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Resources/Audio/_NF/Misc/attributions.yml
  Resources/Audio/_NF/Misc/pirate_greeting.ogg
  Resources/Locale/en-US/_NF/administration/antag.ftl
  Resources/Locale/en-US/_NF/game-ticking/game-presets/preset-pirate.ftl
  Resources/Locale/en-US/_NF/job/job-description.ftl
  Resources/Locale/en-US/_NF/job/job-names.ftl
  Resources/Locale/en-US/_NF/job/job-supervisors.ftl
  Resources/Locale/en-US/_NF/mind/role-types.ftl
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Maps/_NF/Shuttles/BlackMarket/menace.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/_NF/Catalog/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/nfpirate.yml
  Resources/Prototypes/_NF/GameRules/roundstart.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pirates/head.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pirates/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pirates/outer.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pirates/pda.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pirates/shoes.yml
  Resources/Prototypes/_NF/Loadouts/nfpirates_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Maps/debug.yml
  Resources/Prototypes/_NF/Objectives/nfpirate.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/Roles/Antags/nfpirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/nfpirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/nfpirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/nfpirate_first_mate.yml
  Resources/Prototypes/_NF/Roles/Jobs/departments.yml
  Resources/Prototypes/_NF/Roles/MindRoles/mind_roles.yml
  Resources/Prototypes/_NF/Roles/role_types.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/barnacle.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/bocakillo.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/falcon.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/menace.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/schooner.yml
  Resources/Prototypes/_NF/StatusIcon/job.yml
  Resources/Prototypes/_NF/ai_factions.yml
  Resources/Prototypes/ai_factions.yml
  Resources/nf_migration.yml
Labels: S: Needs Review, Map-Shuttle, YML, C#, FTL, Audio, S: Approved, size/M

#3224 More data when you examine guns (Part of Emberfall 10#)
  Content.Server/_DV/Weapons/Ranged/Systems/EnergyGunSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/_Emberfall/Weapons/Ranged/Systems/SharedGunSystem.Examine.cs
  Resources/Locale/en-US/_Emberfall/weapons/gun-examine.ftl
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: S: Needs Review, YML, C#, FTL, S: Untriaged, size/M

#3243 Allow pilot seat rotation while buckled
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: No C#, YML

#3249 Rollover FTL coordinates
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
Labels: C#, S: Untriaged, size/S, Bug Of The Year 2025

#3245 Allow generators to convert raw ore to fuel-grade material.
  Content.Server/_NF/Power/Generator/FuelGradeAdapterComponent.cs
  Content.Server/_NF/Power/Generator/FuelGradeAdapterSystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
Labels: S: Needs Review, YML, C#, S: Untriaged, size/S

#3164 Shuttle services in IFF
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/_NF/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.IntegrationTests/Tests/_NF/Shuttle/SharedShuttleSystemTest.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/Shuttles/BUIStates/NavInterfaceState.cs
  Content.Shared/Shuttles/Components/IFFComponent.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.IFF.cs
  Content.Shared/Shuttles/UI/MapObjects/GridMapObject.cs
  Content.Shared/_NF/Shuttles/Events/SetServiceFlagsRequest.cs
  Resources/Locale/en-US/_NF/shuttles/console.ftl
Labels: C#, UI, FTL, S: Approved, size/M

#3256 Add sprites for scrap and expedition shipyard consoles
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop_shipyard.yml
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_tabletop_decal.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_tabletop_decal_accent.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/computer_tabletop_scrap.png
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/computer_tabletop.rsi/scrap_keyboard_tabletop.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/computer_expedition.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/computer_scrap.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/contraband.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/computers.rsi/piratebounty.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/piratebounty_pad.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/scrap_key.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/scrap_keyboard.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard_blackmarket.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard_medical.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard_nfsd.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard_scrap.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard_security.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shipyard_sr.png
  Resources/Textures/_NF/Structures/Machines/computers.rsi/shuttle_records.png
Labels: S: Needs Review, No C#, Sprites, YML, S: Approved, size/L

#3251 Add shuttle-mounted mail launcher
  Resources/Prototypes/Nyanotrasen/Catalog/Fills/Vending/Inventories/maildrobe.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/cannons.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Shuttles/maillauncher.rsi/mag-1.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Shuttles/maillauncher.rsi/mag-2.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Shuttles/maillauncher.rsi/mail-launcher.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Shuttles/maillauncher.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, YML, S: Approved, size/S

#3252 Add randomised punk pants and shorts to loadouts
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/punkbountyvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/punkclothesvend.yml
  Resources/Prototypes/_NF/Entities/Clothing/Uniforms/jumpsuits_punk.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/loadout_effects.yml
Labels: S: Needs Review, No C#, YML, S: Approved, size/M

#3255 Thruster/Gyro touchup (mostly sprites)
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_nfsd.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/thrusters_security.yml
  Resources/Textures/_NF/Structures/Shuttles/gyroscope.rsi/base.png
  Resources/Textures/_NF/Structures/Shuttles/gyroscope.rsi/base_nfsd.png
  Resources/Textures/_NF/Structures/Shuttles/gyroscope.rsi/base_sec.png
  Resources/Textures/_NF/Structures/Shuttles/gyroscope.rsi/base_small.png
  Resources/Textures/_NF/Structures/Shuttles/gyroscope.rsi/base_small_nfsd.png
  Resources/Textures/_NF/Structures/Shuttles/gyroscope.rsi/base_small_sec.png
  Resources/Textures/_NF/Structures/Shuttles/gyroscope.rsi/meta.json
  Resources/Textures/_NF/Structures/Shuttles/gyroscope.rsi/thrust_burn.png
  Resources/Textures/_NF/Structures/Shuttles/gyroscope.rsi/thrust_burn_nfsd.png
  Resources/Textures/_NF/Structures/Shuttles/gyroscope.rsi/thrust_burn_sec.png
  Resources/Textures/_NF/Structures/Shuttles/gyroscope.rsi/thrust_burn_small.png
  Resources/Textures/_NF/Structures/Shuttles/gyroscope.rsi/thrust_burn_small_nfsd.png
  Resources/Textures/_NF/Structures/Shuttles/gyroscope.rsi/thrust_burn_small_sec.png
  Resources/Textures/_NF/Structures/Shuttles/nfsdgyroscope.rsi/meta.json
  Resources/Textures/_NF/Structures/Shuttles/nfsdgyroscope.rsi/thrust.png
  Resources/Textures/_NF/Structures/Shuttles/nfsdgyroscope.rsi/thrust_burn_unshaded.png
  Resources/Textures/_NF/Structures/Shuttles/thruster.rsi/base.png
  Resources/Textures/_NF/Structures/Shuttles/thruster.rsi/base_nfsd.png
  Resources/Textures/_NF/Structures/Shuttles/thruster.rsi/base_sec.png
  Resources/Textures/_NF/Structures/Shuttles/thruster.rsi/base_small.png
  Resources/Textures/_NF/Structures/Shuttles/thruster.rsi/meta.json
  Resources/Textures/_NF/Structures/Shuttles/thruster.rsi/thrust.png
  Resources/Textures/_NF/Structures/Shuttles/thruster.rsi/thrust_burn_unshaded.png
  Resources/Textures/_NF/Structures/Shuttles/thruster.rsi/thrust_small.png
  Resources/Textures/_NF/Structures/Shuttles/thrusternfsd.rsi/base.png
  Resources/Textures/_NF/Structures/Shuttles/thrusternfsd.rsi/meta.json
  Resources/Textures/_NF/Structures/Shuttles/thrustersecurity.rsi/base.png
  Resources/Textures/_NF/Structures/Shuttles/thrustersecurity.rsi/meta.json
  Resources/Textures/_NF/Structures/Shuttles/thrustersecurity.rsi/thrust.png
  Resources/Textures/_NF/Structures/Shuttles/thrustersecurity.rsi/thrust_burn_unshaded.png
Labels: No C#, Sprites, YML, S: Untriaged

#3259 Fix senior officer playtimes
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/senior_officer.yml
Labels: No C#, YML, size/XS

#3261 Restore the Nyanotrasen Discord Round Notifications
  Content.Server/Discord/WebhookMentions.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/_NF/RoundNotifications/Events/RoundStartedEvent.cs
  Content.Server/_NF/RoundNotifications/Systems/RoundNotificationsSystem.cs
  Content.Shared/GameTicking/RoundRestartedEvent.cs
Labels: S: Needs Review, C#, size/M

#2599 Shuttle (New): CTC Vitalis - The Cryo Medical Ship
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/vitalis.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/vitalis.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Vitalis.xml
Labels: Docs, Map-Shuttle, No C#, YML, FTL, Focus: Mapping, size/XL

#2662 Shuttle (New): SBB Baroness
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/baroness.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Shipyard/baroness.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Baroness.xml
Labels: Docs, S: Needs Review, Map-Shuttle, No C#, YML, FTL, Focus: Mapping, size/L

#2667 Shuttle (New): NT Duchess - NT Bottleneck Replacement
  Resources/Maps/_NF/Shuttles/Sr/duchess.yml
  Resources/Prototypes/_NF/Shipyard/Sr/duchess.yml
Labels: Map-Shuttle, No C#, YML, Focus: Mapping, size/L

#3157 rules clarifications v-6
  Resources/ServerInfo/_NF/Guidebook/Rules/3_Escalation.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/5_Roleplay.xml
Labels: Docs, S: Needs Review, No C#, S: Untriaged, size/XS

#3274 Goblin Sound Files Reorder
  Resources/Audio/_NF/Voice/Goblin/attributions.yml
  Resources/Audio/_NF/Voice/Goblin/goblin_cackle_1.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_cackle_2.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_cackle_3.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_cackle_4.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_cackle_5.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_cry_1.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_cry_2.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_deathgasp_1.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_deathgasp_2.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_deathgasp_3.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_deathgasp_4.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_gasp_1.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_gasp_2.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_gasp_3.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_hiss_1.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_mutter_1.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_mutter_2.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_mutter_3.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_mutter_4.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_scream_1.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_scream_2.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_scream_3.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_scream_4.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_throat_singing_1.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_throat_singing_2.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_throat_singing_3.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_throat_singing_4.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_throat_singing_5.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_throat_singing_6.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_throat_singing_7.ogg
  Resources/Audio/_NF/Voice/Goblin/goblin_throat_singing_8.ogg
  Resources/Audio/_NF/Voice/Goblin/license.txt
  Resources/Prototypes/_NF/Entities/Mobs/Species/goblin.yml
  Resources/Prototypes/_NF/SoundCollections/deathgasp.yml
  Resources/Prototypes/_NF/SoundCollections/disease.yml
  Resources/Prototypes/_NF/SoundCollections/emotes.yml
  Resources/Prototypes/_NF/SoundCollections/gasp.yml
  Resources/Prototypes/_NF/SoundCollections/goblin.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, Audio, size/S

#3248 Generic Popup Interaction Items (Napkin Refactor)
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Nutrition/Components/FoodComponent.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/_NF/Explosion/Components/ReplaceOnTriggerComponent.cs
  Content.Server/_NF/Explosion/Components/TriggerOnBeingGibbedComponent.cs
  Content.Server/_NF/Explosion/Components/TriggerOnInteractionPopupUseComponent.cs
  Content.Server/_NF/Explosion/Components/TriggerOnProjectileHitComponent.cs
  Content.Server/_NF/Explosion/EntitySystems/TriggerSystem.BeingGibbed.cs
  Content.Server/_NF/Explosion/EntitySystems/TriggerSystem.Frontier.cs
  Content.Server/_NF/Power/Generator/RumbleOnMaterialInsertionComponent.cs
  Content.Server/_NF/Power/Generator/RumbleOnMaterialInsertionSystem.cs
  Content.Shared/_NF/Interaction/Components/InteractionPopupOnUseComponent.cs
  Content.Shared/_NF/Interaction/Events/InteractionPopupOnUseFailureEvent.cs
  Content.Shared/_NF/Interaction/Events/InteractionPopupOnUseSuccessEvent.cs
  Content.Shared/_NF/Interaction/Systems/InteractionPopupOnUseSystem.cs
  Resources/Locale/en-US/_NF/interaction/napkin.ftl
  Resources/Locale/en-US/_NF/nutrition/components/food-component.ftl
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/napkin.yml
Labels: S: Needs Review, YML, C#, FTL, S: Approved, size/M

#3250 More hair customization options
  Resources/Locale/en-US/_NF/accessories/human-hair.ftl
  Resources/Prototypes/_NF/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/goonstation-hair-chub.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/goonstation-hair-streak.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-bighawk.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-d.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-halfshaved-emo.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-halfshaved-trim.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-jensen.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-leftside-trim.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-leftside.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-mohawk-naomi.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-mohawk-shaved.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-rightside-trim.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-rightside.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-shavedbun.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-shavedpart.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-sideswept.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-slick.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-sweepshaved.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-thinningfront.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-thinningrear.png
  Resources/Textures/_NF/Mobs/Customization/human_hair.rsi/nebula-hair-undercut-trim.png
Labels: S: Needs Review, No C#, Sprites, YML, FTL, S: Untriaged, S: Approved, size/M

#3280 Localize captain string
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Shared/_NF/Shipyard/Components/SharedShipyardConsoleComponent.cs
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
Labels: YML, C#, S: Approved, size/S

#3282 Shuttle (Hotfix): Vitalis
  Resources/Prototypes/_NF/Shipyard/vitalis.yml
Labels: Map-Shuttle, No C#, YML, Focus: Mapping, S: Approved, size/XS

#3266 Remove the NT Bottleneck
  Resources/Maps/_NF/Shuttles/Sr/bottleneck.yml
  Resources/Prototypes/_NF/Shipyard/Sr/bottleneck.yml
Labels: S: Needs Review, Map-Shuttle, No C#, YML, Focus: Mapping, size/L

#3276 Add more frontier jobs eva
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/nfsddrobe.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/valetdrobe.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/yarrrdrobe.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuits-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits_departmental.yml
Labels: S: Needs Review, No C#, YML, size/M

#3232 Shuttle (Removal): Bison
  Resources/Maps/_NF/Shuttles/Scrap/bison.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_salvage_events.yml
  Resources/Prototypes/_NF/Shipyard/Scrap/bison.yml
Labels: Map-Shuttle, No C#, YML, S: Untriaged, Focus: Mapping, size/XL

#3288 Make bullets (including the emitter bolt) hit emitters
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/emitter.yml
Labels: No C#, YML, S: Approved, size/XS

#3287 Add power to Trade Outpost conference room
  Resources/Maps/_NF/POI/trade.yml
Labels: Map-POI, No C#, S: Approved, size/S

#3294 Fix mixer/pneumatic valve visibility (cherry-pick wizden#36428)
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
Labels: No C#, YML, S: Approved

#3293 Trim changelog, fix credit for upstream merge & vehicles
  Resources/Changelog/Frontier.yml
Labels: No C#, YML, S: Approved, size/L

#3271 Reopen job slots on cryo/ghost
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Client/_NF/CryoSleep/AcceptCryoWindow.cs
  Content.Client/_NF/CryoSleep/AcceptCryoWindow.xaml
  Content.Client/_NF/CryoSleep/AcceptCryoWindow.xaml.cs
  Content.Client/_NF/CryoSleep/CryoSleepEui.cs
  Content.Client/_NF/CryoSleep/CryosleepWakeupWindow.cs
  Content.Client/_NF/CryoSleep/CryosleepWakeupWindow.xaml
  Content.Client/_NF/CryoSleep/CryosleepWakeupWindow.xaml.cs
  Content.Client/_NF/Roles/JobTrackingSystem.cs
  Content.Server/Administration/Commands/AGhostCommand.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Mind/MindSystem.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Content.Server/_NF/CryoSleep/CryoSleepComponent.cs
  Content.Server/_NF/CryoSleep/CryoSleepSystem.Returning.cs
  Content.Server/_NF/CryoSleep/CryoSleepSystem.cs
  Content.Server/_NF/CryoSleep/CryosleepEvents.cs
  Content.Server/_NF/GameTicking/Rules/NFPirateRuleSystem.cs
  Content.Server/_NF/Players/JobPresentSystem.cs
  Content.Server/_NF/Roles/Components/NFPirateRoleComponent.cs
  Content.Server/_NF/Roles/Systems/JobTrackingSystem.cs
  Content.Shared/Ghost/GhostComponent.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Content.Shared/_NF/CryoSleep/Events/CryoSleepDoAfterEvent.cs
  Content.Shared/_NF/CryoSleep/Events/WakeupRequestMessage.cs
  Content.Shared/_NF/CryoSleep/SharedCryoSleepSystem.cs
  Content.Shared/_NF/Roles/Component/JobTrackingComponent.cs
  Content.Shared/_NF/Roles/SharedJobTrackingSystem.cs
  Resources/Locale/en-US/_NF/cryosleep/cryosleep-component.ftl
Labels: C#, UI, FTL, S: Untriaged, S: Approved, size/M

#3290 Latejoin QOL: Ship Advertisements
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/StationRecords/GeneralStationRecordConsoleBoundUserInterface.cs
  Content.Client/StationRecords/GeneralStationRecordConsoleWindow.xaml
  Content.Client/StationRecords/GeneralStationRecordConsoleWindow.xaml.cs
  Content.Client/_NF/LateJoin/Controls/CrewPickerControl.xaml
  Content.Client/_NF/LateJoin/Controls/CrewPickerControl.xaml.cs
  Content.Client/_NF/LateJoin/Controls/StationOrCrewLargeControl.xaml.cs
  Content.Client/_NF/LateJoin/Controls/StationPickerControl.xaml
  Content.Client/_NF/LateJoin/Controls/StationPickerControl.xaml.cs
  Content.Client/_NF/LateJoin/ListItems/CrewListItem.xaml.cs
  Content.Client/_NF/LateJoin/Windows/PickerWindow.xaml.cs
  Content.Client/_NF/StationRecords/JobRow.xaml
  Content.Client/_NF/StationRecords/JobRow.xaml.cs
  Content.Server/Station/Systems/StationJobsSystem.cs
  Content.Server/StationRecords/Systems/GeneralStationRecordConsoleSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/Station/Components/ExtraStationInformationComponent.cs
  Content.Server/_NF/Station/Components/ExtraVesselInformationComponent.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Content.Shared/StationRecords/GeneralRecordsUi.cs
  Content.Shared/_NF/StationRecords/GeneralStationRecordsFilter.cs
  Resources/Locale/en-US/_NF/lobby/lobby.ftl
  Resources/Locale/en-US/_NF/station-records/general-station-records.ftl
  Resources/Prototypes/_NF/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/barnacle.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/bocakillo.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/falcon.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/menace.yml
  Resources/Prototypes/_NF/Shipyard/BlackMarket/schooner.yml
  Resources/Prototypes/_NF/Shipyard/Syndicate/hunter.yml
  Resources/Prototypes/_NF/Shipyard/Syndicate/infiltrator.yml
Labels: S: Needs Review, Map-Shuttle, YML, C#, UI, FTL, S: Untriaged, size/M

#3286 Admin log dump tool
  Tools/_NF/dump_admin_logs.py
Labels: No C#, S: Approved, size/M

#3297 NT Duchess price fix
  Resources/Prototypes/_NF/Shipyard/Sr/duchess.yml
Labels: Map-Shuttle, No C#, YML, S: Approved, size/XS

#3296 Safe spawner for randomized shuttle clothing vendomats
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/shuttle_items.yml
Labels: S: Needs Review, Map-Shuttle, No C#, YML, S: Approved, size/M

#3299 ourple pipe
  Resources/Prototypes/Entities/Objects/Tools/spray_painter.yml
Labels: No C#, YML, S: Approved, size/XS

#3272 Added Mercenary and Pilot PDA to PTech
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/cart.yml
Labels: S: Needs Review, No C#, YML, S: Approved, size/XS

#2992 Add value to guns found on expedition.
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_mercenaries.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/document_cases_expedition.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/weaponryworks.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/blueprints/blueprints_expedition_loot.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/expedition_guns.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/hacked_mercenary_techfab.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/Deprecated/mercenary_techfab.yml
  Resources/Prototypes/_NF/Recipes/Lathes/weapons.yml
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster8_legit.png
  Resources/nf_migration.yml
Labels: No C#, Sprites, YML, S: Approved, size/M

#3295 Fix faction of salvage expedition dragon.
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Procedural/salvage_factions.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_carp.yml
  Resources/Prototypes/_NF/Procedural/salvage_factions.yml
  Resources/ServerInfo/Guidebook/Antagonist/MinorAntagonists.xml
  Resources/ServerInfo/_NF/Guidebook/MobsHostileExpedition/carps.xml
Labels: Docs, No C#, YML, S: Untriaged, size/S

#3300 LatheSystem: limit lathe request size
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/SharedLatheSystem.cs
Labels: C#, S: Untriaged, size/XS

#3289 Fix office chairs not saving, fix pulling riders
  Content.Shared/_Goobstation/Vehicles/SharedVehicleSystem.cs
  Resources/Prototypes/_Goobstation/Entities/Structures/Furniture/chairs.yml
Labels: S: Needs Review, YML, C#, S: Untriaged, size/XS

#3269 Material Magnet Boxes
  Resources/Prototypes/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/Entities/Structures/Storage/ore_box.yml
  Resources/Prototypes/_NF/Catalog/Bounties/pirate_bounties.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_botany.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/construction_box.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/magnetbox.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/plant_box.yml
  Resources/Textures/_NF/Structures/Storage/constructionbox.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/magnetbox.rsi/constructionbox-top.png
  Resources/Textures/_NF/Structures/Storage/magnetbox.rsi/constructionbox.png
  Resources/Textures/_NF/Structures/Storage/magnetbox.rsi/controller-on.png
  Resources/Textures/_NF/Structures/Storage/magnetbox.rsi/controller.png
  Resources/Textures/_NF/Structures/Storage/magnetbox.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/magnetbox.rsi/orebox-top.png
  Resources/Textures/_NF/Structures/Storage/magnetbox.rsi/orebox.png
  Resources/Textures/_NF/Structures/Storage/magnetbox.rsi/plantbox-top.png
  Resources/Textures/_NF/Structures/Storage/magnetbox.rsi/plantbox.png
  Resources/Textures/_NF/Structures/Storage/magnetbox.rsi/rubbishbox-top.png
  Resources/Textures/_NF/Structures/Storage/magnetbox.rsi/rubbishbox.png
  Resources/Textures/_NF/Structures/Storage/plantbox.rsi/meta.json
  Resources/nf_migration.yml
Labels: S: Needs Review, No C#, Sprites, YML, size/M

#3305 Fixed a bug with GetPriceConditional not exiting early when a PriceCalculationEvent ends early due to being handled
  Content.Server/Cargo/Systems/PricingSystem.cs
Labels: S: Needs Review, C#, S: Untriaged, size/S

#3307 Value correction for Ceres MK II
  Resources/Prototypes/_NF/Shipyard/ceres.yml
Labels: S: Needs Review, Map-Shuttle, No C#, YML, S: Untriaged

#3314 [Fix] Make chair-vehicles non-recyclable
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/vehicles.yml
Labels: No C#, YML, S: Untriaged, size/S

#3317 Rotate the Medical Dispatch mirror
  Resources/Maps/_NF/POI/medical.yml
Labels: S: Needs Review, Map-POI, No C#, S: Untriaged

#3021 Add hidden loot stashes to Expeditions and VGroids
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/spawners.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/stashes.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/stashes.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/stashes.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/drinks.yml
Labels: S: Needs Review, No C#, YML, size/M

#3319 MoverController: return the velocity limiting
  Content.Server/Physics/Controllers/MoverController.cs
Labels: C#, S: Untriaged, size/XS

#3322 Baroness/Vitalis: use interview slots
  Resources/Prototypes/_NF/Shipyard/baroness.yml
  Resources/Prototypes/_NF/Shipyard/vitalis.yml
Labels: S: Needs Review, Map-Shuttle, No C#, YML

#3316 Lock NFSD Weapon Racks, make Wallmount Weapon Racks Directional.
  Resources/Prototypes/_NF/Entities/Structures/Furniture/Armory/base_weapon_rack.yml
  Resources/Prototypes/_NF/Entities/Structures/Furniture/Armory/weapon_racks.yml
  Resources/Prototypes/_NF/Recipes/Construction/furniture_armory_construction.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/M

#3312 BwoinkSystem WebhookData Fixes & Changed Log Messages
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: C#, S: Approved, size/S

#3308 Add Smart-equip to wallet, open wallet
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Interaction/SmartEquipSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Resources/Locale/en-US/_NF/escape-menu/ui/options-menu.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: S: Needs Review, C#, UI, FTL, S: Approved, size/S

#3254 Solar flare events affect all radio communications.
  Content.Server/StationEvents/Components/SolarFlareRuleComponent.cs
  Content.Server/StationEvents/Events/SolarFlareRule.cs
  Resources/Prototypes/_NF/Events/events.yml
Labels: S: Needs Review, YML, C#, size/S

#3212 WJQ-308 Chinese Military Shovel (18 in 1)
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/tools.yml
  Resources/Textures/_NF/Objects/Tools/cm-shovel.rsi/icon.png
  Resources/Textures/_NF/Objects/Tools/cm-shovel.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Tools/cm-shovel.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Tools/cm-shovel.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, YML, size/M
