Repository new-frontiers-14/frontier-station-14, pull requests merged in 2025-06, with the labels that each got.

#3504 ChatStack (DeltaV #3332)
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Shared/_EE/CCVars/CCVars.EE.cs
  Resources/Locale/en-US/_EE/chat/chatstack.ftl
  Resources/Locale/en-US/_EE/escape-menu/ui/options-menu.ftl
Labels: S: Needs Review, C#, UI, FTL, S: Untriaged, size/M

#3488 fix hairballs being infinite (DeltaV #3705)
  Content.Shared/_DV/Abilities/ItemCougherSystem.cs
  Resources/Prototypes/_DV/Actions/types.yml
Labels: YML, C#, S: Untriaged, S: Approved, size/S

#3515 Fix Nightlight Shuttle Price
  Resources/Prototypes/_NF/Shipyard/nightlight.yml
Labels: S: Needs Review, Map-Shuttle, No C#, YML, S: Untriaged, size/XS

#3512 Remove "diagonal" conveyor sprites
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_ccw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_ccw_r.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_cw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_started_cw_r.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_stopped_ccw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/conveyor_stopped_cw.png
  Resources/Textures/_NF/Structures/conveyor.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, S: Untriaged, size/M

#3523 Bugfix: put unused parts back in the RPED when upgrading machine frames
  Content.Server/_NF/Construction/Components/PartExchangerSystem.cs
Labels: S: Needs Review, C#, S: Approved, size/XS

#3408 Fix yaml linter and misc errors (Wizden #37444)
  Content.Client/Entry/EntryPoint.cs
  Content.IntegrationTests/Tests/MagazineVisualsSpriteTest.cs
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Markers/pointing.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Specific/Kitchen/foodcarts.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/clockwork.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/Entities/Structures/Power/cables.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/timer.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Parallaxes/amber.yml
  Resources/Prototypes/Parallaxes/aspid.yml
  Resources/Prototypes/Parallaxes/bagel.yml
  Resources/Prototypes/Parallaxes/core.yml
  Resources/Prototypes/Parallaxes/default.yml
  Resources/Prototypes/Parallaxes/kettle.yml
  Resources/Prototypes/Parallaxes/origin.yml
  Resources/Prototypes/Parallaxes/plasma.yml
  Resources/Prototypes/Parallaxes/train.yml
  Resources/Prototypes/_DV/Entities/Objects/Fun/toy_guns.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Justice/trialtimer.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/vehicles.yml
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_blood_cult.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuits-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits_departmental.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_mercenaries.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_rogue_ai.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/umbrella.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol35.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle20.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/grille.yml
  Resources/Prototypes/_NF/Entities/Structures/Dungeon/windows.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/suit_storage_wall.yml
  Resources/Prototypes/_NF/Parallaxes/frontier.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/Pistol35/smg_mag_top_mounted.rsi/inhand-left-mag.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/Pistol35/smg_mag_top_mounted.rsi/inhand-left-stripe.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/Pistol35/smg_mag_top_mounted.rsi/inhand-right-mag.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/Pistol35/smg_mag_top_mounted.rsi/inhand-right-stripe.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Ammunition/Magazine/Pistol35/smg_mag_top_mounted.rsi/meta.json
Labels: Docs, S: Needs Review, Map-Dungeon, Sprites, YML, C#, UI, FTL, Audio, size/M

#3503 Little Guy Ops: Propeller hat and silly overalls, yippie! (DeltaV #3223)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_DV/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_DV/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/_DV/Clothing/Head/Hats/propellerhat.rsi/equipped-HELMET.png
  Resources/Textures/_DV/Clothing/Head/Hats/propellerhat.rsi/icon.png
  Resources/Textures/_DV/Clothing/Head/Hats/propellerhat.rsi/meta.json
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/littleguy_overalls.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/littleguy_overalls.rsi/icon.png
  Resources/Textures/_DV/Clothing/Uniforms/Jumpsuit/littleguy_overalls.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, YML, S: Approved, size/M

#3531 Added missing QM items to CargoDrobe Vendomat
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
Labels: No C#, YML, S: Approved

#3526 not needing t2 sec for RD hardsuit
  Resources/Prototypes/_NF/Research/experimental.yml
Labels: No C#, YML, S: Approved, size/XS

#3534 Small change to biodegradable plastic crate
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/_NF/Structures/Storage/Crates/biodegradable.rsi/base.png
  Resources/Textures/_NF/Structures/Storage/Crates/biodegradable.rsi/closed.png
  Resources/Textures/_NF/Structures/Storage/Crates/biodegradable.rsi/icon.png
  Resources/Textures/_NF/Structures/Storage/Crates/biodegradable.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/Crates/biodegradable.rsi/open.png
  Resources/Textures/_NF/Structures/Storage/Crates/biodegradable.rsi/sparking.png
  Resources/Textures/_NF/Structures/Storage/Crates/biodegradable.rsi/welded.png
Labels: No C#, Sprites, YML, S: Approved, size/S

#3538 Better Magnet Count
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
Labels: C#, S: Untriaged, size/S

#3424 Compile shipyard statistics for recordkeeping
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/ShuttleRecords/ShuttleRecordsSystem.cs
  Content.Shared/_NF/ShuttleRecords/ShuttleRecord.cs
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
Labels: S: Needs Review, C#, FTL, size/M

#3528 .editorconfig: Ignore underscore-prefixed namespaces
  .editorconfig
Labels: No C#, S: Approved, size/S

#3524 Anomaly Generator runs off a new material, anomalies beget anomalies
  Content.Client/Anomaly/AnomalySystem.cs
  Content.Client/Anomaly/Ui/AnomalyScannerMenu.xaml
  Content.Server/Anomaly/AnomalySystem.Generator.cs
  Content.Server/Anomaly/AnomalySystem.Scanner.cs
  Content.Server/Anomaly/AnomalySystem.cs
  Content.Server/Anomaly/Components/AnomalyGeneratorComponent.cs
  Content.Shared/Anomaly/Components/AnomalyComponent.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Resources/Locale/en-US/_NF/anomaly/anomaly.ftl
  Resources/Locale/en-US/_NF/ghost/spooky-speaker.ftl
  Resources/Locale/en-US/_NF/materials/materials.ftl
  Resources/Locale/en-US/_NF/stacks/stacks.ftl
  Resources/Locale/en-US/anomaly/anomaly.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Mobs/NPCs/behonker.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/XenoArch/effects.yml
  Resources/Prototypes/_NF/Datasets/spooky_speakers.yml
  Resources/Prototypes/_NF/Entities/Materials/materials.yml
  Resources/Prototypes/_NF/Stacks/Materials/crystals.yml
  Resources/Prototypes/_NF/XenoArch/effects.yml
  Resources/Textures/_NF/Objects/Materials/ore.rsi/anomalite-unshaded.png
  Resources/Textures/_NF/Objects/Materials/ore.rsi/anomalite.png
  Resources/Textures/_NF/Objects/Materials/ore.rsi/meta.json
Labels: Sprites, YML, C#, UI, FTL, S: Approved, size/M

#3519 Shuttle (Update): Phoenix
  Resources/Maps/_NF/Shuttles/phoenix.yml
Labels: Map-Shuttle, No C#, Focus: Mapping, S: Approved, size/M

#3517 Shuttle (Update): Spectre
  Resources/Maps/_NF/Shuttles/spectre.yml
  Resources/Prototypes/_NF/Shipyard/spectre.yml
Labels: Map-Shuttle, No C#, YML, Focus: Mapping, S: Approved, size/M

#3516 Shuttle (Update): Lyrae
  Resources/Maps/_NF/Shuttles/lyrae.yml
Labels: Map-Shuttle, No C#, Focus: Mapping, S: Approved, size/M

#3514 Shuttle (Update): Point
  Resources/Maps/_NF/Shuttles/Scrap/point.yml
  Resources/Prototypes/_NF/Shipyard/Scrap/point.yml
Labels: Map-Shuttle, No C#, YML, Focus: Mapping, S: Approved, size/M

#3501 Bird (Update) bird butchery yields one whole bird.
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/biogen.yml
  Resources/Prototypes/_NF/Recipes/Lathes/biogen.yml
  Resources/Textures/_NF/Objects/Consumable/Food/meat.rsi/bird-whole-cooked.png
  Resources/Textures/_NF/Objects/Consumable/Food/meat.rsi/bird-whole.png
  Resources/Textures/_NF/Objects/Consumable/Food/meat.rsi/meta.json
Labels: No C#, Sprites, YML, S: Approved, size/M

#3549 Handheld artifact container lock fix
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
Labels: No C#, YML, size/XS

#3554 Musket, .60 anti-materiel rounds: no contraband value
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: S: Needs Review, No C#, YML, S: Approved, size/XS, Bug Of The Year 2025

#3551 Remove trailing "!" in chatstack counter
  Resources/Locale/en-US/_EE/chat/chatstack.ftl
Labels: No C#, FTL, S: Untriaged, size/XS

#3530 Disable artifact triggers and activations on protected grids
  Content.Shared/Xenoarchaeology/Artifact/SharedXenoArtifactSystem.Unlock.cs
  Content.Shared/Xenoarchaeology/Artifact/SharedXenoArtifactSystem.XAE.cs
  Content.Shared/Xenoarchaeology/Artifact/SharedXenoArtifactSystem.XAT.cs
Labels: C#, S: Approved, size/S

#3561 Fix issue with SSD preventing cryo doafter.
  Content.Server/_NF/CryoSleep/CryoSleepSystem.cs
Labels: S: Needs Review, C#, size/XS

#3562 Fix duped name identifiers on spawn.
  Content.Shared/Station/SharedStationSpawningSystem.cs
Labels: C#, S: Untriaged, size/XS

#3563 Change vehicles' physics body type to KinematicController
  Resources/Prototypes/_Goobstation/Entities/Objects/Vehicles/vehicles.yml
Labels: No C#, YML, S: Untriaged, size/XS

#3540 Cherry-pick text highlighting (Wizden#31442)
  Content.Client/Options/UI/OptionColorSlider.xaml
  Content.Client/Options/UI/OptionColorSlider.xaml.cs
  Content.Client/Options/UI/OptionsTabControlRow.xaml.cs
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.Highlighting.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Shared/CCVar/CCVars.Chat.cs
  Resources/Locale/en-US/_NF/chat/highlights.ftl
  Resources/Locale/en-US/chat/highlights.ftl
  Resources/Locale/en-US/chat/ui/chat-box.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: C#, UI, FTL, S: Approved, size/M

#3525 June Bugfix Bonanza
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Server/Traits/Assorted/BuckleOnMapInitSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/_NF/Atmos/Systems/GasDepositSystem.cs
  Content.Server/_NF/Bank/ATMSystem.cs
  Content.Server/_NF/Bank/StationATMSystem.cs
  Content.Server/_NF/Cargo/Systems/NFCargoSystem.Pallet.cs
  Content.Server/_NF/Cargo/Systems/NFCargoSystem.PirateBounty.cs
  Content.Server/_NF/Cargo/Systems/NFCargoSystem.cs
  Content.Server/_NF/Contraband/Systems/ContrabandTurnInSystem.cs
  Content.Server/_NF/Medical/MedicalBountySystem.cs
  Content.Shared/_Goobstation/Vehicles/SharedVehicleSystem.cs
  Content.Shared/_NF/Bank/Components/BankATMComponent.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: YML, C#, S: Approved, size/M

#3568 Shuttle (Hotfix): Phoenix
  Resources/Maps/_NF/Shuttles/phoenix.yml
Labels: Map-Shuttle, No C#, S: Untriaged, Focus: Mapping, size/S

#3569 Shuttle (Hotfix): Scrap Investigator
  Resources/Maps/_NF/Shuttles/Scrap/scrap-investigator.yml
Labels: S: Needs Review, Map-Shuttle, No C#, S: Untriaged, Focus: Mapping, size/XS

#3489 Chat bubble for writing on paper (DeltaV)
  Content.Client/Chat/TypingIndicator/TypingIndicatorSystem.cs
  Content.Client/Chat/TypingIndicator/TypingIndicatorVisualizerSystem.cs
  Content.Client/Paper/UI/PaperBoundUserInterface.cs
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Client/_DV/Chat/TypingIndicator/TypingIndicatorSystem.AlternateTypingIndicator.cs
  Content.Client/_DV/Paper/UI/PaperBoundUserInterface.cs
  Content.Shared/Chat/TypingIndicator/SharedTypingIndicatorSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorComponent.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorEvents.cs
  Resources/Prototypes/_DV/typing_indicator.yml
  Resources/Textures/_DV/Effects/speech.rsi/meta.json
  Resources/Textures/_DV/Effects/speech.rsi/paper0.png
Labels: Sprites, YML, C#, UI, S: Approved, size/M

#3583 Loadout: Hide DOC medical backpack, medical encryption key
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/bags.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/encryption_keys.yml
Labels: S: Needs Review, No C#, YML

#3586 Fix cable terminals breaking HV cables (cherry-pick wizden#38377)
  Content.Server/Power/Nodes/CableNode.cs
Labels: C#

#3587 Fix a bunch of POI becomesstation components
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/bahama.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Maps/_NF/POI/mchobo.yml
  Resources/Maps/_NF/POI/medical.yml
  Resources/Maps/_NF/POI/northpole.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
Labels: S: Needs Review, Map-POI, No C#, YML, S: Untriaged, size/M

#3469 Pirate's Pouches in the Uplink
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_NF/Catalog/pirate_uplink_catalog.yml
  Resources/Textures/_NF/Objects/Storage/Pouches/pouch.rsi/meta.json
  Resources/Textures/_NF/Objects/Storage/Pouches/pouch.rsi/pirate-captain-icon.png
  Resources/Textures/_NF/Objects/Storage/Pouches/pouch.rsi/pirate-icon.png
Labels: No C#, Sprites, YML, FTL, S: Approved, size/M

#3410 Add material silo flatpack, add magnet, increase storage whitelist
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/flatpackvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/flatpacks.yml
Labels: No C#, YML, S: Approved, size/S

#3591 A tabletop computer for tabletop computing on tabletops.
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/frame_tabletop.yml
Labels: No C#, YML, S: Approved, size/XS

#3475 Add examine text for wallmount/tabletop-capable boards
  Content.Server/Construction/ConstructionSystem.cs
  Content.Server/_NF/Construction/ConstructionSystem.ComputerBoards.cs
  Content.Server/_NF/Construction/ConstructionSystem.Machine.Upgrades.cs
  Content.Shared/_NF/Construction/Components/ComputerTabletopBoardComponent.cs
  Content.Shared/_NF/Construction/Components/ComputerWallmountBoardComponent.cs
  Resources/Locale/en-US/_NF/construction/construction-system.ftl
Labels: S: Needs Review, C#, FTL, size/S

#3585 Shuttle console deconstruction, tabletop/wallmount console consistency.
  Content.Shared/Radio/Components/EncryptionKeyHolderComponent.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_tabletop.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_wallmount.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/frame_tabletop.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/frame_wallmount.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/machines/computer_tabletop.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/machines/computer_wallmount.yml
  Resources/Textures/_NF/Structures/Machines/computer_wallmount.rsi/generic_panel_open.png
  Resources/Textures/_NF/Structures/Machines/computer_wallmount.rsi/meta.json
Labels: No C#, Sprites, YML, C#, S: Approved, size/M

#3602 EMU price adjustment
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/mechs.yml
Labels: S: Needs Review, S: Approved

#3607 Remove MPL license and update Emberfall license to MIT (As per the files we have right now)
  Content.Client/_Emberfall/Weapons/Ranged/Overlays/Systems/TracerSystem.cs
  Content.Client/_Emberfall/Weapons/Ranged/Overlays/Tracer/TracerOverlay.cs
  Content.Shared/_Emberfall/Weapons/Ranged/TracerComponent.cs
  LICENSE-MPL.txt
  README.md
Labels: Docs, C#, S: Approved, size/M

#3609 Replace criminal records computers with camera monitors on dengeon maps
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
Labels: Map-Dungeon, No C#

#3608 Sheleg: Age parameters change
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Resources/Prototypes/_NF/Species/sheleg.yml
Labels: S: Needs Review, No C#, YML, UI, size/XS

#3614 Fix missing locale entry for the Flags construction category (DeltaV #3797)
  Resources/Locale/en-US/_DV/construction/construction-categories.ftl
Labels: No C#, FTL, S: Approved

#3617 Fix pirate pseudonyms, headset loadouts
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Resources/Prototypes/_NF/Loadouts/Jobs/Pirates/ears.yml
Labels: S: Needs Review, YML, C#, S: Untriaged

#3619 Fix water blasters and spray nozzle/tank
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/watergun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/projectiles.yml
Labels: No C#, YML, size/S

#3621 Filled softsuit salvage locker.
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
Labels: No C#, YML, S: Approved, size/XS

#3599 Oil (update) Decorning.
  Resources/Locale/en-US/_NF/reagents/labels.ftl
  Resources/Locale/en-US/_NF/reagents/meta/consumable/food/ingredients.ftl
  Resources/Locale/en-US/advertisements/vending/condiments.ftl
  Resources/Locale/en-US/reagents/meta/consumable/food/condiments.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/condiments.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Consumable/Drinks/drinks_oil.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/deep_fryer.yml
  Resources/Prototypes/Recipes/Reactions/food.yml
  Resources/Prototypes/_NF/Catalog/ReagentDispensers/condiments.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/condiments_bottles.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/barrel.yml
  Resources/Prototypes/_NF/Reagents/Consumables/Food/ingredients.yml
  Resources/Prototypes/_NF/Recipes/Reactions/pyrotechnic.yml
Labels: No C#, YML, FTL, S: Approved, size/S

#3634 remove value from killer tomato and killer tomato related products
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged

#3630 Evil decals
  Resources/Prototypes/_NF/Decals/markings.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged

#3645 Hot fixes Rogue's Gun being broken
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/XS

#3637 Fix jetpack/magboot interactions
  Content.Shared/Movement/Components/JetpackComponent.cs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
Labels: S: Needs Review, C#, S: Approved, size/S

#3647 Space snakes hotfix
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_carp.yml
Labels: S: Needs Review, No C#, YML, size/XS

#3651 cdn seeding
  Tools/publish_multi_request.py
Labels: No C#, S: Untriaged, size/XS

#3652 CDN-changes
  Tools/publish_multi_request.py
Labels: No C#, size/XS

#3653 CDN restore
  Tools/publish_multi_request.py
Labels: No C#, S: Untriaged, size/XS

#3195 New Plush and Burgs!
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/cuddlycritter.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/buncotton.png
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/cheesecotton.png
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/plaincotton.png
  Resources/Textures/_NF/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/toys.rsi/plushie_dave.png
Labels: S: Awaiting Changes, No C#, Sprites, YML, size/M

#3354 Increase base shipyard sell rate to 95%
  Content.Shared/_NF/CCVar/NFCCVars.cs
Labels: S: Needs Review, C#, S: Need Discussion, S: Untriaged, size/XS

#3462 Gun Rebalance follow up
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/base_battery_pistol.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/base_battery_rifle.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/base_battery_rifle_assault.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/base_battery_rifle_sniper.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Battery/base_battery_smg.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Crossbow/crossbow.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/LMGs/base_lmg.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Launchers/base_launcher.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Pistols/base_machine_pistol.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Pistols/base_pistol.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Revolvers/base_revolver.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/base_rifle.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/base_rifle_assault.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/base_rifle_sniper.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/SMGs/base_smg.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Shotguns/base_shotgun.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Tools/pka.yml
  Resources/ServerInfo/_NF/Guidebook/Weapons/ArchetypesRangedWeapons.xml
Labels: Docs, S: Needs Review, No C#, YML, size/M

#3615 Singuloose audio track into the Jukebox list
  Resources/Prototypes/_NF/Catalog/Jukebox/Standard.yml
Labels: No C#, YML, S: Untriaged, size/XS

#3626 Shuttle (update) Construct - Moved to scrapyard.
  Resources/Maps/_NF/Shuttles/Scrap/construct.yml
  Resources/Prototypes/_NF/Shipyard/Scrap/construct.yml
Labels: Map-Shuttle, No C#, YML, S: Approved, size/XS

#3613 Low Tier Shields and Laser Armor
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/bountyvend.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/_NF/Entities/Objects/Shields/shields.yml
  Resources/Textures/_NF/Clothing/OuterClothing/Armor/basic_reflective_vest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Armor/basic_reflective_vest.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Armor/basic_reflective_vest.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Armor/basic_reflective_vest.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Armor/basic_reflective_vest.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Melee/shields.rsi/bullet-icon.png
  Resources/Textures/_NF/Objects/Weapons/Melee/shields.rsi/bullet-inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/shields.rsi/bullet-inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Melee/shields.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Melee/shields.rsi/reflective-icon.png
  Resources/Textures/_NF/Objects/Weapons/Melee/shields.rsi/reflective-inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/shields.rsi/reflective-inhand-right.png
Labels: S: Needs Review, No C#, Sprites, YML, size/M

#3631 Add a parcel dropoff box for IC mail deliveries
  Content.Client/_DV/SmartFridge/SmartFridgeBoundUserInterface.cs
  Content.Shared/_DV/SmartFridge/SmartFridgeComponent.cs
  Content.Shared/_DV/SmartFridge/SmartFridgeSystem.cs
  Resources/Audio/_NF/Effects/attributions.yml
  Resources/Audio/_NF/Effects/mail-slot.ogg
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/trademall.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/parcel_dropoff.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/_NF/Structures/Machines/parcel_dropoff.rsi/base.png
  Resources/Textures/_NF/Structures/Machines/parcel_dropoff.rsi/broken.png
  Resources/Textures/_NF/Structures/Machines/parcel_dropoff.rsi/fill-unlit-0.png
  Resources/Textures/_NF/Structures/Machines/parcel_dropoff.rsi/fill-unlit-1.png
  Resources/Textures/_NF/Structures/Machines/parcel_dropoff.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/parcel_dropoff.rsi/panel.png
Labels: S: Needs Review, Map-POI, Sprites, YML, C#, Map-Outpost, Audio, size/M

#3654 Licensing clarifications and in-game display
  COPYRIGHT-AGPLv3.txt
  LEGAL.md
  LICENSE-MIT.txt
  MARKERS.md
  README.md
Labels: Docs, No C#, size/M

#3640 Revert "remove value from killer tomato and killer tomato related products"
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged

#3650 Shuttle Console: Shuttle, station, custom map targets
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
  Content.Client/Shuttles/UI/NavScreen.xaml
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/_NF/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/_NF/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/_NF/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/Shuttles/Components/ShuttleConsoleComponent.cs
  Content.Server/Shuttles/Systems/RadarConsoleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/_NF/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/Shuttles/BUIStates/NavInterfaceState.cs
  Content.Shared/Shuttles/Components/RadarConsoleComponent.cs
  Content.Shared/_NF/Shuttles/Events/SetTrackedCoordinatesRequest.cs
  Resources/Locale/en-US/_NF/shuttles/console.ftl
Labels: S: Needs Review, C#, UI, FTL, size/M

#3660 Tech Tree fixups 1
  Content.Client/Research/UI/MiniTechnologyCardControl.xaml
  Content.Client/Research/UI/MiniTechnologyCardControl.xaml.cs
  Content.Client/_Goobstation/Research/UI/FancyResearchConsoleItem.xaml.cs
  Resources/Locale/en-US/_NF/research/technologies.ftl
  Resources/Prototypes/_NF/Research/techtree.yml
Labels: S: Needs Review, YML, C#, UI, FTL, size/S
