Repository new-frontiers-14/frontier-station-14, pull requests merged in 2025-08, with the labels that each got.

#3785 Crushers now only leech on living targets
  Content.Shared/Weapons/Marker/SharedDamageMarkerSystem.cs
Labels: C#, S: Untriaged, size/XS

#3784 Extra Cargo Options fix
  Resources/Prototypes/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Catalog/Cargo/salvage_rewards.yml
Labels: No C#, YML, S: Untriaged, size/M

#3787 STC voucher icon fix
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/ship_vouchers.yml
  Resources/Textures/_NF/Objects/Misc/shipyard_voucher.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/shipyard_voucher.rsi/voucherstationtrafficcontroller.png
Labels: No C#, Sprites, YML

#3788 Allow discounts on tech scrap in the scrap processor
  Resources/Prototypes/_NF/Recipes/Lathes/materials.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/XS

#3750 Victorian Coat (EE #1526)
  Resources/Prototypes/_EE/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/yarrrdrobe.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pirates/outer.yml
  Resources/Prototypes/_NF/Loadouts/nfpirates_loadout_groups.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_NF/Recipes/Lathes/clothing.yml
  Resources/Textures/_EE/Clothing/OuterClothing/Coats/victorian_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_EE/Clothing/OuterClothing/Coats/victorian_coat.rsi/icon.png
  Resources/Textures/_EE/Clothing/OuterClothing/Coats/victorian_coat.rsi/meta.json
  Resources/Textures/_EE/Clothing/OuterClothing/Coats/victorian_coat_red.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_EE/Clothing/OuterClothing/Coats/victorian_coat_red.rsi/icon.png
  Resources/Textures/_EE/Clothing/OuterClothing/Coats/victorian_coat_red.rsi/meta.json
Labels: No C#, Sprites, YML, S: Approved, size/S

#3755 Electric range now includes the recipe list too
  Resources/Prototypes/_NF/Entities/Structures/Machines/microwave_recipe_assemblers.yml
Labels: No C#, YML, S: Approved, size/XS

#3758 guidebook is clown
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Surveyor.xml
Labels: Docs, No C#, S: Approved, size/S

#3754 Cryopods let you health analyze on click/hover-E again
  Resources/Prototypes/Entities/Structures/Machines/Medical/cryo_pod.yml
Labels: No C#, YML, size/XS

#3792 Update (noodles)
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/ingredients.yml
Labels: No C#, YML, S: Untriaged, size/XS

#2925 Voice lines third attempt
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/StationEvents/Components/PowerGridCheckRuleComponent.cs
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy0_VA_script.txt
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_aliensnf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_attentionnf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_ion_stormnf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_meteorsnf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_outbreak7nf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_power_offnf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_power_onnf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_radiationnf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_shift_end.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_shift_extend.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_shift_near.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy1_welcomenf.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_asteroid_arrival.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_asteroid_leave.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_cache_arrival.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_cache_leave.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_normal_crate.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_ship_arrival.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_ship_leave.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_syndie_crate.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_vault_arrival.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_bluespace_vault_leave.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_breaker_flip.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_gas_leak_end.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_gas_leak_start.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_solar_flare_end.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_solar_flare_start.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_vent_clog.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy2_vent_critters.ogg
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy_attributions_V2.yml
  Resources/Audio/_NF/Announcements/PocketSizedAndy/andy_unused_soundfiles.txt
  Resources/Audio/_NF/Announcements/RoundEnd/snake_frontierfm.ogg
  Resources/Audio/_NF/Announcements/VA_script.txt
  Resources/Locale/en-US/_NF/round-end/round-end-system.ftl
  Resources/Locale/en-US/_NF/shuttles/emergency.ftl
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/SoundCollections/announcements.yml
  Resources/Prototypes/_NF/Events/events.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_dungeons_events.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_grids_events.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_salvage_events.yml
  Resources/Prototypes/_NF/Events/nf_events.yml
  Resources/Prototypes/round_announcements.yml
Labels: S: Needs Review, YML, C#, FTL, Audio, size/M

#3668 Replaces Stimulant Auto-Injector to use Ephedrine instead of Meth
  Resources/Prototypes/_NF/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/_NF/Recipes/Cooking/medical_recipes.yml
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/ephedrinepen.png
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/ephedrinepen_empty.png
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Medical/medipen.rsi/stimulantpen.png
Labels: S: Needs Review, No C#, Sprites, YML, size/S

#3689 Security Guard band-aid for NFSD loophole
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/deputy.yml
Labels: No C#, YML, size/XS

#3814 Nook/Skipper Arbitrage fix.
  Resources/Prototypes/_NF/Shipyard/nook.yml
  Resources/Prototypes/_NF/Shipyard/skipper.yml
Labels: Map-Shuttle, No C#, YML, S: Untriaged, size/XS

#3807 Don't promote latejoin players to pirate
  Resources/Prototypes/_NF/GameRules/roundstart.yml
Labels: No C#, YML, S: Untriaged, size/XS

#3793 Remove mime and bible user implants replace with generic system
  Content.Server/_NF/Implants/NFImplantSystem.cs
  Content.Shared/_DV/Implants/AddComponentsImplant/AddComponentsImplantComponent.cs
  Content.Shared/_DV/Implants/AddComponentsImplant/AddComponentsImplantSystem.cs
  Content.Shared/_NF/Implants/BibleUserImplantComponent.cs
  Content.Shared/_NF/Implants/MimePowersImplantComponent.cs
  Resources/Prototypes/_NF/Entities/Objects/Misc/subdermal_implants.yml
Labels: YML, C#, S: Untriaged

#3722 Shuttle (Update) Falcon
  Resources/Maps/_NF/Shuttles/BlackMarket/falcon.yml
Labels: S: Needs Review, Map-Shuttle, No C#, Focus: Mapping, size/L

#3721 Shuttle (Update) Barnacle
  Resources/Maps/_NF/Shuttles/BlackMarket/barnacle.yml
Labels: S: Needs Review, Map-Shuttle, No C#, Focus: Mapping, size/L

#3723 Shuttle (Update) Schooner
  Resources/Maps/_NF/Shuttles/BlackMarket/schooner.yml
Labels: S: Needs Review, Map-Shuttle, No C#, S: Untriaged, Focus: Mapping, size/L

#3766 Bluespace air tank
  Resources/Locale/en-US/_NF/research/technologies.ftl
  Resources/Prototypes/_NF/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/blueprints.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/salvage.yml
  Resources/Prototypes/_NF/Recipes/Lathes/devices.yml
  Resources/Prototypes/_NF/Research/techtree.yml
  Resources/Textures/_NF/Objects/Tanks/bluespace_air_tank.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Tanks/bluespace_air_tank.rsi/equipped-SUITSTORAGE-cat.png
  Resources/Textures/_NF/Objects/Tanks/bluespace_air_tank.rsi/equipped-SUITSTORAGE-fox.png
  Resources/Textures/_NF/Objects/Tanks/bluespace_air_tank.rsi/equipped-SUITSTORAGE-hamster.png
  Resources/Textures/_NF/Objects/Tanks/bluespace_air_tank.rsi/equipped-SUITSTORAGE-kangaroo.png
  Resources/Textures/_NF/Objects/Tanks/bluespace_air_tank.rsi/equipped-SUITSTORAGE-pig.png
  Resources/Textures/_NF/Objects/Tanks/bluespace_air_tank.rsi/equipped-SUITSTORAGE-possum.png
  Resources/Textures/_NF/Objects/Tanks/bluespace_air_tank.rsi/equipped-SUITSTORAGE-puppy.png
  Resources/Textures/_NF/Objects/Tanks/bluespace_air_tank.rsi/equipped-SUITSTORAGE-sloth.png
  Resources/Textures/_NF/Objects/Tanks/bluespace_air_tank.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Tanks/bluespace_air_tank.rsi/icon.png
  Resources/Textures/_NF/Objects/Tanks/bluespace_air_tank.rsi/meta.json
Labels: No C#, Sprites, YML, FTL, S: Untriaged, size/M

#3759 Shuttle (Update) Apothecary/Spirit tank wrenchin'
  Resources/Maps/_NF/Shuttles/apothecary.yml
  Resources/Maps/_NF/Shuttles/spirit.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Apothecary.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/apothecary.png
Labels: Docs, S: Needs Review, Map-Shuttle, No C#, Sprites, YML, size/L

#3753 NFDev shipyard console array tweak
  Resources/Maps/_NF/Test/dev_map.yml
Labels: S: Needs Review, Map-Admin, No C#, YML, Focus: Mapping, size/M

#3778 Add stencil decals for use in the spraypainter
  Resources/Prototypes/_NF/Decals/lettering.yml
  Resources/Textures/_NF/Decals/stencil.rsi/meta.json
  Resources/Textures/_NF/Decals/stencil.rsi/stencil0.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil1.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil2.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil3.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil4.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil5.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil6.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil7.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil8.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil9.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilA.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilB.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilC.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilD.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilE.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilF.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilG.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilH.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilI.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilJ.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilK.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilL.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilM.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilN.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilO.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilP.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilQ.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilR.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilS.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilT.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilU.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilV.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilW.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilX.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilY.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencilZ.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil_Ampersand.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil_Asterix.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil_Dash.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil_Equals.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil_Exclaim.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil_Hash.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil_Multiocular.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil_Plus.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil_Question.png
  Resources/Textures/_NF/Decals/stencil.rsi/stencil_Speso.png
Labels: S: Needs Review, No C#, Sprites, YML, size/M

#3779 Shantyman PDA
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pirates/pda.yml
  Resources/Prototypes/_NF/Loadouts/nfpirates_loadout_groups.yml
  Resources/Textures/_NF/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/_NF/Objects/Devices/pda.rsi/pda-shantyman.png
Labels: No C#, Sprites, YML, size/S

#3808 Pirate Jetpack
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/yarrrdrobe.yml
  Resources/Prototypes/_NF/Catalog/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/jetpacks.yml
  Resources/Textures/_NF/Objects/Tanks/Jetpacks/pirate.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Tanks/Jetpacks/pirate.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Tanks/Jetpacks/pirate.rsi/icon-on.png
  Resources/Textures/_NF/Objects/Tanks/Jetpacks/pirate.rsi/icon.png
  Resources/Textures/_NF/Objects/Tanks/Jetpacks/pirate.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Tanks/Jetpacks/pirate.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Tanks/Jetpacks/pirate.rsi/meta.json
  Resources/Textures/_NF/Objects/Tanks/Jetpacks/pirate.rsi/on-equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Tanks/Jetpacks/pirate.rsi/on-equipped-SUITSTORAGE.png
Labels: No C#, Sprites, YML, FTL, S: Untriaged, size/M

#3803 SSS Shuttles Author Update
  Resources/Prototypes/_NF/Shipyard/camper.yml
  Resources/Prototypes/_NF/Shipyard/izakaya.yml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Map-Shuttle, No C#, Sprites, YML, S: Untriaged, size/S

#3782 Shuttle (Update) Retort
  Resources/Maps/_NF/Shuttles/retort.yml
  Resources/Prototypes/_NF/Shipyard/retort.yml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/retort.png
Labels: S: Needs Review, Map-Shuttle, No C#, Sprites, YML, S: Untriaged, size/XL

#3743 Helium gas mining
  Content.Client/_NF/Atmos/Consoles/AtmosAlarmGaslockEntryContainer.xaml.cs
  Content.Client/_NF/Atmos/UI/GasSaleMenu.cs
  Content.Server/Atmos/Portable/PortableScrubberComponent.cs
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Locale/en-US/_NF/atmos/gases.ftl
  Resources/Locale/en-US/_NF/gases/gases.ftl
  Resources/Locale/en-US/_NF/reagents/meta/gases.ftl
  Resources/Locale/en-US/_NF/spray-painter/spray-painter.ftl
  Resources/Prototypes/Atmospherics/thresholds.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/vox.yml
  Resources/Prototypes/Paintables/canister_groups.yml
  Resources/Prototypes/_NF/Atmos/deposits.yml
  Resources/Prototypes/_NF/Atmospherics/gases.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Atmospherics/deposits.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/_NF/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/_NF/Reagents/gases.yml
  Resources/ServerInfo/Guidebook/Engineering/Gasses.xml
  Resources/Textures/_NF/Structures/Storage/canister.rsi/helium-1.png
  Resources/Textures/_NF/Structures/Storage/canister.rsi/helium.png
  Resources/Textures/_NF/Structures/Storage/canister.rsi/meta.json
Labels: Docs, Sprites, YML, C#, UI, FTL, S: Approved, size/M

#3781 Fix plastitanium diagonal wall color
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#, YML, size/XS

#3810 (Tweak) Change biogen times to respect the time of players
  Resources/Prototypes/Recipes/Lathes/rehydrateable.yml
  Resources/Prototypes/_NF/Recipes/Lathes/biogen.yml
Labels: No C#, YML, S: Untriaged, size/S

#3822 Stop pirates from giving away contraband on the black market
  Resources/Prototypes/_NF/Entities/Objects/base_contraband.yml
Labels: No C#, YML, S: Untriaged

#3819 Bluespace gas tank fixed
  Resources/Prototypes/Recipes/Lathes/Packs/shared.yml
  Resources/Prototypes/_NF/Research/techtree.yml
  Resources/Textures/_NF/Objects/Tanks/bluespace_air_tank.rsi/icon.png
  Resources/Textures/_NF/Objects/Tanks/bluespace_air_tank.rsi/meta.json
Labels: No C#, Sprites, YML

#3813 Add the Contractor PDA in loadouts
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/pda.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: No C#, YML, S: Untriaged, size/S

#3832 Changed the animation delay of the bluespace air tank to mach original sprite animation
  Resources/Textures/_NF/Objects/Tanks/bluespace_air_tank.rsi/meta.json
Labels: No C#, Sprites, S: Untriaged, size/XS

#3836 Fixed the sprites of bones being cotton sprite in the cargo market terminal
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
Labels: No C#, YML

#3800 FSC Suit V1
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/closets.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/departmental_eva.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuits-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers_department_eva.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/_NF/Shipyard/Sr/express.yml
  Resources/Textures/_NF/Clothing/Head/Helmets/fsc_eva_helmet.rsi/HELMET-light-glow-vox.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsc_eva_helmet.rsi/HELMET-light-glow.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsc_eva_helmet.rsi/icon-flash.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsc_eva_helmet.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsc_eva_helmet.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Helmets/fsc_eva_helmet.rsi/off-equipped-HELMET-felinid.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsc_eva_helmet.rsi/off-equipped-HELMET-goblin.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsc_eva_helmet.rsi/off-equipped-HELMET-reptilian.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsc_eva_helmet.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsc_eva_helmet.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsc_eva_helmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsc_eva_helmet.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsc_eva_helmet.rsi/on-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/fsc_voidsuit.rsi/equipped-OUTERCLOTHING-harpy.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/fsc_voidsuit.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/fsc_voidsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/fsc_voidsuit.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/fsc_voidsuit.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/fsc_voidsuit.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/fsc_voidsuit.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/closet.rsi/fsc.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/fsc_door.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/fsc_open.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster21_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster22_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster23_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster24_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster25_contraband.png
Labels: Map-Shuttle, No C#, Sprites, YML, size/M
