Repository new-frontiers-14/frontier-station-14, pull requests merged in 2025-02, with the labels that each got.

#2825 Rename Wendigo to Hypnos
  Resources/Maps/_NF/Shuttles/Nfsd/hypnos.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/hypnos.yml
Labels: S: Needs Review, Map-Shuttle, No C#, S: Untriaged

#2815 Firelock permission changes
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
Labels: No C#, YML, S: Approved, size/XS

#2810 Add desk bell to the service techfab.
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
Labels: No C#, YML, S: Approved, size/S

#2805 Adds medical paperwork to civimed.
  Resources/Prototypes/_NF/Catalog/Fills/Paper/forms_medical.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/civimed.yml
Labels: No C#, YML, S: Approved, size/XS

#2803 Add cloth footwraps to crafting menu
  Resources/Prototypes/_DV/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/shoes.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/clothing/clothfootwraps.yml
  Resources/Prototypes/_NF/Recipes/Construction/clothing.yml
  Resources/Textures/Clothing/Shoes/Misc/clothwarp.rsi/meta.json
  Resources/Textures/_NF/Clothing/Shoes/Misc/clothwrap.rsi/equipped-FEET.png
  Resources/Textures/_NF/Clothing/Shoes/Misc/clothwrap.rsi/icon.png
  Resources/Textures/_NF/Clothing/Shoes/Misc/clothwrap.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, YML, S: Approved, size/S

#2791 Simple hydro wall locker with fill
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers_department.yml
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/door-decal-hydro.png
  Resources/Textures/_NF/Structures/Storage/wall_locker_color.rsi/meta.json
Labels: No C#, Sprites, YML, S: Approved

#2773 Add ring to PietyVend and loadout.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/trinkets.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: No C#, YML, S: Approved, size/S

#2831 Avoid Bank ATM BUI collisions
  Content.Client/_NF/Bank/BUI/BankATMWithdrawOnlyMenuBoundUserInterface.cs
  Content.Client/_NF/Bank/BUI/StationAdminConsoleBoundUserInterface.cs
  Content.Client/_NF/Bank/UI/StationAdminConsoleMenu.xaml
  Content.Client/_NF/Bank/UI/StationAdminConsoleMenu.xaml.cs
  Content.Client/_NF/Bank/UI/WithdrawBankATMMenu.xaml.cs
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
Labels: S: Needs Review, YML, C#, UI, S: Untriaged, size/S

#2833 Holopad additions to SR / Frontier Support craft.
  Resources/Maps/_NF/Shuttles/Sr/bottleneck.yml
  Resources/Maps/_NF/Shuttles/Sr/broom.yml
  Resources/Maps/_NF/Shuttles/Sr/chauffeur.yml
  Resources/Maps/_NF/Shuttles/Sr/mailpod.yml
  Resources/Maps/_NF/Shuttles/Sr/parcel.yml
  Resources/Maps/_NF/Shuttles/Sr/watchdog.yml
Labels: Map-Shuttle, No C#, size/M

#2823 NFSD and Exped ship holopads
  Resources/Maps/_NF/Shuttles/Expedition/ambition.yml
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
  Resources/Maps/_NF/Shuttles/Expedition/brigand.yml
  Resources/Maps/_NF/Shuttles/Expedition/charon.yml
  Resources/Maps/_NF/Shuttles/Expedition/decadedove.yml
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
  Resources/Maps/_NF/Shuttles/Expedition/gasbender.yml
  Resources/Maps/_NF/Shuttles/Expedition/gourd.yml
  Resources/Maps/_NF/Shuttles/Expedition/pathfinder.yml
  Resources/Maps/_NF/Shuttles/Expedition/sprinter.yml
  Resources/Maps/_NF/Shuttles/Nfsd/broadhead.yml
  Resources/Maps/_NF/Shuttles/Nfsd/cleric.yml
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
  Resources/Maps/_NF/Shuttles/Nfsd/fighter.yml
  Resources/Maps/_NF/Shuttles/Nfsd/hospitaller.yml
  Resources/Maps/_NF/Shuttles/Nfsd/hypnos.yml
  Resources/Maps/_NF/Shuttles/Nfsd/interceptor.yml
  Resources/Maps/_NF/Shuttles/Nfsd/paladin.yml
  Resources/Maps/_NF/Shuttles/Nfsd/prowler.yml
  Resources/Maps/_NF/Shuttles/Nfsd/rogue.yml
  Resources/Maps/_NF/Shuttles/Nfsd/templar.yml
  Resources/Maps/_NF/Shuttles/Nfsd/wasp.yml
Labels: S: Needs Review, Map-Shuttle, No C#, size/M

#2835 Scrap ships and POI holo pads
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/anomalousgeode.yml
  Resources/Maps/_NF/POI/anomalouslab.yml
  Resources/Maps/_NF/POI/bahama.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/edison.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Maps/_NF/POI/trademall.yml
  Resources/Maps/_NF/Shuttles/Scrap/bison.yml
  Resources/Maps/_NF/Shuttles/Scrap/canister.yml
  Resources/Maps/_NF/Shuttles/Scrap/disciple.yml
  Resources/Maps/_NF/Shuttles/Scrap/nugget.yml
  Resources/Maps/_NF/Shuttles/Scrap/orange.yml
  Resources/Maps/_NF/Shuttles/Scrap/point.yml
  Resources/Maps/_NF/Shuttles/Scrap/tide.yml
Labels: S: Needs Review, Map-Shuttle, Map-POI, No C#, Map-Outpost, S: Untriaged, size/M

#2829 Mapchecker: legal overrides, POI logic, other fixes
  .github/mapchecker/config.py
  .github/mapchecker/mapchecker.py
  .github/mapchecker/util.py
  .github/mapchecker/whitelist.yml
  .github/workflows/nf-mapchecker.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/paladin.yml
  Resources/Prototypes/_NF/Shipyard/Sr/watchdog.yml
Labels: S: Needs Review, Map-Shuttle, No C#, YML, S: Untriaged, size/S

#2798 Batch lathe jobs
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
  Content.Shared/Lathe/LatheMessages.cs
  Resources/Prototypes/Nyanotrasen/Recipes/Lathes/bluespace.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
  Resources/Prototypes/_NF/Recipes/Lathes/sheet.yml
Labels: S: Needs Review, YML, C#, UI, size/M

#2838 Polypen recipe correction
  Resources/Prototypes/_NF/Recipes/Cooking/medical_recipes.yml
Labels: No C#, YML

#2837 Fix asteroid gas deposit entity duplication
  Content.Server/_NF/Worldgen/Systems/Debris/RandomEntityPopulatorSystem.cs
Labels: S: Needs Review, C#, size/XS

#2834 Adjust upstream cotton recipes. Add new cotton recipes.
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
Labels: S: Needs Review, No C#, YML, S: Approved, size/S

#2830 Add BRB sign to the service techfab.
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
Labels: No C#, YML, S: Approved, size/XS

#2845 Update labeler.yml
  .github/labeler.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/XS

#2846 Cargo Depots 2 to 4
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
Labels: YML, C#, S: Approved, size/S

#2832 Adds new wall mounted screens for personal and commercial use
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_wallmount.yml
  Resources/Textures/_NF/Structures/Machines/computer_wallmount.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/computer_wallmount.rsi/screen_crew.png
  Resources/Textures/_NF/Structures/Machines/computer_wallmount.rsi/screen_records.png
Labels: No C#, Sprites, YML, S: Approved, size/M

#2849 Consistent Conveyors
  Content.Shared/DeviceLinking/Components/TwoWayLeverComponent.cs
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/Shuttles/Expedition/charon.yml
  Resources/Maps/_NF/Shuttles/Scrap/scrap-hauler.yml
  Resources/Maps/_NF/Shuttles/bazaar.yml
  Resources/Maps/_NF/Shuttles/bodkin.yml
  Resources/Maps/_NF/Shuttles/hauler.yml
  Resources/Maps/_NF/Shuttles/vagabond.yml
  Resources/Prototypes/Entities/Structures/conveyor.yml
Labels: Map-Shuttle, Map-POI, YML, C#, S: Untriaged, size/M

#2766 BetterBorgs: droppable, swappable cyborg item interactions
  Content.Client/UserInterface/Systems/Hands/HandsUIController.cs
  Content.Client/_NF/Hands/UI/HandPlaceholderStatus.cs
  Content.Client/_NF/Hands/UI/HandPlaceholderStatus.xaml
  Content.Client/_NF/Interaction/Components/HandPlaceholderVisualsComponent.cs
  Content.Client/_NF/Interaction/Systems/HandPlaceholderVisualsSystem.cs
  Content.IntegrationTests/Tests/Sprite/ItemSpriteTest.cs
  Content.Server/Silicons/Borgs/BorgSystem.Modules.cs
  Content.Server/_NF/Whitelist/Components/NFBookBagComponent.cs
  Content.Server/_NF/Whitelist/Components/NFLighterComponent.cs
  Content.Server/_NF/Whitelist/Components/NFOreBagComponent.cs
  Content.Server/_NF/Whitelist/Components/NFPlantBagComponent.cs
  Content.Server/_NF/Whitelist/Components/NFShakerComponent.cs
  Content.Shared/Interaction/Components/UnremoveableComponent.cs
  Content.Shared/Silicons/Borgs/Components/ItemBorgModuleComponent.cs
  Content.Shared/_NF/Interaction/Components/HandPlaceholderComponent.cs
  Content.Shared/_NF/Interaction/Components/HandPlaceholderRemoveableComponent.cs
  Content.Shared/_NF/Interaction/Systems/SharedHandPlaceholderSystem.cs
  Resources/Locale/en-US/_NF/hands/hands-system.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Librarian/books_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Robotics/borg_hand_placeholder.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: S: Needs Review, YML, C#, UI, FTL, size/M

#2477 Frontier-specific ion storm entries
  Content.Client/Silicons/Laws/SiliconLawEditUi/SiliconLawContainer.xaml.cs
  Content.Client/Silicons/Laws/Ui/LawDisplay.xaml.cs
  Content.Server/Silicons/Laws/IonStormSystem.cs
  Content.Shared/Silicons/Laws/SiliconLawPrototype.cs
  Resources/Locale/en-US/_NF/silicons/silicon.ftl
  Resources/Prototypes/Datasets/ion_storm.yml
Labels: S: Needs Review, No C#, YML, C#, UI, FTL, size/M

#2853 Reapply selective service dropper fixes
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
Labels: S: Needs Review, C#, size/S

#2854 BetterBorg Hotfix: Unremoveable after equip
  Content.Server/Silicons/Borgs/BorgSystem.Modules.cs
Labels: S: Needs Review, C#, size/S

#2856 Ups Hypospray reserve from 5u to 10u
  Resources/Prototypes/_NF/Entities/Objects/Specific/Medical/hypospray.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged

#2802 Update NFSD suit names, descriptions and uplink info.
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_NF/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#, YML, FTL, S: Approved, size/S

#2806 Adds a holopad to the DoC's office.
  Resources/Maps/_NF/POI/medical.yml
Labels: Map-POI, No C#, S: Untriaged, S: Approved, size/M

#2858 StationJobs: protect station jobs with access levels/groups
  Content.Server/Station/Components/StationJobsComponent.cs
  Content.Server/StationRecords/Systems/GeneralStationRecordConsoleSystem.cs
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
  Resources/Prototypes/_NF/PointsOfInterest/medical.yml
  Resources/Prototypes/_NF/PointsOfInterest/nfsd.yml
Labels: S: Needs Review, YML, C#, S: Untriaged, size/S

#2824 Add uncloneable health analyzer text
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Shared/MedicalScanner/HealthAnalyzerScannedUserMessage.cs
  Resources/Locale/en-US/_NF/medical/components/health-analyzer-component.ftl
Labels: C#, UI, FTL, S: Approved, size/S

#2861 Backport Goob/EE playing card fixes (Goob#1215 and #1311 via EE#1451)
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Client/_EstacaoPirata/Cards/Card/CardSystem.cs
  Content.Client/_EstacaoPirata/Cards/CardSpriteSystem.cs
  Content.Client/_EstacaoPirata/Cards/Deck/CardDeckSystem.cs
  Content.Client/_EstacaoPirata/Cards/Hand/CardHandSystem.cs
  Content.Client/_EstacaoPirata/Cards/Hand/UI/CardHandMenu.xaml.cs
  Content.Client/_EstacaoPirata/Cards/Hand/UI/CardHandMenuBoundUserInterface.cs
  Content.Server/_EstacaoPirata/OpenTriggeredStorageFill/OpenTriggeredStorageFillComponent.cs
  Content.Server/_EstacaoPirata/OpenTriggeredStorageFill/OpenTriggeredStorageFillSystem.cs
  Content.Shared/_EE/Strip/Components/StripMenuHiddenComponent.cs
  Content.Shared/_EstacaoPirata/Cards/Card/CardComponent.cs
  Content.Shared/_EstacaoPirata/Cards/Card/CardSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Deck/CardDeckComponent.cs
  Content.Shared/_EstacaoPirata/Cards/Deck/CardDeckSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Hand/CardHandComponent.cs
  Content.Shared/_EstacaoPirata/Cards/Hand/CardHandSystem.cs
  Content.Shared/_EstacaoPirata/Cards/Stack/CardStackComponent.cs
  Content.Shared/_EstacaoPirata/Cards/Stack/CardStackSystem.cs
  Resources/Locale/en-US/estacao-pirata/cards/cards.ftl
  Resources/Locale/en-US/estacao-pirata/store/uplink-catalog.ftl
  Resources/Prototypes/EstacaoPirata/Catalog/uplink_catalog.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/black_cards.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/nt_cards.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/syndicate_cards.yml
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/black_box.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/black_box_open.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/nanotrasen_box.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/nanotrasen_box_open.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/syndicate_box.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/syndicate_box_open.png
Labels: S: Needs Review, Sprites, YML, C#, UI, FTL, size/L

#2862 Silence reagent dispensers on spawn.
  Content.Server/Chemistry/EntitySystems/ReagentDispenserSystem.cs
Labels: S: Needs Review, C#, size/XS

#2863 Yet more playing card fixes.
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/base.yml
  Resources/Prototypes/EstacaoPirata/Entities/Objects/Misc/black_cards.yml
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/black_hand1.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/black_hand2.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/black_hand3.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/black_hand4.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/black_hand5.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/black_joker.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/deck_black_empty.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/deck_black_half.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/deck_black_low.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/deck_nanotrasen_empty.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/deck_nanotrasen_half.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/deck_nanotrasen_low.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/deck_syndicate_empty.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/deck_syndicate_half.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/deck_syndicate_low.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/meta.json
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/nanotrasen_hand1.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/nanotrasen_hand2.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/nanotrasen_hand3.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/nanotrasen_hand4.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/nanotrasen_hand5.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/sc_10_of_Hearts_nanotrasen.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/sc_2_of_Hearts_nanotrasen.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/sc_3_of_Clubs_nanotrasen.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/sc_3_of_Diamonds_black.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/sc_6_of_Hearts_nanotrasen.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/sc_7_of_Hearts_nanotrasen.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/sc_8_of_Hearts_nanotrasen.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/sc_9_of_Hearts_nanotrasen.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/sc_Ace_of_Diamonds_syndicate.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/sc_Ace_of_Hearts_nanotrasen.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/sc_Ace_of_Spades_syndicate.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/sc_Jack_of_Hearts_nanotrasen.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/sc_King_of_Hearts_nanotrasen.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/sc_Queen_of_Hearts_nanotrasen.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/syndicate_hand1.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/syndicate_hand2.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/syndicate_hand3.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/syndicate_hand4.png
  Resources/Textures/EstacaoPirata/Objects/Misc/cards.rsi/syndicate_hand5.png
Labels: S: Needs Review, No C#, Sprites, YML

#2859 Contraband and medical price scanners beep
  Content.Server/_NF/Medical/MedicalBountyPriceGunSystem.cs
  Content.Server/_NF/Security/Components/ContrabandPriceGunComponent.cs
  Content.Server/_NF/Security/ContrabandPriceGunSystem.cs
  Content.Shared/_NF/Medical/MedicalPriceGunComponent.cs
Labels: C#, S: Approved, size/S

#2869 Mini station anchor sprites
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/station_anchor.yml
  Resources/Textures/_NF/Structures/Machines/mini_station_anchor.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/mini_station_anchor.rsi/station_anchor.png
  Resources/Textures/_NF/Structures/Machines/mini_station_anchor.rsi/station_anchor_unlit.png
Labels: S: Needs Review, No C#, Sprites, YML

#2877 Update Frontier webhooks
  Content.Server/_NF/GameRule/NfAdventureRuleSystem.cs
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
Labels: S: Needs Review, C#, FTL, S: Untriaged, size/S

#2764 ShuttleSystem: FTL docking functions accept and check docking types
  Content.Server/Shuttles/Systems/DockingSystem.Shuttle.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
Labels: S: Needs Review, C#, size/S

#2855 Adds an overflow borg job slot to Frontier Outpost
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/_NF/Maps/Outpost/frontier.yml
Labels: S: Needs Review, No C#, YML, Map-Outpost, size/S

#2848 Static physics for Frontier grids
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Server/_NF/Shuttles/Components/ForceAnchorComponent.cs
  Content.Server/_NF/Shuttles/Components/ForceAnchorPostFTLComponent.cs
  Content.Server/_NF/Shuttles/Components/PreventGridAnchorChangesComponent.cs
  Content.Server/_NF/Shuttles/Systems/ForceAnchorSystem.cs
  Content.Server/_NF/StationEvents/Components/BluespaceErrorRuleComponent.cs
  Resources/Maps/_NF/DeadDrop/deaddrop.yml
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/anomalousgeode.yml
  Resources/Maps/_NF/POI/anomalouslab.yml
  Resources/Maps/_NF/POI/arena.yml
  Resources/Maps/_NF/POI/bahama.yml
  Resources/Maps/_NF/POI/beacon.yml
  Resources/Maps/_NF/POI/cargodepot.yml
  Resources/Maps/_NF/POI/cargodepotalt.yml
  Resources/Maps/_NF/POI/caseyscasino.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/POI/edison.yml
  Resources/Maps/_NF/POI/grifty.yml
  Resources/Maps/_NF/POI/lodge.yml
  Resources/Maps/_NF/POI/lpbravo.yml
  Resources/Maps/_NF/POI/mchobo.yml
  Resources/Maps/_NF/POI/medical.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/POI/northpole.yml
  Resources/Maps/_NF/POI/tinnia.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Maps/_NF/POI/trademall.yml
  Resources/Maps/_NF/Shuttles/Bus/publicts.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_dungeons_events.yml
  Resources/Prototypes/_NF/Events/nf_bluespace_grids_events.yml
  Resources/Prototypes/_NF/PointsOfInterest/base.yml
Labels: S: Needs Review, Map-Shuttle, Map-POI, YML, C#, Map-Outpost, size/M

#2867 Add a cash slot to vending machines
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Client/VendingMachines/VendingMachineBoundUserInterface.cs
  Content.Client/VendingMachines/VendingMachineSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
  Resources/Locale/en-US/_NF/bank/bank-ATM-component.ftl
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/_NF/Entities/Structures/atm.yml
Labels: S: Needs Review, YML, C#, UI, FTL, size/M

#2878 Cvar-based shipyard resale rate, minor shipyard cleanup
  Content.Client/_NF/Shipyard/UI/ShipyardConsoleMenu.xaml.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Content.Shared/_NF/Shipyard/BUI/ShipyardConsoleInterfaceState.cs
  Content.Shared/_NF/Shipyard/Components/SharedShipyardConsoleComponent.cs
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
Labels: S: Needs Review, YML, C#, UI, FTL, size/M

#2881 Hotfix: VGroid Static Physics
  Resources/Prototypes/_NF/Events/nf_bluespace_dungeons_events.yml
Labels: S: Needs Review, No C#, YML, size/XS

#2840 Repeating timers
  Content.Client/MachineLinking/UI/SignalTimerBoundUserInterface.cs
  Content.Client/MachineLinking/UI/SignalTimerWindow.xaml
  Content.Client/MachineLinking/UI/SignalTimerWindow.xaml.cs
  Content.Server/DeviceLinking/Components/SignalTimerComponent.cs
  Content.Server/DeviceLinking/Systems/SignalTimerSystem.cs
  Content.Shared/MachineLinking/SharedSignalTimerComponent.cs
  Resources/Locale/en-US/_NF/machine-linking/components/signal-timer-component.ftl
Labels: C#, UI, FTL, S: Approved, size/S

#2870 Great job biomass chest w/ 50 units
  Resources/Prototypes/_NF/Catalog/Fills/Crates/materials.yml
  Resources/Prototypes/_NF/Entities/Materials/materials.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/S

#2788 Make Build-A-Buddy kits buildable
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/_NF/Entities/Mobs/Player/buddies.yml
  Resources/Prototypes/_NF/Recipes/Cooking/medical_recipes.yml
  Resources/Prototypes/_NF/Roles/Ghostroles/whitelisted.yml
Labels: S: Needs Review, No C#, YML, FTL, S: Need Discussion, size/M

#2883 Removes radiation collectors from cargo
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/XS

#2842 Adds casks to the service techfab
  Resources/Locale/en-US/_NF/lathe/recipes.ftl
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Drinks/drinks_keg.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Recipes/Lathes/service.yml
Labels: No C#, YML, FTL, S: Approved, size/S

#2872 Replaces withdraw only ATMs with deposit ATMs on trade station
  Resources/Maps/_NF/POI/trade.yml
Labels: S: Needs Review, Map-POI, No C#, S: Untriaged, size/S

#2819 Fill Sheriff's Locker & Move SR Access config to their locker.
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
Labels: S: Needs Review, Map-POI, No C#, YML, S: Untriaged, size/S

#2828 Bio Generator inventory embiggining
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/categories.yml
  Resources/Prototypes/_NF/Recipes/Lathes/biogen.yml
Labels: No C#, YML, FTL, size/M

#2871 Adds a ship sale console to Tinnia's
  Resources/Maps/_NF/POI/tinnia.yml
Labels: Map-POI, No C#, S: Untriaged, size/XS

#2704 Anchor SMES tweak.
  Resources/Maps/_NF/Shuttles/Expedition/anchor.yml
Labels: Map-Shuttle, No C#, S: Approved, size/S

#2884 Jackboots: free for mercs, no slowdown modifier.
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/shoes.yml
Labels: No C#, YML, S: Untriaged, size/XS

#2885 Update pathfinder.yml
  Resources/Maps/_NF/Shuttles/Expedition/pathfinder.yml
Labels: S: Needs Review, Map-Shuttle, No C#, S: Untriaged, size/S

#2890 Add bulker air alarm
  Resources/Maps/_NF/Shuttles/bulker.yml
Labels: S: Needs Review, Map-Shuttle, No C#, S: Untriaged

#2896 Fixed typo in guidebook - ship manuals
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Brigand.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Chisel.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Comet.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Gasbender.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Harbormaster.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Kestrel.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Kilderkin.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Lantern.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Legman.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Pathfinder.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Vagabond.xml
Labels: Docs, No C#, S: Untriaged, size/S

#2899 Fix MaterialStorageMagnetPickup material duplication
  Content.Server/Materials/MaterialStorageSystem.cs
Labels: S: Needs Review, C#, size/XS

#2900 Trade crates: fix time reference
  Content.Server/_NF/Cargo/Systems/CargoSystem.TradeCrates.cs
Labels: S: Needs Review, C#, size/XS

#2898 Fix docks disappearing in NAV when >100% UI scale
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
Labels: C#, UI, S: Approved, size/XS

#2902 Cherry-pick Tayrtahn's space-station-14#34016
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: S: Needs Review, C#, size/S

#2905 Increase max NPC count to 256
  Content.Shared/CCVar/CCVars.NPC.cs
Labels: C#

#2690 Comet Defib Update
  Resources/Maps/_NF/Shuttles/comet.yml
Labels: Map-Shuttle, No C#, YML, S: Approved, size/L

#2695 Barge Solars Adjustment
  Resources/Maps/_NF/Shuttles/barge.yml
  Resources/Prototypes/_NF/Shipyard/barge.yml
Labels: Map-Shuttle, No C#, YML, S: Approved, size/M

#2903 TryGetFTLProximity: prevent sending ships 10+ km out
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
Labels: S: Needs Review, C#, size/M

#2904 Great job ID card console bugfix
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
Labels: S: Needs Review, C#, size/S

#2907 Stop NPC's from trying to plan when they wont be able to plan anyways in space
  Content.Server/NPC/HTN/HTNSystem.cs
Labels: C#, S: Approved, size/S

#2893 Pirate Shuttles, Pirate Cove: pirate-locked doors
  Resources/Locale/en-US/_NF/prototypes/access/accesses.ftl
  Resources/Maps/_NF/POI/cove.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/barnacle.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/bocakillo.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/falcon.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/menace.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/schooner.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/_NF/Access/pirate.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_captain.yml
  Resources/Prototypes/_NF/Roles/Jobs/Pirates/pirate_first_mate.yml
Labels: S: Needs Review, Map-Shuttle, Map-POI, No C#, YML, FTL, size/M

#2875 add value of lathe contents to appraisal price
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
Labels: C#, S: Approved, size/S

#2909 Gas Deposit Rejig
  Content.Server/_NF/Atmos/Components/RandomGasDepositComponent.cs
  Content.Server/_NF/Atmos/Systems/GasDepositSystem.cs
  Resources/Prototypes/_NF/Entities/Objects/Specific/Atmospherics/deposits.yml
  Resources/Prototypes/_NF/Entities/World/Debris/asteroids.yml
Labels: S: Needs Review, YML, C#, size/M

#2787 Adding missing captain items in loadouts
  Resources/Prototypes/_NF/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/belt.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/gloves.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/head.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/jumpsuit.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/neck.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/outer.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Textures/_NF/Objects/Weapons/Melee/captain_sword_hilt.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Melee/captain_sword_hilt.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Melee/captain_sword_hilt.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Melee/captain_sword_hilt.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, YML, S: Approved, size/M

#2887 BorgSystem: check droppable items for duped mods
  Content.Server/Silicons/Borgs/BorgSystem.Modules.cs
Labels: S: Needs Review, C#, size/S

#2715 Pretty Burgers!
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/plainblack.png
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/plainblue.png
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/plaingreen.png
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/plainorange.png
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/plainpurple.png
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/plainred.png
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/plainwhite.png
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/plainyellow.png
Labels: No C#, Sprites, YML, S: Approved, size/M

#2781 Remove Gas Miners from POIs and Restore O2 and N2 values
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/POI/trade.yml
  Resources/Maps/_NF/POI/trademall.yml
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/_NF/migration.yml
Labels: S: Needs Review, Map-POI, No C#, YML, Map-Outpost, S: Approved, size/S

#2894 Per-grid solar tracking
  Content.Server/Solar/EntitySystems/PowerSolarControlConsoleSystem.cs
  Content.Server/Solar/EntitySystems/PowerSolarSystem.cs
  Content.Server/_NF/Solar/Components/NFSolarPanelComponent.cs
  Content.Server/_NF/Solar/Components/SolarPoweredGridComponent.cs
  Content.Server/_NF/Solar/EntitySystems/NFPowerSolarSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalousgeode.yml
  Resources/Prototypes/_NF/PointsOfInterest/anomalouslab.yml
  Resources/Prototypes/_NF/PointsOfInterest/bahamamamas.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
  Resources/Prototypes/_NF/PointsOfInterest/edison.yml
  Resources/Prototypes/_NF/PointsOfInterest/grifty.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
  Resources/Prototypes/_NF/PointsOfInterest/omnichurch.yml
  Resources/Prototypes/_NF/PointsOfInterest/thepit.yml
  Resources/Prototypes/_NF/PointsOfInterest/tinniasrest.yml
  Resources/Prototypes/_NF/PointsOfInterest/trademall.yml
  Resources/Textures/_NF/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/computers.rsi/solar_screen.png
Labels: S: Needs Review, Sprites, YML, C#, size/M

#2912 Up the Headsets keys limits to 10
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/encryption_keys.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/S

#2901 add holopad, hand labeller to all pirate ships
  Resources/Maps/_NF/Shuttles/BlackMarket/barnacle.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/bocakillo.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/falcon.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/menace.yml
  Resources/Maps/_NF/Shuttles/BlackMarket/schooner.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/holopad.yml
Labels: Map-Shuttle, No C#, YML, S: Approved, size/M

#2891 automatically split stacks when trying to insert into limited storages such as generators
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
Labels: S: Needs Review, C#, size/S

#2915 update links to point to the new wiki
  README.md
  Resources/Locale/en-US/_NF/adventure/adventure.ftl
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Books/hyperlinks.yml
Labels: Docs, S: Needs Review, No C#, YML, FTL, size/XS

#2865 Tracking dart cleanup
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/darts.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/traking_dart.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Boxes/nfsd.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_NF/tags.yml
Labels: S: Needs Review, No C#, YML, FTL, size/M

#2917 Harpy wing/arm layering fix, remove base female displacement map
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Content.Shared/_DV/Harpy/HarpyVisualsSystem.cs
  Resources/Prototypes/_DV/Entities/Mobs/Species/harpy.yml
  Resources/Prototypes/_DV/Species/harpy.yml
  Resources/Prototypes/_EE/Entities/Mobs/Customization/Markings/harpy.yml
Labels: S: Needs Review, YML, C#, S: Untriaged, size/S

#2914 Update Killer Tomatos
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/XS

#2913 Update Magboots
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/_NF/Alerts/magboots.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/expeditions_loot.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/misc.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/shoes.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Mercenary/shoes.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Recipes/Lathes/clothing-eva.yml
  Resources/Prototypes/_NF/Research/arsenal.yml
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-security.rsi/equipped-FEET.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-security.rsi/icon-on.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-security.rsi/icon.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-security.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-security.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-security.rsi/meta.json
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-security.rsi/on-equipped-FEET.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-security.rsi/on-inhand-left.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/magboots-security.rsi/on-inhand-right.png
  Resources/_NF/migration.yml
Labels: S: Needs Review, No C#, Sprites, YML, S: Untriaged, size/M

#2489 Fix more integration tests
  Content.IntegrationTests/PoolManager.Cvars.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.IntegrationTests/Tests/Internals/AutoInternalsTests.cs
  Content.IntegrationTests/Tests/Storage/StorageInteractionTest.cs
  Content.IntegrationTests/Tests/UserInterface/UiControlTest.cs
  Content.Server/Procedural/DungeonSystem.Rooms.cs
  Content.Server/Procedural/RoomFillComponent.cs
  Content.Server/Procedural/RoomFillSystem.cs
  Content.Server/_NF/Explosion/Components/TriggerOnProjectileHitComponent.cs
  Content.Shared/CCVar/CCVars.Interactions.cs
  Content.Shared/Clothing/LoadoutSystem.cs
  Content.Shared/Mobs/Systems/MobThresholdSystem.cs
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/_NF/Procedural/Themes/vgroidinterior.yml
Labels: S: Needs Review, YML, C#, S: Approved, size/M

#2932 removed the access locked door from the crescent sci lab
  Resources/Maps/_NF/Shuttles/Scrap/scrap-crescent.yml
  Resources/Maps/_NF/Shuttles/crescent.yml
Labels: S: Needs Review, Map-Shuttle, No C#, S: Untriaged

#2931 Comet LV cable fix
  Resources/Maps/_NF/Shuttles/comet.yml
Labels: S: Needs Review, Map-Shuttle, No C#, S: Untriaged, size/S

#2934 Clear contraband status from common-only loadout headsets
  Resources/Prototypes/_NF/Entities/Clothing/Ears/headsets.yml
Labels: No C#, YML, size/XS

#2935 Comet Hotfix: Fix reversions from #2931
  Resources/Maps/_NF/Shuttles/comet.yml
Labels: S: Needs Review, Map-Shuttle, No C#, size/M

#2939 Cad Holopad
  Resources/Maps/_NF/Shuttles/caduceus.yml
Labels: Map-Shuttle, No C#, S: Untriaged, size/S

#2943 hotfix auto-stack-splitting bug with non-storagelimited storages
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
Labels: S: Needs Review, C#, S: Untriaged, size/S

#2947 Server- and Client-side partial stack insert functions, hotfix reversion
  Content.Client/Materials/MaterialStorageSystem.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
Labels: S: Needs Review, C#, size/S

#2765 port ore bag magnet toggle from white dream (DeltaV #2467)
  Content.Shared/Item/ItemToggle/Components/ItemToggleComponent.cs
  Content.Shared/Item/ItemToggle/ItemToggleSystem.cs
  Content.Shared/Storage/Components/MagnetPickupComponent.cs
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
  Content.Shared/_DV/Item/ItemToggle/Components/ItemToggleExamineComponent.cs
  Content.Shared/_DV/Item/ItemToggle/Systems/ItemToggleExamineSystem.cs
  Resources/Locale/en-US/_NF/item/item-toggle-examine-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/Chemistry/chem_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Librarian/books_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag_holding.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Specific/Mail/tools.yml
  Resources/Prototypes/_DV/Entities/Objects/Specific/Hydroponics/plant_bag_holding.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Engineering/construction_bag.yml
  Resources/Textures/Nyanotrasen/Clothing/Belt/mailbag.rsi/icon-on.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/mailbag.rsi/inhand-left.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/mailbag.rsi/inhand-right.png
  Resources/Textures/Nyanotrasen/Clothing/Belt/mailbag.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/chem_bag.rsi/icon-on.png
  Resources/Textures/Objects/Specific/Chemistry/chem_bag.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/Equipment/plant_bag.rsi/icon-on.png
  Resources/Textures/Objects/Specific/Hydroponics/Equipment/plant_bag.rsi/meta.json
  Resources/Textures/Objects/Specific/Library/Equipment/books_bag.rsi/icon-on.png
  Resources/Textures/Objects/Specific/Library/Equipment/books_bag.rsi/meta.json
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/icon-on.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/meta.json
  Resources/Textures/_DV/Objects/Specific/Hydroponics/plant_bag_holding.rsi/icon-on.png
  Resources/Textures/_DV/Objects/Specific/Hydroponics/plant_bag_holding.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/icon-on-bluespace.png
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/icon-on.png
  Resources/Textures/_NF/Objects/Specific/Engineering/construction_bag.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Mining/ore_bag_holding.rsi/icon-on.png
  Resources/Textures/_NF/Objects/Specific/Mining/ore_bag_holding.rsi/meta.json
Labels: Sprites, YML, C#, FTL, S: Approved, size/M

#2953 All clown. All mask. No wig.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/face.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Textures/_NF/Clothing/Mask/clown_bald.rsi/equipped-MASK-hamster.png
  Resources/Textures/_NF/Clothing/Mask/clown_bald.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_NF/Clothing/Mask/clown_bald.rsi/equipped-MASK-vox.png
  Resources/Textures/_NF/Clothing/Mask/clown_bald.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_NF/Clothing/Mask/clown_bald.rsi/equipped-MASK.png
  Resources/Textures/_NF/Clothing/Mask/clown_bald.rsi/icon.png
  Resources/Textures/_NF/Clothing/Mask/clown_bald.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, YML, S: Untriaged, size/S

#2942 Atmos tweaks to improve tritium generation
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Prototypes/Atmospherics/reactions.yml
Labels: S: Needs Review, YML, C#, S: Untriaged, size/XS

#2921 Great Job Bailiff Stamp
  Resources/Locale/en-US/_NF/paper/stamp-component.ftl
  Resources/Prototypes/_NF/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-nf-bailiff.png
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_NF/Objects/Misc/stamps.rsi/stamp-bailiff.png
Labels: No C#, Sprites, YML, FTL, S: Approved

#2873 Economy updoot for the DoC and dispatch bank
  Resources/Prototypes/_NF/Entities/Structures/Machines/cryopod.yml
  Resources/Prototypes/_NF/SectorServices/services.yml
Labels: No C#, YML, S: Approved, size/XS

#2927 Swap Edison's withdraw-only ATMs for regular ones.
  Resources/Maps/_NF/POI/edison.yml
Labels: Map-POI, No C#, S: Approved, size/XS

#2926 adds a color& description hint to indestructible walls used in Multiple UIV's
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
Labels: S: Needs Review, No C#, YML, S: Approved, size/S

#2960 Lockable Pirate button
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/switch.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/XS

#2951 Minor MedicalRecipeDataSystem refactor
  Content.Server/_EE/Nutrition/EntitySystems/FoodGuideDataSystem.cs
  Content.Server/_NF/Medical/EntitySystems/MedicalRecipeDataSystem.cs
  Content.Shared/Kitchen/MicrowaveMealRecipePrototype.cs
  Resources/Prototypes/_NF/Recipes/Cooking/medical_recipes.yml
Labels: S: Needs Review, YML, C#, size/S

#2933 Recyclable pipes
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/gas_pipe_sensor.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
Labels: S: Needs Review, No C#, YML, size/S

#2924 IHF crescent ai core removal
  Resources/Maps/_NF/Shuttles/crescent.yml
Labels: S: Needs Review, Map-Shuttle, No C#, S: Untriaged, size/M

#2950 MaterialReclaimer audio bugfixes
  Content.Client/Materials/MaterialReclaimerSystem.cs
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Content.Shared/Materials/SharedMaterialReclaimerSystem.cs
Labels: S: Needs Review, C#, size/S

#2961 bump contra crate timeout to 1 hour
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
Labels: No C#, YML, S: Untriaged, size/XS

#2965 Remove enzyme from corn, add additional corn oil.
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Labels: No C#, YML, S: Untriaged, size/XS

#2880 New frontier admin map
  Content.Server/Administration/Systems/AdminTestArenaSystem.cs
  Resources/Maps/_NF/Test/admin_test_zone.yml
Labels: S: Needs Review, Map-Admin, YML, C#, size/L

#2876 Minor rules clarifications
  Resources/ServerInfo/_NF/Guidebook/Rules/1_Community.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/6_Safezone.xml
  Resources/ServerInfo/_NF/Guidebook/Rules/FrontierRuleset.xml
Labels: Docs, S: Needs Review, No C#, size/S

#2820 Fix Contraband tags for Frontier Command Roles, give Sheriff a CC Pen.
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Devices/payload.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/firebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pipebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/grenade.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_NF/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/identification_cards.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/emag.yml
Labels: No C#, YML, S: Untriaged, size/S

#2929 Knuckle cracking, Slime bubbling & Lizard hisses
  Resources/Audio/_Impstation/Effects/Emotes/attributions.yml
  Resources/Audio/_Impstation/Effects/Emotes/knuckles.ogg
  Resources/Audio/_Impstation/Voice/Reptillian/attributions.yml
  Resources/Audio/_Impstation/Voice/Reptillian/reptillian_hiss1.ogg
  Resources/Audio/_Impstation/Voice/Slime/attributions.yml
  Resources/Audio/_Impstation/Voice/Slime/s_bubble.ogg
  Resources/Audio/_Impstation/Voice/Slime/s_pop.ogg
  Resources/Locale/en-US/_Impstation/chat/emotes.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Impstation/SoundCollections/emotes.yml
  Resources/Prototypes/_Impstation/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_Impstation/Voice/speech_emotes.yml
  Resources/Textures/_Impstation/Interface/Emotes/attributions.yml
  Resources/Textures/_Impstation/Interface/Emotes/crack.png
  Resources/Textures/_Impstation/Interface/Emotes/hiss.png
Labels: S: Needs Review, No C#, YML, FTL, Audio, size/M

#2714 El Capo
  Resources/Locale/en-US/_NF/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/mind/role-types.ftl
  Resources/Prototypes/_NF/Datasets/Names/cat.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/pets.yml
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/crimecat.png
  Resources/Textures/_NF/Mobs/Pets/cat.rsi/meta.json
Labels: No C#, Sprites, YML, FTL, S: Approved, size/S

#2954 Far Star Biotech Void Suit
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/closets.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/departmental_eva.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/softsuit-helmets.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/closets.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers_department_eva.yml
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/icon-flash.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/icon.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/meta.json
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/off-equipped-HELMET-vulpkanin.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/off-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/on-equipped-HELMET-vulpkanin.png
  Resources/Textures/_NF/Clothing/Head/Helmets/fsb_eva_helmet.rsi/on-equipped-HELMET.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/fsb_voidsuit.rsi/equipped-OUTERCLOTHING-harpy.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/fsb_voidsuit.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/fsb_voidsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/fsb_voidsuit.rsi/icon.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/fsb_voidsuit.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/fsb_voidsuit.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/fsb_voidsuit.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/closet.rsi/fsb.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/fsb_door.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/fsb_open.png
  Resources/Textures/_NF/Structures/Storage/closet.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, YML, S: Untriaged, size/M

#2973 Increase pirate ship resale rate to 70%
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
Labels: S: Needs Review, No C#, YML, C#, S: Need Discussion, S: Untriaged, size/S

#2979 Guidebook: allow XML comments
  Content.Client/Guidebook/DocumentParsingManager.cs
Labels: S: Needs Review, C#, size/S

#2975 adds disposal piping for a disposal unit that is missing it to the Bazaar
  Resources/Maps/_NF/Shuttles/bazaar.yml
Labels: S: Needs Review, Map-Shuttle, No C#, S: Untriaged, size/S

#2920 Expedition changes
  Content.Client/Salvage/UI/SalvageExpeditionWindow.xaml.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Shared/Salvage/SharedSalvageSystem.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
  Resources/Locale/en-US/procedural/expeditions.ftl
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/roguesilicons.yml
  Resources/Prototypes/_NF/Procedural/salvage_rewards.yml
Labels: S: Needs Review, YML, C#, UI, FTL, S: Approved, size/M

#2983 Novalite (Rework)
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle_low.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Magazines/novalitec1clip.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/M

#2986 SR Disabler
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/base.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/equipped-BELT.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left-0.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left-1.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left-2.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left-3.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left-4.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right-0.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right-1.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right-2.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right-3.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right-4.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/mag-unshaded-0.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/mag-unshaded-1.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/mag-unshaded-2.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/mag-unshaded-3.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/mag-unshaded-4.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, YML, size/S

#2985 Animated Emotes from Impstation
  Content.Client/_Goobstation/Emoting/AnimatedEmotesSystem.cs
  Content.Server/_Goobstation/Emoting/AnimatedEmotesSystem.cs
  Content.Shared/Chat/Prototypes/EmotePrototype.cs
  Content.Shared/_Goobstation/Emoting/AnimatedEmotesComponent.cs
  Content.Shared/_Goobstation/Emoting/SharedAnimatedEmotesSystem.cs
  Resources/Locale/en-US/_Goobstation/emotes.ftl
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_Goobstation/Actions/emotes.yml
  Resources/Textures/_Impstation/Interface/Emotes/attributions.yml
  Resources/Textures/_Impstation/Interface/Emotes/jump.png
  Resources/Textures/_Impstation/Interface/Emotes/spin.png
Labels: YML, C#, FTL, S: Untriaged, size/M

#2936 Sector-wide mail, no mail to SSD players
  Content.Server/_DV/Mail/Components/MailTeleporterComponent.cs
  Content.Server/_DV/Mail/EntitySystems/MailSystem.cs
  Content.Server/_DV/Mail/MailCommands.cs
  Content.Server/_NF/Mail/Components/SectorMailComponent.cs
  Resources/Locale/en-US/_NF/mail/mail.ftl
  Resources/Prototypes/_NF/Mail/mail.yml
  Resources/Prototypes/_NF/SectorServices/services.yml
Labels: S: Needs Review, YML, C#, FTL, size/M

#2919 Black market access configurator for pirates
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_NF/Catalog/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/access_configurator.yml
  Resources/Textures/_NF/Objects/Tools/antag_access_configurator.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Tools/antag_access_configurator.rsi/icon.png
  Resources/Textures/_NF/Objects/Tools/antag_access_configurator.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Tools/antag_access_configurator.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Tools/antag_access_configurator.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, YML, FTL, S: Untriaged, size/M

#2994 Medical SSD indicator for revived bountied corpses
  Content.Shared/SSDIndicator/SSDIndicatorComponent.cs
  Resources/Prototypes/_NF/Entities/Mobs/Corpses/medical_corpse.yml
  Resources/Prototypes/_NF/StatusIcon/StatusEffects/ssd.yml
  Resources/Textures/_NF/Effects/med_ssd.rsi/default0.png
  Resources/Textures/_NF/Effects/med_ssd.rsi/meta.json
Labels: S: Needs Review, Sprites, YML, C#, size/S

#2984 Gestio (Rework)
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_DV/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/_NF/tags.yml
Labels: S: Needs Review, No C#, YML, size/S

#2993 Add permanently seedless, no clip/no swab attributes to gat/capfruit, prevent swabbing bees.
  Content.Server/Botany/SeedPrototype.cs
  Content.Server/Botany/Systems/BotanySwabSystem.cs
  Content.Server/Botany/Systems/MutationSystem.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Botany/Systems/SeedExtractorSystem.cs
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantDestroySeeds.cs
  Content.Server/EntityEffects/Effects/PlantMetabolism/PlantRestoreSeeds.cs
  Content.Server/_NF/Botany/Systems/PlantAnalyzerSystem.cs
  Resources/Locale/en-US/_NF/botany/components/plant-holder-component.ftl
  Resources/Locale/en-US/_NF/botany/swab.ftl
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Hydroponics/seeds.yml
Labels: YML, C#, FTL, S: Untriaged, size/S
