Repository new-frontiers-14/frontier-station-14, pull requests merged in 2025-09, with the labels that each got.

#3801 Use localized reagent name in service selective dropper filter UI
  Content.Client/_NF/Chemistry/UI/ChangeReagentWhitelistWindow.xaml
  Content.Client/_NF/Chemistry/UI/ChangeReagentWhitelistWindow.xaml.cs
Labels: S: Needs Review, C#, UI, S: Untriaged

#3835 Allow to construct catwalks on top of lava, liquid plasma and water on vgroids and expeditons
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: No C#, YML, size/XS

#3812 Remove NF cotton bun, use upstream's
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/buncotton.png
  Resources/Textures/_NF/Objects/Consumable/Food/burger.rsi/meta.json
Labels: No C#, Sprites, YML

#3776 Nerf short-sightedness
  Resources/Prototypes/Traits/disabilities.yml
Labels: No C#, YML, S: Untriaged, size/XS

#3838 Cargo market: actually charge displayed transaction fee
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
Labels: C#, size/S

#3820 Adjust admin alerting for the PA
  Content.Shared/CCVar/CCVars.Admin.cs
Labels: S: Needs Review, C#, S: Untriaged, size/XS

#3856 Fixes DRM quirks
  Content.Server/Construction/ConstructionSystem.Computer.cs
  Content.Server/Construction/ConstructionSystem.Machine.cs
  Content.Server/_NF/BindToStation/BindToStationSystem.cs
Labels: S: Needs Review, C#, S: Untriaged

#3765 Hotdogs
  Resources/Locale/en-US/_NF/recipes/tags.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Recipes/Construction/Graphs/food/steak.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/food/hotdog.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/tags.yml
  Resources/Textures/_NF/Objects/Consumable/Food/ingredients.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/ingredients.rsi/sausagecasing.png
  Resources/Textures/_NF/Objects/Consumable/Food/ingredients.rsi/sausageraw.png
  Resources/Textures/_NF/Objects/Consumable/Food/meat.rsi/hotdog.png
  Resources/Textures/_NF/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/meat.rsi/sausagecooked.png
Labels: No C#, Sprites, YML, FTL, size/M

#3834 Removed cyborg module unlock from Bluespace Ore Storage research
  Resources/Prototypes/_NF/Research/techtree.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/XS

#3872 Ceremonial Rifle Weapon Case Ammo Fix
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/XS

#3889 Remove duplicate upstream chem barrels.
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
Labels: No C#, YML, S: Untriaged, size/S

#3798 Guidebook is Clowning
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Investigator.xml
Labels: Docs, No C#, size/S

#3827 Shuttle (Update) Hammer v2.0
  Resources/Maps/_NF/Shuttles/hammer.yml
  Resources/Prototypes/_NF/Shipyard/hammer.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Hammer.xml
Labels: Docs, S: Needs Review, Map-Shuttle, No C#, YML, size/L

#3863 Shuttle (Update-Trivial) Charon Mercfab
  Resources/Maps/_NF/Shuttles/Expedition/charon.yml
Labels: Map-Shuttle, No C#, S: Untriaged, size/M

#3865 Shuttle (Update-Trivial) Dragonfly Mercfab
  Resources/Maps/_NF/Shuttles/Expedition/dragonfly.yml
Labels: S: Needs Review, Map-Shuttle, No C#, S: Untriaged

#3866 Shuttle (Update-Trivial) Pathfinder Mercfab
  Resources/Maps/_NF/Shuttles/Expedition/pathfinder.yml
Labels: S: Needs Review, Map-Shuttle, No C#, S: Untriaged, size/S

#3845 Crew monitors now only show blips for the same Map/Surface
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
Labels: C#, UI, S: Untriaged, size/S

#3907 Add area insert to wallet.
  Resources/Prototypes/_NF/Entities/Clothing/Wallet/base_wallet.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/XS

#3833 Dispense with the condiments
  Resources/Prototypes/_NF/Entities/Structures/Dispensers/condiments.yml
Labels: No C#, YML

#3888 Add new posters for player groups.
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster26_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster27_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster28_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster29_contraband.png
Labels: No C#, Sprites, YML, S: Untriaged, size/S

#3900 Shuttle (Update) Falcon
  Resources/Maps/_NF/Shuttles/BlackMarket/falcon.yml
Labels: S: Needs Review, Map-Shuttle, No C#, S: Untriaged

#3910 Air scrubbers pull helium by default
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Prototypes/_NF/Atmospherics/gases.yml
Labels: YML, C#, S: Untriaged, size/XS

#3912 Uplink Item Pricing Changes
  Resources/Prototypes/_NF/Catalog/Fills/Crates/nfsdarmory.yml
  Resources/Prototypes/_NF/Catalog/security_uplink_catalog.yml
Labels: No C#, YML, S: Approved, size/S

#3906 Treasure chest: a magnet box for high value salvage items.
  Content.Shared/_NF/Whitelist/Components/NFTreasureComponent.cs
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Entities/Objects/Devices/wristwatch.yml
  Resources/Prototypes/Entities/Objects/Fun/bike_horn.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Misc/arabianlamp.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/_NF/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/magnetbox.yml
  Resources/Textures/_NF/Structures/Storage/magnetbox.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/magnetbox.rsi/treasurebox-closed.png
  Resources/Textures/_NF/Structures/Storage/magnetbox.rsi/treasurebox-open.png
Labels: Sprites, YML, C#, S: Approved, size/S

#3894 Auto-apply job-specific cartridges and channels
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/_NF/Roles/Jobs/Civilian/valet.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/security_guard.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/stc.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/nfdetective.yml
  Resources/Prototypes/_NF/Roles/Jobs/Service/mail_carrier.yml
Labels: No C#, YML, S: Approved, size/S
