Repository new-frontiers-14/frontier-station-14, pull requests merged in 2025-03, with the labels that each got.

#3005 Revert "SR Disabler (#2986)"
  Resources/Prototypes/_EE/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/base.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/equipped-BELT.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left-0.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left-1.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left-2.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left-3.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left-4.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-left.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right-0.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right-1.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right-2.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right-3.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right-4.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/inhand-right.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/mag-unshaded-0.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/mag-unshaded-1.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/mag-unshaded-2.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/mag-unshaded-3.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/mag-unshaded-4.png
  Resources/Textures/_EE/Objects/Weapons/Guns/Battery/ccdisabler.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, YML

#3004 Add a pug to the list of emotional support pets.
  Resources/Prototypes/_NF/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/_NF/Datasets/Names/dog.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/emotionalsupportanimals.yml
Labels: No C#, YML, size/S

#2882 Add a civilian grade bananium generator for heavy shuttles and stations.
  Content.Shared/Power/Generator/FuelGeneratorComponent.cs
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/vgroidinterior.yml
  Resources/Maps/_NF/POI/mchobo.yml
  Resources/Maps/_NF/Test/dev_map.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/fuelvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/blueprints/blueprints_engineering.yml
  Resources/Prototypes/_NF/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/blueprints.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/_NF/Recipes/Lathes/blueprints.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
  Resources/nf_migration.yml
Labels: S: Needs Review, Map-POI, Map-Dungeon, No C#, YML, C#, size/M

#2938 Make spesos, IDs & PDAs teleport to the shipyard console on sale.
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.cs
  Content.Shared/_NF/Shipyard/Components/DisableShipyardSaleComponent.cs
  Content.Shared/_NF/Shipyard/Components/ShipyardSellConditionComponent.cs
  Resources/Locale/en-US/_NF/shipyard/shipyard-console-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/dat_fukken_disk.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Entities/Structures/Machines/nuke.yml
  Resources/Prototypes/Nyanotrasen/Entities/Structures/Machines/mailTeleporter.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crates.yml
Labels: S: Needs Review, YML, C#, FTL, S: Untriaged, size/M

#2963 Fix salvage mobs
  Content.Shared/Tools/Components/ToolComponent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.cs
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/spawners.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Procedural/salvage_factions.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_hostile_carps.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Conditional/mobs_hostile_xeno.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/artifact_construct.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_bloodcultist.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_aberrant_flesh.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_carp.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_dinosaurs.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_explorers.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_space.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_xeno.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_mercenaries.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_punkganger.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_rogue_ai.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_wizardfederation.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/_NF/Procedural/snow_vgroid.yml
  Resources/ServerInfo/_NF/Guidebook/Expeditions.xml
  Resources/ServerInfo/_NF/Guidebook/MobsHostileExpedition/carps.xml
  Resources/ServerInfo/_NF/Guidebook/MobsHostileExpedition/xenos.xml
  Resources/nf_migration.yml
Labels: Docs, No C#, YML, C#, S: Approved, size/L

#3007 Remove CentCom encryption key from SR and Sheriff
  Resources/Prototypes/_NF/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_NF/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/_NF/Roles/Jobs/Frontier/sr.yml
Labels: No C#, YML, size/XS

#3006 SVS-42 (Rework)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_NF/Catalog/Fills/Items/weapon_cases_expedition.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_weapons.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Basic/base_melee.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svs42.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svs42.rsi/bolt-open.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svs42.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svs42.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svs42.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svs42.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svs42.rsi/mag-0.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svs42.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svs42.rsi/wielded-inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svs42.rsi/wielded-inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/base.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/bolt-open.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/icon.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/wielded-inhand-left.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/svt40.rsi/wielded-inhand-right.png
  Resources/nf_migration.yml
Labels: S: Needs Review, No C#, Sprites, YML, S: Untriaged, size/M

#3015 bungo bungo bungo
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/biogen.yml
  Resources/Prototypes/_NF/Recipes/Lathes/biogen.yml
Labels: No C#, YML, S: Untriaged, size/S

#2850 Added an NFSD prisoner fill with headsets
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Maps/_NF/POI/courthouse.yml
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/POI/trademall.yml
  Resources/Maps/_NF/Shuttles/Nfsd/broadhead.yml
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
  Resources/Maps/_NF/Shuttles/Nfsd/hypnos.yml
  Resources/Maps/_NF/Shuttles/Nfsd/interceptor.yml
  Resources/Maps/_NF/Shuttles/Nfsd/prowler.yml
  Resources/Maps/_NF/Shuttles/Nfsd/templar.yml
  Resources/Maps/_NF/Shuttles/Nfsd/wasp.yml
  Resources/Maps/_NF/Shuttles/Sr/watchdog.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/wardrobe.yml
  Resources/Prototypes/_DV/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/wardrobe.yml
  Resources/Textures/_DV/Clothing/Ears/Headsets/prisoner.rsi/equipped-EARS.png
  Resources/Textures/_DV/Clothing/Ears/Headsets/prisoner.rsi/icon.png
  Resources/Textures/_DV/Clothing/Ears/Headsets/prisoner.rsi/meta.json
Labels: S: Needs Review, Map-Shuttle, Map-POI, Map-Dungeon, No C#, Sprites, YML, Map-Outpost, S: Approved, size/M

#2687 ContraVend: work as an uplink, not a vendor
  Resources/Prototypes/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Recipes/Crafting/crates.yml
  Resources/Prototypes/_NF/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/contravend.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_engineering.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_general.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/dungeon_items_medical.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/syndicate.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/TradingCrates/base.yml
  Resources/Prototypes/_NF/Entities/Structures/Specific/TradingCrates/crates.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Crates/crate.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/barrel.yml
  Resources/Prototypes/_NF/Events/nf_events.yml
Labels: S: Needs Review, No C#, YML, size/M

#2978 New Art (Posters, Barsign, Wallpaper)
  Resources/Locale/en-US/_NF/barsign/barsign-component.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/_NF/bar_signs.yml
  Resources/Prototypes/_NF/lobbyscreens.yml
  Resources/Textures/_NF/LobbyScreens/attributions.yml
  Resources/Textures/_NF/LobbyScreens/paramedicrash.webp
  Resources/Textures/_NF/LobbyScreens/paramedicrash.webp.yml
  Resources/Textures/_NF/LobbyScreens/staresblankly.webp
  Resources/Textures/_NF/LobbyScreens/staresblankly.webp.yml
  Resources/Textures/_NF/LobbyScreens/wyvernshipyards.webp
  Resources/Textures/_NF/LobbyScreens/wyvernshipyards.webp.yml
  Resources/Textures/_NF/Structures/Wallmounts/barsign.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/barsign.rsi/wyvernshipyards.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster17_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster18_contraband.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster6_legit.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster7_legit.png
Labels: No C#, Sprites, YML, FTL, S: Approved, size/M

#3013 Deep fry sliced potato
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/produce.yml
  Resources/Textures/_NF/Objects/Specific/Hydroponics/potato.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Hydroponics/potato.rsi/slice.png
Labels: S: Needs Review, No C#, Sprites, YML, S: Untriaged, S: Approved, size/S

#3025 Cyborgs: don't drop on down, spawn placeholders on container events
  Content.Server/Standing/StandingStateSystem.cs
  Content.Shared/_NF/Interaction/Systems/SharedHandPlaceholderSystem.cs
  Content.Shared/_NF/Standing/PreventDropOnDownedComponent.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: S: Needs Review, YML, C#, S: Untriaged

#2967 PDA bounty contracts rework
  Content.Client/_NF/BountyContracts/UI/BountyContractUi.cs
  Content.Client/_NF/BountyContracts/UI/BountyContractUiFragmentCreate.xaml
  Content.Client/_NF/BountyContracts/UI/BountyContractUiFragmentCreate.xaml.cs
  Content.Client/_NF/BountyContracts/UI/BountyContractUiFragmentList.xaml
  Content.Client/_NF/BountyContracts/UI/BountyContractUiFragmentList.xaml.cs
  Content.Client/_NF/BountyContracts/UI/BountyContractUiFragmentListEntry.xaml
  Content.Client/_NF/BountyContracts/UI/BountyContractUiFragmentListEntry.xaml.cs
  Content.Client/_NF/BountyContracts/UI/BountyContractUiFragmentListPlaceholder.xaml
  Content.Client/_NF/BountyContracts/UI/BountyContractUiFragmentListPlaceholder.xaml.cs
  Content.Client/_NF/BountyContracts/UI/BountyContractUiFragmentTabSet.xaml
  Content.Client/_NF/BountyContracts/UI/BountyContractUiFragmentTabSet.xaml.cs
  Content.Server/_NF/Access/NFAccessUtilities.cs
  Content.Server/_NF/BountyContracts/BountyContractDataComponent.cs
  Content.Server/_NF/BountyContracts/BountyContractSystem.Ui.cs
  Content.Server/_NF/BountyContracts/BountyContractSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/_NF/BountyContracts/BountyContractCollectionPrototype.cs
  Content.Shared/_NF/BountyContracts/BountyContractsCartridgeComponent.cs
  Content.Shared/_NF/BountyContracts/SharedBountyContractSystem.cs
  Resources/Locale/en-US/_NF/bounty-contracts/bounty-contracts.ftl
  Resources/Prototypes/_NF/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/_NF/SectorServices/services.yml
  Resources/Prototypes/_NF/bounty_contract_collections.yml
Labels: YML, C#, UI, FTL, S: Approved, size/L

#2981 A new medical bag and medical belt crafting recipes.
  Resources/Prototypes/_NF/Entities/Objects/Specific/Medical/medical_bag.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_NF/Recipes/Lathes/medical.yml
  Resources/Textures/_NF/Objects/Specific/Medical/medical_bag.rsi/equipped-BELT.png
  Resources/Textures/_NF/Objects/Specific/Medical/medical_bag.rsi/icon-on.png
  Resources/Textures/_NF/Objects/Specific/Medical/medical_bag.rsi/icon.png
  Resources/Textures/_NF/Objects/Specific/Medical/medical_bag.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Specific/Medical/medical_bag.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Specific/Medical/medical_bag.rsi/meta.json
Labels: No C#, Sprites, YML, S: Approved, size/M

#3029 Great Job Updated POI Vend parenting
  Resources/Maps/_NF/POI/medical.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/vending_machines.yml
Labels: Map-POI, No C#, YML, S: Untriaged, size/S

#3035 hotfix crates being unwrenchable
  Resources/Prototypes/_NF/Entities/Structures/Specific/TradingCrates/base.yml
Labels: No C#, YML, S: Untriaged, size/XS

#3030 Fix: Novalite suitstorage sprite
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/novalitec1.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Rifles/novalitec1.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, S: Untriaged, size/XS

#3027 Hot fixes The super pry function not being removed from these NPC's o…
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
Labels: S: Needs Review, No C#, YML, S: Approved, size/XS

#3038 borg hand rewrite/prediction stuff
  Content.Server/Silicons/Borgs/BorgSystem.Modules.cs
  Content.Shared/Silicons/Borgs/Components/ItemBorgModuleComponent.cs
  Content.Shared/_NF/Interaction/Components/HandPlaceholderComponent.cs
  Content.Shared/_NF/Interaction/Components/HandPlaceholderRemoveableComponent.cs
  Content.Shared/_NF/Interaction/Systems/HandPlaceholderSystem.cs
  Content.Shared/_NF/Interaction/Systems/SharedHandPlaceholderSystem.cs
  Content.Shared/_NF/Silicons/Borgs/DroppableBorgModuleComponent.cs
  Content.Shared/_NF/Silicons/Borgs/DroppableBorgModuleSystem.cs
  Content.Shared/_NF/Whitelist/Components/NFBookBagComponent.cs
  Content.Shared/_NF/Whitelist/Components/NFFireBombComponent.cs
  Content.Shared/_NF/Whitelist/Components/NFLighterComponent.cs
  Content.Shared/_NF/Whitelist/Components/NFOreBagComponent.cs
  Content.Shared/_NF/Whitelist/Components/NFPlantBagComponent.cs
  Content.Shared/_NF/Whitelist/Components/NFShakerComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Robotics/borg_hand_placeholder.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: S: Needs Review, YML, C#, size/M

#3039 Fix Solars, add IllegalComponent test.
  Content.IntegrationTests/Tests/_NF/IllegalComponentTest.cs
  Content.Server/_NF/Solar/Components/NFSolarPanelComponent.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
Labels: S: Needs Review, YML, C#, size/S

#3031 Fix: Suit storage sprites for DeltaV guns
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/energygun.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/energygun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/energygun.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Rifles/ceremonial_grand.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Rifles/ceremonial_grand.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Rifles/jackdaw.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Rifles/jackdaw.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Rifles/vulcan.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Rifles/vulcan.rsi/meta.json
Labels: No C#, Sprites, S: Untriaged, S: Approved, size/S

#3024 Fix lagnets
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
Labels: S: Needs Review, C#, size/S

#2988 Shipyard Console: revise organics check
  Content.Server/_NF/Shipyard/Systems/ShipyardSystem.Consoles.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: S: Needs Review, YML, C#, size/S

#3022 Trigger on proximity whitelist support
  Content.Server/Explosion/Components/TriggerOnProximityComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Proximity.cs
Labels: S: Needs Review, C#, size/S

#2886 Add suit slot sprites to weapons.
  Resources/Textures/Objects/Weapons/Guns/Revolvers/python.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/python.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/claymore.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/claymore.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/equipped-BACKPACK.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Battery/multiphase_energygun.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Pistols/pollock.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Pistols/pollock.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Revolvers/faith.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Revolvers/faith.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Revolvers/fitz.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Revolvers/fitz.rsi/meta.json
  Resources/Textures/_DV/Objects/Weapons/Guns/Revolvers/lucky.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_DV/Objects/Weapons/Guns/Revolvers/lucky.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Basic/sawn_kinetic_accelerator.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Basic/sawn_kinetic_accelerator.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Projectiles/emp.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Projectiles/emp.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/argenti.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Guns/Revolvers/argenti.rsi/meta.json
  Resources/Textures/_NF/Objects/Weapons/Melee/armingsword.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Weapons/Melee/armingsword.rsi/meta.json
Labels: No C#, Sprites, S: Approved, size/S

#2997 Add a scan function to the gas deposit locator
  Content.Client/_NF/Atmos/BUI/GasDepositExtractorBoundUserInterface.cs
  Content.Client/_NF/Atmos/BUI/GasDepositScannerBoundUserInterface.cs
  Content.Client/_NF/Atmos/BUI/GasPressureBidiPumpBoundUserInterface.cs
  Content.Client/_NF/Atmos/UI/GasDepositScannerWindow.xaml
  Content.Client/_NF/Atmos/UI/GasDepositScannerWindow.xaml.cs
  Content.Client/_NF/Atmos/UI/GasPressureBidiPumpBoundUserInterface.cs
  Content.Server/_NF/Atmos/Components/ActiveGasDepositScannerComponent.cs
  Content.Server/_NF/Atmos/Systems/GasDepositScannerSystem.cs
  Content.Shared/_NF/Atmos/Components/GasDepositScannerComponent.cs
  Content.Shared/_NF/Atmos/Systems/SharedGasDepositSystem.cs
  Resources/Locale/en-US/_NF/atmos/gas-deposit-scanner-component.ftl
  Resources/Locale/en-US/_NF/atmos/gas-deposit.ftl
  Resources/Prototypes/_NF/Entities/Objects/Specific/Atmospherics/deposits.yml
  Resources/Textures/_NF/Objects/Specific/Atmospherics/locator.rsi/data.png
  Resources/Textures/_NF/Objects/Specific/Atmospherics/locator.rsi/meta.json
Labels: S: Needs Review, Sprites, YML, C#, UI, FTL, size/M

#2987 Rogue Silicon Changes
  Resources/Prototypes/_NF/Catalog/Fills/Backpacks/npc_loot_silicons.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_rogue_ai.yml
Labels: No C#, YML, S: Approved, size/M

#2964 A nicer filet of fish
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/sushi.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_NF/Objects/Consumable/Food/meat.rsi/cured-carp-battered.png
  Resources/Textures/_NF/Objects/Consumable/Food/meat.rsi/cured-carp-fried.png
  Resources/Textures/_NF/Objects/Consumable/Food/meat.rsi/cured-carp.png
  Resources/Textures/_NF/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/freshsushi.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/freshsushislice.png
  Resources/Textures/_NF/Objects/Consumable/Food/sushi.rsi/meta.json
Labels: No C#, Sprites, YML, S: Approved, size/M

#2937 Gas mining guidebook entry
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/_NF/Guidebook/engineering.yml
  Resources/ServerInfo/_NF/Guidebook/Engineering/GasMining.xml
Labels: Docs, S: Needs Review, No C#, YML, FTL, S: Approved, size/S

#3043 Use original vessel index as ID in bounty console
  Content.Client/_NF/BountyContracts/UI/BountyContractUiFragmentCreate.xaml.cs
Labels: C#, UI, S: Approved

#3047 Add borg slot to dev map
  Resources/Prototypes/_NF/Maps/debug.yml
Labels: No C#, YML, S: Untriaged, size/XS

#3049 Avoid exceptions in vending machine, borg, and strippable BUI creation
  Content.Client/Silicons/Borgs/BorgMenu.xaml.cs
  Content.Client/VendingMachines/VendingMachineBoundUserInterface.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/IdentityManagement/Identity.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
  Resources/Locale/en-US/_NF/vending-machines/vending-machine-component.ftl
Labels: S: Needs Review, C#, UI, FTL, S: Untriaged, size/S

#3053 FSB voidsuit gloves correction
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/fsb_voidsuit.rsi/equipped-OUTERCLOTHING.png
Labels: No C#, Sprites, S: Untriaged, size/XS

#3051 Fix rebase of mobs
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_carp.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_space.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_xeno.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/spacetick.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/M

#3058 Gas sale point bugfixes
  Content.Client/_NF/Atmos/UI/GasSaleMenu.cs
  Content.Server/_NF/Atmos/Systems/GasDepositSystem.cs
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
Labels: YML, C#, S: Untriaged, size/S

#3033 Add directional arrows to gas recycler.
  Content.Client/_NF/Atmos/Components/NFGasRecyclerVisualsComponent.cs
  Content.Client/_NF/Atmos/Systems/NFGasRecyclerSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
Labels: S: Needs Review, YML, C#, S: Approved, size/S

#3062 Branding Refresh
  Resources/Textures/_NF/Logo/icon.ico
  Resources/Textures/_NF/Logo/icon/icon-128x128.png
  Resources/Textures/_NF/Logo/icon/icon-16x16.png
  Resources/Textures/_NF/Logo/icon/icon-24x24.png
  Resources/Textures/_NF/Logo/icon/icon-256x256.png
  Resources/Textures/_NF/Logo/icon/icon-32x32.png
  Resources/Textures/_NF/Logo/icon/icon-48x48.png
  Resources/Textures/_NF/Logo/icon/icon-64x64.png
  Resources/Textures/_NF/Logo/logo.png
Labels: No C#, S: Untriaged

#3066 Hotfix: Pouches loadout
  Resources/Prototypes/_NF/Loadouts/Jobs/Pirates/trinkets.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/SeniorOfficer/trinkets.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/StationRep/trinkets.yml
Labels: No C#, YML, S: Untriaged, size/S

#3061 Prevent gas extraction from map mixes - see note, temporary until a better solution is proposed.
  Content.Server/Atmos/EntitySystems/AirFilterSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.API.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasPassiveVentSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Content.Server/Atmos/Portable/PortableScrubberSystem.cs
  Content.Shared/_NF/CCVar/NFCCVars.cs
Labels: S: Needs Review, C#, S: Need Discussion, S: Untriaged, S: Approved, size/S

#3068 Fix freelance radio implant
  Resources/Prototypes/_NF/Catalog/pirate_uplink_catalog.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged

#3018 POI (Update): Exped lodge ATM swap to deposit
  Resources/Maps/_NF/POI/lodge.yml
Labels: S: Needs Review, Map-POI, No C#, S: Untriaged, size/S

#3065 Fix NFSD gas mask pulled up sprite
  Resources/Textures/_NF/Clothing/Mask/nfsd.rsi/meta.json
  Resources/Textures/_NF/Clothing/Mask/nfsd.rsi/up-equipped-MASK.png
Labels: S: Needs Review, No C#, Sprites, S: Untriaged, size/XS

#3070 Readme attributions, CONTRIBUTING.md, new pull request template.
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
Labels: Docs, S: Needs Review, No C#, size/M

#3072 Fix the bottom readme table
  README.md
Labels: Docs, S: Needs Review, No C#, S: Untriaged, size/XS

#3074 Update README.md
  README.md
Labels: Docs, No C#, S: Untriaged, size/XS

#3076 Narrow the logo
  README.md
Labels: Docs, No C#, S: Untriaged, size/XS

#3075 Remove CentCom key from SR locker
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/heads.yml
Labels: No C#, YML, S: Untriaged, size/XS

#3073 Add Support for AdminOnly Messages Via ServerAPI
  Content.Server/Administration/ServerApi.cs
Labels: S: Needs Review, C#, S: Untriaged, S: Approved, size/XS

#3081 Lower blueprint material cost
  Resources/Prototypes/_NF/Recipes/Lathes/blueprints.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/XS

#2411 Shuttle (New): NSF Heimdall - small detective shuttle
  Resources/Maps/_NF/Shuttles/Nfsd/heimdall.yml
  Resources/Prototypes/_NF/Shipyard/Nfsd/heimdall.yml
Labels: Map-Shuttle, No C#, YML, size/L

#2625 Shuttle (New): FSB Nightlight
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Shuttles/nightlight.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/_NF/Catalog/Fills/Paper/Shipyard/manuals.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/Guidebook/shuttle_maps.yml
  Resources/Prototypes/_NF/Shipyard/nightlight.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Nightlight.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/nightlight.png
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/_NF/Structures/Wallmounts/posters.rsi/nf_poster20_contraband.png
Labels: Docs, S: Needs Review, Map-Shuttle, No C#, Sprites, YML, FTL, size/XL

#2288 Shuttle (Update): Liquidator Shuttle
  Resources/Maps/_NF/Shuttles/liquidator.yml
  Resources/Prototypes/_NF/Shipyard/liquidator.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Liquidator.xml
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/liquidator.png
Labels: Docs, S: Needs Review, Map-Shuttle, No C#, Sprites, YML, size/L

#3087 Add BecomesStation component to Heimdall
  Resources/Maps/_NF/Shuttles/Nfsd/heimdall.yml
Labels: S: Needs Review, Map-Shuttle, No C#, S: Untriaged, size/XS

#3059 Wallets
  Content.Shared/Inventory/SlotFlags.cs
  Content.Shared/_NF/Whitelist/Components/NFCoinComponent.cs
  Content.Shared/_NF/Whitelist/Components/NFShipyardVoucherComponent.cs
  Resources/Locale/en-US/_NF/preferences/loadout-groups.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Objects/Misc/treasure.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/InventoryTemplates/arachnid_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/corpse_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/diona_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/human_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/monkey_inventory_template.yml
  Resources/Prototypes/Nyanotrasen/InventoryTemplates/anytaur_inventory_template.yml
  Resources/Prototypes/_NF/Entities/Clothing/Wallet/base_wallet.yml
  Resources/Prototypes/_NF/Entities/Clothing/Wallet/leather.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Misc/ship_vouchers.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/wallet.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/MailCarrier/wallet.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Pirates/wallet.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mail_carrier_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pirates_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/_NF/Recipes/Lathes/clothing.yml
  Resources/Textures/Interface/Ashen/Slots/wallet.png
  Resources/Textures/Interface/Clockwork/Slots/wallet.png
  Resources/Textures/Interface/Default/Slots/wallet.png
  Resources/Textures/Interface/Minimalist/Slots/wallet.png
  Resources/Textures/Interface/Plasmafire/Slots/wallet.png
  Resources/Textures/Interface/Retro/Slots/wallet.png
  Resources/Textures/Interface/Slimecore/Slots/wallet.png
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/closed-black.png
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/closed-cash.png
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/closed-coin.png
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/closed-mail.png
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/closed-paper.png
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/closed-pirate.png
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/closed.png
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/meta.json
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/open-black.png
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/open-cash.png
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/open-coin.png
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/open-mail.png
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/open-paper.png
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/open-pirate.png
  Resources/Textures/_NF/Clothing/Wallet/leather.rsi/open.png
Labels: S: Needs Review, Sprites, YML, C#, FTL, S: Untriaged, size/M

#3000 Bounties redeemed by the DoC deposit into the bank.
  Content.Client/_NF/Medical/UI/MedicalBountyRedemptionMenu.xaml.cs
  Content.Server/_NF/Medical/MedicalBountyBankPaymentComponent.cs
  Content.Server/_NF/Medical/MedicalBountySystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/_NF/Medical/MedicalBountyRedemptionUIState.cs
  Resources/Locale/en-US/_NF/cargo/medical-bounty-redemption-console-component.ftl
  Resources/Prototypes/_NF/Roles/Jobs/Medical/doc.yml
Labels: S: Needs Review, YML, C#, UI, FTL, size/S

#3052 Mapped colours in RandomSprite, fix ThreadsChoom inventory sizing.
  Content.Client/Sprite/RandomSpriteSystem.cs
  Content.Server/Sprite/RandomSpriteSystem.cs
  Content.Shared/Sprite/RandomSpriteComponent.cs
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_punk.yml
  Resources/Prototypes/_NF/Entities/Clothing/Eyes/glasses_punks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/_NF/Entities/Clothing/Shoes/boots_punk.yml
  Resources/Textures/_NF/Clothing/Belt/punk.rsi/icon_belt_01.png
  Resources/Textures/_NF/Clothing/Belt/punk.rsi/icon_decor_base_belt_01.png
  Resources/Textures/_NF/Clothing/Belt/punk.rsi/meta.json
  Resources/Textures/_NF/Clothing/Eyes/Glasses/punk_glasses.rsi/icon_decor_base_glasses_01.png
  Resources/Textures/_NF/Clothing/Eyes/Glasses/punk_glasses.rsi/icon_decor_base_glasses_02.png
  Resources/Textures/_NF/Clothing/Eyes/Glasses/punk_glasses.rsi/meta.json
  Resources/Textures/_NF/Clothing/Mask/punkhalfmask.rsi/icon-base-mask.png
  Resources/Textures/_NF/Clothing/Mask/punkhalfmask.rsi/icon-decor-mask.png
  Resources/Textures/_NF/Clothing/Mask/punkhalfmask.rsi/meta.json
  Resources/Textures/_NF/Clothing/Shoes/Boots/punk.rsi/icon_base_boots_01.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/punk.rsi/icon_decor_base_boots_01.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/punk.rsi/icon_decor_base_boots_02.png
  Resources/Textures/_NF/Clothing/Shoes/Boots/punk.rsi/meta.json
Labels: S: Needs Review, Sprites, YML, C#, S: Untriaged, size/M

#3086 Change size for holding bags
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/XS

#3090 Wallet hotfix: set quickEquip to false
  Resources/Prototypes/_NF/Entities/Clothing/Wallet/base_wallet.yml
Labels: No C#, YML, S: Approved, size/XS

#3044 Fewer, bigger puddles, fewer evaporating reagents.
  Content.Shared/Fluids/Components/PuddleComponent.cs
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
  Resources/Prototypes/GameRules/variation.yml
  Resources/Prototypes/_NF/GameRules/variation.yml
Labels: S: Needs Review, YML, C#, S: Untriaged, size/S

#3089 Prevent taking ghost roles from the lobby (DeltaV #3220)
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
Labels: C#, S: Approved, size/XS

#3040 AdvertiseComponent: No advertisements for players.
  Content.Server/Advertise/EntitySystems/AdvertiseSystem.cs
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_base.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_rogue_ai.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_syndicate.yml
Labels: YML, C#, S: Approved

#3092 Remove trailing slashes from all repo URLs in the readme
  README.md
Labels: Docs, No C#, S: Approved, size/S

#3083 MechCargo: storage racks, forklift mech modules, and a forklift-only mech purchasable from cargo
  Content.Client/_NF/Storage/Visualizers/ContainerCountVisualizerSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/_NF/Cargo/Systems/CargoSystem.TradeCrates.cs
  Content.Server/_NF/Mech/Equipment/Components/MechForkComponent.cs
  Content.Server/_NF/Mech/Equipment/EntitySystems.cs/MechForkSystem.cs
  Content.Server/_NF/Storage/EntitySystems/ContainerCountVisualizerSystem.cs
  Content.Shared/Mech/Components/MechComponent.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/_NF/Cargo/Components/CrateStorageRackComponent.cs
  Content.Shared/_NF/Cargo/EntitySystems/CrateStorageRackSystem.cs
  Content.Shared/_NF/Mech/Equipment/Events/ForkInsertDoAfterEvent.cs
  Content.Shared/_NF/Mech/Equipment/Events/ForkRemoveDoAfterEvent.cs
  Content.Shared/_NF/Mech/Equipment/Events/MechEquipmentEquippedAction.cs
  Content.Shared/_NF/Mech/Equipment/Events/MechForkToggleActionEvent.cs
  Content.Shared/_NF/Storage/Components/ContainerCountVisualizerComponent.cs
  Resources/Audio/_NF/Mecha/attributions.yml
  Resources/Audio/_NF/Mecha/mechstep.ogg
  Resources/Locale/en-US/_NF/cargo/crate-storage-rack-component.ftl
  Resources/Locale/en-US/_NF/paper/paper-misc.ftl
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_NF/Actions/mech.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/_NF/Catalog/Cargo/cargo_trade.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/mailvend.yml
  Resources/Prototypes/_NF/Entities/Objects/Misc/cards.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Mech/mecha_equipment.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/crate_storage_rack.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/structures/crate_storage_rack.yml
  Resources/Prototypes/_NF/Recipes/Construction/structures.yml
  Resources/Prototypes/_NF/Recipes/Lathes/mech_parts.yml
  Resources/ServerInfo/_NF/Guidebook/CargoHauling.xml
  Resources/Textures/_NF/Interface/Actions/actions_mecha.rsi/mech_fork_off.png
  Resources/Textures/_NF/Interface/Actions/actions_mecha.rsi/mech_fork_on.png
  Resources/Textures/_NF/Interface/Actions/actions_mecha.rsi/meta.json
  Resources/Textures/_NF/Interface/Paper/attributions.txt
  Resources/Textures/_NF/Interface/Paper/business_card_background_white.svg
  Resources/Textures/_NF/Interface/Paper/business_card_background_white.svg.96dpi.png
  Resources/Textures/_NF/Interface/Paper/business_card_background_white.svg.96dpi.png.yml
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/business_card.png
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/business_card_words.png
  Resources/Textures/_NF/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Mech/mecha.rsi/emu-broken.png
  Resources/Textures/_NF/Objects/Specific/Mech/mecha.rsi/emu-empty.png
  Resources/Textures/_NF/Objects/Specific/Mech/mecha.rsi/emu-open.png
  Resources/Textures/_NF/Objects/Specific/Mech/mecha.rsi/emu.png
  Resources/Textures/_NF/Objects/Specific/Mech/mecha.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Mech/mecha_equipment.rsi/mecha_fork.png
  Resources/Textures/_NF/Objects/Specific/Mech/mecha_equipment.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/crate_storage_rack.rsi/fill-0.png
  Resources/Textures/_NF/Structures/Storage/crate_storage_rack.rsi/fill-1.png
  Resources/Textures/_NF/Structures/Storage/crate_storage_rack.rsi/fill-2.png
  Resources/Textures/_NF/Structures/Storage/crate_storage_rack.rsi/fill-3.png
  Resources/Textures/_NF/Structures/Storage/crate_storage_rack.rsi/fill-4.png
  Resources/Textures/_NF/Structures/Storage/crate_storage_rack.rsi/frame.png
  Resources/Textures/_NF/Structures/Storage/crate_storage_rack.rsi/meta.json
  Resources/Textures/_NF/Structures/Storage/crate_storage_rack.rsi/superstructure.png
  Resources/Textures/_NF/Structures/Storage/crate_storage_rack.rsi/tallframe.png
Labels: Docs, S: Needs Review, Sprites, YML, C#, FTL, S: Untriaged, Audio, size/L

#3096 Fix fuel vend ordering
  Resources/Locale/en-US/_NF/paper/paper-misc.ftl
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/fuelvend.yml
Labels: S: Needs Review, No C#, YML, FTL, size/XS

#3085 Update UI storage limits
  Content.Shared/CCVar/CCVars.Interactions.cs
Labels: S: Needs Review, C#, S: Untriaged, size/XS

#3101 SimpleStation14 To _EE namespace fix
  Resources/Prototypes/_EE/Structures/Furniture/benches.yml
  Resources/Prototypes/_NF/Recipes/Construction/furniture.yml
  Resources/Textures/_EE/Structures/Furniture/Benches/parkbench_bamboo.rsi/left.png
  Resources/Textures/_EE/Structures/Furniture/Benches/parkbench_bamboo.rsi/meta.json
  Resources/Textures/_EE/Structures/Furniture/Benches/parkbench_bamboo.rsi/middle.png
  Resources/Textures/_EE/Structures/Furniture/Benches/parkbench_bamboo.rsi/right.png
  Resources/Textures/_EE/Structures/Furniture/Benches/parkbench_wooden.rsi/left.png
  Resources/Textures/_EE/Structures/Furniture/Benches/parkbench_wooden.rsi/meta.json
  Resources/Textures/_EE/Structures/Furniture/Benches/parkbench_wooden.rsi/middle.png
  Resources/Textures/_EE/Structures/Furniture/Benches/parkbench_wooden.rsi/right.png
  Resources/Textures/_EE/Structures/Furniture/Benches/pews.rsi/arm_left.png
  Resources/Textures/_EE/Structures/Furniture/Benches/pews.rsi/arm_right.png
  Resources/Textures/_EE/Structures/Furniture/Benches/pews.rsi/left.png
  Resources/Textures/_EE/Structures/Furniture/Benches/pews.rsi/meta.json
  Resources/Textures/_EE/Structures/Furniture/Benches/pews.rsi/middle.png
  Resources/Textures/_EE/Structures/Furniture/Benches/pews.rsi/right.png
  Resources/Textures/_EE/Structures/Furniture/Benches/sofa.rsi/arm_left.png
  Resources/Textures/_EE/Structures/Furniture/Benches/sofa.rsi/arm_right.png
  Resources/Textures/_EE/Structures/Furniture/Benches/sofa.rsi/corner.png
  Resources/Textures/_EE/Structures/Furniture/Benches/sofa.rsi/left.png
  Resources/Textures/_EE/Structures/Furniture/Benches/sofa.rsi/meta.json
  Resources/Textures/_EE/Structures/Furniture/Benches/sofa.rsi/middle.png
  Resources/Textures/_EE/Structures/Furniture/Benches/sofa.rsi/right.png
  Resources/Textures/_EE/Structures/Furniture/Benches/sofa_corp.rsi/arm_left.png
  Resources/Textures/_EE/Structures/Furniture/Benches/sofa_corp.rsi/arm_right.png
  Resources/Textures/_EE/Structures/Furniture/Benches/sofa_corp.rsi/corner.png
  Resources/Textures/_EE/Structures/Furniture/Benches/sofa_corp.rsi/left.png
  Resources/Textures/_EE/Structures/Furniture/Benches/sofa_corp.rsi/meta.json
  Resources/Textures/_EE/Structures/Furniture/Benches/sofa_corp.rsi/middle.png
  Resources/Textures/_EE/Structures/Furniture/Benches/sofa_corp.rsi/right.png
  Resources/Textures/_EE/Structures/Furniture/Benches/steel_bench.rsi/left.png
  Resources/Textures/_EE/Structures/Furniture/Benches/steel_bench.rsi/meta.json
  Resources/Textures/_EE/Structures/Furniture/Benches/steel_bench.rsi/middle.png
  Resources/Textures/_EE/Structures/Furniture/Benches/steel_bench.rsi/right.png
  Resources/Textures/_EE/Structures/Furniture/Benches/steel_bench_white.rsi/left.png
  Resources/Textures/_EE/Structures/Furniture/Benches/steel_bench_white.rsi/meta.json
  Resources/Textures/_EE/Structures/Furniture/Benches/steel_bench_white.rsi/middle.png
  Resources/Textures/_EE/Structures/Furniture/Benches/steel_bench_white.rsi/right.png
Labels: S: Needs Review, No C#, Sprites, YML, size/S

#3098 Loadouts fixing
  Resources/Locale/en-US/_NF/preferences/loadout-groups.ftl
  Resources/Prototypes/_CD/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/backpack_items.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/bureaucracy.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/face.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/fun.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/hands_items.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/head.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/implanter.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/outer.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/SeniorOfficer/backpack_items.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/StationRep/backpack_items.yml
  Resources/Prototypes/_NF/Loadouts/bailiff_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/brigmedic_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/cadet_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/deputy_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/doc_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/mercenary_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/nfdetective_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pal_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pilot_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/pirates_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/prisoner_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/role_loadouts.yml
  Resources/Prototypes/_NF/Loadouts/security_guard_groups.yml
  Resources/Prototypes/_NF/Loadouts/senior_officer_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/sheriff_loadout_groups.yml
  Resources/Prototypes/_NF/Loadouts/stationrep_loadout_groups.yml
Labels: S: Needs Review, No C#, YML, FTL, S: Untriaged, size/L

#3102 Update README.md
  README.md
Labels: Docs, S: Needs Review, No C#, S: Untriaged, size/XS

#3069 Salvage wreaks mobs tweaks
  Resources/Prototypes/Procedural/salvage_factions.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/mobs_hostile_carps.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/mob_hostile_expeditions_carp.yml
  Resources/Prototypes/_NF/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Textures/_NF/Mobs/Aliens/Carps/wyvern.rsi/alive-unshaded-caustic.png
  Resources/Textures/_NF/Mobs/Aliens/Carps/wyvern.rsi/alive-unshaded-fire.png
  Resources/Textures/_NF/Mobs/Aliens/Carps/wyvern.rsi/alive-unshaded-ice.png
  Resources/Textures/_NF/Mobs/Aliens/Carps/wyvern.rsi/alive-unshaded.png
  Resources/Textures/_NF/Mobs/Aliens/Carps/wyvern.rsi/alive.png
  Resources/Textures/_NF/Mobs/Aliens/Carps/wyvern.rsi/dead-unshaded.png
  Resources/Textures/_NF/Mobs/Aliens/Carps/wyvern.rsi/dead.png
  Resources/Textures/_NF/Mobs/Aliens/Carps/wyvern.rsi/icon.png
  Resources/Textures/_NF/Mobs/Aliens/Carps/wyvern.rsi/meta.json
  Resources/Textures/_NF/Mobs/Aliens/snake.rsi/mouth.png
  Resources/Textures/_NF/Mobs/Aliens/spacetick.rsi/alive.png
  Resources/Textures/_NF/Mobs/Aliens/spacetick.rsi/dead.png
  Resources/Textures/_NF/Mobs/Aliens/spacetick.rsi/glow.png
  Resources/Textures/_NF/Mobs/Aliens/spacetick.rsi/icon.png
  Resources/Textures/_NF/Mobs/Aliens/spacetick.rsi/mask_null.png
  Resources/Textures/_NF/Mobs/Aliens/spacetick.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, YML, S: Untriaged, size/M

#2721 Portable pump
  Content.Server/_NF/Fluids/EntitySystems/AdvDrainSystem.cs
  Content.Shared/Fluids/SharedDrainSystem.cs
  Content.Shared/_NF/Fluids/Components/AdvDrainComponent.cs
  Resources/Locale/en-US/_NF/fluids/adv-drain-component.ftl
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/portable_pump.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_NF/Recipes/Lathes/electronics.yml
  Resources/Textures/_NF/Structures/Machines/portable_pump.rsi/base.png
  Resources/Textures/_NF/Structures/Machines/portable_pump.rsi/meta.json
  Resources/Textures/_NF/Structures/Machines/portable_pump.rsi/powered.png
  Resources/Textures/_NF/Structures/Machines/portable_pump.rsi/pumping.png
  Resources/Textures/_NF/Structures/Machines/portable_pump.rsi/voiding.png
Labels: S: Needs Review, Sprites, YML, C#, FTL, S: Untriaged, size/M

#2910 Asteroid dead zone and sparse zone around Frontier
  Content.Server/Worldgen/Prototypes/BiomePrototype.cs
  Content.Server/Worldgen/Systems/Biomes/BiomeSelectionSystem.cs
  Content.Server/Worldgen/Systems/Carvers/NoiseRangeCarverSystem.cs
  Content.Server/_NF/Worldgen/Components/Carvers/PointSetDistanceCarverComponent.cs
  Content.Server/_NF/Worldgen/Components/Carvers/WorldGenDistanceCarverComponent.cs
  Content.Server/_NF/Worldgen/Systems/Carvers/DistanceProbabilityFilterSystem.cs
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/World/noise_channels.yml
  Resources/Prototypes/_NF/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/_NF/Entities/World/Debris/wrecks.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
  Resources/Prototypes/_NF/PointsOfInterest/trademall.yml
  Resources/Prototypes/_NF/World/Biomes/basic.yml
  Resources/Prototypes/_NF/World/worldgen_default.yml
Labels: S: Needs Review, YML, C#, Map-Outpost, S: Approved, size/M

#3095 FSB Banner
  Resources/Prototypes/_NF/Entities/Structures/Decoration/banners.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/furniture/banners.yml
  Resources/Prototypes/_NF/Recipes/Construction/furniture.yml
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/banner-fsb.png
  Resources/Textures/_NF/Structures/Decoration/banner.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, YML, S: Untriaged, size/S

#3111 Revert "Asteroid dead zone and sparse zone around Frontier"
  Content.Server/Worldgen/Prototypes/BiomePrototype.cs
  Content.Server/Worldgen/Systems/Biomes/BiomeSelectionSystem.cs
  Content.Server/Worldgen/Systems/Carvers/NoiseRangeCarverSystem.cs
  Content.Server/_NF/Worldgen/Components/Carvers/PointSetDistanceCarverComponent.cs
  Content.Server/_NF/Worldgen/Components/Carvers/WorldGenDistanceCarverComponent.cs
  Content.Server/_NF/Worldgen/Systems/Carvers/DistanceProbabilityFilterSystem.cs
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/World/noise_channels.yml
  Resources/Prototypes/_NF/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/_NF/Entities/World/Debris/wrecks.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
  Resources/Prototypes/_NF/PointsOfInterest/trademall.yml
  Resources/Prototypes/_NF/World/Biomes/basic.yml
  Resources/Prototypes/_NF/World/worldgen_default.yml
Labels: YML, C#, Map-Outpost, S: Untriaged, size/M

#3114 2025 03 15 bind to grid suggestions
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Construction/ConstructionSystem.Computer.cs
  Content.Server/Construction/ConstructionSystem.Machine.cs
  Content.Server/Power/EntitySystems/ExtensionCableSystem.cs
  Content.Server/_NF/BindToGrid/BindToGridSystem.cs
  Content.Server/_NF/BindToStation/BindToStationSystem.cs
  Content.Server/_NF/GameTicking/Rules/VariationPass/Components/BindToStationVariationPassComponent.cs
  Content.Server/_NF/GameTicking/Rules/VariationPass/Systems/BindToGridVariationPassSystem.cs
  Content.Server/_NF/GameTicking/Rules/VariationPass/Systems/BindToStationVariationPass.cs
  Content.Shared/_NF/BindToGrid/BindToGridComponent.cs
  Content.Shared/_NF/BindToStation/BindToStationComponent.cs
  Content.Shared/_NF/BindToStation/BindToStationExemptionComponent.cs
  Content.Shared/_NF/BindToStation/BindToStationVariationPassExemptionComponent.cs
  Resources/Locale/en-US/_NF/botany/components/plant-holder-component.ftl
  Resources/Locale/en-US/_NF/construction/components/flatpack.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/portable.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Stations/base.yml
  Resources/Prototypes/_NF/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/_NF/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/_NF/GameRules/roundstart.yml
  Resources/Prototypes/_NF/GameRules/variation.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/grifty.yml
  Resources/Prototypes/_NF/PointsOfInterest/mchobo.yml
Labels: YML, C#, FTL, S: Untriaged, size/M

#3116 Disable atmospheric devices on expedition maps.
  Content.Server/Atmos/EntitySystems/AirFilterSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.API.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Utils.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasPassiveVentSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Content.Server/Atmos/Portable/PortableScrubberSystem.cs
Labels: C#, S: Untriaged, size/S

#3108 Price fix for 2 ships to pass test fail
  Resources/Prototypes/_NF/Shipyard/garden.yml
  Resources/Prototypes/_NF/Shipyard/nightlight.yml
Labels: Map-Shuttle, No C#, YML, S: Approved, size/XS

#3099 Bind To Grid System
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Construction/ConstructionSystem.Computer.cs
  Content.Server/Construction/ConstructionSystem.Machine.cs
  Content.Server/Power/EntitySystems/ExtensionCableSystem.cs
  Content.Server/_NF/BindToStation/BindToStationSystem.cs
  Content.Server/_NF/GameTicking/Rules/VariationPass/Components/BindToStationVariationPassComponent.cs
  Content.Server/_NF/GameTicking/Rules/VariationPass/Systems/BindToStationVariationPass.cs
  Content.Shared/Emag/Systems/EmagSystem.cs
  Content.Shared/_NF/BindToStation/BindToStationComponent.cs
  Content.Shared/_NF/BindToStation/BindToStationExemptionComponent.cs
  Content.Shared/_NF/BindToStation/BindToStationVariationPassExemptionComponent.cs
  Resources/Locale/en-US/_NF/botany/components/plant-holder-component.ftl
  Resources/Locale/en-US/_NF/construction/components/flatpack.ftl
  Resources/Locale/en-US/_NF/shipyard/shuttle-deed-system.ftl
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/portable.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/production.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/emag.yml
  Resources/Prototypes/_NF/Entities/Stations/base.yml
  Resources/Prototypes/_NF/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/_NF/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/_NF/GameRules/roundstart.yml
  Resources/Prototypes/_NF/GameRules/variation.yml
  Resources/Prototypes/_NF/PointsOfInterest/cove.yml
  Resources/Prototypes/_NF/PointsOfInterest/grifty.yml
  Resources/Prototypes/_NF/PointsOfInterest/lpbravo.yml
  Resources/Prototypes/_NF/PointsOfInterest/mchobo.yml
  Resources/Textures/_NF/Objects/Tools/pmag.rsi/icon.png
  Resources/Textures/_NF/Objects/Tools/pmag.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Tools/pmag.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Tools/pmag.rsi/meta.json
Labels: S: Needs Review, Sprites, YML, C#, FTL, S: Untriaged, size/M

#3121 fix borg hand exploit 2
  Content.Shared/_NF/Interaction/Systems/HandPlaceholderSystem.cs
Labels: C#, S: Approved, size/XS

#3122 Add grapplinghook to salvage vendor
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/salvage.yml
Labels: S: Awaiting Changes, No C#, YML, S: Untriaged, size/XS

#3104 Convert hydroponics for machine bound grids
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/lava_brig.yml
  Resources/Maps/_NF/Dungeon/lava_mercenary.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/snowy_labs.yml
  Resources/Maps/_NF/Dungeon/virology_lab.yml
  Resources/Maps/_NF/Dungeon/wreck.yml
  Resources/Maps/_NF/Shuttles/Scrap/scrap-crescent.yml
Labels: S: Needs Review, Map-Shuttle, Map-Dungeon, No C#, S: Untriaged, size/S

#3105 Remove HydroponicsTrayAnchored
  Resources/Maps/_NF/Shuttles/nightlight.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
  Resources/Prototypes/_NF/Entities/Structures/hydro_tray.yml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Akupara.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Bocadillo.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Garden.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/McDelivery.xml
  Resources/ServerInfo/_NF/Guidebook/Shipyard/Skipper.xml
  Resources/Textures/_NF/Structures/Hydroponics/containers.rsi/hydrotrayanchored.png
  Resources/Textures/_NF/Structures/Hydroponics/containers.rsi/meta.json
  Resources/nf_migration.yml
Labels: Docs, S: Needs Review, Map-Shuttle, No C#, Sprites, YML, size/S

#3127 Move the atmospheric exped ships to the standard shipyard console, revalue to 20% margins.
  Resources/Maps/_NF/Shuttles/ambition.yml
  Resources/Maps/_NF/Shuttles/gasbender.yml
  Resources/Prototypes/_NF/Shipyard/ambition.yml
  Resources/Prototypes/_NF/Shipyard/gasbender.yml
Labels: Map-Shuttle, No C#, YML, S: Untriaged

#3123 Departmental EVA Suits | Ancestor Compatibility
  Content.Client/Clothing/ClientClothingSystem.cs
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-base-monkey.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-decals-01-monkey.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-decals-02-monkey.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-light-monkey.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-reinforced-points-monkey.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/equipped-head-visor-monkey.png
  Resources/Textures/_NF/Clothing/Head/Helmets/eva_color.rsi/meta.json
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-base-monkey.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-breathing-gear-monkey.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-decals-01-monkey.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-decals-02-boxer-monkey.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-reinforced-points-monkey.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/equipped-unshaded-monkey.png
  Resources/Textures/_NF/Clothing/OuterClothing/Suits/eva_color.rsi/meta.json
Labels: S: Needs Review, No C#, Sprites, YML, C#, size/M

#3125 Fix industrial reagent grinder material duplication
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Content.Shared/Materials/MaterialReclaimerComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
Labels: YML, C#, S: Untriaged, size/S

#3143 Fix: Shrapnel bolts now fit into bolt quivers
  Resources/Prototypes/_NF/Entities/Clothing/Belt/belts_crossbow_quiver.yml
Labels: No C#, YML, S: Untriaged, size/XS

#3141 Fix Comet fax machine.
  Resources/Maps/_NF/Shuttles/comet.yml
Labels: S: Needs Review, Map-Shuttle, No C#, size/XS

#3132 Add balaclavas
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/bountyvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/punkbountyvend.yml
  Resources/Prototypes/_NF/Catalog/VendingMachines/Inventories/punkclothesvend.yml
  Resources/Prototypes/_NF/Entities/Clothing/Head/balaclavas.yml
  Resources/Prototypes/_NF/Entities/Clothing/Masks/balaclavas.yml
  Resources/Prototypes/_NF/Entities/Mobs/Species/goblin.yml
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/equipped-HELMET-felinid.png
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/equipped-HELMET-moth.png
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/equipped-HELMET-vox.png
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/equipped-HELMET-vulpkanin.png
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/equipped-HELMET.png
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/equipped-MASK-felinid.png
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/equipped-MASK-goblin.png
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/equipped-MASK-moth.png
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/equipped-MASK-reptilian.png
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/equipped-MASK-vox.png
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/equipped-MASK-vulpkanin.png
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/equipped-MASK.png
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/icon.png
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/icon_mask.png
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/inhand-left.png
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/inhand-right.png
  Resources/Textures/_NF/Clothing/Mask/balaclava.rsi/meta.json
Labels: No C#, Sprites, YML, S: Untriaged, size/M

#3153 hide dual-port vent from spawn menu
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
Labels: No C#, YML, S: Untriaged, size/XS

#3150 Small anchor prototype fix
  Resources/Prototypes/Entities/Structures/Shuttles/station_anchor.yml
  Resources/Prototypes/_NF/Entities/Structures/Shuttles/station_anchor.yml
Labels: No C#, YML

#3138 Fix intercom frequency lookup
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
Labels: S: Needs Review, C#, S: Untriaged, S: Approved, size/XS

#3137 Small Fix to Dep. EVA | Ancestor compatibility
  Resources/Prototypes/InventoryTemplates/monkey_inventory_template.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/_NF/Entities/Clothing/OuterClothing/softsuits_departmental.yml
Labels: No C#, YML, S: Approved, size/L

#3094 Pear updates and sensibilities
  Resources/Locale/en-US/_NF/reagents/meta/consumable/drink/juice.ftl
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_NF/Reagents/Consumables/Drink/juice.yml
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/bread.rsi/pearmuffin.png
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/pie.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/pie.rsi/pearandcheese-slice.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/pear.rsi/harvest.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/pear.rsi/produce.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/pear.rsi/seed.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/pear.rsi/stage-4.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/pear.rsi/stage-5.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/pear.rsi/stage-6.png
Labels: No C#, Sprites, YML, FTL, S: Approved, size/S

#3139 Make chickens and ducks eat on their own.
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
Labels: No C#, YML, S: Untriaged

#3115 Fix delayed items in mail.
  Content.Server/_DV/Mail/Components/DelayedItemComponent.cs
  Content.Server/_DV/Mail/EntitySystems/DelayedItemSystem.cs
  Resources/Prototypes/_NF/Mail/Items/misc.yml
  Resources/Prototypes/_NF/Mail/mail.yml
Labels: YML, C#, S: Untriaged, size/M

#3117 Linkable station anchors!
  Content.Server/Power/EntitySystems/PowerChargeSystem.cs
  Content.Server/Shuttles/Components/StationAnchorComponent.cs
  Content.Server/Shuttles/Systems/StationAnchorSystem.cs
  Resources/Prototypes/Entities/Structures/Shuttles/station_anchor.yml
Labels: S: Needs Review, YML, C#, S: Untriaged, size/S

#3155 made lathes respect final discount when calculating whether something can be produced
  Content.Shared/Lathe/SharedLatheSystem.cs
Labels: S: Needs Review, C#, S: Untriaged, size/XS

#3154 Diagonal r-plasma window sprite fix
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
Labels: S: Needs Review, No C#, YML

#3112 Asteroid dead zone and sparse zone around Frontier
  Content.Server/Worldgen/Prototypes/BiomePrototype.cs
  Content.Server/Worldgen/Systems/Biomes/BiomeSelectionSystem.cs
  Content.Server/Worldgen/Systems/Carvers/NoiseRangeCarverSystem.cs
  Content.Server/_NF/Worldgen/Components/Carvers/PointSetDistanceCarverComponent.cs
  Content.Server/_NF/Worldgen/Components/Carvers/WorldGenDistanceCarverComponent.cs
  Content.Server/_NF/Worldgen/Systems/Carvers/DistanceProbabilityFilterSystem.cs
  Resources/Locale/en-US/_NF/guidebook/guides.ftl
  Resources/Maps/_NF/Outpost/frontier.yml
  Resources/Prototypes/World/noise_channels.yml
  Resources/Prototypes/_NF/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/_NF/Entities/World/Debris/wrecks.yml
  Resources/Prototypes/_NF/Guidebook/expeditions.yml
  Resources/Prototypes/_NF/Guidebook/nf14.yml
  Resources/Prototypes/_NF/Guidebook/sector_topology.yml
  Resources/Prototypes/_NF/Guidebook/shipyard.yml
  Resources/Prototypes/_NF/PointsOfInterest/depots.yml
  Resources/Prototypes/_NF/PointsOfInterest/trade.yml
  Resources/Prototypes/_NF/PointsOfInterest/trademall.yml
  Resources/Prototypes/_NF/World/Biomes/basic.yml
  Resources/Prototypes/_NF/World/worldgen_default.yml
  Resources/ServerInfo/_NF/Guidebook/SectorTopology.xml
  Resources/Textures/_NF/Guidebook/large_icons/128x96.rsi/meta.json
  Resources/Textures/_NF/Guidebook/large_icons/128x96.rsi/sector_map.png
  Resources/Textures/_NF/Guidebook/shuttle_maps/128x96.rsi/meta.json
Labels: Docs, S: Needs Review, Sprites, YML, C#, FTL, Map-Outpost, S: Untriaged, size/M

#3140 Pirate repair kit
  Content.Shared/_NF/Whitelist/Components/NFPirateToolboxComponent.cs
  Resources/Locale/en-US/_NF/store/uplink-catalog.ftl
  Resources/Prototypes/_NF/Catalog/pirate_uplink_catalog.yml
  Resources/Prototypes/_NF/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/machines/pirate_consoles.yml
  Resources/Textures/_NF/Objects/Tools/Toolboxes/toolbox_pirate.rsi/icon-open.png
  Resources/Textures/_NF/Objects/Tools/Toolboxes/toolbox_pirate.rsi/icon.png
  Resources/Textures/_NF/Objects/Tools/Toolboxes/toolbox_pirate.rsi/inhand-left.png
  Resources/Textures/_NF/Objects/Tools/Toolboxes/toolbox_pirate.rsi/inhand-right.png
  Resources/Textures/_NF/Objects/Tools/Toolboxes/toolbox_pirate.rsi/meta.json
Labels: No C#, Sprites, YML, C#, FTL, S: Approved, size/M

#3160 Revert "Stop NPC's from trying to plan when they wont be able to plan anyways in space"
  Content.Server/NPC/HTN/HTNSystem.cs
Labels: S: Needs Review, C#, S: Untriaged, size/S

#3162 Add ContrabandClothing parent to freelance headset
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/XS

#3091 Servers TOML (Sample)
  Resources/ConfigPresets/_NF/frontier.toml
  Resources/ConfigPresets/_NF/hypatia.toml
  Resources/ConfigPresets/_NF/maunder.toml
Labels: S: Needs Review, No C#, S: Untriaged, size/M

#3008 Add new concealed mines
  Resources/Maps/_NF/Dungeon/cave_factory.yml
  Resources/Maps/_NF/Dungeon/experiment.yml
  Resources/Maps/_NF/Dungeon/salvage_outpost.yml
  Resources/Maps/_NF/Dungeon/vgroidinterior.yml
  Resources/Prototypes/_NF/Entities/Markers/Spawners/Random/random_ied.yml
  Resources/Prototypes/_NF/Entities/Objects/Weapons/Bombs/mines.yml
  Resources/Textures/_NF/Objects/Weapons/Bombs/ied_overlay.rsi/ied_display.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/ied_overlay.rsi/ied_light.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/ied_overlay.rsi/ied_wiring1.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/ied_overlay.rsi/ied_wiring2.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/ied_overlay.rsi/ied_wiring3.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/ied_overlay.rsi/ied_wiring4.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/ied_overlay.rsi/ied_wiring5.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/ied_overlay.rsi/ied_wiring6.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/ied_overlay.rsi/mask_null.png
  Resources/Textures/_NF/Objects/Weapons/Bombs/ied_overlay.rsi/meta.json
Labels: Map-Dungeon, No C#, Sprites, YML, S: Untriaged, S: Approved, size/M

#3158 Brigmedic Access Fix (Weekly?)
  Content.Client/Access/UI/AccessOverriderBoundUserInterface.cs
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Resources/Locale/en-US/_NF/prototypes/access/accesses.ftl
  Resources/Maps/_NF/POI/nfsd.yml
  Resources/Maps/_NF/Shuttles/Nfsd/empress.yml
  Resources/Maps/_NF/Shuttles/Nfsd/wasp.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Access/security.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/_NF/Access/mercenary.yml
  Resources/Prototypes/_NF/Access/security.yml
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/Electronics/door_access.yml
  Resources/Prototypes/_NF/Entities/Objects/Devices/door_remote.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/_NF/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/_NF/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/bailiff.yml
  Resources/Prototypes/_NF/Roles/Jobs/Nfsd/brigmedic.yml
Labels: S: Needs Review, Map-Shuttle, Map-POI, YML, C#, FTL, Focus: Mapping, S: Approved, size/M

#3165 Trashbag magnet defaulted to off
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/trashbag.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/XS

#2623 Add tape recorder (DeltaV #2498)
  Content.Client/_DV/TapeRecorder/TapeRecorderSystem.cs
  Content.Client/_DV/TapeRecorder/UI/TapeRecorderBoundUserInterface.cs
  Content.Client/_DV/TapeRecorder/UI/TapeRecorderWindow.xaml
  Content.Client/_DV/TapeRecorder/UI/TapeRecorderWindow.xaml.cs
  Content.Server/_DV/TapeRecorder/TapeRecorderSystem.cs
  Content.Shared/_DV/TapeRecorder/Components/ActiveTapeRecorderComponent.cs
  Content.Shared/_DV/TapeRecorder/Components/FitsInTapeRecorderComponent.cs
  Content.Shared/_DV/TapeRecorder/Components/TapeCasetteComponent.cs
  Content.Shared/_DV/TapeRecorder/Components/TapeRecorderComponent.cs
  Content.Shared/_DV/TapeRecorder/Systems/SharedTapeRecorderSystem.cs
  Content.Shared/_DV/TapeRecorder/TapeCasetteRecordedMessage.cs
  Content.Shared/_DV/TapeRecorder/TapeRecorderUI.cs
  Resources/Audio/_DV/Items/TapeRecorder/attributions.yml
  Resources/Audio/_DV/Items/TapeRecorder/play.ogg
  Resources/Audio/_DV/Items/TapeRecorder/rewind.ogg
  Resources/Audio/_DV/Items/TapeRecorder/stop.ogg
  Resources/Locale/en-US/_DV/taperecorder/taperecorder.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/_DV/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/_DV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_DV/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/_DV/Recipes/Lathes/misc.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_NF/Loadouts/Jobs/Contractor/backpack_items.yml
  Resources/Prototypes/_NF/Loadouts/contractor_loadout_groups.yml
  Resources/Textures/_DV/Objects/Devices/cassette_tapes.rsi/meta.json
  Resources/Textures/_DV/Objects/Devices/cassette_tapes.rsi/tape_greyscale.png
  Resources/Textures/_DV/Objects/Devices/cassette_tapes.rsi/tape_ribbonoverlay.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/empty.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/idle.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/inhand-left.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/inhand-right.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/meta.json
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/playing.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/recording.png
  Resources/Textures/_DV/Objects/Devices/tape_recorder.rsi/rewinding.png
  Resources/Textures/_DV/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/_DV/Objects/Storage/boxes.rsi/recorder.png
Labels: Docs, Sprites, YML, C#, UI, FTL, Shaders, Audio, size/L

#3077 Onion rings recipe change
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/_NF/Objects/Specific/Hydroponics/onion.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Hydroponics/onion.rsi/onionrings-battered.png
Labels: S: Needs Review, No C#, Sprites, YML, S: Approved, size/S

#3042 Add everyspice: a new reagent, crop and source for black pepper; also a cinnamon roll.
  Resources/Locale/en-US/_NF/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_NF/reagents/meta/consumable/food/food.ftl
  Resources/Locale/en-US/_NF/seeds/seeds.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/_NF/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_NF/Flavors/flavors.yml
  Resources/Prototypes/_NF/Hydroponics/seeds.yml
  Resources/Prototypes/_NF/Reagents/Consumables/Food/ingredients.yml
  Resources/Prototypes/_NF/Recipes/Construction/Graphs/food/everyspice.yml
  Resources/Prototypes/_NF/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/_NF/Recipes/Lathes/Packs/biogen.yml
  Resources/Prototypes/_NF/Recipes/Lathes/biogen.yml
  Resources/Prototypes/_NF/Recipes/Reactions/drinks.yml
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/bread.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/misc.rsi/apple_strudel_1.png
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/misc.rsi/apple_strudel_2.png
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/misc.rsi/apple_strudel_3.png
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/misc.rsi/cinnamonroll.png
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/misc.rsi/meta.json
  Resources/Textures/_NF/Objects/Consumable/Food/Baked/misc.rsi/pearmuffin.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/everyspice.rsi/dead.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/everyspice.rsi/harvest.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/everyspice.rsi/meta.json
  Resources/Textures/_NF/Objects/Specific/Hydroponics/everyspice.rsi/produce-roasted.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/everyspice.rsi/produce.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/everyspice.rsi/seed.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/everyspice.rsi/stage-1.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/everyspice.rsi/stage-2.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/everyspice.rsi/stage-3.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/everyspice.rsi/stage-4.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/everyspice.rsi/stage-5.png
  Resources/Textures/_NF/Objects/Specific/Hydroponics/everyspice.rsi/stage-6.png
Labels: No C#, Sprites, YML, FTL, S: Untriaged, size/M

#3166 Remove Chitinids from roundstart
  Resources/Changelog/Frontier.yml
  Resources/Prototypes/Species/species_weights.yml
  Resources/Prototypes/_DV/Species/chitinid.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/XS

#3174 No more hidden radio messages
  Resources/Prototypes/_NF/Entities/Structures/Machines/Computers/computers_shipyard.yml
Labels: No C#, YML, size/XS

#3172 Fix toilet layering, add a new anti-septic fluid
  Content.Shared/Fluids/SharedPuddleSystem.Evaporation.cs
  Content.Shared/Plunger/Systems/PlungerSystem.cs
  Content.Shared/Toilet/Components/ToiletComponent.cs
  Content.Shared/Toilet/Systems/SharedToiletSystem.cs
  Resources/Locale/en-US/_NF/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/_NF/reagents/meta/toxins.ftl
  Resources/Prototypes/Entities/Structures/Furniture/toilet.yml
  Resources/Prototypes/_NF/Flavors/flavors.yml
  Resources/Prototypes/_NF/Reagents/toxins.yml
Labels: S: Needs Review, YML, C#, FTL, size/S

#3131 Cargo market bugfix and minor cleanup
  Content.Server/_NF/Market/Extensions/MarketDataExtensions.cs
  Content.Server/_NF/Market/Systems/MarketSystem.CrateMachine.cs
  Content.Server/_NF/Market/Systems/MarketSystem.MarketConsole.cs
Labels: C#, S: Untriaged, size/M

#3169 Add species hide layers for goblins, oni, vulpkanin and felinids
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/felinid.yml
  Resources/Prototypes/Nyanotrasen/Entities/Mobs/Species/oni.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/rodentia.yml
  Resources/Prototypes/_DV/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/_NF/Entities/Mobs/Species/goblin.yml
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/equipped-head-unshaded-vulpkanin.png
  Resources/Textures/Clothing/Head/Hardsuits/atmospherics.rsi/meta.json
Labels: No C#, Sprites, YML, S: Untriaged, size/S

#3180 fix missing ftl entry reagent-label-mead
  Resources/Locale/en-US/_NF/reagents/labels.ftl
Labels: No C#, FTL, S: Untriaged, size/XS

#3182 Reduce strength of antiseptic effects
  Resources/Prototypes/_NF/Reagents/toxins.yml
Labels: No C#, YML, S: Approved, size/S

#3179 Remove fixture from wallmount cell charger
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/monitors_televisions.yml
  Resources/Prototypes/_NF/Entities/Structures/Wallmounts/notice_board.yml
Labels: No C#, YML, S: Untriaged, size/S

#3181 Destructible crate racks
  Resources/Prototypes/_NF/Entities/Structures/Machines/crate_storage_rack.yml
Labels: No C#, YML, S: Approved, size/S

#3183 Fix the "diona on fire" test failures
  Content.Client/Atmos/EntitySystems/FireVisualizerSystem.cs
Labels: S: Needs Review, C#, size/XS

#3185 Fix power fork whitelist, better crate storage rack description.
  Content.Server/_NF/Mech/Equipment/EntitySystems.cs/MechForkSystem.cs
  Content.Shared/_NF/Cargo/Components/CrateStorageRackComponent.cs
  Content.Shared/_NF/Whitelist/Components/NFCrateComponent.cs
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/_NF/Entities/Objects/Specific/Mech/mecha_equipment.yml
  Resources/Prototypes/_NF/Entities/Structures/Machines/crate_storage_rack.yml
  Resources/Prototypes/_NF/Recipes/Construction/structures.yml
Labels: S: Needs Review, YML, C#, S: Untriaged, size/S

#3186 Update mercenary job description
  Resources/Locale/en-US/_NF/job/job-description.ftl
Labels: S: Needs Review, No C#, FTL, size/XS

#3188 GunSystem: Reparent bullets to grid/map
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
Labels: C#, S: Untriaged

#3192 Double Banana Fuel
  Resources/Prototypes/_NF/Catalog/Fills/Lockers/locker_wallmount.yml
  Resources/Prototypes/_NF/Catalog/Fills/StorageFillTemplates/materials.yml
Labels: S: Needs Review, No C#, YML, S: Untriaged, size/S

#3193 Switched Position of AdminOnly/Silent and Discord Tag
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: C#, size/XS

#3201 Missing material names.
  Resources/Locale/en-US/_NF/materials/materials.ftl
Labels: No C#, FTL, S: Untriaged, size/XS
